$main_color: #373a3d
$main_white: #fff
$main_green: #008238

$main_bg: #383b3e	
$main_bg_light: #ececec
$main_bg_light_hover: #b3b3b3
$main_pink: #ffcccc
body
	font-family: 'Roboto', sans-serif
	font-weight: normal
	font-size: 16px
	background: #fff
	color: $main_color
	margin: 0
	padding: 0
	position: relative
	line-height: 1.6
	box-sizing: border-box
	a
		text-decoration: none
		color: $main_color
		&:hover
			text-decoration: none
			color: $main_color

.hidden
	display: none


/* --- Navbar START ------------------------------------------------*/
.navbar
	transition: 0.5s
	background: rgba(255,255,255, 0.6)
	.navbar-brand
		padding: 0
	img
		width: 300px
		margin: 0
		padding: 0
	.anim
		text-transform: uppercase
		position: relative
		overflow: hidden
		span
			color: #000
			transition: 0.5s
			transform-origin: left
		&:before
			transition: 0.5s
			position: absolute
			content: ''
			top: 0
			left: 0
			width: 100%
			height: 100%
			border-bottom: 2px solid $main_color
			transform-origin: right
			transform: scaleX(0)
		&:hover
			span
				color: $main_green
			&:before
				transform: scaleX(1)
	p
		color: $main_bg
		margin: 0
		padding-right: 10px
		display: inline-block
	.navbar-toggler-icon
		background: url('../img/burger-light.png')
		background-size: 100% 100%
		background-repeat: no-repeat
		width: 2em
		height: 2em
		&:focus
			outline: none
	.navbar-toggler
		transition: 0.3s
		&:focus
			transition: 0.3s
			outline: none
			border: 1px solid #fff
.active
	position: relative
	overflow: hidden
	span
		color: $main_green !important
	&:before
		transition: 0.5s
		position: absolute
		content: ''
		top: 0
		left: 0
		width: 100%
		height: 100%
		border-bottom: 2px solid $main_color
		transform-origin: right
		transform: scaleX(0)
		animation: animate 7s linear infinite
@keyframes animate 
	0%
		transform-origin: right
		transform: scaleX(0)
	50%
		transform-origin: right
		transform: scaleX(1)
	51%
		transform-origin: right
		transform: scaleX(1)
	100%
		transform-origin: right
		transform: scaleX(0)
.fixed-nav
	background: rgba(255,255,255, 0.9)
	color: $main_bg	
	padding: .4rem .4rem
	transition: 0.5s
	box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.5)
	.navbar-toggler-icon
		background: url('../img/burger-black.png')
		background-size: 100% 100%
		background-repeat: no-repeat
		width: 2em
		height: 2em
		&:focus
			outline: none
	.navbar-toggler
		transition: 0.3s
		&:focus
			transition: 0.3s
			outline: none
			border: 1px solid $main_color
.navbar-nav
	text-align: center
	
/* --- Navbar END ------------------------------------------------*/


/* --- head START ------------------------------------------------*/
.head
	overflow: hidden
	min-height: 100vh
	width: 100%
	padding: 30px 30px
	position: relative
	background: url('../img/headbg.jpg')
	background-size: cover
	background-position: center center
	background-repeat: no-repeat
	.container-fluid
		margin-top: 40px
		img
			border: 2px solid $main_green
			box-shadow: 5px 5px 0px 0px rgba(0,130,56,0.7)
	&_overlay
		position: absolute
		top: 0
		left: 0
		width: 100%
		min-height: 100%
		background: rgba(0,130,56,0.7)
	&_text-wrap
		background: rgba(0,130,56,0.7)
		border: 2px solid $main_green
		padding: 20px 10px
		color: #fff
		h4
			color: #fff
			text-align: center
		h1
			text-transform: uppercase
			text-align: center
			padding: 0
			margin: 0
			margin-bottom: 10px
		h2
			text-transform: uppercase
			text-align: center
			padding: 0
			margin: 0
			margin-bottom: 10px
		hr
			background-color: #fff
			background: #fff
			width: 80%
			border: 1px solid #fff
		ul
			list-style: none
			padding: 0
			margin: 0
			li
				font-size: 22px
				text-align: center
				transition: 0.5s
				&:hover
					transition: 0.5s
					background: rgba(255,255,255, .3)
					i
						transition: 0.5s
						margin-right: 15px
				i
					transition: 0.5s
					margin-right: 5px
/* --- head END ------------------------------------------------*/


/* --- about START ------------------------------------------------*/
.about
	overflow: hidden
	width: 100%
	min-height: 50vh
	padding: 30px 0
	background: url('../img/aboutbg.jpg')
	background-size: cover
	background-position: center center
	background-repeat: no-repeat
	background-attachment: fixed
	border-top: 1px solid $main_green
	border-bottom: 1px solid $main_green
	h2
		text-transform: uppercase
		text-align: center
		color: $main_color
		border-bottom: 2px solid $main_green
		border-right: 2px solid $main_green
		background: #fff
		padding: 10px
		i
			color: $main_green
	&_right-img
		overflow: hidden
		border: 2px solid $main_green
		padding: 0
		img
			transition: 0.5s
			&:hover
				transform: scale(1.2)
	&_logo-wrapb
		background: $main_green
		padding: 10px
		img
			width: 50%
	&_logo-wrap
		background: $main_green
		padding: 10px
		img
			width: 40%
	&_text-wrap
		border: 2px solid $main_green
		background: rgba(255,255,255, .7)
		transition: 0.5s
		&:hover
			background: #fff
			box-shadow: inset 0px 0px 5px 1px rgba(0,0,0,0.75)
		hr
			width: 90%
		p
			margin: 10px
			text-indent: 20px
		h5
			margin: 10px
/* --- about END ------------------------------------------------*/


/* --- Prod START ------------------------------------------------*/
.product
	padding: 30px 70px
	background: $main_bg_light
	background: url('../img/prodbg.jpg')
	background-size: cover
	background-position: center center
	background-repeat: no-repeat
	background-attachment: fixed
	overflow: hidden
	h2
		text-transform: uppercase
		text-align: center
		color: $main_color
		border-bottom: 2px solid $main_green
		border-right: 2px solid $main_green
		background: #fff
		padding: 10px
		display: block
		width: 80%
		margin-left: auto
		margin-right: auto
		i
			color: $main_green
	.border-prod
		border: 2px solid $main_green
		background: rgba(255,255,255, .9)
		transition: 0.5s
		&:hover
			background: #fff
			transition: 0.5s
			hr
				transition: 0.5s
				border: 1px solid $main_color
				width: 90%
	.border-prod-img
		border: 2px solid $main_green
		background: #fff
	&_text-wrap
		padding: 10px
		hr
			width: 50%
			transition: 0.5s
			border: 1px solid $main_color
		h3
			text-align: center
			text-transform: uppercase
		p
			font-size: 18px
	&_img-wrap
		background: #fff
/* --- Prod END ------------------------------------------------*/


/* ---- Button Start ------------------------------------------------*/
.head-button
	background: #fff
	border: 2px solid #fff
	display: block
	text-align: center
	width: 200px
	margin-left: auto
	margin-right: auto
	text-transform: uppercase
	color: $main_color
	padding: 5px
	position: relative
	transition: 0.5s
	&:after
		transition: 0.5s
		position: absolute
		content: ''
		top: 0
		right: 0
		left: 0
		bottom: 0
		border-bottom: 2px solid $main_green
		border-top: 2px solid $main_green
		transform: scaleX(0)
	&:before
		transition: 0.5s
		position: absolute
		content: ''
		top: 0
		right: 0
		left: 0
		bottom: 0
		border-left: 2px solid $main_green
		border-right: 2px solid $main_green
		transform: scaleY(0)
	&:hover
		color: #fff
		background: $main_bg_light_hover
		&:after
			transform: scaleX(1)
		&:before
			transform: scaleY(1)
.prod-button
	box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75)
	background: #fff
	border: 2px solid #fff
	display: block
	text-align: center
	width: 200px
	margin-left: auto
	margin-right: auto
	text-transform: uppercase
	color: $main_color
	padding: 5px
	position: relative
	transition: 0.5s
	&:after
		transition: 0.5s
		position: absolute
		content: ''
		top: 0
		right: 0
		left: 0
		bottom: 0
		border-bottom: 2px solid $main_green
		border-top: 2px solid $main_green
		transform: scaleX(0)
	&:before
		transition: 0.5s
		position: absolute
		content: ''
		top: 0
		right: 0
		left: 0
		bottom: 0
		border-left: 2px solid $main_green
		border-right: 2px solid $main_green
		transform: scaleY(0)
	&:hover
		color: #fff
		background: $main_bg_light_hover
		&:after
			transform: scaleX(1)
		&:before
			transform: scaleY(1)
/* ---- Button END ------------------------------------------------*/


/* ---- advantage Start ------------------------------------------------*/
.advantage
	padding: 30px 0
	background: url('../img/aboutbg.jpg')
	background-size: cover
	background-position: center center
	background-repeat: no-repeat
	background-attachment: fixed
	overflow: hidden
	h2
		text-transform: uppercase
		text-align: center
		color: $main_color
		border-bottom: 2px solid $main_green
		border-right: 2px solid $main_green
		background: #fff
		padding: 10px
		display: block
		width: 80%
		margin-left: auto
		margin-right: auto
		i
			color: $main_green
	.text-wrap
		border: 1px solid $main_green
		display: block
		height: 100%
		background: rgba(255,255,255, .7)
		transition: 0.3s
		overflow: hidden
		&:hover
			box-shadow: 0px 0px 5px 0px $main_green
		h4
			transition: 0.3s
			padding: 10px
			color: #ffffff
			background: $main_green
			text-align: center
			margin: 0
		p
			padding: 10px
			font-size: 20px
			text-align: center
/* ---- advantage END ------------------------------------------------*/


/* ---- Steps Start ------------------------------------------------*/
.steps
	padding: 30px 0
	background: url('../img/stepsbg.jpg')
	background-size: cover
	background-position: center center
	background-repeat: no-repeat
	background-attachment: fixed
	overflow: hidden
	h2
		text-transform: uppercase
		text-align: center
		color: $main_color
		border-bottom: 2px solid $main_green
		border-right: 2px solid $main_green
		background: #fff
		padding: 10px
		display: block
		width: 80%
		margin-left: auto
		margin-right: auto
		i
			color: $main_green
	.text-wrap
		text-align: center
		height: 3px
		border: 1px solid $main_green
		display: block
		height: 100%
		padding: 10px
		background: rgba(255,255,255, .8)
		box-shadow: 7px 7px 0px 0px $main_white
		transition: 0.3s
		&:hover
			transition: 0.3s
			transform: scale(1.1)
		i
			color: $main_green
		.animation-main	
			animation: blick-icon 4s linear infinite
		h4
			text-transform: uppercase
			font-size: 1.1rem
		.icon
			font-size: 36px
			margin: 10px
		p
			font-size: 20px
/* ---- Steps END ------------------------------------------------*/


/* ---- Certificate START ------------------------------------------------*/
.certificate
	padding: 30px 0
	position: relative
	background: url('../img/aboutbg.jpg')
	background-size: cover
	background-position: center center
	background-repeat: no-repeat
	background-attachment: fixed
	overflow: hidden
	h2
		text-transform: uppercase
		text-align: center
		color: $main_color
		border-bottom: 2px solid $main_green
		border-right: 2px solid $main_green
		background: #fff
		padding: 10px
		display: block
		width: 80%
		margin-left: auto
		margin-right: auto
		i
			color: $main_green
	.slick-cert
		position: relative
		.img-wrap
			padding: 10px
			img
				border: 1px solid $main_green
				box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.75)
/* ---- Certificate END ------------------------------------------------*/


/* ---- reviews START ------------------------------------------------*/
.reviews
	padding: 30px 0
	background: url('../img/revbg.jpg')
	background-size: cover
	background-position: center center
	background-repeat: no-repeat
	background-attachment: fixed
	overflow: hidden
	h2
		text-transform: uppercase
		text-align: center
		color: $main_color
		border-bottom: 2px solid $main_green
		border-right: 2px solid $main_green
		background: #fff
		padding: 10px
		display: block
		width: 80%
		margin-left: auto
		margin-right: auto
		i
			color: $main_green
	&_img-wrap
		padding: 15px
		img
			display: block
			margin-left: auto
			margin-right: auto
			width: 250px
			box-shadow: 0px 0px 2px 2px rgba(255,255,255,0.75)
	&_text-cont
		display: block
		height: 100%
		display: flex
		justify-content: center
		align-items: center
	&_text-wrap
		padding: 10px 20px
		background: rgba(255,255,255, .9)
		margin-bottom: 15px
		margin-top: 15px
		transition: 0.5s
		&:hover
			transition: 0.5s
			box-shadow: 10px 10px 0px 0px $main_green
			background: white
// Borders
.bortl
	border-top: 2px solid #005525
	border-left: 2px solid #005525
	box-shadow: inset 2px 2px 0px 0px $main_green

.borb
	border-bottom: 2px solid #005525
	box-shadow: 0px 2px 0px 0px $main_green

.borrb
	border-right: 2px solid #005525
	border-bottom: 2px solid #005525
	box-shadow: 2px 2px 0px 0px $main_green


/* ---- reviews END ------------------------------------------------*/	


/* ---- contacts Start ------------------------------------------------*/
.contacts
	padding: 30px 0
	background: $main_bg_light
	border-top: 1px solid $main_green
	h2
		text-transform: uppercase
		text-align: center
		color: $main_color
		border-bottom: 2px solid $main_green
		border-right: 2px solid $main_green
		background: #fff
		padding: 10px
		display: block
		width: 80%
		margin-left: auto
		margin-right: auto
		i
			color: $main_green
	iframe
		width: 100%
		height: 100%
	.border-cont
		border-left: 2px solid $main_green
		border-right: 2px solid $main_green
		background: rgba(255,255,255, .4)
		padding: 20px
		a
			font-size: 20px
			transition: 0.3s
			&:hover
				transition: 0.3s
				color: $main_green
/* ---- contacts END ------------------------------------------------*/	


/*--- Form START ---*/
.footer-form
	width: 320px
	max-width: 100%
	padding: 30px 20px
	background: #fff
	box-shadow: 5px 5px 0px 0px #999999
	h3, h4
		text-align: center
	hr
		width: 60%
		background-color: $main_color
	input
		width: 100%
		margin-top: 10px
		text-align: center
		background: $main_bg_light
		border: none
		border-bottom: 1px solid $main_color
		padding: 10px
	button
		padding: 10px
		color: $main_green
		text-transform: uppercase
		margin: 20px
		width: 200px
		display: block
		margin-left: auto
		margin-right: auto
		background: $main_bg_light
		box-shadow: 2px 2px 0px 0px #999999
		border: none
		transition: 0.3s
		cursor: pointer
		&:hover
			transition: 0.3s
			background: $main_bg
			color: #fff
/*--- Form END ---*/

.row-eq-height
	display: flex
	flex-wrap: wrap

@keyframes blick-icon
	0%
		color: $main_green
	50%
		color: red
	100%
		color: $main_green