@media only screen and (min-width : 1500px) 
{

}
@media only screen and (max-height : 740px) 
{
  .firstScroll
  {
    padding-top: 75px;
  }
}



@media only screen and (max-width : 1800px)
{

}
@media only screen and (max-width : 1600px)
{

}
@media only screen and (max-width : 1450px)
{

}
@media only screen and (max-width : 1280px)
{

}
@media only screen and (max-width : 1200px)
{

}
@media only screen and (max-width : 1140px) 
{

}

@media only screen and (max-width : 992px)
{
  .firstScroll .titleCont .descWrap
  {
    padding-left: 10px;
  }
  .firstScroll .titleCont .descWrap:after
  {
    display: none;
  }
  .firstScroll .titleCont .descWrap p
  {
    text-align: center;
    font-size: 18px
  }
  .firstScroll .btnCont .btnWrap .txtWrap p
  {
    font-size: 14px;
    text-align: center;
  }
  .firstScroll .titleCont .titleWrap
  {
    text-align: center;
  }
  h1 
  {
    font-size: 1.4rem !important;
  }
  h2
  {
    font-size: 1.3rem !important;
  }
  h3 
  {
    font-size: 1.2rem !important;
  }
  h4
  {
    font-size: 1.1rem !important;
  }
  h5
  {
    font-size: 1rem !important;
  }
  .advantage .listCont
  {
    padding: 0px;
  }
  .advantage .listCont .listWrap
  {
    margin: 0;
  }

}
@media only screen and (max-width : 800px)
{

}
@media only screen and (max-width : 960px)
{

}
@media only screen and (max-width : 768px)
{
  .about .countCont .countWrap
  {
    width: 40%;
  }


}
@media only screen and (max-width : 576px)
{
  .about .countCont .countWrap
  {
    width: 100%;
  }
}
@media only screen and (max-width : 450px)
{


}
@media only screen and (max-width : 400px)
{


}