body {
  background: #535665;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  font-size: 16px;
  color: #222222;
  margin: 0;
  padding: 0;
  position: relative;
  line-height: 1.6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body a {
  text-decoration: none;
  color: #222222;
}

body a:hover {
  text-decoration: none;
  color: #222222;
}

button {
  outline: none;
}

button:focus {
  outline: none;
}

.hidden {
  display: none;
}

section {
  padding: 50px 0;
  overflow: hidden;
}

.done {
  min-height: 100vh;
}

.row-eq-height {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

/* --- Navbar START ------------------------------------------------*/
.navbar {
  padding: 0.8rem 1rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background: rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.3);
}

.navbar .navbar-brand {
  padding: 0;
}

.navbar .navbar-brand p {
  color: #fb313b;
  font-weight: bold;
}

.navbar img {
  width: 40px;
  margin: 0;
  padding: 0;
}

.navbar .anim {
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  font-weight: bold;
}

.navbar .anim span {
  color: #222222;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform-origin: left;
          transform-origin: left;
}

.navbar .anim:before {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-bottom: 2px solid #fb313b;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.navbar .anim:hover span {
  color: #fb313b;
}

.navbar .anim:hover:before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.navbar p {
  font-size: 24px;
  text-shadow: 0px 0px 20px #fff;
  color: #fff;
  margin: 0;
  padding-right: 10px;
  display: inline-block;
}

.navbar .navbar-toggler-icon {
  background: url("../img/burger-light.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 2em;
  height: 2em;
}

.navbar .navbar-toggler-icon:focus {
  outline: none;
}

.navbar .navbar-toggler {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.navbar .navbar-toggler:focus {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  outline: none;
  border: 1px solid #fff;
}

.navbar .balkon_mainBtn {
  padding: 5px 10px;
  width: 200px;
  max-width: 100%;
  font-size: 14px;
  border: 2px solid #fb313b;
}

.active {
  position: relative;
  overflow: hidden;
}

.active span {
  color: #fb313b !important;
}

.active:before {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-bottom: 2px solid #222222;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-animation: animate 7s linear infinite;
          animation: animate 7s linear infinite;
}

@-webkit-keyframes animate {
  0% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  50% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  51% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  100% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
}

@keyframes animate {
  0% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  50% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  51% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  100% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
}

.fixed-nav {
  background: white;
  color: #999999;
  padding: .4rem .4rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.3);
}

.fixed-nav .anim span {
  color: #222222;
}

.fixed-nav p {
  color: #222222;
}

.fixed-nav .navbar-toggler-icon {
  background: url("../img/burger-black.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 2em;
  height: 2em;
}

.fixed-nav .navbar-toggler-icon:focus {
  outline: none;
}

.fixed-nav .navbar-toggler {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.fixed-nav .navbar-toggler:focus {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  outline: none;
  border: 1px solid #222222;
}

.navbar-nav {
  text-align: center;
}

/* --- Navbar END ------------------------------------------------*/
/* --- Header start------------------------------------------------*/
.balkon_first-scroll {
  min-height: 90vh;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(100%, rgba(255, 255, 255, 0.4)), to(rgba(255, 255, 255, 0.4))), url("../img/mainBg.jpg");
  background: linear-gradient(rgba(255, 255, 255, 0.4) 100%, rgba(255, 255, 255, 0.4) 100%), url("../img/mainBg.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 10px 150px 10px;
}

.balkon_first-scroll .headCont {
  margin-top: auto;
}

.balkon_first-scroll .headCont .headWrap {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
  padding: 20px 20px;
  background: rgba(255, 255, 255, 0.9);
}

.balkon_first-scroll .headCont .headWrap h1 {
  color: #fb313b;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

.balkon_first-scroll .headCont .headWrap h2 {
  text-align: center;
  color: #fb313b;
  text-transform: uppercase;
}

.balkon_first-scroll .headCont .headWrap h2 span {
  text-decoration: underline;
  text-transform: uppercase;
  font-weight: bold;
}

.balkon_first-scroll .headCont .headWrap hr {
  background-color: #fb313b;
  width: 60%;
  border: 1px solid #fb313b;
}

.balkon_first-scroll .btnCont {
  margin-top: auto;
  padding: 10px;
}

.balkon_first-scroll .btnCont .txtWrap {
  color: #fff;
  text-shadow: 2px 2px 2px #222222;
}

.balkon_first-scroll .btnCont .txtWrap h3 {
  text-align: center;
}

.balkon_first-scroll .btnCont .txtWrap h3 span {
  color: #fb313b;
  text-transform: uppercase;
}

/* --- Header END ------------------------------------------------*/
/* --- About Start ------------------------------------------------*/
.balkon_about {
  position: relative;
  margin-top: -100px;
  text-align: center;
  padding: 10px 10px 50px 10px;
}

.balkon_about img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
}

.balkon_about .aboutCont {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
  display: inline-block;
  z-index: 1;
  position: relative;
  margin-bottom: 30px;
}

.balkon_about .aboutCont .left {
  background: #fb313b;
}

.balkon_about .aboutCont .right {
  background: #fff;
}

.balkon_about .aboutCont .aboutTxtVideo {
  background: url("../img/aboutVideoBg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  min-height: 300px;
  position: relative;
}

.balkon_about .aboutCont .aboutTxtVideo a {
  text-shadow: 0px 0px 10px rgba(34, 34, 34, 0.7);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 80px;
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-animation: colorVideo 3s infinite;
          animation: colorVideo 3s infinite;
  color: #fb313b;
}

.balkon_about .aboutCont .aboutTxtVideo a:hover {
  -webkit-transition: .5s;
  transition: .5s;
  color: #fff;
}

.balkon_about .aboutCont .aboutTxtWrap {
  height: 100%;
  padding: 30px	20px 50px 20px;
  text-align: left;
}

.balkon_about .aboutCont .aboutTxtWrap p {
  text-indent: 20px;
  margin: 0;
  padding: 0;
  color: #fff;
}

.balkon_about .aboutCont .aboutTxtWrap h2 {
  color: #fff;
  font-weight: 900;
  font-size: 60px;
  margin-bottom: 20px;
}

.balkon_about .advCont .imgWrap {
  margin-bottom: 20px;
}

.balkon_about .advCont .txtWrap {
  margin-bottom: 20px;
}

.balkon_about .advCont .txtWrap h5 {
  color: #fff;
}

@-webkit-keyframes colorVideo {
  50% {
    text-shadow: 0px 0px 10px white;
  }
}

@keyframes colorVideo {
  50% {
    text-shadow: 0px 0px 10px white;
  }
}

/* --- About END ------------------------------------------------*/
/* --- product Start ------------------------------------------------*/
.balkon_porfolio {
  background: #fff;
}

.balkon_porfolio h2 {
  color: #999999;
  font-size: 50px;
  text-align: center;
  font-weight: 900;
}

.balkon_porfolio .portfolioCont .portfolioWrap {
  position: relative;
  padding: 20px;
}

.balkon_porfolio .portfolioCont .portfolioWrap img {
  border: 1px solid #e0e0e0;
  -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.4);
  max-width: 100%;
  height: auto;
}

.balkon_porfolio .portfolioCont .portfolioWrap:focus {
  outline: none;
}

.balkon_porfolio .portfolioCont .portfolioWrap .descrWrap {
  padding: 10px;
  position: absolute;
  right: 30px;
  top: 30px;
  background: rgba(34, 34, 34, 0.9);
}

.balkon_porfolio .portfolioCont .portfolioWrap .descrWrap h5 {
  text-align: center;
  color: #fff;
}

.balkon_porfolio .portfolioCont .portfolioWrap .descrWrap .balkon_mainBtn {
  padding: 5px;
  width: 100%;
}

.balkon_porfolio .portfolioCont .portfolioWrap .descrWrap ul {
  margin: 0;
  list-style: none;
}

.balkon_porfolio .portfolioCont .portfolioWrap .descrWrap ul li {
  color: #fff;
  position: relative;
}

.balkon_porfolio .portfolioCont .portfolioWrap .descrWrap ul li i {
  color: #fb313b;
  position: absolute;
  left: -30px;
  top: 5px;
}

/* --- product END ------------------------------------------------*/
/* --- ProductAll Start ------------------------------------------------*/
.balkon_prodall {
  background: #f8f8f8;
  padding: 50px 10px 50px 10px;
}

.balkon_prodall img {
  max-width: 100%;
  height: auto;
}

.balkon_prodall h2 {
  color: #999999;
  font-size: 50px;
  text-align: center;
  font-weight: 900;
  margin-bottom: 40px;
}

.balkon_prodall .prodCont {
  height: 100%;
  padding: 30px 10px;
  background: #fff;
  border: 1px solid #999999;
  -webkit-transition: .3s;
  transition: .3s;
}

.balkon_prodall .prodCont:hover {
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.15);
}

.balkon_prodall .prodCont .headWrap {
  margin-bottom: 20px;
}

.balkon_prodall .prodCont .headWrap img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.balkon_prodall .prodCont .imgWrap {
  margin-bottom: 20px;
}

.balkon_prodall .prodCont .imgWrap img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.balkon_prodall .prodCont .txtWrap {
  text-align: center;
}

/* --- ProductAll END ------------------------------------------------*/
/* --- balkon_openFormManager Start ------------------------------------------------*/
.balkon_openFormManager {
  background: #fff;
}

.balkon_openFormManager h2 {
  color: #999999;
  font-size: 50px;
  text-align: center;
  font-weight: 900;
  margin-bottom: 40px;
}

.balkon_openFormManager h3 {
  text-align: center;
  padding: 10px;
  background: #f8f8f8;
}

.balkon_openFormManager h3 span {
  color: #fb313b;
  text-transform: uppercase;
  font-weight: bold;
}

/* --- balkon_openFormManager END ------------------------------------------------*/
/* --- balkon_how END ------------------------------------------------*/
.balkon_how {
  background: #e5e5e7;
  position: relative;
  z-index: 1;
}

.balkon_how .bgMy {
  z-index: -1;
  position: absolute;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

.balkon_how img {
  max-width: 100%;
  height: auto;
}

.balkon_how h2 {
  color: #999999;
  font-size: 50px;
  text-align: center;
  font-weight: 900;
  margin-bottom: 40px;
}

.balkon_how .howCont {
  background: url("../img/howborder.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 280px;
}

.balkon_how .howCont .howWrap:nth-child(1) {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.balkon_how .howCont .howWrap:nth-child(2) {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.balkon_how .howCont .howWrap:nth-child(4) {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.balkon_how .howCont .howWrap:nth-child(5) {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.balkon_how .howCont .howWrap .howImg img {
  background: #f8f8f8;
  border: 2px solid #999999;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.balkon_how .howCont .howWrap .howTxt {
  text-align: center;
}

.balkon_how .howCont .howWrap .howTxt p {
  font-size: 18px;
}

.balkon_how .howCont .howWrap .howTxt p span {
  font-weight: bold;
  margin-right: 5px;
}

.balkon_how .howForm {
  z-index: 2;
  text-align: center;
  padding: 50px 10px;
  background: #fb313b;
}

.balkon_how .howForm h2 {
  color: #fff;
  margin-bottom: 20px;
}

.balkon_how .howForm h3 {
  color: #fff;
  margin-bottom: 10px;
}

.balkon_how .howForm h4 {
  color: #fff;
  margin-bottom: 20px;
}

.balkon_how .howForm input {
  color: #fff;
  margin: 0 10px 20px 10px;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  border: 1px solid #e5e5e5;
  background-color: rgba(255, 255, 255, 0.1);
}

.balkon_how .howForm input:focus {
  outline: 2px solid #e5e5e5;
}

.balkon_how .howForm input::-webkit-input-placeholder {
  color: #fff;
}

.balkon_how .howForm input:-ms-input-placeholder {
  color: #fff;
}

.balkon_how .howForm input::-ms-input-placeholder {
  color: #fff;
}

.balkon_how .howForm input::placeholder {
  color: #fff;
}

.balkon_how .howForm .balkon_mainBtn {
  background: #fff;
  color: #fb313b;
  border: 2px solid #fff;
}

.balkon_how .howForm .balkon_mainBtn:hover {
  background: #fb313b;
  color: #fff;
}

/* --- balkon_how END ------------------------------------------------*/
/* --- reviews Start ------------------------------------------------*/
.balkon_reviews {
  background: #fff;
}

.balkon_reviews h2 {
  color: #999999;
  font-size: 50px;
  text-align: center;
  font-weight: 900;
  margin-bottom: 40px;
}

.balkon_reviews .reviewsCont .reviewsWrap {
  outline: none;
  padding: 20px 50px;
  margin: 10px;
}

.balkon_reviews .reviewsCont .reviewsWrap .txtWrap {
  background: #f8f8f8;
  text-align: center;
  padding: 10px;
  margin-bottom: 50px;
  min-height: 150px;
  border: 1px solid #222222;
  position: relative;
}

.balkon_reviews .reviewsCont .reviewsWrap .txtWrap:after {
  background: #f8f8f8;
  position: absolute;
  content: '';
  border-bottom: 1px solid #222222;
  border-right: 1px solid #222222;
  bottom: -21px;
  left: 55px;
  width: 40px;
  height: 40px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.balkon_reviews .reviewsCont .reviewsWrap .imgWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.balkon_reviews .reviewsCont .reviewsWrap .imgWrap img {
  border: 1px solid #222222;
  max-width: 100%;
  height: auto;
  width: 150px;
  border-radius: 50%;
  margin-right: 10px;
}

.balkon_reviews .reviewsCont .reviewsWrap .imgWrap .imgTxt h4 {
  font-weight: bold;
}

.balkon_reviews .reviewsCont .reviewsWrap .imgWrap .imgTxt h5 {
  font-style: italic;
}

/* --- reviews END ------------------------------------------------*/
/* --- sert END ------------------------------------------------*/
.balkon_sert {
  background: #f8f8f8;
}

.balkon_sert h2 {
  color: #999999;
  font-size: 50px;
  text-align: center;
  font-weight: 900;
  margin-bottom: 40px;
}

.balkon_sert .brandCont {
  padding: 10px;
  margin-bottom: 50px;
}

.balkon_sert .brandCont .brandWrap {
  padding: 20px;
  outline: none;
}

.balkon_sert .brandCont .brandWrap img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
}

.balkon_sert .sertCont {
  padding: 10px;
}

.balkon_sert .sertCont .sertWrap {
  padding: 10px;
  outline: none;
}

.balkon_sert .sertCont .sertWrap img {
  max-width: 100%;
  height: auto;
}

/* --- sert END ------------------------------------------------*/
/* --- contacts Start ------------------------------------------------*/
.balkon_contacts {
  padding: 0;
}

.balkon_contacts .contactsCont {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 20px;
  background: #fb313b;
  color: #fff;
}

.balkon_contacts .contactsCont .txtWrap a {
  display: block;
  font-size: 20px;
  color: #fff;
}

.balkon_contacts .contactsCont .txtWrap a i {
  margin-right: 10px;
}

.balkon_contacts .contactsCont .txtWrapIcon a {
  color: #fff;
}

.balkon_contacts .contactsCont .txtWrapIcon a i {
  font-size: 50px;
  margin-right: 10px;
}

.balkon_contacts .formCont {
  padding: 50px 10px;
  height: 100%;
  background: url("../img/port02.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contactsForm {
  background: rgba(83, 86, 101, 0.9);
  padding: 20px;
  display: block;
  margin: auto;
  width: 400px;
  max-width: 100%;
  text-align: center;
}

.contactsForm .mfp-close {
  color: #fff;
}

.contactsForm h2 {
  color: #fff;
}

.contactsForm h3 {
  color: #fff;
}

.contactsForm h3 span {
  font-weight: bold;
  color: #fb313b;
}

.contactsForm input, .contactsForm textarea {
  width: 100%;
  color: #fff;
  margin-bottom: 20px;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  border: 1px solid #e5e5e5;
  background-color: rgba(255, 255, 255, 0.1);
}

.contactsForm input:focus, .contactsForm textarea:focus {
  outline: 2px solid #e5e5e5;
}

.contactsForm input::-webkit-input-placeholder, .contactsForm textarea::-webkit-input-placeholder {
  color: #fff;
}

.contactsForm input:-ms-input-placeholder, .contactsForm textarea:-ms-input-placeholder {
  color: #fff;
}

.contactsForm input::-ms-input-placeholder, .contactsForm textarea::-ms-input-placeholder {
  color: #fff;
}

.contactsForm input::placeholder, .contactsForm textarea::placeholder {
  color: #fff;
}

.contactsForm textarea {
  height: 100px;
}

.contactsForm .balkon_mainBtn:hover {
  color: #fb313b;
}

/* --- contacts END ------------------------------------------------*/
/* --- Button Start ------------------------------------------------*/
.balkon_mainBtn {
  cursor: pointer;
  border: none;
  padding: 10px;
  display: block;
  width: 250px;
  max-width: 100%;
  background: #fb313b;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition: .3s;
  transition: .3s;
}

.balkon_mainBtn:hover {
  -webkit-transition: .3s;
  transition: .3s;
  background: #fff;
}

/* --- Button END ------------------------------------------------*/
/* --- Form START ------------------------------------------------*/
.balkon_openFormManager {
  max-width: 100%;
}

.balkon_openFormManager .borderMyLeft {
  border-left: 50px solid #535665;
}

.balkon_openFormManager .borderMyRight {
  border-right: 50px solid #535665;
}

.balkon_openFormManager input {
  font-weight: bold;
  width: 100%;
  margin-bottom: 20px;
  border: 2px solid #535665;
  text-transform: uppercase;
  padding: 10px;
  text-align: center;
  -webkit-transition: .3s;
  transition: .3s;
}

.balkon_openFormManager input:focus {
  -webkit-transition: .3s;
  transition: .3s;
  outline: 1px solid #fb313b;
}

.balkon_openFormManager .balkon_mainBtn:hover {
  background: rgba(251, 49, 59, 0.7);
  color: #222222;
}

/* --- Form END ------------------------------------------------*/
/* --- Other START ------------------------------------------------*/
.slick-dots li button:before {
  font-size: 15px;
  color: #fb313b !important;
}

.slick-prev {
  left: 30px;
  width: 40px;
  height: 40px;
  z-index: 99;
}

.slick-prev:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-top: 5px solid #fb313b;
  border-right: 5px solid #fb313b;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.slick-next {
  right: 30px;
  width: 40px;
  height: 40px;
}

.slick-next:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-top: 5px solid #fb313b;
  border-right: 5px solid #fb313b;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.callButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
}

.callButton a span {
  background: #fb313b;
  border-radius: 50%;
  display: block;
  border: #fb313b;
  width: 60px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.callButton a span:after {
  background: #fb313b;
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border: 2px solid #fb313b;
  border-radius: 50%;
  -webkit-animation-name: borderAfter;
          animation-name: borderAfter;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  opacity: 0.8;
}

.callButton a span:before {
  background: #fb313b;
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border: 2px solid #fb313b;
  border-radius: 50%;
  -webkit-animation-name: borderAfter;
          animation-name: borderAfter;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  opacity: 0.8;
}

.callButton a span i {
  color: #fff;
  font-size: 35px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-animation-name: phoneRotate;
          animation-name: phoneRotate;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.callButton a:hover span i {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #535665;
}

@-webkit-keyframes phoneRotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes phoneRotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes borderAfter {
  20%, 100% {
    background: #fff;
    border: 2px solid #fff;
    top: -20px;
    left: -20px;
    bottom: -20px;
    right: -20px;
    opacity: 0;
  }
}

@keyframes borderAfter {
  20%, 100% {
    background: #fff;
    border: 2px solid #fff;
    top: -20px;
    left: -20px;
    bottom: -20px;
    right: -20px;
    opacity: 0;
  }
}
/*# sourceMappingURL=main.css.map */