.about
  &__cont
    &-title
      text-align: center
      h2
        font-style: italic
        font-weight: 500
        font-size: 36px
    &-list
      ul
        padding: 0 0 0 100px
        margin: 0
        list-style: none
        display: flex
        flex-direction: column
        align-items: center
        li
          position: relative
          width: 750px
          max-width: 100%
          padding: 20px 0
          text-transform: uppercase
          font-size: 18px
          font-weight: 500
          img
            top: 50%
            transform: translateY(-50%)
            position: absolute
            left: -100px
  @media(max-width: 992px)
    &__cont
      &-title
        h2
          font-size: 30px
      &-list
        ul
          padding: 10px 10px 10px 60px
          li
            padding: 1501401p0x0
            font-size: 16px
            img
              left: -50px