/* --- button start Start ------------------------------------------------*/
.mainBtnN
	font-size: 15px
	border: 2px solid $main_white
	margin-right: 50px
	padding: 5px 10px
	transition: .3s
	color: $main_white
	text-transform: uppercase
	&:hover
		transition: .3s
		color: $main_rgb

.mainBtn
	cursor: pointer
	display: inline-block
	max-width: 100%
	padding: 10px
	font-size: 16px
	text-transform: uppercase
	color: $main_white
	text-align: center
	transition: .3s
	color: $main_color
	margin: 5px
	transition: .3s
	position: relative
	border: none
	background: none
	&:after
		position: absolute
		content: ''
		width: 80%
		height: 100%
		top: 0
		left: 0
		border: solid $main_color
		border-width: 0 0 1px 1px
		transition: .3s
	&:before
		position: absolute
		content: ''
		width: 80%
		height: 100%
		top: 0
		right: 0
		border: solid $main_color
		border-width: 1px 1px 0 0
		transition: .3s
	&:hover
		transition: .3s
		&:after
			width: 100%
		&:before
			width: 100%
/* --- button start end ------------------------------------------------*/