.footer
  background: $main_color
  padding: 20px
  &__cont
    margin: 0
    display: flex
    justify-content: space-around
    align-items: center
    p,a 
      color: $main_white
      margin: 5px
      padding: 0