$main_color: #190F19
$main_color2: #E0DFCC
$main_white: #fff
$main_rgb: #FFF343
$main_rgb2: #2F80ED
$main_rgbL: #FFCA63
$main_blue: #5081FF
$main_bg: #8D8D8D
$main_bg1: rgba(25, 15, 25, 0.05)
$main_bgL: #F8F9FA
