.videoReviews
  background: $main_bgL
  &__title
    text-align: center
    margin-bottom: 20px
    h2
      text-align: center
      font-style: italic
      color: $main_rgb2
  &__cont
    display: flex
    justify-content: space-around
    &-items
      position: relative
      padding: 10px
      z-index: 1
      box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75)
      margin: 18px
      &:after
        z-index: -2
        content: ''
        position: absolute
        left: -13px
        top: -13px
        width: 30%
        height: 20%
        border-left: 3px solid $main_rgb2
        border-top: 3px solid $main_rgb2
      &:before
        z-index: -2
        content: ''
        position: absolute
        right: -13px
        bottom: -13px
        width: 30%
        height: 50%
        border-right: 3px solid $main_rgb2
        border-bottom: 3px solid $main_rgb2
      iframe
        max-width: 100%
        width: 500px
        height: 300px
  @media(max-width: 992px)
    &__cont
      flex-wrap: wrap
      justify-content: center
      &-items
        margin-bottom: 20px