body {
  background: #55595c;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 16px;
  color: #676767;
  margin: 0;
  padding: 0;
  position: relative;
  line-height: 1.6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body a {
  text-decoration: none;
  color: #676767;
}

body a:hover {
  text-decoration: none;
  color: #676767;
}

button {
  outline: none;
}

button:focus {
  outline: none;
}

.hidden {
  display: none;
}

section {
  padding: 50px 0;
  overflow: hidden;
}

.done {
  min-height: 100vh;
}

.row-eq-height {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

/* --- Navbar START ------------------------------------------------*/
.navbar {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background: rgba(255, 255, 255, 0);
}

.navbar .navbar-brand {
  padding: 0;
}

.navbar img {
  width: 120px;
  margin: 0;
  padding: 0;
}

.navbar .anim {
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
}

.navbar .anim span {
  color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform-origin: left;
          transform-origin: left;
}

.navbar .anim:before {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-bottom: 2px solid #fb313b;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.navbar .anim:hover span {
  color: #fb313b;
}

.navbar .anim:hover:before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.navbar p {
  font-size: 24px;
  text-shadow: 0px 0px 20px #fff;
  color: #fff;
  margin: 0;
  padding-right: 10px;
  display: inline-block;
}

.navbar .navbar-toggler-icon {
  background: url("../img/burger-light.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 2em;
  height: 2em;
}

.navbar .navbar-toggler-icon:focus {
  outline: none;
}

.navbar .navbar-toggler {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.navbar .navbar-toggler:focus {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  outline: none;
  border: 1px solid #fff;
}

.active {
  position: relative;
  overflow: hidden;
}

.active span {
  color: #fb313b !important;
}

.active:before {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-bottom: 2px solid #676767;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-animation: animate 7s linear infinite;
          animation: animate 7s linear infinite;
}

@-webkit-keyframes animate {
  0% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  50% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  51% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  100% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
}

@keyframes animate {
  0% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  50% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  51% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  100% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
}

.fixed-nav {
  background: rgba(0, 0, 0, 0.9);
  color: #55595c;
  padding: .4rem .4rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.5);
}

.fixed-nav .anim span {
  color: #fff;
}

.fixed-nav p {
  color: #fff;
}

.fixed-nav .navbar-toggler-icon {
  background: url("../img/burger-light.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 2em;
  height: 2em;
}

.fixed-nav .navbar-toggler-icon:focus {
  outline: none;
}

.fixed-nav .navbar-toggler {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.fixed-nav .navbar-toggler:focus {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  outline: none;
  border: 1px solid #676767;
}

.navbar-nav {
  text-align: center;
}

/* --- Navbar END ------------------------------------------------*/
/* --- Header start------------------------------------------------*/
.vs__firstScroll {
  min-height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(100%, rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../img/bgM.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.5) 100%, rgba(0, 0, 0, 0.5) 100%), url("../img/bgM.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.vs__firstScroll .titleCont {
  margin-top: auto;
  margin-bottom: 20px;
}

.vs__firstScroll .titleCont .titleWrap {
  padding: 30px;
  color: #fff;
  border: 2px solid #fff;
  position: relative;
  background: rgba(0, 0, 0, 0.4);
  text-align: center;
}

.vs__firstScroll .titleCont .titleWrap h1 {
  margin: 0 0 10px 0;
  padding: 0;
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 700;
}

.vs__firstScroll .titleCont .titleWrap h2 {
  margin: 0 0 10px 0;
  padding: 0;
  font-size: 3rem;
  text-transform: uppercase;
}

.vs__firstScroll .titleCont .titleWrap h2 span {
  color: #fb313b;
}

.vs__firstScroll .titleCont .titleWrap ul {
  display: inline-block;
  margin: 0;
  text-align: left;
  list-style: none;
}

.vs__firstScroll .titleCont .titleWrap ul li {
  position: relative;
  font-size: 1.5rem;
}

.vs__firstScroll .titleCont .titleWrap ul li i {
  position: absolute;
  left: -20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #fb313b;
}

.vs__firstScroll .titleCont .titleWrap:after {
  position: absolute;
  content: '';
  top: -15px;
  left: -15px;
  width: 100%;
  height: 100%;
  border: 2px solid #fff;
}

.vs__firstScroll .titleCont .titleWrap:before {
  position: absolute;
  content: '';
  top: 15px;
  left: 15px;
  width: 100%;
  height: 100%;
  border: 2px solid #fff;
}

.vs__firstScroll .btnCont {
  text-align: center;
  margin-top: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.vs__firstScroll .btnCont .txtWRap {
  padding: 10px;
}

.vs__firstScroll .btnCont .txtWRap h4 {
  color: #fff;
  margin: 5px;
  padding: 0;
}

/* --- Header END ------------------------------------------------*/
/* --- vs__youCan Start ------------------------------------------------*/
.vs__youCan {
  background: #fff;
  position: relative;
}

.vs__youCan .bgIcon {
  position: absolute;
  right: 10%;
  top: 70%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.vs__youCan .bgIcon i {
  opacity: .1;
  line-height: 0;
  font-size: 500px;
}

.vs__youCan .triggerCont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.vs__youCan .triggerCont .numberWrap {
  height: 100%;
  padding: 10px;
  border-right: 2px solid #fb313b;
}

.vs__youCan .triggerCont .numberWrap span {
  color: #fff;
  padding: 10px;
  background: #fb313b;
  font-size: 70px;
}

.vs__youCan .triggerCont .triggerWrap .titleWrap {
  padding: 10px;
  border-bottom: 2px solid #fb313b;
}

.vs__youCan .triggerCont .triggerWrap .titleWrap h4 {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

.vs__youCan .triggerCont .triggerWrap .txtWrap {
  padding: 10px;
}

.vs__youCan .triggerCont .triggerWrap .txtWrap p {
  font-weight: 600;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

/* --- vs__youCan END ------------------------------------------------*/
/* --- about Start ------------------------------------------------*/
.vs__about {
  background: #f8f8f8;
}

.vs__about .imgWrap {
  padding: 30px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(100%, rgba(248, 248, 248, 0.9)), to(rgba(248, 248, 248, 0.9))), url("../img/aboutMain.jpg");
  background: linear-gradient(rgba(248, 248, 248, 0.9) 100%, rgba(248, 248, 248, 0.9) 100%), url("../img/aboutMain.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.vs__about .imgWrap img {
  -webkit-box-shadow: 0 0 10px #676767;
          box-shadow: 0 0 10px #676767;
  max-width: 100%;
  height: auto;
}

.vs__about .txtCont {
  padding: 10px;
}

.vs__about .txtCont h3 {
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.vs__about .txtCont p {
  margin: 0 0 20px 0;
  padding: 0;
  font-style: italic;
  font-size: 18px;
}

/* --- about end ------------------------------------------------*/
/* --- Product Start ------------------------------------------------*/
/* --- Product END ------------------------------------------------*/
/* --- dropshipping Start ------------------------------------------------*/
.vs__product {
  background: #fff;
}

.vs__product .listWrap {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.vs__product .listWrap .listFilter {
  border-bottom: 2px solid #fff;
  padding: 5px;
  margin: 5px 10px 10px 10px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
}

.vs__product .listWrap .listFilter span {
  text-transform: uppercase;
  font-weight: bold;
}

.vs__product .listWrap .listFilter:hover {
  color: rgba(251, 49, 59, 0.5);
  -webkit-transition: .3s;
  transition: .3s;
  border-bottom: 2px solid #e6e6e6;
}

.vs__product .mixitup-control-active {
  color: #fb313b;
  border-bottom: 2px solid #676767 !important;
}

.vs__product .mixitup-control-active:hover {
  color: #fb313b !important;
  border-bottom: 2px solid #676767 !important;
}

.vs__product .lessonCont {
  text-align: center;
  margin-bottom: 40px;
}

.vs__product .lessonCont h4, .vs__product .lessonCont p {
  margin: 0;
  padding: 0;
}

.vs__product .lessonCont .lessonWrap {
  border: 2px solid #e6e6e6;
  padding: 10px;
  background: #f8f8f8;
}

.vs__product .lessonCont .lessonWrap .imgWrap {
  background: #fff;
  padding: 10px;
}

.vs__product .lessonCont .lessonWrap .imgWrap img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.vs__product .lessonCont .lessonWrap .titleWrap {
  padding: 10px;
  background: #e6e6e6;
}

.vs__product .lessonCont .lessonWrap .descrWrap {
  background: #fff;
  padding: 10px;
}

.vs__product .lessonCont .lessonWrap .descrWrap p {
  font-size: 18px;
  font-style: italic;
}

.vs__product .lessonCont .lessonWrap .priceWrap {
  background: #fff;
}

.vs__product .lessonCont .lessonWrap .priceWrap p {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bold;
}

.vs__product .lessonCont .lessonWrap .btnWrap {
  background: #e6e6e6;
  padding: 10px;
}

/* --- dropshipping END ------------------------------------------------*/
/* --- vs__top Start ------------------------------------------------*/
.vs__top {
  background: #e6e6e6;
}

.vs__top .descTitle {
  text-align: center;
  margin-bottom: 30px;
  font-style: italic;
}

/* --- vs__top end ------------------------------------------------*/
/* --- openForm Start ------------------------------------------------*/
.vs__openForm {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(100%, rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url("../img/bg02.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.6) 100%, rgba(0, 0, 0, 0.6) 100%), url("../img/bg02.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.vs__openForm .titleCont {
  background: #fff;
  padding: 10px;
}

.vs__openForm .titleCont h3 {
  background: #fb313b;
  color: #fff;
  text-align: center;
  padding: 10px;
  margin: 0 0 10px 0;
}

.vs__openForm .titleCont h4 {
  margin: 0;
}

.vs__openForm .titleCont ul {
  text-align: left;
  display: inline-block;
  background: #fff;
  list-style: none;
  margin: 0;
  padding: 20px 10px;
}

.vs__openForm .titleCont ul li {
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.vs__openForm .titleCont ul li img {
  width: 50px;
  max-width: 100%;
  height: auto;
  margin-right: 20px;
}

.vs__openForm .titleCont ul li:last-child {
  margin: 0;
}

/* --- openForm END ------------------------------------------------*/
/* --- vs__reviews Start ------------------------------------------------*/
.vs__reviews {
  background: #fff;
}

.vs__reviews .videoWrap iframe {
  width: 100%;
  height: 315px;
}

/* --- vs__reviews END ------------------------------------------------*/
/* --- contacts Start ------------------------------------------------*/
.vs__contacts {
  padding: 0;
}

.vs__contacts .contactsCont {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 20px;
  background: #fb313b;
  color: #fff;
}

.vs__contacts .contactsCont .txtWrap a {
  display: block;
  font-size: 20px;
  color: #fff;
}

.vs__contacts .contactsCont .txtWrap a i {
  margin-right: 10px;
}

.vs__contacts .contactsCont .txtWrapIcon a {
  color: #fff;
}

.vs__contacts .contactsCont .txtWrapIcon a i {
  font-size: 50px;
  margin-right: 10px;
}

.vs__contacts .formCont {
  padding: 50px 10px;
  height: 100%;
  background: url("../img/contBg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contactsForm {
  position: relative;
  background: rgba(0, 0, 0, 0.9);
  padding: 20px;
  display: block;
  margin: auto;
  width: 400px;
  max-width: 100%;
  text-align: center;
}

.contactsForm .mfp-close {
  color: #fff;
}

.contactsForm h2 {
  color: #fff;
}

.contactsForm h3 {
  color: #fff;
}

.contactsForm h3 span {
  font-weight: bold;
  color: #fb313b;
}

.contactsForm input, .contactsForm textarea {
  width: 100%;
  color: #fff;
  margin-bottom: 20px;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  border: 1px solid #e5e5e5;
  background-color: rgba(255, 255, 255, 0.1);
}

.contactsForm input:focus, .contactsForm textarea:focus {
  outline: 2px solid #e5e5e5;
}

.contactsForm input::-webkit-input-placeholder, .contactsForm textarea::-webkit-input-placeholder {
  color: #fff;
}

.contactsForm input:-ms-input-placeholder, .contactsForm textarea:-ms-input-placeholder {
  color: #fff;
}

.contactsForm input::-ms-input-placeholder, .contactsForm textarea::-ms-input-placeholder {
  color: #fff;
}

.contactsForm input::placeholder, .contactsForm textarea::placeholder {
  color: #fff;
}

.contactsForm textarea {
  height: 100px;
}

/* --- contacts END ------------------------------------------------*/
/* --- Button Start ------------------------------------------------*/
.vs__mainBtn {
  border: none;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  display: block;
  background: #fb313b;
  color: #fff;
  padding: 10px;
  text-transform: uppercase;
  font-weight: bold;
  width: 300px;
  max-width: 100%;
  -webkit-transition: .3s;
  transition: .3s;
}

.vs__mainBtn:hover {
  -webkit-transition: .3s;
  transition: .3s;
  background: #fff;
  color: #fb313b;
}

.callButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
}

.callButton a span {
  background: #fb313b;
  border-radius: 50%;
  display: block;
  border: #fb313b;
  width: 60px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.callButton a span:after {
  background: #fb313b;
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border: 2px solid #fb313b;
  border-radius: 50%;
  -webkit-animation-name: borderAfter;
          animation-name: borderAfter;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  opacity: 0.8;
}

.callButton a span:before {
  background: #fb313b;
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border: 2px solid #fb313b;
  border-radius: 50%;
  -webkit-animation-name: borderAfter;
          animation-name: borderAfter;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  opacity: 0.8;
}

.callButton a span i {
  color: #fff;
  font-size: 35px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-animation-name: phoneRotate;
          animation-name: phoneRotate;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.callButton a:hover span i {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #676767;
}

@-webkit-keyframes phoneRotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes phoneRotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes borderAfter {
  20%, 100% {
    background: #fb313b;
    border: 2px solid #fb313b;
    top: -20px;
    left: -20px;
    bottom: -20px;
    right: -20px;
    opacity: 0;
  }
}

@keyframes borderAfter {
  20%, 100% {
    background: #fb313b;
    border: 2px solid #fb313b;
    top: -20px;
    left: -20px;
    bottom: -20px;
    right: -20px;
    opacity: 0;
  }
}

/* --- Button END ------------------------------------------------*/
/* --- Form START ------------------------------------------------*/
.vs__formOpen {
  width: 500px;
  max-width: 100%;
  text-align: center;
  background: #fff;
  position: relative;
  -webkit-box-shadow: 0px 0px 10px rgba(103, 103, 103, 0.5);
          box-shadow: 0px 0px 10px rgba(103, 103, 103, 0.5);
  padding: 20px 10px;
  background: #e6e6e6;
}

.vs__formOpen hr {
  background-color: #fb313b;
  width: 60%;
  border: 1px solid #fb313b;
}

.vs__formOpen:after {
  position: absolute;
  content: '';
  top: -6px;
  left: -6px;
  width: 50%;
  height: 50%;
  border-top: 3px solid #fb313b;
  border-left: 3px solid #fb313b;
}

.vs__formOpen:before {
  position: absolute;
  content: '';
  bottom: -6px;
  right: -6px;
  width: 50%;
  height: 50%;
  border-bottom: 3px solid #fb313b;
  border-right: 3px solid #fb313b;
}

.vs__formOpen input {
  width: 100%;
  padding: 10px;
  text-align: center;
  margin-bottom: 20px;
  position: relative;
}

.vs__formOpen .navBtn {
  border: none;
  background: #fff;
  color: #676767;
  width: 350px;
}

/* --- Form END ------------------------------------------------*/
/* --- Other START ------------------------------------------------*/
.vs__mainTitle {
  text-align: center;
  margin-bottom: 20px;
}

.vs__mainTitle h2 {
  padding: 10px;
  margin: 0;
  position: relative;
  display: inline-block;
  font-weight: 900;
  font-size: 50px;
  text-align: center;
}

.vs__mainTitle h2:after {
  position: absolute;
  content: '';
  top: 0;
  left: 5%;
  width: 100%;
  height: 100%;
  border-bottom: 3px solid #fb313b;
}
/*# sourceMappingURL=main.css.map */