@media only screen and (min-width : 1500px) 
{

}
@media only screen and (max-height : 560px) 
{
  .vs__firstScroll
  {
    padding-top: 85px;
  }
}



@media only screen and (max-width : 1800px)
{

}
@media only screen and (max-width : 1600px)
{

}
@media only screen and (max-width : 1450px)
{

}
@media only screen and (max-width : 1280px)
{

}
@media only screen and (max-width : 1200px)
{

}
@media only screen and (max-width : 1140px) 
{

}

@media only screen and (max-width : 992px)
{
  h1 
  {
    font-size: 1.4rem !important;
  }
  h2
  {
    font-size: 1.3rem !important;
  }
  h3 
  {
    font-size: 1.2rem !important;
  }
  h4
  {
    font-size: 1.1rem !important;
  }
  h5
  {
    font-size: 1rem !important;
  }
  .vs__firstScroll .titleCont .titleWrap
  {
    margin: 0 30px 0 30px;
  }
  .vs__firstScroll .titleCont .titleWrap ul li
  {
    font-size: 16px;
  }
}
@media only screen and (max-width : 800px)
{

}
@media only screen and (max-width : 960px)
{

}
@media only screen and (max-width : 768px)
{
  .vs__product .listWrap .listFilter
  {
    width: 100%;
    
  }

}
@media only screen and (max-width : 576px)
{

}
@media only screen and (max-width : 450px)
{


}
@media only screen and (max-width : 400px)
{


}