@media only screen and (max-width: 1199px){
    .d_my_form .my_form {
        width: 70%;
    }
}

@media only screen and (max-width: 991px){
    .d_my_form .my_form {
        width: 90%; 
    } 
    .my_prod .productExample {
        
        flex-direction: column;
        align-items: center;
    }
   .my_video {
       display: none;
   }
   .offer {
        background: url("../images/FirstScroll/girliandy-makro-fon.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
   }
   #features .media-body {
       justify-content: flex-start;
   }
   #features .card-body .media{
       align-items: center;
   }
   #features .card-body .media .media-body{
       justify-content: center;
    }
   h1 {
    font-size: 32px!important;
    }
    h2 {
        font-size: 22px!important;
    }
    h4 {
        font-size: 17px!important;
    }
    h3 {
        font-size: 21px!important;
    }
    .my_prod .nav-tabs .nav-link {
        font-size: 17px;
    }
    .my_prod .lead {
        font-size: 15px;
    }
    .my_prod h2 {
        font-size: 21px!important;
    }
    .prodEx p {
        font-size: 17px!important;
    }
    .advantages .d_adv {
        height: 100%;
    }
    #features .media img {
        height: 50px;
        width: 50px;
    }
}

@media only screen and (max-width: 767px){
    .d_my_form .my_form {
        width: 60%;
    }
    .d_title {
        padding-bottom: 30px;
    }
    .d_title h1{
        text-align: center;
    }
    .advantages .container .col-md-4 {
        padding: 15px 0;
    }
    p {
        font-size: 14px;
    }
    .prodEx p {
        font-size: 16px;
    }
    button {
        font-size: 14px!important;
    }
    .bGetPrice {
        padding: 10px 20px!important;
    }
    h1 {
        font-size: 30px!important;
    }
    h2 {
        font-size: 20px!important;
    }
    h4 {
        font-size: 16px!important;
    }
    h3 {
        font-size: 20px!important;
    }
    .my_prod .nav-tabs .nav-link {
        font-size: 16px;
    }
    footer .d_my_form {
        padding: 0 20%;
    }
    .my_prod .lead {
        font-size: 14px;
    }
    .my_prod h2 {
        font-size: 20px!important;
    }
    .my_input {
        font-size: 14px!important;
        margin: 10px 0!important;
        padding: 5px 25px!important;
    }
    .btn_send {
        margin-top: 10px!important;
    }
    .offer {
        padding-bottom: 10px!important;
    }
    .nav-menu {
        padding-bottom: 0;
    }
    .nav-menu .nav-link {
        font-size: 14px!important;
    }
    .section-title {
        margin-bottom: 10px!important;
    }
}

@media only screen and (max-width: 575px){
    .d_my_form .my_form {
        width: 70%;
    }
    .column575 {
        flex-direction: column;
    }
    h1 {
        font-size: 30px!important;
    }
    h2 {
        font-size: 22px;
    }
    h4 {
        font-size: 14px!important;
    }
    h3 {
        font-size: 20px;
    }
    .my_prod .nav-tabs .nav-link {
        font-size: 14px;
    }
}

@media only screen and (max-width: 449px){
    .d_my_form .my_form {
        width: 80%;
    }
    footer .d_my_form {
        padding: 0 10%;
    }
}

@media only screen and (max-width: 399px){
    .d_my_form .my_form {
        width: 90%;
    }
}