@media only screen and (max-width: 1199px){
    .d_my_form .my_form {
        width: 70%;
    }
}

@media only screen and (max-width: 991px){
    .d_my_form .my_form {
        width: 90%;
    }
}

@media only screen and (max-width: 767px){
    .d_my_form .my_form {
        width: 60%;
    }
    .d_title {
        padding-bottom: 30px;
    }
    .d_title h1{
        text-align: center;
    }
}

@media only screen and (max-width: 575px){
    .d_my_form .my_form {
        width: 70%;
    }
}

@media only screen and (max-width: 449px){
    .d_my_form .my_form {
        width: 80%;
    }
}

@media only screen and (max-width: 399px){
    .d_my_form .my_form {
        width: 90%;
    }
}