@media only screen and (min-width: 992px) {
    .my-navbar .d-navbar ul li .a-logo {
        display: none;
    }
    .my-navbar .d-navbar {
        background: transparent;
    }
    .my-navbar .d-navbar ul {
        margin-left: auto;
    }
}

@media only screen and (max-width: 991px) {
    .first-scroll .container-fluid .row .col-md-6 {
        display: none;
    }
    .my-navbar .d-navbar {
        background: #7E44C0;
    }
    .my-navbar .a-logo-first {
        display: none;
    }
} 