body {
  background: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 16px;
  color: #010036;
  margin: 0;
  padding: 0;
  position: relative;
  line-height: 1.6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body a {
  text-decoration: none;
  color: #010036;
}

body a:hover {
  text-decoration: none;
  color: #010036;
}

button {
  outline: none;
}

button:focus {
  outline: none;
}

.hidden {
  display: none;
}

section {
  padding: 50px 0;
  overflow: hidden;
}

.done {
  min-height: 100vh;
}

.row-eq-height {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

/* --- Navbar START ------------------------------------------------*/
.navbar {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background: rgba(255, 255, 255, 0);
}

.navbar .navbar-brand {
  padding: 0;
}

.navbar img {
  width: 40px;
  margin: 0;
  padding: 0;
}

.navbar .anim {
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
}

.navbar .anim span {
  color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform-origin: left;
          transform-origin: left;
}

.navbar .anim:before {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-bottom: 2px solid #1B99C1;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.navbar .anim:hover span {
  color: #1B99C1;
}

.navbar .anim:hover:before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.navbar p {
  font-size: 24px;
  text-shadow: 0px 0px 20px #fff;
  color: #fff;
  margin: 0;
  padding-right: 10px;
  display: inline-block;
}

.navbar .navbar-toggler-icon {
  background: url("../img/burger-light.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 2em;
  height: 2em;
}

.navbar .navbar-toggler-icon:focus {
  outline: none;
}

.navbar .navbar-toggler {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.navbar .navbar-toggler:focus {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  outline: none;
  border: 1px solid #fff;
}

.active {
  position: relative;
  overflow: hidden;
}

.active span {
  color: #1B99C1 !important;
}

.active:before {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-bottom: 2px solid #010036;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-animation: animate 7s linear infinite;
          animation: animate 7s linear infinite;
}

@-webkit-keyframes animate {
  0% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  50% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  51% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  100% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
}

@keyframes animate {
  0% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  50% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  51% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  100% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
}

.fixed-nav {
  background: rgba(255, 255, 255, 0.9);
  color: #55595c;
  padding: .4rem .4rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.5);
}

.fixed-nav .anim span {
  color: #010036;
}

.fixed-nav p {
  color: #010036;
}

.fixed-nav .navbar-toggler-icon {
  background: url("../img/burger-black.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 2em;
  height: 2em;
}

.fixed-nav .navbar-toggler-icon:focus {
  outline: none;
}

.fixed-nav .navbar-toggler {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.fixed-nav .navbar-toggler:focus {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  outline: none;
  border: 1px solid #010036;
}

.navbar-nav {
  text-align: center;
}

/* --- Navbar END ------------------------------------------------*/
/* --- Header start------------------------------------------------*/
.firstScroll {
  min-height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #000;
}

.firstScroll__snow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.firstScroll__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../img/mainBg2.png");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: auto 100%;
}

.firstScroll__title {
  margin-top: 50px;
  z-index: 2;
}

.firstScroll__title-sub h2 {
  text-align: center;
  background: linear-gradient(266.32deg, #FFFFFF 2.09%, rgba(162, 162, 162, 0.885417) 27.48%, rgba(255, 255, 255, 0.9) 52.35%, #A2A2A2 77.74%, #FFFFFF 99.57%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 40px;
  font-weight: 300;
  font-family: "Montserrat", sans-serif;
}

.firstScroll__title-main h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 75px;
  font-weight: 900;
  text-shadow: 4px 4px 20px rgba(194, 189, 71, 0.1);
  background: -webkit-gradient(linear, left top, right top, color-stop(0.16%, #573310), color-stop(0.72%, #573310), color-stop(5.09%, #5B3715), color-stop(10.84%, #754A24), color-stop(17.35%, #835B31), color-stop(24.39%, #AF8549), color-stop(27.6%, #CDA158), color-stop(29.96%, #CFA053), color-stop(50.63%, #D2C061), color-stop(66.87%, #CDA158), color-stop(68.71%, #CDA158), color-stop(72.18%, #A67D44), color-stop(77.76%, #926432), color-stop(82.88%, #7C4F21), color-stop(87.33%, #683E0D), color-stop(90.63%, #512F00), color-stop(100.18%, #512F00));
  background: linear-gradient(90deg, #573310 0.16%, #573310 0.72%, #5B3715 5.09%, #754A24 10.84%, #835B31 17.35%, #AF8549 24.39%, #CDA158 27.6%, #CFA053 29.96%, #D2C061 50.63%, #CDA158 66.87%, #CDA158 68.71%, #A67D44 72.18%, #926432 77.76%, #7C4F21 82.88%, #683E0D 87.33%, #512F00 90.63%, #512F00 100.18%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.firstScroll__title-small h3 {
  background: linear-gradient(259.99deg, #FFFFFF 2.09%, rgba(162, 162, 162, 0.885417) 27.48%, rgba(255, 255, 255, 0.9) 52.35%, #A2A2A2 77.74%, #FFFFFF 99.57%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Marck Script", cursive;
  font-size: 25px;
  text-align: right;
}

/* --- Header END ------------------------------------------------*/
/* --- About Start ------------------------------------------------*/
/* --- About END ------------------------------------------------*/
/* --- product Start ------------------------------------------------*/
/* --- product END ------------------------------------------------*/
/* --- ProductAll Start ------------------------------------------------*/
/* --- ProductAll END ------------------------------------------------*/
/* --- dropshipping Start ------------------------------------------------*/
/* --- dropshipping END ------------------------------------------------*/
/* --- action END ------------------------------------------------*/
/* --- action END ------------------------------------------------*/
/* --- advantage Start ------------------------------------------------*/
/* --- advantage END ------------------------------------------------*/
/* --- reviews Start ------------------------------------------------*/
/* --- reviews END ------------------------------------------------*/
/* --- contacts Start ------------------------------------------------*/
/* --- contacts END ------------------------------------------------*/
/* --- Button Start ------------------------------------------------*/
/* --- Button END ------------------------------------------------*/
/* --- Form START ------------------------------------------------*/
/* --- Form END ------------------------------------------------*/
/* --- Other START ------------------------------------------------*/
.slick-dots li button:before {
  font-size: 15px;
  color: #1B99C1 !important;
}

.slick-prev {
  left: -35px;
  width: 40px;
  height: 40px;
  z-index: 99;
}

.slick-prev:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-top: 5px solid #1B99C1;
  border-right: 5px solid #1B99C1;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.slick-next {
  right: -35px;
  width: 40px;
  height: 40px;
}

.slick-next:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-top: 5px solid #1B99C1;
  border-right: 5px solid #1B99C1;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slick-track .slick-slide {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.callButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
}

.callButton a span {
  background: #1B99C1;
  border-radius: 50%;
  display: block;
  border: #1B99C1;
  width: 60px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.callButton a span:after {
  background: #1B99C1;
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border: 2px solid #1B99C1;
  border-radius: 50%;
  -webkit-animation-name: borderAfter;
          animation-name: borderAfter;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  opacity: 0.8;
}

.callButton a span:before {
  background: #1B99C1;
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border: 2px solid #1B99C1;
  border-radius: 50%;
  -webkit-animation-name: borderAfter;
          animation-name: borderAfter;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  opacity: 0.8;
}

.callButton a span i {
  color: #fff;
  font-size: 35px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-animation-name: phoneRotate;
          animation-name: phoneRotate;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.callButton a:hover span i {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #fff;
}

@-webkit-keyframes phoneRotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes phoneRotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes borderAfter {
  20%, 100% {
    background: #1B99C1;
    border: 2px solid #1B99C1;
    top: -20px;
    left: -20px;
    bottom: -20px;
    right: -20px;
    opacity: 0;
  }
}

@keyframes borderAfter {
  20%, 100% {
    background: #1B99C1;
    border: 2px solid #1B99C1;
    top: -20px;
    left: -20px;
    bottom: -20px;
    right: -20px;
    opacity: 0;
  }
}
/*# sourceMappingURL=main.css.map */