/* line 1, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
body {
  background: #CBCDAE;
 }

/* line 4, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
a {
  font-family: 'Libre Franklin', sans-serif; }
  /* line 6, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
  a:hover {
    text-decoration: none; }

/* line 9, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
p {
  font-family: 'Libre Franklin', sans-serif; }

/* line 12, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
.header {
  height: 60px;
  z-index: 2;
  background-color: rgba(59, 57, 45, 0.8); }
  /* line 16, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
  .header .logo {
    height: 100%;
    z-index: -1;
    display: flex;
    align-items: center; }
    /* line 21, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
    .header .logo .logo-wrap {
      display: inline-flex; }
      /* line 23, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
      .header .logo .logo-wrap .logo-fire {
        border: 1px solid #3b1836; }
      /* line 25, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
      .header .logo .logo-wrap .logo-img {
        margin-left: 5px; }

/* line 28, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
.border-btm {
  border-bottom: 1px solid #8E8E8E; }

/* line 31, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
.border-btm-transparent {
  border-bottom: 1px solid rgba(111, 128, 144, 0); }

/* line 34, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
.scrolDown {
  background-color: #2B2B23; }

/* line 37, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
.backgroundTransparent {
  background-color: transparent; }

/* line 40, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
.mCont {
  width: 100%;
  display: flex;
  align-items: center; }

/* line 45, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
.navbar {
  padding: 0;
  width: 100%;
  z-index: 2;
  border-bottom: 1px solid transparent; }

/* line 51, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
.navbar-nav {
  flex-direction: row;
  margin-left: auto; }
  /* line 54, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
  .navbar-nav .num-tel {
    display: flex;
    flex-direction: column;
    padding-right: 20px; }
    /* line 58, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
    .navbar-nav .num-tel a {
      color: #fff;
      text-shadow: 1px 1px 1px #D5D5D5; }
  /* line 61, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
  .navbar-nav .nav-item-zp {
    position: fixed;
    top: 12px;
    left: 250px;
    right: 0; }
    /* line 66, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
    .navbar-nav .nav-item-zp p {
      color: #fff;
      margin: 0;
      padding-top: 3px;
      padding-bottom: 2px;
      color: #fff;
      text-shadow: 1px 1px 1px #D5D5D5;
      font-size: 19px; }

/* line 80, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
.ham {
    position: fixed;
    top: 4px;
    right: 1px; 
    z-index: 10;
    stroke: #fff; }

.ham-disabled {
  display: none; }

/* line 86, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
.tr0 {
  transition: .1s;
  transform: scaleY(0);
  transform-origin: top; }

/* line 91, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
.tr1 {
  transition: .3s;
  transform: scaleY(1);
  transform-origin: top; }

/* line 108, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
.FirstScroll {
  padding-top: 60px;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  background: url("../image/pamyatnik-poster.png");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
  /* line 119, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
  .FirstScroll h1 {
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    color: #fff;
    line-height: 1.1;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px #FEFEFE, 0 0 1em #a6a7aa;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    padding: 20px; }
  /* line 130, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
  .FirstScroll h2 {
    text-align: left;
    font-size: 22px;
    font-weight: 700;
    color: #fff;
    line-height: 1.1;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px #FEFEFE, 0 0 1em #a6a7aa;
    border-bottom: 1px solid #fff;
    padding: 20px; }
  /* line 140, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
  .FirstScroll p {
    color: #FEFEFE;
    font-size: 22px;
    font-weight: 400;
    text-shadow: 1px 1px 2px #a6a7aa, 1em 2em 5em #5C5F61;
    line-height: 1.4; }
  /* line 146, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
  .FirstScroll .row {
    height: 100%; }
  /* line 148, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
  .FirstScroll .trigger {
    margin-top: 5px; }
    /* line 150, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
    .FirstScroll .trigger .stock {
      padding-left: 24px;
      display: inline;
      width: 100%; }
      /* line 154, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
      .FirstScroll .trigger .stock p {
        text-align: left; }
      /* line 156, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
      .FirstScroll .trigger .stock .akcia {
        width: 100%; }
        /* line 158, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
        .FirstScroll .trigger .stock .akcia .row {
          width: 100%; }
          /* line 160, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
          .FirstScroll .trigger .stock .akcia .row .col-md-6 {
            justify-content: center; }
            /* line 162, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
            .FirstScroll .trigger .stock .akcia .row .col-md-6 p {
              color: #FF1818;
              text-shadow: 0px 0px 1px #FF1818; }
    /* line 165, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
    .FirstScroll .trigger div {
      display: flex; }
      /* line 167, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
      .FirstScroll .trigger div i {
        font-size: 22px;
        padding-top: 4px;
        color: #fff;
        padding-left: 5px; }
      /* line 172, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
      .FirstScroll .trigger div p {
        margin: 0;
        margin-bottom: 10px;
        padding-left: 15px; }

/* line 178, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
.about-us-title-div {
  width: 100%;
  padding-bottom: 20px; }
  /* line 181, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
  .about-us-title-div h2 {
    text-align: center;
    margin: auto;
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    width: 120px;
    padding-bottom: 5px;
    border-radius: 3px; }

/* line 190, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
.first-scroll-offer {
  padding-bottom: 20px; }

/* line 194, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
.carousel-centered {
  text-align: left; }
  /* line 196, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
  .carousel-centered .carousel-col {
    padding-bottom: 50px; }

/* line 199, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
.carousel-col-btm {
  text-align: center; }

/* line 210, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
.TwoScroll {
  height: 100vh;
  height: 100%;
  background: #f0f0f0;
  padding-top: 100px;
  padding-bottom: 100px;
  margin: auto; }
  /* line 217, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
  .TwoScroll h1 {
    color: #515769; }
  /* line 219, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
  .TwoScroll .container {
    padding: 0; }

/* line 222, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
.two-scr {
  background-color: #fff;
  padding-bottom: 50px;
  padding-left: 20px;
  padding-right: 20px;
  margin: auto; }

/* line 229, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
.our_work {
  text-align: center;
  max-width: 250px;
  margin-top: 50px;
  padding: 0;
  padding-bottom: 10px;
  transition: .7s;
  box-shadow: 1px 1px 1px #B1B2B3, 0.5em 0.5em 0.5em #5C5F61; }
  /* line 237, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
  .our_work img {
    height: 280px;
    width: 100%;
    margin-bottom: 10px; }
  /* line 241, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
  .our_work:hover {
    transition: .7s;
    box-shadow: 2px 2px 1px #E4E9ED, 1em 2em 1em #5C5F61; }
  /* line 244, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
  .our_work a {
    color: #4E5967;
    font-weight: 400; }
    /* line 247, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
    .our_work a:hover {
      transition: .7s;
      text-shadow: 1px 1px 1px #2E2E31; }

/* line 251, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
.our-work-title {
  text-align: center;
  padding: 5px; }
  /* line 254, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
  .our-work-title h1 {
    margin-top: 15px; }

/* line 257, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
.font-size30 {
  font-size: 30px; }

/* line 266, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
.about-us {
  padding-top: 50px;
  padding-bottom: 50px;
  min-height: 100vh;
  height: 100%;
  display: flex;
  align-items: center; }
  /* line 273, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
  .about-us h1 {
    text-align: center;
    font-size: 75px;
    font-weight: 900;
    animation-name: example;
    animation-duration: 5s;
    animation-iteration-count: infinite; }
  /* line 280, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
  .about-us .col {
    background-color: rgba(0, 0, 0, 0.5); }

/* line 289, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
.list_ {
  list-style: none; }
  /* line 291, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
  .list_ li {
    display: flex; }
    /* line 293, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
    .list_ li p {
      font-size: 18px;
      padding: 10px;
      text-shadow: 0px 0px 1px #302391; }
    /* line 297, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
    .list_ li i {
      font-size: 25px;
      padding: 10px; }
    /* line 300, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
    .list_ li .fa-viber {
      color: #7B58EA; }
    /* line 302, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
    .list_ li .fa-telegram {
      color: #269EDA; }

/* line 306, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
.footer .footer-list-link {
  color: #5C8288; }

/* line 311, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
.footer .footer-list-link:hover {
  color: #615C88; }

/* line 316, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
.footer .col-sm-7 h2 {
  padding-bottom: 20px; }

/* line 318, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
.footer .col-sm-7 .list_ {
  padding-left: 0; }

/* line 320, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
.footer .col-sm-7 h4 {
  text-shadow: 0px 0px 1px #302391; }

/* line 327, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
.descr-about-us {
  height: 100%;
  display: flex;
  align-items: center; }
  /* line 331, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
  .descr-about-us p {
    text-align: center;
    padding: 10px;
    color: #fff;
    text-shadow: 1px 1px 1px #FEFEFE, 0 0 1em #a6a7aa; }

/* line 342, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
.delivery {
  display: flex;
  align-items: center;
  min-height: 100vh;
  background: #fff; }
  /* line 348, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
  .delivery .container-fluid .button-buy {
    text-align: center;
    padding-top: 50px; }
    /* line 351, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
    .delivery .container-fluid .button-buy a {
      border: 1px solid transparent;
      background: #943CC6;
      padding: 15px 30px;
      color: #fff; }
      /* line 356, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
      .delivery .container-fluid .button-buy a:hover {
        border-color: #943CC6;
        background: #fff;
        color: #943CC6; }
  /* line 360, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
  .delivery .container-fluid .delivery-title-div {
    text-align: center;
    padding-bottom: 50px; }
  /* line 363, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
  .delivery .col {
    text-align: center; }
    /* line 366, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
    .delivery .col div p {
      padding-top: 10px; }

/* line 376, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
.advantages {
  min-height: 100vh;
  height: 100%; }
  /* line 379, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
  .advantages .container-fluid {
    text-align: center;
    margin-top: 30px; }
    /* line 382, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
    .advantages .container-fluid .adv-title {
      margin: auto;
      width: 280px;
      background: #fff;
      transform: skewX(160deg);
      border: 2px solid #000; }
      /* line 388, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
      .advantages .container-fluid .adv-title h2 {
        color: #000;
        transform: skewX(-160deg); }
    /* line 391, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
    .advantages .container-fluid .cont-columns {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center; }
      /* line 396, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
      .advantages .container-fluid .cont-columns h2 {
        color: #000;
        text-align: center; }
      /* line 399, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
      .advantages .container-fluid .cont-columns .col-common {
        height: 70%;
        border: 2px solid #000;
        background-color: #fff;
        transform: skewX(160deg);
        padding-top: 30px;
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.7); }
      /* line 406, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
      .advantages .container-fluid .cont-columns .col2 {
        right: 100px;
        width: 600px;
        margin-left: 10px;
        display: flex;
        align-items: center;
        padding: 50px; }
        /* line 413, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
        .advantages .container-fluid .cont-columns .col2 p {
          text-align: center;
          color: #000;
          transform: skewX(-160deg); }
      /* line 417, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
      .advantages .container-fluid .cont-columns .col1 {
        width: 500px;
        margin-right: 10px; }
        /* line 420, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
        .advantages .container-fluid .cont-columns .col1 .adv-col-all {
          text-align: center;
          transform: skewX(-160deg); }
          /* line 423, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
          .advantages .container-fluid .cont-columns .col1 .adv-col-all h2 {
            padding-bottom: 20px; }
            /* line 425, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
            .advantages .container-fluid .cont-columns .col1 .adv-col-all h2 i {
              margin-right: 20px; }

/* line 429, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
.advantages-desc {
  overflow: hidden; }

/* line 437, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
.reviews {
  background-color: #FAFAFA; }

/* line 445, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
.hidden {
  display: none;
  text-align: center; }

/* line 449, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
.formFb {
  padding: 20px 20px;
  background: rgba(250, 250, 250, 0.4);
  max-width: 320px;
  margin: auto;
  position: relative;
  text-align: center;
  border: 2px solid #943CC6;
  border-radius: 3px; }
  /* line 458, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
  .formFb input {
    width: 100%; }
  /* line 460, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
  .formFb .input-name {
    margin-top: 35px;
    margin-bottom: 20px; }
  /* line 463, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
  .formFb .input-phone {
    margin-bottom: 20px; }
  /* line 465, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
  .formFb button {
    border-radius: 3px;
    padding: 5px 10px; }

/* line 470, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
.btn-disabled {
  border: 2px solid rgba(253, 83, 83, 0.8);
  background: rgba(250, 250, 250, 0.7); }
  /* line 473, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
  .btn-disabled:hover {
    cursor: default; }

/* line 476, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
.btn-enabled {
  background: #fafafa;
  border: 2px solid rgba(148, 60, 198, 0.8); }
  /* line 479, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
  .btn-enabled:hover {
    cursor: pointer; }

/*# sourceMappingURL=myStyle.css.map */
