/* Nav */

.header .nav-item-fb {
    border: 1px solid #fff;
    padding: 2px 10px;
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    text-shadow: 1px 1px 1px #D5D5D5;
    border-radius: 2px;
}

.header .nav-item-fb:hover{
    background: linear-gradient(to bottom, #3B392D, #9057A4);
}

.header .nav-item {
  position: relative;
  display: flex;
    align-items: center;
}

.header .nav-item:last-child .nav-item-child {
  padding-right: 0;
}

.header .nav-item:hover .nav-item-hover:after {
  opacity: 1;
  transition-duration: 400ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

.header .nav-item-child {
  position: relative;
  display: block;
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  text-shadow: 1px 1px 1px #D5D5D5;
  line-height: 15px;
  padding: auto;
    padding-left: 20px;
    padding-right: 20px;
}


.header .nav-item-hover {
  position: relative;
}

.header .nav-item-hover:after {
    position: absolute;
    top: 7px;
    left: 5px;
    width: 9px;
    height: 2px;
    background: #fff;
    opacity: 0;
    content: " ";
    transition-duration: 400ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}
