$main_color: #403e3d
$main_color_light: #777
$main_white: #fff
$main_rgb: #e64b3c
$main_bg: #f5f5f5
$main_bg_two: #e6e6e6
$main_bg_light: #f8f8f8
$main_bg_dark: #232323


body
	background: $main_white
	font-family: 'Roboto', sans-serif
	font-weight: normal
	font-size: 16px
	color: $main_color
	margin: 0
	padding: 0
	position: relative
	line-height: 1.6
	box-sizing: border-box
	a
		text-decoration: none
		color: $main_color
		&:hover
			text-decoration: none
			color: $main_color
button
	outline: none
	&:focus
		outline: none
.hidden
	display: none

section
	padding: 50px 0
	overflow: hidden
.done
	min-height: 100vh
.row-eq-height
	display: flex
	flex-wrap: wrap
img
	max-width: 100%
	height: auto

/* --- Navbar START ------------------------------------------------*/
.navbar
	transition: 0.5s
	background: $main_bg_dark
	.navbar-brand
		padding: 0
	img
		width: 40px
		margin: 0
		padding: 0
	.anim
		text-transform: uppercase
		position: relative
		overflow: hidden
		span
			color: $main_white
			transition: 0.5s
			transform-origin: left
		&:before
			transition: 0.5s
			position: absolute
			content: ''
			top: 0
			left: 0
			width: 100%
			height: 100%
			border-bottom: 2px solid $main_rgb
			transform-origin: center
			transform: scaleX(0)
		&:hover
			span
				color: $main_rgb
			&:before
				transform: scaleX(1)
	p
		font-size: 24px
		text-shadow: 0px 0px 20px $main_white
		color: $main_white
		margin: 0
		padding-right: 10px
		display: inline-block
		span
			color: $main_rgb
	.navbar-toggler-icon
		background: url('../img/burger-light.png')
		background-size: 100% 100%
		background-repeat: no-repeat
		width: 2em
		height: 2em
		&:focus
			outline: none
	.navbar-toggler
		transition: 0.3s
		&:focus
			transition: 0.3s
			outline: none
			border: 1px solid #fff
	.phoneFixed
		a
			color: $main_white
.active
	position: relative
	overflow: hidden
	span
		color: $main_rgb !important
	&:before
		transition: 0.5s
		position: absolute
		content: ''
		top: 0
		left: 0
		width: 100%
		height: 100%
		border-bottom: 2px solid $main_color
		transform-origin: right
		transform: scaleX(0)
		animation: animate 7s linear infinite
@keyframes animate 
	0%
		transform-origin: right
		transform: scaleX(0)
	50%
		transform-origin: right
		transform: scaleX(1)
	51%
		transform-origin: right
		transform: scaleX(1)
	100%
		transform-origin: right
		transform: scaleX(0)
.fixed-nav
	.anim
		span
			color: $main_white
	p
		color: $main_white
	background: $main_bg_dark
	color: $main_white
	padding: .4rem .4rem
	transition: 0.5s
	box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.5)
	.navbar-toggler-icon
		background: url('../img/burger-light.png')
		background-size: 100% 100%
		background-repeat: no-repeat
		width: 2em
		height: 2em
		&:focus
			outline: none
	.navbar-toggler
		transition: 0.3s
		&:focus
			transition: 0.3s
			outline: none
			border: 1px solid $main_color
.navbar-nav
	text-align: center
	
/* --- Navbar END ------------------------------------------------*/



/* --- headerCont start------------------------------------------------*/	
.bgMain
	background: url('../img/mainBg.jpg')
	background-size: cover
	background-position: center center
	background-repeat: no-repeat
	background-attachment: fixed
.headerCont
	min-height: 100vh
	display: flex
	flex-direction: column
	justify-content: center
	align-items: center
	flex-wrap: nowrap
	.txtCont
		text-align: center
		padding: 10px
		hr
			background-color: $main_rgb
			border: 1px solid $main_rgb
			width: 90%
		h1, h2
			text-transform: uppercase
			color: $main_white
			padding: 0
			margin: 0
		ul
			margin-right: auto
			margin-right: auto
			text-align: left
			display: block
			color: $main_white
			list-style: none
			font-size: 20px
			li
				text-transform: uppercase
				position: relative
				i
					color: $main_rgb
					font-size: 24px
					position: absolute
					top: 5px
					left: -30px
	.btnCont
		width: 100%
		display: flex
		flex-direction: row
		justify-content: space-around
		flex-wrap: wrap
/* --- headerCont END ------------------------------------------------*/	


/* --- How Start ------------------------------------------------*/
.how
	position: relative
	text-align: center
	&_cont
		box-shadow: 0px 2px 3px 0px $main_color
		.txtWrap
			padding: 10px
			background: $main_bg
			h4
				text-transform: uppercase
				margin: 0
				color: $main_rgb
		.imgWrap
		.descWrap
			padding: 10px
			background: $main_bg
			p
				margin: 0
				padding: 0
/* --- How END ------------------------------------------------*/	


/* --- product Start ------------------------------------------------*/
.prod
	background: $main_bg
	position: relative
	.iconBg
		position: absolute
		right: 2%
		bottom: 1%
		font-size: 15rem
		color: $main_bg_two
	&_cont
		box-shadow: 0px 2px 3px 0px $main_color
		margin-bottom: 20px
		background: #fff
		display: flex
		flex-direction: row
		flex-wrap: nowrap
		.imgWrap
			width: 50%
			img
				display: block
				margin-left: auto
				margin-right: auto
		.txtWrap
			width: 50%
			margin-left: auto
			margin-right: auto
			align-self: center
			padding: 10px
			text-align: center
			p
				font-weight: bold
				text-transform: uppercase
				padding: 0
				margin: 0
/* --- product END ------------------------------------------------*/	

/* --- advForm Start ------------------------------------------------*/
.advForm
	background: url('../img/advBg.jpg')
	background-size: cover
	background-position: center center
	background-repeat: no-repeat
	min-height: 670px
	display: flex
	justify-content: center
	align-items: stretch
	align-content: stretch
	flex-direction: column
	&_cont
		height: 100%
		display: flex
		flex-direction: column
		justify-content: space-between
		.advWrap
			box-shadow: 0px 2px 3px 0px $main_color
			background: $main_white
			position: relative
			margin-bottom: 40px
			i
				position: absolute
				bottom: 0%
				left: 5%
				font-size: 7rem
				color: $main_rgb
				opacity: 0.2
			.txtWrap
				height: 100%
				align-self: center
				padding: 10px
				h4
					padding: 0
					margin: 0
					font-weight: bold
				p
					padding: 0
					margin: 0
/* --- advForm END ------------------------------------------------*/	


/* --- advMain Start ------------------------------------------------*/
.advMain
	&_cont
		.advWrap
			display: flex
			flex-wrap: nowrap
			justify-content: center
			align-items: center
			position: relative
			margin-bottom: 20px
			span
				position: absolute
				left: 10%
				top: 50%
				font-size: 7rem
				line-height: 0
				transform: translate(-50%, -50%)
				color: $main_rgb
				opacity: 0.2
				font-weight: bold
			.imgWrap
				width: 20%
				img
					display: block
					margin-left: auto
					margin-right: auto
			.txtWrap
				text-align: center
				width: 80%
				padding: 10px
				p
					font-weight: bold
					text-transform: uppercase
					padding: 0
					margin: 0
	.sliderAdv
		.sliderCont
			text-align: center
			.txtWrap
				padding: 10px
				h4
					color: $main_rgb
					text-transform: uppercase
					margin: 0
					padding: 0
			.imgWrap
				img
					display: block
					margin-left: auto
					margin-right: auto
			.descrWrap
				padding: 10px
				p
					padding: 0
					margin: 0
	.slick-dots
		li
			button
				&:before
					content: '-'
					font-size: 100px
					color: $main_rgb
/* --- advMain END ------------------------------------------------*/	




/* --- reviews Start ------------------------------------------------*/
.rev
	background: $main_bg
	text-align: center
	.slick-dots
		li
			button
				&:before
					content: '-'
					font-size: 100px
					color: $main_rgb
	.revWrap
		position: relative
		padding: 10px
		display: flex
		flex-wrap: wrap
		flex-direction: row
		margin: 5px
		height: 100%
		&:focus
			outline: none
		.imgWrap
			width: 30%	
			img
				display: block
				margin-left: auto
				margin-right: auto
		.txtWrap
			padding: 5px
			width: 70%
			display: flex
			justify-content: center
			align-items: center
		&:after
			content: ''
			position: absolute
			top: 0
			left: 0
			width: 50%
			height: 50%
			border-top: 2px solid $main_rgb
			border-left: 2px solid $main_rgb
		&:before
			content: ''
			position: absolute
			bottom: 0
			right: 0
			width: 50%
			height: 50%
			border-bottom: 2px solid $main_rgb
			border-right: 2px solid $main_rgb
/* --- reviews END ------------------------------------------------*/	



/* --- contacts Start ------------------------------------------------*/
.contacts
	background: $main_bg_two
	.textWrap
		background: rgba(255,255,255, .7)
		padding: 10px
		a
			display: block
		i
			font-size: 20px
			margin-right: 10px
			color: $main_rgb
		.fbinst
			font-size: 30px
	iframe
		width: 100%
		height: 300px
/* --- contacts END ------------------------------------------------*/



/* --- Button Start ------------------------------------------------*/
.mainBtnDark
	border: 1px solid $main_rgb
	display: inline-block
	padding: 10px
	width: 280px
	text-align: center
	background: $main_rgb
	color: $main_white
	margin: 10px
	transition: 0.3s
	position: relative
	box-shadow: 0px 2px 3px 0px $main_bg_dark
	span
		color: $main_white
		mix-blend-mode: screen
	&:before
		content: ''
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		background: rgba($main_white, .4)
		transition: 0.3s
		transform-origin: left
		transform: scaleX(0)
	&:hover
		transition: 0.3s
		border: 1px solid rgba($main_white, .4)
		&:before
			transition: 0.3s
			transform: scaleX(1)
	&:disabled
		border: 1px solid rgba($main_white, .6)
		&:before
			background: rgba($main_white, .6)
			transform: scaleX(1)
/* --- Button END ------------------------------------------------*/	


/* --- Form START ------------------------------------------------*/
.advOpenForm
	text-align: center
	h3
		padding: 10px
		background: rgba($main_color, .7)
		color: $main_white
	h4
		color: $main_rgb
		background: rgba($main_white, .7)
		padding: 10px
		text-decoration: underline
		font-style: italic
	input
		display: block
		margin-right: auto
		margin-left: auto
		width: 260px
		text-align: center
		margin-bottom: 20px
		padding: 10px
		font-size: 18px
		border: none
		border-bottom: 2px solid $main_rgb
		background: rgba($main_bg, .8)
	textarea
		text-align: center
		width: 260px
		height: 100px
		display: block
		margin-right: auto
		margin-left: auto
		margin-bottom: 10px
	::placeholder
		color: $main_bg_dark
	.mainBtnDark
		width: 260px



.formOpen
	position: relative
	box-shadow: 0 2px 3px 0 $main_color_light
	text-align: center
	padding: 20px 15px 20px 15px
	width: 300px
	max-width: 100%
	background: $main_bg
	input
		padding: 10px 5px 10px 5px
		width: 100%
		text-align: center
		margin-bottom: 15px
	.mainBtnDark
		width: 250px
/* --- Form END ------------------------------------------------*/	


/* --- Other START ------------------------------------------------*/	
.mainH
	text-align: center
	text-transform: uppercase
	i
		color: $main_rgb
		text-transform: uppercase
	
