@import "../sass/fonts"
	
$main_color: #3F3F3F
$main_white: #fff
$main_rgb: #007C0F
$main_rgbS: #FFB800
$main_bg: #F4F4F4


body
	background: $main_white
	font-family: 'SF UI Display Light'
	font-weight: normal
	font-size: 16px
	color: $main_color
	margin: 0
	padding: 0
	position: relative
	line-height: 1.6
	box-sizing: border-box
	a
		text-decoration: none
		color: $main_color
		&:hover
			text-decoration: none
			color: $main_color
button
	outline: none
	&:focus
		outline: none
.hidden
	display: none

section
	padding: 50px 0
	overflow: hidden
.done
	min-height: 100vh
.row-eq-height
	display: flex
	flex-wrap: wrap

/* --- menuBtn Start ------------------------------------------------*/
.menuBtn
	position: fixed
	top: 20px
	right: 20px
	width: 30px
	height: 29px
	z-index: 55
	display: none
	justify-content: space-around
	align-items: center
	flex-direction: column
	background: $main_rgb
	border-radius: 2px
	span
		transition: .3s
		transform: rotate(0) translate(0)
.menuBtnHide
	span
		transition: .3s
		transform: rotate(0) translate(0)
		display: block
		width: 80%
		height: 3px
		background: $main_white
.menuBtnShow
	background: none
	span
		transition: .3s
		display: block
		width: 100%
		height: 3px
		background: $main_rgb
		&:nth-child(1)
			transform: rotate(45deg)
		&:nth-child(2)
			display: none
		&:nth-child(3)
			transform: rotate(-45deg) translate(10px, -10px)
/* --- menuBtn end ------------------------------------------------*/

/* --- Navbar START ------------------------------------------------*/
.navMobile
	background: $main_white
	padding: 0 0 20px 0
	min-height: 100vh
	position: fixed
	width: 200px
	right: 0
	z-index: 50
	transition: .3s
	display: flex
	flex-direction: column
	overflow: hidden
	box-shadow: -6px 0px 5px rgba(0, 0, 0, 0.1)
	&__title
		padding: 20px 10px
		margin-top: 0
		background: $main_white
		position: relative
		&:after
			content: ''
			position: absolute
			bottom: 0
			left: 0
			width: 60%
			height: 6px
			background: $main_rgb
		img
			width: 60%
			display: block
			margin-right: auto
			margin-bottom: 20px
		h4
			margin: 0 0 20px 0
			font-weight: bold
			color: $main_rgb
			font-size: 24px
			text-transform: uppercase
	hr
		background: $main_bg
		width: 100%
		height: 1px
	&__list
		margin: auto 0
		padding: 10px
		list-style: none
		ul
			padding: 0
			margin: 0
			list-style: none
			li
				margin-bottom: 10px
				a
					color: $main_color
					font-size: 16px
					text-transform: uppercase
					font-weight: bold
					position: relative
					padding-bottom: 10px
					&:after
						transition: .3s
						position: absolute
						content: ''
						top: 0
						left: 0
						width: 100%
						height: 100%
						border-bottom: 2px solid $main_rgb
						transform: translateY(50%)
						opacity: 0
					&:hover
						&:after
							transition: .3s
							transform: translateY(0)
							opacity: 1
				.active
					&:after
						transition: .3s
						transform: translateY(0)
						opacity: 1
	&__contacts
		padding: 10px
		display: flex
		flex-direction: column
		p, a
			font-size: 16px
			color: $main_color
			i
				color: $main_color
		a
			transition: .3s
			&:hover
				transition: .3s
				color: $main_rgb
	&__social
		padding: 10px
		width: 100%
		display: flex
		justify-content: flex-start
		a
			font-size: 30px
			i
				color: $main_color
.navMobileShow
	transition: .3s
	transform: translateY(0) !important
.navMobileHide
	transition: .3s
	transform: translateY(-200%) !important
/* --- Navbar END ------------------------------------------------*/

/* --- nacDesc Start ------------------------------------------------*/
.navDesc
	position: fixed
	top: 0
	left: 0
	width: 100%
	z-index: 9999
	&:before
		content: ''
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 80%
		background: $main_white
		z-index: -1
	.container
		display: flex
		justify-content: space-between
		align-items: center
	&__logo
		padding: 10px
		border-radius: 50%
		background: $main_white
		img
			display: block
			margin-left: auto
			margin-right: auto
			width: 80%
			max-width: 100%
	&__list
		ul
			margin: 0 0 20px 0
			padding: 0
			display: flex
			list-style: none
			li
				margin: 0 10px
				a
					transition: .3s
					&:hover
						transition: .3s
						color: $main_rgb
	&__phone
		margin: 0 0 20px 0
		a
			margin: 0 0 10px 0
			i
				color: $main_rgb	
	&__cart
		margin: 0 0 20px 0
		a
			font-size: 20px
			i
				color: $main_rgb
	&__line
		margin-bottom: 30px
		height: 70px
		width: 1px
		background: $main_bg
	@media(max-width: 992px)
		display: none
/* --- nacDesc end ------------------------------------------------*/


/* --- first Start ------------------------------------------------*/
.first
	padding: 0
	min-height: 100vh
	background: url('../img/fbg.png')
	background-position: center center
	background-repeat: no-repeat
	background-size: cover
	.container
		min-height: 100vh
		display: flex
		flex-direction: column
		padding: 50px 5px 30px 5px
		position: relative
	&__title
		margin-bottom: auto
		margin-top: auto
		h1
			font-size: 73px
			font-weight: 300
			text-shadow: 0px 12px 20px rgba(0, 0, 0, 0.14)
			color: $main_rgb
			text-transform: uppercase
			margin-bottom: 20px
		h2
			font-size: 32px
			font-weight: 300
	&__subtitle
		margin-bottom: auto
		h3
			font-size: 24px
			font-weight: 300
	&__btn
		background: rgba($main_rgb, .7)
		display: flex
		align-items: center
		padding: 50px 0
		border-radius: 0 200em 200em 0
		position: relative
		&:after
			content: ''
			position: absolute
			top: 0
			left: -100%
			width: 100%
			height: 100%
			background: rgba($main_rgb, .7)
		&-wrap
		&-desc
			padding-left: 40px
			p
				padding: 0
				margin: 0
				color: $main_white
				font-size: 20px
	&__img
		position: absolute
		top: 40%
		right: -10%
		z-index: 49
		img
			width: 100%
		@media(max-width: 1400px)
			img
				width: 80%
		@media(max-width: 1200px)
			right: -20%
			img
				width: 70%
	@media(max-width: 992px)
		.container
			padding: 30px 5px
		&__title
			h1
				font-size: 30px
			h2
				font-size: 24px
		&__subtitle
			h3
				font-size: 20px
		&__img
			position: relative
		&__btn
			border-radius: 0
			padding: 10px
			flex-direction: column-reverse
			&:after
				position: relative
			&-desc
				padding: 0
				p
					font-size: 16px
					text-align: center
/* --- first end ------------------------------------------------*/

/* --- about Start ------------------------------------------------*/
.about
	position: relative
	&__slider
		@media(max-width: 992px)
			display: none
		.prod__wrap
			padding: 5px
			outline: none
			margin: 10px 20px
			box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.14)
			&-img
				margin-left: auto
				margin-right: auto
				width: 30%
				margin-bottom: 5px	
			&-name
				margin-bottom: 5px
				h4
					font-size: 18px
			&-price
				margin-bottom: 5px
				p
					font-size: 18px
			&-btn
				margin-bottom: 5px
				.mainBtn
					padding: 5px
	.slick-prev
		left: 50%
		transform: translateX(-50%)
		top: -40px
		bottom: inherit
		width: 40px
		height: 40px
		z-index: 99
		background: $main_rgb
		transition: .3s
		border-radius: 0
		&:hover
			transition: .3s
			i
				transition: .3s
				background: $main_rgbS
				color: $main_white
		&:before
			display: none
		i
			border-radius: 0
			transition: .3s
			color: $main_white
			font-size: 22px
			background: $main_rgb
			width: 100%
			height: 100%
			display: flex
			justify-content: center
			align-items: center
	.slick-next
		border-radius: 0
		top: inherit
		bottom: -40px
		left: 50%
		transform: translateX(-50%)
		width: 40px
		height: 40px
		z-index: 99
		background: $main_rgb
		transition: .3s
		&:hover
			transition: .3s
			i
				transition: .3s
				background: $main_rgbS
				color: $main_white
		&:before
			display: none
		i
			border-radius: 0
			transition: .3s
			color: $main_white
			font-size: 22px
			background: $main_rgb
			width: 100%
			height: 100%
			display: flex
			justify-content: center
			align-items: center
	.mainTitle
		text-align: left
		&:after
			left: 0
			transform: translateX(0)
	&__leftBg
		position: absolute
		left: 0
		bottom: 0
		z-index: -1
		img
			max-width: 100%
	&__rightBg
		top: 0
		right: 0
		position: absolute
		z-index: -1
		img
			max-width: 100%
	&__desc
		padding: 10px 10px 10px 0
		background: rgba($main_white, .7)
		h3
			text-transform: uppercase
			margin-bottom: 20px
			font-size: 24px
			font-weight: 300
			color: $main_rgb
		p
			font-weight: 300
/* --- about end ------------------------------------------------*/


/* --- prod Start ------------------------------------------------*/
.prod
	background: $main_bg
	box-shadow: inset 0px 5px 10px -5px rgba(0,0,0,0.75)
	&__wrap
		padding: 20px 10px
		background: $main_white
		box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.14)
		height: 100%
		display: flex
		justify-content: space-between
		flex-direction: column
		&-img
			margin-bottom: 20px
			img
				display: block
				margin-left: auto
				margin-right: auto
				max-width: 100%
		&-name
			margin-bottom: 10px
			text-align: center
			h4
				margin: 0
				padding: 0
				font-size: 22px
				font-weight: 300
		&-price
			text-align: center
			margin-bottom: 10px
			p
				font-size: 24px
				font-weight: bold
				padding: 0
				margin: 0
		&-btn
			margin-bottom: 10px
			.mainBtn
				background: $main_rgb
				border: 1px solid $main_rgb
				&:hover
					background: $main_rgbS
					border: 1px solid $main_rgbS
		&-more
			text-align: center
			a
				color: $main_rgb
				transition: .3s
				padding-bottom: 5px
				position: relative
				&:before
					bottom: 0
					width: 100%
					height: 1px
					left: 0
					content: ''
					position: absolute
					background: $main_rgb
				&:hover
					transition: .3s
					color: $main_color
/* --- prod end ------------------------------------------------*/

/* --- patent Start ------------------------------------------------*/
.patent
	background: url('../img/patBg.png')
	background-position: top right
	background-repeat: no-repeat
	background-size: 100% auto
	padding: 100px 0
	&__slider
		margin-left: 10%
		&-cont
			outline: none
			display: flex
			&-img
				img
					display: block
					margin-left: auto
					margin-right: auto
					max-width: 100%
			&-txt
				padding: 10px
				h4
					font-weight: bold
					font-size: 22px
					margin-bottom: 20px
				p
					font-weight: bold
	@media(max-width: 1500px)
		background-position: bottom right
	@media(max-width: 992px)
		&__slider
			margin-left: auto
			&-cont
				flex-direction: column
		.slick-prev
			left: 20%
			top: 55%
		.slick-next
			top: 55%
			right: 20%
			left: inherit		
	.slick-track
		display: flex
	.slick-slide
		height: auto
		display: flex


/* --- patent end ------------------------------------------------*/

/* --- adv Start ------------------------------------------------*/
.adv
	&__subtitle
		text-align: center
		margin-bottom: 20px
		h3
			font-size: 20px
			font-weight: 300
			text-transform: uppercase
	&__wrap
		height: 100%
		display: flex
		flex-direction: column
		justify-content: space-between
		&-img
			margin-bottom: 20px
			img
				max-width: 100%
				display: block
				margin-left: auto
				margin-right: auto
		&-desc
			text-align: center
			h4
				font-weight: bold
/* --- adv end ------------------------------------------------*/

/* --- sert Start ------------------------------------------------*/
.sert
	background: $main_bg
	&__slider
		padding-bottom: 20px
		&-cont
			&-img
				width: 100%
				img
					display: block
					margin-left: auto
					margin-right: auto
					max-width: 100%
	.slick-prev
		top: 100%
		right: 10%
		left: inherit
	.slick-next
		top: 100%
		right: 5%
		left: inherit
	@media(max-width: 992px)
		.slick-prev
			left: 10%
			right: inherit
		.slick-next
			right: 10%
			left: inherit
/* --- sert end ------------------------------------------------*/

/* --- footer Start ------------------------------------------------*/
.contacts
	background: url('../img/footerBg.png')
	background-position: center center
	background-repeat: no-repeat
	background-size: cover
	padding: 50px 0
	overflow: hidden
	&__container
		background: $main_white
		border-radius: 15px
		padding-top: 20px
		padding-bottom: 20px	
	&__desc
		padding: 20px	5px
		&-img
			img
				max-width: 100%
		&-tel
			display: flex
			flex-direction: column
			a
				i
					margin-right: 10px		
					color: $main_rgbS
	&__form
		padding: 20px 5px
		form	
			width: 100%	
			h3
				text-align: center
			input
				width: 100%
				margin-bottom: 20px
				background: $main_bg
				color: $main_color
				border-radius: 15px
				border: none
				padding: 10px
				&:focus
					outline: none
			button
				width: 100%	
/* --- footer end ------------------------------------------------*/

/* --- buttons Start ------------------------------------------------*/
.mainBtn
	border-radius: 25px
	box-shadow: 0px 14px 20px rgba(0, 0, 0, 0.12)
	text-align: center
	cursor: pointer
	display: block
	width: 250px
	max-width: 100%
	border: 2px solid $main_rgbS
	margin-left: auto
	margin-right: auto
	padding: 10px
	background: $main_rgbS
	color: $main_white
	transition: .3s
	&:hover
		border: 2px solid $main_bg
		transition: .3s
		background: $main_bg
		color: $main_rgb
/* --- buttons end ------------------------------------------------*/

/* --- forms Start ------------------------------------------------*/
.openFormGor
	background: $main_bg
	display: inline-block
	position: relative
	border-top-right-radius: 150px
	border-bottom-right-radius: 150px
	padding: 20px 20px 20px 10px
	h3
		font-size: 32px
		color: $main_white
		span
			font-weight: bold
	input
		background: none
		border: none
		border-bottom: 1px solid $main_white
		padding: 10px
		margin: 10px
		width: 200px
		max-width: 100%
		color: $main_white
		transition: .3s
		&:focus
			outline: none
	::placeholder
		color: $main_white

.openForm
	position: relative
	width: 400px
	max-width: 100%
	display: block
	margin-left: auto
	margin-right: auto
	padding: 20px 10px
	background: rgba($main_rgb, .9)
	border-radius: 25px
	img
		max-width: 100%
		display: block
		margin-left: auto
		margin-right: auto
		margin-bottom: 20px
	h3, h4
		text-align: center
		color: $main_white
		margin-bottom: 20px
	h3
		font-size: 22px
		font-weight: bold
	h4
		font-size: 18px
		font-weight: 500
	input
		background: none
		border: none
		border-bottom: 1px solid $main_white
		padding: 10px
		margin-bottom: 20px
		width: 90%
		color: $main_white
		transition: .3s
		display: block
		margin-left: auto
		margin-right: auto
		&:focus
			outline: none
	::placeholder
		color: $main_white
	.mainBtn
		&:hover
			border: 2px solid $main_white
			background: $main_white
			color: $main_rgb
/* --- forms end ------------------------------------------------*/

/* --- Other START ------------------------------------------------*/	
.mainTitle
	position: relative
	text-align: center
	padding-bottom: 10px
	margin-bottom: 20px
	&:after
		content: ''
		position: absolute
		bottom: 0
		width: 65px
		height: 6px
		left: 50%
		transform: translateX(-50%)
		background: $main_rgb
	h2
		font-weight: bold
		font-style: 40px
		text-transform: uppercase
	@media(max-width: 992px)
		h2
			font-size: 24px
.mfp-close-btn-in .mfp-close
	color: $main_white !important


.slick-dots
	li
		button
			&:before
				font-size: 15px
				color: $main_rgb !important
.slick-prev
	border-radius: 15px 0 0 15px
	top: inherit
	left: 30%
	top: 60%
	width: 40px
	height: 40px
	z-index: 99
	background: $main_rgb
	transition: .3s
	&:hover
		transition: .3s
		i
			transition: .3s
			background: $main_rgbS
			color: $main_white
	&:before
		display: none
	i
		border-radius: 15px 0 0 15px
		transition: .3s
		color: $main_white
		font-size: 22px
		background: $main_rgb
		width: 100%
		height: 100%
		display: flex
		justify-content: center
		align-items: center
.slick-next
	border-radius: 0 15px 15px 0
	top: inherit
	left: 35%
	top: 60%
	width: 40px
	height: 40px
	z-index: 99
	background: $main_rgb
	transition: .3s
	&:hover
		transition: .3s
		i
			transition: .3s
			background: $main_rgbS
			color: $main_white
	&:before
		display: none
	i
		border-radius: 0 15px 15px 0
		transition: .3s
		color: $main_white
		font-size: 22px
		background: $main_rgb
		width: 100%
		height: 100%
		display: flex
		justify-content: center
		align-items: center
