.mainBtnQv
  background: $main_rgb
  color: $main_white
  padding: 5px 
  text-align: center
  border: 2px solid $main_bg
  transition: .3s
  width: 200px
  max-width: 100%
  &:hover
    background: $main_white
    color: $main_color

.mainBtnC
  border: none
  cursor: pointer
  z-index: 33
  width: 330px
  max-width: 100%
  margin-left: auto
  margin-right: auto
  padding: 10px
  background: linear-gradient(180deg, #FEFEFE 0%, #FF787A 24.48%, #EF3F42 45.83%, #BD3336 84.9%, #FF4649 100%)
  border-radius: 51px
  text-align: center
  color: $main_bg2
  font-size: 16px
  font-weight: 700
  transition: .3s
  &:hover
    background: linear-gradient(180deg, #FFFFFF 0%, #FFDDDD 19.27%, #FFA0A0 48.96%, #D1ADAD 88.54%, #FFE6E6 99.48%)
    color: $main_rgb