.exp
  overflow: visible
  padding-top: 0
  background: $main_white
  padding-bottom: 10px
  .globalCont
    padding-bottom: 0
  .whay__title
    h2
      margin-top: -100px
  &__cont
    display: flex
    justify-content: space-between
    &-items
      a
        cursor: pointer
        position: relative
        img
          transition: .3s
          filter: grayscale(100%)
          width: 100%
        span
          z-index: 1
          cursor: pointer
          width: 30px
          height: 30px
          position: absolute
          border-radius: 100%
          background: $main_white
          display: none
          justify-content: center
          align-items: center
          transition: .3s
          top: 50%
          left: 50%
          transform: translate(-50%, -50%)
          svg
            transition: .3s
            color: $main_rgb
          &:after
            content: ''
            position: absolute
            top: -20%
            left: -20%
            width: 140%
            height: 140%
            border-radius: 100%
            border: 1px solid $main_white
          &:before
            content: ''
            position: absolute
            top: -40%
            left: -40%
            width: 180%
            height: 180%
            border-radius: 100%
            border: 1px solid $main_white
          &:hover
            transition: .3s
            background: $main_rgb
            svg
              transition: .3s
              color: $main_white
        &:hover
          img
            transition: .3s
            filter: grayscale(0)
          span
            display: flex
      &:nth-child(1)
        flex-basis: 58%
      &:nth-child(2)
        flex-basis: 40%
        display: flex
        flex-direction: column
        justify-content: space-between
  @media(max-width: 992px)
    padding-bottom: 0
    .whay__title
      h2
        margin-top: -100px
    &__cont
      flex-direction: column
      &-items
        img 
          margin-bottom: 20px
        #galleryThree
          img
            margin-bottom: 0