.firstscroll
  padding: 0
  min-height: 90vh
  background: url('../img/mb.png')
  background-position: top 69px left
  background-repeat: no-repeat
  background-size: 100% 100%
  position: relative
  .globalCont 
    display: flex
    justify-content: center
    flex-direction: column
    min-height: 90vh
  &__subTitle
    margin-top: auto
    width: 100%
    p
      display: block
      width: 600px
      margin: 0 0 0 auto
      padding: 0
      color: $main_white
      font-weight: 700
      font-size: 18px
  &__title
    margin-top: auto
    margin-left: 10%
    h1
      width: 800px
      color: $main_white
      font-family: $roboto
      font-size: 72px
      font-weight: 600
  &__afterTitle
    margin-top: auto
    width: 100% 
    z-index: 3
    h2
      text-align: right
      font-family: $roboto
      color: $main_color
      font-size: 48px
      font-weight: 800
      z-index: 3
  @media(max-width: 992px)
    background: url('../img/mbgM.jpg')
    background-position: center center
    background-repeat: no-repeat
    background-size: cover
    min-height: 100vh
    .globalCont 
      min-height: 100vh
    &__subTitle
      display: none
      order: 3
    &__title
      order: 2
      margin-bottom: auto
      margin-top: auto
      h1
        text-align: right
        width: 100%
        font-size: 24px
        font-weight: 600
    &__afterTitle
      margin-bottom: auto
      margin-top: auto
      order: 1
      h2
        color: $main_white
        text-align: left
        font-size: 20px
        font-weight: 800

.repair
  background: url('../img/repairBg.jpg')
  background-position: top left
  background-repeat: no-repeat
  background-size: 100% 100%
  z-index: -1
  padding-bottom: 50px
  .globalCont
    justify-content: center
    align-items: flex-start
    flex-direction: column
    .firstscroll__title
      width: 480px
      max-width: 100%
      margin: 0
      h1
        color: $main_color
        width: 100%
        line-height: 1
    .firstscroll__afterTitle
      width: 480px
      margin: 0
      margin-bottom: 20px
      h2
        color: $main_rgb
        font-size: 36px
        text-align: left
    .firstscroll__btn
      margin: 0
  @media(max-width: 992px)
    background: url('../img/repairBgMobile.jpg')
    background-position: center center
    background-repeat: no-repeat
    background-size: cover
    min-height: 100vh
    .globalCont 
      min-height: 100vh
      justify-content: center
      align-items: center
      .firstscroll__title
        width: 100% 
        order: 1
        margin-top: auto
        h1
          text-align: center
          width: 100%
          font-size: 34px
          font-weight: 600
      .firstscroll__afterTitle
        width: 100% 
        h2
          width: 100% 
          text-align: center
          font-size: 26px 
      .firstscroll__btn
        order: 3
        margin: auto auto 0 auto
.repair-bllurImg
  margin-top: -200px
  @media(max-width: 1280px)
    margin-top: -150px
  @media(max-width: 992px)
    margin-top: -50px


.sale
  background: url('../img/saleBg.png')
  background-position: top left
  background-repeat: no-repeat
  background-size: 100% 100%
  z-index: -1
  padding-bottom: 50px
  .globalCont
    justify-content: center
    align-items: flex-start
    flex-direction: column
    .firstscroll__title
      width: 480px
      max-width: 100%
      margin: 0
      h1
        color: $main_color
        width: 100%
        line-height: 1
    .firstscroll__afterTitle
      width: 450px
      margin: 0
      margin-bottom: 20px
      h2
        color: $main_rgb
        font-size: 36px
        text-align: left
    .firstscroll__btn
      margin: 0
  @media(max-width: 992px)
    background: url('../img/saleBgMobile.png')
    background-position: center center
    background-repeat: no-repeat
    background-size: cover
    min-height: 100vh
    .globalCont 
      min-height: 100vh
      justify-content: center
      align-items: center
      .firstscroll__title
        width: 100% 
        order: 1
        margin-top: auto
        h1
          text-align: center
          width: 100%
          font-size: 34px
          font-weight: 600
      .firstscroll__afterTitle
        width: 100% 
        margin-top: auto
        h2
          color: $main_white
          width: 100% 
          text-align: center
          font-size: 26px 
      .firstscroll__btn
        order: 3
        margin: 0 auto

.motor
  background: url('../img/motor.png')
  background-position: top left
  background-repeat: no-repeat
  background-size: 100% 100%
  @media(max-width: 992px)
    background-size: cover
    background-position: center center