.prod
  background: url('../img/prGb.png')
  background-position: center center
  background-repeat: no-repeat
  background-size: 100% 100%
  padding-top: 0
  &__row
    display: flex
    justify-content: space-between
    &-items
      flex-basis: 40%
      display: flex
      flex-direction: column
      justify-content: space-around
      h3
        text-align: center
        color: $main_rgb
        font-size: 48px
        font-weight: 800
      img
        max-width: 100% 
        height: auto
  @media(max-width: 992px)
    &__row
      flex-wrap: wrap
      &-items
        flex-basis: 100%
        margin-bottom: 20px
