@media only screen and (max-width : 768px) {
	div.divIRBorderFlirOne {
		position: absolute;
		top: 70px;
		left: 220px;
		width: 168px;
		height: 260px;
		z-index: 1000;
		overflow: hidden;
		cursor: none; }


div.displayOverlayFlirOne {
  background: url(../img/if.png) center center no-repeat;
  position: absolute;
  top: -130px;
  left: 0;
  width: 607px;
  height: 717px;
  z-index: 1001;
  overflow: hidden;
	pointer-events: none; }
.ie10 div.displayOverlayFlirOne {
		background: url(../img/if.png) center center no-repeat;
		position: absolute;
		top: 0;
		left: 0;
		width: 607px;
		height: 717px;
		z-index: 1000;
		overflow: hidden;
		pointer-events: none; }
		
	}
