@media only screen and (min-width: 992px){
    #about .container .row .col-title {
        display: none;
    }
}

@media only screen and (max-width: 991px){
    #about .container .row .col-txt .about-text h2 {
        display: none;
    }
    #about .container .row .col-txt .about-text .ghr {
        display: none;
    }
    .intro h1 {
        font-size: 2em;
    }
    .intro h2 {
        font-size: 22px;
    }
}

@media only screen and (max-width: 429px){
    .intro-text {
        margin-top: 50px;
    }
}