$main_color: #222222
$main_color_light: #676767
$main_white: #fff
$main_rgb: #fb313b
$main_bg: #535665
$main_bg_light: #f8f8f8

body
	background: $main_bg
	font-family: 'Montserrat', sans-serif
	font-weight: normal
	font-size: 16px
	color: $main_color
	margin: 0
	padding: 0
	position: relative
	line-height: 1.6
	box-sizing: border-box
	a
		text-decoration: none
		color: $main_color
		&:hover
			text-decoration: none
			color: $main_color
button
	outline: none
	&:focus
		outline: none
.hidden
	display: none

section
	padding: 50px 0
	overflow: hidden
.done
	min-height: 100vh
.row-eq-height
	display: flex
	flex-wrap: wrap


/* --- Navbar START ------------------------------------------------*/
.navbar
	padding: 0.8rem 1rem
	transition: 0.5s
	background: rgba(255,255,255, .9)
	box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.3)
	.navbar-brand
		padding: 0
		p
			color: $main_rgb
			font-weight: bold
	img
		width: 40px
		margin: 0
		padding: 0
	.anim
		text-transform: uppercase
		position: relative
		overflow: hidden
		font-weight: bold
		span
			color: $main_color
			transition: 0.5s
			transform-origin: left
		&:before
			transition: 0.5s
			position: absolute
			content: ''
			top: 0
			left: 0
			width: 100%
			height: 100%
			border-bottom: 2px solid $main_rgb
			transform-origin: right
			transform: scaleX(0)
		&:hover
			span
				color: $main_rgb
			&:before
				transform: scaleX(1)
	p
		font-size: 24px
		text-shadow: 0px 0px 20px $main_white
		color: $main_white
		margin: 0
		padding-right: 10px
		display: inline-block
	.navbar-toggler-icon
		background: url('../img/burger-light.png')
		background-size: 100% 100%
		background-repeat: no-repeat
		width: 2em
		height: 2em
		&:focus
			outline: none
	.navbar-toggler
		transition: 0.3s
		&:focus
			transition: 0.3s
			outline: none
			border: 1px solid #fff
	.balkon_mainBtn
		padding: 5px 10px
		width: 200px
		max-width: 100%
		font-size: 14px
		border: 2px solid $main_rgb
.active
	position: relative
	overflow: hidden
	span
		color: $main_rgb !important
	&:before
		transition: 0.5s
		position: absolute
		content: ''
		top: 0
		left: 0
		width: 100%
		height: 100%
		border-bottom: 2px solid $main_color
		transform-origin: right
		transform: scaleX(0)
		animation: animate 7s linear infinite
@keyframes animate 
	0%
		transform-origin: right
		transform: scaleX(0)
	50%
		transform-origin: right
		transform: scaleX(1)
	51%
		transform-origin: right
		transform: scaleX(1)
	100%
		transform-origin: right
		transform: scaleX(0)
.fixed-nav
	.anim
		span
			color: $main_color
	p
		color: $main_color
	background: rgba(255,255,255, 1)
	color: $main_color_light	
	padding: .4rem .4rem
	transition: 0.5s
	box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.3)
	.navbar-toggler-icon
		background: url('../img/burger-black.png')
		background-size: 100% 100%
		background-repeat: no-repeat
		width: 2em
		height: 2em
		&:focus
			outline: none
	.navbar-toggler
		transition: 0.3s
		&:focus
			transition: 0.3s
			outline: none
			border: 1px solid $main_color
.navbar-nav
	text-align: center
	
/* --- Navbar END ------------------------------------------------*/



/* --- Header start------------------------------------------------*/	
.balkon_first-scroll
	min-height: 90vh
	background: linear-gradient(rgba($main_white, .4) 100%, rgba($main_white, .4) 100%), url('../img/mainBg.jpg') 
	background-size: cover
	background-position: center center
	background-repeat: no-repeat
	background-attachment: fixed
	display: flex
	flex-direction: column
	justify-content: center
	align-items: center
	padding: 30px 10px 150px 10px
	.headCont
		margin-top: auto
		.headWrap
			box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.4)
			padding: 20px 20px
			background: rgba($main_white, .9)
			h1
				color: $main_rgb
				text-transform: uppercase
				font-weight: bold
				text-align: center
			h2
				text-align: center
				color: $main_rgb
				text-transform: uppercase
				span
					text-decoration: underline
					text-transform: uppercase
					font-weight: bold
			hr
				background-color: $main_rgb
				width: 60%
				border: 1px solid $main_rgb
	.btnCont
		margin-top: auto
		padding: 10px
		.txtWrap
			color: $main_white
			text-shadow: 2px 2px 2px $main_color
			h3
				text-align: center
				span
					color: $main_rgb
					text-transform: uppercase
/* --- Header END ------------------------------------------------*/	


/* --- About Start ------------------------------------------------*/
.balkon_about
	position: relative
	margin-top: -100px
	text-align: center
	padding: 10px 10px 50px 10px
	.head_about_h
		color: $main_white
		font-size: 50px
		text-align: center
		font-weight: 900
		margin-bottom: 40px
	img
		display: block
		margin-left: auto
		margin-right: auto
		max-width: 100%
		height: auto
	.aboutCont
		box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.4)
		display: inline-block
		z-index: 1
		position: relative
		margin-bottom: 30px
		.left
			background: $main_rgb
		.right
			background: $main_white
		.aboutTxtVideo
			background: url('../img/aboutVideoBg.jpg')
			background-position: center center
			background-repeat: no-repeat
			background-size: cover
			height: 100%
			min-height: 300px
			position: relative
			a
				text-shadow: 0px 0px 10px rgba($main_color, .7)
				position: absolute
				top: 50%
				left: 50%
				transform: translate(-50%,-50%)
				font-size: 80px
				transition: .5s
				animation: colorVideo 3s infinite 
				color: $main_rgb
				&:hover
					transition: .5s
					color: $main_white
		.aboutTxtWrap
			height: 100%
			padding: 30px	20px 50px 20px
			text-align: left
			p
				text-indent: 20px
				margin: 0
				padding: 0
				color: $main_white
			h2
				color: $main_white
				font-weight: 900
				font-size: 60px
				margin-bottom: 20px
	.advCont
		.imgWrap
			margin-bottom: 20px
		.txtWrap
			margin-bottom: 20px
			h5
				color: $main_white
@keyframes colorVideo
	50%
		text-shadow: 0px 0px 10px rgba($main_white, 1)
/* --- About END ------------------------------------------------*/	


/* --- product Start ------------------------------------------------*/
.balkon_porfolio
	background: $main_white
	h2
		color: $main_color_light
		font-size: 50px
		text-align: center
		font-weight: 900
	.portfolioCont
		.portfolioWrap
			position: relative
			padding: 20px
			img
				border: 1px solid #e0e0e0
				box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.4)
				max-width: 100%
				height: auto
			&:focus
				outline: none
			.descrWrap
				padding: 10px
				position: absolute
				right: 30px
				top: 30px
				background: rgba($main_color, .9)
				h5
					text-align: center
					color: $main_white
				.balkon_mainBtn
					padding: 5px
					width: 100%
				ul
					margin: 0
					list-style: none
					li
						color: $main_white
						position: relative
						i
							color: $main_rgb
							position: absolute
							left: -30px
							top: 5px
/* --- product END ------------------------------------------------*/	

/* --- ProductAll Start ------------------------------------------------*/
.balkon_prodall
	background: $main_bg_light
	padding: 50px 10px 50px 10px
	img
		max-width: 100%
		height: auto
	h2
		color: $main_color_light
		font-size: 50px
		text-align: center
		font-weight: 900
		margin-bottom: 40px
	.prodCont
		height: 100%
		padding: 30px 10px
		background: $main_white
		border: 1px solid $main_color_light
		transition: .3s
		&:hover
			transition: .3s
			box-shadow: 0px 5px 25px 0px rgba(0,0,0,0.15)
		.headWrap
			margin-bottom: 20px
			img
				display: block
				margin-left: auto
				margin-right: auto
		.imgWrap
			margin-bottom: 20px
			img
				display: block
				margin-left: auto
				margin-right: auto
		.txtWrap
			text-align: center
/* --- ProductAll END ------------------------------------------------*/	


/* --- balkon_openFormManager Start ------------------------------------------------*/
.balkon_openFormManager
	background: $main_white
	h2
		color: $main_color_light
		font-size: 50px
		text-align: center
		font-weight: 900
		margin-bottom: 40px
	h3
		text-align: center
		padding: 10px
		background: $main_bg_light
		span
			color: $main_rgb
			text-transform: uppercase
			font-weight: bold
/* --- balkon_openFormManager END ------------------------------------------------*/	


/* --- balkon_how END ------------------------------------------------*/
.balkon_how
	background: #e5e5e7
	position: relative
	z-index: 1
	.bgMy
		z-index: -1
		position: absolute
		bottom: 0
		left: 0
		overflow: hidden
		img
	img
		max-width: 100%
		height: auto
	h2
		color: $main_color_light
		font-size: 50px
		text-align: center
		font-weight: 900
		margin-bottom: 40px
	.howCont
		background: url('../img/howborder.png')
		background-position: 50% 50%
		background-repeat: no-repeat
		background-size: contain
		display: flex
		flex-direction: row
		justify-content: space-around
		height: 280px
		.howWrap
			&:nth-child(1)
				align-self: flex-end
			&:nth-child(2)
				align-self: center
			&:nth-child(4)
				align-self: center
			&:nth-child(5)
				align-self: flex-end
			.howImg
				img
					background: $main_bg_light
					border: 2px solid $main_color_light
					border-radius: 50%
					display: block
					margin-left: auto
					margin-right: auto
			.howTxt
				text-align: center
				p
					font-size: 18px
					span
						font-weight: bold
						margin-right: 5px
	.howForm
		z-index: 2
		text-align: center
		padding: 50px 10px
		background: $main_rgb
		h2
			color: $main_white
			margin-bottom: 20px
		h3
			color: $main_white
			margin-bottom: 10px
		h4
			color: $main_white
			margin-bottom: 20px
		input
			color: $main_white
			margin: 0 10px 20px 10px
			padding: 10px
			text-align: center
			font-weight: bold
			text-transform: uppercase
			border: 1px solid #e5e5e5
			background-color: rgba(255, 255, 255, 0.1)
			&:focus
				outline: 2px solid #e5e5e5
			&::placeholder
				color: $main_white
		.balkon_mainBtn
			background: $main_white
			color: $main_rgb
			border: 2px solid $main_white
			&:hover
				background: $main_rgb
				color: $main_white
/* --- balkon_how END ------------------------------------------------*/	

/* --- reviews Start ------------------------------------------------*/
.balkon_reviews
	background: $main_white
	h2
		color: $main_color_light
		font-size: 50px
		text-align: center
		font-weight: 900
		margin-bottom: 40px	
	.reviewsCont
		.reviewsWrap
			outline: none
			padding: 20px 50px
			margin: 10px
			.txtWrap
				background: $main_bg_light
				text-align: center
				padding: 10px
				margin-bottom: 50px
				min-height: 150px
				border: 1px solid $main_color
				position: relative
				&:after
					background: $main_bg_light
					position: absolute
					content: ''
					border-bottom: 1px solid $main_color
					border-right: 1px solid $main_color
					bottom: -21px
					left: 55px
					width: 40px
					height: 40px
					transform: rotate(45deg)
			.imgWrap
				display: flex
				flex-direction: row
				align-items: center
				img
					border: 1px solid $main_color
					max-width: 100%
					height: auto
					width: 150px
					border-radius: 50%
					margin-right: 10px
				.imgTxt
					h4
						font-weight: bold
					h5
						font-style: italic
/* --- reviews END ------------------------------------------------*/	


/* --- sert END ------------------------------------------------*/
.balkon_sert
	background: $main_bg_light
	h2
		color: $main_color_light
		font-size: 50px
		text-align: center
		font-weight: 900
		margin-bottom: 40px	
	.brandCont
		padding: 10px
		margin-bottom: 50px
		.brandWrap
			padding: 20px
			img
				display: block
				margin-left: auto
				margin-right: auto
				max-width: 100%
				height: auto
			outline: none
	.sertCont
		padding: 10px
		.sertWrap
			padding: 10px
			outline: none
			img
				max-width: 100%
				height: auto
/* --- sert END ------------------------------------------------*/	


/* --- contacts Start ------------------------------------------------*/
.balkon_contacts
	padding: 0
	.contactsCont
		height: 100%
		display: flex
		flex-direction: column
		justify-content: center
		align-items: center
		padding: 50px 20px
		background: $main_rgb
		color: $main_white
		.txtWrap
			a
				display: block
				font-size: 20px
				color: $main_white
				i
					margin-right: 10px
		.txtWrapIcon
			a
				color: $main_white
				i
					font-size: 50px
					margin-right: 10px
	.formCont
		padding: 50px 10px
		height: 100%
		background: url('../img/port02.jpg')
		background-position: center center
		background-repeat: no-repeat
		background-size: cover
.contactsForm
	position: relative
	background: rgba($main_bg,.9)
	padding: 20px
	display: block
	margin: auto
	width: 400px
	max-width: 100%
	text-align: center
	.mfp-close
		color: $main_white
	h2
		color: $main_white
	h3
		color: $main_white
		span
			font-weight: bold
			color: $main_rgb
	input, textarea
		width: 100%
		color: $main_white
		margin-bottom: 20px
		padding: 10px
		text-align: center
		font-weight: bold
		text-transform: uppercase
		border: 1px solid #e5e5e5
		background-color: rgba(255, 255, 255, 0.1)
		&:focus
			outline: 2px solid #e5e5e5
		&::placeholder
			color: $main_white
	textarea
		height: 100px
	.balkon_mainBtn
		&:hover
			color: $main_rgb
/* --- contacts END ------------------------------------------------*/



/* --- Button Start ------------------------------------------------*/
.balkon_mainBtn
	cursor: pointer
	border: none
	padding: 10px
	display: block
	width: 250px
	max-width: 100%
	background: $main_rgb
	color: $main_white
	font-weight: bold
	text-transform: uppercase
	text-align: center
	margin-left: auto
	margin-right: auto
	transition: .3s
	&:hover
		transition: .3s
		background: $main_white
/* --- Button END ------------------------------------------------*/	


/* --- Form START ------------------------------------------------*/
.balkon_openFormManager
	max-width: 100%
	.borderMyLeft
		border-left: 50px solid $main_bg
	.borderMyRight
		border-right: 50px solid $main_bg		
	input
		font-weight: bold
		width: 100%
		margin-bottom: 20px
		border: 2px solid $main_bg
		text-transform: uppercase
		padding: 10px
		text-align: center
		transition: .3s
		&:focus
			transition: .3s
			outline: 1px solid $main_rgb
	.balkon_mainBtn
		&:hover
			background: rgba($main_rgb, .7)
			color: $main_color
/* --- Form END ------------------------------------------------*/	


/* --- Other START ------------------------------------------------*/	
.slick-dots
	li
		button
			&:before
				font-size: 15px
				color: $main_rgb !important
.slick-prev
	left: 30px
	width: 40px
	height: 40px
	z-index: 99
	&:before
		position: absolute
		content: ''
		width: 100%
		height: 100%
		top: 0
		left: 0
		border-top: 5px solid $main_rgb
		border-right: 5px solid $main_rgb
		transform: rotate(-135deg)
.slick-next
	right: 30px
	width: 40px
	height: 40px
	&:before
		position: absolute
		content: ''
		width: 100%
		height: 100%
		top: 0
		left: 0
		border-top: 5px solid $main_rgb
		border-right: 5px solid $main_rgb
		transform: rotate(45deg)

.callButton
	position: fixed
	bottom: 20px
	right: 20px
	z-index: 999
	a
		span
			background: $main_rgb
			border-radius: 50%
			display: block
			border: $main_rgb
			width: 60px
			height: 60px
			display: flex
			justify-content: center
			align-items: center
			position: relative
			&:after
				background: $main_rgb
				content: ''
				position: absolute
				top: 0px
				left: 0px
				bottom: 0px
				right: 0px
				border: 2px solid $main_rgb
				border-radius: 50%
				animation-name: borderAfter
				animation-duration: 3s
				animation-iteration-count: infinite
				animation-timing-function: ease-in-out
				opacity: 0.8
			&:before
				background: $main_rgb
				content: ''
				position: absolute
				top: 0px
				left: 0px
				bottom: 0px
				right: 0px
				border: 2px solid $main_rgb
				border-radius: 50%
				animation-name: borderAfter
				animation-duration: 3s
				animation-delay: 0.3s
				animation-iteration-count: infinite
				animation-timing-function: ease-in-out
				opacity: 0.8
			i
				color: $main_white
				font-size: 35px
				transition: 0.5s
				animation-name: phoneRotate
				animation-duration: 5s
				animation-iteration-count: infinite
		&:hover
			span
				i
					transition: 0.5s
					color: $main_bg
					
@keyframes phoneRotate 
	0%
		transform: rotate(0deg)
	25%
		transform: rotate(20deg)
	50%
		transform: rotate(0deg)
	75%
		transform: rotate(-20deg)
	100%
		transform: rotate(0deg)
@keyframes borderAfter 
	20%, 100%
		background: $main_white
		border: 2px solid $main_white
		top: -20px
		left: -20px
		bottom: -20px
		right: -20px
		opacity: 0