@media screen and (min-width: 992px) and (max-width: 1199px){
    /* .title_scroll .col_triggers .d_arrows {
        width: 60%!important;
    } */
    .nav-tabs  {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .nav-tabs .my_navitem {
        margin-bottom: 10px!important;
    }
    #nav-tabContent {
        margin-top: 5px;
    }
}

@media only screen and (min-width: 992px){
    .title_scroll .col_triggers .d_arrows .d_arrow {
        padding: 10px 0;
    }
    .about.block {
        padding: 40px;
    }
    .my_mb {
        margin-bottom: 10px;
    }
    .my_mt {
        margin-top: 10px;
    }
    .d_img_secur_top {
        display: none;
    }
    .d_dxt_sectur_none {
        display: none;
    }
}

@media only screen and (max-width: 991px){
    .navbar .navbar-header img{
            width: 55px;
    }
    .navbar-brand {
        padding-top: 0;
        padding-bottom: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        bottom: auto;
    }
    .title_scroll .col_form {
        padding-left: 25%;
        padding-right: 25%;
    }
    .title_scroll .col_triggers .d_arrows {
        width: 60%!important;
    }
    .title_scroll .col_triggers {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .nav-tabs {
        -ms-flex-pack: distribute;
            justify-content: space-around;
    }
    .nav-tabs .my_navitem {
        margin-bottom: 10px!important;
    }
    #nav-tab {
        padding-top: 10px;
    }
    .my_security {
        padding-top: 0;
    }
    .d_img_secur {
        display: none;
    }
    .col_center_d_text {
        flex-direction: row;
        align-items: flex-start!important;
    }
    .d_txt {
        width: 100%;
    }
    .d_txt h4 {
        font-size: 18px;
    }
    .right_d_txt {
        padding: 0!important;
    }
    .left_d_txt {
        padding: 0!important;
    }
    .d_img_secur_top {
        margin-bottom: 5px!important;
    }
    .my_span {
        width: 10%!important;
        transform: rotateX(55deg)!important;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px){
    .d_txt {
        height: 220px;
    }
    .d_around {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .hr_for_security  {
        margin-bottom: 0px!important;
    }
}

@media only screen and (max-width: 767px){
    .title_scroll .col_form {
        padding-left: 15%;
        padding-right: 15%;
    }
    .title_scroll .col_triggers .d_arrows {
        width: 70%!important;
    }
    .title_scroll .col-title h1 {
        font-size: 30px;
    }
    .my_w_for_last_p {
        max-width: 75%;
    }
    .col_center_d_text {
        flex-direction: column;
    }
    .d-flex {
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (max-width: 575px){
    .title_scroll .col_triggers .d_arrows {
        width: 80%!important;
    }
    .title_scroll .col-title h1 {
        font-size: 25px;
    }
    .nav-tabs {
    }
    .nav-tabs .my_navitem {
        margin-bottom: 15px!important;
    }
    .my-contact-form {
        margin-top: 60px;
        max-width: 300px;
    }
    .my-contact-form h4 {
        font-size: 18px;
    }
    .my_input2 {
        margin-bottom: 0;
    }
    .reviews .d-rev img {
        height: auto; 
        width: 120px;
    }
}

@media only screen and (max-width: 459px){
    .my_w_for_last_p {
        max-width: 60%;
    }
    #nav-tab .my_navitem {
        width: 135px;
        font-size: 12px;
    }
}

@media only screen and (max-width: 429px){
    .title_scroll .col_triggers .d_arrows {
        width: 90%!important;
    }
    .title_scroll .col_form {
        padding-left: 5%;
        padding-right: 5%;
    }
}

@media only screen and (max-width: 389px){
    .title_scroll .col_triggers .d_arrows {
        width: 100%!important;
    }
}