// hr

$pink_color: #9CDD05
$green_black: #7EB204
$pink_rgba_075: rgba(156, 221, 5, 0.75)
$pink_rgba_04: rgba(156, 221, 5, 0.4)
$pink_rgba_02: rgba(156, 221, 5, 0.2)
$pink_rgba_08: rgba(156, 221, 5, 0.8)

body
    background-color: #F6F6F6

.hr_in_main_form
    border: 0
    height: 1px
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), $pink_rgba_075, rgba(0, 0, 0, 0))
    -webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75)
    -moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75)
    box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75)

.hr_in_main_trig
    border: 0
    height: 1px
    margin-top: 0
    background-image: linear-gradient(to right, $pink_rgba_04, $pink_rgba_02, rgba(0, 0, 0, 0))
    -webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75)
    -moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75)
    box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75)

.hr_for_title
    border: 0
    height: 1px
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(87, 91, 96, 0.75), rgba(0, 0, 0, 0))
    margin-top: 0
    margin-bottom: 20px
    max-width: 200px

.hr_for_title_service_right
    width: 50%
    border: 0
    margin: 0
    height: 1px
    background-image: linear-gradient(to right, rgba(87, 91, 96, 0.75), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0))

.hr_for_title_service_left
    width: 50%
    border: 0
    margin: 0
    height: 1px
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(87, 91, 96, 0.75))

.hr_for_security
    height: 12px
    border: 0
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5)
    margin-bottom: 0

// a_contact

.d_contact
    transition-duration: .3s
    transform: rotateX(0deg)
    &:hover
        color: white
        transition-duration: .3s
        transform: rotateX(25deg)
        .a_contact
            transition-duration: .2s
            box-shadow: 0px 5px 2px 0px $green_black, 0px 15px 22px -1px #999
    .a_contact
        padding: 15px 30px
        background: $pink_color
        color: white 
        text-shadow: 1px 1px 1px #3F7402
        font-size: 18px
        border-radius: 3px
        transition-duration: .2s
        box-shadow: 0px 5px 2px 0px $green_black, 0px 10px 22px -1px #999


// navbar

.navbar
    .navbar-header
        img
            height: auto
            width: 85px
            margin: 0
 
.bb_navbar
    transition: .5s
    border-bottom: 1px solid rgba(0,0,0,.2)
    box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.35)

// title_scroll

.title_scroll
    height: 100%
    min-height: 100vh
    padding-bottom: 30px
    background: url("../images/title_scroll/bg2.jpg")
    background-size: cover
    background-repeat: no-repeat
    background-position: center
    background-attachment: fixed
    padding-top: 100px
    overflow: hidden
    .col-title
        h1
            text-transform: uppercase
            color: white
            text-shadow: 1px 1px 1px rgba(0,0,0,.5)
            font-size: 35px
        h4
            color: white
            text-shadow: 1px 1px 1px rgba(0,0,0,.5)
    .col_triggers
        .d_arrows
            img
                height: 25px
                max-width: 25px
                margin-right: 10px
                border: 1px solid $pink_rgba_08
                border-radius: 50%
                padding: 2px
            .d_arrow
                display: flex
                align-items: center
                margin-bottom: 0
                p
                    color: #CCCCCC
                    font-size: 18px
                    margin: 0
                    width: 100%
                    text-shadow: 1px 1px 1px rgba(0,0,0,.5)

// my_btn

.my_btn
    padding: 15px 0
    width: 100%
    border: 0px solid #ED282C
    color: #CCCCCC
    font-size: 18px
    border-radius: 3px
    box-shadow: 1px 1px 3px 1px rgba(200,200,200, 0.2) inset
    transition: .3s
    background: rgba(52, 152, 219, 0.1)
    margin-bottom: 5px
    &:hover
        cursor: pointer
        transition: .3s
        background: rgba(52, 152, 219, 0.2)
    &:focus
        outline: none

// my-contact-form

.my_contact_form
    padding: 30px 15px
    border-radius: 5px
    h5
        text-align: center
        color: #CCCCCC
    input
        border-radius: 3px
    .form-control
        min-height: 0
        margin-bottom: 15px

// my_input

.my_input
    color: #8B8B8B
    font-size: 16px
    text-align: center
    transition: .3s
    border: 1px solid transparent
    background: rgba(52, 152, 219, 0.1)
    &:hover
        transition: .3s
        background: rgba(52, 152, 219, 0.2)
    &:focus
        color: #cccccc
        transition: .3s
        background-color: rgba(52, 152, 219, 0.1)
        border-color: rgba(52, 152, 219, 0.5)

// #about

#about
    .about.block
        border: 1px solid #D0D0D0
        border-radius: 5px
        padding: 15px 0
        height: 100%
        background: linear-gradient(to bottom left, #E1E1E1, #f0f0f0)
        box-shadow: 0 1px 4px rgba(0, 0, 0, .1), -10px 0 20px -10px rgba(0, 0, 0, .3), 10px 0 20px -10px rgba(0, 0, 0, .3), 0 0 40px rgba(0, 0, 0, .1) inset
        p
            font-size: 18px
            margin: 0
        img
            margin-bottom: 5px

// services

.my_services
    padding: 30px 0
    .container
        padding-bottom: 30px
        .tab-content
            background: linear-gradient(to bottom, #E1E1E1, #f0f0f0)
            -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3)
            -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3)
            box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3)
            margin-bottom: 40px
            h5
                color: #585B60
            .img_abs
                max-height: 100px
                max-width: 100px
                right: 0
                bottom: 0
            .tab-pane
                min-height: 260px      

.bt_red
    border-top: 2px solid #FF1E00!important

#nav-tab
    padding-top: 15px
    .my_navitem
        width: 167px
        text-align: center 
    .active

#nav-tabContent
    margin-top: 15px

.pb-8
    padding-bottom: 8px

// my_security

.my_security
    padding: 30px 0
    .d_img_secur_top
        margin-left: auto
        margin-right: auto
        margin-bottom: 20px
        max-width: 50px
        padding: 10px
        border-radius: 50%
        background: linear-gradient(to top, rgba(136,178,201,.8), rgba(184,195,201,.5))
        img
            height: auto
            max-width: 50px
    .d_img_secur
        .img_secur
            max-width: 200px
            padding: 40px
            border-radius: 50%
            background: linear-gradient(to top, rgba(136,178,201,.8), rgba(184,195,201,.5))
            z-index: 50
            img
                height: auto
                max-width: 150px
                z-index: 51
    .img_shadow
        width: 100%
        height: 0px
        background: transparent
        z-index: 49
    .d_txt
        max-width: 350px
        text-align: center
    .right_d_txt
        padding-left: 50px
    .left_d_txt
        padding-right: 50px
    .my_span
        height: 20px
        margin-top: 5px
        background: rgba(185,196,202,.5)
        transform: rotateX(25deg)
        width: 50%
        margin-left: auto
        margin-right: auto
        border-radius: 50%

// contact form hidden

.hidden
    display: none



        










