$main_color: #373a3d
$main_bg: #383b3e
$main_white: #fff
$main_green: #73a880
$main_bg_light: #ececec
$main_bg_light_hover: #b3b3b3
$main_pink: #ffcccc
body
	font-family: 'Roboto', sans-serif
	font-weight: normal
	font-size: 16px
	background: #fff
	color: $main_color
	margin: 0
	padding: 0
	position: relative
	line-height: 1.6
	box-sizing: border-box
	a
		text-decoration: none
		color: $main_color
		&:hover
			text-decoration: none
			color: $main_color

.hidden
	display: none
.loader
	background: none repeat scroll 0 0 #ffffff
	bottom: 0
	height: 100%
	left: 0
	position: fixed
	right: 0
	top: 0
	width: 100%
	z-index: 9999
	display: flex
	justify-content: center
	align-items: center
	.loader_inner
		background-image: url("../img/preloader.gif")
		background-size: cover
		background-repeat: no-repeat
		background-position: center center
		background-color: #fff
		height: 256px
		width: 256px

/* --- Navbar START --- */
.navbar
	padding: 20px
	margin-left: 30px
	margin-right: 30px
	transition: 0.5s
	.navbar-brand
		padding: 0
	img
		width: 300px
		margin: 0
		padding: 0
	.anim
		color: #fff
		text-transform: uppercase
		position: relative
		overflow: hidden
		span
			transition: 0.5s
			transform-origin: left
			mix-blend-mode: difference
		&:before
			transition: 0.5s
			position: absolute
			content: ''
			top: 0
			left: 0
			width: 100%
			height: 100%
			background: $main_bg
			transform-origin: left
			transform: scaleX(0)
		&:hover
			span
				color: #fff
				mix-blend-mode: difference
			&:before
				transform: scaleX(1)
	p
		color: $main_bg
		margin: 0
		padding-right: 10px
		display: inline-block
	.navbar-toggler-icon
		background: url('../img/burger-light.png')
		background-size: 100% 100%
		background-repeat: no-repeat
		width: 2em
		height: 2em
		&:focus
			outline: none
	.navbar-toggler
		transition: 0.3s
		&:focus
			transition: 0.3s
			outline: none
			border: 1px solid #fff
.active
	position: relative
	overflow: hidden
	span
		color: #fff
		mix-blend-mode: difference
	&:before
		position: absolute
		content: ''
		top: 0
		left: 0
		width: 100%
		height: 100%
		background: $main_bg
		animation: animate 7s linear infinite
@keyframes animate 
	0%
		transform-origin: left
		transform: scaleX(0)
	50%
		transform-origin: left
		transform: scaleX(1)
	51%
		transform-origin: right
		transform: scaleX(1)
	100%
		transform-origin: right
		transform: scaleX(0)
.fixed-nav
	background: rgba(255,255,255, 0.9)
	color: $main_bg	
	padding: 0
	transition: 0.5s
	border-bottom: 1px solid #878c92
	.navbar-toggler-icon
		background: url('../img/burger-black.png')
		background-size: 100% 100%
		background-repeat: no-repeat
		width: 2em
		height: 2em
		&:focus
			outline: none
	.navbar-toggler
		transition: 0.3s
		&:focus
			transition: 0.3s
			outline: none
			border: 1px solid $main_color
.navbar-nav
	text-align: center
	
/* --- Navbar END --- */

/*--- video-head START ---*/
.video-head
	width: 100%
	min-height: 100vh
	padding: 30px 0
	overflow: hidden
	position: relative
	background: rgba(0,0,0, .6)
	.video-cont
		position: absolute
		bottom: 0
		left: 0
		width: 100%
		height: 100%
		min-height: 100vh
		overflow: hidden
		background: url('../img/videobg.jpg')
		background-size: cover
		background-position: center
		background-repeat: no-repeat
		background-attachment: fixed
		z-index: -2
		video
			min-width: 100%
			min-height: 100%
			z-index: -1
	.container-fluid
		padding-top: 70px
		h1
			font-size: 2.3rem
			display: block
			width: 70%
			text-transform: uppercase
			background: rgba(255,255,255, .7)
			padding: 10px
			margin-bottom: 10px
		.row
			.header-button
				margin-bottom: 10px
			h4
				padding: 5px
				color: #ffffff
				background: $main_green
			ul
				list-style: none
				padding: 0
				li
					text-transform: uppercase
					padding: 5px
					padding-left: 10px
					font-size: 20px
					background: rgba(255,255,255, .7)
/*-- video-head END ---*/



/* --- head-wrap START --- */
.head-wrap
	padding-bottom: 30px
	min-height: 100vh
	height: 100%
	width: 100%
	background: url('../img/head_bg.jpg')
	background-size: cover
	background-repeat: no-repeat
	background-position: center center
	overflow: hidden
	position: relative
	.animation-head
		position: absolute
		width: 100%
		min-height: 100vh
		height: 100%
	.container-fluid
		min-height: 100vh
		height: 100%
		background: rgba(0,0,0, .2)
		.row
			min-height: 100vh
			height: 100%
			padding-top: 100px
			.wrap-text-right
				position: relative
				padding: 30px 10px 0 10px
				.img-fore-right
					position: absolute
					right: -20px
					bottom: -80px
				ul
					list-style: none
					li
						text-transform: uppercase
						position: relative
						background: #fff
						margin: 7px 0 10px 10px
						padding: 2px 0 2px 5px
						//span
						//	transition: 0.7s
						//	transform-origin: left
						//	color: #fff
						//	mix-blend-mode: difference
						//&:before
						//	transition: 0.7s
						//	position: absolute
						//	content: ''
						//	top: 0
						//	left: 0
						//	width: 100%
						//	height: 100%
						//	background: $main_bg
						//	transform-origin: right
						//	transform: scaleX(0)
						//&:hover
						//	span
						//		color: #fff
						//		mix-blend-mode: difference
						//	&:before
						//		transform: scaleX(1)
						i
							position: absolute
							color: #73a880
							left: -25px
							top: 5px
							font-size: 20px
						&:after
							position: absolute
							content: ''
							border-bottom: 1px solid $main_bg_light
							bottom: -4px
							left: -10px
							right: 0
						&:nth-child(odd)
							&:after
								animation: lianim 7s linear infinite
						&:nth-child(even)
							&:after
								animation: lianim 5s linear infinite
			.wrap-text-left
				color: #fff
				position: relative
				text-align: center
				// background: linear-gradient(180.6475341042708deg, rgba(255, 255, 255,0.8) 41.58273381294964%,rgba(255, 255, 255,0.8) 41.94244604316547%,rgba(255, 255, 255,0.007361344537815114) 84.74820143884892%,rgba(255, 255, 255,0) 84.74820143884892%)
				// min-height: 40vh
				background: rgba(0,0,0, .4)
				border-left: 2px solid $main_green
				width: 90%
				padding: 10px
				h1
					font-size: 2rem
				hr
					background: #fff
					background-color: #fff
					border: 1px solid #fff
					width: 80%
				.img-one-right
					position: absolute
					left: -50px
					top: -50px
				.img-two-right
					position: absolute
					left: -350px
					top: 150px
				.img-three-right
					position: absolute
					left: 500px
					bottom: -180px
				.img-five-right
					position: absolute
					left: 300px
					bottom: -150px
				h3
					margin-bottom: 15px
/* --- head-wrap END --- */


/*-- About new video START--- */
.about-new-video
	min-height: 100vh
	width: 100%
	padding-bottom: 30px
	background: #fff
	overflow: hidden
	position: relative
	.video-cont
		position: absolute
		bottom: 0
		left: 0
		width: 100%
		height: 100%
		min-height: 100vh
		overflow: hidden
		background: url('../img/videobg.jpg')
		background-size: cover
		background-position: center
		background-repeat: no-repeat
		background-attachment: fixed
		z-index: 1
		video
			min-width: 100%
			min-height: 100%
	.container-fluid
		padding: 30px 0 0 0
		background: #f2f2f2
		position: relative
		z-index: 3
		// &:before
		// 	z-index: 0
		// 	width: 120%
		// 	height: 200px
		// 	left: -10%
		// 	background: #fff
		// 	transform: rotate(-5deg)
		// 	content: ''
		// 	position: absolute
		// 	bottom: -100px
		hr
			width: 80%
		h4
			z-index: 3
		.line-about
			position: absolute
			bottom: -30px
			left: -15px
			width: calc(100vw + 200px)
			height: 70px
			background: #fff
			transform: rotate(-3deg)
			z-index: 2
/* --- About ned Video END ---*/


/* --- About START --- */
.about
	padding: 30px 0 0 0
	background: #fff
	overflow: hidden
	.text-wrap
		p
			text-indent: 20px
	.bg-about-row
		background: url('../img/bg-about-row.jpg')
		background-position: center center
		background-size: 100% 100%
		background-repeat: no-repeat
	.list01
		padding: 15px
	.list02
		padding: 15px
	.psm_img
		width: 300px
		margin-top: 20px
		margin-bottom: 20px
	.after-vl
		position: relative
		&:after
			position: absolute
			content: ''
			width: 30px
			height: 30px
			background: $main_bg_light
			top: 50%
			right: 10vw
	.header-wrap
		background: $main_bg_light
		padding: 15px 5px 15px 5px
		position: relative
		h4
			text-transform: uppercase
			display: inline
			margin: 0
		i
			font-size: 16px
			color: $main_green
			display: inline
			padding-right: 10px
	.header-wrap-after
		&:after
			content: ''
			position: absolute
			width: 30px
			height: 30px
			background: #fff
			right: 15vw
			bottom: -15px
	.head-hr
		margin: 0
		padding: 0
		background-color: $main_color
		width: 65%
	.header-text-wrap
		background: $main_bg_light
		padding: 20px
		p
			margin: 0
		i
			margin-top: 5px
			margin-right: 10px
			color: $main_green
	.header-small-wrap
		padding: 30px 5px 10px 5px
		h5
			text-transform: uppercase
			display: inline
			margin: 0
		i
			font-size: 16px
			color: $main_green
			display: inline
			padding-right: 10px
	.bg-project-wrap
		background: url('../img/bg-pro01.png')
		background-position: center center
		background-size: 100% 100%
		background-repeat: no-repeat
		padding: 0 10px 30px 10px
		margin-bottom: 15px
		img
			width: 80%
		.slider-about-wrap
			position: relative
			margin-bottom: 15px !important
			.slider-about-cont
				padding-bottom: 30px
				&:focus
					outline: none
			.slick-dots
				.slick-active
					button
						&:before
							background: $main_green
				li
					margin: 5px
					button
						&:before
							position: absolute
							content: ''
							border: 2px solid $main_green
							top: 0
							right: 0
							left: 0
							bottom: 0
	.about-trimo
		margin-bottom: 30px
		img
			width: 110px
			height: 110px
			margin-right: 15px
	.about-video-wrap
		// align-self: flex-end
		margin-bottom: 30px
		.about-video-cont
			background: url('../img/about_video_01.png')
			background-position: center
			background-size: 100% 100%
			background-repeat: no-repeat
			padding: 30px 60px
			position: relative
			a
				i
					position: absolute
					font-size: 50px
					top: 50%
					left: 50%
					transform: translate(-50%, -50%) scale(1)
					color: #fff
					transition: 0.3s
				&:hover
					i
						transform: translate(-50%, -50%) scale(1.2)
.flex-about
  display: flex
  justify-content: space-between
  flex-direction: column
/* --- About END --- */


/* --- Project start --- */
.project
	background: #fff
	padding-bottom: 40px
	overflow: hidden
	.pr-new-img-wrap
		overflow: hidden
		a
			cursor: pointer
			img
				transition: 0.3s
				&:hover
					transition: 0.3s
					transform: scale(1.1)

	.bg-for
		background: url('../img/pr_bg.png')
		background-size: 100% 100%
		background-position: center center
		background-repeat: no-repeat
		padding: 30px
	.header-wrap
		background: $main_bg_light
		padding: 15px 5px 15px 5px
		h4
			text-transform: uppercase
			display: inline
			margin: 0
		i
			font-size: 16px
			color: $main_green
			display: inline
			padding-right: 10px
	.head-hr
		margin: 0
		padding: 0
		background-color: $main_color
		width: 70%
	.med-cont
		position: relative
		.project-descr
			color: #fff
			position: absolute
			bottom: 0
			left: 0
			right: 0
			padding: 15px 10px
			background: rgba(0,0,0, .7)
	.header-small-wrap
		padding: 30px 5px 30px 5px
		h5
			text-transform: uppercase
			display: inline
			margin: 0
		i
			font-size: 16px
			color: $main_green
			display: inline
			padding-right: 10px
	.small-wrap
		position: relative
		z-index: 2
		transition: 0.3s
		.slick-current
			transition: 0.3s
			border-left: 2px solid $main_color !important
			img
				transition: 0.3s
				border: 3px solid $main_bg_light !important
				opacity: 1 !important
		.small-cont
			padding: 10px
			z-index: 2
			border-left: 2px solid #fff
			&:focus
				outline: none
			img
				cursor: pointer
				width: 50% !important
				border: 3px solid #fff
				opacity: 0.6
		.slick-next
			left: 47%
			top: -3%
			width: 30px
			height: 30px
			&:before
				position: absolute
				color: #000
				content: ''
				border-top: 2px solid $main_color
				border-right: 2px solid $main_color
				top: 0
				left: 0
				right: 0
				bottom: 0
				transform: rotate(-45deg)
		.slick-prev
			left: 47%
			bottom: -40px
			top: 103%
			width: 30px
			height: 30px
			&:before
				position: absolute
				color: #000
				content: ''
				border-bottom: 2px solid $main_color
				border-right: 2px solid $main_color
				top: 0
				left: 0
				right: 0
				bottom: 0
				transform: rotate(44deg)
	.slick-dots
		display: flex
		flex-direction: column
		align-items: flex-end
		top: 60%
		transform: translateY(-50%)
		right: 25px
		z-index: 2
		width: 50px
		.slick-active
			button
				&:before
					background: $main_green
		li
			margin: 5px
			button
				&:before
					position: absolute
					content: ''
					border: 2px solid $main_green
					top: 0
					right: 0
					left: 0
					bottom: 0

	.slick-slider
		margin-bottom: 0 !important
	.arrow-pr
		position: absolute
		left: 2vw
		bottom: -2.4vh
/* --- Project END --- */


/* --- adwantages START --- */
.adwantages
	padding: 30px 0
	overflow: hidden
	background: url('../img/adw_bg.jpg')
	background-size: 100% 100%
	background-position: center center
	background-repeat: no-repeat
	position: relative
	.bg-cont
		margin-top: 29px
		min-height: 50vh
		background: url('../img/bgadw.jpg')
		background-size: cover
		background-repeat: no-repeat
		background-position: center center
		position: relative
		margin-bottom: 30px
		.head-hr
			border-bottom: 1px solid $main_bg
			position: absolute
			right: 0
			top: -2px
		.header-bg-adw
			bottom: -40px
			left: 20%
			position: absolute
			background: $main_bg_light
			display: block
			margin-right: auto
			margin-left: auto
			padding: 20px
			width: 60%
			text-align: center
			border-bottom: 2px solid $main_bg
			i
				font-size: 16px
				color: $main_green
	.header-abs
		position: absolute
		top: 0
		left: 0
		right: 0
	.header-wrap
		background: $main_bg_light
		padding: 15px 5px 15px 5px
		position: relative
		z-index: 99
		h4
			text-transform: uppercase
			display: inline
			margin: 0
		i
			font-size: 16px
			color: $main_green
			display: inline
			padding-right: 10px
	.header-wrap-after
		&:after
			content: ''
			position: absolute
			width: 15vw
			height: 30px
			background: $main_bg_light
			left: 5vw
			bottom: -15px
	.head-hr
		margin: 0
		padding: 0
		background-color: $main_color
		width: 75%
		z-index: 999
	.adw-text-wrap
		padding: 30px
		ul
			list-style: none
			li
	.row
		ul
			margin-top: 50px
			list-style: none
			padding-top: 15px
			padding-bottom: 15px
			li
				font-size: 18px
		.border-left
			border-left: 2px solid $main_bg !important
/* --- adwantages END --- */
/* --- adwantages-NEW START --- */
.adwantages-new
	padding: 30px 0
	overflow: hidden
	min-height: 60vh
	.header-wrap
		background: $main_bg_light
		padding: 15px 5px 15px 5px
		position: relative
		z-index: 99
		h4
			text-transform: uppercase
			display: inline
			margin: 0
		i
			font-size: 16px
			color: $main_green
			display: inline
			padding-right: 10px
	.left-old
		background: url('../img/old.jpg')
		background-size: cover
		background-repeat: no-repeat
		background-position: center center
		background-position-x: -50px
		background-attachment: fixed
		min-height: 50vh
		border: 3px solid $main_bg
		border-right: 1px solid red
		box-shadow: inset -3px 0px 3px 1px red
	.right-old
		box-shadow: inset 3px 0px 3px 1px $main_green
		border: 3px solid $main_bg
		border-left: 1px solid $main_green
		background: url('../img/pr_new01.jpg')
		background-size: cover
		background-repeat: no-repeat
		background-position: center center
		background-attachment: fixed
		background-position-y: -150px
		background-position-x: 100px
		min-height: 50vh
	.text-cont-old
		padding: 30px
		ul
			padding: 30px
			margin: 0
			list-style: none
			background: rgba(255,255,255, .7)
			li
				text-align: center
				text-transform: uppercase
				border-bottom: 2px solid $main_green
				margin-bottom: 5px
				font-weight: bold

	.head-hr
		margin: 0
		padding: 0
		background-color: $main_color
		width: 75%
		z-index: 999
/* --- adwantages-NEW END --- */

/* --- about-new start --- */
.about-new
	overflow: hidden
	position: relative
	padding: 30px 0
	height: calc(100vh + 100px)
	background: url('../img/about_bg.jpg')
	background-size: cover
	background-repeat: no-repeat
	background-position: scroll
	.col-12
		img
			background: #fff
			padding: 5px
			box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75)
	.first-h4
		margin-top: 50px
	.two-h4
		margin-top: 180px
/* --- about-new end --- */




/* --- Reviews START --- */
.reviews
	position: relative
	padding-bottom: 50px
	overflow: hidden
	background: url('../img/rewbg.jpg')
	background-size: cover
	background-position: center center
	background-repeat: no-repeat
	.header-wrap
		background: $main_bg_light
		padding: 15px 5px 15px 5px
		position: relative
		h4
			text-transform: uppercase
			display: inline
			margin: 0
		i
			font-size: 16px
			color: $main_green
			display: inline
			padding-right: 10px
	.header-wrap-after
		&:after
			content: ''
			position: absolute
			width: 30px
			height: 30px
			background: #fff
			right: 15vw
			bottom: -15px
	.head-hr
		margin: 0
		padding: 0
		background-color: $main_color
		width: 65%
	.text-wrap
		background: #fff
		position: relative
	.text-cont
		height: 100%
		display: flex
		.text-border
			padding: 20px
			border-left: 1px solid $main_color
	.img-bg
		background: url('../img/img-bg.png')
		background-size: 100% 100%
		background-repeat: no-repeat
		background-position: center center
		padding-top: 10px
		padding-bottom: 10px
		.img-wrap
			position: absolute
			bottom: -30px
			left: -50vw
	.slider-rew-wrap
		position: relative
		.slick-dots
			bottom: -50px
			.slick-active
				button
					&:before
						background: $main_green
			li
				margin: 5px
				button
					&:before
						position: absolute
						content: ''
						border: 2px solid $main_green
						top: 0
						right: 0
						left: 0
						bottom: 0
/* --- Reviews end --- */
/* --- footer Start --- */
.footer
	min-height: 50vh
	padding: 30px 0
	background: url('../img/footerbg.jpg')
	background-size: cover
	background-repeat: no-repeat
	background-position: center center
	.container-fluid
		.row
			min-height: 50vh
	.footer-adress		
		iframe
			width: 100%
			height: 200px
		h4
			text-align: center
			color: #fff
/* --- footer end --- */

@keyframes lianim
	0%
		left: -20px
	50%
		left: 10px
	100%
		left: -20px
/* -- Decoration START ---*/
.ml10
	margin-left: 10px !important
.ml20
	margin-left: 50px !important
.ml30
	margin-left: 90px !important
.ml40
	margin-left: 130px !important
.ml50
	margin-left: 170px !important
.main-bg-light
	background: $main_bg_light
.left-p
	padding-left: 10px !important

.row-eq-height
  display: flex
.rew-cont
	height: 100%
/* -- Decoration END ---*/


/*--- Buttons START ---*/
.header-button
	color: #fff
	background: $main_bg_light
	padding: 10px 20px
	margin-top: 10px
	text-transform: uppercase
	border-bottom: 4px solid $main_bg_light_hover
	box-shadow: 0px 2px 2px 0px rgba(179, 179, 179, .5)
	position: relative
	overflow: hidden
	width: 200px
	span
		color: #fff
		transition: 0.5s
		transform-origin: bottom
		mix-blend-mode: difference
	&:before
		transition: 0.5s
		position: absolute
		content: ''
		top: 0
		left: 0
		width: 100%
		height: 100%
		background: $main_bg_light_hover
		transform-origin: bottom
		transform: scaleY(0)
	&:hover
		span
			color: #fff
			mix-blend-mode: difference
		&:before
			transform: scaleY(1)


.more-button
	display: block
	background: $main_bg_light
	width: 150px
	text-transform: uppercase
	text-align: center
	padding: 5px 10px
	position: relative
	border-bottom: 2px solid $main_green
	border-right: 2px solid $main_green
	box-shadow: 2px 2px 2px 0px rgba(115,168,128, .7)
	transition: 0.3s
	// &:after
	// 	transition: 0.3s
	// 	position: absolute
	// 	content: ''
	// 	width: 20px
	// 	height: 20px
	// 	background: $main_green
	// 	left: -25px
	// 	top: 23%
	&:hover
		transition: 0.3s
		background: $main_bg_light_hover
		color: #fff
		// &:after
		// 	transition: 0.3s
		// 	background: $main_bg_light
/*--- Buttons END ---*/



/*--- Form START ---*/
.footer-form
	width: 320px
	max-width: 100%
	padding: 30px 20px
	background: #fff
	box-shadow: 5px 5px 0px 0px #999999
	h3, h4
		text-align: center
	hr
		width: 60%
		background-color: $main_color
	input
		width: 100%
		margin-top: 10px
		text-align: center
		background: $main_bg_light
		border: none
		border-bottom: 1px solid $main_color
		padding: 10px
	button
		padding: 10px
		color: $main_green
		text-transform: uppercase
		margin: 20px
		width: 200px
		display: block
		margin-left: auto
		margin-right: auto
		background: $main_bg_light
		box-shadow: 2px 2px 0px 0px #999999
		border: none
		transition: 0.3s
		cursor: pointer
		&:hover
			transition: 0.3s
			background: $main_bg
			color: #fff
/*--- Form END ---*/