@media only screen and (min-size: 992px){
    
}

@media only screen and (max-width: 991px) {
    .title-scroll {
        padding-top: 100px;
    }
    .title-scroll p {
        font-size: 18px;
    }
    .contact-area .col-img {
        display: none!important;
    }
    .header-area .alazea-main-menu .classy-navbar .classy-menu {
        background: linear-gradient(to right, #70c745, #7DDE4D);
    }
    .header-area .alazea-main-menu .classy-navbar .classy-menu .classynav ul {
        padding-left: 10px;
    }
    .header-area .alazea-main-menu .classy-navbar .classy-menu .classynav ul li a {
        background: linear-gradient(to right, #70c745, #7DDE4D)!important;
    }
    .header-area .alazea-main-menu .classy-navbar .classy-menu .classynav ul li a:hover {
        color: white;
        transform: scale(1.05,1);
    }
}

@media only screen and (max-width: 767px) {
    .alazea-service-area {
        flex-direction: column;
        padding-bottom: 30px;
    }
    .single-service-area {
        margin-bottom: 10px;
    }
    .new-arrivals-products-area .col-box img {
        max-width: 300px;
    }
    .title-scroll .container .row {
        margin-top: 0!important;
    }
}

@media only screen and (min-width: 577px) {
    .marg-l-auto {
        margin-left: auto!important;
    }
    .marg-r-auto {
        margin-right: auto!important;
    }
}

@media only screen and (max-width: 576px) { 
    .my-btn {
        padding: 10px 20px;
        font-size: 16px;
    }
    .title-scroll p {
        font-size: 18px;
    }
    .img-collapse {
        display: none;
    }
    .marg-auto {
        margin-left: auto!important;
        margin-right: auto!important;
    }
    .new-arrivals-products-area .col-box img {
        max-width: 225px;
    }
}

@media only screen and (max-width: 492px){
    .title-scroll p {
        font-size: 16px;
    }
}