a
    &:hover
        text-decoration: none

#what-mg, #adv-id, #desc-id, #rew-id, #contact-area-id, #foot-id
    overflow: hidden

#what-mg
    padding-bottom: 30px

.red-color
    color: #F30000

.header-area
    .is-sticky
        .alazea-main-menu
            background: linear-gradient(to top left, #70c745, #7DDE4D)
            .classynav
                ul
                    li
                        padding-what-mgleft: 5px
                        a
                            transform: scale(1,1)
                            &:hover
                                color: white
                                transform: scale(1.05,1)
                            &:focus
                                color: white
                                transform: scale(1.1,1)

.active
    transform: scale(1.1,1)!important
    color: #236800!important
    
    
.title-scroll
    height: 100%
    min-height: 100vh
    background: url("../img/bg-img/3.jpg")
    background-size: cover
    background-repeat: no-repeat
    z-index: 1
    padding-bottom: 30px
    overflow: hidden
    h1, h2, p
        color: white
        margin: 0
    .my-btn
        margin-top: 10px 
    p
        margin-left: auto!important
        margin-right: auto!important
        margin-bottom: 10px
        max-width: 600px
        border-radius: 5px
        font-size: 23px
        text-align: left
    .b-contact
        padding-top: 30px
        padding-bottom: 30px
    .hero-slides-content
        margin-left: auto
        margin-right: auto
        padding: 10px
        max-width: 700px
        border-radius: 5px
        box-shadow: 12px 14px 28px rgba(0,0,0,0.45), 0 10px 10px rgba(0,0,0,0.32)
        background: rgba(93,190,44,.1)
    .col-box
        div
            width: 100%
            display: flex
            flex-direction: column
            align-items: center
            justify-content: center
            img
                height: auto!important
                max-width: 300px!important
        

.my-btn 
    border-radius: 5px
    padding: 13px 25px
    font-size: 20px
    color: white
    box-shadow: 0 5px 0 #5AA037
    text-transform: uppercase
    transition: .2s
    background: linear-gradient(to top, #70c745, #7DDE4D) 
    &:hover, &:focus
        transition: .2s
        background: linear-gradient(to right, #70c745, #7DDE4D) 
        text-decoration: none
        color: white
        outline: none

.my-btn-form
    border: none

.my-btn .active
    transition: .2s
    background: #7FE14E


.back_ 
    top: 0
    left: 0
    right: 0
    bottom: 0
    z-index: -2 
    background: rgba(0,0,0,.3)


// .alazea-video-area

.alazea-video-area
    height: auto
    max-width: 600px
    margin-left: auto
    margin-right: auto

// new-arrivals-products-area
 
.new-arrivals-products-area
    padding-top: 60px
    padding-bottom: 60px
    .col-box
        padding-top: 15px
        padding-bottom: 30px
        img
            height: auto
            max-width: 400px

// footer-area

.footer-area 
    background: url("../img/footer/bg-foot.jpeg")
    background-repeat: no-repeat
    background-position: bottom
    background-size: cover

// contact area

.contact-area
    .col-img
        padding: 0 0 30px 0

// my-contact-form

.my-contact-form
    text-align: center
    max-width: 400px
    margin-left: auto
    margin-right: auto
    background: #F2F4F5
    padding: 20px
    padding-bottom: 35px
    border-radius: 10px
    background: rgb(187,187,187) radial-gradient(circle at 50% 0, rgba(242,244,245,.65), rgba(242,244,245,.35))
    box-shadow: inset rgba(0,0,0,.6) 0 -3px 8px, inset rgba(242,244,245,.7) 0 3px 8px, rgba(0,0,0,.8) 0 3px 8px -3px
    h4
        color: #565956
    .my-btn
        font-size: 18px
        padding: 10px 20px
    
    
.form-control
    &:focus
        border-color: rgba(122,217,75,.7)!important
        box-shadow: 0 0 0 .2rem rgba(122,217,75,.65)!important

.mfp-close 
    right: 0!important
    left: auto!important
    color: white!important
    border-top-right-radius: 10px
    opacity: 1!important
    box-shadow: inset rgba(0,0,0,.3) 0 -3px 8px, inset rgba(242,244,245,.4) 0 3px 8px, rgba(0,0,0,.3) 0 3px 8px -3px!important
    transition: .2s!important
    background: linear-gradient(to top, #70c745, #7DDE4D)!important 
    &:hover
        transition: .2s!important
        background: linear-gradient(to right, #70c745, #7DDE4D)!important

// ZOOM GALLERея

.mfp-zoom-out-cur
    .mfp-image-holder
        .mfp-close
            top: 45px
            right: 5px!important
            border-radius: 30px
            background: #70C745!important
            box-shadow: 0 0 0 transparent!important

.hr-in-main-form
    border: 0
    height: 1px
    background-image: linear-gradient(to right, rgba(94, 181, 62, 0), rgba(94, 181, 62, 0.75), rgba(94, 181, 62, 0))

.testimonial-thumb
    max-height: 300px
    max-width: 300px
	
// VIDEO-IFRAME

.mfp-iframe-scaler
	.mfp-close
        top: 0!important 
        border-radius: 0!important 
        box-shadow: 0 0 0 black!important










