$yellow-color: #FFDD71
$blue-color: #3399ff
$blue-opacity: rgba(51,153,255,.5)
$yellow-opacity: rgba(255,221,113,.5)
$green-color: #0faf00
$ts-black: 1px 1px 1px #000
$ts-lime-green: 0px 0px 1px #47B105
$ts-none: 0px 0px 0px transparent
$bs-yellow: .3em .3em .1em 0px $yellow-color
$lg-gray-to-b: linear-gradient(to bottom, #EDEDED, #F6F6F6)
    
body
    margin: 0
    a
        font-size: 18px
        transition: 0.3s
        color: #fff
        text-shadow: $ts-black
        &:hover
            transition: 0.3s
            color: white
            text-decoration: none
    p
        color: white
        text-shadow: $ts-black
        font-size: 20px
        font-weight: 600
    h2
        color: white
        text-shadow: $ts-black
        font-size: 40px
        font-weight: 700
        padding: 15px 0
    h3
        color: white
        text-shadow: $ts-black
        font-size: 30px
        font-weight: 700

// TITLE

.d-title
    background: $blue-color
    width: 400px
    transform: skew(185deg, 170deg)
    border-radius: 5px
    box-shadow: $bs-yellow

// NAV-BAR

.my-navbar
    position: fixed
    width: 100%
    margin: 0
    background: $yellow-color
    z-index: 10
    .d-num-tel
        a
            font-weight: 600
            &:hover
                text-shadow: $ts-lime-green
    .d-my-navbar 
        ul
            .li-item
                margin-left: 10px
                margin-right: 10px
                a
                    padding: 4px 10px
                    background: $green-color
                    transform: skewY(176deg)
                    border-radius: 2px
                    &:hover
                        text-shadow: $ts-black
                        transform: skewY(180deg)
            .li-nam-tel
                a
                    &:hover
                        text-shadow: $ts-lime-green
            .li-connect-wu
                a
                    padding: 4px 7px
                    background: $blue-color
                    border-radius: 5px 
                    transform: scale(1,1)
                    &:hover
                        text-shadow: $ts-black
                        color: #fff
                        transform: scale(1.1,1.1)

.collapse-navbar-menu
    transition: .5s
    transform: scaleY(0)
    transform-origin: top

.visable-navbar-menu
    transition: .5s
    transform: scaleY(1)
    transform-origin: top

// FIRST-SCROLL

.first-scroll
    height: 100%
    min-height: 100vh
    overflow: hidden
    .container-fluid
        height: 100%
        .row
            .col-md-12
                div
                    padding-top: 10px
                    .my-img-animation
                        -webkit-animation: shake 1.5s linear alternate-reverse infinite
                        animation: shake 1.5s linear alternate-reverse infinite
            .col-md-3
                border-right: 2px solid $blue-color
                ul
                    list-style: none
                    li
                        margin-top: 20px
                        margin-bottom: 20px
                        padding-top: 10px
                        padding-bottom: 10px
                        transform: skewY(170deg)
                        a
                            padding: 20px 20px
                            background: $green-color
                            border-radius: 5px
                            &:hover
                                margin-left: 15px
                    .li-connect-wu
                        a
                            padding-top: 18px
                            padding-bottom: 18px
                            border: 2px solid transparent
                            background: $blue-color
                            &:hover
                                transition: .1s
                                border-top-color: $yellow-color
                                transition: .4s
                                border-bottom-color: $yellow-color
                                transition: .2s
                                border-right-color: $yellow-color
                                transition: .3s
                                border-left-color: $yellow-color
            .col-md-9
                .row
                    .col-triggers
                        div
                            p
                                background: rgba(255,255,255,.2)
                                padding: 10px 5px
                    .col-md-6
                        div
                            iframe
                                border: 3px solid $yellow-color
                                border-radius: 3px
                            
// SECOND SCROLL

.second-scroll
    height: 100%
    min-height: 100vh
    overflow: hidden
    background: #f0f0f0
    padding-top: 30px
    padding-bottom: 30px
    .container
        .row
            .col-md-6
                .d-video
                    padding-top: 50px
                    iframe
                        border: 3px solid $yellow-color
            .about-us-text
                background: $blue-color
                padding: 5px 10px
                border-radius: 5px
                box-shadow: $bs-yellow
                p
                    margin: 0

// THIRD SCROLL

.name-products
    background: $green-color
    width: 300px
    padding-top: 5px
    padding-bottom: 5px
    border-radius: 5px
    box-shadow: $bs-yellow

.thid-scroll
    height: 100%
    min-height: 100vh
    overflow: hidden
    padding-top: 30px
    padding-bottom: 30px
    .container
        .row
            .col-title
                border-bottom: 2px solid $blue-color
                padding-top: 20px
                padding-bottom: 50px
            .col-product
                .row
                    .col-md-12
                        padding-top: 20px
                    .col-md-4
                        padding-top: 20px
                        .d-prod
                            border: 2px solid $yellow-color
                            min-height: 100%
                            border-radius: 3px
                            div
                                padding-top: 15px
                                padding-bottom: 15px
                                a
                                    img
                                        padding-bottom: 5px
                                        width: 150px
                                        transition: 0.2s
                                        transform: scale(1,1)
                                        &:hover
                                            transition: 0.2s
                                            transform: scale(1.1,1.1)
                                .a-more
                                    background: $blue-color
                                    border: 2px solid $blue-color
                                    border-radius: 3px
                                    transition: 0.2s
                                    padding: 7px 20px
                                    &:hover
                                        transition: 0.2s
                                        background: transparent
                                        padding-left: 25px
                                        padding-right: 25px

// FOURTH SCROLL

.fourth-scroll
    height: 100%
    min-height: 100vh
    overflow: hidden
    background: $lg-gray-to-b
    .container
        .row
            .col-delivery
                padding-top: 100px
                .row
                    .col-md-3
                        .d-deliv 
                            height: 200px
                            width: 200px
                            padding: 50px
                            background: $blue-color
                            border-radius: 50%
                            p
                                margin: 0
                        .my-aimation-deliv-1
                            -webkit-animation: zoom 1.5s linear alternate-reverse infinite
                            animation: zoom 1.5s linear alternate-reverse infinite
                        .my-aimation-deliv-2
                            -webkit-animation: zoom-2 1.5s linear alternate-reverse infinite
                            animation: zoom-2 1.5s linear alternate-reverse infinite
                        .my-aimation-deliv-3
                            -webkit-animation: zoom 1.5s linear alternate-reverse infinite
                            animation: zoom 1.5s linear alternate-reverse infinite
                        .my-aimation-deliv-4
                            -webkit-animation: zoom-2 1.5s linear alternate-reverse infinite
                            animation: zoom-2 1.5s linear alternate-reverse infinite
            .col-md-12
                .d-consultation
                    padding-top: 100px
                    a
                        padding: 15px 40px
                        background: $blue-color
                        border: 2px solid $blue-color
                        border-radius: 5px
                        font-size: 22px
                        &:hover
                            color: $blue-color
                            background: transparent
                            padding: 20px 50px

// FIFTH SCROLL

.fifth-scroll
    padding-top: 30px
    padding-bottom: 30px
    overflow: hidden
    .container
        .row
            .col-md-12
                .reviews
                    padding-top: 30px
                    .d-rev
                        background: $yellow-color
                        padding: 20px
                        border-radius: 15px
                        div
                            img
                                border: 2px solid $green-color
                                border-radius: 50%
                            p
                                border-bottom: 2px solid $green-color
            .col-title
                padding-top: 20px
                .d-title
                    width: 250px

.b-slick-prev
    left: 5px
    z-index: 2
    
.b-slick-next
    right: 5px
    
.b-slick-style
    background-color: transparent
    line-height: 0
    position: absolute
    top: 40%
    display: block
    transform: translateY(-50%)
    cursor: pointer
    border: none
    transition: .2s
    font-size: 30px
    i
        color: $blue-color
    &:hover
        transition: .2s
        font-size: 35px

                                




                                        
                                        
                                

