body {
  margin: 0; }
  body a {
    font-size: 18px;
    transition: 0.3s;
    color: #fff;
    text-shadow: 1px 1px 1px #000; }
    body a:hover {
      transition: 0.3s;
      color: white;
      text-decoration: none; }
  body p {
    color: white;
    text-shadow: 1px 1px 1px #000;
    font-size: 20px;
    font-weight: 600; }
  body h2 {
    color: white;
    text-shadow: 1px 1px 1px #000;
    font-size: 40px;
    font-weight: 700;
    padding: 15px 0; }
  body h3 {
    color: white;
    text-shadow: 1px 1px 1px #000;
    font-size: 30px;
    font-weight: 700; }

.d-title {
  background: #3399ff;
  width: 400px;
  transform: skew(185deg, 170deg);
  border-radius: 5px;
  box-shadow: 0.3em 0.3em 0.1em 0px #FFDD71; }

.my-navbar {
  position: fixed;
  width: 100%;
  margin: 0;
  background: #FFDD71;
  z-index: 10; }
  .my-navbar .d-num-tel a {
    font-weight: 600; }
    .my-navbar .d-num-tel a:hover {
      text-shadow: 0px 0px 1px #47B105; }
  .my-navbar .d-my-navbar ul .li-item {
    margin-left: 10px;
    margin-right: 10px; }
    .my-navbar .d-my-navbar ul .li-item a {
      padding: 4px 10px;
      background: #0faf00;
      transform: skewY(176deg);
      border-radius: 2px; }
      .my-navbar .d-my-navbar ul .li-item a:hover {
        text-shadow: 1px 1px 1px #000;
        transform: skewY(180deg); }
  .my-navbar .d-my-navbar ul .li-nam-tel a:hover {
    text-shadow: 0px 0px 1px #47B105; }
  .my-navbar .d-my-navbar ul .li-connect-wu a {
    padding: 4px 7px;
    background: #3399ff;
    border-radius: 5px;
    transform: scale(1, 1); }
    .my-navbar .d-my-navbar ul .li-connect-wu a:hover {
      text-shadow: 1px 1px 1px #000;
      color: #fff;
      transform: scale(1.1, 1.1); }

.collapse-navbar-menu {
  transition: 0.5s;
  transform: scaleY(0);
  transform-origin: top; }

.visable-navbar-menu {
  transition: 0.5s;
  transform: scaleY(1);
  transform-origin: top; }

.first-scroll {
  height: 100%;
  min-height: 100vh;
  overflow: hidden; }
  .first-scroll .container-fluid {
    height: 100%; }
    .first-scroll .container-fluid .row .col-md-12 div {
      padding-top: 10px; }
      .first-scroll .container-fluid .row .col-md-12 div .my-img-animation {
        -webkit-animation: shake 1.5s linear alternate-reverse infinite;
        animation: shake 1.5s linear alternate-reverse infinite; }
    .first-scroll .container-fluid .row .col-md-3 {
      border-right: 2px solid #3399ff; }
      .first-scroll .container-fluid .row .col-md-3 ul {
        list-style: none; }
        .first-scroll .container-fluid .row .col-md-3 ul li {
          margin-top: 20px;
          margin-bottom: 20px;
          padding-top: 10px;
          padding-bottom: 10px;
          transform: skewY(170deg); }
          .first-scroll .container-fluid .row .col-md-3 ul li a {
            padding: 20px 20px;
            background: #0faf00;
            border-radius: 5px; }
            .first-scroll .container-fluid .row .col-md-3 ul li a:hover {
              margin-left: 15px; }
        .first-scroll .container-fluid .row .col-md-3 ul .li-connect-wu a {
          padding-top: 18px;
          padding-bottom: 18px;
          border: 2px solid transparent;
          background: #3399ff; }
          .first-scroll .container-fluid .row .col-md-3 ul .li-connect-wu a:hover {
            transition: 0.1s;
            border-top-color: #FFDD71;
            transition: 0.4s;
            border-bottom-color: #FFDD71;
            transition: 0.2s;
            border-right-color: #FFDD71;
            transition: 0.3s;
            border-left-color: #FFDD71; }
    .first-scroll .container-fluid .row .col-md-9 .row .col-triggers div p {
      background: rgba(255, 255, 255, 0.2);
      padding: 10px 5px; }
    .first-scroll .container-fluid .row .col-md-9 .row .col-md-6 div iframe {
      border: 3px solid #FFDD71;
      border-radius: 3px; }

.second-scroll {
  height: 100%;
  min-height: 100vh;
  overflow: hidden;
  background: #f0f0f0;
  padding-top: 30px;
  padding-bottom: 30px; }
  .second-scroll .container .row .col-md-6 .d-video {
    padding-top: 50px; }
    .second-scroll .container .row .col-md-6 .d-video iframe {
      border: 3px solid #FFDD71; }
  .second-scroll .container .row .about-us-text {
    background: #3399ff;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0.3em 0.3em 0.1em 0px #FFDD71; }
    .second-scroll .container .row .about-us-text p {
      margin: 0; }

.name-products {
  background: #0faf00;
  width: 300px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  box-shadow: 0.3em 0.3em 0.1em 0px #FFDD71; }

.thid-scroll {
  height: 100%;
  min-height: 100vh;
  overflow: hidden;
  padding-top: 30px;
  padding-bottom: 30px; }
  .thid-scroll .container .row .col-title {
    border-bottom: 2px solid #3399ff;
    padding-top: 20px;
    padding-bottom: 50px; }
  .thid-scroll .container .row .col-product .row .col-md-12 {
    padding-top: 20px; }
  .thid-scroll .container .row .col-product .row .col-md-4 {
    padding-top: 20px; }
    .thid-scroll .container .row .col-product .row .col-md-4 .d-prod {
      border: 2px solid #FFDD71;
      min-height: 100%;
      border-radius: 3px; }
      .thid-scroll .container .row .col-product .row .col-md-4 .d-prod div {
        padding-top: 15px;
        padding-bottom: 15px; }
        .thid-scroll .container .row .col-product .row .col-md-4 .d-prod div a img {
          padding-bottom: 5px;
          width: 150px;
          transition: 0.2s;
          transform: scale(1, 1); }
          .thid-scroll .container .row .col-product .row .col-md-4 .d-prod div a img:hover {
            transition: 0.2s;
            transform: scale(1.1, 1.1); }
        .thid-scroll .container .row .col-product .row .col-md-4 .d-prod div .a-more {
          background: #3399ff;
          border: 2px solid #3399ff;
          border-radius: 3px;
          transition: 0.2s;
          padding: 7px 20px; }
          .thid-scroll .container .row .col-product .row .col-md-4 .d-prod div .a-more:hover {
            transition: 0.2s;
            background: transparent;
            padding-left: 25px;
            padding-right: 25px; }

.fourth-scroll {
  height: 100%;
  min-height: 100vh;
  overflow: hidden;
  background: linear-gradient(to bottom, #EDEDED, #F6F6F6); }
  .fourth-scroll .container .row .col-delivery {
    padding-top: 100px; }
    .fourth-scroll .container .row .col-delivery .row .col-md-3 .d-deliv {
      height: 200px;
      width: 200px;
      padding: 50px;
      background: #3399ff;
      border-radius: 50%; }
      .fourth-scroll .container .row .col-delivery .row .col-md-3 .d-deliv p {
        margin: 0; }
    .fourth-scroll .container .row .col-delivery .row .col-md-3 .my-aimation-deliv-1 {
      -webkit-animation: zoom 1.5s linear alternate-reverse infinite;
      animation: zoom 1.5s linear alternate-reverse infinite; }
    .fourth-scroll .container .row .col-delivery .row .col-md-3 .my-aimation-deliv-2 {
      -webkit-animation: zoom-2 1.5s linear alternate-reverse infinite;
      animation: zoom-2 1.5s linear alternate-reverse infinite; }
    .fourth-scroll .container .row .col-delivery .row .col-md-3 .my-aimation-deliv-3 {
      -webkit-animation: zoom 1.5s linear alternate-reverse infinite;
      animation: zoom 1.5s linear alternate-reverse infinite; }
    .fourth-scroll .container .row .col-delivery .row .col-md-3 .my-aimation-deliv-4 {
      -webkit-animation: zoom-2 1.5s linear alternate-reverse infinite;
      animation: zoom-2 1.5s linear alternate-reverse infinite; }
  .fourth-scroll .container .row .col-md-12 .d-consultation {
    padding-top: 100px; }
    .fourth-scroll .container .row .col-md-12 .d-consultation a {
      padding: 15px 40px;
      background: #3399ff;
      border: 2px solid #3399ff;
      border-radius: 5px;
      font-size: 22px; }
      .fourth-scroll .container .row .col-md-12 .d-consultation a:hover {
        color: #3399ff;
        background: transparent;
        padding: 20px 50px; }

.fifth-scroll {
  padding-top: 30px;
  padding-bottom: 30px;
  overflow: hidden; }
  .fifth-scroll .container .row .col-md-12 .reviews {
    padding-top: 30px; }
    .fifth-scroll .container .row .col-md-12 .reviews .d-rev {
      background: #FFDD71;
      padding: 20px;
      border-radius: 15px; }
      .fifth-scroll .container .row .col-md-12 .reviews .d-rev div img {
        border: 2px solid #0faf00;
        border-radius: 50%; }
      .fifth-scroll .container .row .col-md-12 .reviews .d-rev div p {
        border-bottom: 2px solid #0faf00; }
  .fifth-scroll .container .row .col-title {
    padding-top: 20px; }
    .fifth-scroll .container .row .col-title .d-title {
      width: 250px; }

.b-slick-prev {
  left: 5px;
  z-index: 2; }

.b-slick-next {
  right: 5px; }

.b-slick-style {
  background-color: transparent;
  line-height: 0;
  position: absolute;
  top: 40%;
  display: block;
  transform: translateY(-50%);
  cursor: pointer;
  border: none;
  transition: 0.2s;
  font-size: 30px; }
  .b-slick-style i {
    color: #3399ff; }
  .b-slick-style:hover {
    transition: 0.2s;
    font-size: 35px; }

/*# sourceMappingURL=my-style.css.map */
