@media only screen and (min-width : 1500px) 
{

}
@media only screen and (max-height : 700px) 
{
  .firstScroll
  {
    padding-top: 70px;
  }
 !important
}



@media only screen and (max-width : 1800px)
{

}
@media only screen and (max-width : 1600px)
{

}
@media only screen and (max-width : 1450px)
{

}
@media only screen and (max-width : 1280px)
{

}
@media only screen and (max-width : 1200px)
{

}
@media only screen and (max-width : 1140px) 
{

}

@media only screen and (max-width : 992px)
{
  h1 
  {
    font-size: 1.4rem !important;
  }
  h2
  {
    font-size: 1.3rem !important;
  }
  h3 
  {
    font-size: 1.2rem !important;
  }
  h4
  {
    font-size: 1.1rem !important;
  }
  h5
  {
    font-size: 1rem !important;
  }
  .about .aboutForm .inputWrap input
  {
    width: 100%;
    margin-bottom: 20px;
  }
  .firstScroll .mainBg
  {
    background-attachment: scroll;
  }

}
@media only screen and (max-width : 800px)
{

}
@media only screen and (max-width : 960px)
{

}
@media only screen and (max-width : 768px)
{
  .minH .advBCont .advUpL:before, .advDownL:before, .advUpR:before, .advDownR:before
  {
    display: none;
  }

}
@media only screen and (max-width : 576px)
{

}
@media only screen and (max-width : 500px)
{
  .about .videoCont iframe
  {
    height: 250px;
  }

}
@media only screen and (max-width : 450px)
{


}
@media only screen and (max-width : 400px)
{

  .about .videoCont iframe
  {
    height: 200px;
  }
}