$main_color: #363636
$main_color_light: #999999
$main_white: #fff
$main_rgb: #0a1992
$main_red: #db2d2e
$main_bg: #e6e6e6
$main_bg_light: #f8f8f8


body
	background: $main_white
	font-family: 'Roboto', sans-serif
	font-weight: normal
	font-size: 16px
	color: $main_color
	margin: 0
	padding: 0
	position: relative
	line-height: 1.6
	box-sizing: border-box
	a
		text-decoration: none
		color: $main_color
		&:hover
			text-decoration: none
			color: $main_color
button
	outline: none
	&:focus
		outline: none
.hidden
	display: none

section
	padding: 50px 0
	overflow: hidden
.done
	min-height: 100vh
.row-eq-height
	display: flex
	flex-wrap: wrap


/* --- Navbar START ------------------------------------------------*/
.navbar
	transition: 0.5s
	background: rgba(255,255,255, .9)
	.navbar-brand
		padding: 0
	img
		width: 140px
		margin: 0
		padding: 0
	.anim
		text-transform: uppercase
		position: relative
		overflow: hidden
		span
			color: $main_color
			transition: 0.5s
			transform-origin: left
		&:before
			transition: 0.5s
			position: absolute
			content: ''
			top: 0
			left: 0
			width: 100%
			height: 100%
			border-bottom: 2px solid $main_red
			transform-origin: right
			transform: scaleX(0)
		&:hover
			span
				color: $main_rgb
			&:before
				transform: scaleX(1)
	p
		font-size: 24px
		text-shadow: 0px 0px 20px $main_white
		color: $main_white
		margin: 0
		padding-right: 10px
		display: inline-block
	.navbar-toggler-icon
		background: url('../img/burger-light.png')
		background-size: 100% 100%
		background-repeat: no-repeat
		width: 2em
		height: 2em
		&:focus
			outline: none
	.navbar-toggler
		transition: 0.3s
		&:focus
			transition: 0.3s
			outline: none
			border: 1px solid #fff
.active
	position: relative
	overflow: hidden
	span
		color: $main_rgb !important
	&:before
		transition: 0.5s
		position: absolute
		content: ''
		top: 0
		left: 0
		width: 100%
		height: 100%
		border-bottom: 2px solid $main_color
		transform-origin: right
		transform: scaleX(0)
		animation: animate 7s linear infinite
@keyframes animate 
	0%
		transform-origin: right
		transform: scaleX(0)
	50%
		transform-origin: right
		transform: scaleX(1)
	51%
		transform-origin: right
		transform: scaleX(1)
	100%
		transform-origin: right
		transform: scaleX(0)
.fixed-nav
	.anim
		span
			color: $main_color
	p
		color: $main_color
	background: rgba(255,255,255, 0.9)
	color: $main_color_light	
	padding: .4rem .4rem
	transition: 0.5s
	box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.5)
	.navbar-toggler-icon
		background: url('../img/burger-black.png')
		background-size: 100% 100%
		background-repeat: no-repeat
		width: 2em
		height: 2em
		&:focus
			outline: none
	.navbar-toggler
		transition: 0.3s
		&:focus
			transition: 0.3s
			outline: none
			border: 1px solid $main_color
.navbar-nav
	text-align: center
	
/* --- Navbar END ------------------------------------------------*/



/* --- Header start------------------------------------------------*/	
.head
	padding-top: 20px
	min-height: 100vh
	background: $main_white
	// background: url('../img/headbg.jpg')
	// background-position: center
	// background-size: cover
	// background-repeat: no-repeat
	// background-attachment: fixed
	.textWrap
		padding: 20px 25px 20px 25px
		position: relative
		overflow: hidden
		margin-bottom: 30px
		h1
			font-weight: bold
			font-size: 1.8rem
			text-align: center
			text-transform: uppercase
			color: $main_color
		h2
			font-weight: bold
			color: $main_red
			font-size: 2.4rem
			text-transform: uppercase
			text-align: center
		hr
			width: 60%
			background-color: $main_bg
			border: 1px solid $main_bg
		img
			width: 200px
			display: block
			margin-left: auto
			margin-right: auto
			margin-bottom: 15px
		.leftM
			position: absolute
			top: 0
			left: 1%
			width: 2%
			background: $main_bg
			height: 0
			transition: 2s
		.rightM
			position: absolute
			bottom: 0
			right: 1%
			width: 2%
			background: $main_bg
			height: 0
			transition: 2s
	ul
		padding: 0
		list-style: none
		margin-bottom: 2rem
		li
			text-align: left
			padding: 5px
			text-transform: uppercase
	h3
		font-size: 1.4rem
		text-align: center
		text-transform: uppercase
		font-weight: bold
		position: relative
		.smalltext
			text-transform: none
			top: -15%
			left: 25%
			font-size: 14px
			position: absolute
			color: $main_color
		span
			color: $main_red
			font-size: 2rem
	h4
		text-align: center
	.imgWrap, .imgWrapS
		position: relative
		.action-cont
			position: absolute
			top: 5%
			left: 10%
			img
				width: 50%
/* --- Header END ------------------------------------------------*/	
.adwNew
	background: $main_bg
	text-align: center
	.textWrap
		background: $main_bg_light
		padding: 5px 10px 5px 10px
		height: 100%
		display: flex
		justify-content: center
		align-items: center
		box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.4)
		i
			font-size: 40px
			margin-right: 10px
			color: $main_red
		p
			margin: 0
/* --- firstAbout Start ------------------------------------------------*/
.firstAbout
	background: $main_white
	img
		background: $main_bg_light
		border: 3px solid $main_bg
		padding: 5px
	ul
		padding: 0
		list-style: none
		li
			text-transform: uppercase
			text-align: left
			margin-bottom: 15px
			font-size: 18px
			padding: 10px
/* --- firstAbout END ------------------------------------------------*/

	
/* --- About Start ------------------------------------------------*/
.about
	background: $main_bg_light
	h2
		text-align: center
		display: inline-block
		text-transform: uppercase
		background: $main_red
		padding: 10px
		color: $main_white
		box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.75)
		margin-bottom: 20px
	.textWrap	
		text-align: left
		overflow: hidden
		ul
			padding: 10px
			list-style: none
			border-right: 2px solid $main_color
			li
				font-size: 18px
				padding: 10px
				&:nth-child(odd)
					background: $main_white
				i
					margin-right: 10px
					color: $main_red
	.imgWrap
		position: relative
		a
			position: absolute
			top: 50%
			left: 50%
			transform: translate(-50%, -50%)
			span
				box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.75)
				background: $main_red
				border-radius: 50%
				display: block
				width: 70px
				height: 70px
				border: 1px solid $main_red
				position: relative
				transition: 0.3s
				&:after
					transform: rotate(45deg)
					position: absolute
					content: ''
					top: 25%
					left: 15%
					width: 35px
					height: 35px
					border-top: 3px solid $main_white
					border-right: 3px solid $main_white
				&:before
					position: absolute
					content: ''
					top: 0
					left: 0
					right: 0
					bottom: 0
					border: 2px solid $main_white
					border-radius: 50%
					transition: 0.3s
				&:hover
					transition: 0.3s
					box-shadow: 2px 2px 2px 0px rgba(0,0,0,0)
					&:before
						transition: 0.3s
						border: 2px solid $main_red
						top: -7px
						left: -7px
						right: -7px
						bottom: -7px
/* --- About END ------------------------------------------------*/	


/* --- How Start ------------------------------------------------*/
.how
	h2
		text-align: center
		display: inline-block
		text-transform: uppercase
		background: $main_red
		padding: 10px
		color: $main_white
		box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.75)
		margin-bottom: 20px
	p
		text-align: center
		font-size: 32px
		box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.75)
		background: $main_bg_light
		padding: 15px 10px 15px 10px
		text-indent: 20px
		border: 2px solid $main_bg
		a
			font-size: 16px
	img
		box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.75)
/* --- How END ------------------------------------------------*/	

/* --- ProductAll Start ------------------------------------------------*/
.adw
	h2
		text-align: center
		display: inline-block
		text-transform: uppercase
		background: $main_red
		padding: 10px
		color: $main_white
		box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.75)
		margin-bottom: 20px
	img
		transition: 0.3s
		border: 2px solid $main_white
		&:hover
			border: 2px solid $main_color
/* --- ProductAll END ------------------------------------------------*/	


/* --- delivery Start ------------------------------------------------*/	
.delivery
	width: 100%
	min-height: 844px
	background: url('../img/deliveryBg.png') no-repeat top center
	h3
		background: $main_red
		padding: 10px
		color: $main_white
		box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.75)
		margin-bottom: 20px
/* --- delivery END ------------------------------------------------*/	






/* --- reviews Start ------------------------------------------------*/
.reviews
	background: $main_white
	img
		max-width: 100%
		height: auto
		display: block
		margin-left: auto
		margin-right: auto
		box-shadow: 0 2px 3px 0 $main_color_light
	h3
		text-align: center
		text-transform: uppercase
	.sliderRew
		padding: 15px
		outline: none
		border: 5px solid $main_white
		&:focus
			outline: none
		.sliderRewCont
			padding: 15px
			outline: none
			h4
				margin-top: 10px
			&:focus
				outline: none
	.slick-prev
		z-index: 999
		position: absolute
		width: 30px
		height: 30px
		left: -5%
		&:before
			position: absolute
			content: ''
			top: 0
			left: 0
			width: 100%
			height: 100%
			border-left: 4px solid $main_color
			border-top: 4px solid $main_color
			color: #000
			transform: rotate(-45deg)
	.slick-next
		z-index: 999
		position: absolute
		width: 30px
		height: 30px
		right: -5%
		&:before
			position: absolute
			content: ''
			top: 0
			left: 0
			width: 100%
			height: 100%
			border-right: 4px solid $main_color
			border-top: 4px solid $main_color
			color: #000
			transform: rotate(45deg)

 .sliderRewN
	 .sliderRewContN
		 img
			 width: 90%
/* --- reviews END ------------------------------------------------*/	

/* --- reviewsMore start ------------------------------------------------*/	
.reviewsMore
	background: $main_bg_light
	img
		max-width: 100%
		height: auto
		display: block
		margin-left: auto
		margin-right: auto
		box-shadow: 0 2px 3px 0 $main_color_light
	h3
		text-align: center
		text-transform: uppercase
	.sliderRew
		padding: 15px
		outline: none
		border: 5px solid $main_red
		.sliderRewCont
			border: 5px solid $main_bg
		&:focus
			outline: none
		.sliderRewCont
			padding: 15px
			outline: none
			h4
				margin-top: 10px
			&:focus
				outline: none
	.slick-prev
		z-index: 999
		position: absolute
		width: 30px
		height: 30px
		left: -5%
		&:before
			position: absolute
			content: ''
			top: 0
			left: 0
			width: 100%
			height: 100%
			border-left: 4px solid $main_red
			border-top: 4px solid $main_red
			color: #000
			transform: rotate(-45deg)
	.slick-next
		z-index: 999
		position: absolute
		width: 30px
		height: 30px
		right: -5%
		&:before
			position: absolute
			content: ''
			top: 0
			left: 0
			width: 100%
			height: 100%
			border-right: 4px solid $main_red
			border-top: 4px solid $main_red
			color: #000
			transform: rotate(45deg)

/* --- reviewsMore END ------------------------------------------------*/	




/* --- lastOffer START ------------------------------------------------*/	
.lastOffer
	h3
		text-align: center
		text-transform: uppercase
	h4
		font-size: 1.75rem
		text-align: center
		text-transform: uppercase
		color: $main_red
	.actionText
		padding: 5px
		background: $main_red
		color: $main_white
		h5
			margin: 0
			font-size: 16px
		h3
			font-size: 40px
			font-stretch: ultra-condensed
			margin: 0
			margin-right: 5px
	.actionWrapPrice
		display: flex
		justify-content: center 
		flex-direction: row
		align-items: center
		padding: 20px 5px 5px 5px
		h4
			margin: 0
		h5
			margin: 0
			margin-right: 10px
			position: relative
			span
				position: absolute
				top: -50%
				left: 0
				font-size: 11px
	.imgWrap, .imgWrapS
		position: relative
		.action-cont
			position: absolute
			top: 5%
			left: 10%
			img
				width: 45%
/* --- lastOffer END ------------------------------------------------*/	




/* --- contacts Start ------------------------------------------------*/
.contact
	padding: 20px
	background: $main_bg_light
	a
		display: block
		font-size: 20px
		i
			font-size: 20px
			color: $main_red
	.fbinst
		font-size: 30px
		margin-right: 10px
/* --- contacts END ------------------------------------------------*/



/* --- Button Start ------------------------------------------------*/
.buttonDark
	border: 1px solid $main_color
	padding: 10px 15px 10px 15px
	text-transform: uppercase
	display: block
	width: 200px
	text-align: center
	text-indent: 0
	margin: auto
	background: $main_bg
	position: relative
	span
		mix-blend-mode: multiply
	&:before
		position: absolute
		content: ''
		top: 0
		bottom: 0
		right: 0
		left: 0
		width: 100%
		height: 100%
		background: $main_white
		transition: 0.3s
		transform: scaleX(0)
		transform-origin: right
	&:hover
		&:before
			transition: 0.3s
			transform: scaleX(1)

.buttonHeader
	border: 3px solid $main_red
	padding: 10px 15px 10px 15px
	text-transform: uppercase
	display: block
	width: 250px
	text-align: center
	text-indent: 0
	margin: auto
	background: $main_red
	position: relative
	span
		transition: 0.3s
		color: $main_white
		mix-blend-mode: screen
	&:before
		position: absolute
		content: ''
		top: 0
		bottom: 0
		right: 0
		left: 0
		width: 100%
		height: 100%
		background: $main_white
		transition: 0.3s
		transform: scaleY(0)
		transform-origin: top
	&:hover
		span
			transition: 0.3s
			color: $main_color
			mix-blend-mode: multiply
		&:before
			transition: 0.3s
			transform: scaleY(1)
/* --- Button END ------------------------------------------------*/	


/* --- Form START ------------------------------------------------*/	
.formOpen
	position: relative
	box-shadow: 0 2px 3px 0 $main_color_light
	text-align: center
	padding: 20px 15px 20px 15px
	width: 300px
	max-width: 100%
	background: $main_white
	input
		padding: 10px 5px 10px 5px
		width: 100%
		text-align: center
		margin-bottom: 15px
	.actionWrap
		justify-content: center
		.actionText
			text-align: left
			display: flex
			align-items: center
/* --- Form END ------------------------------------------------*/	


/* --- Other START ------------------------------------------------*/	
.zMain
	z-index: 999
.bgMainbg
	background: $main_bg

/*------- TIMER START --------------------*/
#clockdiv
  font-family: sans-serif
  color: #fff
  display: inline-block
  font-weight: 100
  text-align: center
  font-size: 26px
  > div
    padding: 0 5px 0 0
    display: inline-block
  div > span
    padding: 0 5px 0 5px
    background: $main_white
    display: inline-block
		color: $main_color
		.smalltext
			color: $main_color
			font-size: 12px
.wrapBord
	border: 1px solid $main_red
