body {
  background: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 16px;
  color: #111;
  margin: 0;
  padding: 0;
  position: relative;
  line-height: 1.6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body a {
  text-decoration: none;
  color: #111;
}

body a:hover {
  text-decoration: none;
  color: #111;
}

button {
  outline: none;
}

button:focus {
  outline: none;
}

.hidden {
  display: none;
}

section {
  padding: 50px 0;
  overflow: hidden;
}

.done {
  min-height: 100vh;
}

.row-eq-height {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

/* --- Navbar START ------------------------------------------------*/
.navbar {
  -webkit-transform: translateY(-150%);
          transform: translateY(-150%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background: rgba(255, 255, 255, 0);
}

.navbar .navbar-brand {
  padding: 0;
}

.navbar img {
  width: 100px;
  margin: 0;
  padding: 0;
}

.navbar .anim {
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
}

.navbar .anim span {
  color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform-origin: left;
          transform-origin: left;
}

.navbar .anim:before {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-bottom: 2px solid #436280;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.navbar .anim:hover span {
  color: #436280;
}

.navbar .anim:hover:before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.navbar p {
  font-size: 24px;
  text-shadow: 0px 0px 20px #fff;
  color: #fff;
  margin: 0;
  padding-right: 10px;
  display: inline-block;
}

.navbar .navbar-toggler-icon {
  background: url("../img/burger-light.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 2em;
  height: 2em;
}

.navbar .navbar-toggler-icon:focus {
  outline: none;
}

.navbar .navbar-toggler {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.navbar .navbar-toggler:focus {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  outline: none;
  border: 1px solid #fff;
}

.active {
  position: relative;
  overflow: hidden;
}

.active span {
  color: #436280 !important;
}

.active:before {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-bottom: 2px solid #111;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-animation: animate 7s linear infinite;
          animation: animate 7s linear infinite;
}

@-webkit-keyframes animate {
  0% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  50% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  51% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  100% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
}

@keyframes animate {
  0% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  50% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  51% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  100% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
}

.fixed-nav {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  background: rgba(255, 255, 255, 0.9);
  color: #55595c;
  padding: .4rem .4rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.5);
}

.fixed-nav .anim span {
  color: #111;
}

.fixed-nav p {
  color: #111;
}

.fixed-nav .navbar-toggler-icon {
  background: url("../img/burger-black.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 2em;
  height: 2em;
}

.fixed-nav .navbar-toggler-icon:focus {
  outline: none;
}

.fixed-nav .navbar-toggler {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.fixed-nav .navbar-toggler:focus {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  outline: none;
  border: 1px solid #111;
}

.navbar-nav {
  text-align: center;
}

/* --- Navbar END ------------------------------------------------*/
/* --- firstScroll start------------------------------------------------*/
.firstScroll {
  padding: 10px 0 10px 0;
  min-height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(100%, rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0.5))), url("../img/mainBg.jpg");
  background: linear-gradient(rgba(255, 255, 255, 0.5) 100%, rgba(255, 255, 255, 0.5) 100%), url("../img/mainBg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.firstScroll .logoCont {
  margin-bottom: 20px;
  min-height: 120px;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.firstScroll .logoCont .logoWrap {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.firstScroll .logoCont .logoWrap img {
  max-width: 100%;
  height: auto;
}

.firstScroll .logoCont .telWrap {
  margin-left: auto;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.firstScroll .logoCont .btnWrap {
  padding: 10px;
}

.firstScroll .staticNav {
  overflow: hidden;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

.firstScroll .staticNav ul {
  overflow: hidden;
  padding: 10px;
  border-top: 2px solid #111;
  border-bottom: 2px solid #111;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  list-style: none;
}

.firstScroll .staticNav ul li {
  margin: 10px 20px 10px 20px;
  text-transform: uppercase;
  font-weight: bold;
  -webkit-transition: .3s;
  transition: .3s;
  position: relative;
  cursor: pointer;
}

.firstScroll .staticNav ul li:after {
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #436280;
  -webkit-transform: translateY(1200%);
          transform: translateY(1200%);
  -webkit-transition: .3s;
  transition: .3s;
}

.firstScroll .staticNav ul li:hover:after {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: .3s;
  transition: .3s;
}

.firstScroll .titleCont {
  padding: 10px;
}

.firstScroll .titleCont .titleWrap {
  margin-bottom: 20px;
}

.firstScroll .titleCont .titleWrap h1 {
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 50px;
}

.firstScroll .titleCont .listWrap {
  padding: 10px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.firstScroll .titleCont .listWrap ul {
  padding-left: 20px;
  list-style: none;
}

.firstScroll .titleCont .listWrap ul li {
  padding: 5px;
  position: relative;
  border-bottom: 2px solid #436280;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 20px;
}

.firstScroll .titleCont .listWrap ul li i {
  font-size: 24px;
  position: absolute;
  top: 50%;
  left: -15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

/* --- firstScroll END ------------------------------------------------*/
/* --- works Start ------------------------------------------------*/
.works .advCont {
  border: 2px solid #111;
  background: #e6e6e6;
  -webkit-box-shadow: 10px 10px 0 0 #436280;
          box-shadow: 10px 10px 0 0 #436280;
  height: 100%;
}

.works .advCont .imgWrap img {
  max-width: 100%;
  height: auto;
  width: 100%;
}

.works .advCont .txtWrap {
  padding: 10px;
  background: #e6e6e6;
}

.works .advCont .txtWrap p {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 500;
  padding: 0;
  margin: 0;
}

.works .sliderWorks {
  padding: 20px;
}

.works .sliderWorks .sliderWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-shadow: 0px 0px 10px 1px rgba(17, 17, 17, 0.2);
          box-shadow: 0px 0px 10px 1px rgba(17, 17, 17, 0.2);
  border-right: 5px solid #436280;
  border-left: 5px solid #436280;
  background: #436280;
  margin: 20px;
}

.works .sliderWorks .sliderWrap .titleWrap {
  text-align: center;
  padding: 10px;
  background: #436280;
}

.works .sliderWorks .sliderWrap .titleWrap h3 {
  text-transform: uppercase;
  color: #fff;
  margin: 0;
  padding: 0;
}

.works .sliderWorks .sliderWrap .imgWrap img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.works .sliderWorks .sliderWrap .txtWrap {
  padding: 10px;
  background: #436280;
}

.works .sliderWorks .sliderWrap .txtWrap p {
  color: #fff;
  margin: 0;
  padding: 0;
}

/* --- works END ------------------------------------------------*/
/* --- product Start ------------------------------------------------*/
.prod {
  padding: 50px 10px;
  background: #e6e6e6;
}

.prod .totleMainCont h2 {
  background: #e6e6e6;
}

.prod .subTitleMainCont {
  padding: 10px;
  margin-bottom: 20px;
  border-top: 2px solid #111;
  border-bottom: 2px solid #111;
}

.prod .subTitleMainCont h3 {
  margin: 0;
  padding: 0;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
}

.prod .prodCont {
  padding: 10px;
  -webkit-box-shadow: 0px 0px 10px 1px rgba(17, 17, 17, 0.2);
          box-shadow: 0px 0px 10px 1px rgba(17, 17, 17, 0.2);
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px;
  background: #fff;
}

.prod .prodCont .titleWrap {
  padding: 15px;
  background: #e6e6e6;
}

.prod .prodCont .titleWrap h4 {
  margin: 0;
  padding: 0;
}

.prod .prodCont .imgWrap img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.prod .prodCont .btnWrap {
  padding: 15px;
}

/* --- product END ------------------------------------------------*/
/* --- maket Start ------------------------------------------------*/
.maket {
  background: url("../img/maketBg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

/* --- maket END ------------------------------------------------*/
/* --- videoWork Start ------------------------------------------------*/
.videoWork {
  position: relative;
  background: #e6e6e6;
}

.videoWork .totleMainCont h2 {
  background: #e6e6e6;
}

.videoWork .videoCont {
  -webkit-box-shadow: 0px 0px 10px 1px rgba(17, 17, 17, 0.3);
          box-shadow: 0px 0px 10px 1px rgba(17, 17, 17, 0.3);
  border: 5px solid #436280;
}

.videoWork .bgS {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.videoWork .bgS i {
  font-size: 500px;
  opacity: .2;
}

/* --- videoWork END ------------------------------------------------*/
/* --- reviews Start ------------------------------------------------*/
.reviews .rewSlider {
  padding: 20px;
}

.reviews .rewSlider .revWrap {
  position: relative;
  color: #fff;
  background: #436280;
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.reviews .rewSlider .revWrap .bgS {
  position: absolute;
  top: 10px;
  left: 10px;
}

.reviews .rewSlider .revWrap .bgS i {
  font-size: 30px;
}

.reviews .rewSlider .revWrap .imgWrap {
  border: 2px solid #fff;
  -webkit-box-shadow: 0px 0px 10px 1px rgba(17, 17, 17, 0.4);
          box-shadow: 0px 0px 10px 1px rgba(17, 17, 17, 0.4);
}

.reviews .rewSlider .revWrap .txtCont {
  padding: 10px;
}

.reviews .rewSlider .revWrap .txtCont .titleWrap {
  background: #fff;
  color: #111;
  padding: 10px 5px;
}

.reviews .rewSlider .revWrap .txtCont .titleWrap h5 {
  padding: 0;
  margin: 0;
}

/* --- reviews END ------------------------------------------------*/
/* --- sert END ------------------------------------------------*/
.sert {
  text-align: center;
  padding: 50px;
  background: #f8f8f8;
}

.sert .totleMainCont h2 {
  background: #f8f8f8;
}

.sert .sertCont {
  outline: none;
  padding: 10px;
  margin: 20px;
}

.sert .sertCont .sertWrap {
  padding: 30px;
  outline: none;
}

.sert .sertCont .sertWrap a {
  outline: none;
}

.sert .sertCont .sertWrap img {
  max-width: 100%;
  height: auto;
}

/* --- sert END ------------------------------------------------*/
/* --- contacts start ------------------------------------------------*/
.contacts {
  background: #e6e6e6;
}

.contacts .contactCont {
  display: inline-block;
  text-align: left;
  color: #111;
}

.contacts .contactCont hr {
  border: 1px solid #436280;
  background-color: #436280;
  width: 40%;
  margin-left: 0;
  margin-right: auto;
}

.contacts .contactCont .contactWrap {
  padding-left: 20px;
}

.contacts .contactCont .contactWrap a {
  margin-left: 20px;
  display: block;
  color: #111;
}

.contacts .contactCont .contactWrap a i {
  color: #436280;
  font-size: 20px;
  margin-right: 5px;
}

.contacts .contactCont .socIcon a {
  display: inline;
}

.contacts .contactCont .socIcon a i {
  font-size: 40px;
}

.contacts .contactCont .socIcon a:nth-child(1) i {
  color: #3b5998;
}

.contacts .contactCont .socIcon a:nth-child(2) i {
  color: #833AB4;
}

.contacts iframe {
  width: 100%;
}

/* --- contacts END ------------------------------------------------*/
/* --- Button Start ------------------------------------------------*/
.mainBtn {
  background: rgba(230, 230, 230, 0.5);
  -webkit-transition: .3s;
  transition: .3s;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
  border: 2px solid #111;
  padding: 10px;
  width: 250px;
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.mainBtn:hover {
  background: #fff;
}

/* --- Button END ------------------------------------------------*/
/* --- Form START ------------------------------------------------*/
.formOpen {
  border: 1px solid #436280;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
  margin: 10px;
  padding: 40px 10px;
  text-align: center;
  min-height: 400px;
}

.formOpen h3 {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.formOpen h4 {
  background: #436280;
  color: #fff;
  padding: 10px;
  margin-bottom: 20px;
}

.formOpen h5 {
  margin-bottom: 20px;
}

.formOpen input {
  width: 300px;
  margin-bottom: 20px;
  padding: 10px;
  text-transform: uppercase;
  text-align: center;
  border: 1px solid #436280;
}

.formOpen .mainBtn {
  width: 300px;
  color: #111;
}

/* --- Form END ------------------------------------------------*/
/* --- Other START ------------------------------------------------*/
.totleMainCont {
  text-align: center;
  margin-bottom: 50px;
  padding: 10px;
}

.totleMainCont h2 {
  font-weight: 500;
  text-transform: uppercase;
  margin: 0;
  display: inline-block;
  background: #fff;
  position: relative;
  padding: 10px;
}

.totleMainCont h2:before {
  content: '';
  z-index: 1;
  position: absolute;
  width: 50%;
  height: 15px;
  top: -25%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-top: 5px solid rgba(17, 17, 17, 0.5);
  border-right: 5px solid rgba(17, 17, 17, 0.5);
  border-left: 5px solid rgba(17, 17, 17, 0.5);
}

.totleMainCont h2:after {
  content: '';
  z-index: 1;
  position: absolute;
  width: 50%;
  height: 15px;
  bottom: -25%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-bottom: 5px solid rgba(17, 17, 17, 0.5);
  border-right: 5px solid rgba(17, 17, 17, 0.5);
  border-left: 5px solid rgba(17, 17, 17, 0.5);
}

.slick-dots li button:before {
  font-size: 15px;
  color: #436280 !important;
}

.slick-prev {
  left: 10px;
  width: 40px;
  height: 40px;
  z-index: 99;
}

.slick-prev:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-top: 5px solid #436280;
  border-right: 5px solid #436280;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.slick-next {
  right: 10px;
  width: 40px;
  height: 40px;
}

.slick-next:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-top: 5px solid #436280;
  border-right: 5px solid #436280;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slick-track .slick-slide {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
/*# sourceMappingURL=main.css.map */