body {
  background: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 16px;
  color: #062a4d;
  margin: 0;
  padding: 0;
  position: relative;
  line-height: 1.6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body a {
  text-decoration: none;
  color: #062a4d;
}

body a:hover {
  text-decoration: none;
  color: #062a4d;
}

button {
  outline: none;
}

button:focus {
  outline: none;
}

.hidden {
  display: none;
}

section {
  padding: 50px 0;
  overflow: hidden;
}

.done {
  min-height: 100vh;
}

.row-eq-height {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

/* --- Navbar START ------------------------------------------------*/
.navbar {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background: #758799;
  -webkit-box-shadow: 0 2px 10px 0 rgba(6, 42, 77, 0.2);
          box-shadow: 0 2px 10px 0 rgba(6, 42, 77, 0.2);
}

.navbar .navbar-brand {
  padding: 0;
}

.navbar img {
  width: 40px;
  margin: 0;
  padding: 0;
}

.navbar .anim {
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
}

.navbar .anim span {
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform-origin: left;
          transform-origin: left;
}

.navbar .anim:before {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-bottom: 2px solid #d7eb67;
  transform-top: right;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.navbar .anim:hover span {
  color: #d7eb67;
}

.navbar .anim:hover:before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.navbar p {
  font-size: 24px;
  text-shadow: 0px 0px 20px #fff;
  color: #fff;
  margin: 0;
  padding-right: 10px;
  display: inline-block;
}

.navbar .navbar-toggler-icon {
  background: url("../img/burger-light.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 2em;
  height: 2em;
}

.navbar .navbar-toggler-icon:focus {
  outline: none;
}

.navbar .navbar-toggler {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.navbar .navbar-toggler:focus {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  outline: none;
  border: 1px solid #fff;
}

.active {
  position: relative;
  overflow: hidden;
}

.active span {
  color: #d7eb67 !important;
}

.active:before {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-bottom: 2px solid #062a4d;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-animation: animate 7s linear infinite;
          animation: animate 7s linear infinite;
}

@-webkit-keyframes animate {
  0% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  50% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  51% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  100% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
}

@keyframes animate {
  0% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  50% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  51% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  100% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
}

.fixed-nav {
  color: #f4f4f4;
  padding: .4rem .4rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.5);
}

.fixed-nav .navbar-toggler-icon {
  background: url("../img/burger-light.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 2em;
  height: 2em;
}

.fixed-nav .navbar-toggler-icon:focus {
  outline: none;
}

.fixed-nav .navbar-toggler {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.fixed-nav .navbar-toggler:focus {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  outline: none;
  border: 1px solid #fff;
}

.navbar-nav {
  text-align: center;
}

/* --- Navbar END ------------------------------------------------*/
/* --- Header start------------------------------------------------*/
.jap__FirstScroll {
  min-height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(100%, rgba(255, 255, 255, 0.6)), to(rgba(255, 255, 255, 0.6))), url("../img/jmainbg.jpg");
  background: linear-gradient(rgba(255, 255, 255, 0.6) 100%, rgba(255, 255, 255, 0.6) 100%), url("../img/jmainbg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.jap__FirstScroll .titleCont {
  margin-bottom: 20px;
}

.jap__FirstScroll .titleCont h1 {
  text-transform: uppercase;
  font-size: 3rem;
}

.jap__FirstScroll .titleCont h2 {
  text-transform: uppercase;
  font-size: 2.5rem;
}

.jap__FirstScroll .titleCont hr {
  background-color: #50aab2;
  border: 1px solid #50aab2;
  width: 60%;
}

.jap__FirstScroll .triggerCont {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.jap__FirstScroll .triggerCont .triggerWrap {
  position: relative;
  margin: 0 40px;
}

.jap__FirstScroll .triggerCont .triggerWrap p {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.jap__FirstScroll .triggerCont .triggerWrap:after {
  position: absolute;
  content: '';
  top: 35%;
  right: 102%;
  width: 25px;
  height: 100%;
  border-top: 3px solid #50aab2;
}

.jap__FirstScroll .triggerCont .triggerWrap:before {
  position: absolute;
  content: '';
  top: 60%;
  right: 102%;
  width: 35px;
  height: 100%;
  border-top: 3px solid #50aab2;
}

.jap__FirstScroll .btnCont {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.jap__FirstScroll .btnCont .btnWrap {
  margin: 10px;
}

/* --- Header END ------------------------------------------------*/
/* --- About Start ------------------------------------------------*/
.jap__about {
  position: relative;
}

.jap__about .bg {
  position: absolute;
  right: 1%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 700px;
  line-height: 0;
  opacity: .15;
}

.jap__about .videoCont iframe {
  max-width: 100%;
}

.jap__about .txtCont .logoWrap {
  margin-bottom: 20px;
}

.jap__about .txtCont .logoWrap img {
  max-width: 100%;
  height: auto;
  width: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.jap__about .txtCont .txtWrap {
  margin-bottom: 20px;
  padding: 10px;
}

.jap__about .txtCont .txtWrap p {
  font-weight: 500;
  text-indent: 20px;
  padding: 0;
  margin: 0;
}

.jap__about .conterCont .counterWrap {
  background: #d7eb67;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-transition: .3s;
  transition: .3s;
  margin-bottom: 10px;
}

.jap__about .conterCont .counterWrap:after {
  -webkit-transition: .5s;
  transition: .5s;
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 30%;
  height: 100%;
  border-top: 5px solid #50aab2;
}

.jap__about .conterCont .counterWrap:before {
  -webkit-transition: .5s;
  transition: .5s;
  position: absolute;
  content: '';
  bottom: 0;
  right: 0;
  width: 30%;
  height: 100%;
  border-bottom: 5px solid #50aab2;
}

.jap__about .conterCont .counterWrap:hover {
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
}

.jap__about .conterCont .counterWrap:hover:after {
  -webkit-transition: .5s;
  transition: .5s;
  left: 70%;
}

.jap__about .conterCont .counterWrap:hover:before {
  -webkit-transition: .5s;
  transition: .5s;
  right: 70%;
}

.jap__about .conterCont .counterWrap span {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 30px;
}

.jap__about .conterCont .txtWrap {
  text-align: center;
}

.jap__about .conterCont .txtWrap p {
  font-size: 20px;
  font-weight: 500;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
}

.formCont {
  position: relative;
}

.formCont .lineOne {
  position: absolute;
  left: -100%;
  top: 20%;
  width: 300%;
  height: 30%;
  background: #d7eb67;
}

.formCont .lineTwo {
  position: absolute;
  left: -100%;
  top: 60%;
  width: 300%;
  height: 30%;
  background: #50aab2;
}

.formCont .aboutForm {
  -webkit-box-shadow: 0 0 10px rgba(6, 42, 77, 0.2);
          box-shadow: 0 0 10px rgba(6, 42, 77, 0.2);
  border: 5px solid #758799;
  background: #f8f8f8;
  text-align: center;
  padding: 20px 10px;
  position: relative;
}

.formCont .aboutForm .inputWrap {
  padding: 10px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.formCont .aboutForm .inputWrap input {
  text-align: center;
  font-weight: bold;
  padding: 10px;
  width: 250px;
  max-width: 100%;
  border: none;
  border-bottom: 2px solid #d7eb67;
}

.formCont .aboutForm .inputWrap input:nth-child(1) {
  border-left: 2px solid #d7eb67;
}

.formCont .aboutForm .inputWrap input:nth-child(3) {
  border-right: 2px solid #d7eb67;
}

/* --- About END ------------------------------------------------*/
/* --- product Start ------------------------------------------------*/
.jap__product {
  background: #f8f8f8;
}

.jap__product img {
  max-width: 100%;
  height: auto;
}

.jap__product .imgWrap {
  position: relative;
}

.jap__product .imgWrap .bgCont {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 10px;
  top: 10px;
  border: 2px solid #d7eb67;
  -webkit-transition: .3s;
  transition: .3s;
}

.jap__product .imgWrap .bgCont:hover {
  -webkit-transition: .3s;
  transition: .3s;
  left: 2px;
  top: 2px;
}

.jap__product .descriptionCont h3 {
  text-transform: uppercase;
  text-align: center;
}

.jap__product .descriptionCont p {
  text-indent: 20px;
  font-size: 14px;
}

.jap__product .descriptionCont ul {
  font-size: 14px;
}

/* --- product END ------------------------------------------------*/
/* --- openForm Start ------------------------------------------------*/
.jap__openForm {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(100%, rgba(6, 42, 77, 0.3)), to(rgba(6, 42, 77, 0.3))), url("../img/jopenFormBg.jpg");
  background: linear-gradient(rgba(6, 42, 77, 0.3) 100%, rgba(6, 42, 77, 0.3) 100%), url("../img/jopenFormBg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.jap__openForm .titleCont {
  background: #fff;
}

.jap__openForm .titleCont h3 {
  background: #d7eb67;
  color: #fff;
  text-align: center;
  padding: 10px;
  margin: 0;
}

.jap__openForm .titleCont ul {
  text-align: left;
  display: inline-block;
  background: #fff;
  list-style: none;
  margin: 0;
  padding: 20px 10px;
}

.jap__openForm .titleCont ul li {
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.jap__openForm .titleCont ul li img {
  width: 50px;
  max-width: 100%;
  height: auto;
  margin-right: 20px;
}

.jap__openForm .titleCont ul li:last-child {
  margin: 0;
}

/* --- openForm END ------------------------------------------------*/
/* --- steps Start ------------------------------------------------*/
.jap__steps {
  background: #fff;
}

.jap__steps .stepsCont {
  position: relative;
  -webkit-transition: .3s;
  transition: .3s;
}

.jap__steps .stepsCont .numberWrap {
  top: 5px;
  left: 10px;
  position: absolute;
  -webkit-transition: .5s;
  transition: .5s;
  z-index: 2;
}

.jap__steps .stepsCont .numberWrap span {
  line-height: 0;
  color: rgba(215, 235, 103, 0.7);
  font-size: 120px;
  font-weight: bold;
  text-transform: uppercase;
}

.jap__steps .stepsCont:hover {
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-box-shadow: 0 0 10px rgba(6, 42, 77, 0.6);
          box-shadow: 0 0 10px rgba(6, 42, 77, 0.6);
}

.jap__steps .stepsCont:hover .numberWrap {
  -webkit-transition: .5s;
  transition: .5s;
  top: 20px;
  left: 20px;
}

.jap__steps .stepsCont:hover .txtWrap {
  -webkit-transition: .3s;
  transition: .3s;
  background: rgba(6, 42, 77, 0.8);
}

.jap__steps .stepsCont .imgWrap img {
  max-width: 100%;
  height: auto;
}

.jap__steps .stepsCont .txtWrap {
  -webkit-transition: .3s;
  transition: .3s;
  background: rgba(6, 42, 77, 0.4);
  border: 3px solid #d7eb67;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

.jap__steps .stepsCont .txtWrap p {
  font-size: 18px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding: 0;
}

/* --- steps END ------------------------------------------------*/
/* --- advantageBig Start ------------------------------------------------*/
.advantageBig {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
  margin: 50px;
  padding: 50px 30px;
  min-height: 70vh;
  background: url("../img/premBg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.minH {
  min-height: 70vh;
}

.minH .advBCont {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.minH .advBCont .advBWrap {
  background: #fff;
  padding: 10px;
  position: relative;
}

.minH .advBCont .advBWrap p {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  padding: 0;
  margin: 0;
}

.minH .advBCont .advBWrap:after {
  content: '';
  position: absolute;
  top: 5px;
  left: -5%;
  width: 110%;
  height: 110%;
  border-bottom: 4px solid #d7eb67;
}

.minH .advBCont .advUpL:after {
  border-right: 4px solid #d7eb67;
}

.minH .advBCont .advUpL:before {
  content: '';
  position: absolute;
  top: 0;
  right: -59%;
  width: 55%;
  height: 100%;
  border-bottom: 4px solid #d7eb67;
  -webkit-transform: rotate(25deg);
          transform: rotate(25deg);
  -webkit-transform-origin: left bottom;
          transform-origin: left bottom;
}

.minH .advBCont .advDownL:after {
  border-right: 4px solid #d7eb67;
}

.minH .advBCont .advDownL:before {
  content: '';
  position: absolute;
  top: 0;
  right: -59%;
  width: 55%;
  height: 100%;
  border-bottom: 4px solid #d7eb67;
  -webkit-transform: rotate(-25deg);
          transform: rotate(-25deg);
  -webkit-transform-origin: left bottom;
          transform-origin: left bottom;
}

.minH .advBCont .advUpR:after {
  border-left: 4px solid #d7eb67;
}

.minH .advBCont .advUpR:before {
  content: '';
  position: absolute;
  top: 0;
  left: -59%;
  width: 55%;
  height: 100%;
  border-bottom: 4px solid #d7eb67;
  -webkit-transform: rotate(-25deg);
          transform: rotate(-25deg);
  -webkit-transform-origin: right bottom;
          transform-origin: right bottom;
}

.minH .advBCont .advDownR:after {
  border-left: 4px solid #d7eb67;
}

.minH .advBCont .advDownR:before {
  content: '';
  position: absolute;
  top: 0;
  left: -59%;
  width: 55%;
  height: 100%;
  border-bottom: 4px solid #d7eb67;
  -webkit-transform: rotate(25deg);
          transform: rotate(25deg);
  -webkit-transform-origin: right bottom;
          transform-origin: right bottom;
}

/* --- advantageBig End ------------------------------------------------*/
/* --- advantage Start ------------------------------------------------*/
/* --- advantage END ------------------------------------------------*/
/* --- reviews Start ------------------------------------------------*/
.reviews {
  padding: 50px;
  background: #f8f8f8;
}

.reviews .reviewsSlider .reviewsCont {
  outline: none;
  border: 2px solid rgba(215, 235, 103, 0.5);
  margin: 10px;
  position: relative;
}

.reviews .reviewsSlider .reviewsCont .lineCont {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(215, 235, 103, 0.5);
  width: 100%;
  height: 40%;
  z-index: -1;
}

.reviews .reviewsSlider .reviewsCont .nameWrap {
  padding: 10px;
}

.reviews .reviewsSlider .reviewsCont .nameWrap h3 {
  margin: 0;
  padding: 0;
}

.reviews .reviewsSlider .reviewsCont .imgWrap {
  padding: 10px;
}

.reviews .reviewsSlider .reviewsCont .imgWrap img {
  -webkit-box-shadow: 0 0 10px rgba(6, 42, 77, 0.5);
          box-shadow: 0 0 10px rgba(6, 42, 77, 0.5);
  max-width: 100%;
  height: auto;
}

.reviews .reviewsSlider .reviewsCont .descWrap {
  padding: 10px;
}

.reviews .reviewsSlider .reviewsCont .descWrap p {
  text-indent: 20px;
  margin: 0;
  padding: 0;
}

/* --- reviews END ------------------------------------------------*/
/* --- sert END ------------------------------------------------*/
.sert {
  padding: 50px;
}

.sert .sertCont {
  outline: none;
  padding: 10px;
}

.sert .sertCont .sertWrap {
  padding: 10px;
  outline: none;
}

.sert .sertCont .sertWrap a {
  outline: none;
}

.sert .sertCont .sertWrap img {
  max-width: 100%;
  height: auto;
}

/* --- sert END ------------------------------------------------*/
/* --- contacts start ------------------------------------------------*/
.contacts {
  background: #f8f8f8;
}

.contacts .contactCont {
  display: inline-block;
  text-align: left;
}

.contacts .contactCont hr {
  border: 1px solid #d7eb67;
  background-color: #d7eb67;
  width: 40%;
  margin-left: 0;
  margin-right: auto;
}

.contacts .contactCont .contactWrap {
  padding-left: 20px;
}

.contacts .contactCont .contactWrap a {
  margin-left: 20px;
  display: block;
}

.contacts .contactCont .contactWrap a i {
  color: #d7eb67;
  font-size: 20px;
  margin-right: 5px;
}

.contacts .contactCont .socIcon a {
  display: inline;
}

.contacts .contactCont .socIcon a i {
  font-size: 40px;
}

.contacts .contactCont .socIcon a:nth-child(1) i {
  color: #3b5998;
}

.contacts .contactCont .socIcon a:nth-child(2) i {
  color: #833AB4;
}

.contacts iframe {
  width: 100%;
}

/* --- contacts END ------------------------------------------------*/
/* --- Button Start ------------------------------------------------*/
.jap__mainBtn {
  color: #062a4d;
  background: #d7eb67;
  border: none;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  padding: 10px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  text-transform: uppercase;
  -webkit-box-shadow: 0 0 10px rgba(6, 42, 77, 0.2);
          box-shadow: 0 0 10px rgba(6, 42, 77, 0.2);
  max-width: 100%;
  width: 300px;
}

.jap__mainBtn span {
  position: absolute;
  display: block;
  background: #50aab2;
}

.jap__mainBtn span:nth-child(1) {
  top: 0;
  left: 0;
  width: 4px;
  height: 100%;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.jap__mainBtn span:nth-child(2) {
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.jap__mainBtn span:nth-child(3) {
  top: 0;
  right: 0;
  width: 4px;
  height: 100%;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.jap__mainBtn span:nth-child(4) {
  top: 0;
  right: 0;
  width: 4px;
  height: 100%;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.jap__mainBtn span:nth-child(5) {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.jap__mainBtn span:nth-child(6) {
  top: 0;
  left: 0;
  width: 4px;
  height: 100%;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.jap__mainBtn:hover span:nth-child(1) {
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.jap__mainBtn:hover span:nth-child(2) {
  -webkit-transition: .75s;
  transition: .75s;
  -webkit-transition-delay: .25s;
          transition-delay: .25s;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.jap__mainBtn:hover span:nth-child(3) {
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-transition-delay: .5s;
          transition-delay: .5s;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.jap__mainBtn:hover span:nth-child(4) {
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.jap__mainBtn:hover span:nth-child(5) {
  -webkit-transition: .75s;
  transition: .75s;
  -webkit-transition-delay: .25s;
          transition-delay: .25s;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.jap__mainBtn:hover span:nth-child(6) {
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-transition-delay: .5s;
          transition-delay: .5s;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

/* --- Button END ------------------------------------------------*/
/* --- Form START ------------------------------------------------*/
.jap__formOpen {
  width: 500px;
  max-width: 100%;
  text-align: center;
  background: #fff;
  position: relative;
  -webkit-box-shadow: 0px 0px 10px rgba(6, 42, 77, 0.5);
          box-shadow: 0px 0px 10px rgba(6, 42, 77, 0.5);
  padding: 20px 10px;
}

.jap__formOpen hr {
  background-color: #d7eb67;
  width: 60%;
  border: 1px solid #d7eb67;
}

.jap__formOpen:after {
  position: absolute;
  content: '';
  top: -6px;
  left: -6px;
  width: 50%;
  height: 50%;
  border-top: 3px solid #d7eb67;
  border-left: 3px solid #d7eb67;
}

.jap__formOpen:before {
  position: absolute;
  content: '';
  bottom: -6px;
  right: -6px;
  width: 50%;
  height: 50%;
  border-bottom: 3px solid #d7eb67;
  border-right: 3px solid #d7eb67;
}

.jap__formOpen input {
  width: 100%;
  padding: 10px;
  text-align: center;
  margin-bottom: 20px;
  position: relative;
}

.jap__formOpen .navBtn {
  border: none;
  background: #fff;
  color: #062a4d;
  width: 350px;
}

/* --- Form END ------------------------------------------------*/
/* --- Other START ------------------------------------------------*/
.jap__main_title {
  text-align: center;
  margin-bottom: 20px;
}

.jap__main_title h2 {
  display: inline-block;
  text-transform: uppercase;
  position: relative;
  padding: 10px;
}

.jap__main_title h2:after {
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  width: 10%;
  height: 100%;
  border-bottom: 5px solid #d7eb67;
}

.jap__main_title h2:before {
  position: absolute;
  content: '';
  bottom: 0;
  right: 0;
  width: 10%;
  height: 100%;
  border-bottom: 5px solid #d7eb67;
}

.jap__main_title h2 i {
  color: #50aab2;
  margin-right: 10px;
}

.slick-dots li button:before {
  font-size: 15px;
  color: #d7eb67 !important;
}

.slick-prev {
  left: -35px;
  width: 40px;
  height: 40px;
  z-index: 99;
}

.slick-prev:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-top: 5px solid #d7eb67;
  border-right: 5px solid #d7eb67;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.slick-next {
  right: -35px;
  width: 40px;
  height: 40px;
}

.slick-next:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-top: 5px solid #d7eb67;
  border-right: 5px solid #d7eb67;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
/*# sourceMappingURL=main.css.map */