@media only screen and (max-width: 1199px) {
  .services .col_services .nav_services .nav-tabs {
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 991px){
  .navbar .navbar_contact {
    margin-left: 0;
    flex-direction: column;
  }
  .intro .desc .subtitle, .services .col_services .nav_services {
    padding-bottom: 0;
  }
  .services .col_services .nav_services, .services .title, .advantages .title {
    padding-top: 0;
  }
  .intro .title, .services .title, .advantages .title {
    padding-bottom: 10px;
  }
}

@media only screen and (max-width: 767px) {
  .first_scroll .container .row .triggers .trigger {
    text-align: left;
  }
  .first_scroll .container .row .triggers .col_trigger {
    margin: 5px 0;
  }
}

@keyframes hand_point_down {
  0% { 
    transform: translateY(-2px);
  }
  50% {
      transform: translateY(0);
  }
  100% {
    transform: translateY(5px);
  }
}