body {
  font-family: 'Open Sans', sans-serif;
}

a {
  color: black;
}

a:hover {
  color: black;
  text-decoration: none;
}

.hidden {
  display: none;
}

.contact_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px 20px;
  background: white;
  border: 1px solid white;
  z-index: 5;
  position: relative;
}

.contact_form:before {
  position: absolute;
  content: '';
  top: -7px;
  left: -7px;
  right: -7px;
  bottom: -7px;
  border: 1px solid white;
  z-index: -2;
}

.contact_form .mfp-close {
  right: 0;
}

.contact_form .my_input {
  margin: 10px 0;
  padding: 10px 5px;
  border: 2px solid rgba(0, 0, 0, 0.7);
}

.contact_form .contact_button {
  margin-top: 5px;
  padding: 10px 5px;
  font-weight: 600;
  -webkit-transition: .2s;
  transition: .2s;
  border: 2px solid #D2B356;
  background: white;
  color: #D2B356;
}

.contact_form .contact_button:hover {
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
  border-color: black;
  color: black;
}

.navbar {
  width: 100%;
  position: fixed;
  background: transparent;
  border-bottom: 1px solid transparent;
  -webkit-transition: .2s;
  transition: .2s;
  z-index: 999;
}

.navbar .a_logo {
  font-weight: 600;
  -webkit-transition: 0.2s !important;
  transition: 0.2s !important;
  color: black;
}

.navbar .navbar-nav {
  margin-right: auto;
  margin-left: auto;
}

.navbar .navbar-nav .nav-item .nav-link {
  width: auto;
  display: inline-block;
  font-weight: 600 !important;
}

.navbar .navbar-nav .nav-item .nav-link:focus .hover_nav_item {
  -webkit-transition: .2s;
  transition: .2s;
}

.navbar .navbar-nav .nav-item .nav-link:focus .hover_nav_item:before {
  opacity: 1;
  top: 0px;
}

.navbar .navbar-nav .nav-item .nav-link:focus .hover_nav_item:after {
  opacity: 1;
  bottom: 0px;
}

.navbar .navbar-nav .nav-item .nav-link .hover_nav_item {
  position: relative;
  display: block;
  padding: 0px 5px;
}

.navbar .navbar-nav .nav-item .nav-link .hover_nav_item:before {
  position: absolute;
  content: '';
  left: 0;
  right: 0;
  height: 1px;
  background: #D2B356;
  -webkit-transition: .2s;
  transition: .2s;
  top: -10px;
  opacity: 0;
}

.navbar .navbar-nav .nav-item .nav-link .hover_nav_item:after {
  position: absolute;
  content: '';
  left: 0;
  right: 0;
  height: 1px;
  background: #D2B356;
  -webkit-transition: .2s;
  transition: .2s;
  bottom: -10px;
  opacity: 0;
}

.navbar .navbar-nav .nav-item .nav-link .hover_nav_item:hover {
  -webkit-transition: .2s;
  transition: .2s;
}

.navbar .navbar-nav .nav-item .nav-link .hover_nav_item:hover:before {
  opacity: 1;
  top: 0px;
}

.navbar .navbar-nav .nav-item .nav-link .hover_nav_item:hover:after {
  opacity: 1;
  bottom: 0px;
}

.navbar .navbar_contact .navbar-nav {
  margin-left: 0;
}

.d_contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.d_contact .a_contact {
  margin: 30px 0;
  padding: 11px 16px;
  font-weight: 700;
  -webkit-transition: .3s;
  transition: .3s;
  border: 3px solid black;
  color: black;
}

.d_contact .a_contact:hover {
  -webkit-transition: .3s;
  transition: .3s;
  color: #D2B356;
  border-color: #D2B356;
}

.first_scroll {
  height: 100%;
  min-height: 100vh;
  background: url("../images/bg_first_scroll/noutbook.png");
  background-size: 50% auto;
  background-position: right bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
}

.first_scroll .container .row .content {
  padding: 20px;
  position: relative;
}

.first_scroll .container .row .content:before {
  position: absolute;
  content: '';
  top: -10px;
  left: 0;
  height: 6px;
  background: #D2B356;
  -webkit-transition: .5s;
  transition: .5s;
  width: 35px;
}

.first_scroll .container .row .content:after {
  position: absolute;
  content: '';
  bottom: -10px;
  left: 0;
  height: 6px;
  background: #D2B356;
  -webkit-transition: .5s;
  transition: .5s;
  width: 35px;
}

.first_scroll .container .row .content .animate_bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  -webkit-transition: .7s;
  transition: .7s;
  width: 0;
  background: rgba(0, 0, 0, 0.3);
}

.first_scroll .container .row .content:hover {
  -webkit-transition: .5s;
  transition: .5s;
}

.first_scroll .container .row .content:hover .animate_bg {
  width: 100%;
}

.first_scroll .container .row .content:hover:before {
  width: 100%;
}

.first_scroll .container .row .content:hover:after {
  width: 100%;
}

.first_scroll .container .row .content h1 {
  color: black;
  font-weight: 700;
  font-size: 40px;
  text-align: center;
}

.first_scroll .container .row .content h2 {
  color: black;
}

.first_scroll .container .row .triggers .trigger {
  background: rgba(255, 255, 255, 0.8);
  margin: 10px 0px;
  padding: 0px 20px;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.first_scroll .container .row .triggers .trigger:before {
  position: absolute;
  content: '';
  top: 3px;
  left: 3px;
  right: 3px;
  bottom: 3px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.first_scroll .container .row .triggers .trigger .fa-rocket {
  color: #D2B356;
  font-size: 25px;
  -webkit-transition: .8s;
  transition: .8s;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

.first_scroll .container .row .triggers .trigger p {
  margin: 0;
  padding: 10px;
}

.first_scroll .container .row .triggers .trigger:hover {
  -webkit-transition: .8s;
  transition: .8s;
}

.first_scroll .container .row .triggers .trigger:hover .fa-rocket {
  -webkit-transform: translate(400px, -200px);
          transform: translate(400px, -200px);
}

.content, .triggers {
  margin-top: 100px;
}

.intro {
  padding: 30px 0;
  background: url("../images/bg_about_scroll/background2scrool.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.intro:hover .desc .title:before {
  width: 100%;
}

.intro .col_video .title {
  margin-top: 57px;
}

.intro .col_video .title h3 {
  padding: 3px 5px;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
}

.intro .col_video .title .fa-hand-point-down {
  margin-right: 10px;
  font-size: 20px;
  color: #D2B356;
  animation: hand_point_down 0.5s linear alternate-reverse infinite;
}

.intro .col_video .video {
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.8);
          box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.8);
}

.intro .col_video .video img {
  height: auto;
  max-width: 100%;
}

.intro .col_video .video .popup-youtube .fa-play {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #595959;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: 2px solid #595959;
  background: rgba(255, 255, 255, 0.8);
  -webkit-transition: .3s;
  transition: .3s;
  padding: 25px;
  -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.4);
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.8);
}

.intro .col_video .video .popup-youtube:hover .fa-play {
  -webkit-transition: .3s;
  transition: .3s;
  padding: 22px;
  font-size: 12px;
}

.intro .desc .title {
  position: relative;
  padding: 30px 0;
}

.intro .desc .title:before {
  position: absolute;
  content: '';
  bottom: -10px;
  left: 0;
  height: 6px;
  background: #D2B356;
  -webkit-transition: .5s;
  transition: .5s;
  width: 35px;
}

.intro .desc .subtitle {
  padding: 30px 0;
}

.intro .desc .subtitle .subtit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 60px;
  margin: 10px 0;
  padding: 5px;
  border-right: 1px solid rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  background: white;
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-box-shadow: 3px 3px 1px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 3px 3px 1px 0px rgba(0, 0, 0, 0.25);
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

.intro .desc .subtitle .subtit:hover {
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-box-shadow: 5px 5px 1px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 5px 5px 1px 0px rgba(0, 0, 0, 0.3);
  -webkit-transform: translate(-1px, -1px);
          transform: translate(-1px, -1px);
}

.intro .desc .subtitle .subtit p {
  margin: 0;
  text-align: left;
  font-weight: 400;
}

.intro .desc .subtitle .subtit i {
  margin-left: 10px;
  color: #D2B356;
}

.intro .desc h3 {
  font-weight: 600;
}

.services {
  padding: 30px 0;
  overflow: hidden;
}

.services:hover .title:before {
  width: 60%;
}

.services .title {
  position: relative;
  padding: 30px 0;
}

.services .title:before {
  position: absolute;
  content: '';
  bottom: -10px;
  left: 50%;
  right: 50%;
  height: 6px;
  background: #D2B356;
  -webkit-transition: .5s;
  transition: .5s;
  width: 35px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.services .col_services {
  padding-top: 40px;
}

.services .col_services .nav-pills .nav-link.active {
  background: black;
  border-radius: 0;
}

.services .col_services .service {
  position: relative;
  -webkit-transition: .5s;
  transition: .5s;
}

.services .col_services .service:hover {
  cursor: pointer;
}

.services .col_services .service:hover .desc {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}

.services .col_services .service:hover .d_title {
  opacity: 0;
}

.services .col_services .service .desc {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid #D2B356;
  border-left: 3px solid #D2B356;
  width: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-transform: rotateY(90deg);
          transform: rotateY(90deg);
}

.services .col_services .service .desc div {
  padding: 5px;
}

.services .col_services .service .desc div h5 {
  color: black;
  font-size: 16px;
}

.services .col_services .service .desc div p {
  color: black;
  margin: 0;
  font-size: 14px;
}

.services .col_services .service img {
  height: auto;
  max-width: 100%;
}

.services .col_services .service .d_title {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: .5s;
  transition: .5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background: rgba(255, 255, 255, 0.4);
}

.services .col_services .service .d_title h3 {
  padding: 10px;
  color: black;
}

.advantages {
  padding: 30px 0;
  overflow: hidden;
}

.advantages:hover .title:before {
  width: 20%;
}

.advantages .title {
  position: relative;
  padding: 30px 0;
  margin-bottom: 58px;
}

.advantages .title:before {
  position: absolute;
  content: '';
  bottom: -10px;
  left: 50%;
  right: 50%;
  height: 6px;
  background: #D2B356;
  -webkit-transition: .5s;
  transition: .5s;
  width: 35px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.advantages .adv:hover h3:before {
  -webkit-transition: .5s;
  transition: .5s;
  background: #D2B356;
  -webkit-transform: translateX(100px);
          transform: translateX(100px);
}

.advantages .adv h3 {
  font-weight: 600;
  display: inline-block;
  padding-right: 10px;
  position: relative;
}

.advantages .adv h3:before {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  width: 2px;
  -webkit-transition: .5s;
  transition: .5s;
  background: black;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

footer {
  padding: 30px 0;
  min-height: 100vh;
}

footer .col_contactyy .cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .col_contactyy .cont .fa-mobile-alt {
  margin-right: 5px;
  color: #D2B356;
  font-size: 20px;
}
/*# sourceMappingURL=style.css.map */