// my colors
$gradientNavItemsGray: linear-gradient(rgba(215,215,215,.5), rgba(186,186,186,.5))
$yellow_color: #D2B356
$yellow_color_rgba55: rgba(210,179,86,.55)
$yellow_color_rgba4: rgba(210,179,86,.4)

.color_white


body
  font-family: 'Open Sans', sans-serif
  background: #EBEBEB

#b_nav_id
  &:focus
    outline: none

a
  color: black
  &:hover
    color: black
    text-decoration: none 
  &:focus
    outline: none!important 

.hidden
  display: none

.bg_scroll
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  background: rgba(255,255,255,.6)
  z-index: -2
  

.fw_bold
  font-weight: bold

.btn_disabled
  border-color: rgba(0,0,0,.4)!important
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,.5)!important
  color: rgba(0,0,0,.5)!important
  cursor: default!important 

.contact_form
  display: flex
  flex-direction: column
  max-width: 300px
  margin-left: auto
  margin-right: auto
  padding: 30px 20px
  border-radius: 5px
  background: white
  border: 1px solid white
  z-index: 5
  position: relative
  &:before
    position: absolute
    content: ''
    top: -7px
    left: -7px
    right: -7px
    bottom: -7px
    border-radius: 5px
    border: 1px solid white
    z-index: -2
  .mfp-close
    right: 0
  .my_input
    margin: 10px 0
    padding: 10px 5px
    border-radius: 5px
    border: 2px solid rgba(0,0,0,.7)
    transition: .3s
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,.6) 
    &:focus
      transition: .3s
      box-shadow: 0px 2px 5px 0px rgba(0,0,0,.8)
      border-color: black
      outline: none!important
  .contact_button
    margin-top: 5px
    padding: 10px 5px
    font-weight: 600
    border-radius: 5px
    transition: .2s
    border: 2px solid black
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,.6)
    background: white
    color: black
    &:hover
      cursor: pointer
      transition: .2s
      border-color: $yellow_color
      color: $yellow_color
      box-shadow: 0px 2px 5px 0px $yellow_color 
    &:focus
      outline: none!important

.d_contact
  display: flex
  justify-content: center
  flex-direction: column
  padding-top: 40px
  text-align: center
  .a_contact
    margin: 10px 0 30px 0
    padding: 11px 16px
    font-weight: 700
    transition: .3s
    border: 3px solid black
    color: black
    text-shadow: 1px 1px 1px transparent
    border-radius: 5px
    display: block
    &:hover
      transition: .3s
      color: $yellow_color
      border-color: $yellow_color
      text-shadow: 1px 1px 1px black
  h4
    color: black

.navbar
  width: 100%
  position: fixed
  background: transparent
  border-bottom: 1px solid transparent
  transition: .2s
  z-index: 999
  .a_logo 
    font-weight: 600
    transition: .2s!important
    color: black
  .navbar-nav
    margin-right: auto
    margin-left: auto 
    .nav-item
      .nav-link
        width: auto
        display: inline-block
        font-weight: 600!important
        &:focus
          outline: none
          .hover_nav_item
            transition: .2s
            &:before
              opacity: 1
              top: 0px
            &:after
              opacity: 1
              bottom: 0px
        .hover_nav_item
          position: relative
          display: block
          padding: 0px 5px
          &:before
            position: absolute
            content: ''
            left: 0
            right: 0
            height: 2px
            border-radius: 5px
            background: $yellow_color
            transition: .2s
            top: -10px
            opacity: 0
          &:after
            position: absolute
            content: ''
            left: 0
            right: 0
            border-radius: 5px
            height: 2px
            background: $yellow_color
            transition: .2s
            bottom: -10px
            opacity: 0
          &:hover
            transition: .2s
            &:before
              opacity: 1
              top: -2px
            &:after
              opacity: 1
              bottom: -2px
  .navbar_contact
    .navbar-nav
      margin-left: 0
      .contact_item

.first_scroll
  height: 100%
  min-height: 100vh
  background: url('../images/bg_first_scroll/back1.jpg')
  background-size: cover
  background-repeat: no-repeat
  background-position: top
  overflow: hidden
  padding-bottom: 30px
  .container
    .row
      .content
        padding: 20px
        position: relative
        &:before
          position: absolute
          content: ''
          top: -10px
          left: 0
          height: 5px
          background: $yellow_color
          transition: .5s
          width: 35px
          border-bottom-right-radius: 5px
        &:after
          position: absolute
          content: ''
          bottom: -10px
          left: 0
          height: 5px
          background: $yellow_color
          transition: .5s
          width: 35px
          border-top-right-radius: 5px
        .animate_bg
          position: absolute
          top: 0
          bottom: 0
          left: 0
          transition: .7s
          width: 0
          border-top-right-radius: 5px
          border-bottom-right-radius: 5px
          background: rgba(0,0,0,.2)
        &:hover 
          transition: .5s
          .animate_bg
            width: 100%
          &:before
            width: 100%
          &:after
            width: 100%
        h1
          color: #646464
          font-weight: 700
          font-size: 40px
          text-align: center
        h2
          color: #646464
        h1, h2
      .d_contact
        a
      .triggers
        margin: 0
        .trigger
          height: 100%
          background: rgba(255,255,255,.1)
          margin: 10px 0px
          padding: 0px 20px
          position: relative
          box-shadow: 0px 2px 5px 0px rgba(0,0,0,.6)
          border-radius: 5px
          text-align: center
          &:before
            position: absolute
            content: ''
            top: 3px
            left: 3px
            right: 3px
            bottom: 3px
          .fa-rocket
            color: $yellow_color
            font-size: 25px
            transition: .5s
            transform: translate(0px, 0px)
            z-index: 99
            opacity: 1
          p
            margin: 0
            padding: 10px
          &:hover
            transition: .5s
            .fa-rocket
              opacity: 0
              transform: translate(400px, -200px)


.content, .triggers
  margin-top: 100px

.intro
  padding-bottom: 30px
  background: url('../images/bg_about_scroll/background2scrool2.jpg')
  background-size: cover
  background-repeat: no-repeat
  box-shadow: inset 0px 2px 10px 0px white
  position: relative
  overflow: hidden
  z-index: 5
  &:hover
    .title
      &:before
        width: 100%
  .col_video
    .d_contact
      .a_contact
        background: rgba(255,255,255,.25)
    .title
      background: none
      padding-bottom: 0
      box-shadow: none
      margin: 0
      h3
        padding: 3px 5px
        box-shadow: 0px 2px 5px 0px rgba(0,0,0,.5)
        border-radius: 5px
      .fa-hand-point-down
        margin-right: 10px
        font-size: 20px 
        color: $yellow_color
        animation: hand_point_down 0.5s linear alternate-reverse infinite
    .video
      position: relative
      border: 1px solid rgba(0,0,0,.3)
      box-shadow: 0px 2px 5px 0px rgba(0,0,0,.8)
      border-radius: 5px
      img
        height: auto
        max-width: 100%
        border-radius: 5px
      .popup-youtube
        .fa-play
          position: absolute
          border-radius: 5px
          top: 50%
          left: 50%
          color: #595959
          transform: translate(-50%,-50%)
          border: 2px solid #595959
          background: rgba(255,255,255,.8)
          transition: .3s
          padding: 20px
          box-shadow: 0px 2px 3px 0px rgba(0,0,0,.4)
          text-shadow: 2px 2px 3px rgba(0,0,0,.8)
        &:hover
          .fa-play
            transition: .3s
            padding: 19px
            font-size: 12px
  .title
    position: relative
    padding-bottom: 10px
    margin-bottom: 50px
    text-align: center
    background: rgba(255,255,255,.8)
    border-bottom-left-radius: 5px
    border-bottom-right-radius: 5px
    box-shadow: 0px 5px 15px 0px white
    &:before
      position: absolute
      content: ''
      bottom: -10px
      left: 50%
      height: 5px
      background: $yellow_color
      transition: .5s
      width: 35px
      border-radius: 5px
      transform: translateX(-50%)
  .desc
    .subtitle
      .subtit
        display: flex
        flex-direction: column
        align-items: left
        min-height: 60px
        margin: 10px 0
        padding: 15px
        border-right: 1px solid rgba(0,0,0,.3)
        border-bottom: 1px solid rgba(0,0,0,.3)
        border-radius: 5px
        background: white
        transition: .3s
        box-shadow: 0px 2px 5px 0px rgba(0,0,0,.8)
        transform: translate(0px, 0px)
        &:hover
          transition: .3s
        .ul_crm_in
          margin: 0
          padding-left: 15px
          .d_li
            display: flex
            align-items: center
            margin: 4px 0
            img
              height: 14px
              width: 14px
              margin-right: 10px
            li
              border: 1px dotted black
              border-radius: 5px
              padding: 3px
              margin: 2px 0
              width: 100%
              font-size: 14px
              list-style: none
        p
          margin: 0
          text-align: left
          font-weight: 400
          font-size: 14px
        i
          margin-left: 10px
          color: $yellow_color
    h3
      font-weight: 600

.text_style_intro
  text-decoration: underline

.fw6
  font-weight: 600!important

.services
  padding: 30px 0
  overflow: hidden
  &:hover
    .title
      &:before
        width: 100%
  .title
    position: relative
    padding-bottom: 10px
    display: inline-block
    &:before
      position: absolute
      content: ''
      bottom: -10px
      left: 50%
      right: 50%
      height: 5px
      border-radius: 5px
      background: $yellow_color
      transition: .5s
      width: 35px
      transform: translateX(-50%)
  .col_tab_menu
    padding-top: 60px
    .tab_menu
      display: flex
      .nav-pills
        padding-right: 20px
        flex-wrap: wrap
        justify-content: center
        max-width: 40%
        .nav-link
          margin: 2px
          transition: .3s
          height: 160px
          border: 2px solid rgba(0,0,0,.05)
          padding: 8px
          display: flex
          flex-direction: column
          justify-content: space-around
          &:hover
            transition: .3s
            border-color: $yellow_color_rgba4
            background: $yellow_color_rgba4
            outline: none
          &:focus
            outline: none
          .nav-link-img
            display: flex
            justify-content: center
            img
              height: auto
              max-height: 70px
              max-width: 70px
          .nav-link-name
            max-width: 200px
            text-align: center
            padding-top: 5px
            p
              margin: 0
              font-size: 14px
        .nav-link.active 
          color: black
          border-radius: 5px
          transition: .3s
          background: none
          border-color: $yellow_color
          background: $yellow_color_rgba55
          &:before
            transition: .3s
            background: white
    .hidden_mobile
      width: 100%
    .tab-content
      background: url("../images/bg_first_scroll/bg_first_scroll_1.jpg")
      background-size: cover
      background-repeat: no-repeat
      width: 100%
      min-height: 100%
      border-radius: 5px
      position: relative
      z-index: 5
      .tab-pane
        padding: 20px
        position: relative
        border-radius: 5px
        z-index: 5
        min-height: 100% 
        width: 100%
        &:before
          position: absolute
          content: ''
          top: 3px
          left: 3px
          right: 3px
          bottom: 3px
          border-radius: 3px
        &:hover
          .title_pane
            h5
              &:before
                width: 100% 
        .d_contact
          padding-top: 20px
          margin-left: 50%
          transform: translateX(-50%)
          display: inline-block
          .a_contact
            margin-bottom: 10px
            font-size: 14px
        .desc_pane
          p
            font-size: 14px
            font-weight: bold
            text-align: center
            margin-top: 10px
          ul
            li
              font-size: 14px
        .title_pane
          display: flex
          justify-content: center
          h5
            text-align: center
            font-size: 16px
            font-weight: bold
            position: relative
            display: inline-block
            margin-bottom: 30px
            &:before
              position: absolute
              content: ''
              bottom: -20px
              left: 50%
              right: 50%
              height: 3px
              border-radius: 5px
              background: $yellow_color
              transition: .5s
              width: 35px
              transform: translateX(-50%)

.api_privat
  text-decoration: underline

.advantages
  padding: 30px 0
  overflow: hidden
  position: relative
  background: url("../images/advantages/bg_advantages.jpg")
  background-size: cover
  background-position: center
  background-repeat: no-repeat
  z-index: 5
  &:hover
    .title
      &:before
        width: 100%
  .bg_scroll
    background: rgba(255,255,255,.7)
  .title
    position: relative
    padding-bottom: 10px
    margin-bottom: 58px
    display: inline-block
    &:before
      position: absolute
      content: ''
      bottom: -10px
      left: 50%
      right: 50%
      border-radius: 5px
      height: 5px
      background: $yellow_color
      transition: .5s
      width: 35px
      transform: translateX(-50%)
  .col-spans-adv
    display: flex
    flex-direction: column
    justify-content: space-between
    .d-title-spans
      text-align: center
      height: 100%
      display: flex
      flex-direction: column
      justify-content: space-between 
    .div-adv-counters
      display: flex 
      justify-content: center
      align-items: flex-end
      min-height: 150px
      box-shadow: 0px 2px 5px 0px rgba(0,0,0,.3)
      border-radius: 5px
      background: url("../images/advantages/bg_counter.jpg")
      background-size: cover
      background-repeat: no-repeat
      .d-counter-span-adv
        width: 105px
        padding: 0px 5px
        display: flex
        align-items: center
        justify-content: space-between
        .counter-span-advantages
          font-size: 40px
          font-weight: bold
        .procent
          font-size: 30px
      .d-level-div-advantages
        margin-left: 10px
        display: flex
        align-items: flex-end 
        position: relative
        height: 150px
        border: 1px solid rgba(0,0,0,.1)
        border-top: none
        border-bottom: none
        margin-right: 5px
        .level-div-advantages
          width: 35px
          height: 1px
          background: $yellow_color

.reviews
  padding-top: 30px
  padding-bottom: 20px
  overflow: hidden
  .container
    .row
      .col_review
        .div_review
          box-shadow: 0px 2px 5px 0px rgba(0,0,0,.3)
          border-radius: 5px
          padding: 20px
          background: white
          &:hover
            .p_review
              &:before
                width: 100%
          .div_img_review
            display: flex
            justify-content: center
            padding-bottom: 20px
            img
              height: auto
              max-height: 120px
              max-width: 120px
              border-radius: 50%
              box-shadow: 0px 1px 6px 0px rgba(0,0,0,.6)
          .p_review
            position: relative
            text-align: center
            &:before
              position: absolute
              content: ''
              bottom: -20px
              left: 50%
              right: 50%
              height: 3px
              border-radius: 5px
              background: $yellow_color
              transition: .5s
              width: 30px
              transform: translateX(-50%)
          .p_name
            margin-top: 40px
            text-align: center
      .title
        position: relative
        padding-bottom: 10px
        margin-bottom: 58px
        display: inline-block
        &:before
          position: absolute
          content: ''
          bottom: -10px
          left: 50%
          right: 50%
          height: 5px
          border-radius: 5px
          background: $yellow_color
          transition: .5s
          width: 30px
          transform: translateX(-50%)
  &:hover
    transition: .5s
    .title
      &:before
        background: $yellow_color
        width: 100%!important

.consultation
  padding: 30px 0
  background: url("../images/consultation/bg_consultation.jpg")
  background-size: cover
  background-position: center
  background-repeat: no-repeat
  position: relative
  overflow: hidden
  z-index: 5
  .bg_scroll
    background: rgba(255,255,255,.3)
  .form-consultation
    display: flex
    flex-direction: column
    align-items: center
    .title
      color: rgba(255,255,255,.7)
      text-shadow: 1px 1px 1px rgba(0,0,0,.2)
      text-align: center
    .pod-title
      color: rgba(255,255,255,.5)
      text-shadow: 1px 1px 1px rgba(0,0,0,.2)
    form
      max-width: 400px
      min-width: 300px
      display: flex
      flex-direction: column
      input, button
        &:focus
          outline: none
      input
        margin-top: 5px
        margin-bottom: 5px
        border-radius: 5px
        padding: 11px 16px
        background: transparent
        transition: .3s
        border: 2px solid rgba(255,255,255,.7)
        font-weight: 600
        color: rgba(255,255,255,.7)
        &:hover
          transition: .3s
          box-shadow: 0px 0px 5px 0px rgba(0,0,0,.7)
        &:focus
          transition: .3s
          box-shadow: 0px 0px 5px 0px rgba(0,0,0,.7)
      button
        margin-top: 5px
        padding: 11px 16px
        font-weight: 600
        transition: .3s
        background: transparent
        border-radius: 5px
        display: block
        transition: .3s
        border: 2px solid $yellow_color
        color: $yellow_color
        &:hover
          transition: .3s
          box-shadow: 0px 0px 2px 0px rgba(0,0,0,.7)
          border-color: rgba(0,0,0,.5)
          color: rgba(0,0,0,.7)
          cursor: pointer

footer
  padding: 30px 0
  position: relative
  overflow: hidden
  background: url("../images/footer/bg_advantages.jpg")
  background-size: cover
  background-position: top 
  background-repeat: no-repeat
  z-index: 5
  .bg_scroll
    background: rgba(255,255,255,.75) 
  .col_contactyy
    display: flex
    flex-direction: column
    align-items: center
    .title
      position: relative
      padding-bottom: 10px
      margin-bottom: 20px
      display: inline-block
      &:before
        position: absolute
        content: ''
        bottom: 0
        left: 0
        right: auto
        height: 5px
        border-radius: 5px
        background: $yellow_color
        transition: .5s
        width: 35px
    &:hover
      transition: .5s
      .title
        &:before
          background: $yellow_color
          width: 100%
    .cont
      a
        box-shadow: 0px 2px 5px 1px rgba(0,0,0,.4)
        display: inline-block
        padding: 5px 10px
        min-width: 200px
        border-radius: 5px
        transition: .3s
        background: white
        &:hover
          transition: .3s
          background: $yellow_color
          color: white
          i
            color: white
      i
        margin-right: 10px
        font-size: 20px
        transition: .2s
        color: $yellow_color
    .soc
      margin: 0px 5px
      a
        min-width: 0
        padding-top: 7px
        padding-bottom: 3px
        i
          margin: 0

.developed
  padding-top: 30px
  text-align: center
  h5
    font-weight: 300
  a
    color: black
    font-weight: 400
    &:hover
      transition: .3s
      text-decoration: underline
