::-webkit-scrollbar-thumb{
  border-width:1px 1px 1px 2px;
  border-color: #777;
  background-color: #aaa;
}

::-webkit-scrollbar-thumb:hover{
  border-width: 1px 1px 1px 2px;
  border-color: #555;
  background-color: #777;
}

.my-container-button {
  display: inline-block;
  cursor: pointer;
  background: transparent;
  border: none;
}

.my-container-button:focus {
  outline: none;
}

.bar1, .bar2, .bar3 {
  width: 30px;
  height: 4px;
  background-color: #333;
  margin: 6px 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-transform: rotate(-45deg) translate(-8px, 6px);
  transform: rotate(-45deg) translate(-8px, 7px);
  -webkit-transform: translateX(6px);
          transform: translateX(6px);
}

.change .bar2 {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transform: rotate(60deg);
          transform: rotate(60deg);
}

.change .bar3 {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
  -webkit-transform: translateX(-6px);
          transform: translateX(-6px);
}

.consultation input:required {
  box-shadow: none;
 }