body {
  background: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 16px;
  color: #111;
  margin: 0;
  padding: 0;
  position: relative;
  line-height: 1.6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body a {
  text-decoration: none;
  color: #111;
}

body a:hover {
  text-decoration: none;
  color: #111;
}

button {
  outline: none;
}

button:focus {
  outline: none;
}

.hidden {
  display: none;
}

img {
  max-width: 100%;
  height: auto;
}

section {
  padding: 50px 0;
  overflow: hidden;
}

.done {
  min-height: 100vh;
}

.row-eq-height {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

/* --- Navbar START ------------------------------------------------*/
.navbar {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background: rgba(255, 255, 255, 0);
}

.navbar .navbar-brand {
  padding: 0;
}

.navbar img {
  width: 40px;
  margin: 0;
  padding: 0;
}

.navbar .msgIcon {
  font-size: 30px;
  padding: 0;
  display: inline;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #fff;
}

.navbar .msgIcon:hover {
  color: #7AA174;
}

.navbar .anim {
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
}

.navbar .anim span {
  color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform-origin: left;
          transform-origin: left;
}

.navbar .anim:before {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-bottom: 2px solid #7AA174;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.navbar .anim:hover span {
  color: #7AA174;
}

.navbar .anim:hover:before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.navbar p {
  font-size: 24px;
  color: #fff;
  margin: 0;
  padding-right: 10px;
  display: inline-block;
}

.navbar .navbar-toggler-icon {
  background: url("../img/burger-light.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 2em;
  height: 2em;
}

.navbar .navbar-toggler-icon:focus {
  outline: none;
}

.navbar .navbar-toggler {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.navbar .navbar-toggler:focus {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  outline: none;
  border: 1px solid #fff;
}

.active {
  position: relative;
  overflow: hidden;
}

.active span {
  color: #7AA174 !important;
}

.active:before {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-bottom: 2px solid #111;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-animation: animate 7s linear infinite;
          animation: animate 7s linear infinite;
}

@-webkit-keyframes animate {
  0% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  50% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  51% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  100% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
}

@keyframes animate {
  0% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  50% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  51% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  100% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
}

.fixed-nav {
  background: rgba(255, 255, 255, 0.9);
  color: #55595c;
  padding: .4rem .4rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.5);
}

.fixed-nav .msgIcon span {
  color: #111;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.fixed-nav .msgIcon:hover span {
  color: #7AA174;
}

.fixed-nav .anim span {
  color: #111;
}

.fixed-nav p {
  color: #111;
}

.fixed-nav .navbar-toggler-icon {
  background: url("../img/burger-black.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 2em;
  height: 2em;
}

.fixed-nav .navbar-toggler-icon:focus {
  outline: none;
}

.fixed-nav .navbar-toggler {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.fixed-nav .navbar-toggler:focus {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  outline: none;
  border: 1px solid #111;
}

.navbar-nav {
  text-align: center;
}

/* --- Navbar END ------------------------------------------------*/
/* --- Header start------------------------------------------------*/
.headerCont {
  min-height: 100vh;
  background: url("../img/headBg.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.headerCont .container-fluid {
  text-align: center;
}

.headerCont .container-fluid .headWrap {
  padding: 10px 20px;
  display: inline-block;
  text-align: center;
  color: #fff;
  background: rgba(122, 161, 116, 0.8);
}

.headerCont .container-fluid .headWrap h1 {
  text-transform: uppercase;
}

.headerCont .container-fluid .headWrap h3 {
  text-transform: uppercase;
}

.headerCont .container-fluid .headWrap hr {
  background-color: #fff;
  width: 60%;
  border: 1px solid #fff;
}

.headerCont .btnWrap {
  text-align: center;
}

/* --- Header END ------------------------------------------------*/
/* --- offerForm Start ------------------------------------------------*/
.offerForm {
  padding: 20px 0;
  background: #7AA174;
  color: #fff;
  border-top: 2px solid #e6e6e6;
  border-bottom: 2px solid #e6e6e6;
}

.offerForm h3 {
  text-transform: uppercase;
  position: relative;
}

.offerForm h3 i {
  color: #954B4B;
}

.offerForm h3 span {
  color: #954B4B;
}

/* --- offerForm END ------------------------------------------------*/
/* --- About Start ------------------------------------------------*/
.about ul {
  text-align: left;
  display: inline-block;
}

.about ul li {
  list-style: none;
  position: relative;
  font-size: 20px;
  margin-bottom: 10px;
}

.about ul li i {
  position: absolute;
  left: -25px;
  top: 7px;
  color: #7AA174;
}

.about .imgWrap {
  position: relative;
}

.about .imgWrap img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.about .imgWrap:after {
  position: absolute;
  content: '';
  top: 10px;
  left: 10px;
  width: 100%;
  height: 100%;
  border: 3px solid #7AA174;
}

/* --- About END ------------------------------------------------*/
/* --- product Start ------------------------------------------------*/
.product {
  background: #f8f8f8;
}

.product .mainBtn:before {
  border: 2px solid #264421;
}

.product .prodWrap {
  text-align: center;
}

.product .prodWrap h5 {
  text-transform: uppercase;
}

.product .prodWrap h4 {
  font-style: italic;
}

.product .prodWrap h2 {
  color: #954B4B;
}

.product .prodWrap h2 span {
  color: #111;
  font-size: 1.6rem;
  margin-right: 10px;
  text-decoration: line-through;
}

.product .prodWrap .imgWrap {
  position: relative;
  display: inline-block;
}

.product .prodWrap .imgWrap img {
  -webkit-box-shadow: 3px 3px 3px 0px rgba(17, 17, 17, 0.4);
          box-shadow: 3px 3px 3px 0px rgba(17, 17, 17, 0.4);
  margin-bottom: 10px;
}

.product .prodWrap .imgWrap .hitProd {
  position: absolute;
  top: 5px;
  right: 5px;
}

.product .prodWrap .imgWrap .hitProd img {
  width: 120px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

/* --- product END ------------------------------------------------*/
/* --- ProduprodPreviewctAll Start ------------------------------------------------*/
.prodPreview {
  background: url("../img/prodPrewBg.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.prodPreview .sliderRewN .sliderRewContN img {
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.prodPreview .sliderRewN .slick-prev {
  z-index: 999;
  position: absolute;
  width: 30px;
  height: 30px;
  left: -5%;
}

.prodPreview .sliderRewN .slick-prev:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-left: 4px solid #264421;
  border-top: 4px solid #264421;
  color: #000;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.prodPreview .sliderRewN .slick-next {
  z-index: 999;
  position: absolute;
  width: 30px;
  height: 30px;
  right: -5%;
}

.prodPreview .sliderRewN .slick-next:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-right: 4px solid #264421;
  border-top: 4px solid #264421;
  color: #000;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

/* --- prodPreview END ------------------------------------------------*/
/* --- steps Start ------------------------------------------------*/
.steps img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.steps .btnWrap .mainBtn:before {
  border: 2px solid #264421;
}

/* --- steps END ------------------------------------------------*/
/* --- contacts START ------------------------------------------------*/
.contacts {
  padding: 30px 0;
  background: #55595c;
  color: #fff;
}

.contacts a {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #fff;
}

.contacts a:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #7AA174;
}

.contacts a i {
  margin-right: 15px;
  font-size: 30px;
}

.contacts h4 {
  margin-bottom: 5px;
}

.contacts .borderRight {
  border-right: 2px solid #fff;
}

.contacts p {
  text-indent: 20px;
  margin: 0;
}

.contacts p a {
  color: #fff;
}

/* --- contacts END ------------------------------------------------*/
/* --- Button Start ------------------------------------------------*/
.mainBtn {
  display: inline-block;
  background: rgba(122, 161, 116, 0.9);
  padding: 10px 20px;
  text-transform: uppercase;
  color: #fff;
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.mainBtn:before {
  position: absolute;
  content: '';
  top: -10px;
  left: -10px;
  bottom: -10px;
  right: -10px;
  opacity: 0;
  border: 2px solid #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.mainBtn:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background: #264421;
  color: #fff;
}

.mainBtn:hover:before {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
}

/* --- Button END ------------------------------------------------*/
/* --- Form START ------------------------------------------------*/
.openFormVer {
  position: relative;
  color: #fff;
  background: #55595c;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  max-width: 100%;
  padding: 20px 10px 20px 10px;
  border: 2px solid #fff;
}

.openFormVer hr {
  width: 60%;
  background-color: #fff;
  border: 1px solid #fff;
}

.openFormVer h3 {
  font-size: 1.6rem;
}

.openFormVer input {
  text-align: center;
  padding: 5px;
  width: 90%;
  margin: 10px 0 10px 0;
  border: none;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.openFormVer .buttonOpenForm {
  margin: 20px;
  cursor: pointer;
  border: none;
  font-size: 20px;
  text-transform: uppercase;
  padding: 5px 30px;
  background: rgba(122, 161, 116, 0.9);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: relative;
  color: red;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.openFormVer .buttonOpenForm span {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #111;
  mix-blend-mode: multiply;
}

.openFormVer .buttonOpenForm:before {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #e6e6e6;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
}

.openFormVer .buttonOpenForm:hover:before {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.openFormVer .buttonOpenForm:disabled {
  background: #e6e6e6;
}

.openFormVer .buttonOpenForm:disabled:hover:before {
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
}

.openFormHor {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.openFormHor input {
  font-size: 20px;
  margin: 20px;
  padding: 10px;
  text-align: center;
  border: none;
  border-bottom: 2px solid #7AA174;
  border-left: 2px solid #7AA174;
  outline: none;
  background: rgba(255, 255, 255, 0.4);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.openFormHor input:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background: rgba(255, 255, 255, 0.2);
}

.openFormHor ::-webkit-input-placeholder {
  color: #fff;
}

.openFormHor :-ms-input-placeholder {
  color: #fff;
}

.openFormHor ::-ms-input-placeholder {
  color: #fff;
}

.openFormHor ::placeholder {
  color: #fff;
}

.openFormHor .buttonOpenForm {
  margin: 20px;
  cursor: pointer;
  border: none;
  font-size: 20px;
  text-transform: uppercase;
  padding: 10px 30px;
  background: rgba(255, 255, 255, 0.4);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: relative;
  color: red;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.openFormHor .buttonOpenForm span {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #111;
  mix-blend-mode: multiply;
}

.openFormHor .buttonOpenForm:before {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #e6e6e6;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
}

.openFormHor .buttonOpenForm:hover:before {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.openFormHor .buttonOpenForm:disabled {
  background: #e6e6e6;
}

.openFormHor .buttonOpenForm:disabled:hover:before {
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
}

/* --- Form END ------------------------------------------------*/
/* --- Other START ------------------------------------------------*/
.hMain {
  text-transform: uppercase;
  text-align: center;
  text-decoration: underline;
  margin-bottom: 20px;
}

.hMain i {
  color: #7AA174;
  -webkit-box-shadow: 4px 4px 0 0 #264421;
          box-shadow: 4px 4px 0 0 #264421;
  margin-right: 20px;
}
/*# sourceMappingURL=main.css.map */