.navBar
  background: $main_bg
  display: flex
  justify-content: center
  align-items: center
  flex-wrap: wrap
  padding: 5px
  box-shadow: 0px 4px 2px 0px rgba($main_black, .2)
  position: fixed
  top: 0
  left: 0
  width: 100%
  &__logo
    margin-left: 20px
    margin-right: auto
    a
      padding: 5px 10px
      background: rgba($main_blue, .6)
      color: $main_white
      font-weight: bold
      font-size: 28px
      span
        color: $main_yelow
        text-transform: uppercase
        margin-left: 2px
  &__list
    margin-right: auto
    ul
      padding: 0
      margin: 0
      li
        display: inline
        margin: 5px 10px
        a
          color: $main_white
          font-weight: bold
          transition: .3s
          padding: 5px
          &:hover
            transition: .3s
            background: rgba($main_blue, .6)
  @media(max-width: 450px)
    &__logo
      flex-basis: 100%
      text-align: center
      margin: 0 0 10px 0
    &__list
      margin-left: auto
      margin-right: auto