@media only screen and (min-width : 1500px) 
{

}
@media only screen and (max-height : 530px) 
{

}



@media only screen and (max-width : 1800px)
{

}
@media only screen and (max-width : 1600px)
{

}
@media only screen and (max-width : 1450px)
{

}
@media only screen and (max-width : 1280px)
{

}
@media only screen and (max-width : 1200px)
{
  .fixed-nav
  {
    background: #ffc400;
  }
}
@media only screen and (max-width : 1140px) 
{

}

@media only screen and (max-width : 992px)
{
  h1 
  {
    font-size: 1.4rem;
  }
  h2
  {
    font-size: 1.3rem;
  }
  h3 
  {
    font-size: 1.2rem;
  }
  h4
  {
    font-size: 1.1rem;
  }
  h5
  {
    font-size: 1rem;
  }
  .advantage .advCont .advWrap
  {
    flex-basis: 30%;
  }
  .advantage .advCont .advWrap:nth-child(3)
  {
    border: none;
  }
}
@media only screen and (max-width : 800px)
{

}
@media only screen and (max-width : 960px)
{

}
@media only screen and (max-width : 768px)
{
 


}
@media only screen and (max-width : 576px)
{
  .advantage .advCont .advWrap
  {
    flex-basis: 40%;
  }
  .advantage .advCont .advWrap
  {
    border: none;
  }
}
@media only screen and (max-width : 450px)
{


}
@media only screen and (max-width : 400px)
{


}