body {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 16px;
  background: #fff;
  color: #373a3d;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  margin: 0;
  padding: 0;
  position: relative;
  line-height: 1.6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  body a {
    text-decoration: none;
    color: #373a3d; }
    body a:hover {
      text-decoration: none;
      color: #373a3d; }

.hidden {
  display: none; }

.loader {
  background: none repeat scroll 0 0 #ffffff;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 9999;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .loader .loader_inner {
    background-image: url("../img/preloader.gif");
    -webkit-background-size: cover;
            background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #fff;
    height: 256px;
    width: 256px; }

/* --- Navbar START --- */
.navbar {
  padding: 20px;
  margin-left: 30px;
  margin-right: 30px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }
  .navbar .navbar-brand {
    padding: 0; }
  .navbar img {
    width: 300px;
    margin: 0;
    padding: 0; }
  .navbar .anim {
    color: #fff;
    text-transform: uppercase;
    position: relative;
    overflow: hidden; }
    .navbar .anim span {
      -webkit-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s;
      -webkit-transform-origin: left;
          -ms-transform-origin: left;
              transform-origin: left;
      mix-blend-mode: difference; }
    .navbar .anim:before {
      -webkit-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s;
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #383b3e;
      -webkit-transform-origin: left;
          -ms-transform-origin: left;
              transform-origin: left;
      -webkit-transform: scaleX(0);
          -ms-transform: scaleX(0);
              transform: scaleX(0); }
    .navbar .anim:hover span {
      color: #fff;
      mix-blend-mode: difference; }
    .navbar .anim:hover:before {
      -webkit-transform: scaleX(1);
          -ms-transform: scaleX(1);
              transform: scaleX(1); }
  .navbar p {
    color: #383b3e;
    margin: 0;
    padding-right: 10px;
    display: inline-block; }
  .navbar .navbar-toggler-icon {
    background: url("../img/burger-light.png");
    -webkit-background-size: 100% 100%;
            background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 2em;
    height: 2em; }
    .navbar .navbar-toggler-icon:focus {
      outline: none; }
  .navbar .navbar-toggler {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
    .navbar .navbar-toggler:focus {
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s;
      outline: none;
      border: 1px solid #fff; }

.active {
  position: relative;
  overflow: hidden; }
  .active span {
    color: #fff;
    mix-blend-mode: difference; }
  .active:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #383b3e;
    -webkit-animation: animate 7s linear infinite;
            animation: animate 7s linear infinite; }

@-webkit-keyframes animate {
  0% {
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: scaleX(0);
            transform: scaleX(0); }
  50% {
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: scaleX(1);
            transform: scaleX(1); }
  51% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(1);
            transform: scaleX(1); }
  100% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(0);
            transform: scaleX(0); } }

@keyframes animate {
  0% {
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: scaleX(0);
            transform: scaleX(0); }
  50% {
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: scaleX(1);
            transform: scaleX(1); }
  51% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(1);
            transform: scaleX(1); }
  100% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(0);
            transform: scaleX(0); } }

.fixed-nav {
  background: rgba(255, 255, 255, 0.9);
  color: #383b3e;
  padding: 0;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  border-bottom: 1px solid #878c92; }
  .fixed-nav .navbar-toggler-icon {
    background: url("../img/burger-black.png");
    -webkit-background-size: 100% 100%;
            background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 2em;
    height: 2em; }
    .fixed-nav .navbar-toggler-icon:focus {
      outline: none; }
  .fixed-nav .navbar-toggler {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
    .fixed-nav .navbar-toggler:focus {
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s;
      outline: none;
      border: 1px solid #373a3d; }

.navbar-nav {
  text-align: center; }

/* --- Navbar END --- */
/* --- head-wrap START --- */
.head-wrap {
  min-height: 100vh;
  height: 100%;
  background: url("../img/head_bg.jpg");
  -webkit-background-size: cover;
          background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
  position: relative; }
  .head-wrap .animation-head {
    position: absolute;
    width: 100%;
    min-height: 100vh; }
  .head-wrap .container-fluid {
    min-height: 100vh;
    height: 100%;
    background: rgba(0, 0, 0, 0.2); }
    .head-wrap .container-fluid .row {
      min-height: 100vh;
      height: 100%;
      padding-top: 100px; }
      .head-wrap .container-fluid .row .wrap-text-right {
        position: relative;
        padding: 30px 10px 0 10px; }
        .head-wrap .container-fluid .row .wrap-text-right .img-fore-right {
          position: absolute;
          right: -20px;
          bottom: -80px; }
        .head-wrap .container-fluid .row .wrap-text-right ul {
          list-style: none; }
          .head-wrap .container-fluid .row .wrap-text-right ul li {
            position: relative;
            background: #fff;
            margin: 7px 0 10px 10px;
            padding: 2px 0 2px 5px; }
            .head-wrap .container-fluid .row .wrap-text-right ul li i {
              position: absolute;
              color: #73a880;
              left: -25px;
              top: 5px;
              font-size: 20px; }
            .head-wrap .container-fluid .row .wrap-text-right ul li:after {
              position: absolute;
              content: '';
              border-bottom: 1px solid #ececec;
              bottom: -4px;
              left: -10px;
              right: 0; }
            .head-wrap .container-fluid .row .wrap-text-right ul li:nth-child(odd):after {
              -webkit-animation: lianim 7s linear infinite;
                      animation: lianim 7s linear infinite; }
            .head-wrap .container-fluid .row .wrap-text-right ul li:nth-child(even):after {
              -webkit-animation: lianim 5s linear infinite;
                      animation: lianim 5s linear infinite; }
      .head-wrap .container-fluid .row .wrap-text-left {
        position: relative;
        text-align: center;
        background: -webkit-linear-gradient(269.352deg, rgba(255, 255, 255, 0.8) 41.58273%, rgba(255, 255, 255, 0.8) 41.94245%, rgba(255, 255, 255, 0.00736134) 84.7482%, rgba(255, 255, 255, 0) 84.7482%);
        background: -o-linear-gradient(269.352deg, rgba(255, 255, 255, 0.8) 41.58273%, rgba(255, 255, 255, 0.8) 41.94245%, rgba(255, 255, 255, 0.00736134) 84.7482%, rgba(255, 255, 255, 0) 84.7482%);
        background: linear-gradient(180.64753deg, rgba(255, 255, 255, 0.8) 41.58273%, rgba(255, 255, 255, 0.8) 41.94245%, rgba(255, 255, 255, 0.00736134) 84.7482%, rgba(255, 255, 255, 0) 84.7482%);
        min-height: 40vh;
        width: 90%;
        padding: 10px; }
        .head-wrap .container-fluid .row .wrap-text-left h1 {
          font-size: 2rem; }
        .head-wrap .container-fluid .row .wrap-text-left hr {
          background: #fff;
          background-color: #fff;
          border: 1px solid #fff;
          width: 80%; }
        .head-wrap .container-fluid .row .wrap-text-left .img-one-right {
          position: absolute;
          left: -50px;
          top: -50px; }
        .head-wrap .container-fluid .row .wrap-text-left .img-two-right {
          position: absolute;
          left: -350px;
          top: 150px; }
        .head-wrap .container-fluid .row .wrap-text-left .img-three-right {
          position: absolute;
          left: 500px;
          bottom: -180px; }
        .head-wrap .container-fluid .row .wrap-text-left .img-five-right {
          position: absolute;
          left: 300px;
          bottom: -150px; }
        .head-wrap .container-fluid .row .wrap-text-left h3 {
          margin-bottom: 15px;
          mix-blend-mode: multiply; }

/* --- head-wrap END --- */
/* --- About START --- */
.about {
  padding: 30px 0 0 0;
  background: #fff;
  overflow: hidden; }
  .about .bg-about-row {
    background: url("../img/bg-about-row.jpg");
    background-position: center center;
    -webkit-background-size: 100% 100%;
            background-size: 100% 100%;
    background-repeat: no-repeat; }
  .about .list01 {
    padding: 15px; }
  .about .list02 {
    padding: 15px; }
  .about .psm_img {
    width: 300px;
    margin-top: 20px;
    margin-bottom: 20px; }
  .about .after-vl {
    position: relative; }
    .about .after-vl:after {
      position: absolute;
      content: '';
      width: 30px;
      height: 30px;
      background: #ececec;
      top: 50%;
      right: 10vw; }
  .about .header-wrap {
    background: #ececec;
    padding: 15px 5px 15px 5px;
    position: relative; }
    .about .header-wrap h4 {
      text-transform: uppercase;
      display: inline;
      margin: 0; }
    .about .header-wrap i {
      font-size: 16px;
      color: #73a880;
      display: inline;
      padding-right: 10px; }
  .about .header-wrap-after:after {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    background: #fff;
    right: 15vw;
    bottom: -15px; }
  .about .head-hr {
    margin: 0;
    padding: 0;
    background-color: #373a3d;
    width: 65%; }
  .about .header-text-wrap {
    background: #ececec;
    padding: 20px; }
    .about .header-text-wrap p {
      margin: 0; }
    .about .header-text-wrap i {
      margin-top: 5px;
      margin-right: 10px;
      color: #73a880; }
  .about .header-small-wrap {
    padding: 30px 5px 10px 5px; }
    .about .header-small-wrap h5 {
      text-transform: uppercase;
      display: inline;
      margin: 0; }
    .about .header-small-wrap i {
      font-size: 16px;
      color: #73a880;
      display: inline;
      padding-right: 10px; }
  .about .bg-project-wrap {
    background: url("../img/bg-pro01.png");
    background-position: center center;
    -webkit-background-size: 100% 100%;
            background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 0 10px 30px 10px;
    margin-bottom: 15px; }
    .about .bg-project-wrap img {
      width: 80%; }
    .about .bg-project-wrap .slider-about-wrap {
      position: relative;
      margin-bottom: 15px !important; }
      .about .bg-project-wrap .slider-about-wrap .slider-about-cont {
        padding-bottom: 30px; }
        .about .bg-project-wrap .slider-about-wrap .slider-about-cont:focus {
          outline: none; }
      .about .bg-project-wrap .slider-about-wrap .slick-dots .slick-active button:before {
        background: #73a880; }
      .about .bg-project-wrap .slider-about-wrap .slick-dots li {
        margin: 5px; }
        .about .bg-project-wrap .slider-about-wrap .slick-dots li button:before {
          position: absolute;
          content: '';
          border: 2px solid #73a880;
          top: 0;
          right: 0;
          left: 0;
          bottom: 0; }
  .about .about-trimo {
    margin-bottom: 30px; }
    .about .about-trimo img {
      width: 110px;
      height: 110px;
      margin-right: 15px; }
  .about .about-video-wrap {
    -webkit-align-self: flex-end;
        -ms-flex-item-align: end;
            align-self: flex-end;
    margin-bottom: 30px; }
    .about .about-video-wrap .about-video-cont {
      background: url("../img/about_video_01.png");
      background-position: center;
      -webkit-background-size: 100% 100%;
              background-size: 100% 100%;
      background-repeat: no-repeat;
      padding: 30px 60px;
      position: relative; }
      .about .about-video-wrap .about-video-cont a i {
        position: absolute;
        font-size: 50px;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%) scale(1);
            -ms-transform: translate(-50%, -50%) scale(1);
                transform: translate(-50%, -50%) scale(1);
        color: #fff;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s; }
      .about .about-video-wrap .about-video-cont a:hover i {
        -webkit-transform: translate(-50%, -50%) scale(1.2);
            -ms-transform: translate(-50%, -50%) scale(1.2);
                transform: translate(-50%, -50%) scale(1.2); }

.flex-about {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

/* --- About END --- */
/* --- Project start --- */
.project {
  background: #fff;
  padding-bottom: 40px;
  overflow: hidden; }
  .project .bg-for {
    background: url("../img/pr_bg.png");
    -webkit-background-size: 100% 100%;
            background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 30px; }
  .project .header-wrap {
    background: #ececec;
    padding: 15px 5px 15px 5px; }
    .project .header-wrap h4 {
      text-transform: uppercase;
      display: inline;
      margin: 0; }
    .project .header-wrap i {
      font-size: 16px;
      color: #73a880;
      display: inline;
      padding-right: 10px; }
  .project .head-hr {
    margin: 0;
    padding: 0;
    background-color: #373a3d;
    width: 70%; }
  .project .med-cont {
    position: relative; }
    .project .med-cont .project-descr {
      color: #fff;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 15px 10px;
      background: rgba(0, 0, 0, 0.7); }
  .project .header-small-wrap {
    padding: 30px 5px 30px 5px; }
    .project .header-small-wrap h5 {
      text-transform: uppercase;
      display: inline;
      margin: 0; }
    .project .header-small-wrap i {
      font-size: 16px;
      color: #73a880;
      display: inline;
      padding-right: 10px; }
  .project .small-wrap {
    position: relative;
    z-index: 2;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
    .project .small-wrap .slick-current {
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s;
      border-left: 2px solid #373a3d !important; }
      .project .small-wrap .slick-current img {
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
        border: 3px solid #ececec !important;
        opacity: 1 !important; }
    .project .small-wrap .small-cont {
      padding: 10px;
      z-index: 2;
      border-left: 2px solid #fff; }
      .project .small-wrap .small-cont:focus {
        outline: none; }
      .project .small-wrap .small-cont img {
        cursor: pointer;
        width: 50% !important;
        border: 3px solid #fff;
        opacity: 0.6; }
    .project .small-wrap .slick-next {
      left: 47%;
      top: -3%;
      width: 30px;
      height: 30px; }
      .project .small-wrap .slick-next:before {
        position: absolute;
        color: #000;
        content: '';
        border-top: 2px solid #373a3d;
        border-right: 2px solid #373a3d;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
                transform: rotate(-45deg); }
    .project .small-wrap .slick-prev {
      left: 47%;
      bottom: -40px;
      top: 103%;
      width: 30px;
      height: 30px; }
      .project .small-wrap .slick-prev:before {
        position: absolute;
        color: #000;
        content: '';
        border-bottom: 2px solid #373a3d;
        border-right: 2px solid #373a3d;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        -webkit-transform: rotate(44deg);
            -ms-transform: rotate(44deg);
                transform: rotate(44deg); }
  .project .slick-dots {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
    top: 60%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    right: 25px;
    z-index: 2;
    width: 50px; }
    .project .slick-dots .slick-active button:before {
      background: #73a880; }
    .project .slick-dots li {
      margin: 5px; }
      .project .slick-dots li button:before {
        position: absolute;
        content: '';
        border: 2px solid #73a880;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0; }
  .project .slick-slider {
    margin-bottom: 0 !important; }
  .project .arrow-pr {
    position: absolute;
    left: 2vw;
    bottom: -2.4vh; }

/* --- Project END --- */
/* --- adwantages START --- */
.adwantages {
  padding: 30px 0;
  overflow: hidden;
  background: url("../img/adw_bg.jpg");
  -webkit-background-size: 100% 100%;
          background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative; }
  .adwantages .bg-cont {
    margin-top: 29px;
    min-height: 50vh;
    background: url("../img/bgadw.jpg");
    -webkit-background-size: cover;
            background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    margin-bottom: 30px; }
    .adwantages .bg-cont .head-hr {
      border-bottom: 1px solid #383b3e;
      position: absolute;
      right: 0;
      top: -2px; }
    .adwantages .bg-cont .header-bg-adw {
      bottom: -40px;
      left: 20%;
      position: absolute;
      background: #ececec;
      display: block;
      margin-right: auto;
      margin-left: auto;
      padding: 20px;
      width: 60%;
      text-align: center;
      border-bottom: 2px solid #383b3e; }
      .adwantages .bg-cont .header-bg-adw i {
        font-size: 16px;
        color: #73a880; }
  .adwantages .header-abs {
    position: absolute;
    top: 0;
    left: 0;
    right: 0; }
  .adwantages .header-wrap {
    background: #ececec;
    padding: 15px 5px 15px 5px;
    position: relative;
    z-index: 99; }
    .adwantages .header-wrap h4 {
      text-transform: uppercase;
      display: inline;
      margin: 0; }
    .adwantages .header-wrap i {
      font-size: 16px;
      color: #73a880;
      display: inline;
      padding-right: 10px; }
  .adwantages .header-wrap-after:after {
    content: '';
    position: absolute;
    width: 15vw;
    height: 30px;
    background: #ececec;
    left: 5vw;
    bottom: -15px; }
  .adwantages .head-hr {
    margin: 0;
    padding: 0;
    background-color: #373a3d;
    width: 75%;
    z-index: 999; }
  .adwantages .adw-text-wrap {
    padding: 30px; }
    .adwantages .adw-text-wrap ul {
      list-style: none; }
  .adwantages .row ul {
    margin-top: 50px;
    list-style: none;
    padding-top: 15px;
    padding-bottom: 15px; }
    .adwantages .row ul li {
      font-size: 18px; }
  .adwantages .row .border-left {
    border-left: 2px solid #383b3e !important; }

/* --- adwantages END --- */
/* --- about-new start --- */
.about-new {
  overflow: hidden;
  position: relative;
  padding: 30px 0;
  height: -webkit-calc(100vh + 100px);
  height: calc(100vh + 100px);
  background: url("../img/about_bg.jpg");
  -webkit-background-size: cover;
          background-size: cover;
  background-repeat: no-repeat;
  background-position: scroll; }
  .about-new .col-12 img {
    background: #fff;
    padding: 5px;
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75);
            box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75); }
  .about-new .first-h4 {
    margin-top: 50px; }
  .about-new .two-h4 {
    margin-top: 180px; }

/* --- about-new end --- */
@-webkit-keyframes lianim {
  0% {
    left: -20px; }
  50% {
    left: 10px; }
  100% {
    left: -20px; } }
@keyframes lianim {
  0% {
    left: -20px; }
  50% {
    left: 10px; }
  100% {
    left: -20px; } }

/* -- Decoration START ---*/
.ml10 {
  margin-left: 10px !important; }

.ml20 {
  margin-left: 50px !important; }

.ml30 {
  margin-left: 90px !important; }

.ml40 {
  margin-left: 130px !important; }

.ml50 {
  margin-left: 170px !important; }

.left-p {
  padding-left: 10px !important; }

/* -- Decoration END ---*/
/*--- Buttons START ---*/
.header-button {
  color: #fff;
  background: #ececec;
  padding: 10px 20px;
  margin-top: 10px;
  text-transform: uppercase;
  border-bottom: 4px solid #b3b3b3;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(179, 179, 179, 0.5);
          box-shadow: 0px 2px 2px 0px rgba(179, 179, 179, 0.5);
  position: relative;
  overflow: hidden;
  width: 200px; }
  .header-button span {
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    -webkit-transform-origin: bottom;
        -ms-transform-origin: bottom;
            transform-origin: bottom;
    mix-blend-mode: difference; }
  .header-button:before {
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #b3b3b3;
    -webkit-transform-origin: bottom;
        -ms-transform-origin: bottom;
            transform-origin: bottom;
    -webkit-transform: scaleY(0);
        -ms-transform: scaleY(0);
            transform: scaleY(0); }
  .header-button:hover span {
    color: #fff;
    mix-blend-mode: difference; }
  .header-button:hover:before {
    -webkit-transform: scaleY(1);
        -ms-transform: scaleY(1);
            transform: scaleY(1); }

.more-button {
  display: block;
  background: #ececec;
  width: 150px;
  text-transform: uppercase;
  text-align: center;
  padding: 5px;
  position: relative;
  border-bottom: 2px solid #73a880;
  border-right: 2px solid #73a880;
  -webkit-box-shadow: 2px 2px 2px 0px rgba(115, 168, 128, 0.7);
          box-shadow: 2px 2px 2px 0px rgba(115, 168, 128, 0.7);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
  .more-button:hover {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    background: #b3b3b3;
    color: #fff; }

/*--- Buttons END ---*/
