body {
  background: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 16px;
  color: #111;
  margin: 0;
  padding: 0;
  position: relative;
  line-height: 1.6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body a {
  text-decoration: none;
  color: #111;
}

body a:hover {
  text-decoration: none;
  color: #111;
}

button {
  outline: none;
}

button:focus {
  outline: none;
}

.hidden {
  display: none;
}

section {
  padding: 50px 0;
  overflow: hidden;
}

.done {
  min-height: 100vh;
}

.row-eq-height {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

/* --- Navbar START ------------------------------------------------*/
.navbar {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background: #f8f8f8;
  -webkit-box-shadow: 0 0 8px #ddd;
          box-shadow: 0 0 8px #ddd;
}

.navbar .navbar-brand {
  padding: 0;
}

.navbar img {
  width: 40px;
  margin: 0;
  padding: 0;
}

.navbar .anim {
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
}

.navbar .anim span {
  font-weight: 800;
  color: #111;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform-origin: left;
          transform-origin: left;
}

.navbar .anim:before {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-bottom: 2px solid #ff4c3b;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.navbar .anim:hover span {
  color: #ff4c3b;
}

.navbar .anim:hover:before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.navbar p {
  font-size: 24px;
  color: #ff4c3b;
  margin: 0;
  padding-right: 10px;
  display: inline-block;
}

.navbar .navbar-toggler-icon {
  background: url("../img/burger-light.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 2em;
  height: 2em;
}

.navbar .navbar-toggler-icon:focus {
  outline: none;
}

.navbar .navbar-toggler {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.navbar .navbar-toggler:focus {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  outline: none;
  border: 1px solid #fff;
}

.navbar .dropdown a:after {
  color: #111;
}

.navbar .dropdown a span {
  font-weight: 800;
  text-transform: uppercase;
  color: #111;
}

.active {
  position: relative;
  overflow: hidden;
}

.active span {
  color: #ff4c3b !important;
}

.active:before {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-bottom: 2px solid #111;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-animation: animate 7s linear infinite;
          animation: animate 7s linear infinite;
}

@-webkit-keyframes animate {
  0% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  50% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  51% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  100% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
}

@keyframes animate {
  0% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  50% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  51% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  100% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
}

.fixed-nav {
  background: #f8f8f8;
  -webkit-box-shadow: 0 0 8px #ddd;
          box-shadow: 0 0 8px #ddd;
  color: #999;
  padding: .4rem .4rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.fixed-nav .anim span {
  color: #111;
}

.fixed-nav p {
  color: #111;
}

.fixed-nav .navbar-toggler-icon {
  background: url("../img/burger-black.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 2em;
  height: 2em;
}

.fixed-nav .navbar-toggler-icon:focus {
  outline: none;
}

.fixed-nav .navbar-toggler {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.fixed-nav .navbar-toggler:focus {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  outline: none;
  border: 1px solid #111;
}

.navbar-nav {
  text-align: center;
}

/* --- Navbar END ------------------------------------------------*/
/* --- Header start------------------------------------------------*/
.firstScroll {
  padding-bottom: 90px;
  background: url("../img/mainBg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.firstScroll .titleCont {
  border: 5px solid #fff;
  margin: 5px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
  color: #fff;
  padding: 20px 10px;
  background: rgba(255, 255, 255, 0.5);
  margin-bottom: 30px;
}

.firstScroll .titleCont h1, .firstScroll .titleCont h2 {
  font-weight: 700;
  text-shadow: 2px 2px 2px #222;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.firstScroll .titleCont h1 {
  font-size: 3rem;
}

.firstScroll .titleCont h2 {
  font-size: 2.5rem;
}

.firstScroll .titleCont hr {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
  background-color: #fff;
  border: 2px solid #fff;
  width: 60%;
}

.firstScroll .triggerCont {
  width: 100%;
  display: block;
}

.firstScroll .triggerCont ul {
  padding: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.firstScroll .triggerCont ul li {
  text-align: center;
  -webkit-transition: .3s;
  transition: .3s;
  position: relative;
  border: 5px solid #fff;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 20px;
  padding: 10px;
  margin: 5px;
  background: rgba(255, 255, 255, 0.7);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.6);
          box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.6);
  color: #111;
  list-style: none;
}

.firstScroll .triggerCont ul li:hover {
  -webkit-transition: .3s;
  transition: .3s;
  background: #fff;
  cursor: pointer;
}

.firstScroll .btnCont {
  display: block;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: rgba(255, 255, 255, 0.7);
  padding: 10px;
}

.firstScroll .btnCont .btnWrap {
  margin: 5px;
  text-align: center;
}

/* --- Header END ------------------------------------------------*/
/* --- About Start ------------------------------------------------*/
.about {
  overflow: visible;
  padding: 0 0 50px 0;
}

.about .aboutCont .bgAbout {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
  padding-bottom: 10px;
  padding-top: 10px;
  margin-top: -60px;
  background: #f8f8f8;
}

.about .aboutCont .bgAbout .titleCont {
  background: #fff;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.about .aboutCont .bgAbout .titleCont h2 {
  border-top: 3px solid #ff4c3b;
  border-bottom: 3px solid #ff4c3b;
  display: inline-block;
  padding: 10px;
  margin: 10px 0;
}

.about .aboutCont .bgAbout .imgWrap img {
  max-width: 100%;
  height: auto;
}

.about .aboutCont .bgAbout .txtCont {
  padding: 10px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about .triggersCont {
  margin-top: 30px;
}

.about .triggersCont .triggerWrap {
  -webkit-transition: .3s;
  transition: .3s;
  background: #e6e6e6;
  height: 100%;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about .triggersCont .triggerWrap .imgWrap {
  background: #e6e6e6;
}

.about .triggersCont .triggerWrap .imgWrap img {
  max-width: 100%;
  height: auto;
}

.about .triggersCont .triggerWrap .txtWrap {
  -webkit-transition: .3s;
  transition: .3s;
  margin-top: 10px;
  background: #fff;
  height: 100%;
  padding: 10px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about .triggersCont .triggerWrap .txtWrap p {
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  font-weight: 700;
}

.about .triggersCont .triggerWrap:hover {
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.about .triggersCont .triggerWrap:hover .txtWrap {
  -webkit-transition: .3s;
  transition: .3s;
  background: #e6e6e6;
}

/* --- About END ------------------------------------------------*/
/* --- product Start ------------------------------------------------*/
.prod {
  background: #e6e6e6;
  text-align: center;
}

.prod .titleHead {
  margin-bottom: 30px;
}

.prod .prodCont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  -webkit-transition: .3s;
  transition: .3s;
  background: #fff;
  padding: 20px 10px;
  border: 1px solid #111;
}

.prod .prodCont .titleWrap h3 {
  text-transform: uppercase;
}

.prod .prodCont .imgWrap {
  margin: 10px 10px 30px 10px;
}

.prod .prodCont .imgWrap img {
  -webkit-box-shadow: 0 0 10px rgba(17, 17, 17, 0.5);
          box-shadow: 0 0 10px rgba(17, 17, 17, 0.5);
  max-width: 100%;
  height: auto;
}

.prod .prodCont:hover {
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.15);
}

/* --- product END ------------------------------------------------*/
/* --- forAll Start ------------------------------------------------*/
.forAll {
  text-align: center;
}

.forAll .container {
  position: relative;
}

.forAll .container .square {
  position: absolute;
  top: 30px;
  left: 50px;
  bottom: 30px;
  right: 50px;
  border: 5px solid #e6e6e6;
  z-index: 1;
}

.forAll .container .forCont {
  position: relative;
  padding: 15px;
}

.forAll .container .forCont:after {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  border: 5px solid #e6e6e6;
}

.forAll .container .forCont .imgWrap img {
  max-width: 100%;
  height: auto;
}

.forAll .container .forCont .txtWrap {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  background: rgba(17, 17, 17, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.forAll .container .forCont .txtWrap h4 {
  color: #fff;
  text-transform: uppercase;
}

/* --- forAll END ------------------------------------------------*/
/* --- dontForm Start ------------------------------------------------*/
.dontForm {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(100%, rgba(17, 17, 17, 0.7)), to(rgba(17, 17, 17, 0.7))), url("../img/dontBg.jpg");
  background: linear-gradient(rgba(17, 17, 17, 0.7) 100%, rgba(17, 17, 17, 0.7) 100%), url("../img/dontBg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.dontForm .txtCont {
  text-align: center;
  background: rgba(255, 255, 255, 0.8);
  padding: 10px;
  position: relative;
}

.dontForm .txtCont:after {
  content: '';
  position: absolute;
  top: -5%;
  left: -5%;
  width: 70%;
  height: 110%;
  border-left: 5px solid #ff4c3b;
  border-top: 5px solid #ff4c3b;
  border-bottom: 5px solid #ff4c3b;
}

.dontForm .txtCont hr {
  background-color: #ff4c3b;
  border: 1px solid #ff4c3b;
  width: 60%;
}

.dontForm .txtCont h3 {
  text-transform: uppercase;
}

.dontForm .txtCont p {
  font-weight: 700;
  font-style: italic;
  font-size: 18px;
}

/* --- dontForm END ------------------------------------------------*/
/* --- advantage Start ------------------------------------------------*/
.advantage img {
  max-width: 100%;
  height: auto;
}

.advantage .advCont .advWrap {
  margin: 10px;
  border: 5px solid #e6e6e6;
  text-align: center;
  padding: 10px;
  position: relative;
  overflow: hidden;
}

.advantage .advCont .advWrap:hover .lineOne {
  height: 100%;
  -webkit-transition: .5s;
  transition: .5s;
}

.advantage .advCont .advWrap:hover .lineTwo {
  height: 100%;
  -webkit-transition: .5s;
  transition: .5s;
}

.advantage .advCont .advWrap:hover .lineThree {
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.advantage .advCont .advWrap .lineOne {
  position: absolute;
  width: 100%;
  height: 30%;
  top: 0;
  left: 0;
  background: #e6e6e6;
  z-index: -2;
  -webkit-transition: .5s;
  transition: .5s;
}

.advantage .advCont .advWrap .lineTwo {
  position: absolute;
  width: 100%;
  height: 35%;
  bottom: 0;
  left: 0;
  background: #e6e6e6;
  z-index: -2;
  -webkit-transition: .5s;
  transition: .5s;
}

.advantage .advCont .advWrap .lineThree {
  position: absolute;
  width: 50%;
  height: 110%;
  left: 25%;
  top: -5%;
  background: #fff;
  -webkit-transition: .5s;
  transition: .5s;
  z-index: -1;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.advantage .advCont .advWrap .imgWrap img {
  -webkit-box-shadow: 0 0 10px rgba(17, 17, 17, 0.5);
          box-shadow: 0 0 10px rgba(17, 17, 17, 0.5);
  margin-bottom: 20px;
}

.advantage .advCont .advWrap .txtWrap h4 {
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.advantage .mainImgWrap {
  border: 5px solid #e6e6e6;
  -webkit-box-shadow: 0 0 10px rgba(17, 17, 17, 0.5);
          box-shadow: 0 0 10px rgba(17, 17, 17, 0.5);
}

/* --- advantage END ------------------------------------------------*/
/* --- steps Start ------------------------------------------------*/
.steps {
  background: #e6e6e6;
  text-align: center;
}

.steps .titleHead {
  margin-bottom: 100px;
}

.steps .stersCont {
  background: #fff;
  height: 100%;
  position: relative;
  margin-bottom: 30px;
  border: 3px solid #fff;
  -webkit-transition: .3s;
  transition: .3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.steps .stersCont:hover {
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-box-shadow: 0 0 10px #111;
          box-shadow: 0 0 10px #111;
}

.steps .stersCont .numberWrap {
  position: absolute;
  top: -35%;
  left: 5%;
}

.steps .stersCont .numberWrap span {
  font-size: 150px;
  color: #fff;
  text-shadow: 2px 2px 2px #222;
}

.steps .stersCont .imgWrap {
  padding: 10px;
}

.steps .stersCont .imgWrap img {
  max-width: 100%;
  height: auto;
  border: 3px solid #111;
}

.steps .stersCont .descWrap {
  height: 100%;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.steps .formCont {
  background: #fff;
  -webkit-box-shadow: 0 0 10px rgba(17, 17, 17, 0.2);
          box-shadow: 0 0 10px rgba(17, 17, 17, 0.2);
  padding: 40px 20px;
  position: relative;
  z-index: 1;
}

.steps .formCont:after {
  content: '';
  position: absolute;
  top: 7px;
  left: 7px;
  width: 40%;
  height: 50%;
  border-top: 3px solid #ff4c3b;
  border-left: 3px solid #ff4c3b;
  z-index: -1;
}

.steps .formCont:before {
  content: '';
  position: absolute;
  bottom: 7px;
  right: 7px;
  width: 40%;
  height: 50%;
  border-bottom: 3px solid #ff4c3b;
  border-right: 3px solid #ff4c3b;
  z-index: -1;
}

.steps .formCont .titleWrap {
  padding: 10px;
  margin-bottom: 20px;
}

.steps .formCont .titleWrap h3 {
  margin: 0;
  padding: 0;
}

.steps .formCont .openFormX {
  z-index: 2;
}

.steps .formCont .openFormX input {
  max-width: 100%;
  padding: 10px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
  border: 3px solid #111;
}

.steps .formCont .openFormX .mainBtn {
  max-width: 100%;
  width: 300px;
}

/* --- steps END ------------------------------------------------*/
/* --- sert END ------------------------------------------------*/
.sert {
  text-align: center;
  padding: 50px;
  background: #f8f8f8;
}

.sert .sertCont {
  outline: none;
  padding: 10px;
}

.sert .sertCont .sertWrap {
  padding: 10px;
  outline: none;
}

.sert .sertCont .sertWrap a {
  outline: none;
}

.sert .sertCont .sertWrap img {
  max-width: 100%;
  height: auto;
}

/* --- sert END ------------------------------------------------*/
/* --- reviews Start ------------------------------------------------*/
.reviews {
  padding: 50px;
  background: #e6e6e6;
}

.reviews .reviewsSlider .reviewsCont {
  outline: none;
  border: 2px solid rgba(255, 76, 59, 0.5);
  margin: 10px;
  position: relative;
}

.reviews .reviewsSlider .reviewsCont .lineCont {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255, 76, 59, 0.5);
  width: 100%;
  height: 40%;
  z-index: -1;
}

.reviews .reviewsSlider .reviewsCont .nameWrap {
  padding: 10px;
}

.reviews .reviewsSlider .reviewsCont .nameWrap h3 {
  margin: 0;
  padding: 0;
}

.reviews .reviewsSlider .reviewsCont .imgWrap {
  padding: 10px;
}

.reviews .reviewsSlider .reviewsCont .imgWrap img {
  -webkit-box-shadow: 0 0 10px rgba(17, 17, 17, 0.5);
          box-shadow: 0 0 10px rgba(17, 17, 17, 0.5);
  max-width: 100%;
  height: auto;
}

.reviews .reviewsSlider .reviewsCont .descWrap {
  padding: 10px;
}

.reviews .reviewsSlider .reviewsCont .descWrap p {
  text-indent: 20px;
  margin: 0;
  padding: 0;
}

/* --- reviews END ------------------------------------------------*/
/* --- contacts start ------------------------------------------------*/
.contacts {
  background: rgba(17, 17, 17, 0.2);
}

.contacts .contactCont {
  display: inline-block;
  text-align: left;
}

.contacts .contactCont hr {
  border: 1px solid #ff4c3b;
  background-color: #ff4c3b;
  width: 40%;
  margin-left: 0;
  margin-right: auto;
}

.contacts .contactCont .contactWrap {
  padding-left: 20px;
}

.contacts .contactCont .contactWrap a {
  margin-left: 20px;
  display: block;
}

.contacts .contactCont .contactWrap a i {
  color: #ff4c3b;
  font-size: 20px;
  margin-right: 5px;
}

.contacts .contactCont .socIcon a {
  display: inline;
}

.contacts .contactCont .socIcon a i {
  font-size: 40px;
}

.contacts .contactCont .socIcon a:nth-child(1) i {
  color: #3b5998;
}

.contacts .contactCont .socIcon a:nth-child(2) i {
  color: #833AB4;
}

.contacts iframe {
  width: 100%;
}

/* --- contacts END ------------------------------------------------*/
/* --- Button Start ------------------------------------------------*/
.mainBtn {
  -webkit-transition: .3s;
  transition: .3s;
  overflow: hidden;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
  border: none;
  background-color: #ff4c3b;
  padding: 10px;
  width: 250px;
  max-width: 100%;
  display: block;
  text-align: center;
  position: relative;
}

.mainBtn:after {
  position: absolute;
  content: '';
  bottom: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background-color: #ff4c3b;
  -webkit-transition: .5s;
  transition: .5s;
}

.mainBtn:before {
  position: absolute;
  content: '';
  top: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background-color: #ff4c3b;
  -webkit-transition: .5s;
  transition: .5s;
}

.mainBtn:hover {
  -webkit-transition: .3s;
  transition: .3s;
  background: #fff;
  color: #111;
}

.mainBtn:hover:after {
  -webkit-transition: .5s;
  transition: .5s;
  left: 0;
}

.mainBtn:hover:before {
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-transition-delay: .25s;
          transition-delay: .25s;
  right: 0;
}

/* --- Button END ------------------------------------------------*/
/* --- Form START ------------------------------------------------*/
.openForm {
  position: relative;
  width: 500px;
  max-width: 100%;
  background: rgba(255, 255, 255, 0.8);
  padding: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.openForm hr {
  background-color: #ff4c3b;
  border: 1px solid #ff4c3b;
  width: 60%;
}

.openForm h3 span {
  text-transform: uppercase;
  color: #ff4c3b;
}

.openForm input {
  width: 100%;
  padding: 10px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
  border: 3px solid #111;
}

.openForm input:nth-child(3) {
  border-left: 30px solid #111;
}

.openForm input:nth-child(4) {
  border-right: 30px solid #111;
}

.openForm ::-webkit-input-placeholder {
  opacity: .7;
  color: #111;
  font-weight: 700;
}

.openForm :-ms-input-placeholder {
  opacity: .7;
  color: #111;
  font-weight: 700;
}

.openForm ::-ms-input-placeholder {
  opacity: .7;
  color: #111;
  font-weight: 700;
}

.openForm ::placeholder {
  opacity: .7;
  color: #111;
  font-weight: 700;
}

/* --- Form END ------------------------------------------------*/
/* --- Other START ------------------------------------------------*/
.titleHead h2 {
  text-transform: uppercase;
  border-top: 3px solid #ff4c3b;
  border-bottom: 3px solid #ff4c3b;
  display: inline-block;
  padding: 10px 20px;
  margin: 10px 0;
}

.slick-dots li button:before {
  font-size: 15px;
  color: #ff4c3b !important;
}

.slick-prev {
  left: -35px;
  width: 40px;
  height: 40px;
  z-index: 99;
}

.slick-prev:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-top: 5px solid #ff4c3b;
  border-right: 5px solid #ff4c3b;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.slick-next {
  right: -35px;
  width: 40px;
  height: 40px;
}

.slick-next:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-top: 5px solid #ff4c3b;
  border-right: 5px solid #ff4c3b;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slick-track .slick-slide {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
/*# sourceMappingURL=main.css.map */