@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat-Bold.woff");
  src: url("../fonts/Montserrat-Bold.woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat-Light.woff");
  src: url("../fonts/Montserrat-Light.woff2");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat-Medium.woff");
  src: url("../fonts/Montserrat-Medium.woff2");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat-Regular.woff");
  src: url("../fonts/Montserrat-Regular.woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #424242;
  margin: 0;
  padding: 0;
  position: relative;
  line-height: 1.6;
}

body a {
  text-decoration: none;
  color: #424242;
}

body a:hover {
  text-decoration: none;
  color: #424242;
}

button {
  outline: none;
}

button:focus {
  outline: none;
}

.hidden {
  display: none;
}

section {
  padding: 50px 0;
  overflow: hidden;
}

.navBar__up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-shadow: 0 1px 15px rgba(0, 0, 0, 0.38);
          box-shadow: 0 1px 15px rgba(0, 0, 0, 0.38);
  padding: 10px 20px;
  position: relative;
}

.navBar__up-logo {
  position: absolute;
  left: 20px;
  top: 7px;
}

.navBar__up-logo a {
  font-weight: bold;
  font-size: 22px;
}

.navBar__up-logo a span {
  background: #1665c1;
  color: #fff;
  text-transform: uppercase;
  padding: 0 5px;
  margin-left: 2px;
}

.navBar__up-list {
  margin-right: auto;
  margin-left: auto;
}

.navBar__up-list ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.navBar__up-list ul li {
  margin: 5px 10px;
  display: inline;
}

.navBar__up-list ul li a {
  padding: 5px;
  -webkit-transition: .3s;
  transition: .3s;
  font-size: 18px;
}

.navBar__up-list ul li a:hover {
  background: #1665c1;
  color: #fff;
  -webkit-transition: .3s;
  transition: .3s;
}

.navBar__down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 10px 20px;
  background: #1665c1;
}

.navBar__down-list {
  margin-right: auto;
  margin-left: auto;
}

.navBar__down-list ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.navBar__down-list ul li {
  margin: 5px 10px;
  display: inline;
}

.navBar__down-list ul li a {
  padding: 5px 10px;
  -webkit-transition: .3s;
  transition: .3s;
  font-size: 18px;
  color: #fff;
}

.navBar__down-list ul li a:hover {
  background: #fff;
  color: #1665c1;
  -webkit-transition: .3s;
  transition: .3s;
}

.navBar__down-list ul li:first-child a {
  background: #FFCA78;
  color: #1665c1;
}

@media (max-width: 992px) {
  .navBar__up {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .navBar__up-logo {
    margin: 0 0 5px 0;
    position: relative;
    left: inherit;
    top: inherit;
  }
  .navBar__up-list {
    text-align: center;
  }
  .navBar__up-list ul li {
    margin: 5px;
  }
  .navBar__up-list ul li a {
    font-size: 16px;
  }
  .navBar__down-list ul {
    text-align: center;
  }
  .navBar__down-list ul li {
    margin: 5px;
  }
  .navBar__down-list ul li a {
    font-size: 16px;
  }
}

.news {
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.news__cont {
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
  text-align: center;
  padding: 10px;
  margin-bottom: 20px;
}

.news__cont hr {
  margin-top: 20px;
  border: 1px solid #424242;
  width: 70%;
}

.news__cont img {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.news__imgSellMobile {
  display: none;
}

.news__imgSell {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  position: relative;
}

.news__imgSell-wrap {
  position: fixed;
  top: 110px;
  right: 10px;
  width: 20%;
  text-align: center;
  -webkit-box-shadow: 0 1px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 15px rgba(0, 0, 0, 0.2);
}

.news__imgSell-wrap img {
  width: 100%;
}

.news__imgSell-wrap h4 {
  font-size: 20px;
  padding: 5px;
}

@media (max-width: 992px) {
  .news {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 30px 10px;
  }
  .news__imgSellMobile {
    display: inline;
    text-align: center;
    -webkit-box-shadow: 0 1px 15px rgba(0, 0, 0, 0.2);
            box-shadow: 0 1px 15px rgba(0, 0, 0, 0.2);
  }
  .news__imgSellMobile img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
  }
  .news__imgSellMobile h4 {
    padding: 5px;
  }
  .news__cont {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .news__imgSell {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */