@charset "UTF-8";
body {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 16px;
  color: #111;
  margin: 0;
  padding: 0;
  position: relative;
  line-height: 1.6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body a {
  text-decoration: none;
  color: #111;
}

body a:hover {
  text-decoration: none;
  color: #111;
}

button {
  outline: none;
}

button:focus {
  outline: none;
}

.hidden {
  display: none;
}

section {
  padding: 50px 0;
  overflow: hidden;
}

.done {
  min-height: 100vh;
}

.row-eq-height {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

/* --- Navbar START ------------------------------------------------*/
.navbar {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: rgba(255, 255, 255, 0.9);
}

.navbar .dropdown .dropdown-toggle:after {
  color: #111;
}

.navbar .dropdown .dropdown-toggle span {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #111;
}

.navbar .dropdown .dropdown-toggle:hover span {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #c6aa28;
}

.navbar .navbar-brand {
  padding: 0;
}

.navbar img {
  width: 40px;
  margin: 0;
  padding: 0;
}

.navbar .anim {
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
}

.navbar .anim span {
  color: #111;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform-origin: left;
          transform-origin: left;
}

.navbar .anim:before {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-bottom: 2px solid #c6aa28;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.navbar .anim:hover span {
  color: #c6aa28;
}

.navbar .anim:hover:before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.navbar p {
  font-size: 24px;
  color: #c6aa28;
  margin: 0;
  padding-right: 10px;
  display: inline-block;
}

.navbar .navbar-toggler-icon {
  background: url("../img/burger-light.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 2em;
  height: 2em;
}

.navbar .navbar-toggler-icon:focus {
  outline: none;
}

.navbar .navbar-toggler {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.navbar .navbar-toggler:focus {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  outline: none;
  border: 1px solid #fff;
}

.active {
  position: relative;
  overflow: hidden;
}

.active span {
  color: #c6aa28 !important;
}

.active:before {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-bottom: 2px solid #111;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-animation: animate 7s linear infinite;
          animation: animate 7s linear infinite;
}

@-webkit-keyframes animate {
  0% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  50% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  51% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  100% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
}

@keyframes animate {
  0% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  50% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  51% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  100% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
}

.fixed-nav {
  background: rgba(255, 255, 255, 0.9);
  color: #55595c;
  padding: .4rem .4rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.5);
}

.fixed-nav .dropdown .dropdown-toggle:after {
  color: #111;
}

.fixed-nav .dropdown .dropdown-toggle span {
  color: #111;
}

.fixed-nav .anim span {
  color: #111;
}

.fixed-nav p {
  color: #111;
}

.fixed-nav .navbar-toggler-icon {
  background: url("../img/burger-black.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 2em;
  height: 2em;
}

.fixed-nav .navbar-toggler-icon:focus {
  outline: none;
}

.fixed-nav .navbar-toggler {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.fixed-nav .navbar-toggler:focus {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  outline: none;
  border: 1px solid #111;
}

.navbar-nav {
  text-align: center;
}

.dropdown-item.active, .dropdown-item:active {
  color: #c6aa28;
  text-decoration: none;
  background-color: #fff;
}

/* --- Navbar END ------------------------------------------------*/
/* --- Header start------------------------------------------------*/
.first {
  padding-top: 75px;
  min-height: 100vh;
  background: url("../img/mainbg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.first .headerWrap {
  -webkit-box-shadow: 0px 0px 5px 1px rgba(198, 170, 40, 0.75);
          box-shadow: 0px 0px 5px 1px rgba(198, 170, 40, 0.75);
  text-align: center;
  background: rgba(17, 17, 17, 0.8);
  padding: 30px 5px;
}

.first .headerWrap hr {
  color: #c6aa28;
  background-color: #c6aa28;
  width: 60%;
  border: 1px solid #c6aa28;
}

.first .headerWrap h1 {
  text-transform: uppercase;
  color: #fff;
}

.first .headerWrap h3 {
  color: #fff;
  text-transform: uppercase;
}

.first .trigerWrap {
  text-align: center;
  text-shadow: 2px 2px 2px #111;
  color: #fff;
}

.first .trigerWrap ul {
  text-transform: uppercase;
  list-style: none;
  padding: 0;
}

.first .trigerWrap ul li {
  padding: 5px 10px;
  display: inline-block;
  font-size: 18px;
}

.first .trigerWrap .borderRight {
  border-right: 3px solid #c6aa28;
}

/* --- Header END ------------------------------------------------*/
/* --- About Start ------------------------------------------------*/
.about img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-shadow: 3px 3px 1px 0 rgba(17, 17, 17, 0.4);
          box-shadow: 3px 3px 1px 0 rgba(17, 17, 17, 0.4);
}

.about p {
  margin: 0;
}

/* --- About END ------------------------------------------------*/
/* --- product Start ------------------------------------------------*/
.product {
  background: #fafafa;
}

.product .imgWrap {
  position: relative;
}

.product .imgWrap:before {
  content: '';
  position: absolute;
  top: 10px;
  left: 10px;
  width: 100%;
  height: 100%;
  border: 3px solid #c6aa28;
}

.product .imgWrap .prodName {
  padding: 10px;
  position: absolute;
  right: 30px;
  bottom: 30px;
  color: #c6aa28;
  text-transform: uppercase;
  background: rgba(17, 17, 17, 0.6);
}

.product .imgWrap .prodName h2 {
  font-size: 3rem;
}

.product .textWrap {
  text-align: center;
}

.product .textWrap p {
  text-align: left;
}

.product .mainButton:before {
  border: 2px solid #c6aa28;
}

/* --- product END ------------------------------------------------*/
/* --- advantage Start ------------------------------------------------*/
.advantage .advWrap p {
  font-style: italic;
}

.advantage .advWrap i {
  font-size: 30px;
  margin-bottom: 10px;
}

.advantage .advWrap hr {
  width: 40%;
  margin: 10px auto 10px 0;
}

.advantage .advWrap hr:before {
  display: none;
}

/* --- advantage END ------------------------------------------------*/
/* --- reviews Start ------------------------------------------------*/
.reviews {
  background: #e6e6e6;
}

.reviews .rewWrap {
  background: #fff;
  padding: 15px 15px 15px 30px;
  position: relative;
}

.reviews .rewWrap:before {
  position: absolute;
  content: '“';
  top: -45px;
  left: -10px;
  font-size: 6rem;
  color: #c6aa28;
}

.reviews .rewWrap h5 {
  text-align: right;
}

/* --- reviews END ------------------------------------------------*/
/* --- contacts Start ------------------------------------------------*/
.contacts ul {
  margin-right: auto;
  margin-left: auto;
  display: inline-block;
  padding: 0;
  list-style: none;
}

.contacts ul li {
  font-size: 20px;
}

.contacts ul li i {
  font-size: 22px;
  margin-right: 10px;
  color: #c6aa28;
}

.contacts ul li .social {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 35px;
}

.contacts ul li .social:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #e6e6e6;
}

.contacts iframe {
  width: 100%;
  height: 250px;
}

/* --- contacts END ------------------------------------------------*/
/* --- Button Start ------------------------------------------------*/
.mainButton {
  display: inline-block;
  background: rgba(198, 170, 40, 0.7);
  padding: 10px 20px;
  text-transform: uppercase;
  color: #fff;
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.mainButton:before {
  position: absolute;
  content: '';
  top: -10px;
  left: -10px;
  bottom: -10px;
  right: -10px;
  opacity: 0;
  border: 2px solid #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.mainButton:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background: #c6aa28;
  color: #fff;
}

.mainButton:hover:before {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
}

/* --- Button END ------------------------------------------------*/
/* --- Form START ------------------------------------------------*/
.openformCont {
  background: #fafafa;
  border: 1px solid #c6aa28;
  text-align: center;
  width: 100%;
  padding: 20px 10px;
}

.openformCont input {
  border: none;
  border-bottom: 2px solid #c6aa28;
  text-transform: uppercase;
  padding: 10px 5px;
  width: 100%;
  margin-bottom: 20px;
  text-align: center;
}

.openformCont .mainButton {
  border: none;
}

.openformCont .mainButton:before {
  border: 2px solid #c6aa28;
}

/* --- Form END ------------------------------------------------*/
/* --- Other START ------------------------------------------------*/
.headerH h3 {
  text-transform: uppercase;
  text-align: center;
  padding: 10px 5px 10px 5px;
}

.headerH hr {
  width: 60%;
  background-color: #c6aa28;
  border: 1px solid #c6aa28;
  position: relative;
  margin-bottom: 30px;
}

.headerH hr:before {
  display: block;
  position: absolute;
  content: '';
  left: 50%;
  bottom: -8px;
  height: 16px;
  width: 16px;
  background-color: #c6aa28;
  -webkit-transform: translateX(-50%) rotate(45deg);
          transform: translateX(-50%) rotate(45deg);
}
/*# sourceMappingURL=main.css.map */