@media only screen and (min-width : 1500px) 
{

}

@media only screen and (max-width : 1800px)
{

}
@media only screen and (max-width : 1600px)
{

}
@media only screen and (max-width : 1450px)
{

}
@media only screen and (max-width : 1280px)
{

}
@media only screen and (max-width : 1200px)
{

}
@media only screen and (max-width : 1140px) 
{

}

@media only screen and (max-width : 992px)
{ 

  .first .headerWrap
  {
    padding: 10px 5px;
  }
  .first .headerWrap h1 
  {
    font-size: 1.7rem;
  }
  .first .headerWrap h3 
  {
    font-size: 1.3rem;
  }
  .first .trigerWrap ul li 
  {
    font-size: 16px;
  }
}
@media only screen and (max-width : 800px)
{

}


@media only screen and (max-width : 768px)
{

  .first .trigerWrap ul li 
  {
    display: block;
  }
  .first .trigerWrap .borderRight
  {
    border: none;
  }
}
@media only screen and (max-width : 576px)
{  
  .headerH h3
  {
    font-size: 1.4rem
  }
  .product .imgWrap .prodName 
  {
    right: 10px;
    bottom: 10px;
  }
  .product .imgWrap .prodName h2
  {
    font-size: 1.7rem;
  }

}
@media only screen and (max-width : 450px)
{


}
@media only screen and (max-width : 400px)
{
  .product .imgWrap .prodName h2
  {
    font-size: 1.4rem;
  }

}