@import "../sass/fonts"
	
$main_color: #2D2D2D
$main_white: #fff
$main_rgb: #9845C2
$main_bg: #6BD9C5


body
	background: $main_white
	font-family: 'SF UI Display Light'
	font-weight: normal
	font-size: 16px
	color: $main_color
	margin: 0
	padding: 0
	position: relative
	line-height: 1.6
	box-sizing: border-box
	a
		text-decoration: none
		color: $main_color
		&:hover
			text-decoration: none
			color: $main_color
button
	outline: none
	&:focus
		outline: none
.hidden
	display: none

section
	padding: 50px 0
	overflow: hidden
.done
	min-height: 100vh
.row-eq-height
	display: flex
	flex-wrap: wrap

/* --- menuBtn Start ------------------------------------------------*/
.menuBtn
	position: fixed
	top: 20px
	right: 20px
	width: 30px
	height: 29px
	z-index: 55
	display: none
	justify-content: space-around
	align-items: center
	flex-direction: column
	background: $main_bg
	border-radius: 2px
	span
		transition: .3s
		transform: rotate(0) translate(0)
.menuBtnHide
	span
		transition: .3s
		transform: rotate(0) translate(0)
		display: block
		width: 80%
		height: 3px
		background: $main_white
.menuBtnShow
	background: none
	span
		transition: .3s
		display: block
		width: 100%
		height: 3px
		background: $main_white
		&:nth-child(1)
			transform: rotate(45deg)
		&:nth-child(2)
			display: none
		&:nth-child(3)
			transform: rotate(-45deg) translate(10px, -10px)
/* --- menuBtn end ------------------------------------------------*/

/* --- Navbar START ------------------------------------------------*/
.navMobile
	background: $main_white
	padding: 0 0 20px 0
	min-height: 100vh
	position: fixed
	width: 200px
	right: 0
	z-index: 50
	transition: .3s
	display: flex
	flex-direction: column
	overflow: hidden
	box-shadow: -6px 0px 5px rgba(0, 0, 0, 0.1)
	&__title
		padding: 20px 10px
		margin-top: 0
		background: #000
		position: relative
		&:after
			content: ''
			position: absolute
			bottom: 0
			left: 0
			width: 60%
			height: 6px
			background: $main_rgb
		img
			width: 60%
			display: block
			margin-right: auto
			margin-bottom: 20px
		h4
			margin: 0 0 20px 0
			font-weight: bold
			color: $main_white
			font-size: 24px
			text-transform: uppercase
	hr
		background: $main_bg
		width: 100%
		height: 1px
	&__list
		margin: auto 0
		padding: 10px
		list-style: none
		ul
			padding: 0
			margin: 0
			list-style: none
			li
				margin-bottom: 10px
				a
					color: $main_color
					font-size: 16px
					text-transform: uppercase
					font-weight: bold
					position: relative
					padding-bottom: 10px
					&:after
						transition: .3s
						position: absolute
						content: ''
						top: 0
						left: 0
						width: 100%
						height: 100%
						border-bottom: 2px solid $main_rgb
						transform: translateY(50%)
						opacity: 0
					&:hover
						&:after
							transition: .3s
							transform: translateY(0)
							opacity: 1
				.active
					&:after
						transition: .3s
						transform: translateY(0)
						opacity: 1
	&__contacts
		padding: 10px
		display: flex
		flex-direction: column
		p, a
			font-size: 16px
			color: $main_color
			i
				color: $main_color
		a
			transition: .3s
			&:hover
				transition: .3s
				color: $main_rgb
	&__social
		padding: 10px
		width: 100%
		display: flex
		justify-content: flex-start
		a
			font-size: 30px
			i
				color: $main_color
.navMobileShow
	transition: .3s
	transform: translateY(0) !important
.navMobileHide
	transition: .3s
	transform: translateY(-200%) !important
/* --- Navbar END ------------------------------------------------*/

/* --- first Start ------------------------------------------------*/
.first
	min-height: 70vh
	display: flex
	flex-direction: column
	justify-content: center
	background: url('../img/fBg.png')
	background-position: top right
	background-repeat: no-repeat
	background-size: auto 100%
	padding-bottom: 100px
	&__logo
		margin-bottom: 30px
		img
			max-width: 100%
			height: auto
	&__title
		margin-bottom: 20px
		h1
			font-size: 68px
			font-weight: 300
	&__subtitle
		h3
			font-size: 22px
	@media(max-width: 1280px)
		min-height: 50vh
	@media(max-width: 992px)
		min-height: 100vh
		background-position: top left
		padding-bottom: 50px
		&__title
			h1
				font-size: 40px
		&__subtitle
			h3
				font-size: 20px
/* --- first end ------------------------------------------------*/

/* --- aboutForm Start ------------------------------------------------*/
.aboutForm
	padding: 0
	margin-top: -80px
	.openFormGor
		padding: 20px 40px 40px 0
		min-width: 60%
		&:before
			content: ''
			position: absolute
			top: 0
			left: -200%
			width: 200%
			height: 100%
			background: $main_bg
		.mainBtn
			display: inline
			width: 240px
			max-width: 100%
			&:hover
				border: 2px solid $main_white
				background: $main_white
				color: $main_rgb
	@media(max-width: 992px)
		background: $main_bg
		.openFormGor
			border-radius: 0
			width: 100%
			padding: 10px	10px 40px 10px
			input
				width: 90%
				display: block
				margin-left: auto
				margin-right: auto
				margin-bottom: 20px
			.mainBtn
				width: 90%
				display: block
/* --- aboutForm end ------------------------------------------------*/

/* --- about Start ------------------------------------------------*/
.about
	margin-top: -20px
	padding-top: 0
	&__img
		img
			max-width: 100%
			height: auto
	&__text
		padding: 20px 10px 10px 10px
		&-title
			margin-bottom: 20px
			h3
				margin: 0
				padding: 0
				font-size: 32px
		&-list
			ul
				list-style: none
				li
					font-weight: 300
					margin-bottom: 10px
					position: relative
					font-size: 22px
					&:after
						content: '•'
						position: absolute
						top: 50%
						left: -20px
						transform: translateY(-50%)
						color: $main_bg
	@media(max-width: 992px)
		&__text
			&-title
				h3
					font-size: 24px
			&-list
				ul
					li
						font-size: 18px
/* --- about end ------------------------------------------------*/

/* --- steps Start ------------------------------------------------*/
.steps
	padding-top: 0
	position: relative
	&:before
		content: ''
		position: absolute
		bottom: 0
		left: 0
		width: 100%
		height: 50%
		background: #F3F3F3
		z-index: -1
	&__title
		padding: 10px
		margin-bottom: 20px
		h1,h2
			padding: 0
			margin: 0
		h2
			font-size: 42px
			font-weight: 500
		h3
			font-size: 22px
			font-weight: 300
			color: $main_bg
	.whiteBg
		background: $main_white
		span
			color: rgba($main_bg, .3)
		p
			color: $main_bg
	&__wrap
		box-shadow: 0px 14px 20px rgba(0, 0, 0, 0.12)
		border-radius: 30px
		display: flex
		justify-content: center
		align-items: center
		margin-bottom: 40px
		background: $main_bg
		padding: 10px
		&-number
			span
				font-family: 'SF UI Display Ultralight'
				font-weight: 100
				font-size: 270px
				line-height: 77%
				color: rgba($main_white, .3)
		&-desc
			p
				margin: 0
				padding: 0
				font-weight: 300
				color: $main_white
	&__reviews
		height: 100%
		padding: 20px 10px
		box-shadow: 0px 14px 20px rgba(0, 0, 0, 0.12)
		background: $main_white
		display: flex
		justify-content: center
		align-items: center
		img
			width: 100%
			height: auto
	@media(max-width: 992px)
		&__title
			h2
				font-size: 30px
		&__wrap
			&-number
				span
					font-size: 150px
/* --- steps end ------------------------------------------------*/

/* --- need Start ------------------------------------------------*/
.need
	background: url('../img/need.png')
	background-position: top right
	background-repeat: no-repeat
	background-size: auto 100%
	position: relative
	&__bg
		border-top-right-radius: 200em
		border-bottom-right-radius: 200em
		position: absolute
		top: 0
		left: 0
		width: 70%
		height: 100%
		background: linear-gradient(90deg, #0FA287 -19.64%, rgba(107, 217, 197, 0.37) 122.97%)
	&__desc
		padding: 10px
		&-title
			margin-bottom: 20px
			h3
				color: $main_white
				padding: 0
				margin: 0
				font-size: 32px
				span
					font-weight: bold
		&-list
			margin-bottom: 20px
			ul
				padding: 0
				margin: 0
				list-style: none
				li
					font-size: 22px
					color: $main_white
		&-btn
			.mainBtn
				margin-left: 0
				&:hover
					border: 2px solid $main_white
					background: $main_white
					color: $main_rgb
	@media(max-width: 992px)
		&__bg
			width: 100%
			border-radius: 0
		&__desc
			&-title
				h3
					font-size: 22px
			&-list
				ul
					li
						font-size: 18px
			&-btn
				.mainBtn
					margin-left: auto
/* --- need end ------------------------------------------------*/

/* --- video Start ------------------------------------------------*/
.video
	&__title
		padding: 10px
		margin-bottom: 20px
		h1,h2
			padding: 0
			margin: 0
		h2
			font-size: 42px
			font-weight: 500
		h3
			font-size: 22px
			font-weight: 300
			color: $main_bg
	&__wrap
		box-shadow: 0px 14px 20px rgba(0, 0, 0, 0.12)
		&-img
			position: relative
			img
				width: 100%
				height: auto
			&:before
				position: absolute
				content: ''
				background: linear-gradient(180deg, rgba(0, 0, 0, 0) 32.29%, rgba(0, 0, 0, 0.6) 100%)
				top: 0
				left: 0
				width: 100%
				height: 100%
			&-btn
				position: absolute
				top: 50%
				left: 50%
				font-size: 50px
				transform: translate(-50%, -50%)
				a
					i
						color: $main_white
						transition: .3s
						&:hover
							transition: .3s
							color: $main_bg
			&-desc
				position: absolute
				bottom: 0
				left: 0
				width: 100%
				text-align: center
				p
					margin: 0
					padding: 0
					color: $main_white
				span
					color: $main_white
	@media(max-width: 992px)
		&__title
			h2
				font-size: 30px
/* --- video end ------------------------------------------------*/

/* --- author Start ------------------------------------------------*/
.author
	background: url('../img/author.png')
	background-position: top right
	background-repeat: no-repeat
	background-size: cover
	&__title
		margin-bottom: 20px
		h2
			font-size: 42px
			font-weight: 500
	&__desc
		width: 70%
		p
			color: #000
			margin-bottom: 0
			span
				font-weight: bold
		&-img
			display: none
			img
				width: 100%
	&__name
		position: absolute
		right: 0
		bottom: 0
	@media(max-width: 992px)
		background-position: top left
		padding-top: 0
		&__name
			position: relative
		&__title
			h2
				font-size: 30px
		&__desc
			width: 100%
			margin-bottom: 20px
			&-img
				display: block
/* --- author end ------------------------------------------------*/	

/* --- messager Start ------------------------------------------------*/
.messager
	padding-top: 0
	margin-top: -20px
	&__bg
		background: linear-gradient(64.73deg, rgba(61, 184, 162, 0.91) 13.25%, #0FA287 72.78%)
		border-radius: 200em
	&__form
		padding: 50px 5px
		&-desc
			padding: 10px 0
			h3
				padding: 0
				margin: 0 0 10px 0
				color: $main_white
				font-weight: 300
				font-size: 32px
			p
				padding: 0
				margin: 0 0 10px 0
				color: $main_white
				font-weight: 300
			h4
				font-size: 16px
				color: $main_white
				font-weight: bold
		&-inputR
			display: flex
			justify-content: space-between
			flex-wrap: wrap
			input
				display: none
			label
				font-weight: 300
				color: $main_white
				margin: 5px
				padding-left: 25px
				position: relative
				transition: .3s
				cursor: pointer
				&:after
					content: ''
					position: absolute
					top: 50%
					transform: translateY(-50%)
					left: 0
					width: 20px
					height: 20px
					background: $main_white
					border-radius: 50%
					border: 4px solid $main_white
					transition: .3s
				&:hover
					transition: .3s
					&:after
						transition: .3s
						background: rgba($main_white,.7)
			input[type="radio"]:checked
				+ label
						&:after
							transition: .3s
							background: $main_bg
		&-input
			display: flex
			flex-wrap: wrap
			justify-content: space-between
			align-items: center
			input
				background: none
				border: none
				border-bottom: 1px solid $main_white
				padding: 10px
				margin: 10px
				width: 200px
				max-width: 100%
				color: $main_white
				transition: .3s
				&:focus
					outline: none
			::placeholder
				color: $main_white	
			.mainBtn
				display: inline
				width: 240px
				max-width: 100%
				margin: 10px
				&:hover
					border: 2px solid $main_white
					background: $main_white
					color: $main_rgb
	@media(max-width: 992px)
		&__bg
			border-radius: 25px		
		&__form
			&-desc
				h3
					font-size: 26px
			&-inputR
				display: flex
				flex-wrap: wrap
				label
					flex-basis: 40%
			&-input
				input
					width: 100%
				.mainBtn
					display: block
					margin-left: auto
					margin-right: auto
	@media(max-width: 480px)
		&__form
			&-inputR
				justify-content: center
				label
					flex-basis: 50%
/* --- messager end ------------------------------------------------*/

/* --- spcial Start ------------------------------------------------*/
.social
	background: $main_bg
	padding: 20px 5px 10px 5px
	display: flex
	justify-content: center
	align-items: center
	&__wrap
		a
			i
				font-size: 30px
				color: $main_white
				transition: .3s
				&:hover
					transition: .3s
					color: $main_rgb
/* --- spcial end ------------------------------------------------*/

.devgen
	background: $main_bg
	a
		color: $main_white
		transition: .3s

/* --- ready Start ------------------------------------------------*/
.ready
	padding-top: 0
	h2
		text-align: center
		font-weight: bold
		margin-bottom: 20px
	.mainBtn
		width: 300px
		max-width: 100%
		font-size: 18px
		background: #FFA800
		border: 2px solid #FFA800
/* --- ready end ------------------------------------------------*/


/* --- buttons Start ------------------------------------------------*/
.mainBtn
	border-radius: 25px
	box-shadow: 0px 14px 20px rgba(0, 0, 0, 0.12)
	text-align: center
	cursor: pointer
	display: block
	width: 250px
	max-width: 100%
	border: 2px solid $main_rgb
	margin-left: auto
	margin-right: auto
	padding: 10px
	background: $main_rgb
	color: $main_white
	transition: .3s
	&:hover
		border: 2px solid $main_bg
		transition: .3s
		background: $main_bg
		color: $main_white
/* --- buttons end ------------------------------------------------*/

/* --- forms Start ------------------------------------------------*/
.openFormGor
	background: $main_bg
	display: inline-block
	position: relative
	border-top-right-radius: 150px
	border-bottom-right-radius: 150px
	padding: 20px 20px 20px 10px
	h3
		font-size: 32px
		color: $main_white
		span
			font-weight: bold
	input
		background: none
		border: none
		border-bottom: 1px solid $main_white
		padding: 10px
		margin: 10px
		width: 200px
		max-width: 100%
		color: $main_white
		transition: .3s
		&:focus
			outline: none
	::placeholder
		color: $main_white

.openForm
	position: relative
	width: 400px
	max-width: 100%
	display: block
	margin-left: auto
	margin-right: auto
	padding: 20px 10px
	background: $main_bg
	border-radius: 25px
	img
		max-width: 100%
		display: block
		margin-left: auto
		margin-right: auto
		margin-bottom: 20px
	h3, h4
		text-align: center
		color: $main_white
		margin-bottom: 20px
	h3
		font-size: 22px
		font-weight: bold
	h4
		font-size: 18px
		font-weight: 500
	input
		background: none
		border: none
		border-bottom: 1px solid $main_white
		padding: 10px
		margin-bottom: 20px
		width: 90%
		color: $main_white
		transition: .3s
		display: block
		margin-left: auto
		margin-right: auto
		&:focus
			outline: none
	::placeholder
		color: $main_white
	.mainBtn
		&:hover
			border: 2px solid $main_white
			background: $main_white
			color: $main_rgb
/* --- forms end ------------------------------------------------*/

/* --- Other START ------------------------------------------------*/	


.mfp-close-btn-in .mfp-close
	color: $main_white !important


.slick-dots
	li
		button
			&:before
				font-size: 15px
				color: $main_rgb !important
.slick-prev
	top: inherit
	left: -40px
	top: 40%
	width: 40px
	height: 40px
	z-index: 99
	background: $main_white
	transition: .3s
	&:hover
		transition: .3s
		i
			transition: .3s
			background: $main_rgb
			color: $main_white
	&:before
		display: none
	i
		transition: .3s
		color: $main_rgb
		font-size: 22px
		background: $main_white
		width: 100%
		height: 100%
		display: flex
		justify-content: center
		align-items: center
.slick-next
	top: inherit
	right: -40px
	top: 40%
	width: 40px
	height: 40px
	z-index: 99
	background: $main_white
	transition: .3s
	&:hover
		transition: .3s
		i
			transition: .3s
			background: $main_rgb
			color: $main_white
	&:before
		display: none
	i
		transition: .3s
		color: $main_rgb
		font-size: 22px
		background: $main_white
		width: 100%
		height: 100%
		display: flex
		justify-content: center
		align-items: center
.slick-track
	display: flex
	.slick-slide
		height: auto
		display: flex

