/* --- Colors START ---------------------------------------------------*/
/* --- Colors END ---------------------------------------------------*/
/* --- Default START ---------------------------------------------------*/
body {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 16px;
  background: #fff;
  color: #00346f;
  margin: 0;
  padding: 0;
  position: relative;
  line-height: 1.6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body a {
  text-decoration: none;
  color: #00346f;
}

body a:hover {
  text-decoration: none;
  color: #00346f;
}

.hidden {
  display: none;
}

/* --- Default END ---------------------------------------------------*/
/* --- Navbar START ---------------------------------------------------*/
.navbar {
  background: #fff;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 52, 111, 0.5);
          box-shadow: 0px 2px 2px 0px rgba(0, 52, 111, 0.5);
}

.navbar .navbar-toggler-icon {
  background: url("../img/burger.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 2em;
  height: 2em;
}

.navbar .navbar-toggler-icon:focus {
  outline: none;
}

.navbar .navbar-toggler {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.navbar .navbar-toggler:focus {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  outline: none;
  border: 1px solid #fff;
}

.navbar .anim {
  position: relative;
}

.navbar .anim:after {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  border-bottom: 2px solid #00346f;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.navbar .anim:hover:after {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.navbar .active:after {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

/* --- Navbar END ---------------------------------------------------*/
/* --- header START ---------------------------------------------------*/
.header {
  min-height: 100vh;
  position: relative;
  background: url("../img/bg-main.png");
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__arrow-down {
  position: absolute;
  z-index: 2;
  right: 30px;
  bottom: 60px;
}

.header__arrow-down a {
  text-transform: uppercase;
  position: relative;
  padding: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border: 2px solid #fff;
  border-radius: 20px;
  -webkit-animation: color_more 3s linear infinite;
          animation: color_more 3s linear infinite;
}

.header__arrow-down a:after {
  position: absolute;
  content: '';
  right: 37%;
  top: 45px;
  bottom: -45px;
  border: 1px solid #fff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-animation: color_more 3s linear infinite;
          animation: color_more 3s linear infinite;
}

.header__arrow-down a:before {
  position: absolute;
  content: '';
  left: 37%;
  bottom: -45px;
  top: 45px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-animation: color_more 3s linear infinite;
          animation: color_more 3s linear infinite;
  border: 1px solid #fff;
}

.header__arrow-down a:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #fff;
}

.header .container {
  padding-top: 70px;
  z-index: 2;
}

.header .video-cont {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.header .video-cont video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.header__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.header__offer-cont {
  border-radius: 15px;
  text-align: center;
  background: rgba(0, 52, 111, 0.5);
  display: block;
  padding: 15px;
  -webkit-box-shadow: 0px 0px 5px 2px rgba(0, 52, 111, 0.3);
          box-shadow: 0px 0px 5px 2px rgba(0, 52, 111, 0.3);
  margin-bottom: 15px;
}

.header__offer-cont h1 {
  margin: 10px;
  margin-top: 20px;
  color: #fff;
}

.header__triggers {
  margin-top: 15px;
  margin-bottom: 15px;
}

.header__triggers ul {
  list-style: none;
  margin: 0;
  padding: 0;
  -webkit-box-shadow: 0px 0px 5px 2px rgba(0, 52, 111, 0.3);
          box-shadow: 0px 0px 5px 2px rgba(0, 52, 111, 0.3);
}

.header__triggers ul li {
  font-size: 20px;
  border-radius: 15px;
  color: #fff;
  padding: 10px;
  text-align: center;
  background: rgba(0, 52, 111, 0.5);
  border-bottom: 2px solid #fff;
  text-transform: uppercase;
}

.header__logist-wrap {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
  z-index: 2;
}

.header__logist-wrap h3 {
  text-transform: uppercase;
  color: #D5B135;
  display: inline-block;
  margin-right: 15px;
}

.header__logist-wrap a {
  display: inline-block;
}

/* --- header END ---------------------------------------------------*/
/* --- About START ---------------------------------------------------*/
.about {
  padding: 50px 0;
  background: url("../img/aboutbg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  overflow: hidden;
}

.about__text-wrap {
  text-align: center;
  background: rgba(255, 255, 255, 0.7);
  padding: 15px;
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 5px 3px rgba(0, 52, 111, 0.5);
          box-shadow: 0px 0px 5px 3px rgba(0, 52, 111, 0.5);
}

.about__text-wrap h4 {
  background: #00346f;
  color: #fff;
  padding: 10px;
  border-radius: 15px;
  border: 2px solid #AA3B00;
}

/* --- About END ---------------------------------------------------*/
/* --- count-skroll start ---------------------------------------------------*/
.count-skroll {
  padding: 30px 0;
  min-height: 50vh;
  background: #00346f;
  color: #fff;
  position: relative;
  overflow: hidden;
  background: url("../img/boing.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.count-skroll .video-cont {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.count-skroll .video-cont video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.count-skroll__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 52, 111, 0.5);
}

.count-skroll h4 {
  text-align: center;
  margin: 15px;
  font-size: 1.3rem;
}

.count-skroll__wrap {
  text-align: center;
  width: 250px;
  max-width: 100%;
  height: 100px;
  background: rgba(255, 255, 255, 0.5);
  border: 2px solid #fff;
}

.count-skroll__wrap span {
  font-size: 34px;
}

/* --- count-skroll END ---------------------------------------------------*/
/* --- where START ---------------------------------------------------*/
.where {
  overflow: hidden;
  padding: 30px 0 0 0;
}

.where__form-wrap {
  margin-bottom: 15px;
}

.where__form-wrap h3 {
  text-transform: uppercase;
  margin: 15px;
}

.where .container-fluid {
  background: url("../img/bg_delivery.jpg") 50% 0;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 45px;
  padding-bottom: 30px;
}

.where .container-fluid h3, .where .container-fluid h4 {
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}

.where .container-fluid img {
  border-radius: 5px;
}

.where .container-fluid ul {
  list-style: none;
  text-align: left;
}

.where .container-fluid ul li {
  color: #fff;
  font-size: 20px;
}

/* --- where END ---------------------------------------------------*/
/* --- Calc START ---------------------------------------------------*/
.calc {
  padding: 30px 0;
  overflow: hidden;
}

.calc .calc-wrap h3 {
  text-transform: uppercase;
}

/* --- Calc END ---------------------------------------------------*/
/* --- how START ---------------------------------------------------*/
.how {
  padding: 30px 0;
  min-height: 50vh;
  background: url("../img/bg_how.jpg") 50% 0;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  overflow: hidden;
}

.how h3 {
  text-transform: uppercase;
}

/* --- how END ---------------------------------------------------*/
/* --- how-two START ---------------------------------------------------*/
.how-two {
  padding: 30px 0;
  overflow: hidden;
}

.how-two .border-right-how {
  border-right: 2px solid #00346f;
}

.how-two .text-left-main {
  text-align: left;
}

.how-two .text-wrap h2, .how-two .text-wrap h3, .how-two .text-wrap h4 {
  text-transform: uppercase;
}

.how-two .text-wrap h4 {
  margin-bottom: 20px;
}

.how-two .text-wrap i {
  margin-right: 10px;
}

/* --- how-two END ---------------------------------------------------*/
/* --- contacts START ---------------------------------------------------*/
.contacts {
  min-height: 50vh;
}

/* --- contacts END ---------------------------------------------------*/
/* --- Button style START ---------------------------------------------------*/
.header-button {
  text-transform: uppercase;
  background: #fff;
  border-radius: 15px;
  padding: 5px 30px;
  font-size: 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: relative;
}

.header-button span {
  color: #fff;
  mix-blend-mode: difference;
}

.header-button:before {
  border-radius: 15px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: '';
  background: #D5B135;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.header-button:hover span {
  color: #fff;
  mix-blend-mode: difference;
}

.header-button:hover:before {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

/* --- Button style END ---------------------------------------------------*/
/* --- FORM style START ---------------------------------------------------*/
.hidden-form {
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  position: relative;
  padding: 20px;
  background: #fff;
  border: 2px solid #00346f;
  border-radius: 15px;
}

.hidden-form input {
  padding: 10px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  border: none;
  border-radius: 15px;
  border-bottom: 2px solid #00346f;
}

.hidden-form input:focus {
  outline: none;
}

.hidden-form .btn-form-hidden {
  cursor: pointer;
  color: #fff;
  border: none;
  margin-top: 15px;
  text-transform: uppercase;
  background: #00346f;
  border-radius: 15px;
  padding: 5px 30px;
  font-size: 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.hidden-form .btn-form-hidden:hover {
  background: rgba(0, 52, 111, 0.5);
}

.hidden-form .btn-form-hidden:disabled {
  background: #808080;
}

.open-form {
  width: 300px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  border: 2px solid #AA3B00;
  padding: 20px;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.7);
}

.open-form input {
  padding: 10px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  border: none;
  border-radius: 15px;
  border-bottom: 2px solid #AA3B00;
}

.open-form input:focus {
  outline: none;
}

.open-form .btn-form {
  cursor: pointer;
  color: #fff;
  border: none;
  margin-top: 15px;
  text-transform: uppercase;
  background: #00346f;
  border-radius: 15px;
  padding: 5px 30px;
  font-size: 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: 2px solid #AA3B00;
}

.open-form .btn-form:hover {
  background: rgba(0, 52, 111, 0.5);
}

.open-form .btn-form:disabled {
  background: #808080;
}

.open-form-where input {
  background: rgba(0, 0, 0, 0.1);
  padding: 10px;
  text-align: center;
  margin: 10px;
  border: none;
  border-radius: 15px;
  border-bottom: 3px solid #00346f;
}

.open-form-where input:focus {
  outline: none;
}

.open-form-where .btn-form-where {
  cursor: pointer;
  color: #fff;
  border: none;
  margin-top: 15px;
  text-transform: uppercase;
  background: #00346f;
  border-radius: 15px;
  padding: 8px 30px;
  font-size: 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.open-form-where .btn-form-where:hover {
  background: rgba(0, 52, 111, 0.5);
}

.open-form-where .btn-form-where:disabled {
  background: #808080;
}

.form-calc {
  text-align: center;
  padding: 10px;
}

.form-calc h3 {
  text-transform: uppercase;
}

.form-calc input {
  background: rgba(0, 0, 0, 0.1);
  padding: 10px;
  text-align: center;
  margin: 10px;
  border: none;
  border-radius: 15px;
  border-bottom: 3px solid #00346f;
}

.form-calc input:focus {
  outline: none;
}

.form-calc textarea {
  width: 100%;
  height: 100px;
  background: rgba(0, 0, 0, 0.1);
  padding: 10px;
  text-align: center;
  margin: 10px;
  border: none;
  border-radius: 15px;
  border-bottom: 3px solid #00346f;
}

.form-calc textarea:focus {
  outline: none;
}

.form-calc .btn-form-where {
  cursor: pointer;
  color: #fff;
  border: none;
  margin-top: 15px;
  text-transform: uppercase;
  background: #00346f;
  border-radius: 15px;
  padding: 8px 30px;
  font-size: 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.form-calc .btn-form-where:hover {
  background: rgba(0, 52, 111, 0.5);
}

.form-calc .btn-form-where:disabled {
  background: #808080;
}

/* --- FORM style END ---------------------------------------------------*/
@-webkit-keyframes color_more {
  0% {
    color: #fff;
    border-color: #fff;
  }
  50% {
    color: #00346f;
    border-color: #00346f;
  }
  75% {
    color: #AA3B00;
    border-color: #AA3B00;
  }
  100% {
    color: #fff;
    border-color: #fff;
  }
}
@keyframes color_more {
  0% {
    color: #fff;
    border-color: #fff;
  }
  50% {
    color: #00346f;
    border-color: #00346f;
  }
  75% {
    color: #AA3B00;
    border-color: #AA3B00;
  }
  100% {
    color: #fff;
    border-color: #fff;
  }
}
/*# sourceMappingURL=main.css.map */