body {
  background: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 16px;
  color: #111;
  margin: 0;
  padding: 0;
  position: relative;
  line-height: 1.6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body a {
  text-decoration: none;
  color: #111;
}

body a:hover {
  text-decoration: none;
  color: #111;
}

button {
  outline: none;
}

button:focus {
  outline: none;
}

.hidden {
  display: none;
}

section {
  padding: 30px 0;
  overflow: hidden;
}

.done {
  min-height: 100vh;
}

.row-eq-height {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

/* --- Navbar START ------------------------------------------------*/
.navbar {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background: rgba(255, 255, 255, 0);
}

.navbar .navbar-brand {
  padding: 0;
}

.navbar img {
  width: 40px;
  margin: 0;
  padding: 0;
}

.navbar .anim {
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
}

.navbar .anim span {
  color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform-origin: left;
          transform-origin: left;
}

.navbar .anim:before {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-bottom: 2px solid #cc2900;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.navbar .anim:hover span {
  color: #cc2900;
}

.navbar .anim:hover:before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.navbar p {
  font-size: 24px;
  color: #fff;
  margin: 0;
  padding-right: 10px;
  display: inline-block;
}

.navbar .navbar-toggler-icon {
  background: url("../img/burger-light.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 2em;
  height: 2em;
}

.navbar .navbar-toggler-icon:focus {
  outline: none;
}

.navbar .navbar-toggler {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.navbar .navbar-toggler:focus {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  outline: none;
  border: 1px solid #fff;
}

.active {
  position: relative;
  overflow: hidden;
}

.active span {
  color: #cc2900 !important;
}

.active:before {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-bottom: 2px solid #111;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-animation: animate 7s linear infinite;
          animation: animate 7s linear infinite;
}

@-webkit-keyframes animate {
  0% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  50% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  51% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  100% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
}

@keyframes animate {
  0% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  50% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  51% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  100% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
}

.fixed-nav {
  background: rgba(255, 255, 255, 0.9);
  color: #55595c;
  padding: .4rem .4rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.5);
}

.fixed-nav .anim span {
  color: #111;
}

.fixed-nav p {
  color: #111;
}

.fixed-nav .navbar-toggler-icon {
  background: url("../img/burger-black.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 2em;
  height: 2em;
}

.fixed-nav .navbar-toggler-icon:focus {
  outline: none;
}

.fixed-nav .navbar-toggler {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.fixed-nav .navbar-toggler:focus {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  outline: none;
  border: 1px solid #111;
}

.navbar-nav {
  text-align: center;
}

/* --- Navbar END ------------------------------------------------*/
/* --- headCont start------------------------------------------------*/
.FirstHead {
  padding-bottom: 50px;
  min-height: 100vh;
  background: url("../img/headBG.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.FirstHead .video-cont {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.FirstHead .video-cont video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.FirstHead .textHeadWrap {
  padding: 10px;
  background: rgba(255, 255, 255, 0.5);
  color: #111;
  text-align: center;
}

.FirstHead .textHeadWrap hr {
  background-color: #cc2900;
  width: 80%;
}

.FirstHead .textHeadWrap h1 {
  text-transform: uppercase;
}

.FirstHead .textHeadWrap h2 {
  text-transform: uppercase;
}

.FirstHead .textHeadWrap ul {
  color: #fff;
  background: rgba(17, 17, 17, 0.6);
  padding: 10px 20px 10px 20px;
  border: 2px solid #cc2900;
  margin-top: 10px;
  display: inline-block;
  list-style: none;
  text-align: left;
  -webkit-box-shadow: 3px 3px 0px 0px rgba(255, 255, 255, 0.4);
          box-shadow: 3px 3px 0px 0px rgba(255, 255, 255, 0.4);
}

.FirstHead .textHeadWrap ul li {
  text-transform: uppercase;
  margin-bottom: 10px;
}

.FirstHead .textHeadWrap ul li i {
  margin-right: 15px;
  color: #cc2900;
}

.FirstHead .priceWrap {
  padding: 0 15px;
  background: rgba(255, 255, 255, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  z-index: 111;
}

.FirstHead .priceWrap h4 {
  color: #111;
  text-align: center;
}

.FirstHead .priceWrap .mainButton {
  margin: 10px;
  color: #fff;
  padding: 10px 20px 10px 20px;
  font-size: 16px;
  background: rgba(255, 255, 255, 0.7);
}

/* --- headCont END ------------------------------------------------*/
/* --- priceSmall START ------------------------------------------------*/
.priceSmall {
  padding: 20px 0;
  background: #fafafa;
  color: #fff;
}

.priceSmall h3 {
  color: #111;
  text-transform: uppercase;
  position: relative;
}

.priceSmall h3 i {
  color: #cc2900;
}

.priceSmall h3 span {
  color: #cc2900;
}

.openFormHor {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.openFormHor input {
  font-size: 20px;
  margin: 20px;
  padding: 10px;
  text-align: center;
  border: none;
  border-bottom: 2px solid #cc2900;
  border-left: 2px solid #cc2900;
  outline: none;
  background: rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.openFormHor input:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background: rgba(255, 255, 255, 0.2);
}

.openFormHor ::-webkit-input-placeholder {
  color: #111;
}

.openFormHor :-ms-input-placeholder {
  color: #111;
}

.openFormHor ::-ms-input-placeholder {
  color: #111;
}

.openFormHor ::placeholder {
  color: #111;
}

.buttonOpenForm {
  margin: 20px;
  font-size: 20px;
  text-transform: uppercase;
  border: 2px solid #cc2900;
  padding: 10px 20px 10px 20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: relative;
  cursor: pointer;
}

.buttonOpenForm span {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #111;
  mix-blend-mode: multiply;
}

.buttonOpenForm:disabled {
  background: #b3b3b3;
  cursor: default;
}

.buttonOpenForm:disabled:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.buttonOpenForm:disabled:hover:before {
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.buttonOpenForm:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #b3b3b3;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.buttonOpenForm:hover:before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

/* --- priceSmall END ------------------------------------------------*/
/* --- about Start ------------------------------------------------*/
.about hr {
  background-color: #cc2900;
  border-bottom: 1px solid #cc2900;
  width: 50%;
  display: inline-block;
}

.about .textWrap p {
  font-size: 18px;
}

.about .imgWrap {
  -webkit-box-shadow: 10px 10px 0px 0px #cc2900;
          box-shadow: 10px 10px 0px 0px #cc2900;
}

.about h4 {
  text-align: center;
  text-transform: uppercase;
}

.about .formOpen h4 {
  text-transform: uppercase;
  color: #cc2900;
}

/* --- about END ------------------------------------------------*/
/* --- product Start ------------------------------------------------*/
.newProd {
  background: #fafafa;
  text-align: center;
}

.newProd img {
  max-width: 100%;
  height: auto;
  border: 3px solid #fff;
  -webkit-box-shadow: 3px 3px 2px 0px rgba(17, 17, 17, 0.3);
          box-shadow: 3px 3px 2px 0px rgba(17, 17, 17, 0.3);
}

.newProd h3 {
  text-transform: uppercase;
  text-align: center;
  display: inline-block;
  border-bottom: 2px solid #cc2900;
  padding-bottom: 5px;
  margin: 15px;
}

.newProd p {
  font-size: 20px;
}

/* --- product END ------------------------------------------------*/
/* --- Delivery Start ------------------------------------------------*/
.delivery {
  width: 100%;
  min-height: 844px;
  background: url("../img/deliveryBg.png") no-repeat top center;
}

.delivery h3 {
  -webkit-box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.2);
  color: #cc2900;
  border: 2px solid #cc2900;
  padding: 10px 5px 10px 5px;
  text-align: center;
  background: #fafafa;
}

/* --- Delivery END ------------------------------------------------*/
/* --- advantage Start ------------------------------------------------*/
.advantage {
  background: url("../img/advbg01.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
}

.advantage h3 {
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  display: inline-block;
  border-bottom: 2px solid #cc2900;
  padding-bottom: 5px;
  margin: 15px;
}

.advantage .imgWrap {
  position: relative;
  border: 5px solid #fff;
}

.advantage .imgWrap img {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.advantage .imgWrap:before {
  position: absolute;
  content: '';
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border: 5px solid #fff;
}

.advantage .adwFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
}

.advantage .advWrap {
  background: #000;
  -webkit-box-shadow: 10px 10px 0px 0px #cc2900;
          box-shadow: 10px 10px 0px 0px #cc2900;
}

.advantage .advWrap p {
  color: #fff;
  margin: 0;
  padding: 10px;
  font-size: 24px;
}

/* --- advantage END ------------------------------------------------*/
/* --- steps start ------------------------------------------------*/
.steps {
  background: url("../img/stepsBg.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.steps .textWrap {
  display: block;
  height: 100%;
  text-align: center;
  border: 2px solid #cc2900;
  background: #fafafa;
  padding: 30px 10px 20px 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.steps .textWrap:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.steps .textWrap:hover i {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin-left: 10px;
}

.steps .textWrap:hover p {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background: #fafafa;
  color: #55595c;
}

.steps .textWrap:hover p span {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #cc2900;
}

.steps .textWrap hr {
  background-color: #b3b3b3;
  width: 80%;
  border: 1px solid #b3b3b3;
}

.steps .textWrap i {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #cc2900;
}

.steps .textWrap h4 {
  text-transform: uppercase;
  font-size: 1.1rem;
}

.steps .textWrap .icon {
  font-size: 36px;
  margin: 10px;
}

.steps .textWrap p {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 20px 10px 20px 10px;
  font-size: 20px;
  background: #fafafa;
}

.steps .textWrap p span {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-transform: uppercase;
  color: #111;
}

/* --- steps END ------------------------------------------------*/
/* --- contacts START ------------------------------------------------*/
.contacts {
  background: #b3b3b3;
  color: #fff;
}

.contacts a {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #fff;
}

.contacts a:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #cc2900;
}

.contacts a i {
  margin-right: 15px;
  font-size: 30px;
}

.contacts h4 {
  margin-bottom: 5px;
}

.contacts .borderRight {
  border-right: 2px solid #fff;
}

.contacts p {
  text-indent: 20px;
  margin: 0;
}

.contacts p a {
  color: #fff;
}

/* --- contacts END ------------------------------------------------*/
/* --- Button Start ------------------------------------------------*/
.mainButton {
  margin: 20px;
  font-size: 20px;
  text-transform: uppercase;
  border: 2px solid #cc2900;
  padding: 5px 10px 5px 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: relative;
  cursor: pointer;
  background: #fafafa;
}

.mainButton span {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #111;
  mix-blend-mode: multiply;
}

.mainButton:disabled {
  background: rgba(204, 41, 0, 0.4);
  cursor: default;
}

.mainButton:disabled:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.mainButton:disabled:hover:before {
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.mainButton:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #cc2900;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.mainButton:hover:before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

/* --- Button END ------------------------------------------------*/
/* --- Form START ------------------------------------------------*/
.openFormVer {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  max-width: 100%;
  padding: 20px 10px 20px 10px;
  border: 2px solid #fff;
}

.openFormVer h3 {
  font-size: 1.6rem;
}

.openFormVer input {
  text-align: center;
  padding: 5px;
  width: 90%;
  margin: 10px 0 10px 0;
  border: none;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.openFormVer .buttonOpenForm {
  margin: 20px;
  cursor: pointer;
  border: none;
  font-size: 20px;
  text-transform: uppercase;
  padding: 5px 30px;
  background: rgba(255, 255, 255, 0.4);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: relative;
  color: red;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.openFormVer .buttonOpenForm span {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: white;
  mix-blend-mode: screen;
}

.openFormVer .buttonOpenForm:before {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fafafa;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
}

.openFormVer .buttonOpenForm:hover span {
  color: #111;
  mix-blend-mode: multiply;
}

.openFormVer .buttonOpenForm:hover:before {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.openFormVer .buttonOpenForm:disabled {
  background: rgba(204, 41, 0, 0.4);
}

.openFormVer .buttonOpenForm:disabled:hover:before {
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
}

.formOpen {
  border: 2px solid #cc2900;
  text-align: center;
  padding: 20px 10px;
}

.formOpen input {
  -webkit-box-shadow: 3px 3px 2px 0px rgba(17, 17, 17, 0.3);
          box-shadow: 3px 3px 2px 0px rgba(17, 17, 17, 0.3);
  background: #fafafa;
  text-transform: uppercase;
  padding: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  width: 400px;
  margin-bottom: 20px;
  text-align: center;
  border: none;
  border-bottom: 2px solid #cc2900;
  border-left: 2px solid #cc2900;
}

/* --- Form END ------------------------------------------------*/
/* --- Other START ------------------------------------------------*/
.row-eq-height {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
/*# sourceMappingURL=main.css.map */