body {
  background: #fff;
  font-family: 'Varela Round', sans-serif;
  font-weight: normal;
  font-size: 16px;
  color: #10161A;
  margin: 0;
  padding: 0;
  position: relative;
  line-height: 1.6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body a {
  text-decoration: none;
  color: #10161A;
}

body a:hover {
  text-decoration: none;
  color: #10161A;
}

button {
  outline: none;
}

button:focus {
  outline: none;
}

.hidden {
  display: none;
}

section {
  padding: 50px 0;
  overflow: hidden;
}

.done {
  min-height: 100vh;
}

.row-eq-height {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

h1, h2, h3, h4, h5 {
  font-family: "Montserrat", sans-serif;
}

/* --- Navbar START ------------------------------------------------*/
.navbar {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background: rgba(255, 255, 255, 0);
}

.navbar .telCont a {
  color: #fff;
  font-size: 18px;
  line-height: 20px;
}

.navbar .darkLogo {
  display: none;
}

.navbar .lightLogo {
  display: inline;
}

.navbar .navbar-brand {
  padding: 0;
}

.navbar img {
  width: 187px;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

.navbar .anim {
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
}

.navbar .anim span {
  color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform-origin: left;
          transform-origin: left;
}

.navbar .anim:before {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-bottom: 2px solid #6195FF;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.navbar .anim:hover span {
  color: #fff;
}

.navbar .anim:hover:before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.navbar p {
  font-size: 24px;
  text-shadow: 0px 0px 20px #fff;
  color: #fff;
  margin: 0;
  padding-right: 10px;
  display: inline-block;
}

.navbar .navbar-toggler-icon {
  background: url("../img/burger-light.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 2em;
  height: 2em;
}

.navbar .navbar-toggler-icon:focus {
  outline: none;
}

.navbar .navbar-toggler {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.navbar .navbar-toggler:focus {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  outline: none;
  border: 1px solid #fff;
}

.navbar .active {
  position: relative;
  overflow: hidden;
}

.navbar .active span {
  color: #6195FF !important;
}

.navbar .active:before {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-bottom: 2px solid #10161A;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-animation: animate 7s linear infinite;
          animation: animate 7s linear infinite;
}

@-webkit-keyframes animate {
  0% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  50% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  51% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  100% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
}

@keyframes animate {
  0% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  50% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  51% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  100% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
}

.fixed-nav {
  background: white;
  color: #868F9B;
  padding: .4rem .4rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.5);
}

.fixed-nav .telCont a {
  color: #10161A !important;
}

.fixed-nav .darkLogo {
  display: inline;
}

@media (max-width: 420px) {
  .fixed-nav .darkLogo {
    display: none;
  }
}

.fixed-nav .lightLogo {
  display: none;
}

.fixed-nav .anim span {
  color: #10161A;
}

.fixed-nav p {
  color: #10161A;
}

.fixed-nav .navbar-toggler-icon {
  background: url("../img/burger-black.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 2em;
  height: 2em;
}

.fixed-nav .navbar-toggler-icon:focus {
  outline: none;
}

.fixed-nav .navbar-toggler {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.fixed-nav .navbar-toggler:focus {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  outline: none;
  border: 1px solid #10161A;
}

.navbar-nav {
  text-align: center;
}

/* --- Navbar END ------------------------------------------------*/
/* --- Header start------------------------------------------------*/
.firstScroll {
  min-height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(100%, rgba(16, 22, 26, 0.3)), to(rgba(16, 22, 26, 0.3))), url("../img/background1.jpg");
  background: linear-gradient(rgba(16, 22, 26, 0.3) 100%, rgba(16, 22, 26, 0.3) 100%), url("../img/background1.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.firstScroll__title-cont {
  text-align: center;
  margin-bottom: 20px;
}

.firstScroll__title-cont h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  font-size: 54px;
}

.firstScroll__title-subtitle {
  padding: 5px;
  text-align: center;
  margin-bottom: 20px;
}

.firstScroll__title-subtitle p {
  color: #fff;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  font-size: 20px;
}

/* --- Header END ------------------------------------------------*/
/* --- About Start ------------------------------------------------*/
.about__cont {
  overflow: hidden;
  padding: 30px 20px;
  text-align: center;
  border: 1px solid rgba(16, 22, 26, 0.2);
  height: 100%;
  -webkit-transition: .3s;
  transition: .3s;
  position: relative;
}

.about__cont:after {
  z-index: -1;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #10161A;
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.about__cont-icon {
  font-size: 36px;
  color: #6195FF;
}

.about__cont-title h3 {
  -webkit-transition: .3s;
  transition: .3s;
  font-weight: 700;
}

.about__cont-txt p {
  -webkit-transition: .3s;
  transition: .3s;
  padding: 0;
  margin: 0;
  color: #868F9B;
}

.about__cont:hover h3 {
  -webkit-transition: .3s;
  transition: .3s;
  color: #fff;
}

.about__cont:hover p {
  -webkit-transition: .3s;
  transition: .3s;
  color: #fff;
}

.about__cont:hover:after {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

/* --- About END ------------------------------------------------*/
/* --- product Start ------------------------------------------------*/
.prod {
  background: #FAFAFA;
  border-top: 1px solid #EEE;
  border-top: 1px solid #EEE;
}

.prod__cont {
  background: #fff;
  height: 100%;
  padding: 10px;
  text-align: center;
  border: 1px solid rgba(16, 22, 26, 0.1);
}

.prod__cont-icon {
  font-size: 36px;
  color: #6195FF;
}

.prod__cont-title h3 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 21px;
}

.prod__cont-subtitle {
  margin-bottom: 20px;
}

.prod__cont-subtitle h4 {
  font-size: 18px;
  font-weight: 700;
}

.prod__cont-subtitle p {
  color: #868F9B;
}

.prod__cont-list ul {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: left;
  color: #868F9B;
}

/* --- product END ------------------------------------------------*/
/* --- services Start ------------------------------------------------*/
.services__cont {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px;
  border: 2px solid #6195FF;
}

.services__cont-title {
  margin-bottom: 20px;
}

.services__cont-title h4 {
  font-weight: 700;
  text-align: center;
  background: #6195FF;
  padding: 10px;
  text-transform: uppercase;
  font-size: 18px;
  color: #fff;
}

.services__cont-subtitle {
  margin-bottom: 20px;
}

.services__cont-subtitle h5 {
  border-bottom: 2px solid grey;
  padding: 5px;
  color: grey;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
}

.services__cont-list {
  background: grey;
  height: 100%;
  margin-bottom: 20px;
}

.services__cont-list ul {
  list-style: none;
  background: grey;
  padding: 5px;
  margin: 0;
}

.services__cont-list ul li {
  color: #fff;
}

.services__cont-img {
  margin-bottom: 20px;
}

.services__cont-img img {
  max-width: 100%;
  height: auto;
}

.services__cont-btn {
  max-width: 100%;
}

.services__cont-btn a {
  width: 100%;
}

/* --- services END ------------------------------------------------*/
/* --- fast Start ------------------------------------------------*/
.fast__txt {
  padding: 10px;
}

.fast__txt p {
  padding: 0;
  margin-bottom: 20px;
  color: #868F9B;
}

.fast__txt h3 {
  padding: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 21px;
}

.fast__txt ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.fast__txt ul li {
  color: #868F9B;
}

.fast__img img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* --- fast END ------------------------------------------------*/
/* --- steps start ------------------------------------------------*/
.steps {
  background: #FAFAFA;
  border-top: 1px solid #eee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.steps__img {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
}

.steps__img img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
}

@media (max-width: 992px) {
  .steps__img {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
  }
}

@media (max-width: 700px) {
  .steps__img {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
  }
}

@media (max-width: 520px) {
  .steps__img {
    -ms-flex-preferred-size: 90%;
        flex-basis: 90%;
  }
}

/* --- steps END ------------------------------------------------*/
/* --- numbers Start ------------------------------------------------*/
.numbers {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(100%, rgba(16, 22, 26, 0.5)), to(rgba(16, 22, 26, 0.5))), url("../img/background2.jpg");
  background: linear-gradient(rgba(16, 22, 26, 0.5) 100%, rgba(16, 22, 26, 0.5) 100%), url("../img/background2.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.numbers__cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.numbers__cont-wrap {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  text-align: center;
}

.numbers__cont-wrap-icon {
  font-size: 36px;
  color: #6195FF;
}

.numbers__cont-wrap-number {
  color: #fff;
  font-size: 36px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}

.numbers__cont-wrap-title p {
  color: #fff;
  margin: 0;
  padding: 0;
}

@media (max-width: 992px) {
  .numbers__cont-wrap {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
  }
}

/* --- numbers END ------------------------------------------------*/
/* --- whay Start ------------------------------------------------*/
.whay {
  background: #FAFAFA;
}

.whay .mainTitle {
  text-align: left;
}

.whay .mainTitle h2:after {
  left: 0;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.whay__txt p {
  color: #868F9B;
}

.whay__txt ul {
  list-style: none;
}

.whay__txt ul li {
  font-size: 18px;
  position: relative;
  color: #868F9B;
  margin-bottom: 10px;
}

.whay__txt ul li i {
  color: #6195FF;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -28px;
}

.whay .slider-whay .slider-img-wrap img {
  max-width: 100%;
  height: auto;
}

.whay .slick-dots li button:before {
  font-size: 15px;
  color: #6195FF !important;
}

.whay .slick-prev {
  background: #6195FF;
  left: 0px;
  width: 40px;
  height: 40px;
  z-index: 99;
}

.whay .slick-prev:before {
  position: absolute;
  content: '';
  width: 50%;
  height: 50%;
  top: 25%;
  left: 35%;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.whay .slick-next {
  background: #6195FF;
  right: 0px;
  width: 40px;
  height: 40px;
}

.whay .slick-next:before {
  position: absolute;
  content: '';
  width: 50%;
  height: 50%;
  top: 25%;
  right: 35%;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

/* --- whay END ------------------------------------------------*/
/* --- reviews Start ------------------------------------------------*/
.reviews {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(100%, rgba(16, 22, 26, 0.4)), to(rgba(16, 22, 26, 0.4))), url("../img/background3.jpg");
  background: linear-gradient(rgba(16, 22, 26, 0.4) 100%, rgba(16, 22, 26, 0.4) 100%), url("../img/background3.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.reviews .slider-rev .slider-wrap {
  outline: none;
  padding: 0 20px;
}

.reviews .slider-rev .slider-wrap .peronalWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.reviews .slider-rev .slider-wrap .peronalWrap .imgWrap {
  margin-right: 20px;
}

.reviews .slider-rev .slider-wrap .peronalWrap .imgWrap img {
  max-width: 100%;
  height: auto;
  width: 70px;
  height: auto;
  border-radius: 50%;
}

.reviews .slider-rev .slider-wrap .peronalWrap .nameWrap {
  padding: 5px;
}

.reviews .slider-rev .slider-wrap .peronalWrap .nameWrap h3 {
  font-size: 21px;
  color: #fff;
  font-weight: bold;
  padding: 0;
}

.reviews .slider-rev .slider-wrap .peronalWrap .nameWrap p {
  padding: 0;
  margin: 0;
  color: #6195FF;
  font-weight: bold;
  text-transform: uppercase;
}

.reviews .slider-rev .slider-wrap .txtWrap p {
  color: #fff;
}

.reviews .slick-dots li button:before {
  font-size: 15px;
  color: #6195FF !important;
}

/* --- reviews END ------------------------------------------------*/
/* --- contacts Start ------------------------------------------------*/
.contacts {
  background: #FAFAFA;
}

.contacts form {
  width: 100%;
  padding: 0;
  background: none;
}

.contacts form .inputWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contacts form .inputWrap input {
  -ms-flex-preferred-size: 49%;
      flex-basis: 49%;
}

@media (max-width: 540px) {
  .contacts form .inputWrap input {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.contacts__cont {
  text-align: center;
  margin-bottom: 20px;
}

.contacts__cont-icon {
  font-size: 30px;
  color: #6195FF;
}

.contacts__cont-title h3 {
  font-weight: 700;
  font-size: 21px;
}

.contacts__cont-title a {
  display: block;
  color: #868F9B;
}

.contacts__cont-title p {
  color: #868F9B;
}

/* --- contacts END ------------------------------------------------*/
/* --- footer Start ------------------------------------------------*/
.footer {
  background: #10161A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__logo img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
}

.footer__copyright {
  padding: 10px;
  text-align: center;
}

.footer__copyright p {
  font-size: 20px;
  color: #fff;
}

.footer__copyright p a {
  color: #6195FF;
}

/* --- footer end ------------------------------------------------*/
/* --- Button Start ------------------------------------------------*/
.mainBtn {
  cursor: pointer;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
  color: #6195FF;
  border: 1px solid #fff;
  background: #fff;
  padding: 10px 20px;
  width: 280px;
  max-width: 100%;
  text-transform: uppercase;
  -webkit-transition: .3s;
  transition: .3s;
}

.mainBtn:hover {
  -webkit-transition: .3s;
  transition: .3s;
  background: #6195FF;
  color: #fff;
}

.mainBtnLight {
  cursor: pointer;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
  color: #fff;
  border: 1px solid #6195FF;
  background: #6195FF;
  padding: 10px 20px;
  width: 280px;
  max-width: 100%;
  text-transform: uppercase;
  -webkit-transition: .3s;
  transition: .3s;
}

.mainBtnLight:hover {
  -webkit-transition: .3s;
  transition: .3s;
  background: #fff;
  color: #6195FF;
}

/* --- Button END ------------------------------------------------*/
/* --- Form START ------------------------------------------------*/
.openForm {
  text-align: center;
  padding: 10px;
  position: relative;
  width: 400px;
  max-width: 100%;
  display: block;
  padding: 10px;
  background: #fff;
}

.openForm img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.openForm input {
  border: none;
  background: #f4f4f4;
  border-bottom: 2px solid #eee;
  color: #10161A;
  padding: 10px;
  width: 100%;
  margin-bottom: 20px;
}

.openForm textarea {
  border: none;
  background: #f4f4f4;
  border-bottom: 2px solid #eee;
  color: #10161A;
  padding: 10px;
  width: 100%;
  margin-bottom: 20px;
}

/* --- Form END ------------------------------------------------*/
/* --- Other START ------------------------------------------------*/
.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slick-track .slick-slide {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.callButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
}

.callButton a span {
  background: #6195FF;
  border-radius: 50%;
  display: block;
  border: #6195FF;
  width: 60px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.callButton a span:after {
  background: #6195FF;
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border: 2px solid #6195FF;
  border-radius: 50%;
  -webkit-animation-name: borderAfter;
          animation-name: borderAfter;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  opacity: 0.8;
}

.callButton a span:before {
  background: #6195FF;
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border: 2px solid #6195FF;
  border-radius: 50%;
  -webkit-animation-name: borderAfter;
          animation-name: borderAfter;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  opacity: 0.8;
}

.callButton a span i {
  color: #fff;
  font-size: 35px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-animation-name: phoneRotate;
          animation-name: phoneRotate;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.callButton a:hover span i {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #fff;
}

@-webkit-keyframes phoneRotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes phoneRotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes borderAfter {
  20%, 100% {
    background: #6195FF;
    border: 2px solid #6195FF;
    top: -20px;
    left: -20px;
    bottom: -20px;
    right: -20px;
    opacity: 0;
  }
}

@keyframes borderAfter {
  20%, 100% {
    background: #6195FF;
    border: 2px solid #6195FF;
    top: -20px;
    left: -20px;
    bottom: -20px;
    right: -20px;
    opacity: 0;
  }
}

.mainTitle {
  text-align: center;
  margin-bottom: 50px;
}

.mainTitle h2 {
  padding-bottom: 20px;
  text-transform: capitalize;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 36px !important;
  position: relative;
}

.mainTitle h2:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 40px;
  height: 4px;
  background: #6195FF;
}
/*# sourceMappingURL=main.css.map */