@media only screen and (min-width : 1500px) 
{

}
@media only screen and (max-height : 530px) 
{
  .headerCont
  {
    padding-top: 75px;
  }
}



@media only screen and (max-width : 1800px)
{

}
@media only screen and (max-width : 1600px)
{

}
@media only screen and (max-width : 1450px)
{

}
@media only screen and (max-width : 1280px)
{
  .calc .stepsWrap .stepsCont
  {
    width: 23%;
  }
  .form-calc .selectWrap
  {
    width: 23%;
  }
}
@media only screen and (max-width : 1200px)
{

  .navbar{
    transition: 0.5s;
    background: rgba(255,255,255, .9);
  }
}
@media only screen and (max-width : 1140px) 
{

}

@media only screen and (max-width : 992px)
{
  .calc .stepsWrap .stepsCont
  {
    width: 45%;
    margin-bottom: 20px;
  }
  .form-calc .selectWrap
  {
    width: 33%;
    margin-bottom: 20px;
  }
  h1 
  {
    font-size: 1.4rem;
  }
  h2 
  {
    font-size: 1.3rem;
  }
  h3 
  {
    font-size: 1.1rem;
  }
  h4
  {
    font-size: 1.2rem;
  }
  h5
  {
    font-size: 1rem;
  }
  .steps .stepsCont .stepsWrap
  {
    width: 40%;
    margin-bottom: 15px;
  }
  .headerCont .textWrap .triggerWrap ul li
  {
    font-size: 16px;

  }

}
@media only screen and (max-width : 800px)
{

}
@media only screen and (max-width : 960px)
{
  .headerCont .lineOne, .about .lineOne 
  {
    width: 40px;
  }
  .headerCont .lineTwo, .about .lineTwo
  {
    width: 40px;
    left: 13%;
  }
  .headerCont .lineThree
  {
    height: 40px;
  }
}
@media only screen and (max-width : 768px)
{
  .rev .revWrap .imgWrap
  {
    width: 100%;
  }
  .rev .revWrap .txtWrap
  {
    width: 100%;
  }
  .prod .imgWrap .imgCont
  {
    width: 50%;
  }
  .adv .buttonWrap
  {
    margin-bottom: 20px;
  }

}
@media only screen and (max-width : 576px)
{
  .form-calc .selectWrap
  {
    width: 90%;
  }
  .calc .stepsWrap .stepsCont
  {
    width: 90%;
  }
  .headerCont .lineOne, .about .lineOne
  {
    width: 20px;
  }
  .headerCont .lineTwo, .about .lineTwo
  {
    width: 20px;
    left: 15%;
  }
  .headerCont .lineThree
  {
    height: 20px;
  }
  .prod .imgWrap .imgCont
  {
    width: 100%;
  }
  .steps .stepsCont .stepsWrap
  {
    width: 60%;
  }

}
@media only screen and (max-width : 450px)
{

  .headerCont .orderFreeWrap h4
  {
    margin-right: 0;
    margin-bottom: 10px;
  }
}
@media only screen and (max-width : 400px)
{


}