$main_color: #252626
$main_colorL: #232323
$main_white: #fff
$main_blue: #0746c8
$main_blueL: #4ac4f3
$main_yellow: #feda46
$main_bg: #fafcfc
$main_bgL: #f9f9f9


body
	background: $main_bg
	font-family: 'Open Sans', sans-serif
	font-weight: normal
	font-size: 16px
	color: $main_color
	margin: 0
	padding: 0
	position: relative
	line-height: 1.6
	box-sizing: border-box
	a
		text-decoration: none
		color: $main_color
		&:hover
			text-decoration: none
			color: $main_color
button
	outline: none
	&:focus
		outline: none
.hidden
	display: none
section
	overflow: hidden
.done
	min-height: 100vh
h1,h2,h3
	font-family: 'Poppins', sans-serif
/* --- Navbar START ------------------------------------------------*/
.navbar
	background: rgba($main_color, .0) !important
	transition: 0.5s
	box-shadow: 0 8px 25px 0 rgba(0, 0, 0, 0.04)
	a
		transition: 0.3s
		&:hover
			transition: 0.3s
			color: $main_blueL
	.navbar-brand
		img
			width: 50px	
	.nav-link-new
		color: $main_white
		display: inline-block
		padding: 5px
		margin-right: 5px
		text-transform: uppercase
		
	ul
		list-style: none
		li
			text-align: left
			a
				font-weight: bold
				text-transform: uppercase
				color: $main_color
	.whiteBtn
		font-size: 14px
		padding: 5px 10px
.navbar-dark 
	.navbar-nav 
		.nav-link
			color: $main_white
.dropdown
	transition: 0.5s
	.dropdown-menu
		transition: 0.5s
		a
			color: $main_blue
	&:hover
		.dropdown-menu
			display: block
.navbar-toggler-icon
	background-image: url('../img/menuStore.png') !important
	background-size: 100% 100%
	background-repeat: no-repeat
	width: 2em
	height: 2em
	&:focus
		outline: none
.navbar-toggler
	border: 1px solid rgba($main_color, 0)
	border-color: rgba($main_color, 0) !important
	transition: 0.3s
	&:focus
		transition: 0.3s
		outline: none
		border: 1px solid rgba($main_color, 0)
.storeFixedNav
	background: #fff !important
	a
		color: $main_color !important
/* --- Navbar END ------------------------------------------------*/


// ----------------------------------------------- store_firstScroll start
.store_firstScroll
  padding: 50px 0
  min-height: 100vh
  background: linear-gradient(rgba($main_blueL, 0.9) 100%, rgba($main_blueL, 0.9) 100%), url('../img/storeBg.jpg') 
  background-size: cover
  background-attachment: fixed
  background-repeat: no-repeat
  background-position: center center
  display: flex
  flex-direction: column
  justify-content: center
  .headerCont
    display: flex
    flex-direction: column
    padding: 30px 20px
    // background-image: linear-gradient(to right, rgba($main_white, .8), rgba($main_white, 0))
    .headerWrap
      h1
        text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4)
        text-transform: uppercase
        color: $main_white
        span
          // color: $main_blueL
          text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4)
    .txtWrap
      margin-bottom: 20px
      h2
        text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4)
        color: $main_white
        span
          text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4)
.store_firstScroll
	.storeBtnMain
		background-color: rgba($main_white, .9)
// ----------------------------------------------- store_firstScroll end

// ----------------------------------------------- store_potfolio start
.store_potfolio
	padding: 30px 0
	.portWrap
		position: relative
		margin-bottom: 20px
		border: 5px solid $main_blueL
		box-shadow: 0 0 10px #cccccc
		img
			max-width: 100%
			height: auto
		.txtWrap
			position: absolute
			top: 45%
			left: 0
			transform: translateY(-50%)
			background: $main_blueL
			width: 100%
			padding: 10px
			h2
				padding: 0
				margin: 0
// ----------------------------------------------- store_potfolio end



// ----------------------------------------------- store_offSale Start
.store_offSale
	padding: 50px 0
	background: $main_bgL
	.offSaleWrap
		border: 2px solid $main_blueL
		padding: 20px 10px
		text-align: center
		box-shadow: 0 5px 10px rgba(0,0,1, 0.4)
		h3
			margin-bottom: 20px
		h5
			margin-bottom: 20px
		span
			text-transform: uppercase
			font-size: 30px
			font-weight: bold
			color: $main_blueL
	.calc-programs
		margin-bottom: 20px
		display: flex
		flex-wrap: wrap
		justify-content: center
		flex-direction: column
		padding: 10px
		.calc-radio
			padding: 5px
			label
				cursor: pointer
				padding: 5px
				margin: 0
				&:before
					content: ''
					display: inline-block
					vertical-align: middle
					width: 24px
					height: 24px
					background-color: #ffffff
					border: 6px solid #fff
					box-shadow: 0 5px 10px rgba(0,0,1, 0.4)
					transition: 0.3s
				span
					display: inline-block
					vertical-align: middle
					margin-left: 5px
	input[type="radio"]
		display: none
		&:checked
			&+label::before
					background-color: $main_blueL
					border: 6px solid #fff
// ----------------------------------------------- store_offSale end

// ----------------------------------------------- store_likeSiteForm Start
.store_likeSite
	padding: 50px 0
	position: relative
	.arrowCont
		left: 40%
		top: 50%
		transform: translate(-50%,-50%)
		position: absolute
		i
			color: $main_blueL
			opacity: .2
			font-size: 30rem
	.txtCont
		p
			text-indent: 20px
			font-size: 18px
		hr
			background-color: $main_blueL
// ----------------------------------------------- store_likeSiteForm end


// ----------------------------------------------- store_rev Start
.store_rev
	padding: 30px
	background: $main_bgL
	img
		display: block
		margin-left: auto
		margin-right: auto
		max-width: 100%
		height: auto
	.store_revCont
		.store_revWrap
			margin: 10px
			&:focus
				outline: none
			.imgWrap
				z-index: 1
			.txtWrap
				background: #fff
				z-index: 2
				position: relative
				margin: 0px 20px
				top: -20px
				padding: 20px
				box-shadow: 0 0 10px #cccccc
				text-align: center
				h4
					padding: 0
					margin: 0
				p
					color: $main_blueL
					text-transform: uppercase
					margin: 0 0 20px 0
					padding: 0 
				hr
					margin: 5px 0
	.slick-dots
		.slick-active 
			button
				&:before
					color: $main_blueL !important
		li
			button
				&:before
					font-size: 20px
					color: $main_blueL
// ----------------------------------------------- store_rev End


// ----------------------------------------------- store_logoTrue Start
.store_logoTrue
	padding: 30px 0
	background: rgba($main_blueL, .6)
	img
		max-width: 100%
		height: auto
	.headMainCont
		h3
			&:after
				background: $main_white
// ----------------------------------------------- store_logoTrue End

// ----------------------------------------------- store_tech Start
.store_tech
	padding: 30px 0
	img
		max-width: 100%
		height: auto
// ----------------------------------------------- store_tech End


// ----------------------------------------------- store_problem Start
.store_problem
	background: rgba($main_color, .5)
	padding: 50px 0 0 0 
	.txtCont
		h2
			text-transform: uppercase
			font-weight: bold
	.store_formProblem
		input
			width: 100%
			padding: 10px
			border: 3px solid $main_blueL
			border-left: 50px solid $main_blueL
			text-align: center
			text-transform: uppercase
			margin-bottom: 20px
	.txtWrap
		h2
			text-transform: uppercase
			span
				font-weight: bold
				color: $main_blueL
	.storeBtnMain
		background: rgba($main_blueL, .7)
// ----------------------------------------------- store_problem end

// ----------------------------------------------- store_footer start
.store_contacts
	padding: 30px
	.formWrap
		h3
			text-transform: uppercase
	.txtCont
		.txtWrap
			padding-left: 20px
			i
				font-size: 20px
				margin-right: 10px
				color: $main_blueL
			.socWrap
				a
					i
						transition: .3s
						font-size: 40px
					&:hover
						i
							transition: .3s
							color: $main_blueL !important
					&:nth-child(1)
						i
							color: #3b5998
					&:nth-child(2)
						i
							color: #C13584
					&:nth-child(3)
						i
							color: #cc181e
// ----------------------------------------------- store_footer end


/* --- Form START ------------------------------------------------*/	
.store_contForm
	.txtWrap
		h4
			text-transform: uppercase
			margin-bottom: 20px
			span
				color: $main_blueL
	.inputWrap
		input
			width: 100%
			margin-bottom: 20px
			padding: 10px
			text-align: center
			text-transform: uppercase
			border: 1px solid $main_blueL
	.msgWrap
		margin-bottom: 10px
		textarea
			width: 100%
			height: 100px
			text-align: center
			padding: 10px
			text-transform: uppercase
			border: 1px solid $main_blueL
.store_likeSiteForm
	padding: 10px
	input
		padding: 10px
		width: 100%
		margin-bottom: 20px
		text-align: center
		text-transform: uppercase
.formOpen
	position: relative
	width: 400px
	max-width: 100%
	background: $main_white
	text-align: center
	border-radius: 10px
	padding: 10px
	h3,h4
		color: $main_blue
		margin-bottom: 10px
	input
		transition: 0.3s
		font-size: 20px
		margin-left: auto
		margin-right: auto
		display: block
		width: 400px
		max-width: 100%
		text-align: center
		padding: 10px
		border: 2px solid $main_yellow
		border-radius: 10px
		border-top-right-radius: 0
		margin-bottom: 10px
		&:focus
			transition: 0.3s
			outline: none
			border: 2px solid $main_blue
.howOpenForm
	height: 100%
	background: rgba($main_white, .9)
	padding: 20px
	border-radius: 10px
	box-shadow: 0px 5px 18px 0px rgba(1, 1, 1, .75)
	text-align: center
	display: flex
	flex-direction: column
	justify-content: center
	align-items: center
	h2
		margin-top: 5px
		color: $main_blue
		margin-bottom: 10px
	input
		transition: 0.3s
		font-size: 20px
		text-transform: uppercase
		margin-left: auto
		margin-right: auto
		display: block
		width: 400px
		max-width: 100%
		text-align: center
		padding: 10px
		border: 2px solid $main_yellow
		border-radius: 10px
		border-top-right-radius: 0
		margin-bottom: 10px
		&:focus
			transition: 0.3s
			outline: none
			border: 2px solid $main_blue
/* --- Form END ------------------------------------------------*/	
// -------------------------------------- Other Start

.callButton
	position: fixed
	bottom: 20px
	right: 20px
	z-index: 999
	a
		span
			background: $main_blue
			border-radius: 50%
			display: block
			border: $main_blue
			width: 60px
			height: 60px
			display: flex
			justify-content: center
			align-items: center
			position: relative
			&:after
				background: $main_blue
				content: ''
				position: absolute
				top: 0px
				left: 0px
				bottom: 0px
				right: 0px
				border: 2px solid $main_blue
				border-radius: 50%
				animation-name: borderAfter
				animation-duration: 5s
				animation-iteration-count: infinite
				animation-timing-function: ease-in-out
				opacity: 0.8
			&:before
				background: $main_blue
				content: ''
				position: absolute
				top: 0px
				left: 0px
				bottom: 0px
				right: 0px
				border: 2px solid $main_blue
				border-radius: 50%
				animation-name: borderAfter
				animation-duration: 5s
				animation-delay: 0.3s
				animation-iteration-count: infinite
				animation-timing-function: ease-in-out
				opacity: 0.8
			i
				color: $main_yellow
				font-size: 35px
				transition: 0.5s
				animation-name: phoneRotate
				animation-duration: 5s
				animation-iteration-count: infinite
		&:hover
			span
				i
					transition: 0.5s
					color: $main_white
					
@keyframes phoneRotate 
	0%
		transform: rotate(0deg)
	25%
		transform: rotate(20deg)
	50%
		transform: rotate(0deg)
	75%
		transform: rotate(-20deg)
	100%
		transform: rotate(0deg)
@keyframes borderAfter 
	20%, 100%
		background: $main_yellow
		border: 2px solid $main_yellow
		top: -20px
		left: -20px
		bottom: -20px
		right: -20px
		opacity: 0
/* --- Other START ------------------------------------------------*/	
.myW100
	width: 100%

//--------------------------------------- Other End


.headMainCont
	text-align: center
	h3
		text-transform: uppercase
		display: inline-block	
		position: relative
		padding: 10px
		margin-bottom: 20px
		&:before
			position: absolute
			content: ''
			bottom: 0
			left: 0
			width: 30%
			height: 2px
			background: $main_color
		&:after
			position: absolute
			content: ''
			bottom: 0
			right: 0
			width: 68%
			height: 2px
			background: $main_blueL
	p
		font-size: 18px
		font-style: italic
		color: $main_colorL
	h4
		text-transform: uppercase
	span
		color: $main_blueL


// ---------------------------------- Btn Start
.storeBtnMain
	cursor: pointer
	border: none
.storeBtnMain
  display: block
  background: rgba($main_blueL, .7)
  padding: 10px
  width: 250px
  max-width: 100%
  text-align: center
  box-shadow: 0 0 5px 0px rgba($main_color, .5)
  text-transform: uppercase
  position: relative
  span
    color: $main_color
    mix-blend-mode: multiply
  &:before
    transition: .3s
    position: absolute
    content: ''
    top: 0
    left: 0
    width: 100%
    height: 100%
    background: $main_blueL
    transform: scaleX(0)
    transform-origin: left
  &:hover
    &:before
      transition: .3s
      transform: scaleX(1)
// ---------------------------------- Btn End