@media only screen and (max-width : 1200px) {

}
@media only screen and (max-width : 1140px) {

}

@media only screen and (max-width : 992px) {

  .about .row img {
    border-radius: 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  .arrow-right
  {
    display: none;
  }
  .arrow-left
  {
    display: none;
  }
}
@media only screen and (max-width : 960px)
{

}
@media only screen and (max-width : 576px)
{

}