body {
  background: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 16px;
  color: #111;
  margin: 0;
  padding: 0;
  position: relative;
  line-height: 1.6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body a {
  text-decoration: none;
  color: #111;
}

body a:hover {
  text-decoration: none;
  color: #111;
}

button {
  outline: none;
}

button:focus {
  outline: none;
}

.hidden {
  display: none;
}

section {
  padding: 50px 0;
  overflow: hidden;
}

.done {
  min-height: 100vh;
}

.row-eq-height {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

/* --- Navbar START ------------------------------------------------*/
.navbar {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background: rgba(255, 255, 255, 0);
}

.navbar .navbar-brand {
  padding: 0;
}

.navbar img {
  width: 40px;
  margin: 0;
  padding: 0;
}

.navbar .anim {
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
}

.navbar .anim span {
  color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform-origin: left;
          transform-origin: left;
}

.navbar .anim:before {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-bottom: 2px solid #fff;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.navbar .anim:hover span {
  color: #fff;
}

.navbar .anim:hover:before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.navbar p {
  font-size: 24px;
  color: #fff;
  margin: 0;
  padding-right: 10px;
  display: inline-block;
}

.navbar .navbar-toggler-icon {
  background: url("../img/burger-light.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 2em;
  height: 2em;
}

.navbar .navbar-toggler-icon:focus {
  outline: none;
}

.navbar .navbar-toggler {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.navbar .navbar-toggler:focus {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  outline: none;
  border: 1px solid #fff;
}

.active {
  position: relative;
  overflow: hidden;
}

.active span {
  color: #3b4250 !important;
}

.active:before {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-bottom: 2px solid #111;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-animation: animate 7s linear infinite;
          animation: animate 7s linear infinite;
}

@-webkit-keyframes animate {
  0% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  50% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  51% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  100% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
}

@keyframes animate {
  0% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  50% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  51% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  100% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
}

.fixed-nav {
  background: #3b4250;
  color: #55595c;
  padding: .4rem .4rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.4);
}

.fixed-nav .anim span {
  color: #fff;
}

.fixed-nav p {
  color: #fff;
}

.fixed-nav .navbar-toggler-icon {
  background: url("../img/burger-light.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 2em;
  height: 2em;
}

.fixed-nav .navbar-toggler-icon:focus {
  outline: none;
}

.fixed-nav .navbar-toggler {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.fixed-nav .navbar-toggler:focus {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  outline: none;
  border: 1px solid #fff;
}

.navbar-nav {
  text-align: center;
}

/* --- Navbar END ------------------------------------------------*/
/* --- Header start------------------------------------------------*/
.firstBg {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(100%, rgba(17, 17, 17, 0.7)), to(rgba(17, 17, 17, 0.7))), url("../img/firstBg.jpg");
  background: linear-gradient(rgba(17, 17, 17, 0.7) 100%, rgba(17, 17, 17, 0.7) 100%), url("../img/firstBg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.firstScroll {
  padding: 50px 10px;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.firstScroll .titleCont {
  width: 100%;
}

.firstScroll .titleCont .titleWrap {
  margin-bottom: 20px;
}

.firstScroll .titleCont .titleWrap h1 {
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  font-size: 50px;
  margin-bottom: 20px;
  padding: 5px;
}

.firstScroll .titleCont .titleWrap h3 {
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  font-size: 30px;
  background: #3b4250;
  display: inline-block;
  padding: 5px;
}

.firstScroll .subTitleCont {
  width: 100%;
}

.firstScroll .subTitleCont .triggerWrap ul {
  list-style: none;
}

.firstScroll .subTitleCont .triggerWrap ul li {
  font-size: 24px;
  color: #fff;
  margin-bottom: 20px;
  position: relative;
}

.firstScroll .subTitleCont .triggerWrap ul li .iconWrap {
  position: absolute;
  top: 0;
  left: -36px;
}

.firstScroll .subTitleCont .triggerWrap ul li .iconWrap i {
  font-size: 30px;
}

/* --- Header END ------------------------------------------------*/
/* --- About Start ------------------------------------------------*/
.about {
  position: relative;
}

.about .bgIcon {
  position: absolute;
  right: 10%;
  bottom: 0px;
}

.about .bgIcon i {
  opacity: .2;
  font-size: 500px;
}

.about .imgWrap img {
  border: 5px solid #3b4250;
  max-width: 100%;
  height: auto;
}

.about .txtWrap {
  padding: 20px 10px;
  margin-left: -70px;
  background: #3b4250;
  -webkit-box-shadow: 10px 10px 0px 0px rgba(255, 127, 99, 0.7);
          box-shadow: 10px 10px 0px 0px rgba(255, 127, 99, 0.7);
}

.about .txtWrap p {
  color: #fff;
  padding: 0;
  margin: 0;
}

/* --- About END ------------------------------------------------*/
/* --- bluePrint Start ------------------------------------------------*/
.bluePrint {
  background: #e6e6e6;
}

.bluePrint .bluepSlider {
  background: rgba(59, 66, 80, 0.3);
  border: 2px solid #3b4250;
  margin: 50px;
}

.bluePrint .bluepSlider .bluePWrap {
  padding: 20px 20px 0 20px;
  outline: none;
}

.bluePrint .bluepSlider .bluePWrap .imgWrap img {
  max-width: 100%;
  height: auto;
  border: 2px solid #3b4250;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.bluePrint .bluepSlider .bluePWrap .txtWrap {
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 20px;
}

.bluePrint .bluepSlider .bluePWrap .txtWrap p {
  margin: 0;
  padding: 0;
}

/* --- bluePrint END ------------------------------------------------*/
/* --- workCount Start ------------------------------------------------*/
.workCount .workCont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  position: relative;
  -webkit-transition: .3s;
  transition: .3s;
}

.workCount .workCont:hover .numberWrap span {
  -webkit-transition: .3s;
  transition: .3s;
  opacity: 1;
}

.workCount .workCont .numberWrap {
  position: absolute;
  top: 45%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.workCount .workCont .numberWrap span {
  -webkit-transition: .3s;
  transition: .3s;
  opacity: .7;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 200px;
}

.workCount .workCont .titleCont {
  background: #3b4250;
  margin-left: 70px;
  text-align: center;
  padding: 10px;
}

.workCount .workCont .titleCont h3 {
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

.workCount .workCont .imgCont {
  margin-left: 70px;
}

.workCount .workCont .imgCont img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.workCount .workCont .txtCont {
  padding: 10px;
  font-weight: 500;
  background: #e6e6e6;
  margin-left: 70px;
  height: 100%;
}

.workCount .workCont .txtCont p {
  margin: 0;
  padding: 0;
}

/* --- workCount END ------------------------------------------------*/
/* --- prod Start ------------------------------------------------*/
.prod {
  background: #e6e6e6;
  padding-bottom: 0;
}

.prod .imgWrap {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #3b4250;
}

.prod .imgWrap img {
  max-width: 100%;
  width: 100%;
  height: auto;
}

.prod .txtCont {
  height: 100%;
  background: #3b4250;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

.prod .txtCont .txtWrap .btnWrap {
  padding: 10px;
  background: #fff;
}

.prod .txtCont .txtWrap h5 {
  margin: 0 0 5px 0;
  padding: 10px;
  background: #fff;
}

.prod .txtCont .txtWrap ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.prod .txtCont .txtWrap ul li {
  color: #fff;
  margin-left: 55px;
  position: relative;
  padding: 10px;
  background: rgba(230, 230, 230, 0.3);
  margin-bottom: 5px;
}

.prod .txtCont .txtWrap ul li i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
  width: 50px;
  height: 100%;
  position: absolute;
  left: -55px;
  top: 0;
  font-size: 25px;
  color: #3b4250;
}

/* --- prod END ------------------------------------------------*/
/* --- openFormRab Start ------------------------------------------------*/
.openFormRab {
  padding-bottom: 0;
}

.openFormRab .titleWrap {
  margin-bottom: 40px;
}

.openFormRab .titleWrap h3 {
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
}

.openFormRab .listWrap ul {
  margin: 0;
  list-style: none;
  padding: 0;
}

.openFormRab .listWrap ul li {
  padding: 15px;
  padding-left: 50px;
  font-size: 20px;
  margin-bottom: 30px;
  -webkit-box-shadow: 4px 10px 35px rgba(0, 0, 0, 0.2);
          box-shadow: 4px 10px 35px rgba(0, 0, 0, 0.2);
  position: relative;
}

.openFormRab .listWrap ul li i {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 18px;
}

.openFormRab .imgWrap img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
}

.openFormRab .formOpen {
  width: 100%;
}

/* --- openFormRab END ------------------------------------------------*/
/* --- portfolio Start ------------------------------------------------*/
.portfolio {
  background: #e6e6e6;
}

.portfolio .portSlider {
  margin: 0 50px;
}

.portfolio .portSlider .portWrap {
  background: #fff;
  border: 2px solid #3b4250;
  margin: 10px;
}

.portfolio .portSlider .portWrap .imgWrap img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.portfolio .portSlider .portWrap .txtWrap h5 {
  background: #3b4250;
  color: #fff;
  text-align: center;
  margin: 0;
  padding: 5px;
}

.portfolio .portSlider .portWrap .txtWrap ul {
  background: #fff;
  margin: 0;
}

/* --- portfolio END ------------------------------------------------*/
/* --- logoPart Start ------------------------------------------------*/
.logoPart {
  background: rgba(59, 66, 80, 0.7);
}

.logoPart .mainTitleCont h2 {
  color: #fff;
}

.logoPart .logoSlider {
  margin: 0 50px;
}

.logoPart .logoSlider .logoWrap {
  padding: 20px;
}

.logoPart .logoSlider .logoWrap img {
  max-width: 100%;
  height: auto;
}

/* --- logoPart end ------------------------------------------------*/
/* --- sert END ------------------------------------------------*/
.sert {
  text-align: center;
  padding: 50px;
  background: #f8f8f8;
}

.sert .totleMainCont h2 {
  background: #f8f8f8;
}

.sert .sertCont {
  outline: none;
  padding: 10px;
}

.sert .sertCont .sertWrap {
  padding: 10px;
  outline: none;
}

.sert .sertCont .sertWrap a {
  outline: none;
}

.sert .sertCont .sertWrap img {
  max-width: 100%;
  height: auto;
}

/* --- sert END ------------------------------------------------*/
/* --- reviews Start ------------------------------------------------*/
.reviews {
  padding: 50px;
}

.reviews .reviewsSlider .reviewsCont {
  outline: none;
  border: 2px solid rgba(59, 66, 80, 0.5);
  margin: 10px;
  position: relative;
  background: #e6e6e6;
  z-index: 1;
}

.reviews .reviewsSlider .reviewsCont .lineCont {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(59, 66, 80, 0.5);
  width: 100%;
  height: 40%;
  z-index: -1;
}

.reviews .reviewsSlider .reviewsCont .nameWrap {
  padding: 10px;
}

.reviews .reviewsSlider .reviewsCont .nameWrap h3 {
  color: #fff;
  margin: 0;
  padding: 0;
}

.reviews .reviewsSlider .reviewsCont .imgWrap {
  padding: 10px;
}

.reviews .reviewsSlider .reviewsCont .imgWrap img {
  -webkit-box-shadow: 0 0 10px rgba(17, 17, 17, 0.5);
          box-shadow: 0 0 10px rgba(17, 17, 17, 0.5);
  max-width: 100%;
  height: auto;
}

.reviews .reviewsSlider .reviewsCont .descWrap {
  padding: 10px;
}

.reviews .reviewsSlider .reviewsCont .descWrap p {
  color: #111;
  text-indent: 20px;
  margin: 0;
  padding: 0;
}

/* --- reviews END ------------------------------------------------*/
/* --- contacts start ------------------------------------------------*/
.contacts {
  background: rgba(59, 66, 80, 0.7);
}

.contacts .contactCont {
  display: inline-block;
  text-align: left;
  color: #fff;
}

.contacts .contactCont hr {
  border: 1px solid #3b4250;
  background-color: #3b4250;
  width: 40%;
  margin-left: 0;
  margin-right: auto;
}

.contacts .contactCont .contactWrap {
  padding-left: 20px;
}

.contacts .contactCont .contactWrap a {
  margin-left: 20px;
  display: block;
  color: #fff;
}

.contacts .contactCont .contactWrap a i {
  color: #3b4250;
  font-size: 20px;
  margin-right: 5px;
}

.contacts .contactCont .socIcon a {
  display: inline;
}

.contacts .contactCont .socIcon a i {
  font-size: 40px;
}

.contacts .contactCont .socIcon a:nth-child(1) i {
  color: #3b5998;
}

.contacts .contactCont .socIcon a:nth-child(2) i {
  color: #833AB4;
}

.contacts iframe {
  width: 100%;
}

/* --- contacts END ------------------------------------------------*/
/* --- Button Start ------------------------------------------------*/
.mainBtn {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  padding: 10px;
  max-width: 100%;
  text-transform: uppercase;
  border: none;
  background: #3b4250;
  color: #fff;
  -webkit-box-shadow: 0px 0px 10px 1px rgba(17, 17, 17, 0.2);
          box-shadow: 0px 0px 10px 1px rgba(17, 17, 17, 0.2);
  -webkit-transition: .3s;
  transition: .3s;
  cursor: pointer;
}

.mainBtn:hover {
  background: rgba(59, 66, 80, 0.8);
}

/* --- Button END ------------------------------------------------*/
/* --- Form START ------------------------------------------------*/
.formOpen {
  background: #fff;
  padding: 50px 20px;
  width: 500px;
  max-width: 100%;
  -webkit-box-shadow: 0px 0px 10px 1px rgba(17, 17, 17, 0.4);
          box-shadow: 0px 0px 10px 1px rgba(17, 17, 17, 0.4);
  position: relative;
}

.formOpen h3 {
  text-align: center;
}

.formOpen h4 {
  text-align: center;
  margin-bottom: 20px;
}

.formOpen input {
  font-size: 20px;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border: 2px solid transparent;
  border-bottom: 2px solid #3b4250;
}

.formOpen input:focus {
  outline: none;
  border: 2px solid rgba(59, 66, 80, 0.4);
}

.gorForm {
  padding: 20px 10px;
  background: rgba(59, 66, 80, 0.8);
}

.gorForm h3 {
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
}

.gorForm .inputWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.gorForm .inputWrap .mainBtn {
  display: inline;
  margin: 10px;
}

.gorForm .inputWrap input {
  margin: 10px;
  width: 280px;
  max-width: 100%;
  background: transparent;
  border: 2px solid transparent;
  border-bottom: 2px solid rgba(255, 255, 255, 0.4);
  padding: 10px;
  color: #fff;
}

.gorForm .inputWrap input:focus {
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.4);
}

.gorForm .inputWrap ::-webkit-input-placeholder {
  color: #fff;
}

.gorForm .inputWrap :-ms-input-placeholder {
  color: #fff;
}

.gorForm .inputWrap ::-ms-input-placeholder {
  color: #fff;
}

.gorForm .inputWrap ::placeholder {
  color: #fff;
}

/* --- Form END ------------------------------------------------*/
/* --- Other START ------------------------------------------------*/
.mainTitleCont {
  text-align: center;
  padding: 10px;
  margin-bottom: 20px;
}

.mainTitleCont h2 {
  padding: 10px;
  display: inline-block;
  border-bottom: 5px solid #3b4250;
  border-left: 50px solid #3b4250;
  position: relative;
}

.mainTitleCont h2 i {
  position: absolute;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 50%;
  left: -40px;
  color: #fff;
  font-size: 2rem !important;
}

.slick-dots li button:before {
  font-size: 15px;
  color: #3b4250 !important;
}

.slick-prev {
  left: -35px;
  width: 40px;
  height: 40px;
  z-index: 99;
}

.slick-prev:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-top: 5px solid #3b4250;
  border-right: 5px solid #3b4250;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.slick-next {
  right: -35px;
  width: 40px;
  height: 40px;
}

.slick-next:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-top: 5px solid #3b4250;
  border-right: 5px solid #3b4250;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slick-track .slick-slide {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.callButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
}

.callButton a span {
  background: #3b4250;
  border-radius: 50%;
  display: block;
  border: #3b4250;
  width: 60px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.callButton a span:after {
  background: #3b4250;
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border: 2px solid #3b4250;
  border-radius: 50%;
  -webkit-animation-name: borderAfter;
          animation-name: borderAfter;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  opacity: 0.8;
}

.callButton a span:before {
  background: #3b4250;
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border: 2px solid #3b4250;
  border-radius: 50%;
  -webkit-animation-name: borderAfter;
          animation-name: borderAfter;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  opacity: 0.8;
}

.callButton a span i {
  color: #fff;
  font-size: 35px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-animation-name: phoneRotate;
          animation-name: phoneRotate;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.callButton a:hover span i {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #fff;
}

@-webkit-keyframes phoneRotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes phoneRotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes borderAfter {
  20%, 100% {
    background: #3b4250;
    border: 2px solid #3b4250;
    top: -20px;
    left: -20px;
    bottom: -20px;
    right: -20px;
    opacity: 0;
  }
}

@keyframes borderAfter {
  20%, 100% {
    background: #3b4250;
    border: 2px solid #3b4250;
    top: -20px;
    left: -20px;
    bottom: -20px;
    right: -20px;
    opacity: 0;
  }
}
/*# sourceMappingURL=main.css.map */