$main_color: #111
$main_color_light: #55595c
$main_white: #fff
$main_rgb: #c6aa28
$main_bg: #e6e6e6
$main_bg_light: #fafafa


body
	font-family: 'Roboto', sans-serif
	font-weight: normal
	font-size: 16px
	color: $main_color
	margin: 0
	padding: 0
	position: relative
	line-height: 1.6
	box-sizing: border-box
	a
		text-decoration: none
		color: $main_color
		&:hover
			text-decoration: none
			color: $main_color
button
	outline: none
	&:focus
		outline: none
.hidden
	display: none

section
	padding: 50px 0
	overflow: hidden
.done
	min-height: 100vh
.row-eq-height
	display: flex
	flex-wrap: wrap
img
	max-width: 100%
	height: auto

/* --- Navbar START ------------------------------------------------*/
.navbar
	transition: 0.5s
	background-color: rgba(255,255,255, .9)
	.dropdown
		.dropdown-toggle
			&:after
				color: $main_color
			span
				transition: 0.3s
				color: $main_color
			&:hover
				span
					transition: 0.3s
					color: $main_rgb
	.navbar-brand
		padding: 0
	img
		width: 40px
		margin: 0
		padding: 0
	.anim
		text-transform: uppercase
		position: relative
		overflow: hidden
		span
			color: $main_color
			transition: 0.5s
			transform-origin: left
		&:before
			transition: 0.5s
			position: absolute
			content: ''
			top: 0
			left: 0
			width: 100%
			height: 100%
			border-bottom: 2px solid $main_rgb
			transform-origin: right
			transform: scaleX(0)
		&:hover
			span
				color: $main_rgb
			&:before
				transform: scaleX(1)
	p
		font-size: 24px
		color: $main_rgb
		margin: 0
		padding-right: 10px
		display: inline-block
	.navbar-toggler-icon
		background: url('../img/burger-light.png')
		background-size: 100% 100%
		background-repeat: no-repeat
		width: 2em
		height: 2em
		&:focus
			outline: none
	.navbar-toggler
		transition: 0.3s
		&:focus
			transition: 0.3s
			outline: none
			border: 1px solid #fff
.active
	position: relative
	overflow: hidden
	span
		color: $main_rgb !important
	&:before
		transition: 0.5s
		position: absolute
		content: ''
		top: 0
		left: 0
		width: 100%
		height: 100%
		border-bottom: 2px solid $main_color
		transform-origin: right
		transform: scaleX(0)
		animation: animate 7s linear infinite
@keyframes animate 
	0%
		transform-origin: right
		transform: scaleX(0)
	50%
		transform-origin: right
		transform: scaleX(1)
	51%
		transform-origin: right
		transform: scaleX(1)
	100%
		transform-origin: right
		transform: scaleX(0)
.fixed-nav
	.dropdown
		.dropdown-toggle
			&:after
				color: $main_color
			span
				color: $main_color
	.anim
		span
			color: $main_color
	p
		color: $main_color
	background: rgba(255,255,255, 0.9)
	color: $main_color_light	
	padding: .4rem .4rem
	transition: 0.5s
	box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.5)
	.navbar-toggler-icon
		background: url('../img/burger-black.png')
		background-size: 100% 100%
		background-repeat: no-repeat
		width: 2em
		height: 2em
		&:focus
			outline: none
	.navbar-toggler
		transition: 0.3s
		&:focus
			transition: 0.3s
			outline: none
			border: 1px solid $main_color
.navbar-nav
	text-align: center
.dropdown-item
  &.active, &:active
    color: $main_rgb
    text-decoration: none
    background-color: $main_white
/* --- Navbar END ------------------------------------------------*/



/* --- Header start------------------------------------------------*/	
.first
	padding-top: 75px
	min-height: 100vh
	background: url('../img/mainbg.jpg')
	background-size: cover
	background-repeat: no-repeat
	background-position: center center
	display: flex
	flex-direction: column
	flex-wrap: wrap
	justify-content: center
	.headerWrap
		box-shadow: 0px 0px 5px 1px rgba($main_rgb, .75)
		text-align: center
		background: rgba($main_color,.8)
		padding: 30px 5px
		hr
			color: $main_rgb
			background-color: $main_rgb
			width: 60%
			border: 1px solid $main_rgb
		h1
			text-transform: uppercase
			color: $main_white
		h3
			color: $main_white
			text-transform: uppercase
	.trigerWrap
		text-align: center
		text-shadow: 2px 2px 2px $main_color
		color: $main_white
		ul
			display: inline-block
			text-transform: uppercase
			list-style: none
			padding: 0
			li
				text-align: center
				padding: 5px 10px 5px 5px
				display: inline-block
				font-size: 16px
		.borderRight
			border-right: 2px solid $main_rgb
/* --- Header END ------------------------------------------------*/	


/* --- About Start ------------------------------------------------*/
.about
	img
		display: block
		margin-left: auto
		margin-right: auto
		box-shadow: 3px 3px 1px 0 rgba($main_color, .4)
	p
		text-indent: 20px
		margin: 0
/* --- About END ------------------------------------------------*/	


/* --- product Start ------------------------------------------------*/
.product
	background: $main_bg_light
	h5
		text-align: center
		font-style: italic
	.imgWrap
		position: relative
		&:before
			content: ''
			position: absolute
			top: 10px
			left: 10px
			width: 100%	
			height: 100%
			border: 3px solid $main_rgb
		.prodName
			padding: 10px
			position: absolute
			right: 30px
			bottom: 30px
			color: $main_rgb
			text-transform: uppercase
			background: rgba($main_color, .6)
			h2
				font-size: 3rem
				display: block
	.textWrap
		text-align: center
		p
			text-indent: 20px
			text-align: left
	.mainButton
		&:before
			border: 2px solid $main_rgb
	.imgWrapOther
		img
			display: block
			margin-left: auto
			margin-right: auto
/* --- product END ------------------------------------------------*/	


/* --- advantage Start ------------------------------------------------*/
.advantage
	background: $main_bg_light
	.advWrap
		p
			 font-style: italic
		i
			font-size: 30px
			margin-bottom: 10px
			color: $main_rgb
		hr
			width: 40%
			margin: 10px auto 10px 0
			&:before
				display: none
/* --- advantage END ------------------------------------------------*/	


/* --- reviews Start ------------------------------------------------*/
.reviews
	background: $main_bg
	.rewWrap
		display: flex
		flex-direction: column
		justify-content: space-between
		height: 100%
		background: $main_white
		padding: 15px 15px 15px 30px
		position: relative
		&:before
			position: absolute
			content: '“'
			top: -45px
			left: -10px
			font-size: 6rem
			color: $main_rgb
		h5
			text-align: right
/* --- reviews END ------------------------------------------------*/	



/* --- contacts Start ------------------------------------------------*/
.contacts
	ul
		margin-right: auto
		margin-left: auto
		display: inline-block
		padding: 0
		list-style: none
		li
			font-size: 20px
			i
				font-size: 22px
				margin-right: 10px
				color: $main_rgb
			.social
				transition: 0.3s
				font-size: 35px
				&:hover
					transition: 0.3s
					color: $main_bg
	iframe
		width: 100%
		height: 250px
/* --- contacts END ------------------------------------------------*/



/* --- Button Start ------------------------------------------------*/
.mainButton
	display: inline-block
	background: rgba($main_rgb, .7)
	padding: 10px 20px
	text-transform: uppercase
	color: $main_white
	position: relative
	transition: 0.3s
	&:before
		position: absolute
		content: ''
		top: -10px
		left: -10px
		bottom: -10px
		right: -10px
		opacity: 0
		border: 2px solid $main_white
		transition: 0.3s
	&:hover
		transition: 0.3s
		background: $main_rgb
		color: $main_white
		&:before
			transition: 0.3s
			top: 0
			left: 0
			right: 0
			bottom: 0
			opacity: 1
/* --- Button END ------------------------------------------------*/	


/* --- Form START ------------------------------------------------*/	
.openformCont
	background: $main_bg_light
	border: 1px solid $main_rgb
	text-align: center
	width: 100%
	padding: 20px 10px
	input
		border: none
		border-bottom: 2px solid $main_rgb
		text-transform: uppercase
		padding: 10px 5px
		width: 100%
		margin-bottom: 20px
		text-align: center
	.mainButton
		border: none
		&:before
			border: 2px solid $main_rgb
/* --- Form END ------------------------------------------------*/	


/* --- Other START ------------------------------------------------*/	

.headerH
	h3
		text-transform: uppercase
		text-align: center
		padding: 10px 5px 10px 5px
	hr
		width: 60%
		background-color: $main_rgb
		border: 1px solid $main_rgb
		position: relative
		margin-bottom: 30px
		&:before
			display: block
			position: absolute
			content: ''
			left: 50%
			bottom: -8px
			height: 16px
			width: 16px
			background-color: $main_rgb
			transform: translateX(-50%) rotate(45deg)