@font-face {
  font-family: StudioScriptC;
  src: url("../font/studioscript.ttf");
}

body {
  background: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 16px;
  color: #47433E;
  margin: 0;
  padding: 0;
  position: relative;
  line-height: 1.6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body a {
  text-decoration: none;
  color: #47433E;
}

body a:hover {
  text-decoration: none;
  color: #47433E;
}

button {
  outline: none;
}

button:focus {
  outline: none;
}

.hidden {
  display: none;
}

section {
  padding: 50px 0;
  overflow: hidden;
}

.done {
  min-height: 100vh;
}

.row-eq-height {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

/* --- menuBtn Start ------------------------------------------------*/
.menuBtn {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 30px;
  height: 29px;
  z-index: 55;
  display: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #fff;
  border-radius: 2px;
}

.menuBtn span {
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-transform: rotate(0) translate(0);
          transform: rotate(0) translate(0);
}

.menuBtnHide span {
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-transform: rotate(0) translate(0);
          transform: rotate(0) translate(0);
  display: block;
  width: 80%;
  height: 3px;
  background: #50BEB4;
}

.menuBtnShow {
  background: none;
}

.menuBtnShow span {
  -webkit-transition: .3s;
  transition: .3s;
  display: block;
  width: 100%;
  height: 3px;
  background: #50BEB4;
}

.menuBtnShow span:nth-child(1) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.menuBtnShow span:nth-child(2) {
  display: none;
}

.menuBtnShow span:nth-child(3) {
  -webkit-transform: rotate(-45deg) translate(10px, -10px);
          transform: rotate(-45deg) translate(10px, -10px);
}

/* --- menuBtn end ------------------------------------------------*/
/* --- Navbar START ------------------------------------------------*/
.navMobile {
  background: #fff;
  padding: 20px 10px;
  min-height: 100vh;
  position: fixed;
  width: 200px;
  right: 0;
  z-index: 50;
  -webkit-transition: .3s;
  transition: .3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  -webkit-box-shadow: -6px 0px 5px rgba(0, 0, 0, 0.1);
          box-shadow: -6px 0px 5px rgba(0, 0, 0, 0.1);
}

.navMobile__title {
  margin-top: 50px;
  text-align: center;
}

.navMobile__title h4 {
  margin: 0;
  font-weight: bold;
  color: #50BEB4;
  font-size: 32px;
  text-transform: uppercase;
}

.navMobile hr {
  background: #F0F0F0;
  width: 100%;
  height: 1px;
}

.navMobile__list {
  margin: auto 0;
  padding: 0;
  list-style: none;
}

.navMobile__list ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.navMobile__list ul li {
  margin-bottom: 10px;
}

.navMobile__list ul li a {
  color: #47433E;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
  padding-bottom: 10px;
}

.navMobile__list ul li a:after {
  -webkit-transition: .3s;
  transition: .3s;
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-bottom: 2px solid #50BEB4;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  opacity: 0;
}

.navMobile__list ul li a:hover:after {
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.navMobile__list ul li .active:after {
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.navMobile__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navMobile__contacts p, .navMobile__contacts a {
  font-size: 16px;
  color: #47433E;
}

.navMobile__contacts p i, .navMobile__contacts a i {
  color: #50BEB4;
}

.navMobile__contacts a {
  -webkit-transition: .3s;
  transition: .3s;
}

.navMobile__contacts a:hover {
  -webkit-transition: .3s;
  transition: .3s;
  color: #50BEB4;
}

.navMobile__social {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.navMobile__social a {
  font-size: 30px;
}

.navMobile__social a i {
  color: #50BEB4;
}

.navMobileShow {
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-transform: translateY(0) !important;
          transform: translateY(0) !important;
}

.navMobileHide {
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-transform: translateY(-200%) !important;
          transform: translateY(-200%) !important;
}

/* --- Navbar END ------------------------------------------------*/
/* --- firstScroll Start ------------------------------------------------*/
.firstScroll {
  background: url("../img/firstBg.jpg");
  background-position: top right;
  background-repeat: no-repeat;
  background-size: auto 100%;
  min-height: 100vh;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 992px) {
  .firstScroll {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(100%, rgba(255, 255, 255, 0.6)), to(rgba(255, 255, 255, 0.6))), url("../img/firstBg.jpg");
    background: linear-gradient(rgba(255, 255, 255, 0.6) 100%, rgba(255, 255, 255, 0.6) 100%), url("../img/firstBg.jpg");
    background-position: top right;
    background-repeat: no-repeat;
    background-size: auto 100%;
  }
}

.firstScroll__navBar {
  margin-bottom: auto;
  padding: 10px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 992px) {
  .firstScroll__navBar-list {
    display: none;
  }
  .firstScroll__navBar-phone {
    display: none !important;
  }
}

.firstScroll__navBar-logo img {
  max-width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.firstScroll__navBar-list {
  width: 40%;
}

.firstScroll__navBar-list ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0;
  padding: 0;
  list-style: none;
}

.firstScroll__navBar-list ul li {
  margin: 0 5px;
}

.firstScroll__navBar-list ul li a {
  -webkit-transition: .3s;
  transition: .3s;
}

.firstScroll__navBar-list ul li a:hover {
  color: #50BEB4;
  -webkit-transition: .3s;
  transition: .3s;
}

.firstScroll__navBar-phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.firstScroll__navBar-phone-num {
  font-size: 20px;
  font-weight: 600;
}

.firstScroll__navBar-phone-btn {
  text-decoration: underline;
  font-size: 14px;
  text-align: right;
  color: #50BEB4;
}

.firstScroll__title {
  padding: 10px 10px 10px 40px;
  margin: 0 0 auto 50px;
  border-left: 10px solid #50BEB4;
}

.firstScroll__title h1, .firstScroll__title h2 {
  font-weight: 900;
  font-size: 36px;
  text-transform: uppercase;
  color: #50BEB4;
  margin: 0;
  padding: 0;
}

.firstScroll__title h1 {
  margin-bottom: 40px;
}

@media (max-width: 992px) {
  .firstScroll__title {
    margin: 0 0 auto 10px;
    padding: 10px 10px 10px 20px;
  }
  .firstScroll__title h1, .firstScroll__title h2 {
    font-size: 24px;
  }
}

.firstScroll__form {
  padding: 10px 17%;
  margin-bottom: auto;
}

.firstScroll__form-cont {
  border: 5px solid #50BEB4;
  padding: 20px 10px;
  background: rgba(255, 255, 255, 0.6);
}

.firstScroll__form-cont-title {
  text-align: center;
}

.firstScroll__form-cont-title h3 {
  margin-bottom: 20px;
  color: #50BEB4;
}

.firstScroll__form-cont-title h3 span {
  text-transform: uppercase;
}

.firstScroll__form-cont-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 992px) {
  .firstScroll__form-cont-input {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.firstScroll__form-cont-input input {
  max-width: 100%;
  margin: 5px;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  border: 1px solid #50BEB4;
  background: rgba(80, 190, 180, 0.2);
  padding: 10px;
  color: #50BEB4;
}

@media (max-width: 540px) {
  .firstScroll__form-cont-input input {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.firstScroll__form-cont-input input:focus {
  -webkit-transition: .3s;
  transition: .3s;
  outline: none;
  border: 1px solid #fff;
}

.firstScroll__form-cont-input ::-webkit-input-placeholder {
  color: #50BEB4;
  -webkit-transition: .3s;
  transition: .3s;
}

.firstScroll__form-cont-input :-ms-input-placeholder {
  color: #50BEB4;
  -webkit-transition: .3s;
  transition: .3s;
}

.firstScroll__form-cont-input ::-ms-input-placeholder {
  color: #50BEB4;
  -webkit-transition: .3s;
  transition: .3s;
}

.firstScroll__form-cont-input ::placeholder {
  color: #50BEB4;
  -webkit-transition: .3s;
  transition: .3s;
}

.firstScroll__form-cont-input button {
  margin: 5px;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}

@media (max-width: 674px) {
  .firstScroll__form-cont-input button {
    -ms-flex-preferred-size: inherit;
        flex-basis: inherit;
  }
}

@media (max-width: 992px) {
  .firstScroll__form {
    padding: 10px;
  }
}

/* --- firstScroll end ------------------------------------------------*/
/* --- about Start ------------------------------------------------*/
.about {
  position: relative;
}

.about__leftSq {
  position: absolute;
  top: 18vh;
  left: -20px;
  width: 400px;
  height: 200px;
  border: 20px solid rgba(80, 190, 180, 0.7);
}

.about__rightSq {
  position: absolute;
  bottom: 4vh;
  right: -20px;
  width: 400px;
  height: 200px;
  border: 20px solid rgba(80, 190, 180, 0.7);
}

.about .mainTitle h2 {
  margin-left: 25vw;
}

.about__wrap {
  position: relative;
}

.about__wrap:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(80, 190, 180, 0.6);
}

.about__wrap-img img {
  width: 100%;
  height: auto;
}

.about__wrap-txt {
  padding: 10px;
  position: absolute;
  width: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.about__wrap-txt h4 {
  color: #fff;
  padding: 0;
  margin: 0 0 5px 0;
  font-weight: 900;
  font-size: 28px;
}

.about__wrap-txt p {
  padding: 0;
  margin: 0;
  color: #fff;
  font-weight: 500;
}

@media (max-width: 460px) {
  .about__wrap-txt {
    padding: 5px;
  }
  .about__wrap-txt h4 {
    font-size: 18px;
  }
  .about__wrap-txt p {
    font-size: 14px;
  }
}

@media (max-width: 1440px) {
  .about__leftSq, .about__rightSq {
    width: 200px;
    height: 200px;
  }
  .about__leftSq {
    top: 20vh;
  }
  .about__rightSq {
    bottom: 5vh;
  }
}

@media (max-width: 992px) {
  .about__leftSq, .about__rightSq {
    border: 20px solid rgba(80, 190, 180, 0.1);
  }
}

/* --- about end ------------------------------------------------*/
/* --- implant Start ------------------------------------------------*/
.implant {
  background: rgba(80, 190, 180, 0.3);
}

.implant .mainTitle {
  padding: 10px;
}

.implant__slider {
  margin: 5px 50px;
}

.implant__slider-cont {
  padding: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.implant__slider-cont-img {
  border: 5px solid #50BEB4;
  margin-bottom: 10px;
}

.implant__slider-cont-img img {
  width: 100%;
  height: auto;
}

.implant__slider-cont-title {
  padding: 10px;
}

.implant__slider-cont-title h4 {
  font-size: 18px;
}

@media (max-width: 1440px) {
  .implant__slider-cont {
    padding: 10px;
  }
}

.implant__desc {
  padding: 10px;
}

.implant__desc h2 {
  padding: 0;
  margin: 0 0 10px 0;
  font-size: 28px;
  font-weight: 900;
}

.implant__desc p {
  margin: 0;
  padding: 0 0 0 10px;
  font-weight: 500;
}

.implant__order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 500px;
  height: 100%;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 10px;
  text-align: center;
  border: 5px solid #50BEB4;
  background: #fff;
}

.implant__order h3 {
  font-weight: 500;
  font-size: 20px;
  color: #50BEB4;
  padding: 0;
  margin: 0 0 15px 0;
}

.implant__order h4 {
  font-weight: 500;
  font-size: 18px;
  color: #50BEB4;
  padding: 0;
  margin: 0 0 15px 0;
}

.implant__order hr {
  width: 80%;
  border: 1px solid rgba(80, 190, 180, 0.3);
}

/* --- implant end ------------------------------------------------*/
/* --- prod Start ------------------------------------------------*/
.prod .mainTitle h2 {
  margin-left: 25vw;
}

.prod .row {
  border: 10px solid #50BEB4;
  background: #f6f6f6;
}

.prod__img img {
  width: 100%;
  height: auto;
}

.prod__desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.prod__desc-icon img {
  max-width: 100%;
  height: auto;
}

.prod__desc-txt {
  padding: 10px;
}

.prod__desc-txt h4 {
  font-family: StudioScriptC;
  font-size: 35px;
}

.prod__desc-txt ul li {
  font-weight: 500;
}

@media (max-width: 1230px) {
  .prod__desc-icon {
    display: none;
  }
}

/* --- prod end ------------------------------------------------*/
/* --- formOffer Start ------------------------------------------------*/
.formOffer {
  padding: 60px 0;
  background: url("../img/open.png");
  background-position: top right;
  background-repeat: no-repeat;
  background-size: auto 100%;
}

.formOffer .openForm {
  background: rgba(255, 255, 255, 0.65);
  padding: 50px 10px;
}

.formOffer .openForm input {
  margin-bottom: 30px;
}

.formOffer .openForm h4 {
  font-size: 20px;
}

.formOffer__title {
  padding: 10px;
}

.formOffer__title h2 {
  font-size: 36px;
  font-weight: 900;
  text-transform: uppercase;
  padding: 0;
  margin: 0 0 20px 0;
  color: #50BEB4;
}

.formOffer__title h4 {
  font-size: 24px;
  font-weight: bold;
  color: #50BEB4;
}

@media (max-width: 992px) {
  .formOffer {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(100%, rgba(255, 255, 255, 0.7)), to(rgba(255, 255, 255, 0.7))), url("../img/open.png");
    background: linear-gradient(rgba(255, 255, 255, 0.7) 100%, rgba(255, 255, 255, 0.7) 100%), url("../img/open.png");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: auto 100%;
  }
  .formOffer__title {
    text-align: center;
  }
  .formOffer__title h2 {
    font-size: 22px;
  }
  .formOffer__title h4 {
    font-size: 18px;
  }
}

/* --- formOffer end ------------------------------------------------*/
/* --- after Start ------------------------------------------------*/
.after .mainTitle {
  margin-bottom: 30px;
}

.after .mainTitle h2 {
  margin-left: 25vw;
}

.after__slider {
  margin: 5px 50px;
}

.after__slider .slick-prev {
  left: 46%;
  top: 75%;
}

.after__slider .slick-next {
  right: 46%;
  top: 75%;
}

@media (max-width: 1280px) {
  .after__slider .slick-prev, .after__slider .slick-next {
    top: 83%;
  }
}

@media (max-width: 1140px) {
  .after__slider .slick-prev, .after__slider .slick-next {
    top: 85%;
  }
  .after__slider .slick-prev {
    left: 44%;
  }
  .after__slider .slick-next {
    right: 44%;
  }
}

@media (max-width: 992px) {
  .after__slider .slick-prev, .after__slider .slick-next {
    top: 50%;
  }
  .after__slider .slick-prev {
    left: -40px;
  }
  .after__slider .slick-next {
    right: -40px;
  }
}

.after__slider-cont {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.after__slider-cont-img {
  border: 5px solid #50BEB4;
}

.after__slider-cont-img img {
  width: 100%;
  height: auto;
}

.after__slider-cont-desc {
  padding: 70px 50px;
  text-align: center;
  background: #F0F0F0;
}

.after__slider-cont-desc h3 {
  font-weight: bold;
  font-size: 24px;
}

.after__slider-cont-desc hr {
  width: 80%;
}

@media (max-width: 1170px) {
  .after__slider-cont-desc {
    padding: 50px 40px;
  }
}

@media (max-width: 992px) {
  .after__slider-cont {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

/* --- after end ------------------------------------------------*/
/* --- personal Start ------------------------------------------------*/
.personal {
  background: rgba(80, 190, 180, 0.3);
}

.personal .mainTitle {
  padding: 10px;
  margin-bottom: 20px;
}

@media (max-width: 992px) {
  .personal .mainTitle h2 {
    font-size: 38px;
  }
}

.personal__slider-cont {
  margin: 5px 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.personal__slider-cont-wrap {
  padding: 10px;
  height: 100%;
  background: #fff;
  text-align: center;
  margin-bottom: 20px;
}

.personal__slider-cont-wrap-img {
  border: 5px solid #50BEB4;
  margin-bottom: 10px;
}

.personal__slider-cont-wrap-img img {
  width: 100%;
  height: auto;
}

.personal__slider-cont-wrap-title {
  margin-bottom: 10px;
  padding: 5px;
}

.personal__slider-cont-wrap-title h3 {
  font-size: 18px;
  font-weight: 900;
  padding: 0;
  margin: 0;
}

.personal__slider-cont-wrap-desc {
  padding: 5px;
}

.personal__slider-cont-wrap-desc p {
  margin: 0;
  padding: 0;
}

@media (max-width: 992px) {
  .personal__slider {
    margin: 5px 20px;
  }
  .personal__slider .slick-prev {
    left: -32px;
  }
  .personal__slider .slick-next {
    right: -32px;
  }
}

/* --- personal end ------------------------------------------------*/
/* --- photo Start ------------------------------------------------*/
.photo {
  position: relative;
}

.photo__bgTitle {
  position: absolute;
  top: 50%;
  left: 2%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media (max-width: 992px) {
  .photo__bgTitle {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

.photo__bgTitle h2 {
  font-size: 100px;
  color: rgba(80, 190, 180, 0.2);
  font-weight: 900;
  text-transform: uppercase;
}

.photo__slider {
  margin-bottom: 50px;
  width: 60%;
  max-width: 100%;
  margin-left: auto;
  margin-right: 0;
}

.photo__slider .slick-prev, .photo__slider .slick-next {
  top: inherit;
  bottom: -70px;
  background: #50BEB4;
}

.photo__slider .slick-prev i, .photo__slider .slick-next i {
  background: #50BEB4;
  color: #fff;
}

.photo__slider .slick-prev {
  left: 0;
}

.photo__slider .slick-next {
  left: 50px;
}

@media (max-width: 992px) {
  .photo__slider {
    width: 100%;
  }
  .photo__slider .slick-prev {
    left: 30%;
  }
  .photo__slider .slick-next {
    left: inherit;
    right: 30%;
  }
}

.photo__slider-cont {
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.photo__slider-cont:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(80, 190, 180, 0.6);
  -webkit-transition: .3s;
  transition: .3s;
}

.photo__slider-cont-img {
  -webkit-transition: .3s;
  transition: .3s;
  border: 5px solid #50BEB4;
}

.photo__slider-cont-img img {
  width: 100%;
  height: auto;
}

.photo__slider .slick-current {
  position: relative;
}

.photo__slider .slick-current:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: none;
  -webkit-transition: .3s;
  transition: .3s;
}

/* --- photo end ------------------------------------------------*/
/* --- sert Start ------------------------------------------------*/
.sert {
  background: rgba(80, 190, 180, 0.3);
}

.sert .mainTitle {
  padding: 10px;
  margin-bottom: 20px;
}

@media (max-width: 992px) {
  .sert .mainTitle h2 {
    font-size: 38px;
  }
}

.sert__slider-cont {
  padding: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sert__slider-cont-img {
  border: 5px solid #50BEB4;
}

.sert__slider-cont-img img {
  width: 100%;
  height: auto;
}

@media (max-width: 992px) {
  .sert__slider {
    margin: 5px 20px;
  }
  .sert__slider .slick-prev {
    left: -32px;
  }
  .sert__slider .slick-next {
    right: -32px;
  }
}

/* --- sert end ------------------------------------------------*/
/* --- formOfferT Start ------------------------------------------------*/
.formOfferT {
  padding: 60px 0;
  background: url("../img/openT.png");
  background-position: top right;
  background-repeat: no-repeat;
  background-size: auto 100%;
  position: relative;
}

.formOfferT__bgTitle {
  position: absolute;
  bottom: -32px;
  left: -225px;
}

@media (max-width: 992px) {
  .formOfferT__bgTitle {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

.formOfferT__bgTitle h2 {
  font-size: 100px;
  color: rgba(80, 190, 180, 0.2);
  font-weight: 900;
  text-transform: uppercase;
}

.formOfferT .openForm {
  background: rgba(255, 255, 255, 0.65);
  padding: 50px 10px;
}

.formOfferT .openForm input {
  margin-bottom: 30px;
}

.formOfferT__title {
  padding: 10px;
}

.formOfferT__title h2 {
  font-size: 36px;
  font-weight: 900;
  text-transform: uppercase;
  padding: 0;
  margin: 0 0 20px 0;
  color: #50BEB4;
}

@media (max-width: 992px) {
  .formOfferT {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(100%, rgba(255, 255, 255, 0.7)), to(rgba(255, 255, 255, 0.7))), url("../img/openT.png");
    background: linear-gradient(rgba(255, 255, 255, 0.7) 100%, rgba(255, 255, 255, 0.7) 100%), url("../img/openT.png");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: auto 100%;
  }
  .formOfferT__title {
    text-align: center;
  }
  .formOfferT__title h2 {
    font-size: 22px;
  }
}

/* --- formOfferT end ------------------------------------------------*/
/* --- contacts Start ------------------------------------------------*/
.contacts {
  padding: 30px 0 0 0;
}

.contacts h3 {
  font-family: StudioScriptC;
  font-size: 45px;
  text-align: center;
  margin-bottom: 20px;
  color: #50BEB4;
}

.contacts-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
  padding-bottom: 20px;
}

.contacts-cont-line {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 5%;
  width: 2px;
  height: 90%;
  background: #F0F0F0;
}

@media (max-width: 450px) {
  .contacts-cont-line {
    display: none;
  }
}

.contacts-cont-list {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contacts-cont-list-item h4 {
  font-size: 18px;
  color: #50BEB4;
  font-weight: bold;
}

.contacts-cont-list-item img {
  max-width: 100%;
  height: auto;
}

.contacts-cont-list-item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 300;
}

.contacts-cont-list-item a i {
  color: #50BEB4;
  margin-right: 5px;
  font-size: 30px;
}

.contacts__iframe {
  height: 100%;
  border: 5px solid #50BEB4;
}

.contacts__iframe iframe {
  width: 100%;
  height: 100%;
}

/* --- contacts end ------------------------------------------------*/
/* --- buttons Start ------------------------------------------------*/
.mainBtn {
  text-align: center;
  cursor: pointer;
  display: block;
  width: 250px;
  max-width: 100%;
  border: 2px solid #50BEB4;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  background: #50BEB4;
  color: #fff;
  -webkit-transition: .3s;
  transition: .3s;
}

.mainBtn:hover {
  -webkit-transition: .3s;
  transition: .3s;
  background: #fff;
  color: #50BEB4;
}

/* --- buttons end ------------------------------------------------*/
/* --- forms Start ------------------------------------------------*/
.openForm {
  position: relative;
  width: 400px;
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid #50BEB4;
  padding: 20px 10px;
  background: #fff;
}

.openForm img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.openForm h3, .openForm h4 {
  text-align: center;
  color: #50BEB4;
  margin-bottom: 20px;
}

.openForm h3 {
  font-size: 20px;
  font-weight: bold;
}

.openForm h4 {
  font-size: 16px;
  font-weight: 500;
}

.openForm input {
  margin-left: auto;
  margin-right: auto;
  display: block;
  -webkit-transition: .3s;
  transition: .3s;
  width: 90%;
  padding: 10px;
  margin-bottom: 25px;
  border: 1px solid #50BEB4;
  background: rgba(80, 190, 180, 0.1);
  color: #50BEB4;
}

.openForm input:focus {
  outline: none;
  border: 1px solid #fff;
  background: #fff;
}

.openForm ::-webkit-input-placeholder {
  color: #50BEB4;
}

.openForm :-ms-input-placeholder {
  color: #50BEB4;
}

.openForm ::-ms-input-placeholder {
  color: #50BEB4;
}

.openForm ::placeholder {
  color: #50BEB4;
}

/* --- forms end ------------------------------------------------*/
/* --- Other START ------------------------------------------------*/
.mainTitle h2 {
  font-size: 100px;
  font-weight: 900;
  color: rgba(80, 190, 180, 0.2);
  text-transform: uppercase;
  padding: 0;
  margin: 0 0 10px 0;
}

.mainTitle h3 {
  font-family: StudioScriptC;
  font-size: 45px;
  text-align: center;
  color: #50BEB4;
}

@media (max-width: 992px) {
  .mainTitle h2 {
    margin: 0 0 10px 0 !important;
    text-align: center;
    font-size: 45px;
  }
  .mainTitle h3 {
    font-size: 30px;
  }
}

.slick-dots li button:before {
  font-size: 15px;
  color: #50BEB4 !important;
}

.slick-prev {
  top: inherit;
  left: -40px;
  top: 40%;
  width: 40px;
  height: 40px;
  z-index: 99;
  background: #fff;
  -webkit-transition: .3s;
  transition: .3s;
}

.slick-prev:hover {
  -webkit-transition: .3s;
  transition: .3s;
}

.slick-prev:hover i {
  -webkit-transition: .3s;
  transition: .3s;
  background: #50BEB4;
  color: #fff;
}

.slick-prev:before {
  display: none;
}

.slick-prev i {
  -webkit-transition: .3s;
  transition: .3s;
  color: #50BEB4;
  font-size: 22px;
  background: #fff;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slick-next {
  top: inherit;
  right: -40px;
  top: 40%;
  width: 40px;
  height: 40px;
  z-index: 99;
  background: #fff;
  -webkit-transition: .3s;
  transition: .3s;
}

.slick-next:hover {
  -webkit-transition: .3s;
  transition: .3s;
}

.slick-next:hover i {
  -webkit-transition: .3s;
  transition: .3s;
  background: #50BEB4;
  color: #fff;
}

.slick-next:before {
  display: none;
}

.slick-next i {
  -webkit-transition: .3s;
  transition: .3s;
  color: #50BEB4;
  font-size: 22px;
  background: #fff;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slick-track .slick-slide {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/*# sourceMappingURL=main.css.map */