$main_color: #000
$main_color_light: rgba($main_color, .8)
$main_white: #fff
$main_rgb: #ff7f63
$main_bg: #3b4250
$main_bg_light: #f8f8f8


body
	background: $main_white
	font-family: 'Roboto', sans-serif
	font-weight: normal
	font-size: 16px
	color: $main_color
	margin: 0
	padding: 0
	position: relative
	line-height: 1.6
	box-sizing: border-box
	a
		text-decoration: none
		color: $main_color
		&:hover
			text-decoration: none
			color: $main_color
button
	outline: none
	&:focus
		outline: none
.hidden
	display: none

section
	padding: 50px 0
	overflow: hidden
.done
	min-height: 100vh
.row-eq-height
	display: flex
	flex-wrap: wrap
h1, h2, h3, h4, h5
	font-family: 'rubik', sans-serif;
::selection
	background: $main_rgb
/* --- Navbar START ------------------------------------------------*/
.navbar
	transition: 0.5s
	background: transparent
	.navbar-brand
		padding: 0
	img
		width: 40px
		margin: 0
		padding: 0
	.anim
		text-transform: uppercase
		position: relative
		span
			font-weight: 500
			color: $main_white
			transition: 0.5s
			transform-origin: left
		&:before
			transition: 0.5s
			position: absolute
			content: ''
			top: 0
			left: 0
			width: 100%
			height: 100%
			border-bottom: 2px solid $main_rgb
			transform: translateY(50%)
			opacity: 0
		&:hover
			span
				color: $main_rgb
			&:before
				transform: translateY(0)
				opacity: 1
	p
		font-size: 24px
		text-shadow: 0px 0px 20px $main_white
		color: $main_white
		margin: 0
		padding-right: 10px
		display: inline-block
	.navbar-toggler-icon
		background: url('../img/burger-light.png')
		background-size: 100% 100%
		background-repeat: no-repeat
		width: 2em
		height: 2em
		&:focus
			outline: none
	.navbar-toggler
		transition: 0.3s
		&:focus
			transition: 0.3s
			outline: none
			border: 1px solid #fff
.active
	position: relative
	overflow: hidden
	span
		color: $main_rgb !important
	&:before
		transition: 0.5s
		position: absolute
		content: ''
		top: 0
		left: 0
		width: 100%
		height: 100%
		border-bottom: 2px solid $main_color
		transform: translateY(0) !important
		opacity: 1 !important
.fixed-nav
	.anim
		span
			color: $main_color
	p
		color: $main_color
	background: $main_white
	color: $main_color_light	
	padding: .4rem .4rem
	transition: 0.5s
	box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.2)
	.navbar-toggler-icon
		background: url('../img/burger-black.png')
		background-size: 100% 100%
		background-repeat: no-repeat
		width: 2em
		height: 2em
		&:focus
			outline: none
	.navbar-toggler
		transition: 0.3s
		&:focus
			transition: 0.3s
			outline: none
			border: 1px solid $main_color
.navbar-nav
	text-align: center
	
/* --- Navbar END ------------------------------------------------*/




/* --- Header start------------------------------------------------*/
.firstScroll
	background: linear-gradient(rgba($main_bg, .7) 100%, rgba($main_bg, .7) 100%), url('../img/firstBg.jpg')
	background-position: center center
	background-repeat: no-repeat
	background-size: cover
	min-height: 100vh
	display: flex
	flex-direction: column
	align-items: center
	justify-content: center
	.titleCont
		.titleWrap
			margin-bottom: 20px
			h1
				color: $main_white
				text-transform: uppercase
				font-weight: 700
			h2
				color: $main_white
				text-transform: uppercase
				font-weight: 700
		.descWrap
			position: relative
			padding: 10px
			padding-left: 70px
			&:after
				position: absolute
				content: ''
				top: 50%
				left: 0
				transform: translateY(-50%)
				width: 60px
				height: 2px
				background: $main_white
			p
				font-size: 20px
				padding: 0
				margin: 0
				color: $main_white
	.btnCont
		width: 100%
		display: flex
		flex-direction: row
		flex-wrap: wrap
		justify-content: space-around
		align-items: center
		.btnWrap
			margin: 5px
			.txtWrap
				padding: 5px
				margin: 5px
				p
					font-weight: 500
					text-transform: uppercase
					padding: 0
					margin: 0
					color: $main_white
			.btnIn	
/* --- Header END ------------------------------------------------*/	


/* --- About Start ------------------------------------------------*/
.about
	.videoImgWrap
		.imgWrap
			img
				max-width: 100%
				height: auto
	.txtCont
		display: flex
		justify-content: center
		align-self: center
		height: 100%
		background: $main_bg
		padding: 10px
		p
			font-size: 18px
			font-weight: 500
			color: $main_white
			align-self: center
			padding: 0
			margin: 0
	.countCont
		display: flex
		justify-content: space-around
		align-items: center
		flex-wrap: wrap
		.countWrap
			margin: 5px
			display: flex
			flex-direction: column
			justify-content: center
			align-items: center
			.numberWrap
				position: relative
				margin-bottom: 30px
				display: flex
				justify-content: center
				align-items: center
				height: 50px
				width: 150px
				background: $main_rgb
				&:after
					position: absolute
					content: ''
					bottom: -10px
					right: -10px
					width: 60%
					height: 80%
					border-bottom: 2px solid $main_rgb
					border-right: 2px solid $main_rgb
				.counter
					font-weight: bold
					color: $main_white
					font-size: 20px
			.txtWrap
				p
					text-transform: uppercase
					font-weight: bold
					padding: 0
					margin: 0
/* --- About END ------------------------------------------------*/	


/* --- product Start ------------------------------------------------*/
.prod
	background: $main_bg
	.totleMainCont
		z-index: 1
		h2
			background: transparent
			z-index: 2
			color: $main_white
			&:before, &:after
				border-color: rgba($main_white, .4)
	.titleCont
		text-align: center
		color: $main_white
		text-transform: uppercase
	hr
		background-color: $main_rgb
		width: 60%
		margin-bottom: 20px
	.prodTitle
		padding: 10px
		h4
			margin: 0
			padding: 10px	
			background: $main_rgb
			text-transform: uppercase
			color: $main_white
			text-align: center
	.imgWrap
		outline: none
		img
			max-width: 100%
			height: auto
	.txtCont
		padding: 10px
		display: flex
		justify-content: center
		align-items: center
		flex-direction: column
		height: 100%
		.btnWrap
			.mainBtn
				width: auto
		.txtWrap
			padding: 10px
			p
				margin: 0
				padding: 0
				color: $main_white
	.borderR
		border: 2px solid rgba($main_white, .4)
		border-left: none
		transition: .3s
		&:hover
			border: 2px solid $main_rgb
			border-left: none
	.borderL
		border: 2px solid rgba($main_white, .4)
		border-right: none
		transition: .3s
		&:hover
			border: 2px solid $main_rgb
			border-right: none
/* --- product END ------------------------------------------------*/	

/* --- openFormRab Start ------------------------------------------------*/
.openFormRab
	padding-bottom: 0
	.titleWrap
		margin-bottom: 40px
		h3
			text-transform: uppercase
			font-weight: 700
			text-align: center
	.listWrap
		ul
			margin: 0
			list-style: none
			padding: 0
			li
				padding: 15px
				padding-left: 50px
				font-size: 20px
				margin-bottom: 30px
				box-shadow: 4px 10px 35px rgba(0,0,0,.2)
				position: relative
				i
					position: absolute
					top: 50%
					transform: translateY(-50%)
					left: 18px
	.imgWrap
		img
			display: block
			margin-left: auto
			margin-right: auto
			max-width: 100%
			height: auto	
	.formOpen
		width: 100%				
/* --- openFormRab END ------------------------------------------------*/	


/* --- dropshipping Start ------------------------------------------------*/	
/* --- dropshipping END ------------------------------------------------*/	




/* --- action END ------------------------------------------------*/
/* --- action END ------------------------------------------------*/	


/* --- advantage Start ------------------------------------------------*/	
.advantage
	padding-bottom: 0
	background: $main_bg
	.totleMainCont
		z-index: 1
		h2
			background: transparent
			z-index: 2
			color: $main_white
			&:before, &:after
				border-color: rgba($main_white, .4)
	.listCont
		padding-right: 100px
		height: 100%
		display: flex
		justify-content: center
		align-items: center
		.listWrap
			border: 2px solid $main_rgb
			box-shadow: 0px 0px 10px 2px rgba($main_color,.3)
			margin-left: -40px
			padding: 20px
			background: $main_white
			ul
				padding: 0
				margin: 0
				list-style: none
				li
					padding: 10px
					background: $main_bg
					position: relative
					margin-left: 50px
					font-size: 20px
					color: $main_white
					margin-bottom: 20px
					img
						position: absolute
						top: 50%
						transform: translateY(-50%)
						width: 50px
						left: -57px
/* --- advantage END ------------------------------------------------*/	
/* --- steps start ------------------------------------------------*/
.steps
	background: $main_white
	.stepsCont
		position: relative
		transition: .3s
		.numberWrap
			top: 5px
			left: 10px
			position: absolute
			transition: .5s
			z-index: 2
			span
				line-height: 0
				color: rgba($main_rgb, .7)
				font-size: 120px
				font-weight: bold
				text-transform: uppercase
		&:hover
			.numberWrap
				transition: .5s
				top: 20px
				left: 20px
			transition: .3s
			box-shadow: 0 0 10px rgba($main_color, .6)
			.txtWrap
				transition: .3s
				background: rgba($main_color, .8)
		.imgWrap
			img
				width: 100%
				max-width: 100%
				height: auto
		.txtWrap
			transition: .3s
			background: rgba($main_color, .4)
			border: 3px solid $main_rgb
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: 100%
			display: flex
			justify-content: center
			align-items: center
			padding: 10px
			p
				font-size: 18px
				color: $main_white
				font-weight: bold
				text-transform: uppercase
				text-align: center
				margin: 0
				padding: 0
/* --- steps END ------------------------------------------------*/	

/* --- reviews Start ------------------------------------------------*/	
.reviews
	padding: 50px
	.reviewsSlider
		.reviewsCont
			outline: none
			border: 2px solid rgba($main_rgb, .5)
			margin: 10px
			position: relative
			background: $main_bg
			z-index: 1
			.lineCont
				position: absolute
				top: 0
				left: 0
				background: rgba($main_rgb, .5)
				width: 100%
				height: 40%
				z-index: -1
			.nameWrap
				padding: 10px
				h3
					color: $main_white
					margin: 0
					padding: 0
			.imgWrap
				padding: 10px
				img
					box-shadow: 0 0 10px rgba($main_color, .5s)
					max-width: 100%
					height: auto
			.descWrap
				padding: 10px
				p
					color: $main_white
					text-indent: 20px
					margin: 0
					padding: 0
/* --- reviews END ------------------------------------------------*/	

/* --- sert END ------------------------------------------------*/
.sert
	text-align: center
	padding: 50px
	background: $main_bg_light
	.totleMainCont
		h2
			background: $main_bg_light
	.sertCont
		outline: none
		padding: 10px
		.sertWrap
			padding: 10px
			outline: none
			a
				outline: none
			img
				max-width: 100%
				height: auto
/* --- sert END ------------------------------------------------*/	


/* --- contacts start ------------------------------------------------*/
.contacts
	background: $main_bg
	.contactCont
		display: inline-block
		text-align: left
		color: $main_white
		hr
			border: 1px solid $main_rgb
			background-color: $main_rgb
			width: 40%
			margin-left: 0
			margin-right: auto
		.contactWrap
			padding-left: 20px

			a
				margin-left: 20px
				display: block
				color: $main_white
				i
					color: $main_rgb
					font-size: 20px
					margin-right: 5px
		.socIcon
			a
				display: inline
				i
					font-size: 40px
				&:nth-child(1)
					i
						color: 	#3b5998
				&:nth-child(2)
					i
						color: #833AB4
	iframe
		width: 100%
/* --- contacts END ------------------------------------------------*/




/* --- Button Start ------------------------------------------------*/
.mainBtn
	margin-left: auto
	margin-right: auto
	max-width: 100%
	text-align: center
	display: block
	width: 280px
	text-transform: uppercase
	background: $main_rgb
	border: 2px solid $main_rgb
	transition: .3s
	padding: 10px
	color: $main_white
	font-weight: bold
	&:hover
		color: $main_white
		border: 2px solid rgba(255,255,255,.4)
		background: rgba(255,255,255,.4)
/* --- Button END ------------------------------------------------*/	


/* --- Form START ------------------------------------------------*/
.formOpen
	.mfp-close
		color: $main_white
	position: relative
	width: 400px
	max-width: 100%
	background: $main_bg
	padding: 30px 20px
	h3
		text-align: center
		color: $main_rgb
		text-transform: uppercase
		font-weight: 700	
	h4
		border: 1px solid $main_rgb
		padding: 10px
		margin: 0
		margin-bottom: 20px
		color: $main_white
		text-align: center
	input
		margin-bottom: 20px
		background: transparent
		border: 2px solid transparent
		border-bottom: 2px solid rgba($main_white, .4)
		width: 100%
		padding: 10px
		color: $main_white
		&:focus
			outline: none
			border: 2px solid rgba($main_white, .4)
	::placeholder
		color: $main_white

.gorForm
	padding: 20px 10px
	background: $main_bg
	h3
		text-transform: uppercase
		font-weight: 700
		color: $main_white
		text-align: center
		margin-bottom: 20px
	.inputWrap
		display: flex
		justify-content: center
		flex-wrap: wrap
		.mainBtn
			display: inline
			margin: 10px
		input
			margin: 10px
			width: 280px
			max-width: 100%
			background: transparent
			border: 2px solid transparent
			border-bottom: 2px solid rgba($main_white, .4)
			padding: 10px
			color: $main_white
			&:focus
				outline: none
				border: 2px solid rgba($main_white, .4)
		::placeholder
			color: $main_white
/* --- Form END ------------------------------------------------*/	


/* --- Other START ------------------------------------------------*/	

.totleMainCont
	text-align: center
	margin-bottom: 50px
	padding: 10px
	h2
		font-weight: 500
		text-transform: uppercase
		margin: 0
		display: inline-block
		background: $main_white
		position: relative
		padding: 10px
		&:before
			content: ''
			z-index: 1
			position: absolute
			width: 50%
			height: 15px
			top: -25%
			left: 50%
			transform: translateX(-50%)
			border-top: 5px solid rgba($main_color, .5)
			border-right: 5px solid rgba($main_color, .5)
			border-left: 5px solid rgba($main_color, .5)
		&:after
			content: ''
			z-index: 1
			position: absolute
			width: 50%
			height: 15px
			bottom: -25%
			left: 50%
			transform: translateX(-50%)
			border-bottom: 5px solid rgba($main_color, .5)
			border-right: 5px solid rgba($main_color, .5)
			border-left: 5px solid rgba($main_color, .5)



.slick-dots
	li
		button
			&:before
				font-size: 15px
				color: $main_rgb !important
.slick-prev
	left: -35px
	width: 40px
	height: 40px
	z-index: 99
	&:before
		position: absolute
		content: ''
		width: 100%
		height: 100%
		top: 0
		left: 0
		border-top: 5px solid $main_rgb
		border-right: 5px solid $main_rgb
		transform: rotate(-135deg)
.slick-next
	right: -35px
	width: 40px
	height: 40px
	&:before
		position: absolute
		content: ''
		width: 100%
		height: 100%
		top: 0
		left: 0
		border-top: 5px solid $main_rgb
		border-right: 5px solid $main_rgb
		transform: rotate(45deg)

.slick-track
	display: flex
	.slick-slide
		height: auto
		display: flex
		flex-direction: column


.callButton
	position: fixed
	bottom: 20px
	right: 20px
	z-index: 999
	a
		span
			background: $main_color_light
			border-radius: 50%
			display: block
			border: $main_color_light
			width: 60px
			height: 60px
			display: flex
			justify-content: center
			align-items: center
			position: relative
			&:after
				background: $main_color_light
				content: ''
				position: absolute
				top: 0px
				left: 0px
				bottom: 0px
				right: 0px
				border: 2px solid $main_bg
				border-radius: 50%
				animation-name: borderAfter
				animation-duration: 5s
				animation-iteration-count: infinite
				animation-timing-function: ease-in-out
				opacity: 0.8
			&:before
				background: $main_bg
				content: ''
				position: absolute
				top: 0px
				left: 0px
				bottom: 0px
				right: 0px
				border: 2px solid $main_color_light
				border-radius: 50%
				animation-name: borderAfter
				animation-duration: 5s
				animation-delay: 0.3s
				animation-iteration-count: infinite
				animation-timing-function: ease-in-out
				opacity: 0.8
			i
				color: $main_rgb
				font-size: 35px
				transition: 0.5s
				animation-name: phoneRotate
				animation-duration: 5s
				animation-iteration-count: infinite
		&:hover
			span
				i
					transition: 0.5s
					color: $main_white
					
@keyframes phoneRotate 
	0%
		transform: rotate(0deg)
	25%
		transform: rotate(20deg)
	50%
		transform: rotate(0deg)
	75%
		transform: rotate(-20deg)
	100%
		transform: rotate(0deg)
@keyframes borderAfter 
	20%, 100%
		background: $main_rgb
		border: 2px solid $main_rgb
		top: -20px
		left: -20px
		bottom: -20px
		right: -20px
		opacity: 0	