body {
  background: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 16px;
  color: #111;
  margin: 0;
  padding: 0;
  position: relative;
  line-height: 1.6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body a {
  text-decoration: none;
  color: #111;
}

body a:hover {
  text-decoration: none;
  color: #111;
}

button {
  outline: none;
}

button:focus {
  outline: none;
}

.hidden {
  display: none;
}

section {
  padding: 50px 0;
  overflow: hidden;
}

.done {
  min-height: 100vh;
}

.row-eq-height {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

/* --- Navbar START ------------------------------------------------*/
.navbar {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background: rgba(255, 255, 255, 0);
}

.navbar .navbar-brand {
  padding: 0;
}

.navbar .dropdown a {
  font-weight: bold;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #fff;
}

.navbar .dropdown .dropdown-menu a {
  color: #111;
}

.navbar img {
  width: 40px;
  margin: 0;
  padding: 0;
}

.navbar .anim {
  font-weight: bold;
  position: relative;
  overflow: hidden;
}

.navbar .anim span {
  color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform-origin: left;
          transform-origin: left;
}

.navbar .anim:before {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-bottom: 2px solid #000080;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.navbar .anim:hover span {
  color: #000080;
}

.navbar .anim:hover:before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.navbar p {
  font-size: 24px;
  text-shadow: 0px 0px 20px #fff;
  color: #fff;
  margin: 0;
  padding-right: 10px;
  display: inline-block;
}

.navbar .navbar-toggler-icon {
  background: url("../img/burger-light.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 2em;
  height: 2em;
}

.navbar .navbar-toggler-icon:focus {
  outline: none;
}

.navbar .navbar-toggler {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.navbar .navbar-toggler:focus {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  outline: none;
  border: 1px solid #fff;
}

.navbar .active {
  position: relative;
  overflow: hidden;
}

.navbar .active span {
  color: #000080 !important;
}

.navbar .active:before {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-bottom: 2px solid #111;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-animation: animate 7s linear infinite;
          animation: animate 7s linear infinite;
}

@-webkit-keyframes animate {
  0% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  50% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  51% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  100% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
}

@keyframes animate {
  0% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  50% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  51% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  100% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
}

.fixed-nav {
  background: rgba(255, 255, 255, 0.9);
  color: #55595c;
  padding: .4rem .4rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: 0px 8px 25px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 8px 25px 0px rgba(0, 0, 0, 0.4);
}

.fixed-nav .dropdown a {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #111;
}

.fixed-nav .anim span {
  color: #111;
}

.fixed-nav p {
  color: #111;
}

.fixed-nav .navbar-toggler-icon {
  background: url("../img/burger-black.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 2em;
  height: 2em;
}

.fixed-nav .navbar-toggler-icon:focus {
  outline: none;
}

.fixed-nav .navbar-toggler {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.fixed-nav .navbar-toggler:focus {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  outline: none;
  border: 1px solid #111;
}

.navbar-nav {
  text-align: center;
}

/* --- Navbar END ------------------------------------------------*/
/* --- toko_firstScroll start------------------------------------------------*/
.mainBg01 {
  background: url("../img/mainBg01.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainBg02 {
  background: url("../img/mainBg02.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mainBg02 h1 {
  text-transform: uppercase;
}

.toko_firstScroll {
  padding: 0;
}

.toko_firstScroll .sliderWrap {
  padding: 30px 50px;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.toko_firstScroll .sliderWrap .headCont h1, .toko_firstScroll .sliderWrap .headCont h2, .toko_firstScroll .sliderWrap .headCont h4 {
  color: #fff;
}

.toko_firstScroll .sliderWrap .headCont h1 {
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
  font-size: 72px;
}

.toko_firstScroll .sliderWrap .headCont h2 {
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  background: rgba(0, 0, 128, 0.8);
  font-size: 60px;
}

.toko_firstScroll .sliderWrap .headCont h4 {
  font-size: 50px;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
}

.slick-prev {
  z-index: 99;
  left: 10px;
  width: 35px;
  height: 35px;
}

.slick-prev:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-top: 5px solid #fff;
  border-right: 5px solid #fff;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.slick-next {
  right: 10px;
  width: 35px;
  height: 35px;
}

.slick-next:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-top: 5px solid #fff;
  border-right: 5px solid #fff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

/* --- toko_firstScroll END ------------------------------------------------*/
/* --- toko_action Start ------------------------------------------------*/
.toko_action {
  padding: 0;
}

.toko_action .actionCont {
  margin: 0;
}

.toko_action img {
  max-width: 100%;
  height: auto;
}

.toko_action .slick-dots {
  width: auto;
  bottom: 10px;
  z-index: 99;
}

.toko_action .slick-dots li button:before {
  font-size: 30px;
  color: #000080;
}

/* --- toko_action END ------------------------------------------------*/
/* --- About Start ------------------------------------------------*/
.toko_about {
  padding: 0;
}

.toko_about .aboutCont {
  height: 500px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  position: relative;
}

.toko_about .aboutCont .btnWrap {
  position: absolute;
  bottom: 5px;
  left: 10px;
}

.toko_about .aboutCont .btnWrap h4 {
  background: #000080;
  padding: 10px;
  color: #fff;
}

.toko_about .aboutCont .aboutWrap {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  background: #000080;
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-transform: translateX(-150%);
          transform: translateX(-150%);
}

.toko_about .aboutCont .aboutWrap ul {
  color: #fff;
  font-size: 20px;
  margin: 0;
}

.toko_about .aboutCont:hover .aboutWrap {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

/* --- About END ------------------------------------------------*/
/* --- product Start ------------------------------------------------*/
.toko_prod {
  text-align: center;
}

.toko_prod .listTabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}

.toko_prod .listTabs li {
  -webkit-transition: .3s;
  transition: .3s;
  cursor: pointer;
  border: 2px solid #000080;
  padding: 10px;
  margin: 10px;
  width: 200px;
  max-width: 100%;
}

.toko_prod .listTabs li:hover {
  -webkit-transition: .3s;
  transition: .3s;
  background: rgba(0, 0, 128, 0.1);
}

.toko_prod .listTabs .active {
  -webkit-transition: .3s;
  transition: .3s;
  background: #000080;
}

.toko_prod .listTabs .active a {
  color: #fff;
}

.toko_prod .listTabs .active:hover {
  -webkit-transition: .3s;
  transition: .3s;
  background: #000080;
}

.toko_prod .listTabs .active:hover a {
  color: #fff;
}

.toko_prod .headerCont h3 {
  margin-bottom: 20px;
}

.toko_prod .headerCont h4 {
  margin-bottom: 20px;
  text-transform: uppercase;
  color: #000080;
  font-weight: bold;
}

.toko_prod .headerCont hr {
  background-color: #000080;
  width: 70%;
  border: 1px solid #000080;
  margin-bottom: 50px;
}

.toko_prod img {
  outline: none;
  opacity: .5;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.toko_prod .prod_SliderWrap {
  outline: none;
  overflow: hidden;
}

.toko_prod .prod_SliderWrap .imgWrap {
  overflow: hidden;
}

.toko_prod .prod_SliderWrap .txtWrap {
  -webkit-transition: .3s;
  transition: .3s;
}

.toko_prod .prod_SliderWrap .btnWrap .mainBtn {
  margin-bottom: 10px;
}

.toko_prod .slick-center img {
  opacity: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.toko_prod .slick-center .txtWrap h3 {
  -webkit-transition: .3s;
  transition: .3s;
  color: #000080;
}

.toko_prod .slick-prev {
  z-index: 99;
  left: 10px;
  width: 35px;
  height: 35px;
}

.toko_prod .slick-prev:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-top: 5px solid #000080;
  border-right: 5px solid #000080;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.toko_prod .slick-next {
  z-index: 99;
  right: 10px;
  width: 35px;
  height: 35px;
}

.toko_prod .slick-next:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-top: 5px solid #000080;
  border-right: 5px solid #000080;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

/* --- product END ------------------------------------------------*/
/* --- advantage Start ------------------------------------------------*/
.toko_advantage {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(100%, rgba(0, 0, 128, 0.5)), to(rgba(0, 0, 128, 0.5))), url("../img/advImg.jpg");
  background: linear-gradient(rgba(0, 0, 128, 0.5) 100%, rgba(0, 0, 128, 0.5) 100%), url("../img/advImg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.toko_advantage .headerCont {
  text-align: center;
  margin-bottom: 30px;
}

.toko_advantage .headerCont h2 {
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
  text-transform: uppercase;
  display: inline-block;
  color: #fff;
}

.toko_advantage .advCont {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.toko_advantage .advCont .headWrap h4 {
  font-weight: bold;
  background: rgba(255, 255, 255, 0.7);
  padding: 10px;
  text-align: center;
  color: #000080;
}

.toko_advantage .advCont .headWrap hr {
  background-color: #000080;
  border: 2px solid #000080;
}

.toko_advantage .advCont .descWrap p {
  text-align: center;
  font-size: 20px;
  color: #fff;
}

/* --- advantage END ------------------------------------------------*/
/* --- toko_promo Start ------------------------------------------------*/
.toko_promo {
  padding: 100px 0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(100%, rgba(255, 255, 255, 0.7)), to(rgba(255, 255, 255, 0.7))), url("../img/map.jpg");
  background: linear-gradient(rgba(255, 255, 255, 0.7) 100%, rgba(255, 255, 255, 0.7) 100%), url("../img/map.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.toko_promo hr {
  width: 80%;
  background-color: #000080;
  border: 1px solid #000080;
}

.toko_promo .headerCont {
  text-align: center;
}

.toko_promo .headerCont h2 {
  text-transform: uppercase;
  font-weight: bold;
}

.toko_promo .headerCont h2 span {
  color: #fb313b;
}

.toko_promo .telWrap {
  text-align: center;
}

.toko_promo .telWrap a {
  font-size: 30px;
  color: #000080;
  font-weight: bold;
}

/* --- toko_promo END ------------------------------------------------*/
/* --- toko_form Start ------------------------------------------------*/
.toko_form {
  padding-bottom: 0;
}

.toko_form .headerCont {
  text-align: center;
  margin-bottom: 30px;
}

.toko_form .headerCont h2 {
  padding: 10px 20px;
  background: rgba(0, 0, 128, 0.7);
  margin: 0;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
  text-transform: uppercase;
  display: inline-block;
  color: #fff;
}

.toko_form .toko_formHelp .inputWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.toko_form .toko_formHelp .inputWrap input {
  width: 300px;
  max-width: 100%;
  margin: 10px;
  padding: 10px;
  text-align: center;
  border: none;
  border-bottom: 2px solid #000080;
  background: rgba(0, 0, 128, 0.1);
}

.toko_form .toko_formHelp .inputWrap select {
  border: none;
  border-bottom: 2px solid #000080;
  background: rgba(0, 0, 128, 0.1);
  padding: 13px;
  text-align: center;
  width: 300px;
  max-width: 100%;
  margin: 10px;
}

/* --- toko_form END ------------------------------------------------*/
/* --- toko_sert Start ------------------------------------------------*/
.toko_sert {
  background: rgba(0, 0, 128, 0.1);
}

.toko_sert img {
  max-width: 100%;
  height: auto;
}

.toko_sert .sertCont .sertWrap {
  outline: none;
  padding: 20px;
}

.toko_sert .slick-prev:before {
  border-top: 5px solid #000080;
  border-right: 5px solid #000080;
}

.toko_sert .slick-next:before {
  border-top: 5px solid #000080;
  border-right: 5px solid #000080;
}

/* --- toko_sert END ------------------------------------------------*/
/* --- contacts Start ------------------------------------------------*/
.toko_contacts .contactCont .contactWrap {
  padding-left: 20px;
}

.toko_contacts .contactCont .contactWrap i {
  color: #000080;
  margin-right: 10px;
}

.toko_contacts iframe {
  width: 100%;
  height: 250px;
}

/* --- contacts END ------------------------------------------------*/
/* --- Button Start ------------------------------------------------*/
.mainBtn {
  background: #000080;
  text-transform: uppercase;
  color: #fff;
  padding: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 270px;
  max-width: 100%;
  text-align: center;
  -webkit-transition: .3s;
  transition: .3s;
}

.mainBtn:hover {
  background: rgba(0, 0, 128, 0.5);
  color: #fff;
}

/* --- Button END ------------------------------------------------*/
/* --- Form START ------------------------------------------------*/
/* --- Form END ------------------------------------------------*/
/* --- Other START ------------------------------------------------*/
.fixedBtn {
  position: fixed;
  top: 50%;
  right: 0;
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: translateX(88%);
          transform: translateX(88%);
}

.fixedBtn .arrowCont a {
  cursor: pointer;
}

.fixedBtn .arrowCont a i {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 5px;
  background: #000080;
  font-size: 30px;
  color: #fff;
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

.fixedBtn .arrowCont a i:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background: #fff;
  color: #000080;
}

.fixedBtn .btnCont {
  padding: 10px;
}

.fixedBtn .btnCont .mainBtn {
  margin-bottom: 10px;
  width: 250px;
}

.activFixedBtn {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: translateX(0) !important;
          transform: translateX(0) !important;
}

.activFixedBtn .arrowCont a i {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: rotate(180deg) !important;
          transform: rotate(180deg) !important;
}
/*# sourceMappingURL=main.css.map */