@media only screen and (min-width : 1500px) 
{

}
@media only screen and (max-height : 530px) 
{
  .toko_firstScroll .sliderWrap
  {
    padding: 70px 10px !important;
  }
}



@media only screen and (max-width : 1800px)
{

}
@media only screen and (max-width : 1600px)
{

}
@media only screen and (max-width : 1450px)
{

}
@media only screen and (max-width : 1280px)
{

}
@media only screen and (max-width : 1200px)
{
  .toko_firstScroll .helpNav
  {
    display: none;
  }
}
@media only screen and (max-width : 1140px) 
{

}

@media only screen and (max-width : 992px)
{
  h1 
  {
    font-size: 1.4rem !important;
  }
  h2
  {
    font-size: 1.3rem !important;
  }
  h3 
  {
    font-size: 1.2rem !important;
  }
  h4
  {
    font-size: 1.1rem !important;
  }
  h5
  {
    font-size: 1rem !important;
  }
  .toko_firstScroll .sliderWrap .headCont
  {
    text-align: center; 
  }
  .toko_about .aboutCont .aboutWrap ul
  {
    font-size: 16px;
  }
}
@media only screen and (max-width : 800px)
{

}
@media only screen and (max-width : 960px)
{

}
@media only screen and (max-width : 768px)
{



}
@media only screen and (max-width : 576px)
{
  .toko_firstScroll .sliderWrap
  {
    justify-content: center;
    padding: 10px;
  }
}
@media only screen and (max-width : 450px)
{


}
@media only screen and (max-width : 400px)
{


}