body {
  background: #fafcfc;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 16px;
  color: #252626;
  margin: 0;
  padding: 0;
  position: relative;
  line-height: 1.6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body a {
  text-decoration: none;
  color: #252626;
}

body a:hover {
  text-decoration: none;
  color: #252626;
}

button {
  outline: none;
}

button:focus {
  outline: none;
}

.hidden {
  display: none;
}

section {
  overflow: hidden;
}

.done {
  min-height: 100vh;
}

/* --- Navbar START ------------------------------------------------*/
/* --- Navbar END ------------------------------------------------*/
/* --- firstScroll start------------------------------------------------*/
.firstScroll {
  padding-top: 10px;
  min-height: 100vh;
  background: url("../img/firstBg.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.firstScroll .navBarStatic {
  padding: 10px 10px 10px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.firstScroll .navBarStatic .logoCont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.firstScroll .navBarStatic .logoCont .imgWrap img {
  width: 10rem;
}

.firstScroll .navBarStatic .logoCont .txtWrap p {
  padding: 10px;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  margin: 0;
  font-size: 1.2rem;
}

.firstScroll .navBarStatic .menuCont {
  margin-left: auto;
}

.firstScroll .navBarStatic .menuCont ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.firstScroll .navBarStatic .menuCont ul li {
  display: inline;
}

.firstScroll .navBarStatic .menuCont ul li a {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-transform: uppercase;
  color: white;
  padding-right: 20px;
}

.firstScroll .navBarStatic .menuCont ul li:hover a {
  color: #feda46;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.firstScroll .pcImgWrap img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.firstScroll .triggersCont .headerWrap {
  margin-bottom: 30px;
}

.firstScroll .triggersCont .headerWrap h1 {
  color: #fff;
}

.firstScroll .triggersCont .headerWrap h1 span {
  color: #feda46;
}

.firstScroll .triggersCont .txtCont {
  margin-left: 20px;
}

.firstScroll .triggersCont .txtCont .txtWrap {
  position: relative;
  z-index: 1;
  margin-bottom: 20px;
}

.firstScroll .triggersCont .txtCont .txtWrap .txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 10px;
  z-index: 3;
}

.firstScroll .triggersCont .txtCont .txtWrap .txt .imgWrap {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.firstScroll .triggersCont .txtCont .txtWrap .txt .imgWrap img {
  width: 5.6rem;
}

.firstScroll .triggersCont .txtCont .txtWrap .txt .trWrap p {
  line-height: 35px;
  color: #fff;
  font-size: 24px;
  padding: 0;
  margin: 0;
}

.firstScroll .triggersCont .txtCont .txtWrap .number {
  z-index: -1;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.firstScroll .triggersCont .txtCont .txtWrap .number p {
  line-height: 70px;
  font-size: 86px;
  color: #cfd8dc;
  opacity: 0.5;
  padding: 0;
  margin: 0;
}

/* --- firstScroll END ------------------------------------------------*/
/* --- About Start ------------------------------------------------*/
.about {
  padding: 0 0 30px 0;
}

.about .txtWrap {
  padding: 20px;
}

.about .txtWrap h2 {
  color: #0746c8;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
}

.about .txtWrap p {
  font-size: 20px;
  text-transform: uppercase;
  text-indent: 20px;
}

.about .btnWrap {
  text-align: center;
  margin-bottom: 20px;
}

.about .imgWrap a {
  cursor: pointer;
}

.about .imgWrap a img {
  display: block;
  margin-left: auto;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.about .imgWrap a:hover img {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

/* --- About END ------------------------------------------------*/
/* --- product Start ------------------------------------------------*/
.product {
  padding-bottom: 50px;
  background: url("../img/prodBg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.product h2 {
  text-transform: uppercase;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.product .prodCont {
  background: #fff;
  height: 100%;
  padding: 40px;
}

.product .prodCont .numberCont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.product .prodCont .numberCont .imgWrap {
  width: 50%;
}

.product .prodCont .numberCont .numberWrap {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 50%;
}

.product .prodCont .numberCont .numberWrap p {
  line-height: 10px;
  margin: 0;
  padding: 0;
  font-size: 8rem;
  color: #cfd8dc;
  opacity: 0.4;
}

.product .prodCont .txtCont h4 {
  font-weight: bold;
  margin-bottom: 20px;
}

.product .whyCont {
  background: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 5px 18px 0px rgba(1, 1, 1, 0.75);
          box-shadow: 0px 5px 18px 0px rgba(1, 1, 1, 0.75);
}

.product .whyCont .txtWrap {
  background: #fff;
  -webkit-box-shadow: 0px 10px 50px 0px rgba(67, 89, 106, 0.7);
          box-shadow: 0px 10px 50px 0px rgba(67, 89, 106, 0.7);
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
  position: relative;
}

.product .whyCont .txtWrap:after {
  position: absolute;
  content: '';
  border: 20px solid transparent;
  border-left: 20px solid #fff;
  border-top: 20px solid #fff;
  bottom: -30px;
  left: 30%;
}

.product .whyCont .txtWrap h4 {
  color: #0746c8;
}

.product .whyCont .imgCont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product .whyCont .imgCont .faceWrap {
  width: 70%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.product .whyCont .imgCont .faceWrap img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.product .whyCont .imgCont .iconWrap {
  text-align: right;
}

.product .whyCont .imgCont .iconWrap a:hover img {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.product .whyCont .imgCont .iconWrap a img {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  width: 20%;
}

.product .whyCont .imgCont .txtWrapIcon {
  text-align: right;
  color: #0746c8;
}

.product .whyCont .imgCont .iconCont {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

/* --- product END ------------------------------------------------*/
/* --- reviews Start ------------------------------------------------*/
.reviews {
  text-align: center;
  padding: 50px 0;
  margin-bottom: 20px;
  background: url("../img/revBg.png");
  background-repeat: no-repeat;
  background-position: 150px bottom;
}

.reviews h2 {
  text-transform: uppercase;
}

.reviews .revCont {
  padding: 10px;
  width: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.reviews .revCont .revWrap {
  position: relative;
  outline: none;
}

.reviews .revCont .revWrap .imgWrap {
  top: 0;
  left: 15%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reviews .revCont .revWrap .imgWrap .imgPlay a img {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.reviews .revCont .revWrap .imgWrap .imgPlay:hover img {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.reviews .revCont .revWrap .txtWrap {
  margin: 10px;
  margin-top: 120px;
  -webkit-box-shadow: 0px 2px 3px 0px rgba(37, 38, 38, 0.3);
          box-shadow: 0px 2px 3px 0px rgba(37, 38, 38, 0.3);
  border-radius: 10px;
  background: #fff;
  padding: 120px 10px 20px 10px;
}

.reviews .revCont .revWrap .txtWrap h4 {
  font-weight: bold;
  margin-bottom: 10px;
}

.reviews .revCont .revWrap .txtWrap p {
  text-align: left;
}

.reviews .slick-prev {
  left: -50px;
}

.reviews .slick-next:before, .reviews .slick-prev:before {
  color: #0746c8;
  font-size: 50px;
}

/* --- reviews END ------------------------------------------------*/
/* --- threeWhay Start ------------------------------------------------*/
.threeWhay {
  text-align: center;
  background: url("../img/threeBg.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.threeWhay h2 {
  margin-bottom: 50px;
  text-transform: uppercase;
}

.threeWhay__cont {
  position: relative;
}

.threeWhay__cont img {
  display: block;
}

.threeWhay__cont .txtWrap {
  -webkit-box-shadow: 0px 2px 3px 0px rgba(37, 38, 38, 0.5);
          box-shadow: 0px 2px 3px 0px rgba(37, 38, 38, 0.5);
  border-radius: 10px;
  padding: 10px;
  padding-top: 50px;
  padding-right: 70px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: left;
  background: #fff;
}

.threeWhay__cont .txtWrap p {
  font-size: 20px;
  position: relative;
  color: #546e7a;
  padding: 0;
  margin: 0;
}

.threeWhay__cont .txtWrap .imgWrap {
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translate(25%, -40%);
          transform: translate(25%, -40%);
}

.threeWhay__cont .txtWrap .imgWrap img {
  display: block;
  margin-left: auto;
  width: 50%;
}

.threeWhay__cont .txtWrap .imgWrapR {
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translate(-25%, -55%);
          transform: translate(-25%, -55%);
}

.threeWhay__cont .txtWrap .imgWrapR img {
  display: block;
  margin-right: auto;
  width: 50%;
}

.threeWhay__cont .iconRightTxt {
  padding-right: 20px;
  padding-left: 70px;
}

/* --- threeWhay END ------------------------------------------------*/
/* --- order Start ------------------------------------------------*/
.order {
  padding: 50px 0;
}

.order h2 {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.order .txtCont {
  border-radius: 10px;
  padding: 20px;
  height: 100%;
  background: #fff;
  -webkit-box-shadow: 0px 2px 3px 0px rgba(37, 38, 38, 0.3);
          box-shadow: 0px 2px 3px 0px rgba(37, 38, 38, 0.3);
}

.order .txtCont p {
  padding: 0;
  margin: 0;
  color: #546e7a;
}

.order .arrowCont img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

.order .btnWrap {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.order .btnWrap .btnCont {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.order .btnWrap .arrow img {
  width: 50%;
}

/* --- order END ------------------------------------------------*/
/* --- how Start ------------------------------------------------*/
.how {
  padding: 50px 0;
}

.how h2 {
  margin-bottom: 50px;
  text-align: center;
  text-transform: uppercase;
}

.how .txtCont {
  -webkit-box-shadow: 0px 2px 3px 0px rgba(37, 38, 38, 0.3);
          box-shadow: 0px 2px 3px 0px rgba(37, 38, 38, 0.3);
  height: 100%;
  padding: 20px;
  background: #fff;
}

.how .txtCont .numberWrap {
  position: relative;
}

.how .txtCont .numberWrap p {
  color: #cfd8dc;
  margin: 0;
  padding: 0;
  text-align: right;
  font-size: 70px;
}

.how .txtCont .numberWrap .imgWrap {
  position: absolute;
  top: -70%;
  left: -5%;
}

.how .txtCont .numberWrap .imgWrap img {
  width: 60%;
}

.how .txtCont .txtWrap h4 {
  font-weight: bold;
  margin-bottom: 20px;
}

/* --- how END ------------------------------------------------*/
/* --- portfolio Start ------------------------------------------------*/
.portfolio {
  padding: 50px 0;
}

.portfolio img {
  max-width: 100%;
  height: auto;
}

.portfolio h2 {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.portfolio .portCont .portWrap .imgWrap {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.portfolio .portCont .portWrap .imgWrap img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.portfolio .portCont .portWrap:focus {
  outline: none;
}

.portfolio .slick-prev {
  left: 20px;
  width: 50px;
  height: 50px;
}

.portfolio .slick-prev:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-top: 3px solid #252626;
  border-right: 3px solid #252626;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.portfolio .slick-next {
  right: 20px;
  width: 50px;
  height: 50px;
}

.portfolio .slick-next:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-top: 3px solid #252626;
  border-right: 3px solid #252626;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

/* --- portfolio END ------------------------------------------------*/
/* --- steps Start ------------------------------------------------*/
.steps {
  padding: 50px 0;
}

.steps h2 {
  text-align: center;
  text-transform: uppercase;
}

/* --- steps END ------------------------------------------------*/
/* --- contacts Start ------------------------------------------------*/
/* --- contacts END ------------------------------------------------*/
/* --- Button Start ------------------------------------------------*/
.whiteBtn {
  border: 1px solid #fff;
  border-radius: 15px;
  border-top-right-radius: 0px;
  padding: 10px 20px;
  background: #fff;
  text-transform: uppercase;
  font-weight: bold;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  position: relative;
}

.whiteBtn span {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #0746c8;
  mix-blend-mode: hard-light;
}

.whiteBtn:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #feda46;
  border-radius: 15px;
  border-top-right-radius: 0px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  opacity: 0;
}

.whiteBtn:hover {
  border: 1px solid #feda46;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  border-radius: 0;
  border-top-right-radius: 15px;
  color: #0746c8;
}

.whiteBtn:hover:before {
  opacity: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 0;
  border-top-right-radius: 15px;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.darkBtn {
  border: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  max-width: 100%;
  border-radius: 15px;
  border-top-right-radius: 0px;
  padding: 15px 30px;
  background: #0746c8;
  text-transform: uppercase;
  font-weight: bold;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  position: relative;
}

.darkBtn span {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #fff;
  mix-blend-mode: hard-light;
}

.darkBtn:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #feda46;
  border-radius: 15px;
  border-top-right-radius: 0px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  opacity: 0;
}

.darkBtn:hover {
  -webkit-transition: 0.7s;
  transition: 0.7s;
  border-radius: 0;
  border-top-right-radius: 15px;
  color: #0746c8;
}

.darkBtn:hover:before {
  opacity: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 0;
  border-top-right-radius: 15px;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.darkBtn:focus {
  outline: none;
}

/* --- Button END ------------------------------------------------*/
/* --- Form START ------------------------------------------------*/
.howOpenForm {
  height: 100%;
  background: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 5px 18px 0px rgba(1, 1, 1, 0.75);
          box-shadow: 0px 5px 18px 0px rgba(1, 1, 1, 0.75);
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.howOpenForm h2 {
  margin-top: 5px;
  color: #0746c8;
  margin-bottom: 10px;
}

.howOpenForm input {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 20px;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 400px;
  max-width: 100%;
  text-align: center;
  padding: 10px;
  border: 2px solid #feda46;
  border-radius: 10px;
  border-top-right-radius: 0;
  margin-bottom: 10px;
}

.howOpenForm input:focus {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  outline: none;
  border: 2px solid #0746c8;
}

/* --- Form END ------------------------------------------------*/
/* --- Other START ------------------------------------------------*/
.myW100 {
  width: 100%;
}
/*# sourceMappingURL=main.css.map */