body {
  background: #fff;
  font-family: 'Ubuntu', sans-serif;
  font-weight: normal;
  font-size: 16px;
  color: #2A2A2A;
  margin: 0;
  padding: 0;
  position: relative;
  line-height: 1.6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body a {
  text-decoration: none;
  color: #2A2A2A;
}

body a:hover {
  text-decoration: none;
  color: #2A2A2A;
}

button {
  outline: none;
}

button:focus {
  outline: none;
}

.hidden {
  display: none;
}

section {
  padding: 50px 0;
  overflow: hidden;
}

.done {
  min-height: 100vh;
}

.row-eq-height {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

/* --- menuBtn Start ------------------------------------------------*/
.menuBtn {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 30px;
  height: 29px;
  z-index: 55;
  display: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #fff;
  border-radius: 2px;
}

.menuBtn span {
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-transform: rotate(0) translate(0);
          transform: rotate(0) translate(0);
}

.menuBtnHide span {
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-transform: rotate(0) translate(0);
          transform: rotate(0) translate(0);
  display: block;
  width: 80%;
  height: 3px;
  background: #FE8112;
}

.menuBtnShow {
  background: none;
}

.menuBtnShow span {
  -webkit-transition: .3s;
  transition: .3s;
  display: block;
  width: 100%;
  height: 3px;
  background: #fff;
}

.menuBtnShow span:nth-child(1) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.menuBtnShow span:nth-child(2) {
  display: none;
}

.menuBtnShow span:nth-child(3) {
  -webkit-transform: rotate(-45deg) translate(10px, -10px);
          transform: rotate(-45deg) translate(10px, -10px);
}

/* --- menuBtn end ------------------------------------------------*/
/* --- Navbar START ------------------------------------------------*/
.navMobile {
  background: #fff;
  padding: 20px 10px;
  min-height: 100vh;
  position: fixed;
  width: 200px;
  right: 0;
  z-index: 50;
  -webkit-transition: .3s;
  transition: .3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  -webkit-box-shadow: -12px 0px 10px rgba(0, 0, 0, 0.1);
          box-shadow: -12px 0px 10px rgba(0, 0, 0, 0.1);
}

.navMobile__circle {
  position: absolute;
  width: 300px;
  height: 300px;
  top: -150px;
  right: -150px;
  background: #FE8112;
  border-radius: 50%;
  z-index: -1;
}

.navMobile__title {
  margin-top: 50px;
  text-align: center;
}

.navMobile__title h4 {
  margin: 0;
  font-weight: bold;
  color: #fff;
  font-size: 32px;
  text-transform: uppercase;
}

.navMobile__title h4 span {
  color: #FE8112;
}

.navMobile hr {
  background: #F0F0F0;
  width: 100%;
  height: 1px;
}

.navMobile__list {
  margin: auto 0;
  padding: 0;
  list-style: none;
}

.navMobile__list ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.navMobile__list ul li {
  margin-bottom: 10px;
}

.navMobile__list ul li a {
  color: #2A2A2A;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
  padding-bottom: 10px;
}

.navMobile__list ul li a:after {
  -webkit-transition: .3s;
  transition: .3s;
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-bottom: 2px solid #FE8112;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  opacity: 0;
}

.navMobile__list ul li a:hover:after {
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.navMobile__list ul li .active:after {
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.navMobile__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navMobile__contacts p, .navMobile__contacts a {
  font-size: 16px;
  color: #2A2A2A;
}

.navMobile__contacts p i, .navMobile__contacts a i {
  color: #FE8112;
}

.navMobile__contacts a {
  -webkit-transition: .3s;
  transition: .3s;
}

.navMobile__contacts a:hover {
  -webkit-transition: .3s;
  transition: .3s;
  color: #FE8112;
}

.navMobile__social {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.navMobile__social a {
  font-size: 30px;
}

.navMobile__social a i {
  color: #FE8112;
}

.navMobileShow {
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-transform: translateY(0) !important;
          transform: translateY(0) !important;
}

.navMobileHide {
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-transform: translateY(-200%) !important;
          transform: translateY(-200%) !important;
}

/* --- Navbar END ------------------------------------------------*/
/* --- firstScroll Start ------------------------------------------------*/
.firstScroll {
  background: url("../img/main_bg.png");
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 100% 90%;
  z-index: 0;
  position: relative;
  height: 100%;
  padding-bottom: 0;
}

@media (max-width: 1890px) {
  .firstScroll {
    background-size: auto 90%;
  }
}

@media (max-width: 992px) {
  .firstScroll {
    background-position: top left;
    background-size: auto 130%;
    padding: 0 0 0 0;
    min-height: 100vh;
  }
}

.firstScroll__line {
  background: #fff;
  height: 100px;
  position: absolute;
  top: -20px;
  left: -90px;
  width: 200%;
  z-index: 0;
  -webkit-transform: rotate(7deg);
          transform: rotate(7deg);
  display: none;
}

@media (max-width: 992px) {
  .firstScroll__line {
    display: inline;
  }
}

.firstScroll__itemMobile {
  display: none;
}

@media (max-width: 992px) {
  .firstScroll__itemMobile {
    display: block;
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

@media (max-width: 1540px) {
  .firstScroll__offset {
    display: none;
  }
}

.firstScroll__navD {
  width: 100%;
}

@media (max-width: 992px) {
  .firstScroll__navD {
    display: none;
  }
}

.firstScroll__navD ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.firstScroll__navD ul li {
  margin: 5px 20px;
}

.firstScroll__navD ul li a {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  -webkit-transition: .3s;
  transition: .3s;
}

.firstScroll__navD ul li a:hover {
  -webkit-transition: .3s;
  transition: .3s;
  color: rgba(42, 42, 42, 0.7);
}

.firstScroll__img {
  z-index: 2;
}

@media (max-width: 992px) {
  .firstScroll__img {
    display: none;
  }
}

.firstScroll__img img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-left: 50px;
}

@media (max-width: 1260px) {
  .firstScroll__img img {
    width: 90%;
    margin-left: 0;
  }
}

.firstScroll__title {
  z-index: 2;
}

@media (max-width: 992px) {
  .firstScroll__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%;
  }
}

.firstScroll__title-imgLogo {
  max-width: 100%;
  display: none;
}

@media (max-width: 992px) {
  .firstScroll__title-imgLogo {
    display: inline;
    margin-bottom: auto;
    padding-top: 20px;
  }
}

.firstScroll__title-sub {
  padding: 5px;
}

.firstScroll__title-sub p {
  padding: 0;
  margin: 0;
  color: #fff;
  text-transform: uppercase;
  font-size: 32px;
  font-weight: bold;
}

.firstScroll__title-sub h2 {
  padding: 0;
  margin: 0;
  font-size: 32px;
  color: #fff;
}

.firstScroll__title-sub h2 span {
  font-weight: bold;
}

@media (max-width: 992px) {
  .firstScroll__title-sub h2 {
    margin-bottom: 115px;
  }
}

.firstScroll__title-header {
  padding: 5px;
}

.firstScroll__title-header h1 {
  padding: 0;
  margin: 0;
  font-size: 90px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
}

.firstScroll__title-desc {
  padding: 5px;
}

.firstScroll__title-desc p {
  font-size: 24px;
  color: #fff;
  padding: 0;
  margin: 0;
}

.firstScroll__title-btn {
  padding: 5px;
}

@media (max-width: 992px) {
  .firstScroll__title-btn {
    margin-bottom: auto;
  }
}

@media (max-width: 520px) {
  .firstScroll__title-btn a {
    width: 200px;
  }
}

@media (max-width: 1775px) {
  .firstScroll__title-sub p {
    font-size: 25px;
  }
  .firstScroll__title-sub h2 {
    font-size: 25px;
  }
  .firstScroll__title-header h1 {
    font-size: 70px;
  }
  .firstScroll__title-desc p {
    font-size: 18px;
  }
  .firstScroll__title-btn a {
    font-size: 18px;
    padding: 15px;
  }
}

@media (max-width: 1260px) {
  .firstScroll__title-sub p {
    font-size: 20px;
  }
  .firstScroll__title-sub h2 {
    font-size: 20px;
  }
  .firstScroll__title-header h1 {
    font-size: 50px;
  }
  .firstScroll__title-desc p {
    font-size: 16px;
  }
  .firstScroll__title-btn a {
    font-size: 18px;
    padding: 15px;
  }
}

@media (max-width: 370px) {
  .firstScroll__title-sub p {
    font-size: 16px;
  }
  .firstScroll__title-sub h2 {
    font-size: 16px;
  }
  .firstScroll__title-header h1 {
    font-size: 40px;
  }
  .firstScroll__title-desc p {
    font-size: 16px;
  }
  .firstScroll__title-btn a {
    font-size: 18px;
    padding: 15px;
  }
}

.firstScroll .min-height {
  min-height: auto;
}

@media (max-width: 992px) {
  .firstScroll .min-height {
    min-height: 100vh;
  }
}

/* --- firstScroll end ------------------------------------------------*/
/* --- about Start ------------------------------------------------*/
.about {
  padding-top: 100px;
  background: url("../img/about.png");
  background-position: top  center;
  background-repeat: no-repeat;
}

@media (max-width: 992px) {
  .about {
    background: none;
  }
}

.about__video {
  position: relative;
}

.about__video img {
  max-width: 100%;
  height: auto;
}

.about__video-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.about__video-btn img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.about__title-txt {
  padding: 5px;
}

.about__title-txt h4 {
  font-size: 32px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

.about__title-txt h2 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 90px;
  color: #fff;
  padding: 0;
  margin: 0;
}

.about__title-txt p {
  font-size: 24px;
  color: #fff;
  padding: 0;
  margin: 0;
}

.about__title-img {
  margin-top: -77px;
}

.about__title-img img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 992px) {
  .about__title-txt {
    padding-top: 20px;
  }
  .about__title-txt h4 {
    font-size: 20px;
  }
  .about__title-txt h2 {
    color: #FE8112;
    font-size: 70px;
  }
  .about__title-txt p {
    font-size: 18px;
    color: #2A2A2A;
  }
  .about__title-img {
    margin-top: 0;
  }
}

/* --- about end ------------------------------------------------*/
/* --- advantage Start ------------------------------------------------*/
.advantage {
  background: url("../img/prod.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 100px 0;
}

@media (max-width: 992px) {
  .advantage {
    padding: 50px 0;
    background: #FE8112;
  }
}

@media (max-width: 992px) {
  .advantage__img {
    margin-bottom: 60px;
  }
}

.advantage__img-slider-cont-img img {
  max-width: 100%;
  height: auto;
}

.advantage__wrap h2 {
  font-size: 32px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 20px;
}

.advantage__wrap-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.advantage__wrap-list-cont {
  margin-right: 10px;
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  margin-bottom: 20px;
  -webkit-transition: .3s;
  transition: .3s;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

@media (max-width: 992px) {
  .advantage__wrap-list-cont {
    -ms-flex-preferred-size: 95%;
        flex-basis: 95%;
  }
}

.advantage__wrap-list-cont:hover {
  background: rgba(255, 255, 255, 0.2);
}

.advantage__wrap-list-cont:hover span {
  border: 3px solid #fff;
  -webkit-transition: .3s;
  transition: .3s;
  background: #23D04C;
}

.advantage__wrap-list-cont-circle {
  position: relative;
}

.advantage__wrap-list-cont-circle span {
  -webkit-transition: .3s;
  transition: .3s;
  border: 3px solid #F37505;
  display: block;
  width: 90px;
  height: 90px;
  background: #F37505;
  border-radius: 50%;
}

.advantage__wrap-list-cont-circle-img {
  position: absolute;
  right: 0;
  bottom: 0;
}

.advantage__wrap-list-cont-circle-img img {
  max-width: 100%;
  height: auto;
}

.advantage__wrap-list-cont-txt {
  padding: 5px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.advantage__wrap-list-cont-txt p {
  color: #fff;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

/* --- advantage end ------------------------------------------------*/
/* --- number Start ------------------------------------------------*/
.number {
  padding-top: 100px;
  background: url("../img/numberBg.png");
  background-position: center right;
  background-repeat: no-repeat;
  overflow: hidden;
}

@media (max-width: 1440px) {
  .number {
    background-size: 600px auto;
  }
}

@media (max-width: 1440px) {
  .number {
    background-size: 500px auto;
  }
}

@media (max-width: 992px) {
  .number {
    background-position: bottom 1% right;
  }
}

.number__img img {
  max-width: 100%;
  height: auto;
}

.number__list h3 {
  font-size: 32px;
  text-transform: uppercase;
  font-weight: bold;
}

.number__list-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  padding: 25px 5px;
  margin-bottom: 20px;
}

@media (max-width: 440px) {
  .number__list-desc {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.number__list-desc span {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  font-size: 18px;
  z-index: 1;
  color: #fff;
}

.number__list-desc span:nth-child(even) {
  font-weight: bold;
}

@media (max-width: 440px) {
  .number__list-desc span:nth-child(odd) {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
  }
}

.number__list-desc-bg {
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  z-index: 0;
  position: absolute;
  top: 0;
  right: 20%;
  width: 200%;
  height: 100%;
  background: #FE8112;
}

@media (max-width: 440px) {
  .number__list-desc-bg {
    right: -5%;
  }
}

.number__list-txt ul {
  list-style: none;
  padding-left: 40px;
}

.number__list-txt ul li {
  position: relative;
  font-size: 18px;
  margin-bottom: 20px;
}

.number__list-txt ul li span {
  position: absolute;
  left: -35px;
  font-size: 24px;
  color: #FE8112;
}

/* --- number end ------------------------------------------------*/
/* --- offer Start ------------------------------------------------*/
.offer {
  padding: 0;
  background: url("../img/formBg.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  min-height: 850px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 1465px) {
  .offer {
    min-height: 633px;
  }
}

@media (max-width: 992px) {
  .offer {
    background: #FE8112;
    text-align: center;
    min-height: auto;
    padding: 50px 0;
  }
}

.offer__title {
  padding: 5px;
}

.offer__title h3 {
  font-size: 26px;
  font-weight: bold;
  color: #fff;
}

.offer__title h4 {
  font-size: 26px;
  color: #fff;
}

.offer__title h2 {
  font-size: 70px;
  text-transform: uppercase;
  color: #fff;
}

@media (max-width: 1465px) {
  .offer__title h3, .offer__title h4 {
    font-size: 20px;
  }
  .offer__title h2 {
    font-size: 50px;
  }
}

@media (max-width: 992px) {
  .offer__title h2 {
    font-size: 34px;
  }
}

/* --- offer end ------------------------------------------------*/
/* --- juice Start ------------------------------------------------*/
.juice__title {
  margin-bottom: 50px;
}

.juice__title h2 {
  text-transform: uppercase;
  font-size: 32px;
  font-weight: bold;
}

.juice__title h3 {
  font-weight: 24px;
}

.juice__prod-img img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
}

.juice__prod-name {
  text-align: center;
  padding: 5px;
}

.juice__prod-name p {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

/* --- juice end ------------------------------------------------*/
/* --- shortOffer Start ------------------------------------------------*/
.shortOffer {
  background: #EDEDED;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
}

.shortOffer__title {
  padding: 5px;
  margin: 5px;
}

.shortOffer__title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
}

.shortOffer__title h2 span {
  color: #FE8112;
}

.shortOffer__btn {
  padding: 5px;
  margin: 5px;
}

/* --- shortOffer end ------------------------------------------------*/
/* --- Button Start ------------------------------------------------*/
.mainBtn {
  text-align: center;
  padding: 20px;
  width: 290px;
  display: block;
  background: #23D04C;
  font-size: 24px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  -webkit-transition: .3s;
  transition: .3s;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 50px;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
  -webkit-box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
  transition: .3s;
}

.mainBtn:hover {
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  -webkit-transition: .3s;
  transition: .3s;
}

/* --- Button end ------------------------------------------------*/
/* --- reviews Start ------------------------------------------------*/
.reviews {
  background: url("../img/revBg.png");
  background-position: center left;
  background-repeat: no-repeat;
  background-size: auto 90%;
}

@media (max-width: 992px) {
  .reviews {
    background-size: contain;
  }
}

.reviews h2 {
  font-size: 32px;
  text-transform: uppercase;
  font-weight: bold;
}

.reviews__slider-cont {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0;
  margin: 20px;
}

@media (max-width: 992px) {
  .reviews__slider-cont {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.reviews__slider-cont-img {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  background: #fff;
  padding: 10px;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  -webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.14);
          box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.14);
}

@media (max-width: 992px) {
  .reviews__slider-cont-img {
    margin-bottom: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

.reviews__slider-cont-img-photo {
  margin-bottom: 10px;
}

.reviews__slider-cont-img-photo img {
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  width: 100%;
  height: auto;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.reviews__slider-cont-img-name h5 {
  font-size: 24px;
  font-weight: bold;
}

.reviews__slider-cont-img-name p {
  font-size: 18px;
}

.reviews__slider-cont-txt {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  margin-bottom: 50px;
}

.reviews__slider-cont-txt-quotes i {
  font-size: 50px;
  color: #FBE8D1;
}

.reviews__slider-cont-txt-desc {
  padding: 5px;
}

.reviews__slider-cont-txt-desc p {
  padding: 0;
  margin: 0;
}

.reviews .slick-prev {
  bottom: 10%;
  left: 43%;
  -webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.14);
          box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.14);
}

@media (max-width: 992px) {
  .reviews .slick-prev {
    bottom: 5%;
    left: 30%;
  }
}

.reviews .slick-next {
  bottom: 10%;
  left: 50%;
  -webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.14);
          box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.14);
}

@media (max-width: 992px) {
  .reviews .slick-next {
    bottom: 5%;
    left: 55%;
  }
}

/* --- reviews end ------------------------------------------------*/
/* --- footer Start ------------------------------------------------*/
.footer {
  background: url("../img/footerBg.png");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 100% 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 992px) {
  .footer {
    background-size: cover;
  }
}

.footer__phone {
  margin: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 385px) {
  .footer__phone {
    margin-bottom: 10px;
  }
}

.footer__phone-logo {
  margin-right: 10px;
}

.footer__phone-logo img {
  max-width: 100%;
  height: auto;
}

.footer__phone-number {
  margin-top: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__phone-number a {
  -webkit-transition: .3s;
  transition: .3s;
  font-size: 24px;
  color: #fff;
}

@media (max-width: 992px) {
  .footer__phone-number a {
    font-size: 18px;
  }
}

.footer__social {
  margin: 5px;
  margin-top: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.footer__social a {
  display: inherit;
  -webkit-transition: .3s;
  transition: .3s;
  font-size: 40px;
  color: #fff;
}

/* --- footer end ------------------------------------------------*/
/* --- Other START ------------------------------------------------*/
.slick-dots li button:before {
  font-size: 15px;
  color: #FE8112 !important;
}

.slick-prev {
  top: inherit;
  left: 0;
  bottom: -70px;
  width: 40px;
  height: 40px;
  z-index: 99;
  background: #fff;
  border-bottom-left-radius: 25px;
  -webkit-transition: .3s;
  transition: .3s;
}

.slick-prev:hover {
  -webkit-transition: .3s;
  transition: .3s;
}

.slick-prev:hover i {
  -webkit-transition: .3s;
  transition: .3s;
  background: #23D04C;
}

.slick-prev:before {
  display: none;
}

.slick-prev i {
  -webkit-transition: .3s;
  transition: .3s;
  color: #2A2A2A;
  font-size: 22px;
  background: #fff;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom-left-radius: 25px;
}

.slick-next {
  top: inherit;
  left: 45px;
  bottom: -70px;
  width: 40px;
  height: 40px;
  z-index: 99;
  background: #fff;
  border-top-right-radius: 25px;
  -webkit-transition: .3s;
  transition: .3s;
}

.slick-next:hover {
  -webkit-transition: .3s;
  transition: .3s;
}

.slick-next:hover i {
  -webkit-transition: .3s;
  transition: .3s;
  background: #23D04C;
}

.slick-next:before {
  display: none;
}

.slick-next i {
  -webkit-transition: .3s;
  transition: .3s;
  color: #2A2A2A;
  font-size: 22px;
  border-top-right-radius: 25px;
  background: #fff;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slick-track .slick-slide {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/*# sourceMappingURL=main.css.map */