body {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 16px;
  background: #006600;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  margin: 0;
  padding: 0;
  position: relative;
  line-height: 1.6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  body a {
    text-decoration: none;
    color: #fff; }
    body a:hover {
      text-decoration: none;
      color: #fff; }

.hidden {
  display: none; }

.loader {
  background: none repeat scroll 0 0 #ffffff;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 9999;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .loader .loader_inner {
    background-image: url("../img/preloader.gif");
    -webkit-background-size: cover;
            background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #fff;
    height: 256px;
    width: 256px; }

/* --- Navbar START --- */
.navbar {
  background: rgba(0, 102, 0, 0.9);
  color: #fdd907;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 102, 0, 0.7);
          box-shadow: 0px 5px 10px 0px rgba(0, 102, 0, 0.7); }
  .navbar img {
    width: 23px;
    margin: 0;
    padding: 0; }
  .navbar a {
    color: #fdd907; }
  .navbar p {
    color: #fff;
    margin: 0;
    padding-right: 10px;
    display: inline-block; }
  .navbar .navbar-toggler-icon {
    background: url("../img/burger.png");
    -webkit-background-size: 100% 100%;
            background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 1.6em;
    height: 1.6em; }

/* --- Navbar END --- */
/* --- Header START --- */
.header {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  padding: 50px 0;
  background: url("../img/head_bg.jpg");
  -webkit-background-size: cover;
          background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden; }
  .header__wrap {
    padding-top: 20px; }
  .header__hcont {
    padding: 20px 10px;
    margin: 30px 0;
    background: rgba(0, 102, 0, 0.6);
    -webkit-box-shadow: 0px 0px 20px 8px rgba(0, 102, 0, 0.8);
            box-shadow: 0px 0px 20px 8px rgba(0, 102, 0, 0.8); }
    .header__hcont hr {
      width: 80%;
      color: #fdd907;
      background-color: #fdd907; }
    .header__hcont .slog {
      color: #fdd907; }
  .header .img-main {
    margin-bottom: 10px; }
  .header ul {
    padding: 7px;
    list-style: none;
    border: 2px solid #fff; }
    .header ul li {
      font-size: 18px;
      padding: 5px; }
      .header ul li:nth-child(odd) {
        background: rgba(0, 102, 0, 0.7); }
      .header ul li:nth-child(even) {
        background: rgba(0, 102, 0, 0.9); }
      .header ul li i {
        color: #fdd907; }
  .header .slider-wrap {
    padding-bottom: 10px; }
    .header .slider-wrap .slider-cont img {
      border: 2px dashed #fdd907; }

/* --- Header END --- */
/* --- About START --- */
.about {
  padding: 30px 0;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  color: #000;
  -webkit-box-shadow: inset 0px 0px 15px 4px rgba(0, 102, 0, 0.7);
          box-shadow: inset 0px 0px 15px 4px rgba(0, 102, 0, 0.7); }
  .about h2, .about h4 {
    color: #006600; }
  .about hr {
    width: 80%;
    color: #fdd907;
    background-color: #fdd907; }
  .about img {
    margin-bottom: 10px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
            box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75); }

.countr i {
  color: #fdd907;
  font-size: 40px; }

.countr p {
  font-size: 20px;
  height: 64px; }

.countr .count-wrap {
  color: #fff;
  border: 2px solid #006600;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  text-align: center;
  font-size: 30px;
  width: 90px;
  height: 90px;
  background: #006600;
  margin-bottom: 15px; }

/* --- About END --- */
/* --- Product START --- */
.products {
  padding: 30px 0;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  background: rgba(0, 102, 0, 0.2);
  overflow: hidden; }
  .products h2 {
    text-align: center;
    color: #006600;
    background: rgba(255, 255, 255, 0.5);
    position: relative;
    margin: 10px 0; }
  .products__row {
    background: rgba(0, 102, 0, 0.5);
    padding: 10px 0; }
  .products__wrap {
    background: rgba(0, 0, 0, 0.5);
    margin-bottom: 15px; }
  .products__imgcont {
    position: relative;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
    text-align: center; }
    .products__imgcont img {
      width: 100%;
      height: 350px; }
    .products__imgcont .more {
      margin: auto;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 250px;
      height: 70px;
      position: absolute;
      text-transform: uppercase;
      border: 2px solid #fff;
      padding: 20px 40px;
      background: rgba(0, 0, 0, 0.5);
      -webkit-transition: all 0.7s ease;
      -o-transition: all 0.7s ease;
      transition: all 0.7s ease;
      -webkit-transform: translateY(100%);
          -ms-transform: translateY(100%);
              transform: translateY(100%);
      opacity: 0;
      z-index: 999; }
    .products__imgcont:after {
      -webkit-transition: 0.3s ease;
      -o-transition: 0.3s ease;
      transition: 0.3s ease;
      content: '';
      position: absolute;
      top: 5px;
      left: 5px;
      right: 5px;
      bottom: 5px;
      border-top: 2px solid #006600;
      border-bottom: 2px solid #006600;
      -webkit-transform: scaleX(0);
          -ms-transform: scaleX(0);
              transform: scaleX(0);
      -webkit-transform-origin: left top;
          -ms-transform-origin: left top;
              transform-origin: left top; }
    .products__imgcont:before {
      -webkit-transition: 0.7s ease;
      -o-transition: 0.7s ease;
      transition: 0.7s ease;
      content: '';
      position: absolute;
      top: 5px;
      left: 5px;
      right: 5px;
      bottom: 5px;
      border-left: 2px solid #006600;
      border-right: 2px solid #006600;
      -webkit-transform: scaleY(0);
          -ms-transform: scaleY(0);
              transform: scaleY(0);
      -webkit-transform-origin: left top;
          -ms-transform-origin: left top;
              transform-origin: left top; }
    .products__imgcont:hover {
      -webkit-transition: 0.3s ease;
      -o-transition: 0.3s ease;
      transition: 0.3s ease; }
      .products__imgcont:hover .more {
        -webkit-transform: translateY(0);
            -ms-transform: translateY(0);
                transform: translateY(0);
        opacity: 1; }
      .products__imgcont:hover:after {
        -webkit-transition: 0.3s ease;
        -o-transition: 0.3s ease;
        transition: 0.3s ease;
        background: rgba(0, 0, 0, 0.2);
        -webkit-transform: scaleX(1);
            -ms-transform: scaleX(1);
                transform: scaleX(1); }
      .products__imgcont:hover:before {
        -webkit-transition: 0.7s ease;
        -o-transition: 0.7s ease;
        transition: 0.7s ease;
        background: rgba(0, 0, 0, 0.2);
        -webkit-transform: scaleY(1);
            -ms-transform: scaleY(1);
                transform: scaleY(1); }
  .products__descr {
    padding: 20px; }
    .products__descr ul {
      margin: 0;
      padding: 0;
      list-style: none; }
      .products__descr ul li {
        padding: 5px 5px; }
        .products__descr ul li i {
          color: #fdd907;
          text-align: center;
          font-size: 20px;
          width: 30px;
          margin-right: 10px; }
        .products__descr ul li:nth-child(odd) {
          background: rgba(0, 102, 0, 0.4); }
        .products__descr ul li:nth-child(even) {
          background: rgba(0, 102, 0, 0.6); }
        .products__descr ul li p {
          display: inline-block;
          margin-right: 5px;
          margin-bottom: 0; }

/* --- Product END --- */
/* --- advantages start --- */
.advantages {
  overflow: hidden;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  padding: 30px 0;
  -webkit-box-shadow: inset 0px 0px 15px 4px rgba(0, 102, 0, 0.7);
          box-shadow: inset 0px 0px 15px 4px rgba(0, 102, 0, 0.7);
  color: #000; }
  .advantages h2 {
    color: #006600;
    text-transform: uppercase;
    padding: 10px 0; }
  .advantages img {
    -webkit-box-shadow: 0px 7px 5px 0px rgba(0, 0, 0, 0.75);
            box-shadow: 0px 7px 5px 0px rgba(0, 0, 0, 0.75); }
  .advantages .left {
    border-left: 3px ridge #fdd907;
    border-top: 3px ridge #fdd907; }
  .advantages .right {
    border-right: 3px ridge #fdd907;
    border-bottom: 3px ridge #fdd907; }
  .advantages ul {
    list-style: none;
    margin: 0;
    padding: 0; }
    .advantages ul li {
      color: #fff;
      font-size: 16px;
      padding: 5px;
      border: 1px solid #fff;
      margin: 15px;
      background: rgba(0, 102, 0, 0.7);
      -webkit-box-shadow: 0px 7px 5px 0px rgba(0, 0, 0, 0.75);
              box-shadow: 0px 7px 5px 0px rgba(0, 0, 0, 0.75); }
      .advantages ul li i {
        color: #fdd907; }

/* --- advantages end --- */
/* --- reviews START --- */
.reviews {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  padding: 30px 0;
  overflow: hidden; }
  .reviews h2 {
    color: #fff;
    border: 2px solid #fff;
    background: rgba(0, 102, 0, 0.8);
    text-transform: uppercase;
    padding: 10px 0; }
  .reviews .slick-prev {
    left: -10px; }
  .reviews .slick-next {
    right: -10px; }
  .reviews__wrap {
    position: relative;
    padding: 20px; }
  .reviews__cont_main {
    background: rgba(0, 102, 0, 0.8);
    min-height: 300px;
    margin-bottom: 20px;
    border: 2px solid #fff;
    padding: 20px; }
  .reviews__cont {
    cursor: pointer;
    background: rgba(0, 102, 0, 0.8);
    min-height: 100px;
    margin: 10px;
    border: 1px solid #fff;
    padding: 5px;
    position: relative; }

/* --- reviews end --- */
/* --- How START ---*/
.how {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  padding: 30px 0;
  overflow: hidden; }
  .how .container-fluid {
    background: rgba(0, 102, 0, 0.8);
    padding: 10px 20px; }
    .how .container-fluid h2 {
      text-transform: uppercase;
      padding: 10px;
      border-top: 2px solid #fff;
      border-bottom: 2px solid #fff;
      max-width: 500px;
      margin-bottom: 30px; }
    .how .container-fluid i {
      color: #fdd907;
      font-size: 50px; }
    .how .container-fluid p i {
      color: #fff;
      font-size: 16px; }
    .how .container-fluid h3 {
      background: rgba(255, 255, 255, 0.2);
      border: 2px dotted red;
      padding: 10px 5px; }
      .how .container-fluid h3 i {
        color: red;
        font-size: 30px;
        margin-right: 10px; }

/* --- How END ---*/
/* --- contacts START ---*/
.contacts {
  overflow: hidden;
  color: #006600;
  -webkit-box-shadow: inset 0px 0px 15px 4px rgba(0, 102, 0, 0.7);
          box-shadow: inset 0px 0px 15px 4px rgba(0, 102, 0, 0.7);
  padding: 30px 0;
  background: #fff; }
  .contacts i {
    font-size: 40px;
    padding-left: 40px; }
  .contacts__left-wrap {
    border-left: 2px solid #006600;
    margin-bottom: 10px; }
    .contacts__left-wrap h3 {
      border-bottom: 1px solid #006600;
      margin-left: -15px;
      padding-left: 5px; }
    .contacts__left-wrap ul {
      list-style: none; }
  .contacts form {
    text-align: center;
    max-width: 300px;
    border: 2px solid #006600;
    padding: 20px 10px; }
    .contacts form input {
      padding: 10px;
      text-align: center;
      margin-bottom: 15px;
      -webkit-border-radius: 5px;
              border-radius: 5px;
      border: 1px solid #006600; }
    .contacts form button {
      display: block;
      text-transform: uppercase;
      padding: 10px 20px;
      background: #006600;
      color: #fdd907;
      border: 1px solid #006600;
      -webkit-border-radius: 5px;
              border-radius: 5px; }

/* --- contacts END ---*/
/* --- Button style START --- */
.header-button {
  text-transform: uppercase;
  font-size: 20px;
  width: 280px;
  display: block;
  padding: 10px 10px;
  background: rgba(255, 0, 0, 0.8);
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease; }
  .header-button:hover {
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
    background: rgba(253, 217, 7, 0.8); }

.prod-order-button {
  text-transform: uppercase;
  font-size: 20px;
  max-width: 350px;
  width: 100%;
  display: block;
  padding: 5px 10px;
  background: rgba(255, 0, 0, 0.8);
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease; }
  .prod-order-button:hover {
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
    background: rgba(253, 217, 7, 0.8); }

.prod-more-button {
  text-transform: uppercase;
  font-size: 20px;
  max-width: 350px;
  width: 100%;
  display: block;
  padding: 5px 10px;
  background: rgba(0, 102, 0, 0.7);
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  margin: 10px;
  border: 1px solid #fff; }
  .prod-more-button:hover {
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
    background: rgba(253, 217, 7, 0.8); }

/* --- Button style END --- */
