@media only screen and (min-width : 1500px) 
{

}
@media only screen and (max-height : 775px) 
{
}



@media only screen and (max-width : 1800px)
{

}
@media only screen and (max-width : 1600px)
{

}
@media only screen and (max-width : 1450px)
{

}
@media only screen and (max-width : 1280px)
{

}
@media only screen and (max-width : 1200px)
{

}
@media only screen and (max-width : 1140px) 
{
  .advantage .advWrap hr
  {
    margin: 5px auto 5px 0px;
  }
}

@media only screen and (max-width : 992px)
{


  h1 
  {
    font-size: 1.4rem;
  }
  h2 
  {
    font-size: 1.3rem;
  }
  h3 
  {
    font-size: 1.1rem;
  }
  h4
  {
    font-size: 1.2rem;
  }
  h5
  {
    font-size: 1rem;
  }
  .about .textwrap p
  {
    font-size: 16px;
  }
}
@media only screen and (max-width : 800px)
{

}
@media only screen and (max-width : 960px)
{

}
@media only screen and (max-width : 768px)
{
  .advantage .advWrap .numberWrap span
  {
    font-size: 50px;
  }
}
@media only screen and (max-width : 600px)
{
  .advantage .advWrap .numberWrap
  {
    display: none;
  }
  .advantage .advWrap .imgWrap
  {
    width: 100%;
  }
  .advantage .advWrap .txtWrap
  {
    width: 100%;
    text-align: center;
  }

}
@media only screen and (max-width : 576px)
{
  .reviews .revWrap .imgWrap
  {
    width: 100%;
  }
  .reviews .revWrap .txtWrap
  {
    width: 100%;
  }
}
@media only screen and (max-width : 450px)
{


}
@media only screen and (max-width : 400px)
{


}