.aboutProd
  padding-bottom: 0
  padding-top: 0
  &__text
    display: flex
    height: 100%
    flex-direction: column
    &-list
      height: 100%
      ul
        justify-content: space-around
        display: flex
        flex-direction: column
        height: 100%
        li
          text-transform: uppercase
          font-size: 18px
          span
            color: $main_rgb2
            text-transform: uppercase
    &-order
      padding: 10px
      h4
        text-align: center
        color: $main_color2
  &__slider
    position: relative
    &-wrap
      img
        width: 100%
        height: auto
.about2Prod
  padding-top: 0
  background: #092E49
  img
    display: block
    margin-left: auto
    margin-right: auto
  &__topImg
    width: 100%
    img
      width: 100%
  .aboutProd__text-title
    h3
      color: $main_white
  .aboutProd__text-list
    ul
      li
        color: $main_white
  .aboutProd__text-btn
    .mainBtn
      width: 100% 
      text-transform: uppercase
    