.formOpen
  padding: 0 0 20px 0
  background: #092E49
  &__wrap
    &-title
      text-align: center
      h4
        text-transform: uppercase
        color: $main_rgb
    &-form
      display: flex
      justify-content: space-between
      .mainBtn
        width: 100%
        margin: 5px
        background: #F2CC39
      input
        padding: 10px 20px
        width: 100%
        margin: 5px
        text-align: center
        color: #092E49
        border: none
        text-transform: uppercase
        font-weight: bold
        &:nth-child(1)
          background: #B57C31
        &:nth-child(2)
          background: #CC9544
        &:nth-child(3)
          background: #E2AF2D
      ::placeholder
        color: #092E49
  @media(max-width: 992px)
    &__wrap
      &-form
        flex-direction: column
