$main_color: #222
$main_color_light: #55595c
$main_white: #fff
$main_rgb: #1d88ed
$main_bg: #e6e6e6
$main_bg_light: #f8f8f8
$main_rgbT: #FFC60D

body
	background: $main_white
	font-family: "Muli", Arial, Tahoma, sans-serif;
	font-weight: normal
	font-size: 16px
	color: $main_color
	margin: 0
	padding: 0
	position: relative
	line-height: 1.6
	box-sizing: border-box
	a
		text-decoration: none
		color: $main_color
		&:hover
			text-decoration: none
			color: $main_color
button
	outline: none
	&:focus
		outline: none
.hidden
	display: none
img
	max-width: 100%
	height: auto
section
	padding: 50px 0
	overflow: hidden
.done
	min-height: 100vh
.row-eq-height
	display: flex
	flex-wrap: wrap


/* --- Navbar START ------------------------------------------------*/
.navbar
	transition: 0.5s
	background: rgba(255,255,255, 0)
	.msgIcon
		font-size: 26px
		color: $main_white
		display: inline-block
		padding: 0
		transition: 0.3s
		&:hover
			transition: 0.3s
			color: $main_rgb
	// .msgIcon
  //   font-size: 30px
  //   padding: 0
  //   display: inline
  //   transition: 0.3s
  //   color: $main_color
	// 	&:hover
	// 		transition: 0.3s
	// 		color: $main_rgb
	.navbar-brand
		padding: 0
	img
		width: 40px
		margin: 0
		padding: 0
	.br_m
		border-right: 2px solid $main_rgb
		margin-right: 10px
		padding-right: 10px
	.anim
		text-transform: uppercase
		position: relative
		overflow: hidden
		span
			color: $main_white
			transition: 0.5s
			transform-origin: left
		&:before
			transition: 0.5s
			position: absolute
			content: ''
			top: 0
			left: 0
			width: 100%
			height: 100%
			border-bottom: 2px solid $main_rgb
			transform-origin: center
			transform: scaleX(0)
		&:hover
			span
				color: $main_rgb
			&:before
				transform: scaleX(1)
	p
		font-size: 24px
		color: $main_white
		margin: 0
		padding-right: 10px
		display: inline-block
	.navbar-toggler-icon
		background: url('../img/burger-light.png')
		background-size: 100% 100%
		background-repeat: no-repeat
		width: 2em
		height: 2em
		&:focus
			outline: none
	.navbar-toggler
		transition: 0.3s
		&:focus
			transition: 0.3s
			outline: none
			border: 1px solid #fff
.active
	position: relative
	overflow: hidden
	span
		color: $main_rgb !important
	&:before
		transition: 0.5s
		position: absolute
		content: ''
		top: 0
		left: 0
		width: 100%
		height: 100%
		border-bottom: 2px solid $main_color
		transform-origin: right
		transform: scaleX(0)
		animation: animate 7s linear infinite
@keyframes animate 
	0%
		transform-origin: right
		transform: scaleX(0)
	50%
		transform-origin: right
		transform: scaleX(1)
	51%
		transform-origin: right
		transform: scaleX(1)
	100%
		transform-origin: right
		transform: scaleX(0)
.fixed-nav
	.msgIcon
		color: $main_color
	.anim
		span
			color: $main_color
	p
		color: $main_rgb
		padding-left: 10px
	background: rgba(255,255,255, 0.9)
	color: $main_color_light	
	padding: .4rem .4rem
	transition: 0.5s
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1)
	.navbar-toggler-icon
		background: url('../img/burger-black.png')
		background-size: 100% 100%
		background-repeat: no-repeat
		width: 2em
		height: 2em
		&:focus
			outline: none
	.navbar-toggler
		transition: 0.3s
		&:focus
			transition: 0.3s
			outline: none
			border: 1px solid $main_color
.navbar-nav
	text-align: center
	
/* --- Navbar END ------------------------------------------------*/



/* --- Header start------------------------------------------------*/	
.headerCont
	min-height: 100vh
	display: flex
	flex-wrap: wrap
	flex-direction: column
	justify-content: center
	position: relative
	z-index: 1
	.bgMain
		background: url('../img/headbg.jpg')
		background-position: center center
		background-repeat: no-repeat
		background-size: cover
		position: absolute
		z-index: -2
		top: 0
		left: 0
		right: 0
		bottom: 0
		transform: scale(1)
		transition: 10s
	.lineOne
		position: absolute
		z-index: -1
		bottom: 0
		left: 5%
		width: 50px
		height: 0vh
		background: rgba($main_rgb, .4)
		transition: 2s
	.lineTwo
		position: absolute
		z-index: -1
		bottom: 0
		left: 10%
		width: 50px
		height: 0vh
		background: rgba($main_rgb, .4)
		transition: 2s
	.lineThree
		position: absolute
		z-index: -1
		bottom: 4%
		left: 0
		width: 0
		height: 50px
		background: rgba($main_rgb, .4)
		transition: 3s
	.textWrap
		z-index: 3
		padding: 30px 10px
		background: rgba($main_rgb, .6)
		text-align: center
		color: $main_white
		h1
			text-shadow: 2px 2px 2px rgba(0,0,0,1)
			text-transform: uppercase
			span
				font-weight: bold
				text-decoration: underline
		.triggerWrap
			text-transform: uppercase
			background: rgba($main_rgb, .5)
			padding: 10px
			margin-top: 20px
			border: 2px solid $main_white
			ul
				text-align: left
				display: inline-block
				margin: 0
				li
					font-size: 18px
	.orderFreeWrap
		text-align: center
		z-index: 3
		color: $main_white
		display: flex
		flex-wrap: wrap
		flex-direction: row
		justify-content: center
		align-items: center
		h4
			text-transform: uppercase
			text-shadow: 3px 3px 3px rgba(0,0,0,1)
			margin: 0
			margin-right: 10px
/* --- Header END ------------------------------------------------*/	


/* --- About Start ------------------------------------------------*/
.about
	position: relative
	text-align: center
	.textWRap
		background: $main_white
		padding: 5px
		p
			line-height: 1.5em
			font-weight: 300
			text-align: left
			text-indent: 20px
	.lineOne
		position: absolute
		z-index: -1
		top: 0
		left: 5%
		width: 50px
		height: 0
		background: rgba($main_rgb, .4)
		transition: 2s
	.lineTwo
		position: absolute
		z-index: -1
		top: 0
		left: 10%
		width: 50px
		height: 0
		background: rgba($main_rgb, .4)
		transition: 2s
	.sliderAbout
		position: relative
		&:after
			position: absolute
			content: ''
			top: 5px
			left: 5px
			width: 100%
			height: 100%
			border: 3px solid $main_rgb
	.slick-dots
		li
			button
				&:before
					content: '-'
					font-size: 100px
					color: $main_rgb
/* --- About END ------------------------------------------------*/	


/* --- product Start ------------------------------------------------*/
.prod
	text-align: center
	background: $main_bg_light
	.buttonWrap
		justify-content: center
		align-items: center
		margin-top: 10px
		display: flex
		flex-wrap: wrap
		flex-direction: row
		h4
			text-transform: uppercase
			margin: 5px 0
		.mainBtn
			margin-left: 10px
			margin-right: 10px
			transition: 0.5s
			&:after
				transition: 0.5s
				border: 2px solid $main_rgb
	.imgWrap
		display: flex
		flex-wrap: wrap
		flex-direction: row
		.imgCont
			width: 25%
			position: relative
			border: 3px solid rgba($main_rgb, 0)
			transition: 0.3s
			&:hover
				transition: 0.5s
				border: 3px solid rgba($main_rgb, 1)
/* --- product END ------------------------------------------------*/	



/* --- ProductAll Start ------------------------------------------------*/
.calc
	h4
		font-style: italic
		text-transform: uppercase
	hr
		background-color: $main_rgb
		width: 50%
	.stepsWrap
		display: flex
		flex-wrap: wrap
		flex-direction: row
		justify-content: space-around
		margin-bottom: 50px
		.stepsCont
			width: 300px
			border-bottom: 5px solid $main_rgb
			padding: 5px
			display: flex
			align-items: center
			justify-content: space-between
			i
				font-size: 25px
				color: $main_rgb
				text-shadow: 2px 2px 2px rgba(5,5,5,.5)
			p
				text-transform: uppercase
				margin: 0
				font-weight: bold
/* --- ProductAll Start ------------------------------------------------*/




/* --- ProductAll Start ------------------------------------------------*/
.prodAll
	text-align: center
	background: url('../img/prodall.jpg')
	background-attachment: fixed
	background-size: cover
	background-position: center center
	background-repeat: no-repeat
	.prodWrap
		background: $main_white
		padding: 0 0 20px 0
		box-shadow: 0px 2px 3px 0px $main_color
		transition: 0.5s
		&:hover
			transition: 0.5s
			background: $main_bg
		.hWrap
			background: $main_rgb
			padding: 10px
			h4
				margin: 0
				color: $main_white
				font-weight: bold
		.txtWrap
			ul
				padding: 10px
				list-style: none
				li
					padding: 5px
					text-transform: uppercase
					&:nth-child(odd)
					&:nth-child(even)
						background: rgba($main_rgb, .6)
	.btnWrap
		.mainBtn
			transition: 0.5s
			&:after
				transition: 0.5s
				border: 2px solid $main_rgb
/* --- ProductAll END ------------------------------------------------*/	


/* --- steps Start ------------------------------------------------*/	
.steps
	text-align: center
	.stepsCont
		display: flex
		flex-wrap: wrap
		flex-direction: row
		justify-content: space-around
		.stepsWrap
			width: 20%
			height: 250px
			position: relative
			perspective: 1000px;
			&:hover
				.front
					transform: rotateY(180deg)
				.back
					transform: rotateY(360deg)
			.front
				position: absolute
				top: 0
				left: 0
				width: 100%	
				height: 100%
				background: $main_white
				transition: 1s
				backface-visibility: hidden
				background: $main_rgb
				display: flex
				flex-wrap: wrap
				flex-direction: column
				justify-content: center
				align-items: center
				color: $main_white
				h2
					font-size: 100px
					margin: 0
					text-decoration: underline
					i
						font-size: 50px
						margin-left: 10px
				hr
					background-color: $main_white
					border: 1px solid $main_white
					width: 60%	
				h5
					text-transform: uppercase
			.back
				position: absolute
				top: 0
				left: 0
				width: 100%	
				height: 100%
				background: $main_rgb
				transform: rotateY(180deg)
				transition: 1s
				backface-visibility: hidden
				display: flex
				justify-content: center
				align-items: center
				color: $main_white
				padding: 10px
				p
					text-transform: uppercase
					font-weight: 600
					margin: 0
/* --- steps END ------------------------------------------------*/	






/* --- advantage Start ------------------------------------------------*/	
.adv
	padding-bottom: 0
	background: url('../img/work2.jpg')
	background-position: center center
	background-repeat: no-repeat
	background-size: cover
	background-attachment: fixed
	ul
		padding: 12px
		color: $main_rgb
		list-style: none
		background: rgba($main_white, .8)
		li
			text-transform: uppercase
			padding: 5px
			position: relative
			font-size: 18px
			font-weight: bold
			i
				position: absolute
				left: -25px
				top: 7px
				font-size: 22px
				color: $main_rgbT
	.buttonWrap
		text-align: center
		justify-content: center
		align-items: center
		margin-top: 10px
		display: flex
		flex-wrap: wrap
		flex-direction: row
		h4
			color: $main_white
			text-transform: uppercase
			margin: 5px 0
		.mainBtn
			margin-left: 10px
			margin-right: 10px
/* --- advantage END ------------------------------------------------*/	


/* --- reviews Start ------------------------------------------------*/
.rev
	text-align: center
	.slick-dots
		li
			button
				&:before
					content: '-'
					font-size: 100px
					color: $main_rgb
	.revWrap
		position: relative
		padding: 10px
		display: flex
		flex-wrap: wrap
		flex-direction: row
		margin: 5px
		&:focus
			outline: none
		.imgWrap
			width: 30%	
			img
				display: block
				margin-left: auto
				margin-right: auto
		.txtWrap
			width: 70%
			display: flex
			justify-content: center
			align-items: center
		&:after
			content: ''
			position: absolute
			top: 0
			left: 0
			width: 50%
			height: 50%
			border-top: 2px solid $main_rgb
			border-left: 2px solid $main_rgb
		&:before
			content: ''
			position: absolute
			bottom: 0
			right: 0
			width: 50%
			height: 50%
			border-bottom: 2px solid $main_rgb
			border-right: 2px solid $main_rgb
/* --- reviews END ------------------------------------------------*/	



/* --- contacts Start ------------------------------------------------*/
.contacts
	background: $main_bg
	text-align: center
	.txtWrap
		display: flex
		flex-wrap: wrap
		flex-direction: column
		justify-content: center
		align-items: center
		h4
			color: $main_rgb
			text-transform: uppercase
		hr
			background-color: $main_rgb
			border: 1px solid $main_rgb
			width: 50%
		a
			margin-bottom: 10px
			i
				color: $main_rgb
				font-size: 20px
				margin-right: 10px
		p
			margin: 0
			i
				color: $main_rgb
				font-size: 20px
				margin-right: 10px
		.social
			i
				font-size: 30px
	iframe
		width: 100%	
		height: 250px
/* --- contacts END ------------------------------------------------*/



/* --- Button Start ------------------------------------------------*/
.mainBtn
	text-transform: uppercase
	padding: 10px 30px
	background: $main_rgb
	transition: 0.3s
	span
		color: $main_white
	position: relative
	&:after
		position: absolute
		content: ''
		top: -5px
		left: -5px
		right: -5px
		bottom: -5px
		border: 2px solid $main_white
		transition: 0.5s
		opacity: 0
	&:hover
		transition: 0.3s
		background: rgba($main_rgb, .8)
		&:after
			top: 0px
			left: 0px
			right: 0px
			bottom: 0px
			opacity: 1
			transition: 0.5s			
/* --- Button END ------------------------------------------------*/	


/* --- Form START ------------------------------------------------*/	
.formOpen
	padding: 25px 10px
	max-width: 300px
	position: relative
	background: $main_rgb
	text-align: center
	h3, h4
		color: $main_white
	hr
		background-color: $main_white
	.mainBtn
		border: 1px solid $main_white
	input
		width: 100%
		margin-bottom: 20px
		text-align: center
.form-calc
	display: flex
	flex-wrap: wrap
	flex-direction: row
	justify-content: space-around
	.mainBtn
		border: none
		transition: 0.5s
		padding: 10px 30px
		cursor: pointer
		&:after
			transition: 0.5s
			border: 2px solid $main_rgb
	.selectWrap
		display: flex
		flex-wrap: wrap
		flex-direction: column
		width: 300px
		align-items: center
		justify-content: flex-start
		input
			width: 200px
			padding: 5px
			text-align: center
			border: 2px solid $main_rgb
			&:focus
				outline: 3px solid $main_rgb 
		label
			position: relative
			text-transform: uppercase
			font-weight: bold
			&:after
				position: absolute
				content: ''
				width: 100%
				height: 120%
				top: -5px
				left: 10px
				border-top: 2px solid $main_rgb
				border-right: 2px solid $main_rgb
			&:before
				position: absolute
				content: ''
				width: 100%
				height: 120%
				top: -10px
				left: 15px
				border-top: 2px solid $main_rgb
				border-right: 2px solid $main_rgb
		select
			text-align: center
			padding: 5px
			width: 200px
			border: 2px solid $main_rgb
			font-weight: bold
			&:focus
				outline: 3px solid $main_rgb
			option
				font-weight: bold
				&:focus
					outline: 3px solid $main_rgb
	.formInput
		input
			width: 200px
			margin-bottom: 15px
/* --- Form END ------------------------------------------------*/	


/* --- Other START ------------------------------------------------*/	
.headerH
	text-transform: uppercase
	position: relative
	display: inline-block
	padding: 5px 10px
	font-weight: bold
	letter-spacing: 1px
	span
		mix-blend-mode: multiply
	&:before
		position: absolute
		content: ''
		top: 0
		left: 22px
		width: 100%
		height: 100%
		background: $main_rgb