$main_color: #252626
$main_white: #fff
$main_blue: #0746c8
$main_yellow: #feda46
$main_bg: #fafcfc


body
	background: $main_bg
	font-family: 'Roboto', sans-serif
	font-weight: normal
	font-size: 16px
	color: $main_color
	margin: 0
	padding: 0
	position: relative
	line-height: 1.6
	box-sizing: border-box
	a
		text-decoration: none
		color: $main_color
		&:hover
			text-decoration: none
			color: $main_color
button
	outline: none
	&:focus
		outline: none
.hidden
	display: none
section
	overflow: hidden
.done
	min-height: 100vh

/* --- Navbar START ------------------------------------------------*/
.navbar
	transition: 0.5s
	background: rgba(255,255,255, 0)
	.msgIcon
		font-size: 26px
		color: $main_white
		display: inline-block
		padding: 0
		transition: 0.3s
		&:hover
			transition: 0.3s
			color: $main_yellow
	.navbar-brand
		padding: 0
	img
		width: 40px
		margin: 0
		padding: 0
	.br_m
		margin-right: 10px
		padding-right: 10px
	.anim
		text-transform: uppercase
		position: relative
		overflow: hidden
		span
			color: $main_white
			transition: 0.5s
			transform-origin: left
		&:before
			transition: 0.5s
			position: absolute
			content: ''
			top: 0
			left: 0
			width: 100%
			height: 100%
			border-bottom: 2px solid $main_blue
			transform-origin: center
			transform: scaleX(0)
		&:hover
			span
				color: $main_yellow
			&:before
				transform: scaleX(1)
	p
		font-size: 24px
		color: $main_white
		margin: 0
		padding-right: 10px
		display: inline-block
	.navbar-toggler-icon
		background: url('../img/burger-light.png')
		background-size: 100% 100%
		background-repeat: no-repeat
		width: 2em
		height: 2em
		&:focus
			outline: none
	.navbar-toggler
		transition: 0.3s
		&:focus
			transition: 0.3s
			outline: none
			border: 1px solid #fff
.active
	position: relative
	overflow: hidden
	span
		color: $main_blue !important
	&:before
		transition: 0.5s
		position: absolute
		content: ''
		top: 0
		left: 0
		width: 100%
		height: 100%
		border-bottom: 2px solid $main_color
		transform-origin: right
		transform: scaleX(0)
		animation: animate 7s linear infinite
@keyframes animate 
	0%
		transform-origin: right
		transform: scaleX(0)
	50%
		transform-origin: right
		transform: scaleX(1)
	51%
		transform-origin: right
		transform: scaleX(1)
	100%
		transform-origin: right
		transform: scaleX(0)
.fixed-nav
	.msgIcon
		color: $main_blue
	.anim
		span
			color: $main_blue
	p
		color: $main_blue
		padding-left: 10px
	background: rgba(255,255,255, 0.9)
	color: $main_yellow
	padding: .4rem .4rem
	transition: 0.5s
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1)
	.navbar-toggler-icon
		background: url('../img/burger-black.png')
		background-size: 100% 100%
		background-repeat: no-repeat
		width: 2em
		height: 2em
		&:focus
			outline: none
	.navbar-toggler
		transition: 0.3s
		&:focus
			transition: 0.3s
			outline: none
			border: 1px solid $main_color
.navbar-nav
	text-align: center
	
/* --- Navbar END ------------------------------------------------*/
// --------------------------------------------- firstScroll START
.firstScroll
	padding: 30px 0
	min-height: 100vh
	display: flex
	justify-content: center
	align-items: center
	flex-direction: column
	position: relative
	.bgMain
		background: url('../img/mainBg.jpg')
		background-position: center center
		background-repeat: no-repeat
		background-size: cover
		position: absolute
		z-index: -2
		top: 0
		left: 0
		right: 0
		bottom: 0
		transform: scale(1)
		transition: 10s		
	.headerCont
		text-align: left
		display: inline-block
		margin-left: auto
		margin-right: auto
		.headerwrap
			h1
				text-transform: uppercase
				color: $main_white
			h2
				color: $main_white
				text-transform: uppercase
				span
					color: $main_yellow
					font-weight: bold
			h4
				text-transform: uppercase
				color: $main_white
			.trigger01
				transition: 1s
				transform: scalex(0)
				transform-origin: left
				h4
					font-size: 2rem
			.trigger02
				transition: 1.5s
				transform: scalex(0)
				transform-origin: right
				h4
					font-size: 2rem
			.trigger03
				transition: 2s
				transform: scalex(0)
				transform-origin: left
				h4
					font-size: 2rem
		.mainAnimElem
			position: relative
			padding: 0px 5px
			.headAnimWrapOne
				position: absolute
				top: 0
				right: 0
				width: 100%
				height: 50%
				transition: 1.5s
				background: $main_white
			.headAnimWrapTwo
				position: absolute
				bottom: 0
				left: 0
				width: 100%
				height: 50%
				transition: 1.5s
				background: $main_white
	.buttonCont
		.txtWrap
			color: $main_white
			h3
				background: rgba($main_blue, .7)
				padding: 5px 10px
				span
					text-transform: uppercase
					color: $main_yellow
// --------------------------------------------- firstScroll END

// --------------------------------------------- about END
.about
	padding: 150px 0
	position: relative
	overflow: hidden
	.lineOne
		position: absolute
		top: 70px
		left: 0
		width: 0
		height: 
		background: rgba($main_blue, .4)
		transition: 4s
	.lineTwo
		transition: 4s
		position: absolute
		bottom: 70px
		right: 0
		width: 0
		height: 
		background: rgba($main_blue, .4)
	.bgTxt
		overflow: hidden
		text-transform: uppercase
		font-weight: bold
		position: absolute
		top: 50%
		left: 50%
		transform: translate(-50%,-50%)
		font-size: 530px
		opacity: .1
		transition: 7s
		span
			overflow: hidden
			transition: 7s
	.txtCont
		position: relative
		border-left: 5px solid $main_yellow
		padding: 20px
		.headWrap
			transition: 2s
			h3
				text-transform: uppercase
				color: $main_yellow
		.txtWrap
			transition: 2s
			opacity: 0
			p
				font-size: 18px
				padding: 0
				margin: 0
				color: $main_white
		.bgColor
			transition: 2s
			z-index: -1
			position: absolute
			top: 8px
			bottom: 8px
			left: 0
			width: 0
			background: rgba($main_color, .7)
	.videoCont
		border-right: 5px solid $main_blue
		padding: 10px 0 10px 10px
		overflow: hidden
		.videoWrap
			transition: 2s
			transform: translateX(110%)
			position: relative
			img
				box-shadow: 0px 2px 3px 0px #222
			a
				position: absolute
				top: 50%
				left: 50%
				transform: translate(-50%, -50%)
				font-size: 80px
				color: 	#cc181e
				animation-name: youtubeRotate
				animation-duration: 5s
				animation-iteration-count: infinite
				animation-timing-function: ease-in-out
				text-shadow: 0px 0px 5px $main_white
				transition: .3s
				&:hover
					transition: .3s
					color: $main_yellow
@keyframes youtubeRotate
	20%
		transform: translate(-50%, -50%) rotate(-5deg)
	50%
		text-shadow: 0px 0px 50px $main_blue
	70%
		transform: translate(-50%, -50%) rotate(5deg)
// --------------------------------------------- about END

// --------------------------------------------- Product Start
.products
	padding-bottom: 30px
	.headCont
		h3
			text-align: center
			text-transform: uppercase
			font-size: 19vw
			font-weight: bold
			color: $main_color
			background: url('../img/headBg.jpg') no-repeat
			background-attachment: fixed
			-webkit-background-clip: text
			-webkit-text-fill-color: transparent
	.prodCont
		margin-bottom: 20px
		.headerWrap
			overflow: hidden
			padding: 10px
			border-bottom: 2px solid $main_blue
			margin-bottom: 20px
			h4
				transform: translateY(-150%)
				transition: 2s
				color: $main_blue
				margin: 0
				padding: 0
				font-weight: bold
		.listWrap
			ul
				list-style: none
				margin: 0
				padding: 0
				li
					font-size: 18px
					font-weight: 600
					margin-bottom: 15px
					padding: 5px
					transition: .3s
					&:hover
						transition: .3s
						background: rgba($main_color, .3)
// --------------------------------------------- Product End

// --------------------------------------------- offer Start
.offer
	background: rgba($main_blue,.7)
	padding: 30px 0
	.offerCont
		.txtWrap
			text-align: center
			margin-bottom: 20px
			position: relative
			padding: 10px 0
			.bgOfferProd1
				position: absolute
				top: 0
				left: 0
				width: 100%
				height: 50%
				background: $main_yellow
				transition: 2s
			.bgOfferProd2
				position: absolute
				bottom: 0
				right: 0
				width: 100%
				height: 50%
				background: $main_yellow
				transition: 2s
			span
				color: $main_yellow
			h3
				color: $main_white
				text-transform: uppercase
				display: inline-block
				margin: 0
				padding: 0
			hr
				background-color: $main_yellow
				border: 1px solid $main_yellow
				width: 60%
			h4
				text-transform: uppercase
				color: $main_white
		.btnWrap
			margin-bottom: 20px
// --------------------------------------------- offer End

// --------------------------------------------- Portfolio Start
.portfolio
	padding: 30px 0
	img
		max-width: 100%
		height: auto
	.headCont
		h3
			text-align: center
			text-transform: uppercase
			font-size: 14vw
			font-weight: bold
			color: $main_color
			background: url('../img/portbg.jpg') no-repeat
			background-attachment: fixed
			background-size: cover
			background-position: center center
			-webkit-background-clip: text
			-webkit-text-fill-color: transparent	
	.portCont
		.portWrap
			.imgWrap
				width: 80%
				display: block
				margin-left: auto
				margin-right: auto
				img
					display: block
					margin-left: auto
					margin-right: auto
			&:focus
				outline: none
	.slick-prev
		left: 20px
		width: 50px
		height: 50px
		&:before
			position: absolute
			content: ''
			width: 100%
			height: 100%
			top: 0
			left: 0
			border-top: 3px solid $main_color
			border-right: 3px solid $main_color
			transform: rotate(-135deg)
	.slick-next
		right: 20px
		width: 50px
		height: 50px
		&:before
			position: absolute
			content: ''
			width: 100%
			height: 100%
			top: 0
			left: 0
			border-top: 3px solid $main_color
			border-right: 3px solid $main_color
			transform: rotate(45deg)
// --------------------------------------------- Portfolio End


// --------------------------------------------- Steps Start
.steps
	padding: 40px 0
	position: relative
	.logoWrap
		position: absolute
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)
		opacity: .1
		img
			width: 60%
			display: block
			margin-left: auto
			margin-right: auto
	.lineOne
		transition: 2s
		position: absolute
		top: 20%
		left: 0
		width: 0
		height: 40px
		background: rgba($main_blue, .2)
	.lineTwo
		transition: 2s
		position: absolute
		bottom: 20%
		right: 0
		width: 0
		height: 40px
		background: rgba($main_blue, .2)		
	.headerCont
		margin-bottom: 50px
		h3
			display: inline-block
			margin: 0
			padding: 0
			font-weight: bold
			text-transform: uppercase
			position: relative
			&:before
				content: ''
				position: absolute
				top: 10px
				left: 10px
				width: 100%
				height: 100%
				background: $main_yellow
				z-index: -2
	.stepCont
		padding: 5px
		height: 100%
		transition: .3s
		position: relative
		.numberWrap
			margin-bottom: 20px
			h2
				color: $main_blue
				text-transform: uppercase
				font-weight: bold
		.headerWrap
			h4
				transition: .3s
				text-transform: uppercase
				font-weight: bold
				margin-bottom: 20px
			hr
				border: 1px solid $main_color
		.txtWrap
		&:before
			content: ''
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: 100%
			background: rgba($main_color, .1)
			transition: .3s
			transform: scaleY(0)
			transform-origin: bottom
		&:hover
			.headerWrap
				h4
					transition: .3s
					color: $main_yellow
			&:before
				transition: .3s
				transform: scaleY(1)
// --------------------------------------------- Steps End

// --------------------------------------------- Team Start
.team
	.headCont
		h3
			text-align: center
			text-transform: uppercase
			font-size: 10vw
			font-weight: bold
			color: $main_color
			background: url('../img/teambg.jpg') no-repeat
			background-attachment: fixed
			background-size: 100% 100%
			background-position: center center
			-webkit-background-clip: text
			-webkit-text-fill-color: transparent	
	.teamCont
		outline: none
		padding: 15px
		background: rgba($main_blue, .1)
		transition: 2s
		display: flex
		.teamWrap
			height: 100%
			position: relative
			margin: 20px
			display: flex
			flex-direction: column
			justify-content: space-between
			&:focus
				outline: none
			.lineOne
				position: absolute
				bottom: 15px
				left: 0
				width: 100%
				height: 50px
				background: rgba($main_blue, .1)
			.imgWrap
				margin-bottom: 10px
				img
					border-left: 3px solid $main_blue
					border-bottom: 3px solid $main_blue
					display: block
					margin-left: auto
					margin-right: auto
					max-width: 100%
					height: auto
					border-top-left-radius: 20%
					border-bottom-right-radius: 20%
			.nameWrap
				text-align: center
				text-transform: uppercase
				color: $main_blue
			.txtWrap
				text-align: center
				font-style: italic
	.slick-prev
		left: 0px
		width: 50px
		height: 50px
		z-index: 2
		&:before
			position: absolute
			content: ''
			width: 100%
			height: 100%
			top: 0
			left: 0
			border-top: 3px solid $main_color
			border-right: 3px solid $main_color
			transform: rotate(-135deg)
	.slick-next
		right: 0px
		width: 50px
		height: 50px
		z-index: 2
		&:before
			position: absolute
			content: ''
			width: 100%
			height: 100%
			top: 0
			left: 0
			border-top: 3px solid $main_color
			border-right: 3px solid $main_color
			transform: rotate(45deg)
// --------------------------------------------- Team END

// --------------------------------------------- Cont START
/* --- contacts Start ------------------------------------------------*/
.contacts
	padding: 100px 0 100px 0
	.row
		position: relative
		box-shadow: 0px 2px 3px 0px rgba($main_color, .3)
		padding: 30px
		background: rgba($main_blue, .4)
		color: $main_white
	.formWrap
		h3
			padding: 10px
			margin-bottom: 50px
		.contForm
			display: flex
			flex-direction: row
			flex-wrap: wrap
			.txtWrap
				padding: 10px
				width: 100%
			.inputWrap
				padding: 10px
				input
					text-align: center
					width: 100%
					display: block
					margin-bottom: 20px
					padding: 10px
					border: none
					border-radius: 10px
					border-top-right-radius: 0
					border: 2px solid $main_yellow
					&:focus
						transition: 0.3s
						outline: none
						border: 2px solid $main_blue
			.msgWrap
				padding: 10px
				textarea
					text-align: center
					width: 100%	
					height: 100%
					padding: 10px
					border: none
					border-radius: 10px
					border-top-right-radius: 0
					border: 2px solid $main_yellow
					&:focus
						transition: 0.3s
						outline: none
						border: 2px solid $main_blue
			.mapWRap
				position: absolute
				top: -50px
				right: -50px
				height: 100%
				width: 50%
				border-radius: 10px
				iframe
					width: 100%
					height: 100%
			.btnWrap
				width: 100%
				button
					margin-left: 0 
	.txtCont
		.txtWrap
			padding-left: 20px
			a
				color: $main_white
				transition: 0.3s
				&:hover
					transition: 0.3s
					color: $main_yellow
			i
				color: $main_yellow
				font-size: 22px
				margin-right: 10px
			.socWrap
				a
					i
						font-size: 36px
						transition: 0.5s
						&:hover
							transition: 0.5s
							transform: scale(1.1)
					&:nth-child(1)
						i
							color: #3b5998
					&:nth-child(2)
						i
							color: #C13584
					&:nth-child(3)
						i
							color: #cc181e
/* --- contacts END ------------------------------------------------*/
// --------------------------------------------- Cont END



.tmp
	min-height: 100vh

// --------------------------------------------- Button END
.mainBtn
	margin-left: auto
	margin-right: auto
	text-align: center
	display: block
	width: 250px
	max-width: 100%
	background: $main_white
	text-transform: uppercase
	padding: 10px
	position: relative
	border: none
	box-shadow: 0px 0px 3px 0px $main_color
	transition: .5s
	span
    transition: .5s
    color: $main_white
    mix-blend-mode: difference
	&:before
		position: absolute
		content: ''
		top: 0
		left: 0
		width: 100%
		height: 100%
		background: $main_blue
		transform: scaleX(0)
		transition: .5s
		transform-origin: right
	&:hover
		span
			transition: .5s
		&:before
			transform: scaleX(1)

// --------------------------------------------- Button END

.callButton
	position: fixed
	bottom: 20px
	right: 20px
	z-index: 999
	a
		span
			background: $main_blue
			border-radius: 50%
			display: block
			border: $main_blue
			width: 60px
			height: 60px
			display: flex
			justify-content: center
			align-items: center
			position: relative
			&:after
				background: $main_blue
				content: ''
				position: absolute
				top: 0px
				left: 0px
				bottom: 0px
				right: 0px
				border: 2px solid $main_blue
				border-radius: 50%
				animation-name: borderAfter
				animation-duration: 5s
				animation-iteration-count: infinite
				animation-timing-function: ease-in-out
				opacity: 0.8
			&:before
				background: $main_blue
				content: ''
				position: absolute
				top: 0px
				left: 0px
				bottom: 0px
				right: 0px
				border: 2px solid $main_blue
				border-radius: 50%
				animation-name: borderAfter
				animation-duration: 5s
				animation-delay: 0.3s
				animation-iteration-count: infinite
				animation-timing-function: ease-in-out
				opacity: 0.8
			i
				color: $main_yellow
				font-size: 35px
				transition: 0.5s
				animation-name: phoneRotate
				animation-duration: 5s
				animation-iteration-count: infinite
		&:hover
			span
				i
					transition: 0.5s
					color: $main_white
					
@keyframes phoneRotate 
	0%
		transform: rotate(0deg)
	25%
		transform: rotate(20deg)
	50%
		transform: rotate(0deg)
	75%
		transform: rotate(-20deg)
	100%
		transform: rotate(0deg)
@keyframes borderAfter 
	20%, 100%
		background: $main_yellow
		border: 2px solid $main_yellow
		top: -20px
		left: -20px
		bottom: -20px
		right: -20px
		opacity: 0
/* --- Other START ------------------------------------------------*/	
