.red {
  color: #D80D0D;
  font-size: 18px; }

body {
  font-family: "Exo 2", sans-serif; }

.color_gray {
  color: #5F5F5F; }

.bb_ {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2); }

.my_header, .thank {
  height: 100%;
  min-height: 100vh; }
  .my_header .d_b_backmain, .thank .d_b_backmain {
    display: inline-block;
    margin-top: 100px;
    transition: 0.3s;
    transform: translate(0px); }
    .my_header .d_b_backmain:hover, .thank .d_b_backmain:hover {
      transition: 0.3s;
      transform: translate(-10px); }
    .my_header .d_b_backmain .b_backmain, .thank .d_b_backmain .b_backmain {
      color: white;
      font-size: 16px;
      border-radius: 20px;
      padding: 10px 20px;
      background: #73472C; }
      .my_header .d_b_backmain .b_backmain:hover, .thank .d_b_backmain .b_backmain:hover {
        color: white !important; }
  .my_header .fulldesc .my_list_desc img, .thank .fulldesc .my_list_desc img {
    margin-top: 11px;
    margin-right: 5px;
    width: 6px;
    height: 6px; }
  .my_header .col_video p, .thank .col_video p {
    font-size: 20px; }
  .my_header .col_video .alazea-video-area, .thank .col_video .alazea-video-area {
    width: 100%; }
    .my_header .col_video .alazea-video-area img, .thank .col_video .alazea-video-area img {
      height: auto;
      width: 100%; }
    .my_header .col_video .alazea-video-area .img_play, .thank .col_video .alazea-video-area .img_play {
      width: 80px; }
  .my_header .descriprion_main, .thank .descriprion_main {
    min-height: 600px; }
    .my_header .descriprion_main .fulldesc, .thank .descriprion_main .fulldesc {
      margin-top: 40px;
      border-top: 1px solid rgba(0, 0, 0, 0.2); }
    .my_header .descriprion_main .p_title_desc, .thank .descriprion_main .p_title_desc {
      color: #569AE1;
      border: 1px solid rgba(0, 0, 0, 0.2);
      border-bottom: none;
      padding: 5px 10px; }
  .my_header .colTitleProd, .thank .colTitleProd {
    padding-bottom: 30px; }
    .my_header .colTitleProd .variantDelivery, .thank .colTitleProd .variantDelivery {
      border: 2px solid rgba(0, 0, 0, 0.2);
      padding: 20px; }
      .my_header .colTitleProd .variantDelivery .f_varDeliv, .thank .colTitleProd .variantDelivery .f_varDeliv {
        border-right: 2px solid rgba(0, 0, 0, 0.2); }
    .my_header .colTitleProd .price p, .thank .colTitleProd .price p {
      font-size: 20px; }
    .my_header .colTitleProd .dSinglePay, .thank .colTitleProd .dSinglePay {
      padding-top: 35px;
      padding-bottom: 30px; }
      .my_header .colTitleProd .dSinglePay a, .thank .colTitleProd .dSinglePay a {
        color: white;
        padding: 10px 40px;
        font-size: 18px;
        background: #7AAF43; }
        .my_header .colTitleProd .dSinglePay a:hover, .thank .colTitleProd .dSinglePay a:hover {
          color: white !important;
          background: #6E9D3C; }
    .my_header .colTitleProd .nav-tabs, .thank .colTitleProd .nav-tabs {
      border: none !important; }
      .my_header .colTitleProd .nav-tabs a, .thank .colTitleProd .nav-tabs a {
        color: black !important; }
      .my_header .colTitleProd .nav-tabs .dropdown-menu, .thank .colTitleProd .nav-tabs .dropdown-menu {
        background: linear-gradient(to bottom, #f0f0f0, #ccc); }
  .my_header .colPhotosA, .thank .colPhotosA {
    padding-top: 10px; }
    .my_header .colPhotosA #thumbs a, .thank .colPhotosA #thumbs a {
      margin-top: 5px;
      padding: 5px;
      border: 1px solid #f0f0f0; }
      .my_header .colPhotosA #thumbs a:hover, .thank .colPhotosA #thumbs a:hover {
        border-color: #ccc; }
      .my_header .colPhotosA #thumbs a:focus, .thank .colPhotosA #thumbs a:focus {
        border-color: #ccc; }
  .my_header .colPhotos, .thank .colPhotos {
    padding-top: 30px; }
    .my_header .colPhotos .viewPhoto, .thank .colPhotos .viewPhoto {
      width: 100%;
      margin-bottom: 10px;
      -webkit-box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.75);
      box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.75); }
  .my_header h4, .thank h4 {
    font-size: 22px;
    display: inline-block;
    border-bottom: 3px solid #73472C;
    padding: 5px;
    color: #323232; }
  .my_header a, .thank a {
    font-family: "Exo 2", sans-serif !important; }
    .my_header a:hover, .thank a:hover {
      color: black !important; }
  .my_header .navbar, .thank .navbar {
    background: white; }
    .my_header .navbar .navbar-brand img, .thank .navbar .navbar-brand img {
      height: auto;
      max-width: 150px; }
  .my_header .contents, .thank .contents {
    padding: 0; }
    .my_header .contents .head-title, .thank .contents .head-title {
      color: #323232;
      display: inline-block;
      padding: 10px;
      font-size: 30px; }
  .my_header .triggers, .thank .triggers {
    padding: 5px;
    box-shadow: 0px 6px 12px -6px rgba(0, 0, 0, 0.75); }
    .my_header .triggers h4, .thank .triggers h4 {
      margin-left: auto;
      margin-right: auto; }
    .my_header .triggers p, .thank .triggers p {
      color: #323232;
      font-size: 22px;
      padding: 5px; }
  .my_header .col_img, .thank .col_img {
    display: flex;
    justify-content: center; }
    .my_header .col_img img, .thank .col_img img {
      box-shadow: 0px 6px 12px -6px rgba(0, 0, 0, 0.75);
      border-right: 3px solid #73472C; }
  .my_header .myContBtn, .thank .myContBtn {
    color: white !important;
    background: #73472C;
    padding: 5px 10px !important;
    border-radius: 25px;
    border: 2px solid #73472C; }
    .my_header .myContBtn:hover, .thank .myContBtn:hover {
      color: #73472C !important;
      background: transparent; }
    .my_header .myContBtn:before, .thank .myContBtn:before {
      background: none !important; }

.d_arrow_down {
  padding-top: 60px;
  transform: scale(1, 1);
  -webkit-animation: shake 0.5s linear alternate-reverse infinite;
  animation: shake 0.5s linear alternate-reverse infinite; }
  .d_arrow_down img {
    width: 20px; }

.video_scroll {
  padding: 30px 0; }

.video-promo {
  padding: 30px 0;
  background: white; }
  .video-promo .col_video img {
    height: auto;
    width: 100%; }
  .video-promo .col_video .poster {
    border: 5px solid #4A2E1C; }

.my_advantages {
  padding: 30px 0; }
  .my_advantages .box-item {
    height: 150px; }
    .my_advantages .box-item .text {
      height: 110px;
      box-shadow: 0px 0px 16px rgba(131, 131, 131, 0.7); }
      .my_advantages .box-item .text p {
        font-size: 18px; }

.br_ {
  border-right: 3px solid #73472C; }

.bl_ {
  border-left: 3px solid #73472C; }

.my_prod {
  overflow: hidden;
  padding: 30px 0; }
  .my_prod .single-team {
    position: relative;
    margin-left: 25px;
    margin-right: 25px;
    box-shadow: 0px 0px 16px rgba(131, 131, 131, 0.7); }
    .my_prod .single-team .team-thumb {
      position: relative; }
      .my_prod .single-team .team-thumb .d_overimg {
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        opacity: 0; }
      .my_prod .single-team .team-thumb .hit {
        top: 0px;
        right: 0px;
        height: 80px;
        width: 80px;
        z-index: 999; }
  .my_prod .social-list {
    width: 100%; }
    .my_prod .social-list li a {
      transition: 0.2s !important;
      border-bottom: 2px solid transparent; }
      .my_prod .social-list li a:hover {
        transition: 0.2s !important;
        background: transparent !important;
        border-bottom: 2px solid white; }

.reviews {
  padding: 30px 0; }
  .reviews .testimonial-item {
    min-height: 488px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3); }
    .reviews .testimonial-item .img-thumb img {
      height: 50px;
      width: 50px;
      border-radius: 0; }

.questions {
  padding: 30px 0; }
  .questions .items_quests .answer img {
    height: auto;
    width: 100%; }
  .questions .items_quests .quest {
    color: #191C1E;
    padding-bottom: 2px;
    border-bottom: 1px solid black; }
    .questions .items_quests .quest:hover {
      border-bottom-color: transparent; }
  .questions .my_btn_d {
    padding-top: 30px; }
    .questions .my_btn_d .btn {
      border: 2px solid #73472C;
      transition: 0.3s;
      transform: scale(1, 1); }
      .questions .my_btn_d .btn:hover {
        transition: 0.3s;
        color: white;
        transform: scale(1.05, 1.05);
        background: #73472C; }

.menu-bg {
  z-index: 999 !important; }

.answer {
  position: relative;
  background: white;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  border-left: 3px solid #73472C;
  text-align: center;
  z-index: 9999 !important; }
  .answer img {
    max-width: 700px; }
  .answer p {
    text-align: left; }
  .answer .mfp-close {
    top: 2%;
    right: -50px;
    border-radius: 50%;
    transition: 0.3s;
    background: black;
    opacity: 1;
    color: red; }
    .answer .mfp-close:hover {
      transition: 0.3s;
      background: #ccc;
      border-radius: 50%;
      color: #f0f0f0; }
  .answer .table img {
    height: auto;
    max-width: 100px !important; }

.hidden {
  display: none; }

.pricing-section {
  padding: 30px 0; }
  .pricing-section .pricing-table ul li {
    font-size: 18px; }
  .pricing-section .pricing-details img {
    height: 40px;
    width: 40px;
    margin-left: 30px; }

.fs_22px {
  font-size: 22px; }

.my_form {
  padding: 29px 0;
  justify-content: flex-start; }
  .my_form .my_inp {
    padding: 10px;
    width: 100%;
    margin: 10px 0;
    border-radius: 30px;
    transition: 0.3s;
    border: 2px solid #ccc; }
    .my_form .my_inp:focus {
      transition: 0.3s;
      border-color: #73472C; }
  .my_form .my_btn {
    margin-top: 20px;
    padding: 15px 40px;
    color: #73472C;
    transition: 0.3s;
    background: transparent;
    border: 2px solid #73472C; }
    .my_form .my_btn:hover {
      transition: 0.3s;
      color: white;
      background: #73472C; }

.pptt {
  padding-bottom: 0; }
  .pptt:hover {
    background-image: -moz-linear-gradient(0deg, white 0%, white 0%);
    background-image: -webkit-linear-gradient(0deg, white 0%, white 0%);
    background-image: -ms-linear-gradient(0deg, white 0%, white 0%);
    box-shadow: 0px 0px 43px 0px rgba(131, 131, 131, 0.5); }

#blog .blog-item-wrapper {
  min-height: 451px;
  max-width: 400px;
  box-shadow: 0px 0px 43px 0px rgba(131, 131, 131, 0.5); }
  #blog .blog-item-wrapper .small_ {
    font-size: 20px; }
  #blog .blog-item-wrapper h3 {
    color: white; }
  #blog .blog-item-wrapper .title_blog {
    width: 100%;
    top: 25%;
    text-align: center; }

.footer-Content .widget p {
  color: white;
  font-size: 16px; }
  .footer-Content .widget p img {
    height: 25px;
    width: 25px; }
.footer-Content .col_logo img {
  height: auto;
  width: 25%;
  border-radius: 50%; }
.footer-Content .col_logo .energi {
  width: 15%; }
.footer-Content .col_logo h5 {
  color: white;
  font-size: 30px;
  text-align: center;
  width: 70%;
  margin-right: auto; }

.navbar-expand-md .navbar-nav .akcia_hover::before {
  background: #D80D0D !important; }

.f_size18px {
  font-size: 18px; }

.red-color {
  color: red;
  margin: 0; }

#myMainFormId {
  max-width: 400px; }

.myContactDForm {
  max-width: 500px;
  position: relative;
  background: white;
  padding: 10px;
  padding-top: 30px; }
  .myContactDForm img {
    height: auto;
    width: 100%; }
  .myContactDForm .section-header .section-title {
    background-image: linear-gradient(to top left, #f0f0f0, white) !important;
    margin: 0 !important; }
  .myContactDForm .d_inp {
    width: 100%; }
    .myContactDForm .d_inp .my_inp {
      width: 100%; }
      .myContactDForm .d_inp .my_inp:focus {
        border-color: rgba(0, 0, 0, 0.3);
        box-shadow: 0px 0px 5px #dddddd; }
  .myContactDForm .my_btn {
    border-color: white;
    color: white;
    background: #73472C; }
    .myContactDForm .my_btn:hover {
      color: black;
      cursor: pointer; }
  .myContactDForm .price {
    padding-top: 10px; }
  .myContactDForm .politic {
    color: #5F5F5F;
    transition: 0.3s;
    text-decoration: underline; }
    .myContactDForm .politic:hover {
      transition: 0.3s;
      text-decoration: none; }

.well {
  padding-top: 10px; }
  .well input {
    padding: 3px 3px;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    width: 50px !important; }
  .well .b_spinner {
    color: rgba(0, 0, 0, 0.3);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 29px;
    height: 29px;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.3); }

.border_left_style {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-left: 1px solid rgba(0, 0, 0, 0.3); }

.border_right_style {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-right: 1px solid rgba(0, 0, 0, 0.3); }

.hr_ {
  border: 0;
  height: 0;
  margin-top: 0 !important;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3); }

.contSlider {
  padding-top: 50px; }
  .contSlider .slider .img_ {
    width: 100% !important; }

input:focus {
  outline: none !important; }

.thank .thankText {
  height: 160px;
  background: linear-gradient(to bottom, #f0f0f0, #ccc); }
  .thank .thankText h3 {
    color: #73472C; }
.thank .d_b_backmain {
  margin-top: 20px; }
.thank .dAkcProd img {
  height: auto;
  max-width: 100%; }
.thank .skidca {
  display: inline-block;
  padding: 25px 20px;
  margin-top: 20px;
  border-radius: 50%;
  background: linear-gradient(to left, #E14141, #EA0000); }
  .thank .skidca p {
    color: white;
    font-size: 16px; }
.thank .dPriceAndPay {
  justify-content: space-around;
  padding-bottom: 20px; }
  .thank .dPriceAndPay p {
    font-size: 18px; }
  .thank .dPriceAndPay .pay {
    background: #73472C;
    color: white;
    border: 2px solid #73472C; }
    .thank .dPriceAndPay .pay:hover {
      color: #73472C !important;
      background: transparent; }

/*# sourceMappingURL=my_css.css.map */
