.red {
  color: #D80D0D;
  font-size: 18px; }

body {
  font-family: "Exo 2", sans-serif; }

.my_header {
  height: 100%;
  min-height: 100vh; }
  .my_header h4 {
    font-size: 22px;
    display: inline-block;
    border-bottom: 3px solid #73472C;
    padding: 5px;
    color: #323232; }
  .my_header a {
    font-family: "Exo 2", sans-serif !important; }
    .my_header a:hover {
      color: black !important; }
  .my_header .navbar {
    background: white; }
    .my_header .navbar .navbar-brand img {
      height: auto;
      max-width: 150px; }
  .my_header .contents {
    padding: 0; }
    .my_header .contents .head-title {
      color: #323232;
      display: inline-block;
      padding: 10px;
      font-size: 30px; }
  .my_header .triggers {
    border-left: 3px solid #73472C;
    padding: 5px;
    box-shadow: 0px 6px 12px -6px rgba(0, 0, 0, 0.75); }
    .my_header .triggers h4 {
      margin-left: auto;
      margin-right: auto; }
    .my_header .triggers p {
      color: #323232;
      font-size: 22px;
      padding: 5px; }
  .my_header .col_img {
    display: flex;
    justify-content: center; }
    .my_header .col_img img {
      box-shadow: 0px 6px 12px -6px rgba(0, 0, 0, 0.75);
      border-right: 3px solid #73472C; }

.d_arrow_down {
  padding-top: 60px;
  transform: scale(1, 1);
  -webkit-animation: shake 0.5s linear alternate-reverse infinite;
  animation: shake 0.5s linear alternate-reverse infinite; }
  .d_arrow_down img {
    width: 20px; }

.video_scroll {
  padding: 30px 0; }

.video-promo {
  padding: 30px 0;
  background: white; }
  .video-promo .col_video img {
    height: auto;
    width: 100%; }
  .video-promo .col_video .poster {
    border: 5px solid #4A2E1C; }

.my_advantages {
  padding: 30px 0; }
  .my_advantages .box-item {
    height: 150px; }
    .my_advantages .box-item .text {
      height: 110px;
      box-shadow: 0px 0px 16px rgba(131, 131, 131, 0.35); }
      .my_advantages .box-item .text p {
        font-size: 16px; }

.br_ {
  border-right: 3px solid #73472C; }

.bl_ {
  border-left: 3px solid #73472C; }

.my_prod {
  overflow: hidden;
  padding: 30px 0; }
  .my_prod .single-team {
    margin-left: 25px;
    margin-right: 25px; }
    .my_prod .single-team .team-thumb .hit {
      top: 0px;
      right: 0px;
      height: 80px;
      width: 80px;
      z-index: 999; }
  .my_prod .social-list {
    width: 100%; }
    .my_prod .social-list li a {
      transition: 0.2s !important;
      border-bottom: 2px solid transparent; }
      .my_prod .social-list li a:hover {
        transition: 0.2s !important;
        background: transparent !important;
        border-bottom: 2px solid white; }

.reviews {
  padding: 30px 0; }
  .reviews .testimonial-item {
    min-height: 488px; }
    .reviews .testimonial-item .img-thumb img {
      height: 50px;
      width: 50px;
      border-radius: 0; }

.questions {
  padding: 30px 0; }
  .questions .items_quests .quest {
    color: #191C1E;
    padding-bottom: 2px;
    border-bottom: 1px solid transparent; }
    .questions .items_quests .quest:hover {
      border-bottom-color: #73472C; }
  .questions .my_btn_d {
    padding-top: 30px; }
    .questions .my_btn_d .btn {
      border: 2px solid #73472C;
      transition: 0.3s;
      transform: scale(1, 1); }
      .questions .my_btn_d .btn:hover {
        transition: 0.3s;
        color: white;
        transform: scale(1.05, 1.05);
        background: #73472C; }

.menu-bg {
  z-index: 999 !important; }

.answer {
  position: relative;
  background: white;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  border-left: 3px solid #73472C;
  text-align: center;
  z-index: 9999 !important; }
  .answer img {
    max-width: 700px; }
  .answer p {
    text-align: left; }
  .answer .mfp-close {
    top: 2%;
    right: -50px;
    border-radius: 50%;
    transition: 0.3s;
    background: black;
    opacity: 1;
    color: red; }
    .answer .mfp-close:hover {
      transition: 0.3s;
      background: #ccc;
      border-radius: 50%;
      color: #f0f0f0; }
  .answer .table img {
    height: auto;
    max-width: 100px !important; }

.hidden {
  display: none; }

.pricing-section {
  padding: 30px 0; }
  .pricing-section .pricing-table ul li {
    font-size: 18px; }
  .pricing-section .pricing-details img {
    height: 40px;
    width: 40px;
    margin-left: 30px; }

.fs_22px {
  font-size: 22px; }

.my_form {
  padding: 29px 0;
  justify-content: flex-start; }
  .my_form .my_inp {
    padding: 10px;
    width: 100%;
    margin: 10px 0;
    border-radius: 30px;
    transition: 0.3s;
    border: 2px solid #ccc; }
    .my_form .my_inp:focus {
      transition: 0.3s;
      border-color: #73472C; }
  .my_form .my_btn {
    margin-top: 20px;
    padding: 15px 40px;
    color: #73472C;
    transition: 0.3s;
    background: transparent;
    border: 2px solid #73472C; }
    .my_form .my_btn:hover {
      transition: 0.3s;
      color: white;
      background: #73472C; }

.pptt {
  padding-bottom: 0; }
  .pptt:hover {
    background-image: -moz-linear-gradient(0deg, white 0%, white 0%);
    background-image: -webkit-linear-gradient(0deg, white 0%, white 0%);
    background-image: -ms-linear-gradient(0deg, white 0%, white 0%);
    box-shadow: 0px 0px 43px 0px rgba(131, 131, 131, 0.23); }

#blog .blog-item-wrapper {
  min-height: 451px;
  max-width: 400px; }
  #blog .blog-item-wrapper .small_ {
    font-size: 20px; }
  #blog .blog-item-wrapper h3 {
    color: white; }
  #blog .blog-item-wrapper .title_blog {
    width: 100%;
    top: 25%;
    text-align: center; }

.footer-Content .widget p {
  color: white;
  font-size: 16px; }
  .footer-Content .widget p img {
    height: 25px;
    width: 25px; }
.footer-Content .col_logo img {
  height: auto;
  width: 25%;
  border-radius: 50%; }
.footer-Content .col_logo .energi {
  width: 15%; }
.footer-Content .col_logo h5 {
  color: white;
  font-size: 30px;
  text-align: center;
  width: 70%;
  margin-right: auto; }

.navbar-expand-md .navbar-nav .akcia_hover::before {
  background: #D80D0D !important; }

/*# sourceMappingURL=my_css.css.map */
