body {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 16px;
  background: #fff;
  color: #373a3d;
  margin: 0;
  padding: 0;
  position: relative;
  line-height: 1.6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body a {
  text-decoration: none;
  color: #373a3d;
}

body a:hover {
  text-decoration: none;
  color: #373a3d;
}

.hidden {
  display: none;
}

/* --- Navbar START ------------------------------------------------*/
.navbar {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background: rgba(255, 255, 255, 0.6);
}

.navbar .navbar-brand {
  padding: 0;
}

.navbar img {
  width: 300px;
  margin: 0;
  padding: 0;
}

.navbar .anim {
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
}

.navbar .anim span {
  color: #000;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform-origin: left;
          transform-origin: left;
}

.navbar .anim:before {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-bottom: 2px solid #373a3d;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.navbar .anim:hover span {
  color: #008238;
}

.navbar .anim:hover:before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.navbar p {
  color: #383b3e;
  margin: 0;
  padding-right: 10px;
  display: inline-block;
}

.navbar .navbar-toggler-icon {
  background: url("../img/burger-light.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 2em;
  height: 2em;
}

.navbar .navbar-toggler-icon:focus {
  outline: none;
}

.navbar .navbar-toggler {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.navbar .navbar-toggler:focus {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  outline: none;
  border: 1px solid #fff;
}

.active {
  position: relative;
  overflow: hidden;
}

.active span {
  color: #008238;
}

.active:before {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-bottom: 2px solid #373a3d;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-animation: animate 7s linear infinite;
          animation: animate 7s linear infinite;
}

@-webkit-keyframes animate {
  0% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  50% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  51% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  100% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
}

@keyframes animate {
  0% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  50% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  51% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  100% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
}

.fixed-nav {
  background: rgba(255, 255, 255, 0.9);
  color: #383b3e;
  padding: .4rem .4rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.5);
}

.fixed-nav .navbar-toggler-icon {
  background: url("../img/burger-black.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 2em;
  height: 2em;
}

.fixed-nav .navbar-toggler-icon:focus {
  outline: none;
}

.fixed-nav .navbar-toggler {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.fixed-nav .navbar-toggler:focus {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  outline: none;
  border: 1px solid #373a3d;
}

.navbar-nav {
  text-align: center;
}

/* --- Navbar END ------------------------------------------------*/
/* --- head START ------------------------------------------------*/
.head {
  overflow: hidden;
  min-height: 100vh;
  width: 100%;
  padding: 30px 30px;
  position: relative;
  background: url("../img/headbg.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.head .container-fluid {
  margin-top: 40px;
}

.head .container-fluid img {
  border: 2px solid #008238;
  -webkit-box-shadow: 5px 5px 0px 0px rgba(0, 130, 56, 0.7);
          box-shadow: 5px 5px 0px 0px rgba(0, 130, 56, 0.7);
}

.head_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  background: rgba(0, 130, 56, 0.7);
}

.head_text-wrap {
  background: rgba(0, 130, 56, 0.7);
  border: 2px solid #008238;
  padding: 20px 10px;
  color: #fff;
}

.head_text-wrap h4 {
  color: #fff;
  text-align: center;
}

.head_text-wrap h1 {
  text-transform: uppercase;
  text-align: center;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
}

.head_text-wrap h2 {
  text-transform: uppercase;
  text-align: center;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
}

.head_text-wrap hr {
  background-color: #fff;
  background: #fff;
  width: 80%;
  border: 1px solid #fff;
}

.head_text-wrap ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.head_text-wrap ul li {
  font-size: 22px;
  text-align: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.head_text-wrap ul li:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background: rgba(255, 255, 255, 0.3);
}

.head_text-wrap ul li:hover i {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-right: 15px;
}

.head_text-wrap ul li i {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-right: 5px;
}

/* --- head END ------------------------------------------------*/
/* --- about START ------------------------------------------------*/
.about {
  overflow: hidden;
  width: 100%;
  min-height: 50vh;
  padding: 30px 0;
  background: url("../img/aboutbg.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  border-top: 1px solid #008238;
  border-bottom: 1px solid #008238;
}

.about h2 {
  text-transform: uppercase;
  text-align: center;
  color: #373a3d;
  border-bottom: 2px solid #008238;
  border-right: 2px solid #008238;
  background: #fff;
  padding: 10px;
}

.about h2 i {
  color: #008238;
}

.about_right-img {
  overflow: hidden;
  border: 2px solid #008238;
  padding: 0;
}

.about_right-img img {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.about_right-img img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.about_logo-wrapb {
  background: #008238;
  padding: 10px;
}

.about_logo-wrapb img {
  width: 50%;
}

.about_logo-wrap {
  background: #008238;
  padding: 10px;
}

.about_logo-wrap img {
  width: 40%;
}

.about_text-wrap {
  border: 2px solid #008238;
  background: rgba(255, 255, 255, 0.7);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.about_text-wrap:hover {
  background: #fff;
  -webkit-box-shadow: inset 0px 0px 5px 1px rgba(0, 0, 0, 0.75);
          box-shadow: inset 0px 0px 5px 1px rgba(0, 0, 0, 0.75);
}

.about_text-wrap hr {
  width: 90%;
}

.about_text-wrap p {
  margin: 10px;
  text-indent: 20px;
}

.about_text-wrap h5 {
  margin: 10px;
}

/* --- about END ------------------------------------------------*/
/* --- Prod START ------------------------------------------------*/
.product {
  padding: 30px 70px;
  background: #ececec;
  background: url("../img/prodbg.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
}

.product h2 {
  text-transform: uppercase;
  text-align: center;
  color: #373a3d;
  border-bottom: 2px solid #008238;
  border-right: 2px solid #008238;
  background: #fff;
  padding: 10px;
  display: block;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.product h2 i {
  color: #008238;
}

.product .border-prod {
  border: 2px solid #008238;
  background: rgba(255, 255, 255, 0.9);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.product .border-prod:hover {
  background: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.product .border-prod:hover hr {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border: 1px solid #373a3d;
  width: 90%;
}

.product .border-prod-img {
  border: 2px solid #008238;
  background: #fff;
}

.product_text-wrap {
  padding: 10px;
}

.product_text-wrap hr {
  width: 50%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border: 1px solid #373a3d;
}

.product_text-wrap h3 {
  text-align: center;
  text-transform: uppercase;
}

.product_text-wrap p {
  font-size: 18px;
}

.product_img-wrap {
  background: #fff;
}

/* --- Prod END ------------------------------------------------*/
/* ---- Button Start ------------------------------------------------*/
.head-button {
  background: #fff;
  border: 2px solid #fff;
  display: block;
  text-align: center;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
  color: #373a3d;
  padding: 5px;
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.head-button:after {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  border-bottom: 2px solid #008238;
  border-top: 2px solid #008238;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.head-button:before {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  border-left: 2px solid #008238;
  border-right: 2px solid #008238;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
}

.head-button:hover {
  color: #fff;
  background: #b3b3b3;
}

.head-button:hover:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.head-button:hover:before {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.prod-button {
  -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75);
  background: #fff;
  border: 2px solid #fff;
  display: block;
  text-align: center;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
  color: #373a3d;
  padding: 5px;
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.prod-button:after {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  border-bottom: 2px solid #008238;
  border-top: 2px solid #008238;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.prod-button:before {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  border-left: 2px solid #008238;
  border-right: 2px solid #008238;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
}

.prod-button:hover {
  color: #fff;
  background: #b3b3b3;
}

.prod-button:hover:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.prod-button:hover:before {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

/* ---- Button END ------------------------------------------------*/
/* ---- advantage Start ------------------------------------------------*/
.advantage {
  padding: 30px 0;
  background: url("../img/aboutbg.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
}

.advantage h2 {
  text-transform: uppercase;
  text-align: center;
  color: #373a3d;
  border-bottom: 2px solid #008238;
  border-right: 2px solid #008238;
  background: #fff;
  padding: 10px;
  display: block;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.advantage h2 i {
  color: #008238;
}

.advantage .text-wrap {
  border: 1px solid #008238;
  display: block;
  height: 100%;
  background: rgba(255, 255, 255, 0.7);
}

.advantage .text-wrap h4 {
  padding: 10px;
  color: #ffffff;
  background: #008238;
  text-align: center;
  margin: 0;
}

.advantage .text-wrap p {
  padding: 10px;
  font-size: 20px;
  text-align: center;
}

/* ---- advantage END ------------------------------------------------*/
/* ---- Steps Start ------------------------------------------------*/
.steps {
  padding: 30px 0;
  background: url("../img/stepsbg.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
}

.steps h2 {
  text-transform: uppercase;
  text-align: center;
  color: #373a3d;
  border-bottom: 2px solid #008238;
  border-right: 2px solid #008238;
  background: #fff;
  padding: 10px;
  display: block;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.steps h2 i {
  color: #008238;
}

.steps .text-wrap {
  text-align: center;
  height: 3px;
  border: 1px solid #008238;
  display: block;
  height: 100%;
  padding: 10px;
  background: rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: 7px 7px 0px 0px #fff;
          box-shadow: 7px 7px 0px 0px #fff;
}

.steps .text-wrap i {
  color: #008238;
}

.steps .text-wrap .animation-main {
  -webkit-animation: blick-icon 4s linear infinite;
          animation: blick-icon 4s linear infinite;
}

.steps .text-wrap h4 {
  text-transform: uppercase;
}

.steps .text-wrap .icon {
  font-size: 36px;
  margin: 10px;
}

.steps .text-wrap p {
  font-size: 20px;
}

/* ---- Steps END ------------------------------------------------*/
/* ---- Certificate START ------------------------------------------------*/
.certificate {
  padding: 30px 0;
  position: relative;
  background: url("../img/aboutbg.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
}

.certificate h2 {
  text-transform: uppercase;
  text-align: center;
  color: #373a3d;
  border-bottom: 2px solid #008238;
  border-right: 2px solid #008238;
  background: #fff;
  padding: 10px;
  display: block;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.certificate h2 i {
  color: #008238;
}

.certificate .slick-cert {
  position: relative;
}

.certificate .slick-cert .img-wrap {
  padding: 10px;
}

.certificate .slick-cert .img-wrap img {
  border: 1px solid #008238;
  -webkit-box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.75);
}

/* ---- Certificate END ------------------------------------------------*/
/* ---- contacts Start ------------------------------------------------*/
.contacts {
  padding: 30px 0;
  background: #ececec;
  border-top: 1px solid #008238;
}

.contacts h2 {
  text-transform: uppercase;
  text-align: center;
  color: #373a3d;
  border-bottom: 2px solid #008238;
  border-right: 2px solid #008238;
  background: #fff;
  padding: 10px;
  display: block;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.contacts h2 i {
  color: #008238;
}

.contacts iframe {
  width: 100%;
  height: 100%;
}

.contacts .border-cont {
  border-left: 2px solid #008238;
  border-right: 2px solid #008238;
  background: rgba(255, 255, 255, 0.4);
  padding: 20px;
}

/* ---- contacts END ------------------------------------------------*/
/*--- Form START ---*/
.footer-form {
  width: 320px;
  max-width: 100%;
  padding: 30px 20px;
  background: #fff;
  -webkit-box-shadow: 5px 5px 0px 0px #999999;
          box-shadow: 5px 5px 0px 0px #999999;
}

.footer-form h3, .footer-form h4 {
  text-align: center;
}

.footer-form hr {
  width: 60%;
  background-color: #373a3d;
}

.footer-form input {
  width: 100%;
  margin-top: 10px;
  text-align: center;
  background: #ececec;
  border: none;
  border-bottom: 1px solid #373a3d;
  padding: 10px;
}

.footer-form button {
  padding: 10px;
  color: #008238;
  text-transform: uppercase;
  margin: 20px;
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background: #ececec;
  -webkit-box-shadow: 2px 2px 0px 0px #999999;
          box-shadow: 2px 2px 0px 0px #999999;
  border: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.footer-form button:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background: #383b3e;
  color: #fff;
}

/*--- Form END ---*/
.row-eq-height {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@-webkit-keyframes blick-icon {
  0% {
    color: #008238;
  }
  50% {
    color: red;
  }
  100% {
    color: #008238;
  }
}

@keyframes blick-icon {
  0% {
    color: #008238;
  }
  50% {
    color: red;
  }
  100% {
    color: #008238;
  }
}
/*# sourceMappingURL=main.css.map */