@media only screen and (min-width : 1500px) 
{

}
@media only screen and (max-height : 530px) 
{

}



@media only screen and (max-width : 1800px)
{

}
@media only screen and (max-width : 1600px)
{

}
@media only screen and (max-width : 1450px)
{

}
@media only screen and (max-width : 1280px)
{

}
@media only screen and (max-width : 1200px)
{

}
@media only screen and (max-width : 1140px) 
{

}

@media only screen and (max-width : 992px)
{
  .firstscroll .mainCont .sliderWrap .listWrap p
  {
    font-size: 20px;
  }
  .firstscroll .mainCont .sliderWrap .listWrap ul li
  {
    font-size: 18px;
  }
  .firstscroll
  {
    max-height: 100%;
  }
  .firstscroll .myNavBar .logoWrap
  {
    width: 100%;
    margin-bottom: 20px;
  }
  .firstscroll .myNavBar .txtWrap
  {
    width: 100%;
    margin-bottom: 20px;
  }
  .firstscroll .myNavBar .btnCont
  {
    width: 100%;
    margin-bottom: 20px;
  }
  .firstscroll .myNavBar .txtWrap h3
  {
    font-size: 2rem;
  }
  h1 
  {
    font-size: 1.4rem;
  }
  h2
  {
    font-size: 1.3rem;
  }
  h3 
  {
    font-size: 1.2rem;
  }
  h4
  {
    font-size: 1.1rem;
  }
  h5
  {
    font-size: 1rem;
  }


}
@media only screen and (max-width : 800px)
{

}
@media only screen and (max-width : 960px)
{

}
@media only screen and (max-width : 768px)
{
 


}
@media only screen and (max-width : 576px)
{
  .firstscroll .mainCont .sliderWrap .listWrap p
  {
    font-size: 14px;
  }
  .firstscroll .mainCont .sliderWrap .listWrap ul li
  {
    font-size: 12px;
  }
  .firstscroll .myNavBar .txtWrap h3
  {
    font-size: 1.2rem;
  }
}
@media only screen and (max-width : 450px)
{


}
@media only screen and (max-width : 400px)
{


}