.action
  &__cont
    &-title
      margin-bottom: 20px
      h2
        font-size: 40px
        font-weight: bold
        span
          color: $main_rgb
      h4
        font-size: 20px
        font-weight: 400
    &-desc
      display: flex
      justify-content: center
      align-items: center
      &-img
        position: relative
        z-index: 1
        margin-right: -50px
        &:after
          z-index: -1
          position: absolute
          content: ''
          width: 100%
          height: 100%
          left: 20px
          top: 20px
          background: $main_bg
        img
          max-width: 100%
          height: auto
        &-label
          position: absolute
          left: -30px
          top: 30%
          span
            background: $main_rgb3
            padding: 10px 20px
            color: $main_white
            border-radius: 5px
      &-text
        z-index: 3
        &-cont
          padding: 30px 20px
          background: $main_white
          box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.08)
          margin-bottom: 20px
          h4
            span
              color: $main_rgb
        &-btn
          .mainBtn
            margin-left: auto
            display: block
            width: 250px
            text-align: center
            max-width: 100%
  @media(max-width: 992px)
    &__cont
      &-title
        text-align: center
        h2
          font-size: 30px
        h4
          font-size: 20px
      &-desc
        flex-direction: column
        &-img
          margin: 0
          width: 60%
          margin-bottom: 30px
        &-text
          &-btn
            .mainBtn
              margin-right: auto