.mainBtn
  padding: 10px 20px
  background: $main_rgb2
  color: $main_white
  border: none
  border-radius: 5px
  font-size: 17px
  font-weight: bold
  cursor: pointer
  transition: .3s
  display: block
  margin-left: auto
  margin-right: auto
  text-align: center
  width: 300px
  max-width: 100%
  &:hover
    background: rgba($main_rgb, .5)
    color: $main_white
