.firstScroll
  min-height: 100vh
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  background: url('../img/mBgcl.jpg')
  background-position: center center
  background-repeat: no-repeat
  background-size: cover
  &__title
    h1
      padding: 5px
      color: $main_white
      font-weight: bold
      text-align: center
      