.footer
  padding: 0
  background: $main_color
  .firstScroll__main-action
    padding-bottom: 0
    .firstScroll__main-action-button
      padding: 20px
      input
        border: none
        background: #C4C4C4
        width: 100%
        padding: 15px 25px 
        margin-bottom: 20px
      textarea
        border: none
        background: #C4C4C4
        padding: 15px 25px 
        width: 100%
        margin-bottom: 20px
      ::placeholder
        color: $main_color
        font-weight: bold
      .mainBtn
        width: 100%
        padding: 20px 10px
        font-size: 20px
        margin-bottom: 20px
      h5
        color: #777777
        margin-bottom: 20px
  &__form
    &-title
      h3
        text-align: center
        color: $main_rgb
        padding: 10px 0
    &-input
      display: flex
      flex-wrap: wrap
      justify-content: space-between
      input
        border: none
        width: 49%
        background: #C4C4C4
        padding: 15px 25px 
        margin-bottom: 20px
      ::placeholder
        color: $main_color
        font-weight: bold
      .mainBtn
        width: 100%
  &__contacts
    margin-top: 20px
    h4
      text-align: center
      color: $main_rgb
    &-phone
      display: flex
      &-number
        width: 100%
        a
          color: $main_rgb
          font-size: 20px
          margin: 0 10px
      &-social
        width: 100%
        text-align: center
        display: flex
        a
          width: 40px
          height: 40px
          border-radius: 5px
          display: flex
          justify-content: center
          align-items: center
          margin: 0 10px
          svg
            font-size: 28px
            color: $main_white
        .telegram
          background: #0088cc
          transition: .9s
        .viber
          background: #8f5db7
          transition: .7s
        .call
          background: #02b305
          transition: .5s
  @media(max-width: 992px)
    .firstScroll__main-action
      display: none
    &__form
      &-input
        input
          width: 100%
    &__contacts
      &-phone
        flex-direction: column
        text-align: center
        &-social
          justify-content: center