.navBar
  padding: 0
  background: rgba($main_rgb2, 0.3)
  position: fixed
  width: 100%
  left: 0
  top: 0
  transition: .3s
  &__cont
    margin-left: auto
    margin-right: auto
    width: 100%
    display: flex
    justify-content: space-between
    &-logo
      display: flex
      justify-content: center
      align-items: center
      img
        max-width: 100%
        height: auto
        margin-right: 10px
        margin-bottom: 20px
      p
        color: $main_white
        padding: 0
        margin: 0
    &-list
      display: flex
      justify-content: center
      align-items: center
      ul
        display: flex
        margin: 0
        padding: 0
        list-style: none
        justify-content: center
        align-items: center
        li
          padding: 10px
          a
            transition: .3s
            font-weight: bold
            color: $main_white
            text-transform: uppercase
            &:hover
              transition: .3s
              color: $main_rgb
    &-phone
      padding-left: 20px
      position: relative
      display: flex
      justify-content: center
      flex-direction: column
      svg
        font-size: 26px
        color: $main_white
        left: -12px
        position: absolute
        top: 50%
        transform: translateY(-50%)
      a
        font-weight: bold
        color: $main_white
        margin: 0
        padding: 0
        display: block
        &:hover
          transition: .3s
          color: $main_rgb
  @media(max-width: 1200px)
    &__cont
      &-list
        ul
          li
            font-size: 14px
  @media(max-width: 992px)
    .globalCont
      padding: 0 5px
    &__cont
      align-items: center
      overflow: hidden
      &-logo
        z-index: 1
        padding: 0 10px
        width: 100%
        flex-direction: column
        img
          margin-bottom: 0
        p
          font-size: 14px
      &-list
        transform: translateX(-200%)
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100vh
        background: rgba($main_rgb2, 1)
        transition: .3s
        ul
          flex-direction: column
      &-phone
        width: 100%
        padding: 0 10px
        svg
          display: none
        a
          font-size: 14px
      &-mobileBtn
        display: block
        position: relative
        width: 75px
        height: 50px
        span
          position: absolute
          left: 0
          width: 100%
          height: 4px
          background: $main_white
          transition: .3s
          &:nth-child(1)
            top: 20%
          &:nth-child(2)
            top: 50%	
            transform: translateY(-50%)
          &:nth-child(3)
            left: inherit
            right: 0
            bottom: 20%
    .showMenuList
      transform: translateX(0)
		.mobileBtnIn
			span
				transition: .3s
				background: $main_white
				&:nth-child(1)
					transform: rotate(45deg)
					top: 25px
				&:nth-child(2)
					transform: rotate(-45deg)
				&:nth-child(3)
					display: none
  @media(max-width: 360px)
    &__cont
      &-logo
        width: 75%
.navbarwhite
  z-index: 99
  background: rgba($main_rgb2, 1)