.product
  &__title
    margin-bottom: 20px
    padding: 5px
    text-align: center
    h3
      color: $main_color2
      font-weight: bold
    h4
      color: $main_color2
  &__wrap
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .2)
    background: $main_white
    padding-bottom: 20px
    height: 100%
    display: flex
    flex-direction: column
    justify-content: space-between
    &-img
      &-slider
        &-wrap
          img
            max-width: 100%
            width: 100%
            height: auto
    &-title
      padding: 5px
      text-align: center
      h3
        color: $main_color2
    &-desc
      padding: 5px 10px
    