.reviews
  padding-top: 0
  padding-bottom: 0
  &__title
    text-align: center
    text-transform: uppercase
    margin-bottom: 20px
  &__slider
    &-wrap
      padding: 40px
      img
        width: 100%
        height: auto