body {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 16px;
  background: #383b3e;
  color: #000;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  margin: 0;
  padding: 0;
  position: relative;
  line-height: 1.6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  body a {
    text-decoration: none;
    color: #000; }
    body a:hover {
      text-decoration: none;
      color: #000; }

.hidden {
  display: none; }

.loader {
  background: none repeat scroll 0 0 #ffffff;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 9999;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .loader .loader_inner {
    background-image: url("../img/preloader.gif");
    -webkit-background-size: cover;
            background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #fff;
    height: 256px;
    width: 256px; }

/* --- Navbar START --- */
.navbar {
  background: rgba(255, 255, 255, 0.7);
  color: #383b3e;
  padding: 0;
  margin-left: 30px;
  margin-right: 30px; }
  .navbar .navbar-brand {
    padding: 0; }
  .navbar img {
    width: 70px;
    margin: 0;
    padding: 0; }
  .navbar a {
    color: #383b3e;
    text-transform: uppercase; }
  .navbar p {
    color: #383b3e;
    margin: 0;
    padding-right: 10px;
    display: inline-block; }
  .navbar .navbar-toggler-icon {
    background: url("../img/burger.png");
    -webkit-background-size: 100% 100%;
            background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 1.6em;
    height: 1.6em; }

/* --- Navbar END --- */
/* --- head-wrap START --- */
.head-wrap {
  min-height: 100vh;
  height: 100%;
  background: url("../img/head_bg.jpg");
  -webkit-background-size: cover;
          background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative; }
  .head-wrap .container-fluid {
    min-height: 100vh;
    height: 100%;
    background: rgba(255, 255, 255, 0.3);
    padding: 30px 0; }
    .head-wrap .container-fluid .row .col .header-text-wrap {
      padding: 30px; }
      .head-wrap .container-fluid .row .col .header-text-wrap h2 {
        text-transform: uppercase;
        color: #fff;
        text-shadow: 2px 2px 2px #000000; }
      .head-wrap .container-fluid .row .col .header-text-wrap h4 {
        padding: 30px;
        margin-top: 20px;
        background: rgba(255, 255, 255, 0.7); }

/* --- head-wrap END --- */
