@media only screen and (max-width : 1200px) {
	.products__imgcont img
	{
	height: 300px;
	}
}
@media only screen and (max-width : 1140px) {

}

@media only screen and (max-width : 992px) {

.reviews__cont{
	margin-right: 5px;
}
.mainVideo
{
	display:none;
}
.products__imgcont img
{
	height: auto;
}
}
@media only screen and (max-width : 960px)
{

}
@media only screen and (max-width : 576px)
{

}