$main_color: #111
$main_color_light: #55595c
$main_white: #fff
$main_rgb: #ff5f00
$main_bg: #e6e6e6
$main_bg_light: #6997D3
$main_bg_text: #808080
$bg_m: #000

body
	background: $main_white
	font-weight: normal
	font-size: 16px
	color: $main_color
	margin: 0
	padding: 0
	position: relative
	line-height: 1.6
	box-sizing: border-box
	a
		text-decoration: none
		color: $main_color
		&:hover
			text-decoration: none
			color: $main_color
button
	outline: none
	&:focus
		outline: none
.hidden
	display: none

section
	padding: 50px 0
	overflow: hidden
.done
	min-height: 100vh
.row-eq-height
	display: flex
	flex-wrap: wrap


/* --- Navbar START ------------------------------------------------*/
.navbar
	transition: 0.5s
	background: rgba($main_color, .9)
	.dropdown
		.dropdown-toggle
			&:after
				color: $main_white
			span
				transition: 0.3s
				color: $main_white
			&:hover
				span
					transition: 0.3s
					color: $main_rgb
	.navbar-brand
		padding: 0
	img
		width: 40px
		margin: 0
		padding: 0
	.anim
		text-transform: uppercase
		position: relative
		overflow: hidden
		span
			color: $main_white
			transition: 0.3s
			transform-origin: left
		&:before
			transition: 0.3s
			position: absolute
			content: ''
			top: 0
			left: 0
			width: 100%
			height: 100%
			border-bottom: 2px solid $main_rgb
			transform-origin: right
			transform: scaleX(0)
		&:hover
			span
				color: $main_rgb
			&:before
				transform: scaleX(1)
	p
		font-size: 24px
		color: $main_rgb
		margin: 0
		padding-right: 10px
		display: inline-block
	.navbar-toggler-icon
		background: url('../img/burger-light.png')
		background-size: 100% 100%
		background-repeat: no-repeat
		width: 2em
		height: 2em
		&:focus
			outline: none
	.navbar-toggler
		transition: 0.3s
		&:focus
			transition: 0.3s
			outline: none
			border: 1px solid #fff
	.active
		position: relative
		overflow: hidden
		span
			color: $main_rgb !important
		&:before
			transition: 0.5s
			position: absolute
			content: ''
			top: 0
			left: 0
			width: 100%
			height: 100%
			border-bottom: 2px solid $main_color
			transform-origin: right
			transform: scaleX(0)
			animation: animate 7s linear infinite
@keyframes animate 
	0%
		transform-origin: right
		transform: scaleX(0)
	50%
		transform-origin: right
		transform: scaleX(1)
	51%
		transform-origin: right
		transform: scaleX(1)
	100%
		transform-origin: right
		transform: scaleX(0)
.fixed-nav
	.dropdown
		.dropdown-toggle
			&:after
				color: $main_white
			span
				color: $main_white
	.anim
		span
			color: $main_white
	p
		color: $main_rgb
	background: rgba($main_color, .9)
	color: $main_color_light	
	padding: .4rem .4rem
	transition: 0.5s
	box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.5)
	.navbar-toggler-icon
		background: url('../img/burger-black.png')
		background-size: 100% 100%
		background-repeat: no-repeat
		width: 2em
		height: 2em
		&:focus
			outline: none
	.navbar-toggler
		transition: 0.3s
		&:focus
			transition: 0.3s
			outline: none
			border: 1px solid $main_color
.navbar-nav
	text-align: center
	
/* --- Navbar END ------------------------------------------------*/



/* --- Header start------------------------------------------------*/
.first
	min-height: 100vh
	display: flex
	flex-wrap: wrap
	justify-content: center
	align-items: center
	position: relative
	.bg01
		background: url('../img/headbg01.jpg')
		background-size: cover
		background-position: center
		background-repeat: no-repeat
		background-attachment: fixed
	.bg02
		background: url('../img/headbg02.jpg')
		background-size: cover
		background-position: center
		background-repeat: no-repeat
		background-attachment: fixed
	.bg03
		background: url('../img/headbg03.jpg')
		background-size: cover
		background-position: center
		background-repeat: no-repeat
		background-attachment: fixed
	.headerText
		padding: 10px
		width: 66%
		text-align: center
		z-index: 3
		position: relative
		.lineOne
			width: 10px
			height: 150%
			background: $main_rgb
			position: absolute
			top: -25%
			left: 5px
		.lineTwo
			width: 10px
			height: 150%
			background: $main_rgb
			position: absolute
			top: -25%
			right: 5px
		h1
			display: inline-block
			text-transform: uppercase
			font-size: 1.9rem
			padding: 15px 10px
			color: $main_white
			text-align: center
		hr
			width: 60%
			margin: 0 auto
			background-color: $main_rgb
			border: 1px solid $main_rgb
	.trigerText
		width: 80%
		margin: auto
		text-align: center
		z-index: 3
		h3
			font-weight: bold
			display: inline-block
			text-transform: uppercase
			font-size: 1.8rem
			padding: 10px
			color: $main_white
			text-align: center
			background: rgba($main_bg_text, .7)
	.pricecont
		z-index: 3
		padding: 10px 5px 10px 5px
		display: flex
		justify-content: center
		align-items: center
		.textCon
			text-align: center
			h4
				display: inline-block
				text-transform: uppercase
				padding: 10px
				color: $main_white
				text-align: center
				margin: 0
	.carousel
		background: rgba($main_color, .6)
		z-index: 1
		width: 100%
		min-height: 100vh
		position: absolute
		top: 0
		left: 0
		.carousel-item
			width: 100%
			min-height: 100vh
/* --- Header END ------------------------------------------------*/	


/* --- About Start ------------------------------------------------*/
.about
	padding: 20px
	background: $main_bg
	.row
		background: $main_color
	img
		margin-left: auto
		margin-right: auto
		display: block
		width: 100%
/* --- About END ------------------------------------------------*/	


/* --- prodAll Start ------------------------------------------------*/
.prodAll
	background: url('../img/dumohidBg.jpg')
	background-size: cover
	background-position: center center
	background-repeat: no-repeat
	background-attachment: fixed
	.prodAllWrap
		background: #000
		box-shadow: 5px 5px 0 0 $main_rgb
		border: 2px solid $main_rgb
		display: flex
		flex-wrap: wrap
		flex-direction: row
		justify-content: space-between
		position: relative
		.iHover
			position: absolute
			right: 50px
			top: 50%
			transform: translate(-50%, -50%) scale(1);
			font-size: 40px
			color: $main_white
			transition: 0.3s
			text-shadow: 3px 3px 3px rgba($main_color, 1)
		&:before
			position: absolute
			content: ''
			top: 0
			left: 0
			width: 100%
			height: 100%
			background: rgba($main_color, .7)
			transform-origin: left
			transition: 0.3s
			transform: scaleX(0)
		&:hover
			&:before
				transform: scaleX(1)
			.iHover
				right: 20px
				color: $main_rgb
			.textWrap
				h4
					transition: 0.3s
					color: $main_white
		.textWrap
			color: $main_white
			margin: auto
			flex-basis: 60%
			padding: 5px
			h4
				transition: 0.3s
				text-transform: uppercase
				text-align: center
				margin: 0
				mix-blend-mode: screen
		.imgWrap
			flex-basis: 40%
/* --- prodAll Start ------------------------------------------------*/


/* --- aboutmore Start ------------------------------------------------*/
.about-more
	background: $main_bg
	padding-bottom: 20px
	.pricecont
		display: flex
		justify-content: center
		align-items: center
		.textCon
			text-align: center
			h4
				display: inline-block
				text-transform: uppercase
				padding: 10px
				text-align: center
				margin: 0
	text-align: center
	h3
		text-transform: uppercase
	.video-wrap
		position: relative
		margin-bottom: 15px
		a
			position: absolute
			top: 50%
			left: 50%
			transform: translate(-50%, -50%)
			span
				box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.75)
				background: #db2d2e
				border-radius: 50%
				display: block
				width: 100px
				height: 100px
				border: 1px solid #db2d2e
				position: relative
				transition: 0.3s
				&:after
					transition: 0.3s
					transform: rotate(45deg)
					position: absolute
					content: ''
					top: 25%
					left: 15%
					width: 50px
					height: 50px
					border-top: 5px solid #fff
					border-right: 5px solid #fff
				&:before
					position: absolute
					content: ''
					top: 0
					left: 0
					right: 0
					bottom: 0
					border: 2px solid #fff
					border-radius: 50%
					transition: 0.3s
				&:hover
					transition: 0.3s
					box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0)
					&:after
						left: 20%
						transition: 0.3s
						border-top: 7px solid #fff
						border-right: 7px solid #fff
					&:before
						transition: 0.3s
						border: 2px solid #fff
						top: -7px
						left: -7px
						right: -7px
						bottom: -7px
	h4
		padding: 5px
		margin-top: 10px
		text-transform: uppercase
	hr
		background-color: $main_rgb
		width: 40%
		border: 1px solid $main_rgb
/* --- aboutmore END ------------------------------------------------*/	


/* --- aboutnext END ------------------------------------------------*/	
.aboutnext
	padding-top: 20px
	padding-bottom: 20px
	background: $main_bg
	min-height: 100vh
	h3
		text-align: center
		margin-bottom: 20px
		text-transform: uppercase
	hr
		padding: 0
		display: block
		width: 50%
		margin-left: auto
		margin-right: 0
		background-color: $main_rgb
	p
		text-indent: 10px
		margin-bottom: 5px
		font-size: 20px
		font-weight: bold
		i
			color: $main_rgb
			font-size: 26px
			margin-right: 15px
		span
			color: $main_rgb
			font-size: 22px
	.sliderRew
		box-shadow: 0px 0px 2px 2px rgba($main_color, .4)
/* --- aboutnext END ------------------------------------------------*/	

/* --- ProductAll Start ------------------------------------------------*/
.prod
	border-top: 2px solid $main_rgb
	border-bottom: 2px solid $main_rgb
	background: $main_bg
	.sliderRew
		box-shadow: 0px 0px 2px 2px rgba($main_color, .3)
	ul
		padding: 0
		list-style: none
		li
			font-size: 20px
			display: inline-block
			margin-right: 5px
	p
		font-size: 20px
		font-weight: bold
	hr
		width: 60%
		background-color: $main_rgb
		border: 1px solid $main_rgb
	.pricecont
		padding: 10px 5px 10px 5px
		display: flex
		justify-content: center
		align-items: center
		.textCon
			text-align: center
			h4
				display: inline-block
				text-transform: uppercase
				padding: 10px
				color: $main_white
				text-align: center
				margin: 0	
				color: $main_color
/* --- ProductAll END ------------------------------------------------*/	


/* --- Dumohid Start ------------------------------------------------*/	
.dumohid
	min-height: 80vh
	background: url('../img/dumohidBg.jpg')
	background-size: cover
	background-position: center center
	background-repeat: no-repeat
	background-attachment: fixed
	.textWrap
		box-shadow: 0px 0px 2px 2px rgba($main_color, .4)
		padding: 10px
		background: rgba($main_white, .9)
		ul
			li
				text-transform: uppercase
/* --- Dumohid END ------------------------------------------------*/	





/* --- advantage Start ------------------------------------------------*/	
.advantage
	color: $main_white
	min-height: 70vh
	padding: 50px 0 0 0 
	background: url('../img/headbg01.jpg')
	background-position: center center
	background-size: cover
	background-repeat: no-repeat
	background-attachment: fixed
	display: flex
	justify-content: center
	flex-wrap: wrap
	flex-direction: column
	.wraper
		padding: 30px 0
	.borderMain
		border-right: 2px solid #fff
	h3, h4
		text-transform: uppercase
		text-align: center
		span
			
	ul
		list-style: none
		margin: 0
		padding: 0
		li
			font-weight: bold
			text-transform: uppercase
			margin-bottom: 10px
			padding: 10px
			i
				margin-right: 5px
			&:nth-child(even)
				background: $main_rgb
			&:nth-child(odd)
				background: $main_color
	.borderYes
		i
			color: $main_white
		ul
			li
				border: 1px solid $main_rgb
	.borderNo
		i
			color: $main_white
		ul
			li
				border: 1px solid red
/* --- advantage END ------------------------------------------------*/	



/* --- sert Start ------------------------------------------------*/
.sert
	background: $main_bg
	img
		max-width: 100%
		height: auto
		display: block
		margin-left: auto
		margin-right: auto
		box-shadow: 0 2px 3px 0 $main_color_light
	h3
		text-align: center
		text-transform: uppercase
	.sliderRew
		padding: 15px
		outline: none
		border: 5px solid $main_white
		&:focus
			outline: none
		.sliderRewCont
			padding: 15px
			outline: none
			h4
				margin-top: 10px
			&:focus
				outline: none
	.slick-prev
		z-index: 999
		position: absolute
		width: 30px
		height: 30px
		left: -5%
		&:before
			position: absolute
			content: ''
			top: 0
			left: 0
			width: 100%
			height: 100%
			border-left: 4px solid $main_color
			border-top: 4px solid $main_color
			color: #000
			transform: rotate(-45deg)
	.slick-next
		z-index: 999
		position: absolute
		width: 30px
		height: 30px
		right: -5%
		&:before
			position: absolute
			content: ''
			top: 0
			left: 0
			width: 100%
			height: 100%
			border-right: 4px solid $main_color
			border-top: 4px solid $main_color
			color: #000
			transform: rotate(45deg)
 .sliderRewN
	 .sliderRewContN
		 padding: 10px
/* --- sert END ------------------------------------------------*/	



/* --- reviews Start ------------------------------------------------*/
.reviews
	background: $main_bg_text
	h3
		color: $main_white
		text-transform: uppercase
		text-align: center
	.slick-list
		.slick-track 
    	height: 100%
	.sliderRewNRev
		height: 100%
		display: flex
		.sliderRewContN
			padding: 15px
			height: 100%
			.revWrap
				height: 100%
				background: $main_white
				padding: 10px
				position: relative
				img
					display: block
					margin-left: auto
					margin-right: auto
					margin-bottom: 10px
				h5
					text-align: right
					font-weight: bold
					font-size: 1rem
					font-style: italic
				&:after
	.slick-prev
		z-index: 999
		position: absolute
		width: 30px
		height: 30px
		left: -5%
		&:before
			position: absolute
			content: ''
			top: 0
			left: 0
			width: 100%
			height: 100%
			border-left: 4px solid $main_white
			border-top: 4px solid $main_white
			color: #000
			transform: rotate(-45deg)
	.slick-next
		z-index: 999
		position: absolute
		width: 30px
		height: 30px
		right: -5%
		&:before
			position: absolute
			content: ''
			top: 0
			left: 0
			width: 100%
			height: 100%
			border-right: 4px solid $main_white
			border-top: 4px solid $main_white
			color: #000
			transform: rotate(45deg)
/* --- reviews END ------------------------------------------------*/	


/* --- contacts Start ------------------------------------------------*/
.contacts
	h3
		text-transform: uppercase
		text-align: center
	ul
		margin-right: auto
		margin-left: auto
		display: inline-block
		padding: 0
		list-style: none
		li
			font-size: 20px
			i
				font-size: 22px
				margin-right: 10px
				color: $main_rgb
			.social
				transition: 0.3s
				font-size: 35px
				&:hover
					transition: 0.3s
					color: $main_bg
	iframe
		width: 100%
		height: 250px
/* --- contacts END ------------------------------------------------*/



/* --- Button Start ------------------------------------------------*/
.firstButton
	background: $main_rgb
	padding: 10px 20px
	text-transform: uppercase
	position: relative
	span
		transition: 0.5s
		mix-blend-mode: screen
		color: $main_white
	&:before
		position: absolute
		content: ''
		top: 0
		left: 0
		width: 100%
		height: 100%
		background: rgba($main_bg, .5)
		transition: 0.3s
		transform-origin: left
		transform: scaleX(0)
	&:hover
		span
			transition: 0.5s
			color: $main_color
			mix-blend-mode: multiply
		&:before
			transition: 0.3s
			transform: scaleX(1)
	
/* --- Button END ------------------------------------------------*/	


/* --- Form START ------------------------------------------------*/	
.form-about
	margin-top: 10px
	margin-bottom: 10px
	border: 2px solid $main_rgb
	width: 100%	
	display: block
	margin-left: auto
	margin-right: auto
	text-align: center
	background: $main_bg
	padding: 20px 10px
	h5
		padding: 10px	
		background: $main_rgb
		text-transform: uppercase
		margin-bottom: 20px
		span
			color: $main_white
	input
		margin-bottom: 20px
		padding: 10px 
		font-size: 20px
		text-align: center
		display: block
		margin-left: auto
		margin-right: auto
	.firstButton
		border: none
/* --- Form END ------------------------------------------------*/	


/* --- Other START ------------------------------------------------*/	

.bgLight
	border: 5px solid $main_rgb
	background: $main_bg_light