body {
  background: #fff;
  font-family: 'Fira Sans', sans-serif;
  font-weight: normal;
  font-size: 16px;
  color: #000;
  margin: 0;
  padding: 0;
  position: relative;
  line-height: 1.6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body a {
  text-decoration: none;
  color: #000;
}

body a:hover {
  text-decoration: none;
  color: #000;
}

button {
  outline: none;
}

button:focus {
  outline: none;
}

.hidden {
  display: none;
}

h1, h2, h3, h4, h5 {
  font-family: "Oranienbaum";
}

section {
  padding: 50px 0;
  overflow: hidden;
}

.done {
  min-height: 100vh;
}

.row-eq-height {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

/* --- menuBtn Start ------------------------------------------------*/
.menuBtn {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 30px;
  height: 29px;
  z-index: 55;
  display: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menuBtn span {
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-transform: rotate(0) translate(0);
          transform: rotate(0) translate(0);
}

.menuBtnHide span {
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-transform: rotate(0) translate(0);
          transform: rotate(0) translate(0);
  display: block;
  width: 100%;
  height: 3px;
  background: #DB9C66;
}

.menuBtnShow span {
  -webkit-transition: .3s;
  transition: .3s;
  display: block;
  width: 100%;
  height: 3px;
  background: #DB9C66;
}

.menuBtnShow span:nth-child(1) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.menuBtnShow span:nth-child(2) {
  display: none;
}

.menuBtnShow span:nth-child(3) {
  -webkit-transform: rotate(-45deg) translate(10px, -10px);
          transform: rotate(-45deg) translate(10px, -10px);
}

/* --- menuBtn end ------------------------------------------------*/
/* --- Navbar START ------------------------------------------------*/
.navMobile {
  background: #1F1F1F;
  padding: 20px 10px;
  min-height: 100vh;
  position: fixed;
  width: 200px;
  right: 0;
  z-index: 50;
  -webkit-transition: .3s;
  transition: .3s;
}

.navMobile hr {
  background-color: #2F2F2F;
}

.navMobile__title {
  text-align: center;
}

.navMobile__title h4 {
  margin: 0;
  font-size: 15px;
  text-transform: uppercase;
  color: #fff;
}

.navMobile__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navMobile__list ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.navMobile__list ul li {
  margin-bottom: 10px;
}

.navMobile__list ul li a {
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 300;
  position: relative;
  padding-bottom: 10px;
}

.navMobile__list ul li a:after {
  -webkit-transition: .3s;
  transition: .3s;
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-bottom: 2px solid #DB9C66;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  opacity: 0;
}

.navMobile__list ul li a:hover:after {
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.navMobile__list ul li .active:after {
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.navMobile__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navMobile__contacts p, .navMobile__contacts a {
  font-size: 14px;
  color: #fff;
  font-weight: 300;
}

.navMobile__contacts a {
  -webkit-transition: .3s;
  transition: .3s;
}

.navMobile__contacts a:hover {
  -webkit-transition: .3s;
  transition: .3s;
  color: #DB9C66;
}

.navMobile__social {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.navMobile__social a {
  font-size: 30px;
}

.navMobile__social a i {
  color: #fff;
}

.navMobileShow {
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-transform: translateY(0) !important;
          transform: translateY(0) !important;
}

.navMobileHide {
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-transform: translateY(-200%) !important;
          transform: translateY(-200%) !important;
}

/* --- Navbar END ------------------------------------------------*/
/* --- Header start------------------------------------------------*/
.firstScroll {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(100%, rgba(21, 5, 5, 0.7)), to(rgba(21, 5, 5, 0.7))), url("../img/firstBg.png");
  background: linear-gradient(rgba(21, 5, 5, 0.7) 100%, rgba(21, 5, 5, 0.7) 100%), url("../img/firstBg.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 15px 0 0 0;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.firstScroll__address {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

@media (max-width: 992px) {
  .firstScroll__address {
    display: none;
  }
}

.firstScroll__address-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.firstScroll__address-cont-img {
  margin-right: 15px;
}

.firstScroll__address-cont-img img {
  max-width: 100%;
  height: auto;
}

.firstScroll__address-cont-txt a {
  font-weight: 300;
  color: #fff;
  -webkit-transition: .3s;
  transition: .3s;
}

.firstScroll__address-cont-txt a:hover {
  -webkit-transition: .3s;
  transition: .3s;
  color: #DB9C66;
}

.firstScroll__nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 992px) {
  .firstScroll__nav {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .firstScroll__nav-list {
    display: none;
  }
}

.firstScroll__nav-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.firstScroll__nav-logo img {
  max-width: 100%;
  height: auto;
}

.firstScroll__nav-logo p {
  padding: 0;
  margin: 0;
  font-size: 12px;
  color: #fff;
  text-align: center;
  font-family: "Oranienbaum";
}

.firstScroll__nav-list ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.firstScroll__nav-list ul li {
  display: inline;
  margin-right: 80px;
  overflow: hidden;
}

@media (max-width: 1150px) {
  .firstScroll__nav-list ul li {
    margin-right: 50px;
  }
}

.firstScroll__nav-list ul li:last-child {
  margin-right: 0;
}

.firstScroll__nav-list ul li a {
  text-transform: uppercase;
  color: #fff;
  -webkit-transition: .3s;
  transition: .3s;
  position: relative;
  padding-bottom: 10px;
}

.firstScroll__nav-list ul li a:after {
  -webkit-transition: .3s;
  transition: .3s;
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-bottom: 2px solid #DB9C66;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  opacity: 0;
}

.firstScroll__nav-list ul li a:hover:after {
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.firstScroll__title {
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
  position: relative;
  padding-left: 60px;
  padding-right: 60px;
}

.firstScroll__title h2 {
  font-size: 30px;
  text-transform: uppercase;
  color: #fff;
}

.firstScroll__title h1 {
  font-size: 70px;
  text-transform: uppercase;
  color: #DB9C66;
}

.firstScroll__title h3 {
  font-size: 20px;
  text-transform: uppercase;
  color: #fff;
}

.firstScroll__title-starLeft {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.firstScroll__title-starRight {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media (max-width: 992px) {
  .firstScroll__title {
    padding: 10px;
  }
  .firstScroll__title h2, .firstScroll__title h3 {
    font-size: 15px !important;
  }
  .firstScroll__title h1 {
    font-size: 35px !important;
  }
  .firstScroll__title-starLeft, .firstScroll__title-starRight {
    display: none;
  }
}

.firstScroll__btn {
  margin-bottom: auto;
}

.firstScroll__btn-title {
  text-align: center;
  margin-bottom: 70px;
}

.firstScroll__btn-title h3 {
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
}

.firstScroll__btn-cont {
  text-align: center;
}

/* --- Header END ------------------------------------------------*/
/* --- About Start ------------------------------------------------*/
.about {
  position: relative;
  padding-bottom: 100px;
}

.about-cont {
  z-index: 1;
}

.about__bgSlider {
  position: absolute;
  top: 30px;
  left: 50px;
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.8);
          box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  background: url("../img/aabout.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about__bgSlider:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.about__bgSlider:before {
  z-index: -2;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 40px;
  left: 60px;
  border: 10px solid rgba(219, 156, 102, 0.5);
}

.about__slider-cont {
  outline: none;
}

.about__slider-cont img {
  width: 100%;
}

.about__title h2 {
  font-size: 36px;
  text-transform: uppercase;
}

.about__txt p {
  font-weight: 300px;
}

/* --- About END ------------------------------------------------*/
/* --- whay Start ------------------------------------------------*/
.whay {
  padding-bottom: 0;
  background: #1F1F1F;
}

.whay__title {
  margin-bottom: 30px;
}

.whay__title h2 {
  font-size: 36px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}

.whay__cont {
  position: relative;
  margin-bottom: 70px;
  z-index: 1;
}

.whay__cont-img img {
  width: 100%;
  height: auto;
}

.whay__cont-txt {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(0, 0, 0, 0.75);
  padding: 30px;
  opacity: 0;
  -webkit-transition: .3s;
  transition: .3s;
}

.whay__cont-txt p {
  text-align: center;
  color: #fff;
}

.whay__cont:hover .whay__cont-txt {
  opacity: 1;
  -webkit-transition: .3s;
  transition: .3s;
}

.whay__cont:before {
  z-index: -1;
  content: '';
  position: absolute;
  top: 30px;
  left: -40px;
  width: 100%;
  height: 100%;
  border: 10px solid rgba(219, 156, 102, 0.5);
}

/* --- whay END ------------------------------------------------*/
/* --- ProductAll Start ------------------------------------------------*/
.reservation {
  padding-bottom: 100px;
}

@media (max-width: 992px) {
  .reservation {
    padding-bottom: 30px;
  }
}

.reservation__cont {
  z-index: 1;
  margin-left: 20px;
  margin-right: 20px;
}

@media (max-width: 992px) {
  .reservation__cont {
    margin-left: 27px;
    margin-right: 27px;
    margin-bottom: 100px;
  }
}

.reservation__bgSlider {
  position: absolute;
  top: 30px;
  left: -50px;
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.8);
          box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  background: url("../img/aabout.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.reservation__bgSlider:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.reservation__bgSlider:before {
  z-index: -2;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 40px;
  left: -60px;
  border: 10px solid rgba(219, 156, 102, 0.5);
}

.reservation__slider-cont {
  outline: none;
}

.reservation__slider-cont img {
  width: 100%;
}

.reservation__title {
  text-align: center;
  margin-bottom: 30px;
}

.reservation__title h2 {
  font-size: 36px;
  text-transform: uppercase;
}

/* --- ProductAll END ------------------------------------------------*/
/* --- reservSub Start ------------------------------------------------*/
.reservSub__title {
  margin-bottom: 30px;
  text-align: center;
}

.reservSub__title h2 {
  font-size: 26px;
}

.reservSub__cont {
  position: relative;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  height: 100%;
}

.reservSub__cont-txt {
  height: 100%;
  text-align: center;
  padding: 20px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: rgba(0, 0, 0, 0.4);
}

.reservSub__cont-txt h3 {
  color: #fff;
  text-transform: uppercase;
  font-size: 36px;
}

.reservSub__cont-txt p {
  font-size: 18px;
  color: #fff;
}

.reservSub__cont-txt a {
  margin-top: 40px;
}

/* --- reservSub END ------------------------------------------------*/
/* --- gallery END ------------------------------------------------*/
.gallery {
  background: #000;
}

.gallery__title {
  text-align: center;
  margin-bottom: 30px;
}

.gallery__title h2 {
  color: #fff;
  text-transform: uppercase;
  font-size: 36px;
}

.gallery__slider-cont {
  margin-top: 50px;
  margin-bottom: 50px;
  outline: none;
}

.gallery__slider-cont a {
  outline: none;
}

.gallery__slider-cont a img {
  max-width: 100%;
  height: auto;
  -webkit-transition: .3s;
  transition: .3s;
  width: 100%;
}

@media (max-width: 992px) {
  .gallery__slider-cont a img {
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.gallery .slick-current {
  z-index: 99;
}

.gallery .slick-current a img {
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

/* --- gallery END ------------------------------------------------*/
/* --- map Start ------------------------------------------------*/
.map {
  padding: 0;
}

.map__cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.map__cont-frame {
  -ms-flex-preferred-size: 65%;
      flex-basis: 65%;
}

.map__cont-frame iframe {
  width: 100%;
  height: 100%;
}

@media (max-width: 992px) {
  .map__cont-frame {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .map__cont-frame iframe {
    height: 300px;
  }
}

.map__cont-info {
  -ms-flex-preferred-size: 35%;
      flex-basis: 35%;
  text-align: center;
}

.map__cont-info-txt {
  text-align: left;
  display: inline-block;
  padding: 50px	20px;
}

.map__cont-info-txt h2 {
  font-size: 36px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.map__cont-info-txt ul {
  list-style: none;
  padding-left: 50px;
}

.map__cont-info-txt ul li {
  position: relative;
  font-size: 18px;
  margin-bottom: 20px;
}

.map__cont-info-txt ul li a {
  display: block;
}

.map__cont-info-txt ul li img {
  position: absolute;
  left: -40px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media (max-width: 992px) {
  .map__cont-info {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.map__cont-info-social {
  background: #000;
  padding: 30px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.map__cont-info-social a {
  margin: 5px;
  color: #fff;
  font-size: 30px;
  -webkit-transition: .3s;
  transition: .3s;
}

.map__cont-info-social a:hover {
  -webkit-transition: .3s;
  transition: .3s;
  color: #DB9C66;
}

/* --- map END ------------------------------------------------*/
/* --- reviews Start ------------------------------------------------*/
.reviews__title {
  text-align: center;
  margin-bottom: 30px;
}

.reviews__title h2 {
  font-size: 36px;
  text-transform: uppercase;
}

.reviews__slider-cont {
  position: relative;
  outline: none;
  padding: 50px 30px 30px 30px;
}

.reviews__slider-cont-icon {
  position: absolute;
  top: 30px;
  left: 60px;
}

.reviews__slider-cont-icon img {
  -webkit-box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2);
}

.reviews__slider-cont-txt {
  -webkit-box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.4);
  height: 100%;
  text-align: center;
  padding: 20px 10px;
  background: #1F1F1F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.reviews__slider-cont-txt-img {
  margin-bottom: 20px;
}

.reviews__slider-cont-txt-img img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
}

.reviews__slider-cont-txt p {
  color: #fff;
  font-size: 14px;
  font-style: italic;
  margin-bottom: 20px;
}

.reviews__slider-cont-txt h3 {
  color: #DB9C66;
  font-style: 16px;
}

.reviews__slider-cont-txt h4 {
  color: #fff;
  font-style: 16px;
}

/* --- reviews END ------------------------------------------------*/
/* --- contacts Start ------------------------------------------------*/
.contacts {
  padding: 0;
}

.contacts__cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contacts__cont-form {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

@media (max-width: 992px) {
  .contacts__cont-form {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.contacts__cont-info {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  text-align: center;
}

@media (max-width: 992px) {
  .contacts__cont-info {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.contacts__cont-info-social {
  background: #DB9C66;
  padding: 30px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts__cont-info-social a {
  margin: 5px;
  color: #fff;
  font-size: 30px;
  -webkit-transition: .3s;
  transition: .3s;
}

.contacts__cont-info-txt {
  text-align: left;
  display: inline-block;
  padding: 50px	20px 20px 20px;
}

.contacts__cont-info-txt h2 {
  font-size: 36px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.contacts__cont-info-txt ul {
  list-style: none;
  padding-left: 50px;
}

.contacts__cont-info-txt ul li {
  position: relative;
  font-size: 18px;
  margin-bottom: 20px;
}

.contacts__cont-info-txt ul li a {
  display: block;
}

.contacts__cont-info-txt ul li img {
  position: absolute;
  left: -40px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.contacts__cont-info-logo {
  background: #1F1F1F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 10px;
}

.contacts__cont-info-logo-img {
  margin: 0 5px;
}

.contacts__cont-info-logo-img img {
  max-width: 100%;
  height: auto;
}

.contacts__cont-info-logo-txt {
  margin: 0 5px;
}

.contacts__cont-info-logo-txt p {
  font-family: "Oranienbaum";
  font-size: 12px;
  color: #fff;
  margin: 0;
  padding: 0;
}

/* --- contacts END ------------------------------------------------*/
/* --- Button Start ------------------------------------------------*/
.mainBtn {
  cursor: pointer;
  display: block;
  text-align: center;
  color: #fff;
  padding: 15px;
  width: 245px;
  max-width: 100%;
  border: 3px solid #DB9C66;
  font-size: 18px;
  text-transform: uppercase;
  -webkit-transition: .3s;
  transition: .3s;
  margin-left: auto;
  margin-right: auto;
}

.mainBtn:hover {
  color: #fff;
  -webkit-transition: .3s;
  transition: .3s;
  background: #DB9C66;
}

/* --- Button END ------------------------------------------------*/
/* --- Form START ------------------------------------------------*/
.openDark {
  padding: 30px 30px;
  width: 100%;
  height: 100%;
  background: #1F1F1F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.openDark h3 {
  font-style: 36px;
  color: #fff;
  margin-bottom: 30px;
}

.openDark .mainBtn {
  margin-right: 0;
  background: transparent;
}

.openDark .mainBtn:hover {
  background: #DB9C66;
}

.openDark input {
  width: 100%;
  background: none;
  border: none;
  border: 2px solid transparent;
  border-bottom: 2px solid #fff;
  margin-bottom: 30px;
  color: #fff;
  padding: 10px;
  -webkit-transition: .3s;
  transition: .3s;
}

.openDark input:focus {
  outline: none;
  border: 2px solid #fff;
}

.openDark ::-webkit-input-placeholder {
  color: #fff;
}

.openDark :-ms-input-placeholder {
  color: #fff;
}

.openDark ::-ms-input-placeholder {
  color: #fff;
}

.openDark ::placeholder {
  color: #fff;
}

.openDark textarea {
  background: transparent;
  border: 2px solid transparent;
  border-bottom: 2px solid #fff;
  margin-bottom: 20px;
  color: #fff;
  padding: 10px;
}

.openDark textarea:focus {
  outline: none;
  border: 2px solid #fff;
}

.openLight {
  padding: 10px;
}

.openLight h4 {
  text-align: center;
  font-size: 18px;
}

.openLight h5 {
  font-size: 16px;
  text-align: center;
}

.openLight input {
  width: 100%;
  padding: 10px;
  border: 2px solid transparent;
  border-bottom: 2px solid #000;
  margin-bottom: 20px;
  -webkit-transition: .3s;
  transition: .3s;
}

.openLight input:focus {
  outline: none;
  border: 2px solid #DB9C66;
}

.openLight .mainBtn {
  background: #fff;
  color: #000;
}

.formOpen {
  position: relative;
  padding: 30px 20px;
  width: 600px;
  max-width: 100%;
  background: #000;
}

.formOpen .mfp-close {
  color: #fff;
}

.formOpen h3 {
  color: #fff;
  font-size: 36px;
  text-align: center;
}

.formOpen h4 {
  color: #fff;
  font-size: 30px;
  text-align: center;
}

.formOpen input {
  width: 100%;
  background: none;
  border: none;
  border: 2px solid transparent;
  border-bottom: 2px solid #fff;
  margin-bottom: 30px;
  color: #fff;
  padding: 10px;
  -webkit-transition: .3s;
  transition: .3s;
}

.formOpen input:focus {
  outline: none;
  border: 2px solid #fff;
}

.formOpen ::-webkit-input-placeholder {
  color: #fff;
}

.formOpen :-ms-input-placeholder {
  color: #fff;
}

.formOpen ::-ms-input-placeholder {
  color: #fff;
}

.formOpen ::placeholder {
  color: #fff;
}

.formOpen .mainBtn {
  background: #000;
}

.formOpen .mainBtn:hover {
  background: #DB9C66;
}

/* --- Form END ------------------------------------------------*/
/* --- Other START ------------------------------------------------*/
.slick-dots li button:before {
  font-size: 15px;
  color: #DB9C66 !important;
}

.slick-prev {
  left: -35px;
  width: 40px;
  height: 40px;
  z-index: 99;
}

.slick-prev:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-top: 5px solid #DB9C66;
  border-right: 5px solid #DB9C66;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.slick-next {
  right: -35px;
  width: 40px;
  height: 40px;
}

.slick-next:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-top: 5px solid #DB9C66;
  border-right: 5px solid #DB9C66;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slick-track .slick-slide {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
/*# sourceMappingURL=main.css.map */