@import "../../../../style/data"

@media only screen and (min-width: 992px)
  .first-scroll

    .order

    .t

      h1

      h2

      p

@media only screen and (min-width: 1200px)
  .first-scroll

    .order

    .t

      h1

      h2

@media only screen and (max-width: 1199px)
  .first-scroll
    background-size: 50%

@media only screen and (max-width: 991px)
  .first-scroll

    .t

      h1
        text-align: center

      p
        text-align: center

      ul
        justify-content: center

@media only screen and (max-width: 767px)
  .first-scroll
    padding-bottom: 60px

    .t

      h1

      p

      h3
        font-size: 24px

      ul
        flex-direction: column
        align-items: center

        li
          margin: 10px 0

    .fs-top

      .fs-bottom
        bottom: -161px


@media only screen and (max-width: 575px)
  .first-scroll
    padding-bottom: 60px

    .t

      h1

      p

      ul
        flex-direction: column
        align-items: center

        li
          margin: 10px 0

    .fs-top

      .fs-bottom
        bottom: -209px

@media only screen and (max-width: 386px)
  .first-scroll
    padding-bottom: 60px

    .t

      h3
        font-size: 20px

    .fs-top

      .fs-bottom
        bottom: -230px

@media only screen and (max-width: 335px)
  .first-scroll
    padding-bottom: 90px

    .fs-top

      .fs-bottom
        bottom: -255px


