header
    background: linear-gradient(to bottom right, #A96033, #CA7D3D)

.red-color
    color: #E01526

.title-scroll
    padding-top: 40px
    height: 100%
    min-height: 100vh
    .col-img
        .d-img
            position: relative
            img
                border-radius: 3px
                position: relative
                width: 100%
                z-index: 1
            &:before
                position: absolute
                content: ''
                background: transparent
                top: 5px
                left: 5px
                right: 5px
                bottom: 5px
                border: 2px solid white
                border-radius: 3px
                z-index: 2
                box-shadow: 0px 5px 7px 2px rgba(0,0,0,0.75)

// feature_area

.feature_area
    padding-top: 30px
    padding-bottom: 30px
    .col-video
        .alazea-video-area
            border: 1px solid rgba(0,0,0,0.75)
            box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75)

.sertificat
    padding: 30px 0
    .my-sertificat
        border-radius: 3px
        box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px rgba(154, 147, 140, 0.5)
        .d-rev
            padding: 30px 0
            div
                img
                    margin-left: auto 
                    margin-right: auto

// equipment

.equipment
    height: 100%
    min-height: 100vh
    padding: 30px 0

// advantages

.advantages
    padding: 30px 0
    .d-title
        padding: 20px 0
    .col-adv-p
        padding-bottom: 15px
        p
            font-size: 22px
            text-align: center
            margin: 20px
            border-bottom: 1px dotted red
    img
        border-bottom: 1px solid #9D9D9D
    .col-contact
        padding-top: 50px

// office

.office
    padding: 30px 0
    .d-title
        padding: 20px 0
    img
        border: 1px solid rgba(0,0,0,0.2)
        box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75)
    .d-img
        img
            height: auto

// reviews

.reviews
    padding: 30px 0
    img
        max-width: 200px
        margin-left: auto
        margin-right: auto

// contactdata

.contactdata
    padding: 30px 0

.googlemap
    height: 50vh
    width: 100%
    max-width: 600px
    iframe
        height: 100%
        width: 100%

.hidden
    display: none

.cursor_pointer
    cursor: pointer
    &:hover
        cursor: pointer





