body {
  background: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-size: 16px;
  color: #111;
  margin: 0;
  padding: 0;
  position: relative;
  line-height: 1.6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body a {
  text-decoration: none;
  color: #111;
}

body a:hover {
  text-decoration: none;
  color: #111;
}

button {
  outline: none;
}

button:focus {
  outline: none;
}

.hidden {
  display: none;
}

section {
  padding: 50px 0;
  overflow: hidden;
}

.done {
  min-height: 100vh;
}

.row-eq-height {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

/* --- Navbar START ------------------------------------------------*/
.navbar {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background: rgba(255, 255, 255, 0);
}

.navbar .navbar-brand {
  padding: 0;
}

.navbar img {
  width: 40px;
  margin: 0;
  padding: 0;
}

.navbar .nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .iconWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .iconWrap a span i {
  margin-left: 5px;
  margin-right: 2px;
  font-size: 30px;
  color: #fff;
}

.navbar .anim {
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
}

.navbar .anim span {
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform-origin: left;
          transform-origin: left;
}

.navbar .anim:before {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-bottom: 2px solid #ef2c56;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.navbar .anim:hover span {
  color: #ef2c56;
}

.navbar .anim:hover:before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.navbar p {
  font-size: 24px;
  text-shadow: 0px 0px 20px #fff;
  color: #fff;
  margin: 0;
  padding-right: 10px;
  display: inline-block;
}

.navbar .navbar-toggler-icon {
  background: url("../img/burger-light.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 2em;
  height: 2em;
}

.navbar .navbar-toggler-icon:focus {
  outline: none;
}

.navbar .navbar-toggler {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.navbar .navbar-toggler:focus {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  outline: none;
  border: 1px solid #fff;
}

.active {
  position: relative;
  overflow: hidden;
}

.active span {
  color: #ef2c56 !important;
}

.active:before {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-bottom: 2px solid #111;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-animation: animate 7s linear infinite;
          animation: animate 7s linear infinite;
}

@-webkit-keyframes animate {
  0% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  50% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  51% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  100% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
}

@keyframes animate {
  0% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  50% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  51% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  100% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
}

.fixed-nav {
  background: white;
  color: #ced1d5;
  padding: .4rem .4rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
}

.fixed-nav .iconWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fixed-nav .iconWrap a span i {
  color: #111;
}

.fixed-nav .anim span {
  color: #111;
}

.fixed-nav p {
  color: #111;
}

.fixed-nav .navbar-toggler-icon {
  background: url("../img/burger-black.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 2em;
  height: 2em;
}

.fixed-nav .navbar-toggler-icon:focus {
  outline: none;
}

.fixed-nav .navbar-toggler {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.fixed-nav .navbar-toggler:focus {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  outline: none;
  border: 1px solid #111;
}

.navbar-nav {
  text-align: center;
}

/* --- Navbar END ------------------------------------------------*/
/* --- bot__firstScroll start------------------------------------------------*/
.bot__firstScroll {
  padding-top: 70px;
  padding-bottom: 0;
  background: url("../img/bot_firstBg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 60vh;
}

.bot__firstScroll .container-fluid {
  min-height: 60vh;
}

.bot__firstScroll .container-fluid .row {
  min-height: 60vh;
}

.bot__firstScroll .txtCont h1, .bot__firstScroll .txtCont h3 {
  color: #fff;
}

.bot__firstScroll .txtCont h1 {
  font-size: 50px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 30px;
}

.bot__firstScroll .txtCont h3 {
  color: #ced1d5;
}

.bot__firstScroll .imgWrap img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
}

/* --- bot__firstScroll END ------------------------------------------------*/
/* --- bot__how Start ------------------------------------------------*/
.bot__how .imgWrap img {
  max-width: 100%;
  height: auto;
}

.bot__how .txtWrap h3 {
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.bot__how .txtWrap ul {
  list-style: none;
  padding: 0;
}

.bot__how .txtWrap ul li {
  font-weight: 500;
  margin-bottom: 10px;
  font-size: 20px;
}

/* --- bot__how END ------------------------------------------------*/
/* --- bot_whay Start ------------------------------------------------*/
.bot_whay {
  padding-top: 0;
}

.bot_whay .whayCont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  padding: 15px;
  text-align: center;
  -webkit-box-shadow: 0px 10px 40px 0px rgba(26, 2, 7, 0.15);
          box-shadow: 0px 10px 40px 0px rgba(26, 2, 7, 0.15);
}

.bot_whay .whayCont .titleWrap {
  padding: 10px 0;
  margin-bottom: 20px;
}

.bot_whay .whayCont .titleWrap h3 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.bot_whay .whayCont .listWrap {
  text-align: left;
  margin-bottom: 20px;
}

.bot_whay .whayCont .listWrap ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.bot_whay .whayCont .listWrap ul li {
  text-transform: uppercase;
}

.bot_whay .lastTitle {
  padding: 10px;
  background: rgba(239, 44, 86, 0.4);
}

/* --- bot_whay END ------------------------------------------------*/
/* --- bot__advantage Start ------------------------------------------------*/
.bot__advantage {
  text-align: center;
  color: #fff;
  background: #111;
}

.bot__advantage .advWrap {
  height: 100%;
  padding: 5px;
}

.bot__advantage .advWrap .imgWrap {
  margin-bottom: 30px;
}

.bot__advantage .advWrap .imgWrap i {
  padding: 0;
  margin: 0;
  font-size: 50px;
}

.bot__advantage .advWrap .txtWrap p {
  padding: 0;
  margin: 0;
}

/* --- bot__advantage END ------------------------------------------------*/
/* --- dropshipping Start ------------------------------------------------*/
.bot__moreText {
  background: url("../img/moretextBg.png");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.bot__moreText .trigerWrap {
  background: rgba(255, 255, 255, 0.9);
  border: 5px solid #ced1d5;
  padding: 20px;
  margin-bottom: 20px;
}

.bot__moreText .trigerWrap .spoiler-trigger {
  display: block;
  cursor: pointer;
  position: relative;
  padding-left: 50px;
  -webkit-transition: .3s;
  transition: .3s;
}

.bot__moreText .trigerWrap .spoiler-trigger span {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.bot__moreText .trigerWrap .spoiler-trigger:hover {
  background: #e6e6e6;
  -webkit-transition: .3s;
  transition: .3s;
}

.bot__moreText .trigerWrap .spoiler-block {
  margin-top: 20px;
  display: none;
}

.bot__moreText .btnHover {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bot__moreText .btnHover span {
  position: relative;
  border-radius: 50%;
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 2px solid #ef2c56;
}

.bot__moreText .btnHover span:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 70%;
  border-left: 5px solid #ef2c56;
  top: 15%;
  left: 45%;
  -webkit-transition: .3s;
  transition: .3s;
  opacity: 1;
}

.bot__moreText .btnHover span:before {
  -webkit-transition: .3s;
  transition: .3s;
  content: '';
  position: absolute;
  width: 70%;
  height: 100%;
  border-top: 5px solid #ef2c56;
  top: 45%;
  left: 15%;
}

.bot__moreText .btnHoverCl span:after {
  -webkit-transition: .3s;
  transition: .3s;
  opacity: 0;
}

/* --- dropshipping END ------------------------------------------------*/
/* --- action END ------------------------------------------------*/
/* --- action END ------------------------------------------------*/
/* --- advantage Start ------------------------------------------------*/
/* --- advantage END ------------------------------------------------*/
/* --- reviews Start ------------------------------------------------*/
/* --- reviews END ------------------------------------------------*/
/* --- contacts Start ------------------------------------------------*/
.store_contacts {
  background: #e6e6e6;
  padding: 30px;
}

.store_contacts .formWrap h3 {
  text-transform: uppercase;
}

.store_contacts .txtCont .txtWrap {
  padding-left: 20px;
}

.store_contacts .txtCont .txtWrap i {
  font-size: 20px;
  margin-right: 10px;
  color: #ef2c56;
}

.store_contacts .txtCont .txtWrap .socWrap a i {
  -webkit-transition: .3s;
  transition: .3s;
  font-size: 40px;
}

.store_contacts .txtCont .txtWrap .socWrap a:hover i {
  -webkit-transition: .3s;
  transition: .3s;
  color: #ef2c56 !important;
}

.store_contacts .txtCont .txtWrap .socWrap a:nth-child(1) i {
  color: #3b5998;
}

.store_contacts .txtCont .txtWrap .socWrap a:nth-child(2) i {
  color: #C13584;
}

.store_contacts .txtCont .txtWrap .socWrap a:nth-child(3) i {
  color: #cc181e;
}

.store_contForm .txtWrap h4 {
  text-transform: uppercase;
  margin-bottom: 20px;
}

.store_contForm .txtWrap h4 span {
  color: #ef2c56;
}

.store_contForm .inputWrap input {
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid #ef2c56;
}

.store_contForm .msgWrap {
  margin-bottom: 10px;
}

.store_contForm .msgWrap textarea {
  width: 100%;
  height: 100px;
  text-align: center;
  padding: 10px;
  text-transform: uppercase;
  border: 1px solid #ef2c56;
}

/* --- contacts END ------------------------------------------------*/
/* --- Button Start ------------------------------------------------*/
.storeBtnMain {
  cursor: pointer;
  border: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.storeBtnMain {
  display: block;
  background: rgba(239, 44, 86, 0.7);
  padding: 10px;
  width: 250px;
  max-width: 100%;
  text-align: center;
  -webkit-box-shadow: 0 0 5px 0px rgba(17, 17, 17, 0.5);
          box-shadow: 0 0 5px 0px rgba(17, 17, 17, 0.5);
  text-transform: uppercase;
  position: relative;
}

.storeBtnMain span {
  color: #111;
  mix-blend-mode: multiply;
}

.storeBtnMain:before {
  -webkit-transition: .3s;
  transition: .3s;
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ef2c56;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.storeBtnMain:hover:before {
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

/* --- Button END ------------------------------------------------*/
/* --- Form START ------------------------------------------------*/
/* --- Form END ------------------------------------------------*/
/* --- Other START ------------------------------------------------*/
.titleCont {
  margin-bottom: 40px;
}

.titleCont h2 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
}
/*# sourceMappingURL=main.css.map */