body {
  background: #f4f4f4;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 16px;
  color: #111;
  margin: 0;
  padding: 0;
  position: relative;
  line-height: 1.6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body a {
  text-decoration: none;
  color: #111;
}

body a:hover {
  text-decoration: none;
  color: #111;
}

button {
  outline: none;
}

button:focus {
  outline: none;
}

.hidden {
  display: none;
}

section {
  padding: 50px 0;
  overflow: hidden;
}

.done {
  min-height: 100vh;
}

.row-eq-height {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* --- Navbar START ------------------------------------------------*/
.navbar {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background: rgba(255, 255, 255, 0);
}

.navbar .navbar-brand {
  padding: 0;
}

.navbar img {
  width: 40px;
  margin: 0;
  padding: 0;
}

.navbar .anim {
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
}

.navbar .anim span {
  color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform-origin: left;
          transform-origin: left;
}

.navbar .anim:before {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-bottom: 2px solid #feda46;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.navbar .anim:hover span {
  color: #feda46;
}

.navbar .anim:hover:before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.navbar p {
  font-size: 24px;
  text-shadow: 0px 0px 20px #fff;
  color: #fff;
  margin: 0;
  padding-right: 10px;
  display: inline-block;
}

.navbar .navbar-toggler-icon {
  background: url("../img/burger-light.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 2em;
  height: 2em;
}

.navbar .navbar-toggler-icon:focus {
  outline: none;
}

.navbar .navbar-toggler {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.navbar .navbar-toggler:focus {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  outline: none;
  border: 1px solid #fff;
}

.active {
  position: relative;
  overflow: hidden;
}

.active span {
  color: #feda46 !important;
}

.active:before {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-bottom: 2px solid #111;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-animation: animate 7s linear infinite;
          animation: animate 7s linear infinite;
}

@-webkit-keyframes animate {
  0% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  50% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  51% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  100% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
}

@keyframes animate {
  0% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  50% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  51% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  100% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
}

.fixed-nav {
  -webkit-box-shadow: 0px 8px 25px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 8px 25px 0px rgba(0, 0, 0, 0.4);
  background: rgba(255, 255, 255, 0.9);
  color: #55595c;
  padding: .4rem .4rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.fixed-nav .anim span {
  color: #111;
}

.fixed-nav p {
  color: #111;
}

.fixed-nav .navbar-toggler-icon {
  background: url("../img/burger-black.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 2em;
  height: 2em;
}

.fixed-nav .navbar-toggler-icon:focus {
  outline: none;
}

.fixed-nav .navbar-toggler {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.fixed-nav .navbar-toggler:focus {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  outline: none;
  border: 1px solid #111;
}

.navbar-nav {
  text-align: center;
}

/* --- Navbar END ------------------------------------------------*/
/* --- Header start------------------------------------------------*/
.firstScroll {
  min-height: 100vh;
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  overflow: hidden;
}

.firstScroll .bgCont {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(100%, rgba(17, 17, 17, 0.4)), to(rgba(17, 17, 17, 0.4))), url("../img/main_bg.jpg");
  background: linear-gradient(rgba(17, 17, 17, 0.4) 100%, rgba(17, 17, 17, 0.4) 100%), url("../img/main_bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transition: 10s;
  transition: 10s;
  -webkit-transform: scale(1);
          transform: scale(1);
  background-attachment: fixed;
}

.firstScroll .titleCont {
  z-index: 2;
}

.firstScroll .titleCont .titleWrap h1, .firstScroll .titleCont .titleWrap h2 {
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 1px 1px 10px rgba(17, 17, 17, 0.4);
  font-weight: bold;
}

.firstScroll .titleCont .titleWrap h1 {
  text-align: left;
  padding: 10px 10px 10px 20px;
  border-left: 3px solid #feda46;
}

.firstScroll .titleCont .titleWrap h2 {
  color: #66ebcd;
  text-align: left;
  padding: 10px 10px 10px 20px;
}

.firstScroll .offerCont {
  z-index: 2;
  color: #fff;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.firstScroll .offerCont .offerWrap {
  padding: 10px 10px 10px 10px;
}

.firstScroll .offerCont .offerWrap h3, .firstScroll .offerCont .offerWrap h4 {
  margin: 0;
}

.firstScroll .offerCont .offerWrap hr {
  margin: 5px;
  display: inline-block;
  margin-right: auto;
  width: 60%;
  background-color: #feda46;
  border: 1px solid #feda46;
}

.firstScroll .offerCont .btnCont {
  padding: 10px;
}

/* --- Header END ------------------------------------------------*/
/* --- About Start ------------------------------------------------*/
.about {
  background: #fff;
  position: relative;
  padding-bottom: 300px;
}

.about .lineBg {
  position: absolute;
  top: 0;
  left: 15%;
  width: 10%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#feda46), color-stop(70%, white));
  background: linear-gradient(180deg, #feda46 0%, white 70%);
}

.about .descCont p {
  margin: 0;
  text-indent: 20px;
  font-size: 18px;
}

/* --- About END ------------------------------------------------*/
/* --- marketOpenForm Start ------------------------------------------------*/
.marketOpenForm {
  padding: 20px;
  position: relative;
  margin-top: -150px;
  overflow: inherit;
  position: relative;
}

.marketOpenForm .lineOne {
  position: absolute;
  bottom: 10%;
  left: 0;
  width: 100%;
  height: 10%;
  background: #feda46;
  z-index: -1;
}

.marketOpenForm .lineTwo {
  position: absolute;
  bottom: 25%;
  left: 0;
  width: 100%;
  height: 10%;
  background: #66ebcd;
  z-index: -1;
}

.marketOpenForm .imgWrap {
  left: 60%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  position: absolute;
  top: -350px;
}

.marketOpenForm .imgWrap img {
  width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.marketOpenForm .container {
  -webkit-box-shadow: 0px 0px 5px 2px rgba(17, 17, 17, 0.2);
          box-shadow: 0px 0px 5px 2px rgba(17, 17, 17, 0.2);
  background: #f4f4f4;
}

.marketOpenForm .container .descWrap {
  background: #f4f4f4;
  margin: 10px;
  padding: 20px 10px;
  text-align: center;
  margin-bottom: 23px;
  position: relative;
}

.marketOpenForm .container .descWrap h2 span {
  text-transform: uppercase;
  color: #66ebcd;
}

.marketOpenForm .container .descWrap:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 50%;
  height: 50%;
  border-top: 2px solid #66ebcd;
  border-left: 2px solid #66ebcd;
}

.marketOpenForm .container .descWrap:before {
  position: absolute;
  content: '';
  bottom: 0;
  right: 0;
  width: 50%;
  height: 50%;
  border-right: 2px solid #66ebcd;
  border-bottom: 2px solid #66ebcd;
}

/* --- marketOpenForm END ------------------------------------------------*/
/* --- ProductA Start ------------------------------------------------*/
.prod {
  background: #fff;
}

.prod img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.prod .imgCont {
  border: 2px solid #feda46;
}

.prod .descCont {
  padding: 10px;
  background: #f4f4f4;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.prod .descCont h3 {
  text-align: center;
  margin: 0;
}

.prod .descCont hr {
  margin: 5px auto;
  width: 50%;
  background-color: #66ebcd;
  border: 1px solid #66ebcd;
}

.prod .bgMain {
  background: #f4f4f4;
  height: 100%;
}

.prod .boxShadowLeft {
  -webkit-box-shadow: -7px 7px 0px 0px #feda46;
          box-shadow: -7px 7px 0px 0px #feda46;
}

.prod .boxShadowRight {
  -webkit-box-shadow: 7px 7px 0px 0px #feda46;
          box-shadow: 7px 7px 0px 0px #feda46;
}

.prod .mainBtn {
  border: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.prod .mainBtn:after {
  border-top: 5px solid #fff;
  border-bottom: 5px solid #fff;
}

.prod .mainBtn:before {
  border-right: 5px solid #fff;
  border-left: 5px solid #fff;
}

.prod .mainBtn:hover {
  background: #feda46;
}

/* --- ProductA END ------------------------------------------------*/
/* --- advantage Start ------------------------------------------------*/
.advantage {
  padding: 200px 0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(100%, rgba(244, 244, 244, 0.6)), to(rgba(244, 244, 244, 0.6))), url("../img/bgAdv.jpg");
  background: linear-gradient(rgba(244, 244, 244, 0.6) 100%, rgba(244, 244, 244, 0.6) 100%), url("../img/bgAdv.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  overflow: hidden;
}

.advantage .lineOne {
  position: absolute;
  top: -180px;
  left: -100px;
  width: 200%;
  height: 200px;
  background: #fff;
  -webkit-transform: rotate(-5deg);
          transform: rotate(-5deg);
}

.advantage .lineTwo {
  position: absolute;
  bottom: -30px;
  left: -100px;
  width: 200%;
  height: 200px;
  background: #fff;
  -webkit-transform: rotate(-5deg);
          transform: rotate(-5deg);
}

.advantage .advContLeft, .advantage .advContRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.advantage .advContLeft .titleWrap, .advantage .advContRight .titleWrap {
  text-align: center;
}

.advantage .advContLeft .titleWrap h3, .advantage .advContRight .titleWrap h3 {
  color: #f4f4f4;
  text-shadow: 1px 1px 10px rgba(17, 17, 17, 0.4);
}

.advantage .advContLeft .listWrap, .advantage .advContRight .listWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.advantage .advContLeft .listWrap ul, .advantage .advContRight .listWrap ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
}

.advantage .advContLeft .listWrap ul li, .advantage .advContRight .listWrap ul li {
  font-size: 18px;
  position: relative;
  padding: 10px;
  color: #f4f4f4;
}

.advantage .advContLeft .listWrap ul li i, .advantage .advContRight .listWrap ul li i {
  margin: 5px;
}

.advantage .advContLeft .titleWrap i {
  color: #fb313b;
}

.advantage .advContLeft .listWrap ul li i {
  color: #fb313b;
}

.advantage .advContLeft .listWrap ul li:nth-child(odd) {
  background: rgba(251, 49, 59, 0.3);
}

.advantage .advContLeft .listWrap ul li:nth-child(even) {
  background: rgba(251, 49, 59, 0.6);
}

.advantage .advContRight .titleWrap i {
  color: #008500;
}

.advantage .advContRight .listWrap ul li i {
  color: #008500;
}

.advantage .advContRight .listWrap ul li:nth-child(odd) {
  background: rgba(0, 133, 0, 0.3);
}

.advantage .advContRight .listWrap ul li:nth-child(even) {
  background: rgba(0, 133, 0, 0.6);
  color: #fff;
}

.advantage .borderMyRight {
  border-right: 2px solid #fff;
}

/* --- advantage END ------------------------------------------------*/
/* --- reviews Start ------------------------------------------------*/
.steps {
  padding-top: 0;
  background: #fff;
}

.steps .stepsCont {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  -webkit-transition: 1s;
  transition: 1s;
  padding: 10px;
}

.steps .stepsCont:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background: #f4f4f4;
  -webkit-box-shadow: 0px 0px 25px 10px rgba(17, 17, 17, 0.1);
          box-shadow: 0px 0px 25px 10px rgba(17, 17, 17, 0.1);
}

.steps .stepsCont .numberCont {
  position: relative;
  height: 100%;
  z-index: 1;
}

.steps .stepsCont .numberCont .numberWrap {
  top: 100%;
  left: 100%;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.steps .stepsCont .numberCont .numberWrap span {
  font-size: 150px;
  line-height: 0;
  color: #111;
  opacity: .1;
  font-weight: bold;
}

.steps .stepsCont .numberCont .iconWrap {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 40px;
  color: #feda46;
  font-weight: bold;
}

.steps .stepsCont .descrCont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.steps .stepsCont .descrCont .titleWrap {
  padding: 20px;
}

.steps .stepsCont .descrCont .titleWrap h4 {
  padding: 0;
  margin: 0;
}

.steps .btnCont .mainBtn {
  margin-left: auto;
  margin-right: auto;
  color: #111;
}

.steps .btnCont .mainBtn:hover {
  color: #111;
}

/* --- reviews END ------------------------------------------------*/
/* --- sert Start ------------------------------------------------*/
.sert {
  position: relative;
  z-index: 1;
}

.sert .line {
  z-index: -1;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 12%;
  background: #fff;
}

.sert .sertCont {
  margin-bottom: 20px;
  padding: 10px;
}

.sert .sertCont .sertWrap {
  padding: 10px;
  outline: none;
}

.sert .sertCont .sertWrap img {
  max-width: 100%;
  height: auto;
}

.sert .logoCont {
  -webkit-box-shadow: 0px 0px 20px 1px rgba(17, 17, 17, 0.2);
          box-shadow: 0px 0px 20px 1px rgba(17, 17, 17, 0.2);
  background: #feda46;
}

.sert .logoCont .brandCont .logoWrap {
  padding: 20px;
  outline: none;
}

.sert .logoCont .brandCont .logoWrap img {
  max-width: 100%;
  height: auto;
}

/* --- sert END ------------------------------------------------*/
/* --- reviews start ------------------------------------------------*/
.reviews {
  padding-top: 0;
  background: #fff;
  position: relative;
}

.reviews .lineOne {
  opacity: .4;
  position: absolute;
  left: 20%;
  top: 0;
  width: 10%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(#feda46), color-stop(95%, white));
  background: linear-gradient(360deg, #feda46 0%, white 95%);
}

.reviews .lineTwo {
  opacity: .4;
  position: absolute;
  right: 20%;
  top: 0;
  width: 10%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(#66ebcd), color-stop(95%, white));
  background: linear-gradient(360deg, #66ebcd 0%, white 95%);
}

.reviews .revSlider .reviewsCont {
  padding: 30px;
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reviews .revSlider .reviewsCont img {
  max-width: 100%;
  height: auto;
}

.reviews .revSlider .reviewsCont .reviewsWrap {
  border: 2px solid #f4f4f4;
  margin-bottom: 20px;
}

.reviews .revSlider .reviewsCont .reviewsWrap .descWrap {
  padding: 10px;
  background: #f4f4f4;
}

.reviews .revSlider .reviewsCont .reviewsWrap .descWrap ul {
  margin: 0;
}

.reviews .revSlider .reviewsCont .reviewsWrap .descWrap ul li {
  font-weight: bold;
}

.reviews .revSlider .reviewsCont .txtWrap h3 {
  text-align: center;
}

.reviews .revSlider .reviewsCont .txtWrap hr {
  background-color: #feda46;
  width: 50%;
  border: 1px solid #feda46;
}

.reviews .revSlider .reviewsCont .txtWrap p {
  text-indent: 20px;
}

.reviews .slick-prev {
  left: 15px;
  width: 30px;
  height: 30px;
  z-index: 99;
}

.reviews .slick-next {
  right: 15px;
  width: 30px;
  height: 30px;
}

/* --- reviews END ------------------------------------------------*/
/* --- contacts start ------------------------------------------------*/
.contacts .contactCont hr {
  border: 1px solid #66ebcd;
  background-color: #66ebcd;
  width: 40%;
  margin-left: 0;
  margin-right: auto;
}

.contacts .contactCont .contactWrap {
  padding-left: 20px;
}

.contacts .contactCont .contactWrap a {
  margin-left: 20px;
  display: block;
}

.contacts .contactCont .contactWrap a i {
  color: #66ebcd;
  font-size: 20px;
  margin-right: 5px;
}

.contacts .contactCont .socIcon a {
  display: inline;
}

.contacts .contactCont .socIcon a i {
  font-size: 40px;
}

.contacts .contactCont .socIcon a:nth-child(1) i {
  color: #3b5998;
}

.contacts .contactCont .socIcon a:nth-child(2) i {
  color: #833AB4;
}

/* --- contacts END ------------------------------------------------*/
/* --- Button Start ------------------------------------------------*/
.mainBtn {
  text-align: center;
  display: block;
  background: rgba(254, 218, 70, 0.9);
  padding: 10px;
  width: 260px;
  max-width: 100%;
  text-transform: uppercase;
  font-weight: bold;
  -webkit-transition: .3s;
  transition: .3s;
  position: relative;
}

.mainBtn:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-top: 5px solid #feda46;
  border-bottom: 5px solid #feda46;
  -webkit-transition: .7s;
  transition: .7s;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.mainBtn:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-right: 5px solid #feda46;
  border-left: 5px solid #feda46;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: top;
          transform-origin: top;
}

.mainBtn:hover {
  -webkit-transition: .3s;
  transition: .3s;
  background: rgba(254, 218, 70, 0.3);
  color: #fff;
}

.mainBtn:hover:after {
  -webkit-transition: .7s;
  transition: .7s;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.mainBtn:hover:before {
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.callButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
}

.callButton a span {
  background: #55595c;
  border-radius: 50%;
  display: block;
  border: #55595c;
  width: 60px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.callButton a span:after {
  background: #55595c;
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border: 2px solid #55595c;
  border-radius: 50%;
  -webkit-animation-name: borderAfter;
          animation-name: borderAfter;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  opacity: 0.8;
}

.callButton a span:before {
  background: #55595c;
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border: 2px solid #55595c;
  border-radius: 50%;
  -webkit-animation-name: borderAfter;
          animation-name: borderAfter;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  opacity: 0.8;
}

.callButton a span i {
  color: #66ebcd;
  font-size: 35px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-animation-name: phoneRotate;
          animation-name: phoneRotate;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.callButton a:hover span i {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #fff;
}

@-webkit-keyframes phoneRotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes phoneRotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes borderAfter {
  20%, 100% {
    background: #66ebcd;
    border: 2px solid #66ebcd;
    top: -20px;
    left: -20px;
    bottom: -20px;
    right: -20px;
    opacity: 0;
  }
}

@keyframes borderAfter {
  20%, 100% {
    background: #66ebcd;
    border: 2px solid #66ebcd;
    top: -20px;
    left: -20px;
    bottom: -20px;
    right: -20px;
    opacity: 0;
  }
}

/* --- Button END ------------------------------------------------*/
/* --- Form START ------------------------------------------------*/
.marketForm {
  text-align: center;
  padding: 10px;
  padding-bottom: 20px;
}

.marketForm input {
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  border: none;
  border-right: 50px solid #feda46;
  text-align: center;
  position: relative;
  width: 350px;
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition: .2s;
  transition: .2s;
  outline: 3px solid #fff;
}

.marketForm input:focus {
  -webkit-transition: .2s;
  transition: .2s;
  outline: 3px solid #feda46;
}

.marketForm .mainBtn {
  border: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.marketForm .mainBtn:after {
  border-top: 5px solid #fff;
  border-bottom: 5px solid #fff;
}

.marketForm .mainBtn:before {
  border-right: 5px solid #fff;
  border-left: 5px solid #fff;
}

.marketForm .mainBtn:hover {
  background: #feda46;
}

.marketForm h4 {
  margin-bottom: 20px;
}

.marketForm h4 span {
  color: #fb313b;
  text-transform: uppercase;
}

.marketFormHidden {
  text-align: center;
  padding: 10px;
  padding-bottom: 20px;
  background: #f4f4f4;
  max-width: 100%;
  width: 400px;
}

.marketFormHidden input {
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  border: none;
  border-right: 50px solid #feda46;
  text-align: center;
  position: relative;
  width: 350px;
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition: .2s;
  transition: .2s;
  outline: 3px solid #fff;
}

.marketFormHidden input:focus {
  -webkit-transition: .2s;
  transition: .2s;
  outline: 3px solid #feda46;
}

.marketFormHidden .mainBtn {
  border: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.marketFormHidden .mainBtn:after {
  border-top: 5px solid #fff;
  border-bottom: 5px solid #fff;
}

.marketFormHidden .mainBtn:before {
  border-right: 5px solid #fff;
  border-left: 5px solid #fff;
}

.marketFormHidden .mainBtn:hover {
  background: #feda46;
}

.marketFormHidden h4 {
  margin-bottom: 20px;
}

/* --- Form END ------------------------------------------------*/
/* --- Other START ------------------------------------------------*/
.mainTitleHeadCont {
  text-align: center;
  margin-bottom: 30px;
}

.mainTitleHeadCont .mainTitleHead {
  display: inline-block;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  padding: 10px;
}

.mainTitleHeadCont .mainTitleHead i {
  color: #feda46;
}

.mainTitleHeadCont .mainTitleHead:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 30%;
  height: 100%;
  border-bottom: 2px solid #111;
}

.mainTitleHeadCont .mainTitleHead:before {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  width: 65%;
  height: 100%;
  border-bottom: 2px solid #feda46;
}

.slick-dots li button:before {
  font-size: 15px;
  color: #feda46 !important;
}

.slick-prev {
  left: 30px;
  width: 40px;
  height: 40px;
  z-index: 99;
}

.slick-prev:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-top: 5px solid #111;
  border-right: 5px solid #111;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.slick-next {
  right: 30px;
  width: 40px;
  height: 40px;
}

.slick-next:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-top: 5px solid #111;
  border-right: 5px solid #111;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
/*# sourceMappingURL=main.css.map */