@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat-Bold.woff");
  src: url("../fonts/Montserrat-Bold.woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat-Light.woff");
  src: url("../fonts/Montserrat-Light.woff2");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat-Medium.woff");
  src: url("../fonts/Montserrat-Medium.woff2");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat-Regular.woff");
  src: url("../fonts/Montserrat-Regular.woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat-Black.woff");
  src: url("../fonts/Montserrat-Black.woff2");
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #F8F9FA;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #424242;
  margin: 0;
  padding: 0;
  position: relative;
  line-height: 1.6;
}

body a {
  text-decoration: none;
  color: #424242;
}

body a:hover {
  text-decoration: none;
  color: #424242;
}

button {
  outline: none;
}

button:focus {
  outline: none;
}

.hidden {
  display: none;
}

section {
  padding: 50px 0;
  overflow: hidden;
}

.done {
  min-height: 100vh;
}

/* --- slick style Start ------------------------------------------------*/
.slick-prev {
  bottom: -28px;
  left: 30%;
  top: inherit;
  z-index: 99;
  -webkit-transition: .3s;
  transition: .3s;
}

.slick-prev:before {
  content: '';
}

.slick-prev svg {
  color: #424242;
  font-size: 30px;
  -webkit-transition: .3s;
  transition: .3s;
}

.slick-prev:hover svg {
  color: #FD7E14;
}

.slick-next {
  bottom: -28px;
  right: 30%;
  top: inherit;
  z-index: 99;
  -webkit-transition: .3s;
  transition: .3s;
}

.slick-next:before {
  content: '';
}

.slick-next svg {
  color: #424242;
  font-size: 30px;
  -webkit-transition: .3s;
  transition: .3s;
}

.slick-next:hover svg {
  color: #FD7E14;
}

.slick-dots li button:before {
  font-size: 15px;
}

.slick-dots .slick-active button:before {
  color: #FD7E14 !important;
}

/* --- slick style end ------------------------------------------------*/
/* --- menuBtn Start ------------------------------------------------*/
.navMenuFix {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #424242;
  padding: 5px 10px;
  z-index: 99;
}

@media (min-width: 993px) {
  .navMenuFix {
    display: none;
  }
}

.navMenuFix__logo a {
  font-weight: bold;
  font-size: 16px;
  color: #fff;
  font-size: 24px;
  font-weight: 300;
  -webkit-transition: .3s;
  transition: .3s;
  text-transform: uppercase;
}

.navMenuFix__logo a span {
  font-weight: 900;
}

.navMenuFix__tel {
  margin-left: 10px;
  font-weight: bold;
}

.navMenuFix__tel a {
  color: #fff;
}

@media (max-width: 420px) {
  .navMenuFix__logo {
    display: none;
  }
  .navMenuFix__tel {
    padding: 7px 5px;
  }
}

.menuBtn {
  position: fixed;
  top: 10px;
  right: 20px;
  width: 30px;
  height: 29px;
  z-index: 9999999;
  display: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 2px;
}

.menuBtn span {
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-transform: rotate(0) translate(0);
          transform: rotate(0) translate(0);
}

.menuBtnHide span {
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-transform: rotate(0) translate(0);
          transform: rotate(0) translate(0);
  display: block;
  width: 100%;
  height: 3px;
  background: #fff;
}

.menuBtnShow {
  background: none;
}

.menuBtnShow span {
  -webkit-transition: .3s;
  transition: .3s;
  display: block;
  width: 100%;
  height: 3px;
  background: #fff;
}

.menuBtnShow span:nth-child(1) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.menuBtnShow span:nth-child(2) {
  display: none;
}

.menuBtnShow span:nth-child(3) {
  -webkit-transform: rotate(-45deg) translate(10px, -10px);
          transform: rotate(-45deg) translate(10px, -10px);
}

/* --- menuBtn end ------------------------------------------------*/
/* --- Navbar START ------------------------------------------------*/
.navMobile {
  background: #424242;
  padding: 20px 0 0 0;
  min-height: 100vh;
  position: fixed;
  width: 100%;
  right: 0;
  z-index: 999999;
  -webkit-transition: .3s;
  transition: .3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  -webkit-box-shadow: -6px 0px 5px rgba(0, 0, 0, 0.1);
          box-shadow: -6px 0px 5px rgba(0, 0, 0, 0.1);
}

.navMobile__title {
  padding: 0 30px;
  margin-top: 20px;
  text-align: center;
  margin-bottom: 20px;
}

.navMobile__title h4 {
  color: #fff;
  margin: 0;
  font-weight: 300;
  font-size: 32px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.navMobile__title h4 span {
  font-weight: bold;
  color: #fff;
}

.navMobile__title h5 {
  color: #fff;
  text-align: left;
  font-size: 20px;
  font-weight: bold;
}

.navMobile hr {
  width: 100%;
  height: 1px;
}

.navMobile__list {
  margin: 0 0 auto 0;
  padding: 0 30px;
  list-style: none;
  text-align: center;
}

.navMobile__list ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.navMobile__list ul li {
  color: #fff;
  margin-bottom: 10px;
}

.navMobile__list ul li a {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
  padding-bottom: 10px;
}

.navMobile__list ul li a:after {
  -webkit-transition: .3s;
  transition: .3s;
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-bottom: 2px solid #FD7E14;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  opacity: 0;
}

.navMobile__list ul li a:hover:after {
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.navMobile__list ul li .active:after {
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.navMobile__list-social {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
}

.navMobile__list-social a {
  font-size: 30px;
}

.navMobile__list-social a svg {
  color: #fff;
}

.navMobile__contacts {
  padding: 20px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #F8F9FA;
}

.navMobile__contacts p, .navMobile__contacts a {
  font-size: 16px;
  color: #424242;
}

.navMobile__contacts p i, .navMobile__contacts a i {
  color: #424242;
}

.navMobile__contacts a {
  -webkit-transition: .3s;
  transition: .3s;
  text-transform: uppercase;
}

.navMobile__contacts a:hover {
  -webkit-transition: .3s;
  transition: .3s;
  color: #424242;
}

.navMobileShow {
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-transform: translateY(0) !important;
          transform: translateY(0) !important;
}

.navMobileHide {
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-transform: translateY(-200%) !important;
          transform: translateY(-200%) !important;
}

/* --- Navbar END ------------------------------------------------*/
/* --- navMain Start ------------------------------------------------*/
.navMain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #424242;
  z-index: 99;
}

.navMain__logo {
  margin-left: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navMain__logo a {
  font-weight: bold;
  font-size: 16px;
  color: #fff;
  font-size: 24px;
  font-weight: 300;
  -webkit-transition: .3s;
  transition: .3s;
  text-transform: uppercase;
}

.navMain__logo a span {
  font-weight: 900;
}

.navMain__logo a:hover {
  color: #fff;
  -webkit-transition: .3s;
  transition: .3s;
}

.navMain__list {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.navMain__list ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
}

.navMain__list ul li {
  margin: 5px;
  padding: 0;
  margin-right: 20px;
  -webkit-transition: .3s;
  transition: .3s;
}

.navMain__list ul li:last-child {
  margin-right: 5px;
}

.navMain__list ul li a {
  font-size: 15px;
  text-transform: uppercase;
  -webkit-transition: .3s;
  transition: .3s;
  color: #fff;
}

.navMain__list ul li a:hover {
  -webkit-transition: .3s;
  transition: .3s;
  color: #FFCA63;
}

.navMain__btn a {
  font-size: 15px;
  text-align: center;
  color: #fff;
  display: block;
  margin-right: 50px;
  margin-bottom: 5px;
  -webkit-transition: .3s;
  transition: .3s;
}

.navMain__btn a:hover {
  -webkit-transition: .3s;
  transition: .3s;
  color: #FD7E14;
}

.navMain__btn-btnNav {
  font-size: 15px;
  border: 2px solid #FD7E14;
  margin-right: 50px;
  padding: 5px 10px;
  -webkit-transition: .3s;
  transition: .3s;
  color: #fff;
  text-transform: uppercase;
}

.navMain__btn-btnNav:hover {
  -webkit-transition: .3s;
  transition: .3s;
  color: #FD7E14;
}

@media (max-width: 1410px) {
  .navMain__list {
    width: 30%;
  }
}

@media (max-width: 1100px) {
  .navMain__logo {
    margin-left: 0;
  }
}

@media (max-width: 992px) {
  .navMain {
    display: none;
  }
}

/* --- navMain end ------------------------------------------------*/
.firstScroll {
  min-height: 100vh;
  padding: 102px 80px 0px 80px;
  background: url("../img/fBg.png");
  background-position: top 82px center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  overflow: inherit;
}

.firstScroll__header {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  height: 100%;
  margin-bottom: 75px;
}

.firstScroll__header h1 {
  letter-spacing: 0.13em;
  font-weight: 900;
  font-size: 48px;
  color: #fff;
  margin: 0;
}

.firstScroll__cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.firstScroll__cont-left {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.firstScroll__cont-left-title {
  margin-top: 70px;
}

.firstScroll__cont-left-title ul {
  list-style: none;
  font-size: 24px;
  font-weight: bold;
  padding: 0;
}

.firstScroll__cont-left-title ul li {
  margin-bottom: 15px;
}

.firstScroll__cont-left-title ul li:last-child {
  margin-bottom: 60px;
}

.firstScroll__cont-left-subTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.firstScroll__cont-left-subTitle-number {
  padding: 20px 7px;
  border: 1px solid #FD7E14;
  position: relative;
}

.firstScroll__cont-left-subTitle-number:after {
  position: absolute;
  content: '';
  top: 10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 90%;
  height: 20%;
  border: solid #FD7E14;
  border-width: 1px 1px 0px 1px;
}

.firstScroll__cont-left-subTitle-number:before {
  position: absolute;
  content: '';
  bottom: 10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 90%;
  height: 20%;
  border: solid #FD7E14;
  border-width: 0px 1px 1px 1px;
}

.firstScroll__cont-left-subTitle-number p {
  padding: 0;
  margin: 0;
  font-size: 64px;
  font-weight: 900;
  color: #FD7E14;
}

.firstScroll__cont-left-subTitle-number-figure {
  position: absolute;
  bottom: -109%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.firstScroll__cont-left-subTitle-text {
  margin-left: 8px;
  padding: 0;
}

.firstScroll__cont-left-subTitle-text p {
  padding: 0;
  margin: 0;
  font-size: 24px;
  font-weight: bold;
  color: #5081FF;
}

.firstScroll__cont-right {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding: 5px 5px 5px 30px;
}

.firstScroll__cont-right h2 {
  padding: 0;
  margin: 0;
  color: #FD7E14;
  font-size: 48px;
  font-weight: bold;
  letter-spacing: 0.13em;
}

@media (max-width: 1280px) {
  .firstScroll__header h1 {
    font-size: 40px;
  }
  .firstScroll__cont-left-title {
    margin-top: 50px;
  }
  .firstScroll__cont-left-title ul li {
    margin-bottom: 10px;
  }
  .firstScroll__cont-left-title ul li:last-child {
    margin-bottom: 30px;
  }
  .firstScroll__cont-left-subTitle-number p {
    font-size: 50px;
  }
  .firstScroll__cont-left-subTitle-number-figure {
    bottom: -104%;
  }
  .firstScroll__cont-left-subTitle-number-figure img {
    width: 90px;
  }
  .firstScroll__cont-left-subTitle-text p {
    font-size: 20px;
  }
  .firstScroll__cont-right h2 {
    font-size: 40px;
  }
}

@media (max-width: 1070px) {
  .firstScroll__header h1 {
    font-size: 30px;
  }
  .firstScroll__cont-left-title {
    margin-top: 30px;
  }
  .firstScroll__cont-left-title ul {
    font-size: 22px;
  }
  .firstScroll__cont-left-title ul li {
    margin-bottom: 5px;
  }
  .firstScroll__cont-left-title ul li:last-child {
    margin-bottom: 30px;
  }
  .firstScroll__cont-left-subTitle-number p {
    font-size: 40px;
  }
  .firstScroll__cont-left-subTitle-number-figure {
    bottom: -106%;
  }
  .firstScroll__cont-left-subTitle-number-figure img {
    width: 80px;
  }
  .firstScroll__cont-left-subTitle-text p {
    font-size: 20px;
  }
  .firstScroll__cont-right h2 {
    font-size: 30px;
  }
}

@media (max-width: 1070px) {
  .firstScroll {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(100%, rgba(141, 141, 141, 0.2)), to(rgba(141, 141, 141, 0.2))), url("../img/fBg.png");
    background: linear-gradient(rgba(141, 141, 141, 0.2) 100%, rgba(141, 141, 141, 0.2) 100%), url("../img/fBg.png");
    padding: 52px 10px 50px 10px;
    background-position: top 42px left;
    background-size: cover;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .firstScroll__header {
    text-align: center;
    margin-bottom: 20px;
  }
  .firstScroll__cont-left {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .firstScroll__cont-left-subTitle-text p {
    font-size: 18px;
  }
  .firstScroll__cont-right {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    padding-left: 110px;
    text-align: center;
  }
  .firstScroll__cont-right h2 {
    font-size: 26px;
  }
}

@media (max-width: 420px) {
  .firstScroll__header h1 {
    font-size: 25px;
  }
}

.partners {
  padding-bottom: 0;
}

.partners__title {
  text-align: center;
  margin-bottom: 20px;
}

.partners__title h3 {
  font-weight: bold;
  color: #FD7E14;
  font-size: 36px;
  letter-spacing: 0.13em;
}

.partners__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.partners__content-left {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}

.partners__content-right {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  position: relative;
}

.partners__content-right-wrap {
  position: absolute;
  top: 50%;
  left: -50%;
  width: 60%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.9);
  padding: 50px;
}

.partners__content-right-wrap-text {
  padding-left: 50px;
  margin-bottom: 20px;
}

.partners__content-right-wrap-text h5 {
  padding: 0;
  margin: 0;
}

.partners__content-right-wrap-text p {
  padding: 0;
  margin: 0;
}

.partners__content-right img {
  width: 100%;
}

.partners__content-right-descr {
  position: absolute;
  bottom: 0;
  left: -100px;
  background: #FD7E14;
  padding: 20px 40px;
}

.partners__content-right-descr p {
  margin: 0;
  padding: 0;
  color: #fff;
}

@media (max-width: 1480px) {
  .partners__content-right-wrap {
    width: 100%;
  }
}

@media (max-width: 1250px) {
  .partners__content-right {
    -ms-flex-preferred-size: 70%;
        flex-basis: 70%;
  }
  .partners__content-right-wrap {
    left: -260px;
  }
  .partners__content-left {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
  }
}

@media (max-width: 992px) {
  .partners {
    padding-top: 20px;
  }
  .partners__title h3 {
    font-size: 24px;
  }
  .partners__content-right {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .partners__content-right-wrap {
    position: relative;
    left: 0;
    top: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    padding: 5px;
  }
  .partners__content-right-wrap-text {
    padding: 5px;
  }
  .partners__content-right-wrap-text h5 {
    text-align: center;
  }
  .partners__content-right-descr {
    position: relative;
    left: 0;
    padding: 10px;
  }
  .partners__content-left {
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
  }
}

.about {
  padding-bottom: 0;
}

.about__title {
  text-align: center;
  margin-bottom: 20px;
}

.about__title h3 {
  font-weight: bold;
  color: #FD7E14;
  font-size: 36px;
  letter-spacing: 0.13em;
}

.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__content-left {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}

.about__content-right {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  position: relative;
}

.about__content-right-wrap {
  position: absolute;
  top: 50%;
  right: -50%;
  width: 60%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.9);
  padding: 50px;
}

.about__content-right-wrap-text {
  padding-left: 50px;
  margin-bottom: 20px;
}

.about__content-right-wrap-text h5 {
  padding: 0;
  margin: 0;
}

.about__content-right-wrap-text p {
  padding: 0;
  margin: 0;
}

.about__content-right-wrap-text p span {
  font-weight: bold;
  color: #FD7E14;
}

.about__content-right img {
  width: 100%;
}

.about__content-right-descr {
  position: absolute;
  bottom: 0;
  right: -100px;
  background: #FD7E14;
  padding: 20px 40px;
}

.about__content-right-descr p {
  margin: 0;
  padding: 0;
  color: #fff;
}

@media (max-width: 1480px) {
  .about__content-right-wrap {
    width: 100%;
  }
}

@media (max-width: 1250px) {
  .about__content-right {
    -ms-flex-preferred-size: 70%;
        flex-basis: 70%;
  }
  .about__content-right-wrap {
    right: -260px;
  }
  .about__content-left {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
  }
}

@media (max-width: 992px) {
  .about {
    padding-top: 20px;
  }
  .about__title h3 {
    font-size: 24px;
  }
  .about__content-right {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .about__content-right-wrap {
    position: relative;
    left: 0;
    top: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    padding: 5px;
  }
  .about__content-right-wrap-text {
    padding: 5px;
  }
  .about__content-right-wrap-text h5 {
    text-align: center;
  }
  .about__content-right-descr {
    position: relative;
    left: 0;
    padding: 10px;
  }
  .about__content-left {
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
  }
}

.vForm__title {
  padding: 5px;
  text-align: center;
  margin-bottom: 20px;
}

.vForm__title h2 {
  font-size: 24px;
  font-weight: bold;
  color: #FD7E14;
  padding: 0;
  margin: 0;
}

.vForm__form-input {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 15px;
}

.vForm__form-input input {
  text-align: center;
  padding: 10px;
  border: 1px solid #FD7E14;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  background: none;
  font-weight: bold;
}

.vForm .mainBtn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  max-width: 100%;
}

@media (max-width: 992px) {
  .vForm__form-input input {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-bottom: 15px;
  }
}

.works {
  padding-top: 0;
}

.works__header {
  text-align: center;
  margin-bottom: 20px;
}

.works__header h2 {
  font-size: 30px;
  color: #FD7E14;
  font-weight: bold;
}

.works__slider-cont {
  position: relative;
}

.works__slider-cont img {
  width: 100%;
}

.works__slider-cont:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(66, 66, 66, 0.7);
}

.works .slick-current:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(66, 66, 66, 0);
}

.works .slick-prev, .works .slick-next {
  width: 50px;
  height: 50px;
  -webkit-transition: .3s;
  transition: .3s;
}

.works .slick-prev:after, .works .slick-next:after {
  content: '';
  position: absolute;
  width: 76px;
  height: 76px;
  border: 2px solid #FD7E14;
  top: -13px;
  left: -13px;
  border-radius: 100%;
  -webkit-transition: .3s;
  transition: .3s;
}

.works .slick-prev:before, .works .slick-next:before {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.works .slick-prev svg, .works .slick-next svg {
  width: 50px;
  height: 50px;
  padding: 5px;
  border: 2px solid #FD7E14;
  color: #fff;
  border-radius: 100%;
  background: #FD7E14;
  position: relative;
  -webkit-transition: .3s;
  transition: .3s;
}

.works .slick-prev:hover:after, .works .slick-next:hover:after {
  -webkit-transition: .3s;
  transition: .3s;
  border: 2px solid #FFCA63;
}

.works .slick-prev:hover svg, .works .slick-next:hover svg {
  border: 2px solid #FFCA63;
  background: #FFCA63;
}

.works .slick-prev {
  top: 50%;
  left: 275px;
}

.works .slick-next {
  right: 275px;
  top: 50%;
  bottom: inherit;
}

.works .slick-dots {
  bottom: inherit;
  top: 0;
}

.works .slick-dots li button:before {
  font-size: 20px;
}

.works__btn .mainBtn {
  display: block;
  width: 300px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1250px) {
  .works .slick-prev {
    left: 175px;
  }
  .works .slick-next {
    right: 175px;
  }
}

@media (max-width: 992px) {
  .works .slick-prev {
    left: 20px;
  }
  .works .slick-next {
    right: 20px;
  }
}

.prod {
  padding-top: 0;
}

.prod__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.prod__wrap-cont {
  -ms-flex-preferred-size: 28%;
      flex-basis: 28%;
}

.prod__wrap-cont-title {
  text-align: center;
  padding: 20px 10px;
  background: #fff;
}

.prod__wrap-cont-title p {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  margin: 0;
  color: #FD7E14;
}

.prod__wrap-cont-img img {
  width: 100%;
  height: auto;
}

@media (max-width: 1120px) {
  .prod__wrap-cont-title p {
    font-size: 16px;
  }
}

@media (max-width: 1120px) {
  .prod__wrap-cont {
    margin-bottom: 20px;
    -ms-flex-preferred-size: 70%;
        flex-basis: 70%;
  }
}

.steps {
  padding: 50px 10px;
}

.steps__title {
  text-align: center;
  margin-bottom: 30px;
}

.steps__title h2 {
  color: #FD7E14;
}

.steps__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 50px;
  position: relative;
}

.steps__wrap-arrow {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.steps__wrap-arrow:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 130%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: 1px dashed #FFCA63;
  z-index: -1;
}

.steps__wrap-arrow-cont {
  background: #F8F9FA;
  border: 1px solid #FFCA63;
  border-radius: 100%;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.steps__wrap-arrow-cont svg {
  width: 50px !important;
  height: 50px;
  border-radius: 100%;
  padding: 5px;
  background: #FFCA63;
  color: #fff;
  font-size: 20px;
  font-weight: normal;
}

.steps__wrap-cont {
  -ms-flex-preferred-size: 15%;
      flex-basis: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.steps__wrap-cont-number {
  width: 100%;
  text-align: center;
  z-index: 2;
}

.steps__wrap-cont-number span {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 60px;
  height: 60px;
  background: #FD7E14;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  font-size: 50px;
  font-weight: bold;
  position: relative;
}

.steps__wrap-cont-number span:before {
  z-index: -1;
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 140%;
  height: 140%;
  background: #fff;
  border: 1px solid #FD7E14;
  border-radius: 100%;
}

.steps__wrap-cont-desc {
  padding: 40px 10px 5px 10px;
  z-index: 1;
  width: 220px;
  height: 220px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 100%;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
}

.steps__wrap-cont-desc-title h4 {
  text-align: center;
  font-size: 30px;
  color: #FD7E14;
}

.steps__wrap-cont-desc-text {
  text-align: center;
}

.steps__wrap-cont-desc-text p {
  margin: 0;
  padding: 0;
}

.steps__wrap-cont-free p {
  margin-left: auto;
  margin-right: auto;
  margin-top: -55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100px;
  height: 100px;
  font-weight: bold;
  color: #fff;
  background: #FD7E14;
  border-radius: 100%;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0 0 0;
  font-size: 14px;
}

.steps__wrap-cont-free p:before {
  z-index: -1;
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 120%;
  height: 120%;
  border: 1px solid #FD7E14;
  border-radius: 100%;
}

.steps__btn .mainBtn {
  width: 400px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1200px) {
  .steps__wrap-cont-desc {
    width: 180px;
    height: 180px;
  }
  .steps__wrap-cont-desc-title {
    font-size: 18px;
  }
  .steps__wrap-cont-desc-text {
    font-size: 12px;
  }
}

@media (max-width: 992px) {
  .steps__wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .steps__wrap-arrow {
    display: none;
  }
  .steps__wrap-cont {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.qv__form-cont-input-radio input {
  padding: 10px;
  width: 100%;
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
}

.qv__form-cont-input-radio label {
  cursor: pointer;
  padding: 5px;
  margin: 0;
}

.qv__form-cont-input-radio label:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  background-color: #ffffff;
  border: 6px solid #fff;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 1, 0.4);
          box-shadow: 0 5px 10px rgba(0, 0, 1, 0.4);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.qv__form-cont-input-radio label span {
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
}

.qv__form-cont-input-radio input[type="radio"] {
  display: none;
}

.qv__form-cont-input-radio input[type="radio"]:checked + label::before {
  background-color: #FD7E14;
  border: 6px solid #fff;
}

/* --- button start Start ------------------------------------------------*/
.mainBtnD {
  cursor: pointer;
  display: block;
  width: 200px;
  max-width: 100%;
  padding: 10px;
  font-size: 16px;
  color: #fff;
  background: #F3F3F3;
  text-align: center;
  -webkit-transition: .3s;
  transition: .3s;
  border: 1px dashed #8D8D8D;
  color: #424242;
  margin: 5px;
  transition: .3s;
}

.mainBtnD:hover {
  -webkit-transition: .3s;
  transition: .3s;
  border: 1px solid #8D8D8D;
}

.mainBtn {
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  padding: 10px;
  font-size: 16px;
  color: #fff;
  text-align: center;
  -webkit-transition: .3s;
  transition: .3s;
  color: #FD7E14;
  margin: 5px;
  transition: .3s;
  position: relative;
  border: 1px solid #FD7E14;
  background: none;
  font-weight: bold;
}

.mainBtn:hover {
  -webkit-transition: .3s;
  transition: .3s;
  color: #fff;
  background: #FFCA63;
  border: 1px solid #FFCA63;
}

/* --- button start end ------------------------------------------------*/
/* --- forms Start ------------------------------------------------*/
.openForm {
  padding: 20px 10px;
  width: 500px;
  max-width: 100%;
  margin: 0 auto;
  position: relative;
  background: #fff;
  text-align: center;
}

.openForm h2 {
  font-size: 40px;
  color: #424242;
}

.openForm h2 span {
  color: #FD7E14;
}

.openForm input {
  padding: 10px;
  width: 100%;
  margin-bottom: 10px;
}

.openForm .mainBtn {
  margin-left: auto;
  margin-right: auto;
}

/* --- forms end ------------------------------------------------*/
/*# sourceMappingURL=main.css.map */