.slick-next {
  right: 40%;
  border: 2px solid #fff;
  width: 80px;
  height: 40px;
  border-radius: 15px;
}
.slick-prev {
  left: 40%;
  border: 2px solid #fff;
  width: 80px;
  height: 40px;
  border-radius: 15px;
}

.slick-center {
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  z-index: 99;
}