/*------------------------------------------------------------------
  	[Footer]
------------------------------------------------------------------*/
.footer {
  background-color: #FAFAFA;
}

.footer h2 {
    font-size: 30px;
}

.footer .footer-seperator {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.footer .footer-list {
  margin-bottom: 0;
} 

.footer .footer-list-item {
  color: #4D257A;
  margin-bottom: 25px;
}



.footer .footer-input {
  background: rgba(0, 0, 0, 0.15);
}

.footer .footer-logo {
  width: 85px;
  height: auto;
}

.content-lg {
  padding-top: 50px;
  padding-bottom: 20px;
}

.sm-margin-b-50 {
    margin-bottom: 50px !important;
}

.sm-margin-b-30 {
    margin-bottom: 30px !important;
}

.margin-b-20 {
  margin-bottom: 20px !important;
}

/*------------------------------------------------------------------
  	[Form Control]
------------------------------------------------------------------*/
.form-control {
  height: 50px;
  font-size: 14px;
  font-weight: 400;
  color: #4D257A;
  background: #fafafa;
  border: none;
  box-shadow: none;
  border-radius: 0;
  padding-left: 15px;
}

.form-control::-moz-placeholder {
  color: #a6a7aa;
}

.form-control:-ms-input-placeholder {
  color: #a6a7aa;
}

.form-control::-webkit-input-placeholder {
  color: #a6a7aa;
}

.form-control:focus {
  color: #515769;
  box-shadow: none;
}

.form-control:focus::-moz-placeholder {
  color: #515769;
}

.form-control:focus:-ms-input-placeholder {
  color: #515769;
}

.form-control:focus::-webkit-input-placeholder {
  color: #515769;
}

/*------------------------------------------------------------------
  	[End Footer]
------------------------------------------------------------------*/