a
    font-family: 'Libre Franklin', sans-serif
    &:hover
        text-decoration: none 

p
    font-family: 'Libre Franklin', sans-serif
    
.off
    pointer-events: none
        
.my-header
    height: 60px
    z-index: 20
    padding: 0
    width: 100%
    display: flex
    transition: .3s
    transform: scaleY(0)
    transform-origin: top
    .logotip
        img
            margin-left: 5px
    .name-city 
        p
            margin: 0
            font-size: 18px
            color: #fff
            text-shadow: 0px 0px 1px #fff
        div
            padding-left: 10px
            a
                color: #fff
                text-shadow: 0px 0px 1px #fff
                &:hover
                    color: #F0f0f0
                    text-shadow: 1px 1px 1px #fff
    #hamId
        height: 50px
    .my-nav-menu  
        background: #fff
        ul
            .name-city-in-nav
                p
                    color: #fff
                    text-shadow: 0px 0px 1px #fff
                    font-size: 18px
            .name-city
                p
                    display: none
                    padding-top: 10px
            li
                a
                    color: #fff
                    text-shadow: 0px 0px 1px #fff
                    &:hover
                        color: #F0f0f0
                        text-shadow: 1px 1px 1px #fff
            .num-tel
                margin-right: 20px
        button
            border-width: 2px
            color: #fff
            margin-right: 5px
            transition: .3s
            background-color: #4D257A
            border: 2px solid rgba(80,36,129, 1)
            background: rgba(80,36,129, .9)
            border-radius: 5px
            &:hover
                transition: .3s
                border-color: #D8DACE
            
.nav-link-a
    

.show-nav-menu
    transition: .3s
    transform: scaleY(1)
    transform-origin: top
        
//end header

// first scroll

.f-scroll
    background: url("../image/back-first-scroll.jpg")
    background-size: cover
    background-repeat: no-repeat
    background-position: top center
    width: 100%
    overflow: hidden
    a
        color: #fff
    .container-fluid
        height: 100%
        padding: 0
        background-color: rgba(25,10,41,0.3)
        .row
            margin: 0
            width: 100%
            height: 100%
            padding-top: 0px
            .col-lg-3
                .angel
                    width: 150px
                    margin-top: 6px
                .n-tels
                    a
                        display: block
                    p
                        color: #fff
                        font-size: 16px
                        font-weight: 600
                        margin: 0
            .col-contact-w-us
                height: 100%
                div
                    a
                        padding: 7px 15px
                        transition: .3s
                        border: 2px solid rgba(80,36,129, 0.9)
                        background: rgba(80,36,129, 0.8)
                        border-radius: 5px
                        &:hover
                            transition: .3s
                            border-color: #D8DACE
            .col-lg-12
                background: rgba(80,36,129, 0.2)
                display: flex
                align-items: center
                justify-content: center
                border-top: 2px solid #fff
                border-bottom: 2px solid #fff
                ul
                    list-style: none
                    text-align: center
                    margin: 0
                    padding-top: 12px
                    padding-bottom: 12px
                    li
                        display: inline-block
                        text-align: center
                        a
                            padding-left: 15px
                            padding-right: 15px
                            padding-top: 16px
                            padding-bottom: 14px
                            border-left: 1px solid transparent
                            border-right: 1px solid transparent
                            transition: .3s
                            background: transparent
                            &:hover
                                transition: .3s
                                background: rgba(80,36,255, 0.3)
                                border-left: 1px solid #fff
                                border-right: 1px solid #fff
                                
                
                        
.f-scroll-2
    padding-bottom: 20px
    height: 68vh
    overflow: hidden
    .container-fluid
        .row
            .col-lg-6
                h2
                    font-size: 40px
                    color: #fff
                    text-shadow: 2px 2px 2px #000
                    text-align: center
                    padding-bottom: 10px
                    text-transform: uppercase
                    font-weight: bold
                    font-size: 45px
                    box-shadow: 2px 2px 10px 2px #fff
                    border-radius: 3px
                .triggers
                    padding-top: 20px
                    div
                        i
                            margin-top: 4px
                            margin-right: 10px
                .d-monument-img
                    max-width: 450px
                    padding: 10px
                    border-radius: 3px

    
.style-p
    color: #fff
    font-size: 23px
    margin-left: 5px
    text-shadow: 3px 3px 3px #000
                    
.back-scroll
    position: absolute
    top: 0
    left: 0
    right: 0
    width: 100%
    height: 100%
    overflow: hidden
    background: rgba(25,10,41,0.2)
    background-repeat: no-repeat
    background-size: cover
    z-index: -1

        
.about-us-title-div
    width: 100%
    padding-bottom: 10px
    h2
        text-align: center
        margin: auto
        width: 250px
        border-radius: 3px
        font-size: 40px
        font-weight: 1000
        color: #5f309c
        text-shadow: 1px 1px 1px #000
        
.first-scroll-offer
    padding-bottom: 20px
    
        
.carousel-centered
    text-align: left
    .carousel-col
        padding-bottom: 0px
        
.carousel-col-btm
    text-align: center
    

    
    
            
// end first scroll

// two scroll 

.TwoScroll
    height: 100vh
    height: 100%
    background: rgba(25,10,41,0.6)
    padding-top: 30px
    padding-bottom: 30px
    margin: auto
    overflow: hidden
    h1
        color: #515769

.TwoScroll 
    .container 
        padding: 0
        .two-scroll-first-row
            padding-bottom: 20px
        .row 
            .col-md-12 
                .our-work-title
                    h2
                        font-size: 40px
                        font-weight: 1000
                        color: #fff
                        padding: 5px 10px
                        text-shadow: 1px 1px 1px #000
                        background: rgba(0,0,0,0.5)
                        border-radius: 3px
        
.two-scr
    background-color: #fff
    padding-bottom: 50px
    padding-left: 20px
    padding-right: 20px
    margin: auto
    
.our_work
    text-align: center
    max-width: 250px
    padding: 0
    padding-bottom: 10px
    transition: .7s
    box-shadow: 1px 1px 1px #B1B2B3, 0.5em 0.5em 0.5em #5C5F61
    img
        height: 280px
        width: 100%
        margin-bottom: 10px
    &:hover
        transition: .7s
        box-shadow: 2px 1px 2px #E4E9ED, 1em 2em 1em #5C5F61        
    a
        color: #4B267A
        font-weight: 400
        &:hover
            transition: .7s
            text-shadow: 1px 1px 1px #2E2E31
        
.our-work-title
    text-align: center
    .our-work-title-main
        font-weight: 1000
        color: #5f309c
        text-shadow: 1px 1px 1px #000
    hr
        background-color: rgba(78, 89, 103, 0.2)
        height: 1px
    
.font-size30
    font-size: 30px
    


// end two scroll

// About Us

.about-us
    padding-top: 30px
    padding-bottom: 30px
    min-height: 100vh
    height: 100%
    display: flex
    align-items: center
    overflow: hidden
    position: relative
    background: rgba(25,10,41,0.1)
    box-shadow: inset 0px 0px 10px 1px #000
    h1
        text-align: center
        font-size: 75px
        font-weight: 900
        animation-name: example 
        animation-duration: 5s
        animation-iteration-count: infinite
    .col-lg-6
        .descr-about-us
            padding-bottom: 30px
            font-size: 18px
            div
                text-align: center
            a
                text-align: center
                color: #fff
                padding: 15px 30px
                font-size: 16px
                border-radius: 3px
                transition: .3s
                background-color: #4D257A
                border: 2px solid rgba(80,36,129, 0.9)
                background: rgba(80,36,129, 0.8)
                border-radius: 5px
                &:hover
                    transition: .3s
                    border-color: #D8DACE
                
                        
                        
                        
                
.about-us
    .container-fluid
        .row
            .col-lg-6
                display: flex
                justify-content: center
                .aus-left-field-img
                    padding: 10px
                    img
                        text-align: center
            
        

// End About Us



        
        
// about us

.descr-about-us
    height: 100%
    display: flex
    align-items: center
    p
        text-align: center
        padding: 10px
        color: #000
        font-weight: 300
    

// end about us

// delivery


.delivery
    display: flex
    align-items: center
    min-height: 100vh
    background: #fff
    overflow: hidden
    background: rgba(25,10,41,0.1)
    box-shadow: inset 0px 0px 10px 1px #000
    .container-fluid 
        .row                        
            .col-md-3
                .arrow-down
                    transform: rotate(50deg)
                    right: 25%
                    i
                        color: #4B267A
                        text-shadow: 1px 1px 1px #000
                        font-size: 30px
                p
                    width: 200px
                    margin-left: auto
                    margin-right: auto
                    color: #000
                    text-transform: uppercase
            .col_
                padding-top: 40px
                p
                    width: 200px
                    margin-left: auto
                    margin-right: auto
                    color: #000
                    text-transform: uppercase
                    padding-top: 20px
                .arrow-up
                    transform: rotate(-50deg)
                    top: 0
                    i
                        font-size: 30px
                        color: #4B267A
                        text-shadow: 1px 1px 1px #000
                .arrow-up-1
                    right: 10%
                .arrow-up-2
                    right: 30%
                .arrow-up-3
                    right: 0
            .col-md-12
                div
                    padding-bottom: 50px
                    h2
                        font-size: 40px
                        font-weight: 1000
                        color: #5f309c
                        text-shadow: 1px 1px 1px #000
                .d-cont-us
                    padding-top: 50px
                    a
                        color: #fff
                        padding: 15px 30px
                        font-size: 16px
                        border-radius: 3px
                        transition: .3s
                        background-color: #4D257A
                        border: 2px solid rgba(80,36,129, 0.9)
                        background: rgba(80,36,129, 0.8)
                        border-radius: 5px
                        &:hover
                            transition: .3s
                            border-color: #D8DACE
                    
    
// end delivery

// advantages
.advantages
    width: 100%
    min-height: 100vh
    height: 100%
    padding: 30px 0
    background: rgba(47, 00, 47, .7)
    color: #fff
    overflow: hidden
    h2
        text-transform: uppercase
        background: rgba(0,0,0, .3)
        box-shadow: 0px 0px 10px 1px rgba(0,0,0,.3)
        padding: 10px 0
    .col-auto
        border: 1px solid #ffffff
        padding: 20px 40px
        margin: 10px
        box-shadow: 5px 5px 2px 0px rgba(0,0,0,1)
        background: rgba(47, 00, 47, .4)
    &__wrap
        i
            margin-left: auto!important
            margin-right: auto!important
            width: 110px
            height: 110px
            font-size: 50px
            border: 2px solid #fff
            padding: 15px
            border-radius: 50%
            display: flex
            justify-content: center
            align-items: center
            box-shadow: inset 0px 0px 10px 1px rgba(255,255,255,1)
        p
            font-size: 20px
            width: 150px
            text-align: center
            padding-top: 20px
    // end advantages

    // REVIEWS
.my-reviews-section
    background: rgba(25,10,41,0.1)
    box-shadow: inset 0px 0px 10px 1px #000
    padding-top: 30px
    padding-bottom: 15px
    .container-fluid
        .row
            .col-md-12
                h2
                    font-size: 40px
                    font-weight: 1000
                    color: #5f309c
                    text-shadow: 1px 1px 1px #000
                .my-reviews
                    padding-top: 15px
                    padding-bottom: 15px
                    .d-rev
                        border: 2px solid #5f309c
                        border-radius: 3px
                        padding: 10px
                        margin-left: 10px
                        margin-right: 10px
                        background: rgba(47,00,47, 0.15)
                        p
                            color: #000
                            font-weight: 400
                            text-shadow: 0px 0px 1px #000
                        img
                            box-shadow: 0 0 1.2em 0.2em #5f309c
                            border-radius: 100px
                            
.b-slick-prev
    left: 5px
    z-index: 2
    
.b-slick-next
    right: 5px
    
.b-slick-style
    font-size: 30px
    background-color: transparent
    line-height: 0
    position: absolute
    top: 50%
    display: block
    transform: translateY(-50%)
    cursor: pointer
    border: none
    i
        color: #470047
    
// FOOTER

.list_
    list-style: none
    li
        display: flex
        a
            color: #470047
            font-size: 18px
            padding: 10px
            text-shadow: 0px 0px 1px #470047
        i
            font-size: 25px
            padding: 10px
        .fa-viber
            color: #7B58EA
        .fa-telegram
            color: #269EDA
        
.footer
    top: auto
    right: 0
    left: 0
    z-index: -10
    .footer-list-link
        color: #5C8288

.footer
    .footer-list-link
        &:hover
            color: #472047
        
.footer
    overflow: hidden
    .col-md-5
        h2
            text-shadow: 0px 0px 1px #470047
        button
            color: #fff
            padding: 15px 30px
            font-size: 16px
            border-radius: 3px
            transition: .3s
            background-color: #4D257A
            border: 2px solid rgba(80,36,129, 0.9)
            background: rgba(80,36,129, 0.8)
            border-radius: 5px
            &:hover
                transition: .3s
                border-color: #D8DACE
    .col-md-7
        .row
            .col-md-6
                div
                    a
                        i
                            font-size: 30px
                            padding-left: 20px
                            color: rgba(80,36,129, 0.8)
                            &:hover
                                color: rgba(80,36,129, 0.7)
        .photo-mag
            img
                width: 200px
                height: 150px
                border: 1px solid rgba(80,36,129, 0.8)
        div
            .list_
                padding-left: 0
            h4
                color: #470047
                text-shadow: 0px 0px 1px #000
            h2
                text-shadow: 0px 0px 1px #470047
                            

// FEEDBACK

.hidden
    display: none
    text-align: center
    
.formFb
    padding: 20px 20px
    background: rgba(250, 250, 250, .4)
    max-width: 320px
    margin: auto
    position: relative
    text-align: center
    border: 2px solid rgba(80,36,129, 0.8)
    border-radius: 3px
    input
        width: 100%
    .input-name
        margin-top: 35px
        margin-bottom: 20px
    .input-phone
        margin-bottom: 20px
    button
        border-radius: 3px
        padding: 5px 10px
        
        
.btn-disabled
    border: 2px solid rgba(253, 83, 83, .8)
    background: rgba(250, 250, 250, .7)
    &:hover
        cursor: default
    
.btn-enabled
    background: rgba(250, 250, 250, 1)
    border: 2px solid rgba(80,36,129, .8)
    &:hover
        cursor: pointer
        
// END FEEDBACK


// PRODUCT


.product
    height: 100%
    min-height: 100vh
    background: rgba(25,10,41,0.6)
    .container
        .row
            .col-md-12
                .row
                    .col-md-2
                        padding-top: 20px
                        padding-bottom: 20px
                        a
                            color: #fff
                            padding: 7px 15px
                            transition: .3s
                            border: 2px solid rgba(80,36,129, 0.9)
                            background: rgba(0,0,0, 0.1)
                            border-radius: 5px
                            &:hover
                                transition: .3s
                                border-color: #D8DACE
                        i
                            font-size: 25px 
                    .col-md-8
                        h2
                            font-size: 30px
                            font-weight: 1000
                            color: #fff
                            padding: 5px 10px
                            text-shadow: 1px 1px 1px #000
                            background: rgba(0,0,0,0.5)
                            border-radius: 3px
            .col-md-prod
                background: rgba(0,0,0,0.5)
                padding: 10px
                border-top: 3px solid #5C1F8B
                border-bottom: 3px solid #5C1F8B
                .d-img-prod
                    overflow: hidden
                    padding-top: 20px
                    padding-bottom: 20px
                    img
                        width: 300px
                        height: 420px
                        -moz-transition: all 1s ease-out
                        -o-transition: all 1s ease-out
                        -webkit-transition: all 1s ease-out
                        &:hover
                            cursor: pointer
                            -webkit-transform: scale(1.05)
                            -moz-transform: scale(1.05)
                            -o-transform: scale(1.05)
                .row
                    .col-md-12
                        .d-desc-prod
                            padding-top: 20px
                            padding-bottom: 20px
                            div
                                p
                                    color: #fff
                                    text-shadow: 1px 1px 1px #000
                                div
                                    .p-price-prod
                                        margin-left: 10px
                                    p
                                        &:last-child
                                            margin-left: 3px
                    .d-price-prod
                        height: 62px
                        .a-price-prod
                            bottom: 7%
                            right: 40%
                            color: #fff
                            padding: 15px 60px
                            transition: .3s
                            border: 2px solid rgba(80,36,129, 0.9)
                            background: rgba(80,36,129, 0.4)
                            border-radius: 5px
                            &:hover
                                transition: .3s
                                border-color: #D8DACE    

.cart-prod-two-scroll
    .container
        .two-scr
            padding-top: 30px
   
                

.thanks
    height: 100%
    min-height: 100vh
    .container 
        .row
            div
                background: rgba(0,0,0,0.1)
                border-radius: 3px
                padding: 50px
                .col-md-12 
                    .d-text-thanks
                        background: transparent
                        padding: 0
                        padding-top: 100px
                        h2
                            color: #EAEAEA
                            font-size: 50px
                            padding-bottom: 50px
                        p
                            color: #EAEAEA
                            font-size: 20px
                    .d-a-thanks
                        padding: 0
                        padding-bottom: 100px
                        background: transparent
                        a
                            color: #EAEAEA
                            padding: 15px 30px
                            border: 2px solid #EAEAEA
                            border-radius: 3px
                            &:hover
                                color: #ffffff
                                border-color: #fff
                                background-color: rgba(255,255,255,0.05)     