a {
  font-family: "Libre Franklin", sans-serif; }
  a:hover {
    text-decoration: none; }

p {
  font-family: "Libre Franklin", sans-serif; }

.off {
  pointer-events: none; }

.my-header {
  height: 60px;
  z-index: 20;
  padding: 0;
  width: 100%;
  display: flex;
  transition: 0.3s;
  transform: scaleY(0);
  transform-origin: top; }
  .my-header .logotip img {
    margin-left: 5px; }
  .my-header .name-city p {
    margin: 0;
    font-size: 18px;
    color: #fff;
    text-shadow: 0px 0px 1px #fff; }
  .my-header .name-city div {
    padding-left: 10px; }
    .my-header .name-city div a {
      color: #fff;
      text-shadow: 0px 0px 1px #fff; }
      .my-header .name-city div a:hover {
        color: #F0f0f0;
        text-shadow: 1px 1px 1px #fff; }
  .my-header #hamId {
    height: 50px; }
  .my-header .my-nav-menu {
    background: #fff; }
    .my-header .my-nav-menu ul .name-city-in-nav p {
      color: #fff;
      text-shadow: 0px 0px 1px #fff;
      font-size: 18px; }
    .my-header .my-nav-menu ul .name-city p {
      display: none;
      padding-top: 10px; }
    .my-header .my-nav-menu ul li a {
      color: #fff;
      text-shadow: 0px 0px 1px #fff; }
      .my-header .my-nav-menu ul li a:hover {
        color: #F0f0f0;
        text-shadow: 1px 1px 1px #fff; }
    .my-header .my-nav-menu ul .num-tel {
      margin-right: 20px; }
    .my-header .my-nav-menu button {
      border-width: 2px;
      color: #fff;
      margin-right: 5px;
      transition: 0.3s;
      background-color: #4D257A;
      border: 2px solid #502481;
      background: rgba(80, 36, 129, 0.9);
      border-radius: 5px; }
      .my-header .my-nav-menu button:hover {
        transition: 0.3s;
        border-color: #D8DACE; }

.show-nav-menu {
  transition: 0.3s;
  transform: scaleY(1);
  transform-origin: top; }

.f-scroll {
  background: url("../image/back-first-scroll.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  width: 100%;
  overflow: hidden; }
  .f-scroll a {
    color: #fff; }
  .f-scroll .container-fluid {
    height: 100%;
    padding: 0;
    background-color: rgba(25, 10, 41, 0.3); }
    .f-scroll .container-fluid .row {
      margin: 0;
      width: 100%;
      height: 100%;
      padding-top: 0px; }
      .f-scroll .container-fluid .row .col-lg-3 .angel {
        width: 150px;
        margin-top: 6px; }
      .f-scroll .container-fluid .row .col-lg-3 .n-tels a {
        display: block; }
      .f-scroll .container-fluid .row .col-lg-3 .n-tels p {
        color: #fff;
        font-size: 16px;
        font-weight: 600;
        margin: 0; }
      .f-scroll .container-fluid .row .col-contact-w-us {
        height: 100%; }
        .f-scroll .container-fluid .row .col-contact-w-us div a {
          padding: 7px 15px;
          transition: 0.3s;
          border: 2px solid rgba(80, 36, 129, 0.9);
          background: rgba(80, 36, 129, 0.8);
          border-radius: 5px; }
          .f-scroll .container-fluid .row .col-contact-w-us div a:hover {
            transition: 0.3s;
            border-color: #D8DACE; }
      .f-scroll .container-fluid .row .col-lg-12 {
        background: rgba(80, 36, 129, 0.2);
        display: flex;
        align-items: center;
        justify-content: center;
        border-top: 2px solid #fff;
        border-bottom: 2px solid #fff; }
        .f-scroll .container-fluid .row .col-lg-12 ul {
          list-style: none;
          text-align: center;
          margin: 0;
          padding-top: 12px;
          padding-bottom: 12px; }
          .f-scroll .container-fluid .row .col-lg-12 ul li {
            display: inline-block;
            text-align: center; }
            .f-scroll .container-fluid .row .col-lg-12 ul li a {
              padding-left: 15px;
              padding-right: 15px;
              padding-top: 16px;
              padding-bottom: 14px;
              border-left: 1px solid transparent;
              border-right: 1px solid transparent;
              transition: 0.3s;
              background: transparent; }
              .f-scroll .container-fluid .row .col-lg-12 ul li a:hover {
                transition: 0.3s;
                background: rgba(80, 36, 255, 0.3);
                border-left: 1px solid #fff;
                border-right: 1px solid #fff; }

.f-scroll-2 {
  padding-bottom: 20px;
  height: 68vh;
  overflow: hidden; }
  .f-scroll-2 .container-fluid .row .col-lg-6 h2 {
    font-size: 40px;
    color: #fff;
    text-shadow: 2px 2px 2px #000;
    text-align: center;
    padding-bottom: 10px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 45px;
    box-shadow: 2px 2px 10px 2px #fff;
    border-radius: 3px; }
  .f-scroll-2 .container-fluid .row .col-lg-6 .triggers {
    padding-top: 20px; }
    .f-scroll-2 .container-fluid .row .col-lg-6 .triggers div i {
      margin-top: 4px;
      margin-right: 10px; }
  .f-scroll-2 .container-fluid .row .col-lg-6 .d-monument-img {
    max-width: 450px;
    padding: 10px;
    border-radius: 3px; }

.style-p {
  color: #fff;
  font-size: 23px;
  margin-left: 5px;
  text-shadow: 3px 3px 3px #000; }

.back-scroll {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: rgba(25, 10, 41, 0.2);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1; }

.about-us-title-div {
  width: 100%;
  padding-bottom: 10px; }
  .about-us-title-div h2 {
    text-align: center;
    margin: auto;
    width: 250px;
    border-radius: 3px;
    font-size: 40px;
    font-weight: 1000;
    color: #5f309c;
    text-shadow: 1px 1px 1px #000; }

.first-scroll-offer {
  padding-bottom: 20px; }

.carousel-centered {
  text-align: left; }
  .carousel-centered .carousel-col {
    padding-bottom: 0px; }

.carousel-col-btm {
  text-align: center; }

.TwoScroll {
  height: 100vh;
  height: 100%;
  background: rgba(25, 10, 41, 0.6);
  padding-top: 30px;
  padding-bottom: 30px;
  margin: auto;
  overflow: hidden; }
  .TwoScroll h1 {
    color: #515769; }

.TwoScroll .container {
  padding: 0; }
  .TwoScroll .container .two-scroll-first-row {
    padding-bottom: 20px; }
  .TwoScroll .container .row .col-md-12 .our-work-title h2 {
    font-size: 40px;
    font-weight: 1000;
    color: #fff;
    padding: 5px 10px;
    text-shadow: 1px 1px 1px #000;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 3px; }

.two-scr {
  background-color: #fff;
  padding-bottom: 50px;
  padding-left: 20px;
  padding-right: 20px;
  margin: auto; }

.our_work {
  text-align: center;
  max-width: 250px;
  padding: 0;
  padding-bottom: 10px;
  transition: 0.7s;
  box-shadow: 1px 1px 1px #B1B2B3, 0.5em 0.5em 0.5em #5C5F61; }
  .our_work img {
    height: 280px;
    width: 100%;
    margin-bottom: 10px; }
  .our_work:hover {
    transition: 0.7s;
    box-shadow: 2px 1px 2px #E4E9ED, 1em 2em 1em #5C5F61; }
  .our_work a {
    color: #4B267A;
    font-weight: 400; }
    .our_work a:hover {
      transition: 0.7s;
      text-shadow: 1px 1px 1px #2E2E31; }

.our-work-title {
  text-align: center; }
  .our-work-title .our-work-title-main {
    font-weight: 1000;
    color: #5f309c;
    text-shadow: 1px 1px 1px #000; }
  .our-work-title hr {
    background-color: rgba(78, 89, 103, 0.2);
    height: 1px; }

.font-size30 {
  font-size: 30px; }

.about-us {
  padding-top: 30px;
  padding-bottom: 30px;
  min-height: 100vh;
  height: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
  background: rgba(25, 10, 41, 0.1);
  box-shadow: inset 0px 0px 10px 1px #000; }
  .about-us h1 {
    text-align: center;
    font-size: 75px;
    font-weight: 900;
    animation-name: example;
    animation-duration: 5s;
    animation-iteration-count: infinite; }
  .about-us .col-lg-6 .descr-about-us {
    padding-bottom: 30px;
    font-size: 18px; }
    .about-us .col-lg-6 .descr-about-us div {
      text-align: center; }
    .about-us .col-lg-6 .descr-about-us a {
      text-align: center;
      color: #fff;
      padding: 15px 30px;
      font-size: 16px;
      border-radius: 3px;
      transition: 0.3s;
      background-color: #4D257A;
      border: 2px solid rgba(80, 36, 129, 0.9);
      background: rgba(80, 36, 129, 0.8);
      border-radius: 5px; }
      .about-us .col-lg-6 .descr-about-us a:hover {
        transition: 0.3s;
        border-color: #D8DACE; }

.about-us .container-fluid .row .col-lg-6 {
  display: flex;
  justify-content: center; }
  .about-us .container-fluid .row .col-lg-6 .aus-left-field-img {
    padding: 10px; }
    .about-us .container-fluid .row .col-lg-6 .aus-left-field-img img {
      text-align: center; }

.descr-about-us {
  height: 100%;
  display: flex;
  align-items: center; }
  .descr-about-us p {
    text-align: center;
    padding: 10px;
    color: #000;
    font-weight: 300; }

.delivery {
  display: flex;
  align-items: center;
  min-height: 100vh;
  background: #fff;
  overflow: hidden;
  background: rgba(25, 10, 41, 0.1);
  box-shadow: inset 0px 0px 10px 1px #000; }
  .delivery .container-fluid .row .col-md-3 .arrow-down {
    transform: rotate(50deg);
    right: 25%; }
    .delivery .container-fluid .row .col-md-3 .arrow-down i {
      color: #4B267A;
      text-shadow: 1px 1px 1px #000;
      font-size: 30px; }
  .delivery .container-fluid .row .col-md-3 p {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    color: #000;
    text-transform: uppercase; }
  .delivery .container-fluid .row .col_ {
    padding-top: 40px; }
    .delivery .container-fluid .row .col_ p {
      width: 200px;
      margin-left: auto;
      margin-right: auto;
      color: #000;
      text-transform: uppercase;
      padding-top: 20px; }
    .delivery .container-fluid .row .col_ .arrow-up {
      transform: rotate(-50deg);
      top: 0; }
      .delivery .container-fluid .row .col_ .arrow-up i {
        font-size: 30px;
        color: #4B267A;
        text-shadow: 1px 1px 1px #000; }
    .delivery .container-fluid .row .col_ .arrow-up-1 {
      right: 10%; }
    .delivery .container-fluid .row .col_ .arrow-up-2 {
      right: 30%; }
    .delivery .container-fluid .row .col_ .arrow-up-3 {
      right: 0; }
  .delivery .container-fluid .row .col-md-12 div {
    padding-bottom: 50px; }
    .delivery .container-fluid .row .col-md-12 div h2 {
      font-size: 40px;
      font-weight: 1000;
      color: #5f309c;
      text-shadow: 1px 1px 1px #000; }
  .delivery .container-fluid .row .col-md-12 .d-cont-us {
    padding-top: 50px; }
    .delivery .container-fluid .row .col-md-12 .d-cont-us a {
      color: #fff;
      padding: 15px 30px;
      font-size: 16px;
      border-radius: 3px;
      transition: 0.3s;
      background-color: #4D257A;
      border: 2px solid rgba(80, 36, 129, 0.9);
      background: rgba(80, 36, 129, 0.8);
      border-radius: 5px; }
      .delivery .container-fluid .row .col-md-12 .d-cont-us a:hover {
        transition: 0.3s;
        border-color: #D8DACE; }

.advantages {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  padding: 30px 0;
  background: rgba(47, 0, 47, 0.7);
  color: #fff;
  overflow: hidden; }
  .advantages h2 {
    text-transform: uppercase;
    background: rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.3);
    padding: 10px 0; }
  .advantages .col-auto {
    border: 1px solid #ffffff;
    padding: 20px 40px;
    margin: 10px;
    box-shadow: 5px 5px 2px 0px black;
    background: rgba(47, 0, 47, 0.4); }
  .advantages__wrap i {
    margin-left: auto !important;
    margin-right: auto !important;
    width: 110px;
    height: 110px;
    font-size: 50px;
    border: 2px solid #fff;
    padding: 15px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0px 0px 10px 1px white; }
  .advantages__wrap p {
    font-size: 20px;
    width: 150px;
    text-align: center;
    padding-top: 20px; }

.my-reviews-section {
  background: rgba(25, 10, 41, 0.1);
  box-shadow: inset 0px 0px 10px 1px #000;
  padding-top: 30px;
  padding-bottom: 15px; }
  .my-reviews-section .container-fluid .row .col-md-12 h2 {
    font-size: 40px;
    font-weight: 1000;
    color: #5f309c;
    text-shadow: 1px 1px 1px #000; }
  .my-reviews-section .container-fluid .row .col-md-12 .my-reviews {
    padding-top: 15px;
    padding-bottom: 15px; }
    .my-reviews-section .container-fluid .row .col-md-12 .my-reviews .d-rev {
      border: 2px solid #5f309c;
      border-radius: 3px;
      padding: 10px;
      margin-left: 10px;
      margin-right: 10px;
      background: rgba(47, 0, 47, 0.15); }
      .my-reviews-section .container-fluid .row .col-md-12 .my-reviews .d-rev p {
        color: #000;
        font-weight: 400;
        text-shadow: 0px 0px 1px #000; }
      .my-reviews-section .container-fluid .row .col-md-12 .my-reviews .d-rev img {
        box-shadow: 0 0 1.2em 0.2em #5f309c;
        border-radius: 100px; }

.b-slick-prev {
  left: 5px;
  z-index: 2; }

.b-slick-next {
  right: 5px; }

.b-slick-style {
  font-size: 30px;
  background-color: transparent;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  transform: translateY(-50%);
  cursor: pointer;
  border: none; }
  .b-slick-style i {
    color: #470047; }

.list_ {
  list-style: none; }
  .list_ li {
    display: flex; }
    .list_ li a {
      color: #470047;
      font-size: 18px;
      padding: 10px;
      text-shadow: 0px 0px 1px #470047; }
    .list_ li i {
      font-size: 25px;
      padding: 10px; }
    .list_ li .fa-viber {
      color: #7B58EA; }
    .list_ li .fa-telegram {
      color: #269EDA; }

.footer {
  top: auto;
  right: 0;
  left: 0;
  z-index: -10; }
  .footer .footer-list-link {
    color: #5C8288; }

.footer .footer-list-link:hover {
  color: #472047; }

.footer {
  overflow: hidden; }
  .footer .col-md-5 h2 {
    text-shadow: 0px 0px 1px #470047; }
  .footer .col-md-5 button {
    color: #fff;
    padding: 15px 30px;
    font-size: 16px;
    border-radius: 3px;
    transition: 0.3s;
    background-color: #4D257A;
    border: 2px solid rgba(80, 36, 129, 0.9);
    background: rgba(80, 36, 129, 0.8);
    border-radius: 5px; }
    .footer .col-md-5 button:hover {
      transition: 0.3s;
      border-color: #D8DACE; }
  .footer .col-md-7 .row .col-md-6 div a i {
    font-size: 30px;
    padding-left: 20px;
    color: rgba(80, 36, 129, 0.8); }
    .footer .col-md-7 .row .col-md-6 div a i:hover {
      color: rgba(80, 36, 129, 0.7); }
  .footer .col-md-7 .photo-mag img {
    width: 200px;
    height: 150px;
    border: 1px solid rgba(80, 36, 129, 0.8); }
  .footer .col-md-7 div .list_ {
    padding-left: 0; }
  .footer .col-md-7 div h4 {
    color: #470047;
    text-shadow: 0px 0px 1px #000; }
  .footer .col-md-7 div h2 {
    text-shadow: 0px 0px 1px #470047; }

.hidden {
  display: none;
  text-align: center; }

.formFb {
  padding: 20px 20px;
  background: rgba(250, 250, 250, 0.4);
  max-width: 320px;
  margin: auto;
  position: relative;
  text-align: center;
  border: 2px solid rgba(80, 36, 129, 0.8);
  border-radius: 3px; }
  .formFb input {
    width: 100%; }
  .formFb .input-name {
    margin-top: 35px;
    margin-bottom: 20px; }
  .formFb .input-phone {
    margin-bottom: 20px; }
  .formFb button {
    border-radius: 3px;
    padding: 5px 10px; }

.btn-disabled {
  border: 2px solid rgba(253, 83, 83, 0.8);
  background: rgba(250, 250, 250, 0.7); }
  .btn-disabled:hover {
    cursor: default; }

.btn-enabled {
  background: #fafafa;
  border: 2px solid rgba(80, 36, 129, 0.8); }
  .btn-enabled:hover {
    cursor: pointer; }

.product {
  height: 100%;
  min-height: 100vh;
  background: rgba(25, 10, 41, 0.6); }
  .product .container .row .col-md-12 .row .col-md-2 {
    padding-top: 20px;
    padding-bottom: 20px; }
    .product .container .row .col-md-12 .row .col-md-2 a {
      color: #fff;
      padding: 7px 15px;
      transition: 0.3s;
      border: 2px solid rgba(80, 36, 129, 0.9);
      background: rgba(0, 0, 0, 0.1);
      border-radius: 5px; }
      .product .container .row .col-md-12 .row .col-md-2 a:hover {
        transition: 0.3s;
        border-color: #D8DACE; }
    .product .container .row .col-md-12 .row .col-md-2 i {
      font-size: 25px; }
  .product .container .row .col-md-12 .row .col-md-8 h2 {
    font-size: 30px;
    font-weight: 1000;
    color: #fff;
    padding: 5px 10px;
    text-shadow: 1px 1px 1px #000;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 3px; }
  .product .container .row .col-md-prod {
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-top: 3px solid #5C1F8B;
    border-bottom: 3px solid #5C1F8B; }
    .product .container .row .col-md-prod .d-img-prod {
      overflow: hidden;
      padding-top: 20px;
      padding-bottom: 20px; }
      .product .container .row .col-md-prod .d-img-prod img {
        width: 300px;
        height: 420px;
        -moz-transition: all 1s ease-out;
        -o-transition: all 1s ease-out;
        -webkit-transition: all 1s ease-out; }
        .product .container .row .col-md-prod .d-img-prod img:hover {
          cursor: pointer;
          -webkit-transform: scale(1.05);
          -moz-transform: scale(1.05);
          -o-transform: scale(1.05); }
    .product .container .row .col-md-prod .row .col-md-12 .d-desc-prod {
      padding-top: 20px;
      padding-bottom: 20px; }
      .product .container .row .col-md-prod .row .col-md-12 .d-desc-prod div p {
        color: #fff;
        text-shadow: 1px 1px 1px #000; }
      .product .container .row .col-md-prod .row .col-md-12 .d-desc-prod div div .p-price-prod {
        margin-left: 10px; }
      .product .container .row .col-md-prod .row .col-md-12 .d-desc-prod div div p:last-child {
        margin-left: 3px; }
    .product .container .row .col-md-prod .row .d-price-prod {
      height: 62px; }
      .product .container .row .col-md-prod .row .d-price-prod .a-price-prod {
        bottom: 7%;
        right: 40%;
        color: #fff;
        padding: 15px 60px;
        transition: 0.3s;
        border: 2px solid rgba(80, 36, 129, 0.9);
        background: rgba(80, 36, 129, 0.4);
        border-radius: 5px; }
        .product .container .row .col-md-prod .row .d-price-prod .a-price-prod:hover {
          transition: 0.3s;
          border-color: #D8DACE; }

.cart-prod-two-scroll .container .two-scr {
  padding-top: 30px; }

.thanks {
  height: 100%;
  min-height: 100vh; }
  .thanks .container .row div {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    padding: 50px; }
    .thanks .container .row div .col-md-12 .d-text-thanks {
      background: transparent;
      padding: 0;
      padding-top: 100px; }
      .thanks .container .row div .col-md-12 .d-text-thanks h2 {
        color: #EAEAEA;
        font-size: 50px;
        padding-bottom: 50px; }
      .thanks .container .row div .col-md-12 .d-text-thanks p {
        color: #EAEAEA;
        font-size: 20px; }
    .thanks .container .row div .col-md-12 .d-a-thanks {
      padding: 0;
      padding-bottom: 100px;
      background: transparent; }
      .thanks .container .row div .col-md-12 .d-a-thanks a {
        color: #EAEAEA;
        padding: 15px 30px;
        border: 2px solid #EAEAEA;
        border-radius: 3px; }
        .thanks .container .row div .col-md-12 .d-a-thanks a:hover {
          color: #ffffff;
          border-color: #fff;
          background-color: rgba(255, 255, 255, 0.05); }

/*# sourceMappingURL=myStyle.css.map */
