a
    font-family: 'Libre Franklin', sans-serif
    &:hover
        text-decoration: none 

p
    font-family: 'Libre Franklin', sans-serif
    
.off
    pointer-events: none
        
.my-header
    height: 60px
    z-index: 20
    padding: 0
    width: 100%
    display: flex
    transition: .3s
    transform: scaleY(0)
    transform-origin: top
    .candle
        border: 1px solid #f0f0f0
        margin-left: 5px
    .logotip
        img
            margin-left: 5px
    .name-city 
        p
            margin: 0
            font-size: 18px
            color: #D5D5D5
            text-shadow: 0px 0px 1px #D5D5D5
    #hamId
        height: 50px
    .my-nav-menu
        ul
            margin-left: auto
            .name-city
                p
                    display: none
                    padding-top: 10px
            li
                a
                    color: #fff
                    text-shadow: 0px 0px 1px #D5D5D5
            .num-tel
                margin-right: 20px
        button
            border-color: transparent
            border-width: 2px
            color: #fff
            background-color: #2F649A
            margin-right: 5px
            &:hover
                background-color: transparent
                border-color: #2F649A
            

.show-nav-menu
    transition: .3s
    transform: scaleY(1)
    transform-origin: top
        
//end header

// first scroll

.first-scroll
    min-height: 100vh
    background: url("../image/photo_2018-09-20_17-18-10.jpg")
    background-repeat: no-repeat
    background-size: cover
    overflow: hidden
    padding-bottom: 20px
    a
        color: #000
    .container-fluid
        .row
            .col-candle
                padding-top: 5px
                display: flex
                img
                    box-shadow: 1px 4px 4px 1px #212531
                    border: 1px solid #f0f0f0
                div
                    display: flex
                    align-items: center
                    p
                        margin: 0
                        margin-left: 10px
                        color: #fff
                        text-shadow: 0px 0px 1px #D5D5D5
                        font-size: 18px
            .col-contacts
                display: flex
                align-items: center
                justify-content: flex-end
                div
                    a
                        margin-right: 30px
                        padding: 0
                        color: #fff
                        text-shadow: 1px 1px 1px #D5D5D5
                    button
                        border-color: transparent
                        border-width: 2px
                        color: #fff
                        background-color: #2F649A
                        &:hover
                            background-color: transparent
                            border-color: #2F649A
            .col-logotip
                padding-top: 60px
                display: flex
                align-items: center
                justify-content: center
                a
                    position: absolute
                    top: 5px
                    z-index: 2
            .col-triggers
                padding-top: 50px
                text-align: center
            .col-img-right-field
                display: flex
                justify-content: center
            .col
                .img-right-field
                    margin-top: 50px
                    padding: 20px
                    background: rgba(0,0,0,0.4)
                    border: 2px solid rgba(0,0,0,0.4)
                    border-radius: 2px
                    img
                        border: 2px solid rgba(0,0,0,0.3)
                        border-radius: 2px
                .my-navigation-menu  
                    list-style: none
                    display: flex
                    justify-content: center
                    border-top: 2px solid #fff
                    border-bottom: 2px solid #fff
                    margin-top: 50px
                    background: rgba(0,0,0,0.3)
                    li
                        padding-top: 17px
                        padding-bottom: 17px
                        a
                            font-size: 18px
                            color: #fff
                            text-shadow: 1px 1px 1px #D5D5D5
                            border-left: 1px solid transparent
                            border-right: 1px solid transparent
                            padding: 20px
                            padding-left: 40px
                            padding-right: 40px
                            &:hover
                                transition: 0.6s
                                border-left: 1px solid #D5D5D5
                                border-right: 1px solid #D5D5D5
                                background: rgba(0,0,0,0.5)
                            
                .triggers
                    padding-top: 10px
                    padding-bottom: 20px
                    div
                        display: flex
                        i
                            margin-top: 5px
                        p
                            padding-left: 5px
                            text-align: left
                h2
                    font-size: 40px
                    color: #fff
                    text-shadow: 2px 2px 2px #000
                    text-align: center
                    padding-bottom: 10px
                    text-transform: uppercase
                    font-weight: bold
                    font-size: 45px
                    box-shadow: 2px 2px 10px 2px #000
                    
.style-p
    color: #fff
    font-size: 25px
    margin-left: 5px
    text-shadow: 3px 3px 3px #000
    
                        
                                
                            
                    
    

            
        
.about-us-title-div
    width: 100%
    padding-bottom: 20px
    h2
        text-align: center
        margin: auto
        background: rgba(0,0,0,0.5)
        width: 120px
        padding-bottom: 5px
        border-radius: 3px
        font-weight: 1000
        color: #fff
        text-shadow: 2px 2px 2px #000
        
.first-scroll-offer
    padding-bottom: 20px
    
        
.carousel-centered
    text-align: left
    .carousel-col
        padding-bottom: 0px
        
.carousel-col-btm
    text-align: center
    

    
    
            
// end first scroll

// two scroll 

.TwoScroll
    height: 100vh
    height: 100%
    background: #f0f0f0
    padding-top: 100px
    padding-bottom: 100px
    margin: auto
    h1
        color: #515769
    .container
        padding: 0
        
.two-scr
    background-color: #fff
    padding-bottom: 50px
    padding-left: 20px
    padding-right: 20px
    margin: auto
    
.our_work
    text-align: center
    max-width: 250px
    margin-top: 50px
    padding: 0
    padding-bottom: 10px
    transition: .7s
    box-shadow: 1px 1px 1px #B1B2B3, 0.5em 0.5em 0.5em #5C5F61
    img
        height: 280px
        width: 100%
        margin-bottom: 10px
    &:hover
        transition: .7s
        box-shadow: 2px 2px 1px #E4E9ED, 1em 2em 1em #5C5F61        
    a
        color: #4E5967
        font-weight: 400
        &:hover
            transition: .7s
            text-shadow: 1px 1px 1px #2E2E31
        
.our-work-title
    text-align: center
    padding: 5px
    .our-work-title-main
        margin-bottom: 20px
        padding: 50px
        font-weight: 1000
        color: #2F649A
        text-shadow: 2px 2px 2px #000
    hr
        background-color: rgba(78, 89, 103, 0.2)
        height: 1px
        
    h1
        margin-top: 15px
    
.font-size30
    font-size: 30px
    


// end two scroll

// About Us

.about-us
    padding-top: 50px
    padding-bottom: 50px
    min-height: 100vh
    height: 100%
    display: flex
    align-items: center
    overflow: hidden
    box-shadow: inset 0px 0px 20px 5px rgba(255,255,255,1)
    position: relative
    h1
        text-align: center
        font-size: 75px
        font-weight: 900
        animation-name: example
        animation-duration: 5s
        animation-iteration-count: infinite
    .col-lg-6
        background-color: rgba(0,0,0,0.5)
        .descr-about-us
            padding-bottom: 30px
            font-size: 18px;
            div
                text-align: center
            a
                text-align: center
                color: #fff
                text-shadow: 0px 0px 1px #fff
                background-color: #1A3856
                padding: 15px 30px
                border: 2px solid transparent
                font-size: 16px
                border-radius: 3px
                &:hover
                    background-color: transparent
                    border: 2px solid #1A3856
                
.about-us
    .container-fluid
        .row
            .col-lg-6
                display: flex
                justify-content: center
                .aus-left-field-img
                    padding: 10px
                    img
                        text-align: center
            
        

// End About Us



        
        
// about us

.descr-about-us
    height: 100%
    display: flex
    align-items: center
    p
        text-align: center
        padding: 10px
        color: #fff
        text-shadow: 1px 1px 1px #FEFEFE, 0 0 1em #a6a7aa
    

// end about us

// delivery


.delivery
    display: flex
    align-items: center
    min-height: 100vh
    background: #fff
    overflow: hidden
    .container-fluid
        .button-buy
            text-align: center
            padding-top: 50px
            padding-bottom: 50px
            a
                text-align: center
                color: #fff
                text-shadow: 0px 0px 1px #fff
                background-color: #1A3856
                padding: 15px 30px
                border: 2px solid transparent
                font-size: 16px
                border-radius: 3px
                &:hover
                    background-color: transparent
                    border: 2px solid #1A3856
                    color: #1A3856
                    text-shadow: 0px 0px 1px #1A3856
        .delivery-title-div
            text-align: center
            padding-bottom: 50px
            h2
                font-weight: 1000
                color: #2F649A
                text-shadow: 2px 2px 2px #000
    .col
        text-align: center
        img
            height: 90px
            width: 90px
        div
            padding-top: 20px
            p
                padding-top: 10px
                font-size: 20px
                color: #2F649A
                text-shadow: 0px 0px 1px #1A3856
                
            
                

// end delivery

// advantages


.my-advantages
    min-height: 100vh
    display: flex
    align-items: center
    overflow: hidden
    padding-bottom: 700px
    .container-fluid
        .row
            .col
                display: flex
                align-items: center
                justify-content: center
                padding: 0
                .logotip 
                    z-index: 9
                    img .my-advantages 
                        z-index: -1000
                div
                    z-index: 10
                    padding-top: 10px
                    padding-bottom: 10px
                    width: 100%
                    text-align: center
                    p  
                        text-align: center
                        margin: 0
                        padding-top: 5px
                        padding-bottom: 50px
                        color: #fff
                        font-size: 25px
                        font-family: Pompadur
                        text-shadow: 3px 5px 1px #000
                    h1
                        color: #fff
                        font-weight: 1000
                        text-shadow: 3px 5px 1px #000
                        padding: 50px
                        

                        
.advantages-desc
    overflow: hidden
            

// end advantages

// reviews

.reviews
    min-height: 80%
    height: 80vh
    display: flex
    align-items: center
    overflow: hidden
    background-color: #FAFAFA
    justify-content: center
    div 
        background-color: #fff
        top: 850px
        border-radius: 15px
        .container
            box-shadow: 3px 0px 20px 5px #000
            .row
                padding-top: 30px
                padding-bottom: 30px
                .col
                    display: flex
                    align-items: center
                    justify-content: center
                    top: 0
                    div 
                        display: flex
                        align-items: center
                        h1
                            color: #2F649A
                            font-weight: 1000
                            text-shadow: 2px 2px 1px #000
                            padding: 20px
                        hr
                            background-color: #000
                        p
                            color: #212531
                            text-shadow: 0px 0px 1px #1A3856
                        .p1
                            border-bottom: 1px solid #CDCDCD
                            padding: 5px
                            border-right: 1px solid #CDCDCD
                            box-shadow: 0px 1px 2px 0px #000
                        .p2
                            border-bottom: 1px solid #CDCDCD
                            padding: 5px
                            border-left: 1px solid #CDCDCD
                            border-right: 1px solid #CDCDCD
                            box-shadow: 0px 1px 2px 0px #000
                        div
                            display: block
                            padding: 20px
                            p
                                text-align: center
                                padding-top: 5px
                                border-bottom: 1px solid transparent
                            img
                                text-align: center
                                border: 2px solid #2F649A
                                border-radius: 100px
                                background-color: #2F649A

// end reviews

// FOOTER

.list_
    list-style: none
    li
        display: flex
        a
            color: #1A3856
            font-size: 18px
            padding: 10px
            text-shadow: 0px 0px 1px #1A3856
        i
            font-size: 25px
            padding: 10px
        .fa-viber
            color: #7B58EA
        .fa-telegram
            color: #269EDA
        
.footer
    top: auto
    right: 0
    left: 0
    z-index: -10
    .footer-list-link
        color: #5C8288

.footer
    .footer-list-link
        &:hover
            color: #1A3856
        
.footer
    .col-sm-5
        button
            background-color: #1A3856
            border-radius: 3px
            &:hover
                background-color: #20466B
    .col-sm-7
        h2
            padding-bottom: 20px
        .list_
            padding-left: 0
        h4
            text-shadow: 0px 0px 1px #1A3856
            

// FEEDBACK

.hidden
    display: none
    text-align: center
    
.formFb
    padding: 20px 20px
    background: rgba(250, 250, 250, .4)
    max-width: 320px
    margin: auto
    position: relative
    text-align: center
    border: 2px solid rgba(47, 100, 154, .8)
    border-radius: 3px
    input
        width: 100%
    .input-name
        margin-top: 35px
        margin-bottom: 20px
    .input-phone
        margin-bottom: 20px
    button
        border-radius: 3px
        padding: 5px 10px
        
        
.btn-disabled
    border: 2px solid rgba(253, 83, 83, .8)
    background: rgba(250, 250, 250, .7)
    &:hover
        cursor: default
    
.btn-enabled
    background: rgba(250, 250, 250, 1)
    border: 2px solid rgba(47, 100, 154, .8)
    &:hover
        cursor: pointer
        
// END FEEDBACK
        
    
        
        
        



        
    
    
    
    

    
    

    
    

        


        


    