/* line 1, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
a {
  font-family: 'Libre Franklin', sans-serif; }
  /* line 3, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
  a:hover {
    text-decoration: none; }

/* line 6, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
p {
  font-family: 'Libre Franklin', sans-serif; }

/* line 9, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
.off {
  pointer-events: none; }

/* line 12, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
.my-header {
  height: 60px;
  z-index: 20;
  padding: 0;
  width: 100%;
  display: flex;
  transition: .3s;
  transform: scaleY(0);
  transform-origin: top; }
  /* line 22, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
  .my-header .logotip img {
    margin-left: 5px; }
  /* line 25, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
  .my-header .name-city p {
    margin: 0;
    font-size: 18px;
    color: #fff;
    text-shadow: 0px 0px 1px #fff; }
  /* line 30, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
  .my-header .name-city div {
    padding-left: 10px; }
    /* line 32, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
    .my-header .name-city div a {
      color: #fff;
      text-shadow: 0px 0px 1px #fff; }
      /* line 35, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
      .my-header .name-city div a:hover {
        color: #F0f0f0;
        text-shadow: 1px 1px 1px #fff; }
  /* line 38, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
  .my-header #hamId {
    height: 50px; }
  /* line 40, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
  .my-header .my-nav-menu {
    background: #fff; }
    /* line 44, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
    .my-header .my-nav-menu ul .name-city p {
      display: none;
      padding-top: 10px; }
    /* line 48, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
    .my-header .my-nav-menu ul li a {
      color: #fff;
      text-shadow: 0px 0px 1px #fff; }
      /* line 51, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
      .my-header .my-nav-menu ul li a:hover {
        color: #F0f0f0;
        text-shadow: 1px 1px 1px #fff; }
    /* line 54, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
    .my-header .my-nav-menu ul .num-tel {
      margin-right: 20px; }
    /* line 56, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
    .my-header .my-nav-menu button {
      border-width: 2px;
      color: #fff;
      margin-right: 5px;
      transition: .3s;
      background-color: #4D257A;
      border: 2px solid #502481;
      background: rgba(80, 36, 129, 0.9);
      border-radius: 5px; }
      /* line 65, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
      .my-header .my-nav-menu button:hover {
        transition: .3s;
        border-color: #D8DACE; }

/* line 71, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
.show-nav-menu {
  transition: .3s;
  transform: scaleY(1);
  transform-origin: top; }

/* line 80, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
.f-scroll {
  background: url("../image/back-first-scroll.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  width: 100%;
  overflow: hidden; }
  /* line 87, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
  .f-scroll a {
    color: #fff; }
  /* line 89, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
  .f-scroll .container-fluid {
    height: 100%;
    padding: 0;
    background-color: rgba(25, 10, 41, 0.3); }
    /* line 93, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
    .f-scroll .container-fluid .row {
      margin: 0;
      width: 100%;
      height: 100%;
      padding-top: 0px; }
      /* line 99, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
      .f-scroll .container-fluid .row .col-lg-3 .angel {
        width: 150px;
        margin-top: 6px; }
      /* line 103, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
      .f-scroll .container-fluid .row .col-lg-3 .n-tels a {
        display: block; }
      /* line 105, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
      .f-scroll .container-fluid .row .col-lg-3 .n-tels p {
        color: #fff;
        font-size: 16px;
        font-weight: 600;
        margin: 0; }
      /* line 110, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
      .f-scroll .container-fluid .row .col-contact-w-us {
        height: 100%; }
        /* line 113, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
        .f-scroll .container-fluid .row .col-contact-w-us div a {
          padding: 7px 15px;
          transition: .3s;
          border: 2px solid rgba(80, 36, 129, 0.9);
          background: rgba(80, 36, 129, 0.8);
          border-radius: 5px; }
          /* line 119, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
          .f-scroll .container-fluid .row .col-contact-w-us div a:hover {
            transition: .3s;
            border-color: #D8DACE; }
      /* line 122, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
      .f-scroll .container-fluid .row .col-lg-12 {
        background: rgba(80, 36, 129, 0.2);
        display: flex;
        align-items: center;
        justify-content: center;
        border-top: 2px solid #fff;
        border-bottom: 2px solid #fff; }
        /* line 129, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
        .f-scroll .container-fluid .row .col-lg-12 ul {
          list-style: none;
          text-align: center;
          margin: 0;
          padding-top: 12px;
          padding-bottom: 12px; }
          /* line 135, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
          .f-scroll .container-fluid .row .col-lg-12 ul li {
            display: inline-block;
            text-align: center; }
            /* line 138, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
            .f-scroll .container-fluid .row .col-lg-12 ul li a {
              padding-left: 15px;
              padding-right: 15px;
              padding-top: 16px;
              padding-bottom: 14px;
              border-left: 1px solid transparent;
              border-right: 1px solid transparent;
              transition: .3s;
              background: transparent; }
              /* line 147, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
              .f-scroll .container-fluid .row .col-lg-12 ul li a:hover {
                transition: .3s;
                background: rgba(80, 36, 255, 0.3);
                border-left: 1px solid #fff;
                border-right: 1px solid #fff; }

/* line 155, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
.f-scroll-2 {
  padding-bottom: 20px;
  height: 68vh;
  overflow: hidden; }
  /* line 162, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
  .f-scroll-2 .container-fluid .row .col-lg-6 h2 {
    font-size: 40px;
    color: #fff;
    text-shadow: 2px 2px 2px #000;
    text-align: center;
    padding-bottom: 10px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 45px;
    box-shadow: 2px 2px 10px 2px #fff;
    border-radius: 3px; }
  /* line 173, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
  .f-scroll-2 .container-fluid .row .col-lg-6 .triggers {
    padding-top: 20px; }
    /* line 176, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
    .f-scroll-2 .container-fluid .row .col-lg-6 .triggers div i {
      margin-top: 4px;
      margin-right: 10px; }
  /* line 180, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
  .f-scroll-2 .container-fluid .row .col-lg-6 .d-monument-img {
    max-width: 450px;
    padding: 10px;
    border-radius: 3px; }

/* line 187, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
.style-p {
  color: #fff;
  font-size: 23px;
  margin-left: 5px;
  text-shadow: 3px 3px 3px #000; }

/* line 193, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
.back-scroll {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: rgba(25, 10, 41, 0.2);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1; }

/* line 207, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
.about-us-title-div {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px; }
  /* line 211, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
  .about-us-title-div h2 {
    text-align: center;
    margin: auto;
    width: 250px;
    border-radius: 3px;
    font-size: 40px;
    font-weight: 1000;
    color: #5f309c;
    text-shadow: 1px 1px 1px #000; }

/* line 221, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
.first-scroll-offer {
  padding-bottom: 20px; }

/* line 225, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
.carousel-centered {
  text-align: left; }
  /* line 227, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
  .carousel-centered .carousel-col {
    padding-bottom: 0px; }

/* line 230, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
.carousel-col-btm {
  text-align: center; }

/* line 241, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
.TwoScroll {
  height: 100vh;
  height: 100%;
  background: rgba(25, 10, 41, 0.6);
  padding-top: 100px;
  padding-bottom: 100px;
  margin: auto; }
  /* line 248, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
  .TwoScroll h1 {
    color: #515769; }
  /* line 250, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
  .TwoScroll .container {
    padding: 0; }

/* line 253, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
.two-scr {
  background-color: #fff;
  padding-bottom: 50px;
  padding-left: 20px;
  padding-right: 20px;
  margin: auto; }

/* line 260, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
.our_work {
  text-align: center;
  max-width: 250px;
  padding: 0;
  padding-bottom: 10px;
  transition: .7s;
  box-shadow: 1px 1px 1px #B1B2B3, 0.5em 0.5em 0.5em #5C5F61; }
  /* line 267, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
  .our_work img {
    height: 280px;
    width: 100%;
    margin-bottom: 10px; }
  /* line 271, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
  .our_work:hover {
    transition: .7s;
    box-shadow: 2px 2px 1px #E4E9ED, 1em 2em 1em #5C5F61; }
  /* line 274, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
  .our_work a {
    color: #4B267A;
    font-weight: 400; }
    /* line 277, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
    .our_work a:hover {
      transition: .7s;
      text-shadow: 1px 1px 1px #2E2E31; }

/* line 281, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
.our-work-title {
  text-align: center; }
  /* line 283, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
  .our-work-title .our-work-title-main {
    font-weight: 1000;
    color: #5f309c;
    text-shadow: 1px 1px 1px #000; }
  /* line 287, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
  .our-work-title hr {
    background-color: rgba(78, 89, 103, 0.2);
    height: 1px; }

/* line 293, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
.font-size30 {
  font-size: 30px; }

/* line 302, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
.about-us {
  padding-top: 50px;
  padding-bottom: 50px;
  min-height: 100vh;
  height: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
  background: rgba(25, 10, 41, 0.1);
  box-shadow: inset 0px 0px 10px 1px #000; }
  /* line 313, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
  .about-us h1 {
    text-align: center;
    font-size: 75px;
    font-weight: 900;
    animation-name: example;
    animation-duration: 5s;
    animation-iteration-count: infinite; }
  /* line 321, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
  .about-us .col-lg-6 .descr-about-us {
    padding-bottom: 30px;
    font-size: 18px; }
    /* line 324, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
    .about-us .col-lg-6 .descr-about-us div {
      text-align: center; }
    /* line 326, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
    .about-us .col-lg-6 .descr-about-us a {
      text-align: center;
      color: #fff;
      padding: 15px 30px;
      font-size: 16px;
      border-radius: 3px;
      transition: .3s;
      background-color: #4D257A;
      border: 2px solid rgba(80, 36, 129, 0.9);
      background: rgba(80, 36, 129, 0.8);
      border-radius: 5px; }
      /* line 337, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
      .about-us .col-lg-6 .descr-about-us a:hover {
        transition: .3s;
        border-color: #D8DACE; }

/* line 348, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
.about-us .container-fluid .row .col-lg-6 {
  display: flex;
  justify-content: center; }
  /* line 351, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
  .about-us .container-fluid .row .col-lg-6 .aus-left-field-img {
    padding: 10px; }
    /* line 353, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
    .about-us .container-fluid .row .col-lg-6 .aus-left-field-img img {
      text-align: center; }

/* line 366, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
.descr-about-us {
  height: 100%;
  display: flex;
  align-items: center; }
  /* line 370, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
  .descr-about-us p {
    text-align: center;
    padding: 10px;
    color: #000;
    font-weight: 300; }

/* line 382, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
.delivery {
  display: flex;
  align-items: center;
  min-height: 100vh;
  background: #fff;
  overflow: hidden;
  background: rgba(25, 10, 41, 0.1);
  box-shadow: inset 0px 0px 10px 1px #000; }
  /* line 393, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
  .delivery .container-fluid .row .col-md-3 .arrow-down {
    transform: rotate(50deg);
    right: 25%; }
    /* line 396, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
    .delivery .container-fluid .row .col-md-3 .arrow-down i {
      color: #4B267A;
      text-shadow: 1px 1px 1px #000;
      font-size: 30px; }
  /* line 400, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
  .delivery .container-fluid .row .col-md-3 p {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    color: #000;
    text-transform: uppercase; }
  /* line 406, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
  .delivery .container-fluid .row .col_ {
    padding-top: 40px; }
    /* line 408, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
    .delivery .container-fluid .row .col_ p {
      width: 200px;
      margin-left: auto;
      margin-right: auto;
      color: #000;
      text-transform: uppercase;
      padding-top: 20px; }
    /* line 415, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
    .delivery .container-fluid .row .col_ .arrow-up {
      transform: rotate(-50deg);
      top: 0; }
      /* line 418, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
      .delivery .container-fluid .row .col_ .arrow-up i {
        font-size: 30px;
        color: #4B267A;
        text-shadow: 1px 1px 1px #000; }
    /* line 422, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
    .delivery .container-fluid .row .col_ .arrow-up-1 {
      right: 10%; }
    /* line 424, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
    .delivery .container-fluid .row .col_ .arrow-up-2 {
      right: 30%; }
    /* line 426, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
    .delivery .container-fluid .row .col_ .arrow-up-3 {
      right: 0; }
  /* line 429, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
  .delivery .container-fluid .row .col-md-12 div {
    padding-bottom: 50px; }
    /* line 431, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
    .delivery .container-fluid .row .col-md-12 div h2 {
      font-size: 40px;
      padding-bottom: 20px;
      font-weight: 1000;
      color: #5f309c;
      text-shadow: 1px 1px 1px #000; }
  /* line 437, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
  .delivery .container-fluid .row .col-md-12 .d-cont-us {
    padding-top: 30px; }
    /* line 439, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
    .delivery .container-fluid .row .col-md-12 .d-cont-us a {
      color: #fff;
      padding: 15px 30px;
      font-size: 16px;
      border-radius: 3px;
      transition: .3s;
      background-color: #4D257A;
      border: 2px solid rgba(80, 36, 129, 0.9);
      background: rgba(80, 36, 129, 0.8);
      border-radius: 5px; }
      /* line 449, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
      .delivery .container-fluid .row .col-md-12 .d-cont-us a:hover {
        transition: .3s;
        border-color: #D8DACE; }

/* line 459, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
.my-advantages {
  min-height: 100vh;
  display: flex;
  align-items: center;
  overflow: hidden;
  padding-bottom: 700px; }
  /* line 467, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
  .my-advantages .container-fluid .row .col {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0; }
    /* line 472, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
    .my-advantages .container-fluid .row .col .logotip {
      z-index: 9; }
      /* line 474, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
      .my-advantages .container-fluid .row .col .logotip img .my-advantages {
        z-index: -1000; }
    /* line 476, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
    .my-advantages .container-fluid .row .col div {
      z-index: 10;
      padding-top: 10px;
      padding-bottom: 10px;
      width: 100%;
      text-align: center; }
      /* line 482, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
      .my-advantages .container-fluid .row .col div p {
        text-align: center;
        margin: 0;
        padding-top: 5px;
        padding-bottom: 50px;
        color: #fff;
        font-size: 25px;
        font-family: Pompadur;
        text-shadow: 3px 5px 1px #000; }
      /* line 491, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
      .my-advantages .container-fluid .row .col div h1 {
        color: #fff;
        font-weight: 1000;
        text-shadow: 3px 5px 1px #000;
        padding: 50px; }

/* line 499, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
.advantages-desc {
  overflow: hidden; }

/* line 507, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
.reviews {
  min-height: 100vh;
  padding-top: 30px;
  padding-bottom: 30px; }
  /* line 515, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
  .reviews .container-fluid .row .col-md-12 div h1 {
    font-size: 40px;
    padding-bottom: 20px;
    font-weight: 1000;
    color: #5f309c;
    text-shadow: 1px 1px 1px #000; }
  /* line 521, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
  .reviews .container-fluid .row .col-md-12 div hr {
    background: rgba(47, 0, 47, 0.7);
    box-shadow: 0px 2px 1px 0px rgba(47, 0, 47, 0.7); }
  /* line 525, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
  .reviews .container-fluid .row .col-md-3 div {
    padding-top: 10px;
    padding-bottom: 10px; }
    /* line 529, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
    .reviews .container-fluid .row .col-md-3 div p {
      margin: 0; }

/* line 535, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
.advantages {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  padding: 30px 0;
  background: rgba(47, 0, 47, 0.7);
  color: #fff;
  overflow: hidden; }
  /* line 543, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
  .advantages h2 {
    text-transform: uppercase;
    background: rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.3);
    padding: 10px 0; }
  /* line 548, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
  .advantages .col-auto {
    border: 1px solid #ffffff;
    padding: 20px 40px;
    margin: 10px;
    box-shadow: 5px 5px 2px 0px black;
    background: rgba(47, 0, 47, 0.4); }
  /* line 555, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
  .advantages__wrap i {
    margin-left: auto !important;
    margin-right: auto !important;
    width: 110px;
    height: 110px;
    font-size: 50px;
    border: 2px solid #fff;
    padding: 15px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0px 0px 10px 1px white; }
  /* line 568, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
  .advantages__wrap p {
    font-size: 20px;
    width: 150px;
    text-align: center;
    padding-top: 20px; }

/* line 576, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
.my-reviews-section {
  background: rgba(25, 10, 41, 0.1);
  box-shadow: inset 0px 0px 10px 1px #000;
  padding-top: 30px;
  padding-bottom: 15px; }
  /* line 584, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
  .my-reviews-section .container-fluid .row .col-md-12 h2 {
    font-size: 40px;
    font-weight: 1000;
    color: #5f309c;
    text-shadow: 1px 1px 1px #000; }
  /* line 589, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
  .my-reviews-section .container-fluid .row .col-md-12 .my-reviews {
    padding-top: 15px;
    padding-bottom: 15px; }
    /* line 592, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
    .my-reviews-section .container-fluid .row .col-md-12 .my-reviews .d-rev {
      border: 2px solid #5f309c;
      border-radius: 3px;
      padding: 10px;
      margin-left: 10px;
      margin-right: 10px;
      background: rgba(47, 0, 47, 0.15); }
      /* line 599, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
      .my-reviews-section .container-fluid .row .col-md-12 .my-reviews .d-rev p {
        color: #000;
        font-weight: 400;
        text-shadow: 0px 0px 1px #000; }
      /* line 603, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
      .my-reviews-section .container-fluid .row .col-md-12 .my-reviews .d-rev img {
        border: 3px solid #5f309c;
        border-radius: 100px; }

/* line 608, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
.b-slick-prev {
  left: 5px;
  z-index: 2; }

/* line 612, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
.b-slick-next {
  right: 5px; }

/* line 615, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
.b-slick-style {
  font-size: 30px;
  background-color: transparent;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  transform: translateY(-50%);
  cursor: pointer;
  border: none; }
  /* line 625, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
  .b-slick-style i {
    color: #470047; }

/* line 630, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
.list_ {
  list-style: none; }
  /* line 632, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
  .list_ li {
    display: flex; }
    /* line 634, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
    .list_ li a {
      color: #470047;
      font-size: 18px;
      padding: 10px;
      text-shadow: 0px 0px 1px #470047; }
    /* line 639, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
    .list_ li i {
      font-size: 25px;
      padding: 10px; }
    /* line 642, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
    .list_ li .fa-viber {
      color: #7B58EA; }
    /* line 644, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
    .list_ li .fa-telegram {
      color: #269EDA; }

/* line 647, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
.footer {
  top: auto;
  right: 0;
  left: 0;
  z-index: -10; }
  /* line 652, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
  .footer .footer-list-link {
    color: #5C8288; }

/* line 657, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
.footer .footer-list-link:hover {
  color: #472047; }

/* line 662, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
.footer .col-md-5 h2 {
  text-shadow: 0px 0px 1px #470047; }

/* line 664, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
.footer .col-md-5 button {
  color: #fff;
  padding: 15px 30px;
  font-size: 16px;
  border-radius: 3px;
  transition: .3s;
  background-color: #4D257A;
  border: 2px solid rgba(80, 36, 129, 0.9);
  background: rgba(80, 36, 129, 0.8);
  border-radius: 5px; }
  /* line 674, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
  .footer .col-md-5 button:hover {
    transition: .3s;
    border-color: #D8DACE; }

/* line 682, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
.footer .col-md-7 .row .col-md-6 div a i {
  font-size: 30px;
  padding-left: 20px;
  color: rgba(80, 36, 129, 0.8); }
  /* line 686, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
  .footer .col-md-7 .row .col-md-6 div a i:hover {
    color: rgba(80, 36, 129, 0.7); }

/* line 689, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
.footer .col-md-7 .photo-mag img {
  width: 200px;
  height: 150px;
  border: 1px solid rgba(80, 36, 129, 0.8); }

/* line 694, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
.footer .col-md-7 div .list_ {
  padding-left: 0; }

/* line 696, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
.footer .col-md-7 div h4 {
  color: #470047;
  text-shadow: 0px 0px 1px #000; }

/* line 699, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
.footer .col-md-7 div h2 {
  text-shadow: 0px 0px 1px #470047; }

/* line 705, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
.hidden {
  display: none;
  text-align: center; }

/* line 709, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
.formFb {
  padding: 20px 20px;
  background: rgba(250, 250, 250, 0.4);
  max-width: 320px;
  margin: auto;
  position: relative;
  text-align: center;
  border: 2px solid rgba(80, 36, 129, 0.8);
  border-radius: 3px; }
  /* line 718, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
  .formFb input {
    width: 100%; }
  /* line 720, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
  .formFb .input-name {
    margin-top: 35px;
    margin-bottom: 20px; }
  /* line 723, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
  .formFb .input-phone {
    margin-bottom: 20px; }
  /* line 725, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
  .formFb button {
    border-radius: 3px;
    padding: 5px 10px; }

/* line 730, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
.btn-disabled {
  border: 2px solid rgba(253, 83, 83, 0.8);
  background: rgba(250, 250, 250, 0.7); }
  /* line 733, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
  .btn-disabled:hover {
    cursor: default; }

/* line 736, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
.btn-enabled {
  background: #fafafa;
  border: 2px solid rgba(80, 36, 129, 0.8); }
  /* line 739, C:/Users/Rodion/Desktop/web/Monuments/style/myStyle.sass */
  .btn-enabled:hover {
    cursor: pointer; }

/*# sourceMappingURL=myStyle.css.map */
