body {
  background: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 16px;
  color: #111;
  margin: 0;
  padding: 0;
  position: relative;
  line-height: 1.6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body a {
  text-decoration: none;
  color: #111;
}

body a:hover {
  text-decoration: none;
  color: #111;
}

button {
  outline: none;
}

button:focus {
  outline: none;
}

.hidden {
  display: none;
}

img {
  max-width: 100%;
  height: auto;
}

section {
  padding: 50px 0;
  overflow: hidden;
}

.done {
  min-height: 100vh;
}

.row-eq-height {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

/* --- Navbar START ------------------------------------------------*/
.navbar {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background: rgba(255, 255, 255, 0);
}

.navbar .navbar-brand {
  padding: 0;
}

.navbar img {
  width: 40px;
  margin: 0;
  padding: 0;
}

.navbar .anim {
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
}

.navbar .anim span {
  color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform-origin: left;
          transform-origin: left;
}

.navbar .anim:before {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-bottom: 2px solid #71ac3c;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.navbar .anim:hover span {
  color: #71ac3c;
}

.navbar .anim:hover:before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.navbar p {
  font-size: 24px;
  text-shadow: 0px 0px 20px #fff;
  color: #fff;
  margin: 0;
  padding-right: 10px;
  display: inline-block;
}

.navbar .navbar-toggler-icon {
  background: url("../img/burger-light.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 2em;
  height: 2em;
}

.navbar .navbar-toggler-icon:focus {
  outline: none;
}

.navbar .navbar-toggler {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.navbar .navbar-toggler:focus {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  outline: none;
  border: 1px solid #fff;
}

.active {
  position: relative;
  overflow: hidden;
}

.active span {
  color: #71ac3c !important;
}

.active:before {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-bottom: 2px solid #111;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-animation: animate 7s linear infinite;
          animation: animate 7s linear infinite;
}

@-webkit-keyframes animate {
  0% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  50% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  51% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  100% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
}

@keyframes animate {
  0% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  50% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  51% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  100% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
}

.fixed-nav {
  background: rgba(255, 255, 255, 0.9);
  color: #55595c;
  padding: .4rem .4rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.5);
}

.fixed-nav .anim span {
  color: #111;
}

.fixed-nav p {
  color: #111;
}

.fixed-nav .navbar-toggler-icon {
  background: url("../img/burger-black.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 2em;
  height: 2em;
}

.fixed-nav .navbar-toggler-icon:focus {
  outline: none;
}

.fixed-nav .navbar-toggler {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.fixed-nav .navbar-toggler:focus {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  outline: none;
  border: 1px solid #111;
}

.navbar-nav {
  text-align: center;
}

/* --- Navbar END ------------------------------------------------*/
/* --- Header start------------------------------------------------*/
.bgMain {
  background: url("../img/headBg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.domhoz {
  background: url("../img/domhoz.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.headerCont {
  min-height: 100vh;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.headerCont .headCont .headWrap {
  -webkit-box-shadow: 0px 2px 3px 0px #222;
          box-shadow: 0px 2px 3px 0px #222;
  padding: 10px;
  display: inline-block;
  background: rgba(255, 255, 255, 0.8);
}

.headerCont .headCont .headWrap ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.headerCont .headCont .headWrap ul li {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
}

.headerCont .buttonCont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

/* --- Header END ------------------------------------------------*/
/* --- About Start ------------------------------------------------*/
.about {
  text-align: center;
  background: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(50%, #71ac3c), to(white));
  background: linear-gradient(180deg, white 0%, #71ac3c 50%, white 100%);
}

.about hr {
  width: 60%;
  border: 1px solid #111;
}

.about .cloudCont {
  height: 100%;
}

.about .cloudCont p {
  margin-bottom: 20px;
  font-size: 20px;
}

.about .cloudCont .cloudWrap {
  -webkit-box-shadow: 0px 2px 3px 0px #222;
          box-shadow: 0px 2px 3px 0px #222;
  background: #fff;
  padding: 20px;
  padding-bottom: 0px;
  height: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
  border-radius: 15px;
  position: relative;
  border: 1px solid #111;
}

.about .cloudCont .cloudWrap:after {
  position: absolute;
  content: '';
  bottom: -20px;
  left: 60px;
  width: 40px;
  height: 40px;
  -webkit-transform: rotate(92deg) skewX(45deg);
          transform: rotate(92deg) skewX(45deg);
  background: #fff;
  border-bottom: 1px solid #111;
  border-right: 1px solid #111;
  border-radius: 0 0 5px 0;
}

.about .cloudCont .cloudHead {
  -webkit-box-shadow: 0px 2px 3px 0px #222;
          box-shadow: 0px 2px 3px 0px #222;
  border: 1px solid #111;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 15px;
  background: #fff;
  height: 25%;
  padding: 20px;
}

.about .cloudCont .cloudHead p {
  margin: 0;
}

.about .imgTxtCont {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 0px 2px 3px 0px #222;
          box-shadow: 0px 2px 3px 0px #222;
  margin-bottom: 30px;
}

.about .imgTxtCont p {
  margin: 0;
  font-size: 20px;
}

.about .leftBg {
  background: url("../img/about01.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100%;
}

.about .leftBg h4, .about .leftBg p {
  width: 100%;
  color: #fff;
  background: rgba(17, 17, 17, 0.9);
  padding: 5px;
}

.about .rightBg {
  background: url("../img/about02.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100%;
}

.about .rightBg h4, .about .rightBg p {
  width: 100%;
  background: rgba(255, 255, 255, 0.9);
  padding: 5px;
}

.about .mainBtn {
  background: #71ac3c;
  color: #fff;
  border: 2px solid #fff;
  padding: 10px 20px;
}

.about .mainBtn:hover {
  background: #fff;
  color: #111;
  border: 2px solid #71ac3c;
}

/* --- About END ------------------------------------------------*/
/* --- whay Start ------------------------------------------------*/
.whay {
  text-align: center;
}

.whay hr {
  width: 60%;
  border: 1px solid #111;
}

.whay .txtWrap {
  padding: 10px;
}

.whay .timerCont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.whay .timerCont .heaserWrap {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 5px;
}

.whay .timerCont .timerWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

.whay .timerCont .timerWrap .wrapBord .wrap {
  display: inline-block;
  padding-right: 20px;
}

.whay .timerCont .timerWrap .wrapBord .wrap span {
  color: #71ac3c;
  font-size: 22px;
  font-weight: bold;
}

.whay .timerCont .timerWrap .wrapBord .wrap .smalltext {
  font-style: italic;
}

.whay .mainBtn {
  background: #71ac3c;
  color: #fff;
  border: 2px solid #fff;
  padding: 10px 20px;
}

.whay .mainBtn:hover {
  background: #fff;
  color: #111;
  border: 2px solid #71ac3c;
}

/* --- whay END ------------------------------------------------*/
/* --- ProductAll Start ------------------------------------------------*/
.prod {
  text-align: center;
  background: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(50%, #71ac3c), to(white));
  background: linear-gradient(180deg, white 0%, #71ac3c 50%, white 100%);
}

.prod hr {
  width: 60%;
  border: 1px solid #111;
}

.prod .prodCont {
  -webkit-box-shadow: 0px 2px 3px 0px #222;
          box-shadow: 0px 2px 3px 0px #222;
}

.prod .prodCont .imgCont {
  position: relative;
}

.prod .prodCont .imgCont img {
  width: 100%;
}

.prod .prodCont .imgCont .logoCont {
  position: absolute;
  right: 0;
  top: 5%;
  width: 80%;
}

.prod .prodCont .imgCont .txtCont {
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.9);
  padding: 10px;
}

.prod .logoSlider {
  background: #fff;
  margin-bottom: 25px;
  border: 2px solid #71ac3c;
}

.prod .logoSlider .logosliderWrap img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.prod .mainBtn {
  background: #71ac3c;
  color: #fff;
  border: 2px solid #fff;
  padding: 10px 20px;
}

.prod .mainBtn:hover {
  background: #fff;
  color: #111;
  border: 2px solid #71ac3c;
}

.prod .invCont {
  -webkit-box-shadow: 0px 2px 3px 0px #222;
          box-shadow: 0px 2px 3px 0px #222;
  border: 2px solid #111;
  background: #fff;
  padding: 5px;
  padding-bottom: 10px;
}

.prod .invCont .imgWrap {
  background: #fff;
  padding-bottom: 20px;
}

.prod .invCont .txtWrap {
  background: #fff;
}

.prod .invCont .txtWrap h4 {
  margin-bottom: 0;
}

.prod .invCont .txtWrap hr {
  margin-top: 0;
}

.prod .logoContInv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.prod .logoContInv .logowrap {
  padding: 10px;
}

/* --- ProductAll END ------------------------------------------------*/
/* --- ses Start ------------------------------------------------*/
.ses {
  padding-top: 10px;
  text-align: center;
}

.ses hr {
  margin-bottom: 30px;
  width: 60%;
  border: 1px solid #111;
}

.ses .sesCont {
  border: 1px solid #111;
  padding: 25px 5px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ses .sesCont .txtWrap h4 {
  text-transform: uppercase;
}

.ses .mainBtn {
  background: #71ac3c;
  color: #fff;
  border: 2px solid #fff;
  padding: 10px 20px;
}

.ses .mainBtn:hover {
  background: #fff;
  color: #111;
  border: 2px solid #71ac3c;
}

/* --- ses END ------------------------------------------------*/
/* --- credit START ------------------------------------------------*/
.credit {
  text-align: center;
  background: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(50%, #71ac3c), to(white));
  background: linear-gradient(180deg, white 0%, #71ac3c 50%, white 100%);
}

.credit hr {
  margin-bottom: 30px;
  width: 60%;
  border: 1px solid #111;
}

.credit .mainBtn {
  background: #71ac3c;
  color: #fff;
  border: 2px solid #fff;
  padding: 10px 20px;
}

.credit .mainBtn:hover {
  background: #fff;
  color: #111;
  border: 2px solid #71ac3c;
}

.credit .txtCont .txtWrap h4 {
  text-transform: uppercase;
}

.credit .txtCont .txtWrap ul {
  text-align: left;
  display: inline-block;
}

.credit .steps h3 {
  text-decoration: underline;
}

.credit .steps .stepsCont {
  position: relative;
}

.credit .steps .stepsCont .okWrap {
  z-index: 22;
  position: absolute;
  top: 0;
  left: 6px;
  border: 1px solid #111;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
}

.credit .steps .stepsCont .okWrap:after {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  bottom: -16px;
  right: -2px;
  background: none;
  border: 8px solid transparent;
  border-left: 8px solid #111;
  border-top: 8px solid #111;
}

.credit .steps .stepsCont .okWrap i {
  color: #71ac3c;
  font-size: 30px;
}

.credit .steps .stepsCont .mainWrap {
  background: -webkit-gradient(linear, left top, right top, from(#add689), color-stop(40%, white));
  background: linear-gradient(90deg, #add689 0%, white 40%);
  margin-left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #111;
  padding: 5px;
  text-align: left;
  padding-left: 25px;
  position: relative;
  margin-bottom: 15px;
}

.credit .steps .stepsCont .mainWrap .txtWrap h4 {
  margin-bottom: 5px;
  font-size: 1.3rem;
  font-weight: bold;
}

.credit .steps .stepsCont .mainWrap .txtWrap p {
  font-style: italic;
  line-height: 1.2rem;
  margin: 0;
}

.credit .steps .stepsCont .mainWrap .iconWrap i {
  font-size: 30px;
  color: #71ac3c;
}

.credit .steps .stepsCont .arrow {
  position: relative;
}

.credit .steps .stepsCont .arrow:after {
  content: '';
  position: absolute;
  bottom: -60px;
  right: 30px;
  width: 30px;
  height: 30px;
  border: 30px solid transparent;
  border-top: 30px solid #fff;
}

.credit .steps .stepsCont .arrow:before {
  content: '';
  position: absolute;
  bottom: -22px;
  right: 39px;
  width: 42px;
  height: 42px;
  border-left: 1px solid #111;
  border-bottom: 1px solid #111;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.credit .steps .stepsCont .arrowLeft {
  position: relative;
}

.credit .steps .stepsCont .arrowLeft:after {
  content: '';
  position: absolute;
  bottom: -60px;
  left: 30px;
  width: 30px;
  height: 30px;
  border: 30px solid transparent;
  border-top: 30px solid #fff;
}

.credit .steps .stepsCont .arrowLeft:before {
  content: '';
  position: absolute;
  bottom: -22px;
  left: 39px;
  width: 42px;
  height: 42px;
  border-left: 1px solid #111;
  border-bottom: 1px solid #111;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.credit .steps .stepsCont .bgstepsLeft {
  background: -webkit-gradient(linear, left top, right top, color-stop(60%, white), to(#add689));
  background: linear-gradient(90deg, white 60%, #add689 100%);
}

.credit .steps .stepsCont .stersLeft {
  margin-left: 5px;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #111;
  padding: 5px;
  text-align: left;
  position: relative;
  margin-bottom: 15px;
}

.credit .steps .stepsCont .stersLeft .iconWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.credit .steps .stepsCont .stersLeft .iconWrap h4 {
  font-weight: bold;
  font-size: 1.1rem;
  color: #111;
  margin-bottom: 0;
}

.credit .steps .stepsCont .stersLeft .iconWrap i {
  margin-left: 5px;
  margin-right: 5px;
  color: #111;
}

.credit .z7 {
  z-index: 7;
}

.credit .z6 {
  z-index: 6;
}

.credit .z5 {
  z-index: 5;
}

.credit .z4 {
  z-index: 4;
}

.credit .z3 {
  z-index: 3;
}

.credit .z2 {
  z-index: 2;
}

.credit .z1 {
  z-index: 1;
}

/* --- action END ------------------------------------------------*/
/* --- advantage Start ------------------------------------------------*/
/* --- advantage END ------------------------------------------------*/
/* --- reviews Start ------------------------------------------------*/
/* --- reviews END ------------------------------------------------*/
/* --- contacts Start ------------------------------------------------*/
.contacts {
  text-align: center;
}

.contacts .textCont {
  text-align: left;
  display: inline-block;
}

.contacts .textCont a {
  display: block;
}

.contacts .textCont a i {
  color: #71ac3c;
  font-size: 18px;
  margin-right: 5px;
}

.contacts .textCont .fbinst {
  font-size: 30px;
}

.contacts .formSteps {
  text-align: center;
}

.contacts .formSteps .mainBtn {
  background: #71ac3c;
  color: #fff;
  border: 2px solid #fff;
  padding: 10px 20px;
}

.contacts .formSteps .mainBtn:hover {
  background: #fff;
  color: #111;
  border: 2px solid #71ac3c;
}

/* --- contacts END ------------------------------------------------*/
/* --- Button Start ------------------------------------------------*/
.mainBtn {
  background: rgba(255, 255, 255, 0.9);
  text-transform: uppercase;
  padding: 10px 10px;
  border-radius: 15px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: 2px solid rgba(255, 255, 255, 0.9);
}

.mainBtn:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: 2px solid #71ac3c;
  background: #71ac3c;
  color: #fff;
}

/* --- Button END ------------------------------------------------*/
/* --- Form START ------------------------------------------------*/
.formSteps {
  padding: 10px 10px;
}

.formSteps h4 {
  border: 1px solid #111;
  padding: 10px;
  background: #FFD500;
}

.formSteps input {
  font-size: 20px;
  padding: 10px 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 10px;
}

/* --- Form END ------------------------------------------------*/
/* --- DOM START!!!!!!!!!!!!!!!!!! ------------------------------------------------*/
/* --- what START ------------------------------------------------*/
.what {
  text-align: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#add689), color-stop(40%, white));
  background: linear-gradient(180deg, #add689 0%, white 40%);
}

.what hr {
  margin-bottom: 30px;
  width: 60%;
  border: 1px solid #111;
}

.what .mainBtn {
  background: #71ac3c;
  color: #fff;
  border: 2px solid #fff;
  padding: 10px 20px;
}

.what .mainBtn:hover {
  background: #fff;
  color: #111;
  border: 2px solid #71ac3c;
}

.what .whatCont {
  border: 1px solid #111;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  height: 100%;
  background: rgba(255, 255, 255, 0.4);
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.what .whatCont:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background: #71ac3c;
}

.what .whatCont:hover .arrowWrap i {
  -webkit-transition: 1s;
  transition: 1s;
  color: #fff;
}

.what .whatCont .whatTxt {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 10px;
  width: 50%;
}

.what .whatCont .whatTxt p {
  margin: 0;
  padding: 0;
  line-height: 1.2rem;
}

.what .whatCont .arrowWrap {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 5px;
  width: 10%;
}

.what .whatCont .arrowWrap i {
  -webkit-transition: 1s;
  transition: 1s;
  color: #71ac3c;
  font-size: 30px;
}

.what .whatCont .whatImg {
  width: 45%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border-right: 1px solid #111;
}

/* --- what END ------------------------------------------------*/
/* --- prodReady Start ------------------------------------------------*/
.prodReady {
  text-align: center;
  background: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(50%, #71ac3c), to(white));
  background: linear-gradient(180deg, white 0%, #71ac3c 50%, white 100%);
}

.prodReady hr {
  margin-bottom: 30px;
  width: 60%;
  border: 1px solid #111;
}

.prodReady .mainBtn {
  background: #71ac3c;
  color: #fff;
  border: 2px solid #fff;
  padding: 10px 20px;
}

.prodReady .mainBtn:hover {
  background: #fff;
  color: #111;
  border: 2px solid #71ac3c;
}

.prodReady .prodReadyCont {
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  background: #fff;
  padding-bottom: 25px;
}

.prodReady .prodReadyCont .txtWrap {
  padding: 10px;
}

.prodReady .prodReadyCont .txtWrap p {
  margin: 0;
  padding: 0;
  font-weight: bold;
  text-transform: uppercase;
}

.prodReady .prodReadyCont .imgWrap {
  margin-bottom: 20px;
  position: relative;
}

.prodReady .prodReadyCont .imgWrap:hover .overlay, .prodReady .prodReadyCont .imgWrap:hover .moreBtn {
  opacity: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.prodReady .prodReadyCont .imgWrap .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(17, 17, 17, 0.4);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
}

.prodReady .prodReadyCont .imgWrap .moreBtn {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
}

.prodReady .calcOrder {
  margin-bottom: 30px;
  padding: 10px 10px;
  margin-top: 30px;
  background: url("../img/calcorder.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.prodReady .calcOrder .txtWrap {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  border: 1px solid #111;
  padding: 10px;
  background: rgba(255, 255, 255, 0.8);
}

.prodReady .calcOrder .formWrap {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.prodReady .calcOrder .mainBtn {
  min-width: 260px;
}

/* --- prodReady END ------------------------------------------------*/
/*# sourceMappingURL=main.css.map */