.about
  padding-bottom: 0
  &__title
    text-align: center
    margin-bottom: 20px
    h3
      font-weight: bold
      color: $main_rgb
      font-size: 36px
      letter-spacing: 0.13em
  &__content
    display: flex
    justify-content: center
    align-items: center
    &-left
      flex-basis: 40%
    &-right
      flex-basis: 60%
      position: relative
      &-wrap
        position: absolute
        top: 50%
        right: -50%
        width: 60%
        transform: translateY(-50%)
        background: rgba($main_white, .9)
        padding: 50px
        &-text
          padding-left: 50px
          margin-bottom: 20px
          h5
            padding: 0
            margin: 0
          p
            padding: 0
            margin: 0
      img
        width: 100%
      &-descr
        position: absolute
        bottom: 0
        right: -100px
        background: $main_rgb
        padding: 20px 40px
        p
          margin: 0
          padding: 0
          color: $main_white
  @media(max-width: 1480px)
    &__content
      &-right
        &-wrap
          width: 100%
  @media(max-width: 1250px)
    &__content
      &-right
        flex-basis: 70%
        &-wrap
          right: -260px
      &-left
        flex-basis: 30%
  @media(max-width: 992px)
    padding-top: 20px
    &__title
      h3
        font-size: 24px
    &__content
      &-right
        flex-basis: 100%
        &-wrap
          position: relative
          left: 0
          top: 0
          transform: translate(0,0)
          padding: 5px
          &-text
            padding: 5px
            h5
              text-align: center
        &-descr
          position: relative
          left: 0 
          padding: 10px
      &-left
        flex-basis: 0