/* --- button start Start ------------------------------------------------*/
.mainBtnD
	cursor: pointer
	display: block
	width: 200px
	max-width: 100%
	padding: 10px
	font-size: 16px
	color: $main_white
	background: #F3F3F3
	text-align: center
	transition: .3s
	border: 1px dashed $main_bg
	color: $main_color
	margin: 5px
	transition: .3s
	&:hover
		transition: .3s
		border: 1px solid $main_bg

.mainBtn
	cursor: pointer
	display: block
	margin-left: auto
	margin-right: auto
	max-width: 100%
	padding: 10px
	font-size: 16px
	color: $main_white
	text-align: center
	transition: .3s
	color: $main_rgb
	margin: 5px
	transition: .3s
	position: relative
	border: 1px solid $main_rgb
	background: none
	font-weight: bold
	&:hover
		transition: .3s
		color: $main_rgbL
		border: 1px solid $main_rgbL
/* --- button start end ------------------------------------------------*/