*
	box-sizing: border-box	
body
	background: $main_white
	font-family: 'MontserratRegular', sans-serif
	font-weight: normal
	font-size: 16px
	color: $main_color
	margin: 0
	padding: 0
	position: relative
	line-height: 1.6
	a
		text-decoration: none
		color: $main_color
		&:hover
			text-decoration: none
			color: $main_color
button
	outline: none
	&:focus
		outline: none
.hidden
	display: none

section
	padding: 50px 0
	overflow: hidden

.done
	min-height: 100vh




/* --- slick style Start ------------------------------------------------*/
.slick-prev
	bottom: -28px
	left: 30%
	top: inherit
	z-index: 99
	transition: .3s
	&:before
		content: ''
	svg
		color: $main_color
		font-size: 30px
		transition: .3s
	&:hover
		svg
			color: $main_rgb
.slick-next
	bottom: -28px
	right: 30%
	top: inherit
	z-index: 99
	transition: .3s
	&:before
		content: ''
	svg
		color: $main_color
		font-size: 30px
		transition: .3s
	&:hover
		svg
			color: $main_rgb
.slick-dots
	li
		button
			&:before
				font-size: 15px
	.slick-active	
		button
			&:before
				color: $main_rgb !important
/* --- slick style end ------------------------------------------------*/	