$main_color: #111
$main_color_light: #999
$main_white: #fff
$main_rgb: #ff4c3b
$main_bg: #e6e6e6
$main_bg_light: #f8f8f8


body
	background: $main_white
	font-family: 'Roboto', sans-serif
	font-weight: normal
	font-size: 16px
	color: $main_color
	margin: 0
	padding: 0
	position: relative
	line-height: 1.6
	box-sizing: border-box
	a
		text-decoration: none
		color: $main_color
		&:hover
			text-decoration: none
			color: $main_color
button
	outline: none
	&:focus
		outline: none
.hidden
	display: none

section
	padding: 50px 0
	overflow: hidden
.done
	min-height: 100vh
.row-eq-height
	display: flex
	flex-wrap: wrap


/* --- Navbar START ------------------------------------------------*/
.navbar
	transition: 0.5s
	background: $main_bg_light
	box-shadow: 0 0 8px #ddd
	.navbar-brand
		padding: 0
	img
		width: 40px
		margin: 0
		padding: 0
	.anim
		text-transform: uppercase
		position: relative
		overflow: hidden
		span
			font-weight: 800
			color: $main_color
			transition: 0.5s
			transform-origin: left
		&:before
			transition: 0.5s
			position: absolute
			content: ''
			top: 0
			left: 0
			width: 100%
			height: 100%
			border-bottom: 2px solid $main_rgb
			transform-origin: right
			transform: scaleX(0)
		&:hover
			span
				color: $main_rgb
			&:before
				transform: scaleX(1)
	p
		font-size: 24px
		color: $main_rgb
		margin: 0
		padding-right: 10px
		display: inline-block
	.navbar-toggler-icon
		background: url('../img/burger-light.png')
		background-size: 100% 100%
		background-repeat: no-repeat
		width: 2em
		height: 2em
		&:focus
			outline: none
	.navbar-toggler
		transition: 0.3s
		&:focus
			transition: 0.3s
			outline: none
			border: 1px solid #fff
	.dropdown
		a
			&:after
				color: $main_color
			span
				font-weight: 800
				text-transform: uppercase
				color: $main_color
.active
	position: relative
	overflow: hidden
	span
		color: $main_rgb !important
	&:before
		transition: 0.5s
		position: absolute
		content: ''
		top: 0
		left: 0
		width: 100%
		height: 100%
		border-bottom: 2px solid $main_color
		transform-origin: right
		transform: scaleX(0)
		animation: animate 7s linear infinite
@keyframes animate 
	0%
		transform-origin: right
		transform: scaleX(0)
	50%
		transform-origin: right
		transform: scaleX(1)
	51%
		transform-origin: right
		transform: scaleX(1)
	100%
		transform-origin: right
		transform: scaleX(0)
.fixed-nav
	.anim
		span
			color: $main_color
	p
		color: $main_color
	background: $main_bg_light
	box-shadow: 0 0 8px #ddd
	color: $main_color_light	
	padding: .4rem .4rem
	transition: 0.5s
	.navbar-toggler-icon
		background: url('../img/burger-black.png')
		background-size: 100% 100%
		background-repeat: no-repeat
		width: 2em
		height: 2em
		&:focus
			outline: none
	.navbar-toggler
		transition: 0.3s
		&:focus
			transition: 0.3s
			outline: none
			border: 1px solid $main_color
.navbar-nav
	text-align: center
	
/* --- Navbar END ------------------------------------------------*/



/* --- Header start------------------------------------------------*/	
.firstScroll
	padding-bottom: 90px
	background: url('../img/mainBg.jpg')
	background-position: center center
	background-repeat: no-repeat
	background-size: cover
	min-height: 90vh
	display: flex
	justify-content: center
	align-items: center
	flex-direction: column
	.titleCont
		border: 5px solid $main_white
		margin: 5px
		box-shadow: 0px 0px 5px 0px rgba(0,0,0,.4)
		color: $main_white
		padding: 20px 10px
		background: rgba($main_white, .5)
		margin-bottom: 30px
		h1, h2
			font-weight: 700
			text-shadow: 2px 2px 2px #222
			text-align: center
			text-transform: uppercase
			font-weight: bold
			margin: 0
			padding: 0
		h1
			font-size: 3rem
		h2
			font-size: 2.5rem
		hr
			box-shadow: 0px 0px 5px 0px rgba(0,0,0,.4)
			background-color: $main_white
			border: 2px solid $main_white
			width: 60%
	.triggerCont
		width: 100%
		display: block
		ul
			padding: 0
			flex-wrap: wrap
			display: flex
			width: 100%
			justify-content: space-around
			align-items: center
			li
				text-align: center
				transition: .3s
				position: relative
				border: 5px solid $main_white
				font-weight: bold
				text-transform: uppercase
				font-size: 20px
				padding: 10px
				margin: 5px
				background: rgba($main_white, .7)
				box-shadow: 0px 0px 5px 0px rgba(0,0,0,.6)
				color: $main_color
				list-style: none
				&:hover
					transition: .3s
					background: $main_white
					cursor: pointer
	.btnCont
		display: block
		width: 100%
		display: flex
		justify-content: space-around
		align-items: center
		flex-wrap: wrap
		background: rgba($main_white, .7)
		padding: 10px
		.btnWrap
			margin: 5px
			text-align: center

/* --- Header END ------------------------------------------------*/	


/* --- About Start ------------------------------------------------*/
.about
	overflow: visible
	padding: 0 0 50px 0
	.aboutCont
		.bgAbout
			box-shadow: 0px 0px 5px 0px rgba(0,0,0,.4)
			padding-bottom: 10px
			padding-top: 10px
			margin-top: -60px
			background: $main_bg_light
			.titleCont
				background: $main_white
				font-weight: bold
				text-transform: uppercase
				text-align: center
				h2
					border-top: 3px solid $main_rgb
					border-bottom: 3px solid $main_rgb
					display: inline-block
					padding: 10px
					margin: 10px 0
			.imgWrap
				img
					max-width: 100%
					height: auto
			.txtCont
				padding: 10px
				height: 100%
				display: flex
				justify-content: center
				align-items: center
	.triggersCont
		margin-top: 30px
		.triggerWrap
			transition: .3s
			background: $main_bg
			height: 100%
			padding: 10px
			display: flex
			flex-direction: column
			.imgWrap
				background: $main_bg
				img
					max-width: 100%
					height: auto
			.txtWrap
				transition: .3s
				margin-top: 10px
				background: $main_white
				height: 100%
				padding: 10px
				text-align: center
				display: flex
				justify-content: center
				align-items: center
				p
					text-transform: uppercase
					padding: 0
					margin: 0
					font-weight: 700
			&:hover
				transition: .3s
				transform: scale(1.02)
				.txtWrap
					transition: .3s
					background: $main_bg
/* --- About END ------------------------------------------------*/	


/* --- product Start ------------------------------------------------*/
.prod
	background: $main_bg
	text-align: center
	.titleHead
		margin-bottom: 30px
	.prodCont
		display: flex
		flex-direction: column
		justify-content: space-between
		height: 100%
		transition: .3s
		background: $main_white
		padding: 20px 10px
		border: 1px solid $main_color
		.titleWrap
			h3
				text-transform: uppercase
		.imgWrap
			margin: 10px 10px 30px 10px
			img
				box-shadow: 0 0 10px rgba(17, 17, 17, 0.5)
				max-width: 100%
				height: auto
		.descWrap
		.btnWrap
		&:hover
			transition: .3s
			box-shadow: 0px 5px 25px 0px rgba(0,0,0,.15)		
/* --- product END ------------------------------------------------*/	

/* --- forAll Start ------------------------------------------------*/
.forAll
	text-align: center
	.container
		position: relative
		.square
			position: absolute
			top: 30px
			left: 50px
			bottom: 30px
			right: 50px
			border: 5px solid $main_bg
			z-index: 1
		.forCont
			position: relative
			padding: 15px
			&:after
				content: ''
				position: absolute
				top: 0px
				left: 0px
				width: 100%
				height: 100%
				border: 5px solid $main_bg
			.imgWrap
				img
					max-width: 100%
					height: auto
			.txtWrap
				position: absolute
				top: 15px
				left: 15px
				right: 15px
				bottom: 15px
				background: rgba($main_color, .5)
				display: flex
				justify-content: center
				align-items: center
				h4
					color: $main_white
					text-transform: uppercase

/* --- forAll END ------------------------------------------------*/	


/* --- dontForm Start ------------------------------------------------*/	
.dontForm
	background: linear-gradient(rgba($main_color, .7) 100%, rgba($main_color, .7) 100%), url('../img/dontBg.jpg')
	background-position: center center
	background-repeat: no-repeat
	background-size: cover
	background-attachment: fixed
	.txtCont
		text-align: center
		background: rgba($main_white, .8)
		padding: 10px
		position: relative
		&:after
			content: ''
			position: absolute
			top: -5%
			left: -5%
			width: 70%
			height: 110%
			border-left: 5px solid $main_rgb
			border-top: 5px solid $main_rgb
			border-bottom: 5px solid $main_rgb
		hr
			background-color: $main_rgb
			border: 1px solid $main_rgb
			width: 60%
		h3
			text-transform: uppercase
		p
			font-weight: 700
			font-style: italic
			font-size: 18px
/* --- dontForm END ------------------------------------------------*/	


/* --- advantage Start ------------------------------------------------*/	
.advantage
	img
		max-width: 100%
		height: auto
	.advCont
		.advWrap
			margin: 10px
			border: 5px solid $main_bg
			text-align: center
			padding: 10px
			position: relative
			overflow: hidden
			&:hover
				.lineOne
					height: 100%
					transition: .5s
				.lineTwo
					height: 100%
					transition: .5s
				.lineThree
					transition: .5s
					transform: scaleX(1)					
			.lineOne
				position: absolute
				width: 100%
				height: 30%
				top: 0
				left: 0
				background: $main_bg
				z-index: -2
				transition: .5s
			.lineTwo
				position: absolute
				width: 100%
				height: 35%
				bottom: 0
				left: 0
				background: $main_bg
				z-index: -2
				transition: .5s
			.lineThree
				position: absolute
				width: 50%
				height: 110%
				left: 25%
				top: -5%
				background: $main_white
				transition: .5s
				z-index: -1
				transform: scaleX(0)
			.imgWrap
				img
					box-shadow: 0 0 10px rgba(17, 17, 17, 0.5)
					margin-bottom: 20px
			.txtWrap
				h4
					text-transform: uppercase
					margin: 0
					padding: 0
	.mainImgWrap
		border: 5px solid $main_bg
		box-shadow: 0 0 10px rgba(17, 17, 17, 0.5)
/* --- advantage END ------------------------------------------------*/	

/* --- steps Start ------------------------------------------------*/
.steps
	background: $main_bg
	text-align: center
	.titleHead
		margin-bottom: 100px
	.stersCont
		background: $main_white
		height: 100%
		position: relative
		margin-bottom: 30px
		border: 3px solid $main_white
		transition: .3s
		display: flex
		flex-direction: column
		&:hover
			transition: .3s
			box-shadow: 0 0 10px $main_color
		.numberWrap
			position: absolute
			top: -35%
			left: 5%
			span
				font-size: 150px
				color: $main_white
				text-shadow: 2px 2px 2px #222
		.imgWrap
			padding: 10px
			img
				max-width: 100%
				height: auto
				border: 3px solid $main_color
		.descWrap
			height: 100%
			padding: 10px
			display: flex
			justify-content: center
			align-items: center
	.formCont
		background: $main_white
		box-shadow: 0 0 10px rgba($main_color, .2)
		padding: 40px 20px
		position: relative
		z-index: 1
		&:after
			content: ''
			position: absolute
			top: 7px
			left: 7px
			width: 40%
			height: 50%
			border-top: 3px solid $main_rgb
			border-left: 3px solid $main_rgb
			z-index: -1
		&:before
			content: ''
			position: absolute
			bottom: 7px
			right: 7px
			width: 40%
			height: 50%
			border-bottom: 3px solid $main_rgb
			border-right: 3px solid $main_rgb
			z-index: -1
		.titleWrap
			padding: 10px
			margin-bottom: 20px
			h3
				margin: 0
				padding: 0
		.openFormX
			z-index: 2
			input
				max-width: 100%
				padding: 10px
				text-transform: uppercase
				text-align: center
				margin-bottom: 20px
				border: 3px solid $main_color
			.mainBtn
				max-width: 100%
				width: 300px
/* --- steps END ------------------------------------------------*/	


/* --- sert END ------------------------------------------------*/
.sert
	text-align: center
	padding: 50px
	background: $main_bg_light
	.sertCont
		outline: none
		padding: 10px
		.sertWrap
			padding: 10px
			outline: none
			a
				outline: none
			img
				max-width: 100%
				height: auto
/* --- sert END ------------------------------------------------*/	

/* --- reviews Start ------------------------------------------------*/	
.reviews
	padding: 50px
	background: $main_bg
	.reviewsSlider
		.reviewsCont
			outline: none
			border: 2px solid rgba($main_rgb, .5)
			margin: 10px
			position: relative
			.lineCont
				position: absolute
				top: 0
				left: 0
				background: rgba($main_rgb, .5)
				width: 100%
				height: 40%
				z-index: -1
			.nameWrap
				padding: 10px
				h3
					margin: 0
					padding: 0
			.imgWrap
				padding: 10px
				img
					box-shadow: 0 0 10px rgba($main_color, .5s)
					max-width: 100%
					height: auto
			.descWrap
				padding: 10px
				p
					text-indent: 20px
					margin: 0
					padding: 0
/* --- reviews END ------------------------------------------------*/	



/* --- contacts start ------------------------------------------------*/
.contacts
	background: rgba($main_color, .2)
	.contactCont
		display: inline-block
		text-align: left
		hr
			border: 1px solid $main_rgb
			background-color: $main_rgb
			width: 40%
			margin-left: 0
			margin-right: auto
		.contactWrap
			padding-left: 20px
			a
				margin-left: 20px
				display: block
				i
					color: $main_rgb
					font-size: 20px
					margin-right: 5px
		.socIcon
			a
				display: inline
				i
					font-size: 40px
				&:nth-child(1)
					i
						color: 	#3b5998
				&:nth-child(2)
					i
						color: #833AB4
	iframe
		width: 100%
/* --- contacts END ------------------------------------------------*/



/* --- Button Start ------------------------------------------------*/
.mainBtn
	transition: .3s
	overflow: hidden
	font-weight: bold
	color: $main_white
	text-transform: uppercase
	margin-left: auto
	margin-right: auto
	border: none
	background-color: $main_rgb
	padding: 10px
	width: 250px
	max-width: 100%
	display: block
	text-align: center
	position: relative
	&:after
		position: absolute
		content: ''
		bottom: 0
		left: -100%
		width: 100%
		height: 2px
		background-color: $main_rgb
		transition: .5s
	&:before
		position: absolute
		content: ''
		top: 0
		right: -100%
		width: 100%
		height: 2px
		background-color: $main_rgb
		transition: .5s
	&:hover
		transition: .3s
		background: $main_white
		color: $main_color
		&:after
			transition: .5s
			left: 0
		&:before
			transition: .5s
			transition-delay: .25s
			right: 0
/* --- Button END ------------------------------------------------*/	


/* --- Form START ------------------------------------------------*/
.openForm
	position: relative
	width: 500px
	max-width: 100%
	background: rgba($main_white, .8)
	padding: 10px
	display: block
	margin-left: auto
	margin-right: auto
	text-align: center
	hr
		background-color: $main_rgb
		border: 1px solid $main_rgb
		width: 60%
	h3
		span
			text-transform: uppercase
			color: $main_rgb
	input
		width: 100%
		padding: 10px
		text-transform: uppercase
		text-align: center
		margin-bottom: 20px
		border: 3px solid $main_color
		&:nth-child(3)
			border-left: 30px solid $main_color
		&:nth-child(4)
			border-right: 30px solid $main_color
	::placeholder
		opacity: .7
		color: $main_color
		font-weight: 700
/* --- Form END ------------------------------------------------*/	


/* --- Other START ------------------------------------------------*/	
.titleHead
	h2
		text-transform: uppercase
		border-top: 3px solid $main_rgb
		border-bottom: 3px solid $main_rgb
		display: inline-block
		padding: 10px 20px
		margin: 10px 0			


.slick-dots
	li
		button
			&:before
				font-size: 15px
				color: $main_rgb !important
.slick-prev
	left: -35px
	width: 40px
	height: 40px
	z-index: 99
	&:before
		position: absolute
		content: ''
		width: 100%
		height: 100%
		top: 0
		left: 0
		border-top: 5px solid $main_rgb
		border-right: 5px solid $main_rgb
		transform: rotate(-135deg)
.slick-next
	right: -35px
	width: 40px
	height: 40px
	&:before
		position: absolute
		content: ''
		width: 100%
		height: 100%
		top: 0
		left: 0
		border-top: 5px solid $main_rgb
		border-right: 5px solid $main_rgb
		transform: rotate(45deg)

.slick-track
	display: flex
	.slick-slide
		height: auto
		display: flex
		flex-direction: column
