.mainBtn
  padding: 10px 20px
  background: $main_rgb
  color: $main_white
  border: none
  border-radius: 5px
  font-size: 17px
  font-weight: bold
  cursor: pointer
  transition: .3s
  &:hover
    background: rgba($main_rgb, .5)
    color: $main_white
