.contacts
  background: rgba($main_rgb2, .7)
  &__cont
    display: flex
    align-items: center
    justify-content: space-between
    &-tel
      margin-bottom: 20px
      &-logo
        img
          max-width: 100%
          height: auto
      &-text
        h4
          color: $main_white
        a
          display: block
          color: $main_white
          transition: .3s
          &:hover
            color: $main_rgb
    &-list
      h4
        color: $main_white
      ul
        li
          a
            color: $main_white
            transition: .3s
            &:hover
              color: $main_rgb
    &-form
      .openForm
        width: 100%
        background: none
        border: 2px solid $main_white
        textarea
          padding: 10px
          width: 100%
        h2, h3, h4
          color: $main_white
        h2
          font-size: 26px
        h3
          font-size: 20px
        h4
          font-size: 18px
  @media(max-width: 992px)
    &__cont
      flex-direction: column
      justify-content: center
      align-items: center
        