.products
  background: url('../img/prodBg.jpg')
  background-position: center center
  background-repeat: no-repeat
  background-size: cover
  &__cont
    &-title
      h2
        font-weight: bold
        text-align: center
        font-size: 40px
        color: $main_white
        margin-bottom: 20px
        span
          color: $main_rgb
    &-wrap
      display: flex
      flex-wrap: wrap
      justify-content: space-between
      &-item
        position: relative
        border-radius: 5px
        width: 48%
        background: $main_white
        display: flex
        align-items: center
        z-index: 1
        margin-bottom: 30px
        &-icon
          position: absolute
          right: -15px
          top: -15px
        &:after
          z-index: -1
          position: absolute
          content: ''
          width: 94%
          height: 10px
          left: 3%
          bottom: -10px
          background: $main_bg
          border-radius: 0 0 5px 5px
        &-img
          width: 50%
          img
            display: block
            margin-left: auto
            margin-right: auto
            max-width: 100%
            height: auto
        &-desc
          width: 50%
          padding: 10px
          h3
            font-weight: bold
            font-size: 25px
          &-btn
            .mainBtn
              margin-right: 20px
              box-shadow: 5px 6px 18px rgba(0, 0, 0, 0.3)
            span
              color: $main_rgb2
              font-weight: bold
  @media(max-width: 1200px)
    &__cont
      &-wrap
        &-item
          &-img
            width: 40%
          &-desc
            width: 60%
  @media(max-width: 992px)
    &__cont
      &-title
        h2
          font-size: 30px
      &-wrap
        justify-content: center
        &-item
          width: 90%
          flex-direction: column
          &-desc
            padding: 10px 10px 20px 10px
            width: 100%
            h3
              text-align: center
              font-size: 20px
            p
              font-size: 16px
            &-btn
              text-align: center